
{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}


{% block title %}
    {{ title|raw }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

    <br>
    <div class="well form-search">
        {{ form_start(filterform) }}
            <div class="row">
                <div class="col-xs-12">

                    <div class="col-xs-11">
                        {{ form_widget(filterform.search) }}
                    </div>

                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-sm btn-default">Filter</button>
                    </div>

                </div>
            </div>
            {{ form_rest(filterform) }}
        {{ form_end(filterform) }}
    </div>
    <br>

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                {#<th>{{ knp_pagination_sortable(fees, 'ID', 'list.id') }}</th>#}

                <th>{{ knp_pagination_sortable(fees, 'Histology', 'list.productId') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Section', 'list.name') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Product ID', 'list.section') }}</th>

                <th>{{ knp_pagination_sortable(fees, 'Fee for one', 'list.fee') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Fee per additional item', 'list.feeAdditionalItem') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Internal Fee for one', 'list.internalFee') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Internal fee per additional item', 'list.internalFeeAdditionalItem') }}</th>

                <th>{{ knp_pagination_sortable(fees, 'Unit', 'list.feeUnit') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Specialty', 'projectSpecialties.name') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Type', 'list.type') }}</th>

                {% if adminUser %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

        {#{% set count = 0 %}#}
        {% for fee in fees %}

            <tr>
                {#<td>#}
                    {#{{ fee.id }}#}
                {#</td>#}

                <td>
                    {{ fee.name }}
                </td>

                <td>
                    {{ fee.section }}
                </td>

                <td>
                    {{ fee.productId }}
                </td>

                <td>
                    {% if fee.fee %}
                        ${{ fee.fee }}
                    {% endif %}
                </td>

                <td>
                    {% if fee.feeAdditionalItem %}
                        ${{ fee.feeAdditionalItem }}
                    {% endif %}
                </td>

                <td>
                    {% if fee.internalFee %}
                        ${{ fee.internalFee }}
                    {% endif %}
                </td>

                <td>
                    {% if fee.internalFeeAdditionalItem %}
                        ${{ fee.internalFeeAdditionalItem }}
                    {% endif %}
                </td>

                <td>
                    {{ fee.getFeeUnitStr() }}
                </td>

                <td>
                    {% for specialty in fee.projectSpecialties %}
                        {{ specialty.getUppercaseShortName() }}<br>
                    {% endfor %}
                </td>

                <td>
                    {{ fee.type }}
                </td>

                {% if adminUser %}
                    <td class="rowlink-skip">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li>
                                    <a href="{{ path('transresrequestcategorytypes_edit_translationalresearch', { 'id': fee.id }) }}"
                                    >Edit</a>
                                </li>

                                {% if fee.getType()|lower != 'disabled' %}
                                    <li>
                                        <a
                                                general-data-confirm="Are you sure you would like to disable this entry?"
                                                href="{{ path('platform_list_manager_element_change_type', { 'pathbase':pathbase, 'entityId':fee.id, 'type':'disabled' }) }}">Disable
                                        </a>
                                    </li>
                                {% endif %}
                                {% if fee.getType()|lower != 'default' and fee.getType()|lower != 'user-added' %}
                                    <li>
                                        <a
                                                general-data-confirm="Are you sure you would like to enable and set this entry's type to 'Default'?"
                                                href="{{ path('platform_list_manager_element_change_type', { 'pathbase':pathbase, 'entityId':fee.id, 'type':'default' }) }}">Enable
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>

                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(fees) }}
    </div>

{% endblock %}

