{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}
{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% set sitename = translationalresearch_sitename %}

    {{ transresRequestMacros.getActionRequestReviewCommentsSection(transresRequest,cycle,sitename,statMachineType) }}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    <br>

    {{ form_start(form) }}

        <div id="form-prototype-data"
             data-userurllink = "{{ usermacros.userUrlLink()|e }}"
             data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
             data-userid = "{{ app.user.id }}"

             data-prototype-transres-products = "{{ transresRequestMacros.productForm(form.products,cycle,'transres-products','prototype',sitename,1)|e }}"
        ></div>

    {% if form.project is defined %}
        {{ formmacros.field(form.project) }}
    {% endif %}

    {#{% if form.fundedAccountNumber is defined %}#}
        {#{% if project.getFundedAccountNumber() %}#}
            {#<p>Current project's funded account number: {{ project.getFundedAccountNumber() }}</p>#}
        {#{% endif %}#}
        {#{{ formmacros.field(form.fundedAccountNumber) }}#}
    {#{% endif %}#}

    {{ transresRequestMacros.transresRequestInfo(form,transresRequest,cycle) }}

    {#{{ transresRequestMacros.transresRequestFormShow(form,transresRequest,cycle) }}#}
    {{ transresRequestMacros.transresRequestBody(form,transresRequest,cycle,sitename) }}

    {{ transresRequestMacros.transresRequestPackingSlip(form,transresRequest,cycle) }}

    {{ transresRequestMacros.transresRequestHandsontable(form,transresRequest,cycle) }}

    {{ transresRequestMacros.transresRequestDetails(form,transresRequest,cycle,sitename) }}

    {{ transresRequestMacros.transresRequestComment(form,transresRequest,cycle) }}

    {{ form_end(form) }}

    <div>

        <br>
        <br>
        <p>
            <a href="{{ path(translationalresearch_sitename~'_request_index',{'id':project.id}) }}">Back to the work request list</a>
        </p>

    </div>

{% endblock %}




{% block additionalcss %}

    {#{% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />#}
    {#{% endstylesheets %}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/foscomment/css/comments.css') }}" />#}

    {#{% stylesheets#}
    {#'orderassets/apptranslationalresearch/form/css/comments.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    {#{% stylesheets#}
    {#'orderassets/apporderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'#}
    {#'orderassets/apporderform/form/css/handsontable.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/FOSCommentBundle/css/comments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/handsontable/jquery.handsontable.full.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/form/css/handsontable.css') }}" />

{% endblock %}


{% block additionaljs %}

    {#{% javascripts#}
        {#'@AppOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#{% javascripts#}
    {#'@AppTranslationalResearchBundle/Resources/public/form/js/handsontable.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/bwip-js/freetype.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/selectAjax.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
    {#'@AppTranslationalResearchBundle/Resources/public/form/js/barcode.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/qrcode/qrcode.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/jquery-qrcode/jquery.qrcode.min.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppOrderformBundle/handsontable/jquery.handsontable.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/handsontable.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bwip-js/freetype.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/barcode.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/qrcode/qrcode.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-qrcode/jquery.qrcode.min.js') }}"></script>

    <script src="{{ asset('orderassets/FOSCommentBundle/js/comments.js') }}"></script>

<script type="text/javascript">

    var _handsometableDataArr = [];

    $(document).ready(function() {

        var tableFormCycle = '{{ cycle }}';
        if( tableFormCycle != "new" ) {

            getComboboxAccessionType(null,true);

            var _handsometableDataArr = {{ handsometableData|json_encode|raw }};
            //console.log('init _handsometableDataArr:');
            //console.log(_handsometableDataArr);

            //handsonTableInit(_handsometableDataArr, tableFormCycle);


            // Wait until idle (busy must be false)
            var _TIMEOUT = 300; // waitfor test rate [msec]

            //console.log('before wait for');
            waitfor( ajaxFinishedCondition, true, _TIMEOUT, 0, 'play->busy false', function() {
                //console.log('The show can resume !');
                transresMakeColumnData();

                handsonTableInit(_handsometableDataArr, tableFormCycle);
            });
        }

        //transres-review-submit
        $('.transres-review-submit').click(function(event) {
            //console.log("btn click:");
            //console.log($(this));
            var reviewHolder = $(this).closest('.transres-review-holder');

            var comment = reviewHolder.find('.fos_comment_comment_new_form').find('textarea').val();
            console.log("comment="+comment);

            if( comment ) {
                reviewHolder.find('.fos_comment_comment_new_form').find('input[type="submit"]').click();
            }

            console.log("done review");

            //return false;
        });

    });

</script>

{% endblock %}


