{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}

    <h3 class="text-info">Logger</h3>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in entity.roles %}
                        {% if role != "ROLE_USER" %}
                            "{{ role }}"
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>Useragent</th>
                <td>{{ entity.useragent }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ entity.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ entity.height }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ entity.event }}</td>
            </tr>
        </tbody>
    </table>

    {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('logger') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('logger_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
    {#</ul>#}

{% endblock %}
