{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}

{% if type is not defined %}
    {% set type = "new"  %}
{% endif %}

{% if type == 'new' or type == 'amend' or type == 'edit' %}

    <p>
    <div  class="tabbable">
        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#research">Research</a></li>
        <li class=""><a data-toggle="tab" href="#educational">Education</a></li>
        </ul>
        <div class="tab-content">
            <div id="research" class="tab-pane active">
                <p>
                    {#{{ formmacros.field(form.research.projectTitleStr) }}#}
                    {#{{ formmacros.field(form.research.setTitleStr) }}#}
                    {{ treemacros.compositeTreeNode(form.research.projectTitle,'','') }}
                    {{ formmacros.field(form.research.userWrappers) }}
                </p>
            </div>
            <div id="educational" class="tab-pane">
                <p>
                    {#{{ formmacros.field(form.educational.courseTitleStr) }}#}
                    {#{{ formmacros.field(form.educational.lessonTitleStr) }}#}
                    {{ treemacros.compositeTreeNode(form.educational.courseTitle,'','') }}
                    {{ formmacros.field(form.educational.userWrappers) }}
                </p>
            </div>
        </div>
    </div>
    </p>

{% else %}

    <p>

    <div  class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="panel-title">Research and Education</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            <p>
            <h4 class="text-info">Research</h4>
            {#{{ formmacros.field(form.research.projectTitleStr) }}#}
            {#{{ formmacros.field(form.research.setTitleStr) }}#}
            {{ treemacros.compositeTreeNode(form.research.projectTitle,'','') }}
            {{ formmacros.field(form.research.userWrappers) }}
            </p>

            <p>
            <h4 class="text-info">Education</h4>
            {#{{ formmacros.field(form.educational.courseTitleStr) }}#}
            {#{{ formmacros.field(form.educational.lessonTitleStr) }}#}
            {{ treemacros.compositeTreeNode(form.educational.courseTitle,'','') }}
            {{ formmacros.field(form.educational.userWrappers) }}
            </p>
        </div>
    </div>

    </p>

{% endif %}
