{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ formtype }}
{% endblock %}

{#{% set cancheck = is_granted('ROLE_SCANORDER_ALL_PATHOLOGY') %}#}
    
{% block content %}
    
    <h3 class="text-info">{{ formtype }}</h3>

    {% if cycle != 'show' %}
        {% set mrnHtml = formmacros.inputField(form.patient.vars.prototype.mrn,cycle,"key","prototype") %}
        {% set dobHtml = formmacros.inputField(form.patient.vars.prototype.dob,cycle,"date","prototype") %}
        {% set clinicalhistoryHtml = formmacros.inputField(form.patient.vars.prototype.clinicalHistory,cycle,"","prototype") %}

        {% set partnameHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.partname,cycle,"key","prototype") %}
        {% set sourceorganHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.sourceOrgan,cycle,"","prototype") %}
        {% set parttitleHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.parttitle,cycle,"","prototype") %}
        {% set paperHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.paper,cycle,"paper","prototype") %}
        {% set descriptionHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.description,cycle,"","prototype") %}
        {% set diagnosisHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.disident,cycle,"","prototype") %}

        {% set diseaseTypeHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.diseaseType,cycle,"diseaseType","prototype") %}

        {% set blocknameHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.blockname,cycle,"key","prototype") %}
        {% set sectionsourceHtml = formmacros.inputField(form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.sectionsource,cycle,"","prototype") %}

        {% set relevantScansField = form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.relevantScans %}
        {% set relevantScansWidget = formmacros.fieldWidgetNoOther(relevantScansField) %}
        {% set relevantScansHtml = formmacros.inputField(relevantScansField,cycle,"sliderelevantScans","prototype",relevantScansWidget,"") %}

        {% set specialStainsField = form.patient.vars.prototype.encounter.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.specialStains %}
        {% set specialStainsWidget = formmacros.fieldSpecialStainsWidget(specialStainsField) %}
        {% set specialStainsHtml = formmacros.inputField(specialStainsField,cycle,"blockspecialStains","prototype",specialStainsWidget,"buttonbottom","") %}

        {#{% set imgLoading = "http://collage.med.cornell.edu/order/bundles/apporderform/form/img/select2-spinner.gif" %}#}
        {% set imgLoading = asset('orderassets/AppOrderformBundle/form/img/select2-spinner.gif') %}
    {% endif %}


    {#{% set diffDiagnosesHtml = formmacros.inputField(diffDiagnosesField,'new',"partdiffDisident","prototype",diffDiagnosesWidget,"") %}#}

    <input type="hidden" id="orderformtype" value="single" />
    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <br />

    {#<p><button onclick="checkIfOrderWasModified()" type="button">Test Form Modified</button></p>#}

    {#################################### START FORM ######################################}
    <form id="scanorderform" action="{{ path('singleorder_create') }}" method="post">
    {#{{ form_start(form) }}#}

    {% for form_patient in form.patient %}
        {% for form_encounter in form_patient.encounter %}
            {% for form_procedure in form_encounter.procedure %}
                {% for form_accession in form_procedure.accession %}
                    {% for form_part in form_accession.part %}
                        {% for form_block in form_part.block %}
                            {% for form_slide in form_block.slide %}

                                {% set diffDiagnosesField = form_part.diffDisident %}
                                {% set diffDiagnosesWidget = formmacros.fieldWidget(diffDiagnosesField) %}

                                {% set disidentField = form_part.disident %}
                                {% set disidentWidget = formmacros.fieldWidget(disidentField) %}

            {{ form_errors(form) }}
            {{ form_errors(form_patient) }}
            {{ form_errors(form_encounter) }}
            {{ form_errors(form_procedure) }}
            {{ form_errors(form_accession) }}
            {{ form_errors(form_part) }}
            {{ form_errors(form_block) }}
            {{ form_errors(form_slide) }}
            {#{{ form_errors(form_scan) }}#}
            {#{{ form_errors(form_stain) }}#}


            <div id="form-prototype-data"

                 data-prototype-dataquality = "{{ formmacros.dataQualityWidgetNotMapped(form.conflicts.vars.prototype)|e }}"

                 data-prototype-patientmrn=               "{{ mrnHtml|e }}"
                 {#data-prototype-patientsex=               "{{ sexHtml|e }}"#}
                 data-prototype-patientdob=               "{{ dobHtml|e }}"
                 {#data-prototype-patientage=               "{{ ageHtml|e }}"#}
                 data-prototype-patientclinicalhistory=   "{{ clinicalhistoryHtml|e }}"

                 {#data-prototype-addpartdisident="{{ formmacros.inputField(disidentField,'new',"partdisident","prototype",disidentWidget,"nobtn","")|e }}"#}
                 data-prototype-partdisident="{{ formmacros.inputField(disidentField,'new',"partdisident","prototype",disidentWidget,"nobtn","")|e }}"

                 data-prototype-addpartdiffDisident="{{ formmacros.inputField(diffDiagnosesField,'new',"partdiffDisident","prototype",diffDiagnosesWidget,"","","","withspace","minusplusbtn")|e }}"
                 data-prototype-partdiffDisident="{{ formmacros.inputField(diffDiagnosesField,'new',"partdiffDisident","prototype",diffDiagnosesWidget,"","","","","plusbtn")|e }}"
                 data-prototype-partpaper= "{{ paperHtml|e }}"

                 {#data-prototype-relevantscans="{{ form_widget(form_slide.relevantScans.vars.prototype.field)|e }}"#}
                 {#data-prototype-specialstains="{{ form_widget(form_slide.specialStains.vars.prototype.field)|e }}"#}
                    {#requires for adding field by pressing +; to remove label replace the last "" by "nolabel"#}
                 data-prototype-addsliderelevantScans="{{ formmacros.inputField(relevantScansField,cycle,"sliderelevantScans","prototype",relevantScansWidget,"","","","withspace","minusplusbtn")|e }}"
                    {#requires for check form to populate fields by AJAX (no '+' buttons)#}
                 data-prototype-sliderelevantScans="{{ formmacros.inputField(relevantScansField,cycle,"sliderelevantScans","prototype",relevantScansWidget,"nobtn","")|e }}"

                {#requires for adding field by pressing +; to remove label replace the last "" by "nolabel"#}
                 data-prototype-addblockspecialStains="{{ formmacros.inputField(specialStainsField,cycle,"blockspecialStains","prototype",specialStainsWidget,"","","","withspace","minusplusbtn")|e }}"
                {#requires for check form to populate fields by AJAX (no '+' buttons)#}
                 data-prototype-blockspecialStains="{{ formmacros.inputField(specialStainsField,cycle,"blockspecialStains","prototype",specialStainsWidget,"","","","","plusbtn")|e }}"

                 data-uploadurl = "{{ oneup_uploader_endpoint('scan_gallery') }}"
                 data-userid = "{{ app.user.getId() }}"
            >
            </div>

        <div class="singlemessage" id="singlemessage_0_0_0_0_0_0_0_0">

            {#<div class="panel panel-primary single-scan-order-slide-info">#}
            <div id="single-scan-order-slide-info" class="panel panel-primary">

                <div class="panel-heading">
                    {#<div class="row">#}
                        {#<div class="col-xs-12">#}
                            <h4 class="panel-title">Slide Info</h4>
                        {#</div>#}
                    {#</div>#}
                </div>
                <div id="main" class="panel-body collapse in">

                    {{ formmacros.field(form_accession.accession|first.keytype) }}

                    <div class="row">
                        <div class="col-xs-6" align="right">
                            {{ form_label(form_accession.accession, "* Accession Number [or Label], Part, Block:") }}
                        </div>
                        <div class="col-xs-6" align="left">
                            <div style="float:left; width:100%">
                                <div style="float:left; width:50%" id="accession-single">
                                    {{ form_widget(form_accession.accession|first.field) }}
                                    <button style="display: none;" id="check_btn" class="btn btn-default checkbtn accessionbtn" type="button" onclick="checkForm(this,true)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-check"></i></button>
                                </div>
                                <div style="float:left; width:25%" id="part-single">
                                    {{ form_widget(form_part.partname|first) }}
                                    <button style="display: none;" id="check_btn" class="btn btn-default checkbtn partbtn" type="button" onclick="checkForm(this,true)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-check"></i></button>
                                </div>
                                <div style="float:left; width:25%" id="block-single">
                                    {{ form_widget(form_block.blockname|first) }}
                                    <button style="display: none;" id="check_btn" class="btn btn-default checkbtn blockbtn" type="button" onclick="checkForm(this,true)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-check"></i></button>
                                </div>
                                <div style="float:left; width:10%; display:none;" id="maincinglebtn">
                                    <button id="remove_single_btn" class="btn btn-default removebtn maincinglebtn" type="button" onclick="removeFormSingle(this)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ formmacros.field(form_slide.stain|first.field) }}
                    {{ formmacros.field(form_slide.stain|first.others) }}

                    {{ formmacros.field(form_slide.scan|first.magnification) }}
                    {#{{ formmacros.field(form_slide.scan|first.others) }}#}

                    {#{{ formmacros.field(form_part.disident) }}#}
                    {{ formmacros.inputArrayField(form_part.disident,'new',"partdisident") }}

                    {{ formmacros.field(form_slide.scan|first.note) }}

                </div>
            </div>

            <button id="next_button" type="button" class="btn btn-success" data-toggle="collapse" onclick="checkSingleFormOnNext(this)">Next</button>

            <div id="message_param" class="collapse">

                {% include 'AppOrderformBundle/MultiScanOrder/edu_res.html.twig' %}

                {{ formmacros.message_panel(form,"Order Info") }}

                <div id="validationerror" style="padding-top: 2%"></div>


                {#        The optional parameter    #}
                <div class="row" style="padding-bottom: 2%">
                    {% set imgLoading = asset('orderassets/AppOrderformBundle/form/img/select2-spinner.gif') %}
                    <p>

                        <button id="optional_button" onclick="checkFormSingle(this)" class="btn btn-default ladda-button singleform-optional-button"
                                data-style="expand-right"
                                data-size="l"
                                data-spinner-color="#696969"
                                data-toggle="collapse">
                            <span class="ladda-label">Add Optional Info</span>
                        </button>

                    </p>
                </div>


                <div id="optional_param" class="collapse">
                    <div  class="panel panel-primary">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    {#<h4>Optional Info</h4>#}
                                    <h4 class="panel-title">Optional Info</h4>
                                </div>
                            </div>
                        </div>

                        <div id="optional_param_tab_body" class="panel-body collapse in">

                            <div class="row">

                                <div class="option_info_panel">

                                    <!-- optional elements -->

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Patient</h3></div>
                                        <div class="panel-body">
                                            {{ formmacros.patientForm(form_patient,"check","0","new",form.vars.value.status) }}
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Procedure</h3></div>
                                        <div class="panel-body">
                                            {{ formmacros.inputArrayField(form_procedure.name,'new',"procedurename") }}

                                            {#patient's data: single simple fields#}
                                            {{ formmacros.inputArrayField(form_encounter.date,'new',"encounterdate","date") }}

                                            {{ formmacros.inputArrayField(form_encounter.patsuffix,'new',"encounterpatsuffix") }}

                                            {{ formmacros.inputArrayField(form_encounter.patlastname,'new',"encounterpatlastname") }}

                                            {{ formmacros.inputArrayField(form_encounter.patfirstname,'new',"encounterpatfirstname") }}

                                            {{ formmacros.inputArrayField(form_encounter.patmiddlename,'new',"encounterpatmiddlename") }}

                                            {{ formmacros.inputArrayField(form_encounter.patsex,'new',"encounterpatsex") }}

                                            {{ formmacros.inputArrayField(form_encounter.patage,'new',"encounterpatage") }}

                                            {{ formmacros.inputArrayField(form_encounter.pathistory,'new',"encounterpathistory") }}

                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Accession</h3></div>
                                        <div class="panel-body">
                                            {{ formmacros.inputArrayField(form_accession.accessionDate,'new',"accessionaccessiondate","date") }}
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Part</h3></div>
                                        <div class="panel-body form-element-holder">
                                            {{ formmacros.inputArrayField(form_part.sourceOrgan,'new',"partsourceorgan") }}

                                            {{ formmacros.inputArrayField(form_part.parttitle,'new',"partparttitle") }}

                                            {{ formmacros.inputArrayField(form_part.paper,'new',"partpaper","paper") }}

                                            {{ formmacros.inputArrayField(form_part.description,'new',"partdescription") }}

                                            <div id="partdisident_marker"></div>

                                            {{ formmacros.inputArrayField(form_part.diffDisident,'new',"partdiffdisident","partdiffDisident") }}

                                            {{ formmacros.inputArrayField(form_part.diseaseType,'new',"partdiseasetype","diseaseType") }}
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Block</h3></div>
                                        <div class="panel-body">
                                            {{ formmacros.inputArrayField(form_block.sectionsource,'new',"blocksectionsource","blocksectionsource") }}
                                            {{ formmacros.inputArrayField(form_block.specialStains,'new',"blockspecialstains","blockspecialStains","buttonbottom","") }}
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Slide</h3></div>
                                        <div class="panel-body">
                                            {{ formmacros.field(form_slide.title) }}
                                            {{ formmacros.field(form_slide.slidetype) }}
                                            {{ formmacros.field(form_slide.microscopicdescr) }}
                                            {{ formmacros.inputArrayField(form_slide.relevantScans,'new',"sliderelevantscans","sliderelevantScans") }}
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 class="panel-title">Scan</h3></div>
                                        <div class="panel-body">
                                            {{ formmacros.field(form_slide.scan|first.scanregion) }}
                                        </div>
                                    </div>

                                    <!-- end of optional elements -->

                                </div>

                            </div> <!-- row -->

                    </div> <!-- class="panel panel-primary" -->
                </div> <!-- optional_param -->

                {# Just in case display rest of the form to prevent CRF error #}
                {#{{ form_rest(form) }}#}
                {#{{ form_rest(form_patient) }}#}
                {#{{ form_rest(form_procedure) }}#}
                {#{{ form_rest(form_accession) }}#}
                {#{{ form_rest(form_part) }}#}
                {#{{ form_rest(form_block) }}#}
                {#{{ form_rest(form_slide) }}#}
                {#{{ form_rest(form_scan) }}#}
                {#{{ form_rest(form_stain) }}#}

            </div>  <!-- class="panel panel-primary" -->


                <div class="row">
                    <p>
                        <button class="btn btn-primary btn-success" name="btnSubmit" type="submit">Submit</button>
                    </p>
                    <p><button id="save_order_onidletimeout_btn" class="btn btn-default" name="btnSaveOnIdleTimeout" type="submit" style="display: none;">Save and Continue Later</button></p>
                </div>


            </div> <!-- singlemessage -->

        </div>
    {#        <a class='btn_margin_top btn btn-primary' href="{{ path('message') }}">Back to the list</a>#}

                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {{ form_row(form._token) }}

    {#{{ form_end(form) }}#}
    </form>

    {#<button id="loading-modal-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loading-modal">#}
        {#Launch demo modal#}
    {#</button>#}


{% endblock %}
