{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#set unique id for this form collection of the same entity/object#}
{#{% set uid = name~"_"~id %}#}

{#<button id="form_btn}" type="button" class="btn btn_margin" data-toggle="collapse" data-target="#form_panel_collapse">#}
    {#{{ name }} (s)  +/-#}
{#</button>#}


{#<div id="form_panel_collapse" class="collapse in">#}

    {#  form/object holder: id="formpanel_patient_2" #}
    <div id="formpanel" class="panel">

        <div id="formpanel_collection" class="panel panel-primary">

            <div class="panel-heading">

                {{ name }} {{ id }}

                <button id="form_body_btn_{{ uid }}" type="button" class="btn btn_margin" data-toggle="collapse" data-target="#form_body_{{ uid }}">
                    +/-
                </button>

            </div>

            <div id="form_body_{{ uid }}" class="panel-body collapse in">
                Panel content goes here..
            </div>

            {#append here the same form#}
            {{ include('AppOrderformBundle/MultiScanOrder/panel.html.twig', {'name': name,'id': id, 'pid': pid }) }}

        </div>


    </div>

{#</div>#}


{#<button id="form_add_btn" type="button" class="btn btn_margin" onclick="addSameForm()">#}
    {#Add {{ name }}#}
{#</button>#}


{#<div class="panel panel-primary">#}
    {#<div class="panel-heading">Bootstrap 3 - Panel Primary</div>#}
    {#<div class="panel-body">Panel content goes here..</div>#}
{#</div>#}

{#<div class="panel panel-primary">#}
    {#<div class="panel-heading">Bootstrap 3 - Panel Primary</div>#}
    {#<div class="panel-body">Panel content goes here..</div>#}
{#</div>#}





