
{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}


{% block title %}
    {{ title|raw }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

    <br>
    <div class="well form-search">
        {{ form_start(filterform) }}
            <div class="row">
                <div class="col-xs-12">

                    <div class="col-xs-11">
                        {{ form_widget(filterform.search) }}
                    </div>

                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-sm btn-default">Filter</button>
                    </div>

                </div>
            </div>
            {{ form_rest(filterform) }}
        {{ form_end(filterform) }}
    </div>
    <br>

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                {#<th>{{ knp_pagination_sortable(fees, 'ID', 'list.id') }}</th>#}

                <th>{{ knp_pagination_sortable(fees, 'Histology', 'list.productId') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Section', 'list.name') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Catalog', 'list.section') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Fee', 'list.fee') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Unit', 'list.feeUnit') }}</th>

                {% if adminUser %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

        {#{% set count = 0 %}#}
        {% for fee in fees %}

            <tr>
                {#<td>#}
                    {#{{ fee.id }}#}
                {#</td>#}

                <td>
                    {{ fee.name }}
                </td>

                <td>
                    {{ fee.section }}
                </td>

                <td>
                    {{ fee.productId }}
                </td>

                <td>
                    {% if fee.fee %}
                        ${{ fee.fee }}
                    {% endif %}
                </td>

                <td>
                    {{ fee.getFeeUnitStr() }}
                </td>

                {% if adminUser %}
                    <td class="rowlink-skip">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li>
                                    <a href="{{ path('transresrequestcategorytypes_edit_translationalresearch', { 'id': fee.id }) }}"
                                    >Edit</a>
                                </li>

                            </ul>

                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(fees) }}
    </div>

{% endblock %}

