
{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}


{% block title %}
    {{ title|raw }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>


    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(fees, 'ID', 'list.id') }}</th>

                <th>{{ knp_pagination_sortable(fees, 'Histology', 'list.productId') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Name', 'list.name') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Section', 'list.section') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Fee', 'list.fee') }}</th>
                <th>{{ knp_pagination_sortable(fees, 'Unit', 'list.feeUnit') }}</th>

                {% if adminUser %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

        {#{% set count = 0 %}#}
        {% for fee in fees %}

            <tr>
                <td>
                    {{ fee.id }}
                </td>

                <td>
                    {{ fee.name }}
                </td>

                <td>
                    {{ fee.section }}
                </td>

                <td>
                    {{ fee.productId }}
                </td>

                <td>
                    {% if fee.fee %}
                        ${{ fee.fee }}
                    {% endif %}
                </td>

                <td>
                    {{ fee.getFeeUnitStr() }}
                </td>

                {% if adminUser %}
                    <td class="rowlink-skip">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li>
                                    <a href="{{ path('transresrequestcategorytypes_edit_translationalresearch', { 'id': fee.id }) }}"
                                    >Edit</a>
                                </li>

                            </ul>

                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(fees) }}
    </div>

{% endblock %}

