
{#{% stopwatch "### header ###" %}#}
{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}
{#{% endstopwatch %}#}

{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}

{% block title %}
    {% if project %}
        Requests for Project ID {{ project.oid }}
    {% else %}
        {{ title|raw }}
    {% endif %}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

{% if filterError is not defined or (filterError is defined and not filterError) %}

    {% if requestTotalFeeHtml is defined and requestTotalFeeHtml %}
        <p>
            {{ requestTotalFeeHtml|raw }}
        </p>
    {% endif %}

    {#{% stopwatch "### New Work Request ###" %}#}
    {% if project %}
        {% set isRequestCanBeCreated = transres_request_util.isRequestCanBeCreated(project) %}
        {% if isRequestCanBeCreated == 1 %}
            {#<br>#}
            <p>
                <a class="btn btn-default" href="{{ path(translationalresearch_sitename~'_request_new', {'id':project.id}) }}"
                >New Work Request</a>
            </p>
            {#<br>#}
        {% endif %}
    {% endif %}
    {#{% endstopwatch %}#}

    {#{% stopwatch "### transresRequestsFilter ###" %}#}
    {% if filterDisable is not defined %}
        {{ transresRequestMacros.transresRequestsFilter(filterform,advancedFilter) }}
    {% endif %}
    {#{% endstopwatch %}#}

    <br>

    {#{% stopwatch "### table ###" %}#}
    {#<table class="table table-hover table-condensed text-left table-bordered">#}
    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>{{ knp_pagination_sortable(transresRequests, 'ID', 'transresRequest.id') }}</th>
                {% if not project %}
                    <th>{{ knp_pagination_sortable(transresRequests, 'Project ID', 'project.id') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(transresRequests, 'Submitter', 'submitterInfos.displayName') }}</th>
                <th>{{ knp_pagination_sortable(transresRequests, 'Submitted', 'transresRequest.createDate') }}</th>
                <th>{{ knp_pagination_sortable(transresRequests, 'Fund Number', 'transresRequest.fundedAccountNumber') }}</th>
                <th>{{ knp_pagination_sortable(transresRequests, 'Completion Status', 'transresRequest.progressState') }}</th>
                <th>{{ knp_pagination_sortable(transresRequests, 'Billing Status', 'transresRequest.billingState') }}</th>

                <th>Products/Services</th>
                <th title="Total Calculated Request's Fee">Total Fees</th>
                <th title="Number of All Invoices">Invoices</th>
                <th title="Status of the Latest Invoice">Invoice Status</th>
                <th title="Total Amount of the Latest Issued Invoices">Invoice Total</th>
                <th title="Paid Amount of the Latest Issued Invoices">Invoice Paid</th>
                <th title="Due Amount of the Latest Issued Invoices">Invoice Due</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {#{% set count = 0 %}#}
        {% for transresRequest in transresRequests %}

            {#{% stopwatch "### getLatestInvoice ###" %}#}
            {% set latestInvoice = transres_request_util.getLatestInvoice(transresRequest) %}
            {% if latestInvoice and latestInvoice.oid %}
                {{ transresRequestMacros.unpaidModal(latestInvoice) }}
            {% endif %}
            {#{% endstopwatch %}#}

            {#{% if count is odd %}#}
                {#{% set trclassname = "table-row-separator-gray" %}#}
            {#{% else %}#}
                {#{% set trclassname = "table-row-separator-white" %}#}
            {#{% endif %}#}
            {#{% set count = count + 1 %}#}

            {% set trclassname = null %}
            {% if transresRequest.progressState == 'draft' %}
                {#table-row-separator-gray#}
                {% set trclassname = "order-complete-status" %}
            {% endif %}

            {% if transresRequest.project.getFunded() == false %}
                {% set trclassname = "order-onhold-status" %}
            {% endif %}

            <tr class="{{ trclassname }}" style="border-bottom: 1px solid #C6C6C6;">
                {% if hiderows is not defined or not hiderows %}
                <td>
                    <a href="{{ path(translationalresearch_sitename~'_request_show', { 'id': transresRequest.id }) }}" target="_blank">{{ transresRequest.oid }}</a>
                </td>

                {#{% stopwatch "### transresRequest.project.getOid() ###" %}#}
                {% if not project %}
                    <td class="rowlink-skip">
                        <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': transresRequest.project.id }) }}"
                           target="_blank">{{ transresRequest.project.getOid() }}</a>
                    </td>
                {% endif %}
                {#{% endstopwatch %}#}

                {#{% stopwatch "### submitter.getUsernameOptimal() ###" %}#}
                <td class="rowlink-skip">
                    {#{{ principalInvestigator }}<br>#}
                    {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':transresRequest.submitter.id}) %}
                    {% set personlink = '<a href="'~personurl~'" target="_blank">'~transresRequest.submitter.getUsernameOptimal()~'</a>'  %}
                    {{ personlink|raw }}<br>
                </td>
                {#{% endstopwatch %}#}

                <td>
                    {% if transresRequest.createDate %}
                        {{ transresRequest.createDate|date('m/d/Y') }}
                    {% endif %}
                </td>

                <td>
                    {{ transresRequest.fundedAccountNumber }}
                </td>

                {#{% stopwatch "### getProgressStateLabelByName ###" %}#}
                <td>
                    {{ transres_request_util.getProgressStateLabelByName(transresRequest.progressState) }}
                </td>
                {#{% endstopwatch %}#}

                {#{% stopwatch "### getBillingStateLabelByName ###" %}#}
                <td>
                    {{ transres_request_util.getBillingStateLabelByName(transresRequest.billingState) }}
                </td>
                {#{% endstopwatch %}#}

                {#{% stopwatch "### product.category.getShortInfo() ###" %}#}
                <td>
                    {% for product in transresRequest.products %}
                        {% if product.category %}
                            {{ product.category.getShortInfo() }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                {#{% endstopwatch %}#}

                {#{% stopwatch "### getTransResRequestFeeHtml ###" %}#}
                <td>
                    {% set fee = transres_request_util.getTransResRequestFeeHtml(transresRequest) %}
                    {% if fee %}
                        ${{ fee|raw }}
                    {% endif %}
                </td>
                {#{% endstopwatch %}#}

                {#{% stopwatch "### invoicesCount ###" %}#}
                <td class="rowlink-skip">
                    {% set invoicesCount = transresRequest.invoices|length %}
                    {% if invoicesCount > 0 %}
                        {% if latestInvoice and transres_request_util.isUserHasInvoicePermission(latestInvoice,"update") %}
                            <a target="_blank" data-toggle="tooltip" title="Show Associated Invoices"
                               href="{{ path(translationalresearch_sitename~'_invoice_index', { 'id': transresRequest.id }) }} "
                            >{{ invoicesCount }}</a>
                        {% else %}
                            {% if latestInvoice and transres_request_util.isUserHasInvoicePermission(latestInvoice,"view-pdf") %}
                                <a target="_blank" data-toggle="tooltip" title="Show Latest Associated PDF Invoice"
                                   href="{{ path('translationalresearch_invoice_download_recent', {'id': latestInvoice.id }) }}"
                                ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                {#{% endstopwatch %}#}

                <td>
                {% if latestInvoice and latestInvoice.oid %}
                    {{ latestInvoice.status }}
                {% endif %}
                </td>

                {#{% stopwatch "### getInvoicesInfosByRequest ###" %}#}
                {#Invoices #}
                {% set invoicesInfos = transres_request_util.getInvoicesInfosByRequest(transresRequest) %}
                <td>
                    {% if invoicesInfos.total is not null %}
                        ${{ invoicesInfos.total }}
                    {% endif %}
                </td>
                <td>
                    {% if invoicesInfos.paid is not null %}
                        ${{ invoicesInfos.paid }}
                    {% endif %}
                </td>
                <td>
                    {% if invoicesInfos.due is not null %}
                        ${{ invoicesInfos.due }}
                    {% endif %}
                </td>
                {#{% endstopwatch %}#}
                {% endif %} {#hiderows#}

                {% if hideaction is not defined or not hideaction %}
                {#{% stopwatch "### Action ###" %}#}
                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_request_show', { 'id': transresRequest.id }) }}"
                                >Show Request</a>
                            </li>


                            {#transresRequest.submitter.id == app.user.id and#}
                            {#{% if#}
                                {#is_granted('ROLE_TRANSRES_ADMIN') or#}
                                {#is_granted('ROLE_TRANSRES_TECHNICIAN') or#}
                                {#(#}
                                    {#transres_util.isProjectRequester(transresRequest.project) and#}
                                    {#transresRequest.getProgressState() == 'draft'#}
                                {#)#}
                            {#%}#}
                            {% if transres_permission_util.hasRequestPermission("update",transresRequest) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_request_edit', { 'id': transresRequest.id }) }}"
                                    >Edit Work Request</a>
                                </li>
                            {% endif %}

                            {#{% if transres_request_util.isRequestProgressReviewable(transresRequest) %}#}
                            {#{% if transres_util.isAdminOrPrimaryReviewer() or transres_request_util.isRequestProgressReviewer(transresRequest) %}#}
                            {% if transres_permission_util.hasRequestPermission('progress-review',transresRequest) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_request_review_progress_state', { 'id': transresRequest.id }) }} "
                                    >Change Completion Status</a>
                                </li>
                            {% endif %}
                            {#{% endif %}#}

                            {#{% if transres_request_util.isRequestBillingReviewable(transresRequest) %}#}
                            {#{% if transres_util.isAdminOrPrimaryReviewer() or transres_request_util.isRequestBillingReviewer(transresRequest) %}#}
                            {% if transres_permission_util.hasRequestPermission('billing-review',transresRequest) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_request_review_billing_state', { 'id': transresRequest.id }) }} "
                                    >Change Billing Status</a>
                                </li>
                            {% endif %}
                            {#{% endif %}#}

                            {#{% if is_granted('ROLE_TRANSRES_ADMIN') or is_granted('ROLE_TRANSRES_TECHNICIAN') %}#}
                            {% if transres_permission_util.hasRequestPermission("packing-slip",transresRequest) %}
                                <li class="divider"></li>
                                <li>
                                    <a general-data-confirm="Are you sure you want to Generate and View Packing Slip PDF?"
                                       target="_blank"
                                       href="{{ path(translationalresearch_sitename~'_generate_packing_slip', { 'id': transresRequest.id }) }}"
                                    >Generate and View Packing Slip PDF</a>
                                </li>
                                {% if transresRequest.packingSlipPdfs|length > 0 %}
                                    <li>
                                        <a
                                           target="_blank"
                                           href="{{ path(translationalresearch_sitename~'_file_view', { 'id': transresRequest.packingSlipPdfs[0].id }) }}"
                                        >Show Packing Slip PDF</a>
                                    </li>
                                    <li>
                                        <a general-data-confirm="Are you sure you want to E-Mail Packing Slip to PIs and Submitter for Review?"
                                           target="_blank"
                                           href="{{ path(translationalresearch_sitename~'_email_packing_slip', { 'id': transresRequest.id }) }}"
                                        >E-Mail Packing Slip PDF to PIs and Submitter for Review</a>
                                    </li>
                                    <li>
                                        <a general-data-confirm="Are you sure you want to E-Mail Packing Slip to PIs and Submitter for Confirmation + Change Request Status to 'Pending Investigator'?"
                                           target="_blank"
                                           href="{{ path(translationalresearch_sitename~'_email_packing_slip_change_status_pending_investigator', { 'id': transresRequest.id }) }}"
                                        >E-Mail Packing Slip PDF to PIs and Submitter for Confirmation + Change Request Status to 'Pending Investigator'</a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            <li class="divider"></li>
                            {% if invoicesCount > 0 %}
                                {% if transres_permission_util.areInvoicesShowableToUser(transresRequest.project) %}
                                    <li>
                                        <a href="{{ path(translationalresearch_sitename~'_invoice_index', { 'id': transresRequest.id }) }} "
                                        >Show Associated Invoices</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if transres_request_util.isUserHasInvoicePermission(null,"create") %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_invoice_new', { 'id': transresRequest.id }) }} "
                                    >Create New Invoice</a>
                                </li>
                            {% endif %}

                            {% if latestInvoice and latestInvoice.oid %}

                                <li class="divider"></li>

                                {% if transres_request_util.isUserHasInvoicePermission(latestInvoice,"view") %}
                                    <li>
                                        <a href="{{ path('translationalresearch_invoice_show', {'oid': latestInvoice.oid }) }}">Show Latest Invoice</a>
                                    </li>
                                {% endif %}

                                {% if latestInvoice.latestVersion %}

                                    {% if transres_request_util.isUserHasInvoicePermission(latestInvoice,"update") %}
                                        <li>
                                            <a href="{{ path('translationalresearch_invoice_edit', {'oid': latestInvoice.oid }) }}">Edit Latest Invoice</a>
                                        </li>
                                    {% endif %}

                                    {% if latestInvoice.documents|length > 0 and transres_request_util.isUserHasInvoicePermission(latestInvoice,"view-pdf") %}
                                        <li>
                                            <a target="_blank"
                                               href="{{ path('translationalresearch_invoice_download_recent', {'id': latestInvoice.id }) }}"
                                            >Show The Latest PDF Invoice</a>
                                        </li>
                                    {% endif %}

                                    {% if transres_request_util.isUserHasInvoicePermission(latestInvoice,"update") %}
                                        {% if latestInvoice.documents|length > 0 %}
                                            {% set generateLabel = "Regenerate Latest Invoice PDF" %}
                                        {% else %}
                                            {% set generateLabel = "Generate Latest Invoice PDF" %}
                                        {% endif %}
                                        <li>
                                            <a
                                                general-data-confirm="Are you sure you want to {{ generateLabel|lower }} for this invoice {{ latestInvoice.oid }}?"
                                                href="{{ path('translationalresearch_invoice_generate_pdf', {'oid': latestInvoice.oid }) }}"
                                            >{{ generateLabel }}</a>
                                        </li>
                                    {% endif %}

                                    {% if latestInvoice.documents|length > 0 and transres_request_util.isUserHasInvoicePermission(latestInvoice,"send-invoice-pdf-email") %}
                                        <li>
                                            {#Send the Latest Invoice PDF by Email#}
                                            <a
                                                general-data-confirm="Are you sure you want to send the latest invoice {{ latestInvoice.oid }} pdf by email to PI?"
                                                href="{{ path('translationalresearch_invoice_send_pdf_email', {'oid': latestInvoice.oid }) }}"
                                            >Send the Latest Invoice PDF by Email to PI{{ transres_request_util.getInvoicePisStr(latestInvoice) }}</a>
                                        </li>
                                    {% endif %}

                                    {#<hr>#}
                                    {#Add actions in the invoice list - "Change status to ..."#}
                                    {#{% set statuses = transres_request_util.getInvoiceStatuses() %}#}
                                    {#{% for status in statuses %}#}
                                        {#{% if status != latestInvoice.status %}#}
                                            {#{% if status == "Paid Partially" %}#}
                                                {#<li>#}
                                                    {#<a href="#" data-toggle="modal" data-target="#modal_update_invoice_{{ latestInvoice.oid }}"#}
                                                    {#>Change the Latest Invoice Status to {{ status }} (update 'Paid' value)</a>#}
                                                {#</li>#}
                                            {#{% else %}#}
                                                {#<li>#}
                                                    {#<a#}
                                                            {#general-data-confirm="Are you sure you want to change the status of this invoice {{ latestInvoice.oid }} to {{ status }}?"#}
                                                            {#href="{{ path('translationalresearch_invoice_change_status', {'oid':latestInvoice.oid, 'status':status }) }}"#}
                                                    {#>Change the Latest Invoice Status to {{ status }}</a>#}
                                                {#</li>#}
                                            {#{% endif %}#}

                                        {#{% endif %}#}
                                    {#{% endfor %}#}
                                    {#<hr>#}

                                    {% if transres_request_util.isUserHasInvoicePermission(latestInvoice,"change-status") %}
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#modal_update_invoice_{{ latestInvoice.oid }}"
                                            >Update Latest Invoice Status</a>
                                        </li>
                                    {% endif %}

                                {% endif %}

                                {#{% if latestInvoice.documents|length > 0 %}#}
                                    {#<li>#}
                                        {#<a target="_blank"#}
                                           {#href="{{ path('translationalresearch_invoice_download_recent', {'id': latestInvoice.id }) }}"#}
                                        {#>Show The Latest PDF Invoice</a>#}
                                    {#</li>#}
                                {#{% endif %}#}

                            {% endif %}


                        </ul>

                    </div>
                </td>
                {#{% endstopwatch %}#}
                {% endif %} {#hideaction#}
            </tr>
            {#<tr class="table-no-border">#}
                {#<td style="display: none">#}
                    {#<a href="{{ path(translationalresearch_sitename~'_request_show', { 'id': transresRequest.id }) }}" target="_blank">Show Request</a>#}
                {#</td>#}
                {#{{ user_formnode_utility.getFormNodeHolderShortInfo(transresRequest,transresRequest.messageCategory,1,trclassname)|raw }}#}
            {#</tr>#}
        {% endfor %}
        </tbody>
    </table>
    {#{% endstopwatch %}#}

    {#{% stopwatch "### knp_pagination_render ###" %}#}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(transresRequests) }}
    </div>
    {#{% endstopwatch %}#}

    {#{{ render(controller('OlegTranslationalResearchBundle:Project:threadComments', { 'id': "3-9-committee_review" })) }}#}
    {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': "3-9-committee_review"} %}#}

    {% if project %}
        {% if isRequestCanBeCreated == 1 %}
            <br>
            <p>
                <a class="btn btn-default" href="{{ path(translationalresearch_sitename~'_request_new', {'id':project.id}) }}"
                >New Work Request</a>
            </p>
            <br>
        {% endif %}
    {% endif %}

{% endif %}

{% endblock %}


{% block additionaljs %}
    {% javascripts
    '@OlegTranslationalResearchBundle/Resources/public/form/js/transres-filterbtn.js'
    '@OlegTranslationalResearchBundle/Resources/public/form/js/invoice.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
