{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formnodetrigger" value="{{ formnodetrigger }}" />
    <input type="hidden" id="formnodeTopHolderId" value="{{ formnodeTopHolderId }}" />
    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

{% if routeName == "translationalresearch_new_standalone_request" and form.project is not defined %}
    <p>There are no approved projects are available at this time.</p>
{% else %}

    {% set sitename = translationalresearch_sitename %}

    {{ form_start(form) }}

        {#Request#}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="transresRequestHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#transresRequest" aria-expanded="true">
                            Request
                        </a>
                    </h4>
                </div>
                <div id="transresRequest" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="transresRequestHeading">
                    <div class="panel-body">

                    {#Product or Service Panel +/-#}

                    {% if form.fundedAccountNumber is defined %}
                        {{ formmacros.field(form.fundedAccountNumber) }}
                    {% endif %}
                    {{ formmacros.fieldDateLabel(form.supportStartDate,'allow-future-date') }}
                    {{ formmacros.fieldDateLabel(form.supportEndDate,'allow-future-date') }}
                    {{ formmacros.field(form.contact) }}

                    {{ transresRequestMacros.transresRequestFormEdit(form,null,cycle) }}

                    </div>
                </div>
            </div>
        </div>

        {{ transresRequestMacros.transresRequestInfo(form,transresRequest,cycle) }}

        {{ transres.getProjectReviewPrototypeFormData(null,cycle,sitename) }}

        {% if form.updateDate is defined or form.updateUser is defined  %}
            <div class="well well-sm">
                {% if form.updateDate is defined %}
                    {{ formmacros.field(form.updateDate) }}
                {% endif %}
                {% if form.updateUser is defined %}
                    {{ formmacros.field(form.updateUser) }}
                {% endif %}
            </div>
        {% endif %}


        {% if form.saveAsDraft is defined %}
            {{ form_widget(form.saveAsDraft) }}
        {% endif %}
        {% if form.saveAsComplete is defined %}
            {{ form_widget(form.saveAsComplete) }}
        {% endif %}

    {{ form_end(form) }}


    {% if project and project.id %}
        <br>
        {#{{ transres.projectFormShow(null,project,cycle) }}#}
        {#add project status#}
        {#{{ transres.projectObjInfo(project,cycle) }}#}
        {{ transres.projectObjFullInfo(project,cycle) }}
        <p>
            <a href="{{ path(translationalresearch_sitename~'_request_index',{'id':project.id}) }}">Back to the request list</a>
        </p>
    {% endif %}

{% endif %} {#routeName and project#}

{% endblock %}
