{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}
{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% set sitename = translationalresearch_sitename %}

    {{ transresRequestMacros.getActionRequestReviewCommentsSection(transresRequest,cycle,sitename,statMachineType) }}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    <br>

    {{ form_start(form) }}

        <div id="form-prototype-data"
             data-userurllink = "{{ usermacros.userUrlLink()|e }}"
             data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
             data-userid = "{{ app.user.id }}"

             data-prototype-transres-products = "{{ transresRequestMacros.productForm(form.products,cycle,'transres-products','prototype',sitename,1)|e }}"
        ></div>

    {% if form.project is defined %}
        {{ formmacros.field(form.project) }}
    {% endif %}

    {#{% if form.fundedAccountNumber is defined %}#}
        {#{% if project.getFundedAccountNumber() %}#}
            {#<p>Current project's funded account number: {{ project.getFundedAccountNumber() }}</p>#}
        {#{% endif %}#}
        {#{{ formmacros.field(form.fundedAccountNumber) }}#}
    {#{% endif %}#}

    {{ transresRequestMacros.transresRequestInfo(form,transresRequest,cycle) }}

    {#{{ transresRequestMacros.transresRequestFormShow(form,transresRequest,cycle) }}#}
    {{ transresRequestMacros.transresRequestBody(form,transresRequest,cycle,sitename) }}

    {{ transresRequestMacros.transresRequestPackingSlip(form,transresRequest,cycle) }}

    {{ transresRequestMacros.transresRequestHandsontable(form,transresRequest,cycle) }}

    {{ transresRequestMacros.transresRequestDetails(form,transresRequest,cycle,sitename) }}

    {{ transresRequestMacros.transresRequestComment(form,transresRequest,cycle) }}

    {{ form_end(form) }}

    <div>

        <br>
        <br>
        <p>
            <a href="{{ path(translationalresearch_sitename~'_request_index',{'id':project.id}) }}">Back to the request list</a>
        </p>

    </div>

{% endblock %}




{% block additionalcss %}

    {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% stylesheets
    'bundles/olegtranslationalresearch/form/css/comments.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
    'bundles/olegorderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'
    'bundles/olegorderform/form/css/handsontable.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% block additionaljs %}

    {% javascripts
        '@OlegOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'
        '@OlegTranslationalResearchBundle/Resources/public/form/js/handsontable.js'
        '@OlegUserdirectoryBundle/Resources/public/bwip-js/bwipjs.js'
        '@OlegUserdirectoryBundle/Resources/public/bwip-js/bwipp-min.js'
        '@OlegUserdirectoryBundle/Resources/public/bwip-js/freetype.js'
        '@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'
        '@OlegOrderformBundle/Resources/public/form/js/masking.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

<script type="text/javascript">

    var _handsometableDataArr = [];

    $(document).ready(function() {

        var tableFormCycle = '{{ cycle }}';
        if( tableFormCycle != "new" ) {
            //var _handsometableDataArr = {{ handsometableData|json_encode|raw }};
            //handsonTableInit(_handsometableDataArr, tableFormCycle);

            getComboboxAccessionType(null,true);

            var _handsometableDataArr = {{ handsometableData|json_encode|raw }};
            console.log('init _handsometableDataArr:');
            console.log(_handsometableDataArr);

            //handsonTableInit(_handsometableDataArr, tableFormCycle);


            // Wait until idle (busy must be false)
            var _TIMEOUT = 300; // waitfor test rate [msec]

            //console.log('before wait for');
            waitfor( ajaxFinishedCondition, true, _TIMEOUT, 0, 'play->busy false', function() {
                //console.log('The show can resume !');
                transresMakeColumnData();

                handsonTableInit(_handsometableDataArr, tableFormCycle);
            });
        }

        //transres-review-submit
        $('.transres-review-submit').click(function(event) {
            //console.log("btn click:");
            //console.log($(this));
            var reviewHolder = $(this).closest('.transres-review-holder');

            var comment = reviewHolder.find('.fos_comment_comment_new_form').find('textarea').val();
            console.log("comment="+comment);

            if( comment ) {
                reviewHolder.find('.fos_comment_comment_new_form').find('input[type="submit"]').click();
            }

            console.log("done review");

            //return false;
        });

    });

</script>

{% endblock %}


