{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "AppUserdirectoryBundle/SiteParameters/site-parameters-macros.html.twig" as siteparametersmacros %}


{#{% set organizationalGroupDefaultPrototype = null %}#}
{#{% if edit_form.organizationalGroupDefaults is defined %}#}
    {#{% set organizationalGroupDefaultPrototype = siteparametersmacros.organizationalGroupDefault(edit_form.organizationalGroupDefaults,cycle,'user-organizationalgroupdefault','prototype') %}#}
{#{% endif %}#}

{#<div id="form-prototype-data"#}
     {#data-prototype-user-organizationalgroupdefault = "{{ organizationalGroupDefaultPrototype|e }}"#}
     {#data-userid = "{{ entity.id }}"#}
{#></div>#}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">

            <div class="row">
                <div class="col-xs-6" align="left">
                    <a data-toggle="collapse" href="#organizationalgroupdefaults-content" style="color: white">
                        Defaults for an Organizational Group
                    </a>
                </div>
                <div class="col-xs-6" align="left">
                    <a class="btn-sm btn-info" href="{{ path('employees_management_organizationalgroupdefault', { 'id': entity.id }) }}">
                        Manage
                    </a>
                </div>
            </div>

        </h4>
    </div>
    <div id="organizationalgroupdefaults-content" class="panel-collapse collapse">
        <div class="panel-body">

            <div class="user-organizationalgroupdefaults-holder">

                {% if edit_form.organizationalGroupDefaults|length == 0 %}
                    There are no defaults for an Organizational Group
                {% endif %}

                {% for groupDefault in edit_form.organizationalGroupDefaults %}
                    {{ siteparametersmacros.organizationalGroupDefault(groupDefault,cycle,'user-organizationalgroupdefault','noprototype') }}
                {% endfor %}
                {#{{ usermacros.addNewObjectBtn("edit",'user-organizationalgroupdefault','Add defaults for another Organizational Group') }}#}

            </div>

        </div>
    </div>
</div>







