{% macro request_base_header( pagination, requestStr ) %}

    <th style="border-left: 2px solid gray;">{{ knp_pagination_sortable(pagination, 'Start Date', requestStr~'.startDate') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'End Date', requestStr~'.endDate') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'Number of Work Days Offsite', requestStr~'.numberOfDays') }}</th>

    {#<th>{{ knp_pagination_sortable(pagination, 'First Day Back in Office', requestStr~'.firstDayBackInOffice') }}</th>#}

    {% if requestStr == 'requestBusiness' %}
        <th>{{ knp_pagination_sortable(pagination, 'Description', requestStr~'.description') }}</th>
    {% endif %}

    <th>{{ knp_pagination_sortable(pagination, 'Status', requestStr~'.status') }}</th>

{% endmacro %}


{% macro request_base_body( request, requestStr ) %}

    {#Set row color#}
    {% set tdclassname = "" %}
    {% if request %}
        {% if request.getStatus() == 'pending' %}
            {% set tdclassname = "alert alert-warning" %}
        {% endif %}
        {% if request.getStatus() == 'approved' %}
            {% set tdclassname = "alert alert-success" %}
        {% endif %}
        {% if request.getStatus() == 'rejected' %}
            {% set tdclassname = "alert alert-danger" %}
        {% endif %}
        {% if request.getStatus() == 'completed' %}
            {% set tdclassname = "" %}
        {% endif %}
    {% endif %}
    {#EOF Set row color#}

    <td class="{{ tdclassname }}" style="border-left: 2px solid gray;">
        {% if request and request.startDate %}
            {{ request.startDate|date('m/d/Y','UTC') }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.endDate %}
            {{ request.endDate|date('m/d/Y','UTC') }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.numberOfDays %}
            {{ request.numberOfDays }}
        {% endif %}
    </td>

    {#<td>#}
        {#{% if request and request.firstDayBackInOffice %}#}
            {#{{ request.firstDayBackInOffice|date('Y-m-d') }}#}
        {#{% endif %}#}
    {#</td>#}

    {% if requestStr == 'requestBusiness' %}
        <td class="{{ tdclassname }}">
            {% if request and request.description %}
                {{ request.description }}
                {#textarea class="form-control"#}
                {#<div class="textarea_widget">#}
                    {#<textarea class="form-control textarea">{{ request.description }}</textarea>#}
                {#</div>#}
            {% endif %}
        </td>
    {% endif %}

    <td class="{{ tdclassname }}">
        {% if request and request.status  %}
            {{ request.status|capitalize }}
        {% endif %}
    </td>

{% endmacro %}

{% macro request_radio_choice( request ) %}
    {% if request.status is defined %}
        {{ form_widget(request.status) }}
    {% endif %}
{% endmacro %}

{% macro request_inputWithCalculateBtn( field ) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {#{{ form_label(field) }}#}
            <strong>{{ field.vars.label|raw }}</strong>
        </div>
        <div class="col-xs-6" align="left">
            <div class = "input-group">
                {#<input type = "text" class = "form-control">#}
                {{ form_widget(field) }}
                <span class = "input-group-addon btn" onclick="setVacReqNumberOfDays(this)">
                    Calculate
                </span>
            </div>
        </div>
    </div>
    </p>
{% endmacro %}

{% macro request_dateWithCalculateBtn( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">
            {#<div class="input-group input-group-reg date allow-future-date">#}
            <div class="input-group allow-future-date">
                {{ form_widget(field) }}
                {#<span class="input-group-addon">#}
                    {#<i class="glyphicon glyphicon-calendar"></i>#}
                {#</span>#}
                <span class = "input-group-addon btn" onclick="setVacReqFirstDayBack(this)">
                    Calculate
                </span>
            </div>
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}

{#entity - request#}
{% macro vacreq_action( entity, vacreq_sitename ) %}

    {% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">

            <li><a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">View User Details</a></li>

            <li>
                <a href="{{ path(vacreq_sitename~'_review', { 'id': entity.id }) }}">Review</a>
            </li>

            {#<li class="divider"></li>#}
            {#{% if entity.status != 'completed' and entity.getOverallStatus() != 'completed' %}#}

            <li class="divider">
            <li>
                <a
                general-data-confirm="Are you sure you would like to approve entire request for {{ entity.user }}?"
                href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'approved' }) }}">Approve entire request
                </a>
            </li>
            <li>
                <a
                general-data-confirm="Are you sure you would like to reject entire request for {{ entity.user }}?"
                href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'rejected' }) }}">Reject entire request
                </a>
            </li>
            <li>
                <a
                general-data-confirm="Are you sure you would like to set entire request to 'pending approval' for {{ entity.user }}?"
                href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'pending' }) }}">Set entire request to "Pending approval"
                </a>
            </li>


            {{ vacreqmacros.vacreq_ParticularRequestAction( entity, entity.requestBusiness, "business", vacreq_sitename ) }}

            {{ vacreqmacros.vacreq_ParticularRequestAction( entity, entity.requestVacation, "vacation", vacreq_sitename ) }}

            {#{% endif %}#}

        </ul>

    </div>

{% endmacro %}
{% macro vacreq_ParticularRequestAction( entity, request, requestName, vacreq_sitename ) %}

    {% set requestNameStr = "Request" %}
    {% if requestName == "business" %}
        {% set hasParticulraRequest = entity.hasBusinessRequest() %}
        {% set requestNameStr = "Business Travel Request" %}
    {% endif %}
    {% if requestName == "vacation" %}
        {% set hasParticulraRequest = entity.hasVacationRequest() %}
        {% set requestNameStr = "Vacation Request" %}
    {% endif %}

    {% if request and hasParticulraRequest %}
        <li class="divider">
        <li>
            <div align="center">
                <strong>{{ requestNameStr }}</strong>
            </div>
        </li>

        {#{% if request.status != 'pending' %}#}
            {#<li>#}
                {#<a#}
                    {#general-data-confirm="Are you sure you would like to set the {{ requestName }} request status for {{ entity.user }} to Pending?"#}
                    {#href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'requestName':requestName, 'status': 'pending' }) }}">Set {{requestName|capitalize}} Request to Pending#}
                {#</a>#}
            {#</li>#}
        {#{% endif %}#}

        {% if request.status != 'approved' %}
            <li>
                <a
                    general-data-confirm="Are you sure you would like to Approve the {{ requestName }} request for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':requestName, 'status': 'approved' }) }}">Approve {{requestName|capitalize}} Request
                </a>
            </li>
        {% endif %}

        {% if request.status != 'rejected' %}
            <li>
                <a
                    general-data-confirm="Are you sure you would like to Reject the {{ requestName }} request for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'requestName':requestName, 'status': 'rejected' }) }}">Reject {{requestName|capitalize}} Request
                </a>
            </li>
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro checkbox( value ) %}
    {#<div class="row">#}
        {#{{ form_errors(value) }}#}
        {#<div class="col-xs-6" align="right">#}
            {#{{ form_label(value) }}#}
        {#</div>#}
        {#<div class="col-xs-6 text-center" align="left" style="width: 50px;">#}
            {#{{ form_widget(value) }}#}
        {#</div>#}
    {#</div>#}
    {{ form_widget(value) }} {{ form_label(value) }}
{% endmacro %}

{% macro personAwayInfo( user, phone, vacreq_sitename ) %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    {#<div style="white-space: nowrap;">#}
        <a href="{{ path(vacreq_sitename~'_showuser', { 'id': user.id }) }}">{{ user.displayName() }}</a>

        {% set singleEmail = user.getSingleEmail %}
        {% if singleEmail %}
            <a href="mailto:{{ singleEmail }}" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
        {% endif %}
    {#</div>#}

    {% if phone %}
        <div style="white-space: nowrap;">
            {{ usermacros.phoneHref(phone) }}
        </div>
    {% endif %}

    <div style="height: 60px; width: 60px;">
        {% if is_granted('ROLE_PLATFORM_DEMO') %}
            {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
            <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
        {% else %}
            {% if user.avatar %}
                {{ usermacros.showDocumentAsImage(user.avatar,'Avatar','') }}
            {% else %}
                {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
            {% endif %}
        {% endif %}
    </div>

{% endmacro %}



