{% macro request_base_header( pagination, requestStr ) %}

    <th>{{ knp_pagination_sortable(pagination, 'Status', requestStr~'.status') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'Start Date', requestStr~'.startDate') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'End Date', requestStr~'.endDate') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'Number of Work Days Offsite', requestStr~'.numberOfDays') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'First Day Back in Office', requestStr~'.firstDayBackInOffice') }}</th>

{% endmacro %}


{% macro request_base_body( request ) %}

    <td>
        {% if request and request.status %}
            {{ request.status|capitalize }}
        {% endif %}
    </td>

    <td>
        {% if request and request.startDate %}
            {{ request.startDate|date('Y-m-d') }}
        {% endif %}
    </td>

    <td>
        {% if request and request.endDate %}
            {{ request.endDate|date('Y-m-d') }}
        {% endif %}
    </td>

    <td>
        {% if request and request.numberOfDays %}
            {{ request.numberOfDays }}
        {% endif %}
    </td>

    <td>
        {% if request and request.firstDayBackInOffice %}
            {{ request.firstDayBackInOffice|date('Y-m-d') }}
        {% endif %}
    </td>

{% endmacro %}

{% macro request_radio_choice( request ) %}
    {% if request.status is defined %}
        {{ form_widget(request.status) }}
    {% endif %}
{% endmacro %}

{#entity - request#}
{% macro vacreq_action( entity, vacreq_sitename ) %}

    {% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">

            <li><a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">View User Details</a></li>

            <li>
                <a href="{{ path(vacreq_sitename~'_review', { 'id': entity.id }) }}">Review</a>
            </li>

            {#<li class="divider"></li>#}

            {{ vacreqmacros.vacreq_ParticularRequestAction( entity, entity.requestBusiness, "business", vacreq_sitename ) }}

            {{ vacreqmacros.vacreq_ParticularRequestAction( entity, entity.requestVacation, "vacation", vacreq_sitename ) }}

        </ul>

    </div>

{% endmacro %}
{% macro vacreq_ParticularRequestAction( entity, request, requestName, vacreq_sitename ) %}

    {% if requestName == "business" %}
        {% set hasParticulraRequest = entity.hasBusinessRequest() %}
    {% endif %}
    {% if requestName == "vacation" %}
        {% set hasParticulraRequest = entity.hasVacationRequest() %}
    {% endif %}

    {% if request and hasParticulraRequest %}
        <li class="divider">
        <li>
            <div align="center">
                <strong>{{requestName|capitalize}} Request</strong>
            </div>
        </li>

        {#{% if request.status != 'pending' %}#}
            {#<li>#}
                {#<a#}
                    {#general-data-confirm="Are you sure you would like to set the {{ requestName }} request status for {{ entity.user }} to Pending?"#}
                    {#href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'requestName':requestName, 'status': 'pending' }) }}">Set {{requestName|capitalize}} Request to Pending#}
                {#</a>#}
            {#</li>#}
        {#{% endif %}#}

        {% if request.status != 'approved' %}
            <li>
                <a
                    general-data-confirm="Are you sure you would like to Approve the {{ requestName }} request for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':requestName, 'status': 'approved' }) }}">Approve {{requestName|capitalize}} Request
                </a>
            </li>
        {% endif %}

        {% if request.status != 'rejected' %}
            <li>
                <a
                    general-data-confirm="Are you sure you would like to Reject the {{ requestName }} request for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'requestName':requestName, 'status': 'rejected' }) }}">Reject {{requestName|capitalize}} Request
                </a>
            </li>
        {% endif %}

    {% endif %}

{% endmacro %}

