{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Site Settings
{% endblock %}

{% block content %}

    <h3 class="text-info">Site Settings</h3>

    <table class="records_list table table-bordered table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">


            <tr>
                <td>Max Idle Time (minutes)</td>
                <td>{{ entity.maxIdleTime }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'maxIdleTime'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Environment</td>
                <td>{{ entity.environment }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'environment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Site Email</td>
                <td>{{ entity.siteEmail }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'siteEmail'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>SMTP Server Address</td>
                <td>{{ entity.smtpServerAddress }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'smtpServerAddress'}) }}">Edit</a></td>
            </tr>


            {#ScanOrder DB#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h6>ScanOrder DB (Parameters are stored in {{ link }}):</h6>
                </td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Address</td>
                <td>{{ entity.dbServerAddress }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAddress'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Port</td>
                <td>{{ entity.dbServerPort }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'dbServerPort'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account User Name</td>
                <td>{{ entity.dbServerAccountUserName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAccountUserName'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Password</td>
                <td>{{ entity.dbServerAccountPassword }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAccountPassword'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Name</td>
                <td>{{ entity.dbDatabaseName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'dbDatabaseName'}) }}">Edit</a></td>
            </tr>


            {#AD/LDAP#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h6>AD/LDAP:</h6>
                </td>
            </tr>

            <tr>
                <td>Auto-Assign Institution name</td>
                <td>{{ entity.autoAssignInstitution }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'autoAssignInstitution'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>AD/LDAP Server Address</td>
                <td>{{ entity.aDLDAPServerAddress }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Port</td>
                <td>{{ entity.aDLDAPServerPort }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server OU</td>
                <td>{{ entity.aDLDAPServerOu }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerOu'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account User Name</td>
                <td>{{ entity.aDLDAPServerAccountUserName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account Password</td>
                <td>{{ entity.aDLDAPServerAccountPassword }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountPassword'}) }}">Edit</a></td>
            </tr>

            {#CoPath#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h6>CoPath DB:</h6>
                </td>
            </tr>
            <tr>
                <td>CoPath DB Server Address</td>
                <td>{{ entity.coPathDBServerAddress }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Port</td>
                <td>{{ entity.coPathDBServerPort }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account User Name</td>
                <td>{{ entity.coPathDBAccountUserName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account Password</td>
                <td>{{ entity.coPathDBAccountPassword }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath Database Name</td>
                <td>{{ entity.coPathDBName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBName'}) }}">Edit</a></td>
            </tr>

            {#Aperio#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h6>Aperio eSlide Manager DB:</h6>
                </td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server Address</td>
                <td>{{ entity.aperioeSlideManagerDBServerAddress }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server Port</td>
                <td>{{ entity.aperioeSlideManagerDBServerPort }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server User Name</td>
                <td>{{ entity.aperioeSlideManagerDBUserName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server Password</td>
                <td>{{ entity.aperioeSlideManagerDBPassword }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager Database Name</td>
                <td>{{ entity.aperioeSlideManagerDBName }}</td>
                <td><a href="{{ path('siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBName'}) }}">Edit</a></td>
            </tr>


        </tbody>
    </table>

    {#<br>#}
    {#<p>#}
        {#<a href="{{ path('siteparameters_edit', { 'id': entity.id }) }}">Edit</a>#}
    {#</p>#}

{% endblock %}
