{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}

    <h3 class="text-info">Site Parameters</h3>

    <table class="records_list table table-bordered table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Max Idle Time (minutes)</td>
                <td>{{ entity.maxIdleTime }}</td>
            </tr>
            <tr>
                <td>Environment</td>
                <td>{{ entity.environment }}</td>
            </tr>
            <tr>
                <td>Site Email</td>
                <td>{{ entity.siteEmail }}</td>
            </tr>


            <tr>
                <td>ScanOrder DB Server Address</td>
                <td>{{ entity.dbServerAddress }}</td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Port</td>
                <td>{{ entity.dbServerPort }}</td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account User Name</td>
                <td>{{ entity.dbServerAccountUserName }}</td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Password</td>
                <td>{{ entity.dbServerAccountPassword }}</td>
            </tr>







        </tbody>
    </table>

    <br>
    <p>
        <a href="{{ path('siteparameters_edit', { 'id': entity.id }) }}">Edit</a>
    </p>

{% endblock %}
