
    {% if filtered is defined and filtered %}
        {% set eventlog_title = eventlog_title ~ " showing " ~ pagination|length ~ " matching events" ~ titlePostfix%}
    {% endif %}

    <h3 class="text-info">{{ eventlog_title }}</h3>


    <p>
    <form action="{{ path(routename) }}" method="get" {{ form_enctype(loggerfilter) }} class="well form-search">

        <div class="row">

            <div class="col-xs-2">
                <div class="input-group input-group-reg date form_datetime">
                    {{ form_widget(loggerfilter.startdate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="input-group input-group-reg date form_datetime">
                    {{ form_widget(loggerfilter.enddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            {% if hideUser is not defined or hideUser == false %}
                <div class="col-xs-3">
                    {{ form_row(loggerfilter.user,{'attr': {'placeholder': 'User'}}) }}
                </div>
            {% endif %}
            {% do loggerfilter.user.setRendered %}

            {% if hideEventType is not defined or hideEventType == false %}
                <div class="col-xs-3">
                    {{ form_row(loggerfilter.eventType, {'attr': {'placeholder': 'Event Type'}}) }}
                </div>
            {% endif %}
            {% do loggerfilter.eventType.setRendered %}

            <div class="col-xs-2">
                {{ form_row(loggerfilter.search, {'attr': {'placeholder': 'Event Title'}}) }}
            </div>

        </div>

        <br>

        <div class="row">

            {% if hideIp is not defined or hideIp == false %}
                <div class="col-xs-2">
                    {{ form_row(loggerfilter.ip, {'attr': {'placeholder': 'IP'}}) }}
                </div>
            {% endif %}
            {% do loggerfilter.ip.setRendered %}

            <div class="col-xs-3">
                {{ form_row(loggerfilter.roles, {'attr': {'placeholder': 'Roles'}}) }}
            </div>

            {% if hideObjectType is not defined or hideObjectType == false %}
                <div class="col-xs-3">
                    {{ form_row(loggerfilter.objectType, {'attr': {'placeholder': 'Object Type'}}) }}
                </div>
            {% endif %}
            {% do loggerfilter.objectType.setRendered %}

            {% if hideObjectId is not defined or hideObjectId == false %}
                <div class="col-xs-3">
                    {{ form_row(loggerfilter.objectId, {'attr': {'placeholder': 'Object ID'}}) }}
                </div>
            {% endif %}
            {% do loggerfilter.objectId.setRendered %}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>

        </div>



        {{ form_rest(loggerfilter) }}
    </form>
    </p>


    <table class="records_list table table-hover table-condensed text-left">
        <thead>
            <tr>
                {% if hideId is not defined or hideId == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Event ID', 'logger.id') }}</th>
                {% endif %}

                <th>{{ knp_pagination_sortable(pagination, 'Timestamp', 'logger.creationdate') }}</th>

                {% if hideIp is not defined or hideIp == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'IP', 'logger.ip') }}</th>
                {% endif %}

                {% if hideUserAgent is not defined or hideUserAgent == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'User Agent', 'logger.useragent') }}</th>
                {% endif %}

                {% if hideWidth is not defined or hideWidth == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Width', 'logger.width') }}</th>
                {% endif %}

                {% if hideHeight is not defined or hideHeight == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Height', 'logger.height') }}</th>
                {% endif %}


                <th>{{ knp_pagination_sortable(pagination, 'Account', 'logger.username') }}</th>

                {% if hideRoles is not defined or hideRoles == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Roles', 'logger.roles') }}</th>
                {% endif %}

                <th>{{ knp_pagination_sortable(pagination, 'Event Type', 'eventType.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Event Title', 'logger.event') }}</th>

                {% if hideADServerResponse is not defined or hideADServerResponse == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'AD Server Response', 'logger.serverresponse') }}</th>
                {% endif %}

                {% if hideObjectType is not defined or hideObjectType == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Object Type', 'objectType.name') }}</th>
                {% endif %}

                {% if hideObjectId is not defined or hideObjectId == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Object ID', 'logger.entityId') }}</th>
                {% endif %}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}

            {% if entity.event == 'Bad Credentials' %}
                <tr class="order-someattention-status">
            {% else %}
                <tr>
            {% endif %}

                {% if hideId is not defined or hideId == false %}
                    <td>{{ entity.id }}</td>
                {%  endif %}

                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>

                {% if hideIp is not defined or hideIp == false %}
                    <td>{{ entity.ip }}</td>
                {%  endif %}

                {% if hideUserAgent is not defined or hideUserAgent == false %}
                    <td>
                        <div class="textarea_widget">
                            <textarea class="textarea form-control">{{ entity.useragent }}</textarea>
                        </div>
                    </td>
                {% endif %}

                {% if hideWidth is not defined or hideWidth == false %}
                    <td>{{ entity.width }}</td>
                {% endif %}

                {% if hideHeight is not defined or hideHeight == false %}
                    <td>{{ entity.height }}</td>
                {% endif %}

                {% if entity.username == 'anon.' %}
                    <td>
                        unknown
                    </td>
                {% else %}
                    <td>
                        {% if entity.user %}
                            <a href="{{ path(scan_sitename~'_showuser', { 'id': entity.user.id }) }}">{{ entity.user.getUserNameStr() }}</a>
                        {% endif %}
                    </td>
                {% endif %}

                <td>
                    {#{% for role in entity.roles %}#}
                        {#{% if role != "ROLE_USER" %}#}
                            {#"{{ attribute(roles, role) }}"<br>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                    {% for role in user_security_utility.getObjectRolesBySite(entity, sitename, true) %}
                        {% if role.name != "ROLE_USER" %}
                            "{{ role.alias }}"<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ entity.eventType }}</td>
                <td>{{ entity.event|raw }}</td>

                {% if hideADServerResponse is not defined or hideADServerResponse == false %}
                    <td>
                        <div class="textarea_widget">
                            <textarea class="textarea form-control">{{ entity.serverresponse }}</textarea>
                        </div>
                    </td>
                {% endif %}

                {% if hideObjectType is not defined or hideObjectType == false %}
                    <td>{{ entity.objectType }}</td>
                {% endif %}

                {% if hideObjectId is not defined or hideObjectId == false %}
                    <td>{{ entity.entityId }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



