{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppCallLogBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppCallLogBundle/Default/calllogmacros.html.twig" as calllogmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info calllog-title" align="center">
        {{ title|raw }}
    </h4>
    <br>


    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="orderformtype" value="calllog" />
    <input type="hidden" id="formtype" value="{{ formtype }}" />
    <input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />
    <input type="hidden" id="mrntype" value="{{ mrntype }}" />
    <input type="hidden" id="mrn" value="{{ mrn }}" />

    <div id="calllog-patient-list">

    {% if form1 is defined %}
        {{ calllogmacros.patientInfoSection(form1,cycle,'patient-holder-1','Patient Info',formtype) }}
    {% endif %}

    </div>


    <div id="calllog-msg-danger-box" class="alert alert-danger" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>
    <div id="calllog-msg-success-box" class="alert alert-success" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>

    <button
            id="submit_patient_button" type="button"
            class="btn btn-lg btn-success" align="center"
            onclick="submitPatientBtn('patient-holder-1')"
            style="display:none;"
    >
        Submit Patient Info
    </button>


{% endblock %}


{% block additionaljs %}
    <script language="Javascript">
        $(document).ready(function() {
            //hide all alias
            //calllogHideAllAlias(true,true);
            showHideSubmitPatientButton();
            calllogTriggerSearch();
        });

        //triggered by class calllog-patient-id
        function showHideSubmitPatientButton() {
            $('.calllog-patient-id').on('change', function() {
                //console.log('calllog-patient-id changed; value='+$(this).val());
                var counter = 0;
                var totalCounter = 0;
                $('.calllog-patient-id').each(function() {
                    if( $(this).val() ) {
                        counter++;
                    }
                    totalCounter++;
                });
                //console.log("counter="+counter+" ?= "+totalCounter);
                if( counter > 0 && counter == totalCounter ) {
                    $('#submit_patient_button').show();
                } else {
                    $('#submit_patient_button').hide();
                }
            });
        }

        //overwrite function
        matchingPatientBtnClick = function(holderId) {
            //console.log('un-merged holderId='+holderId);
            matchingPatientForEditBtnClick(holderId);
            calllogScrollToTop();
        }

    </script>
{% endblock %}
