{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% else %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% endif %}
{% extends extendStr%}


{% block title %}
    {{ displayName }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ displayName }}</h3>

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}


    <div class="well form-search">
    {#<form action="{{ path(routename) }}" method="get" class="well form-search">#}
    {#{{ form_start(filterform, {'action': path(routename), 'method': 'GET'}) }}#}
    {{ form_start(filterform) }}
        <div class="row">
            <div class="col-xs-12">

                <div class="col-xs-11">
                    {{ form_widget(filterform.search) }}
                </div>

                <div class="col-xs-1">
                    <button type="submit" class="btn btn-sm btn-default">Filter</button>
                </div>

            </div>
        </div>
        {{ form_rest(filterform) }}
    {#</form>#}
    {{ form_end(filterform) }}
    </div>


    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
        <th>{{ knp_pagination_sortable(entities, 'ID', 'ent.id') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Name', 'ent.name') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Abbreviation', 'ent.abbreviation') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Short Name', 'ent.shortname') }}</th>

        {% if entities|first.geoLocation is defined %}
            <th>{{ knp_pagination_sortable(entities, 'Address', 'geoLocation.street1') }}</th>
        {% endif %}

        {% if pathname == 'researchlabs' %}
            <th>{{ knp_pagination_sortable(entities, 'Institution', 'institution.name') }}</th>
        {% endif %}

        {% if entities|first.institution is defined and pathname == 'buildings' %}
            <th>{{ knp_pagination_sortable(entities, 'Institution(s)', 'institutions.abbreviation') }}</th>
        {% endif %}

        {#for grant list#}
        {% if pathname == 'grants' %}
            <th>{{ knp_pagination_sortable(entities, 'Grant Source Organization (Sponsor)', 'sourceOrganization.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Grant ID Number', 'ent.grantid') }}</th>
        {% endif %}

        {#for labtest list#}
        {% if pathname == 'labtests' %}
            <th>{{ knp_pagination_sortable(entities, 'Laboratory Test ID Type', 'labTestType') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Laboratory Test ID', 'ent.labTestId') }}</th>
        {% endif %}

        {% if entities|first.user is defined %}
            <th>{{ knp_pagination_sortable(entities, 'Employee', 'user.username') }}</th>
        {% endif %}

        {% if entities|first.original is defined %}
            <th>{{ knp_pagination_sortable(entities, 'Original', 'original.name') }}</th>
        {% endif %}

        {% if entities|first.synonyms is defined %}
            <th>{{ knp_pagination_sortable(entities, 'Synonyms', 'synonyms.name') }}</th>
        {% endif %}


        <th>{{ knp_pagination_sortable(entities, 'Type', 'ent.type') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Display Order', 'ent.orderinlist') }}</th>

        <th>{{ knp_pagination_sortable(entities, 'Creator', 'creator.username') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Creation Date', 'ent.createdate') }}</th>

        <th>{{ knp_pagination_sortable(entities, 'Updated By', 'updatedby.username') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Updated On', 'ent.updatedon') }}</th>

        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in entities %}
            <tr>
                <td><a href="{{ path(sitename~'_'~pathname~'_pathaction_show_standalone', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.abbreviation }}</td>
                <td>{{ entity.shortname }}</td>

                {% if entity.geoLocation is defined %}
                    <td>{{ entity.getShortName() }}</td>
                {% endif %}

                {% if pathname == 'researchlabs' %}
                    <td>
                        {% if entity.institution %}
                            {{ entity.institution }}
                        {% endif %}
                    </td>
                {% endif %}

                {% if entity.institutions is defined and pathname == 'buildings' %}
                    <td>
                        {{ entity.institution.abbreviation }}
                        {% for institution in entity.institutions %}
                            <p>{{ entity.institution.abbreviation }}</p>
                        {% endfor %}
                    </td>
                {% endif %}

                {% if pathname == 'grants' %}
                    <td>
                        {{ entity.sourceOrganization }}
                    </td>
                    <td>
                        {{ entity.grantid }}
                    </td>
                {% endif %}

                {% if pathname == 'labtests' %}
                    <td>
                        {{ entity.labTestType }}
                    </td>
                    <td>
                        {{ entity.labTestId }}
                    </td>
                {% endif %}

                {% if entity.user is defined %}
                    <td>
                    {% if entity.user is iterable %}
                        {% for user in entity.user %}
                            {{ user }}
                        {% endfor %}
                    {% else %}
                        {{ entity.user }}
                    {% endif %}
                    </td>
                {% endif %}

                {% if entity.original is defined %}
                    <td>{{ entity.original }}</td>
                {% endif %}

                {% if entity.synonyms is defined %}
                    <td>
                        {% for synonym in entity.synonyms %}
                            <p>{{ synonym }}</p>
                        {% endfor %}
                    </td>
                {% endif %}

                <td>{{ entity.type }}</td>
                <td>{{ entity.orderinlist }}</td>

                <td class="rowlink-skip">
                    <a href="{{ path(sitename~'_showuser', { 'id': entity.creator.id }) }}">{{ entity.creator.getUsernameOptimal() }}</a>
                </td>
                {#<td>{{ entity.creator.getUsernameOptimal() }}</td>#}
                <td>{% if entity.createdate %}{{ entity.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td class="rowlink-skip">
                    {% if entity.updatedby is defined and entity.updatedby %}
                        <a href="{{ path(sitename~'_showuser', { 'id': entity.updatedby.id }) }}">{{ entity.updatedby.getUsernameOptimal() }}</a>
                    {% endif %}
                </td>

                <td>
                    {% if entity.updatedon is defined and entity.updatedon %}
                        {% if entity.updatedon %}{{ entity.updatedon|date('Y-m-d H:i:s') }}{% endif %}
                    {% endif %}
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <a href="{{ path(sitename~'_'~pathname~'_pathaction_new_standalone') }}">
        Create a new entry
    </a>

{% endblock %}
