{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% else %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% endif %}
{% extends extendStr%}


{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}


{% set title = singleName %}


{% if cycle == 'new_standalone' %}
    {% set title = "Add New "~singleName %}
{% endif %}

{% if cycle == 'show_standalone' %}
    {% set title = "View "~singleName %}
{% endif %}

{% if cycle == 'edit_standalone' %}
    {% set title = "Edit "~singleName %}
{% endif %}

{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">{{ title }}</h4>

    <br>


    {{ form_start(form) }}

        {{ form_errors(form) }}

        {% if form.list.createdate is defined %}
            {{ formmacros.field(form.list.createdate) }}
        {% endif %}
        {% if form.list.type is defined %}
            {{ formmacros.field(form.list.type) }}
        {% endif %}
        {% if form.list.orderinlist is defined %}
            {{ formmacros.field(form.list.orderinlist) }}
        {% endif %}
        <hr>

        {% if pathname == 'locations' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ usermacros.locationObject(form,cycle,'user-locations','noprototype',sitename,entity) }}
        {% endif %}

        {% if pathname == 'buildings' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ usermacros.buildingObject(form,cycle,'user-buildings','noprototype',sitename,entity) }}
        {% endif %}

        {% if pathname == 'researchlabs' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ usermacros.researchlabObject(form,cycle,'user-researchlabs','noprototype',sitename,entity) }}
        {% endif %}

        {% if pathname == 'grants' %}

            {% set grantsPrototype = null %}
            {% set documentsHtml = null %}
            {% if form.grants is defined %}
                {% set grantsPrototype = usermacros.grantObject(form.grants,cycle,'user-grants','prototype',sitename,entity) %}
                {#{% set documentsHtml = formmacros.inputField(form.grants.vars.prototype.attachmentContainer.documentContainers.vars.prototype,cycle,"documentContainer","noprototype") %}#}
            {% endif %}

            <div id="form-prototype-data"
                 data-prototype-user-grants = "{{ grantsPrototype|e }}"
                 data-prototype-documentcontainers = "{{ documentsHtml|e }}"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                 data-userid = "{{ entity.id }}"
            ></div>

            {{ usermacros.grantObject(form,cycle,'user-grants','noprototype',sitename,entity) }}
        {% endif %}

        {% if pathname == 'labtests' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ formmacros.labtestObject(form,cycle,'user-labtests','noprototype') }}
        {% endif %}


        {# Token CSRF #}
        {{ form_widget(form._token) }}
        {#{{ form_rest(form) }}#}


        {#set if user is ROLE_USERDIRECTORY_EDITOR or ROLE_PLATFORM_DEPUTY_ADMIN#}
        {% if is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') or is_granted('ROLE_SCANORDER_PROCESSOR') %}
            {% set userEditor = true %}
        {% else %}
            {% set userEditor = false %}
        {% endif %}

        {% if cycle == "show_standalone" and userEditor and entity.id %}
            <p>
                <a class="btn btn-success" href="{{ path(sitename~'_'~pathname~'_pathaction_edit_standalone',{id:entity.id}) }}" type='button'>Edit</a>
            </p>
        {% endif %}

        {% if cycle != "show_standalone" and cycle != "new_standalone" and userEditor and entity.id %}
            <p>
            <div>
                <button class="btn btn-warning" name="btnSubmit" type="submit">Update {{ singleName }}</button>
                <a class="btn btn-info" href="{{ path(sitename~'_'~pathname~'_pathaction_show_standalone',{id:entity.id}) }}" type='button'>Cancel</a>
            </div>
            </p>
        {% endif %}

        {% if cycle == "new_standalone" and userEditor %}
            <p>
                <button class="btn btn-success" name="btnSubmit" type="submit">Add {{ singleName }}</button>
            </p>
        {% endif %}

        {#creation failed#}
        {% if cycle == "new_post_standalone" and userEditor %}
            <p>
                <a class="btn btn-success" href="{{ path(sitename~'_'~pathname~'_pathaction_new_standalone') }}" type='button'>Add {{ singleName }}</a>
            </p>
        {% endif %}


    {{ form_end(form,{'render_rest': false}) }}


    <br>

    <p>
        <a href="{{ path(sitename~'_'~pathname~'_pathaction_list') }}">{{ singleName }} list</a>
    </p>


{% endblock %}