{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formnodetrigger" value="{{ formnodetrigger }}" />
    <input type="hidden" id="formnodeTopHolderId" value="{{ formnodeTopHolderId }}" />
    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

{% if routeName == "translationalresearch_new_standalone_request" and form.project is not defined %}
    <p>There are no approved projects are available at this time.</p>
{% else %}

    {% set sitename = translationalresearch_sitename %}

    {{ form_start(form) }}

        {% if form.project is defined %}
            {{ formmacros.field(form.project) }}
        {% endif %}

        {% if form.fundedAccountNumber is defined %}
            {#{% if project.getFundedAccountNumber() %}#}
                {#<p>Current project's funded account number: {{ project.getFundedAccountNumber() }}</p>#}
            {#{% endif %}#}
            {{ formmacros.field(form.fundedAccountNumber) }}
        {% endif %}

        {{ transresRequestMacros.transresRequestFormEdit(form,null,cycle) }}

        {{ transresRequestMacros.transresRequestInfo(form,transresRequest,cycle) }}

        {#{{ transres.projectRequesters(form,transresRequest,cycle) }}#}

        {#{{ transres.projectReviews(form,cycle,sitename) }}#}

        {{ transres.getProjectReviewPrototypeFormData(null,cycle,sitename) }}

        {% if form.updateDate is defined or form.updateUser is defined  %}
            <div class="well well-sm">
                {% if form.updateDate is defined %}
                    {{ formmacros.field(form.updateDate) }}
                {% endif %}
                {% if form.updateUser is defined %}
                    {{ formmacros.field(form.updateUser) }}
                {% endif %}
            </div>
        {% endif %}


        {% if form.saveAsDraft is defined %}
            {{ form_widget(form.saveAsDraft) }}
        {% endif %}
        {% if form.saveAsComplete is defined %}
            {{ form_widget(form.saveAsComplete) }}
        {% endif %}

    {{ form_end(form) }}


    {% if project and project.id %}
        <br>
        {#{{ transres.projectFormShow(null,project,cycle) }}#}
        {#add project status#}
        {#{{ transres.projectObjInfo(project,cycle) }}#}
        {{ transres.projectObjFullInfo(project,cycle) }}
        <p>
            <a href="{{ path(translationalresearch_sitename~'_request_formnode_index',{'id':project.id}) }}">Back to the request list</a>
        </p>
    {% endif %}

{% endif %} {#routeName and project#}

{% endblock %}
