{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}

    {% if orderid is defined %}

        {% include 'OlegOrderformBundle::History/add_comment.html.twig' %}
        <h3 class="text-info">Progress & Comments of Order# {{ orderid }}</h3>

    {% else %}
        <h3 class="text-info">Progress & Comments List</h3>
    {% endif %}

    <input type="hidden" id="reload_page_after_modal" value="1" />

    <table class="records_list table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                {#<th>Currentid</th>#}
                {#<th>Newid</th>#}
                {% if orderid is not defined %}
                    <th>Order</th>
                {% endif %}
                <th>Timestamp</th>
                <th>Action</th>
                <th>Status</th>
                <th>Performed By</th>
                <th>Role(s)</th>
                <th>Comment</th>
                <th>Viewed</th>

                {#<th>Actions</th>#}

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('history_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                {#<td>{{ entity.currentid }}</td>#}
                {#<td>{{ entity.newid }}</td>#}

                {% if orderid is not defined %}
                    <td>{{ entity.currentid }}</td>
                {% endif %}

                <td>{% if entity.changedate %}{{ entity.changedate|date('m/d/Y H:i') }}{% endif %}</td>
                <td>
                    {% if entity.currentstatus == entity.newstatus or entity.newstatus == '' %}
                        Comment Added
                    {% else %}
                        Status Changed
                    {% endif %}
                </td>
                <td>
                    {{ entity.newstatus }}
                </td>
                <td>
                    {{ entity.provider }}
                </td>
                <td>
                    {% for role in entity.roles %}
                        {% if role != "ROLE_USER" %}
                            {#"{{ role }}"#}
                            "{{ attribute(roles, role) }}"
                        {% endif %}

                    {% endfor %}
                </td>
                <td>{{ entity.note }}</td>

                <td>
                    {% if entity.viewed == '' %}
                        No
                    {% else %}
                        {{ entity.viewed.username }} on {{ entity.vieweddate|date('m/d/Y H:i') }}
                    {% endif %}
                </td>

                {#<td>#}
                    {#<a href="{{ path('history_show', { 'id': entity.id }) }}">show</a>#}
                    {#<a href="{{ path('history_edit', { 'id': entity.id }) }}">edit</a>#}
                {#</td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if orderid is defined %}
        {#<a href="{{ path('history_orderinfo_new',{ 'id': orderid }) }}">#}
            {#Add Comment#}
        {#</a>#}

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addComment_{{ orderid }}">
            Add Comment
        </button>

    {% else %}
        <a href="{{ path('history_new') }}">
            Create a new entry
        </a>
    {% endif %}


    {% endblock %}
