{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Hierarchy Manager
{% endblock %}

{% block content %}

    <h3 class="text-info">Hierarchy Manager</h3>

    <br>

    <p>
        <a href="{{ path('scan_tree_researchprojecttitles_list',filters) }}">Research Project Titles Management</a>
    </p>

    <p>
        <a href="{{ path('scan_tree_educationalcoursetitles_list',filters) }}">Educational Course Titles Management</a>
    </p>

    <p>
        <a href="{{ path('scan_tree_messagecategories_list',filters) }}">Message Categories Management</a>
    </p>

    <p>
        <a href="{{ path('scan_tree_patientlisthierarchy_list',filters) }}">Patient Lists Hierarchy Management</a>
    </p>

    {#<p>#}
        {#<a href="{{ path('employees_tree_institutiontree_list') }}">Institution Tree Management</a>#}
    {#</p>#}

    {#<p>#}
        {#<a href="{{ path('employees_tree_commenttree_list') }}">Comment Types Tree Management</a>#}
    {#</p>#}


    <br>

{% endblock %}

