{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    {{ listmanager_title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ listmanager_title }}</h3>

    <br><br>

    <p>
        <a href="{{ path('researchprojecttitles-list') }}">Research Project Titles</a>
    </p>

    <p>
        <a href="{{ path('researchsettitles-list') }}">Research Set Titles</a>
    </p>

    <p>
        <a href="{{ path('principalinvestigators-list') }}">Principal Investigators</a>
    </p>


    <p>
        <a href="{{ path('educationalcoursetitles-list') }}">Educational Course Titles</a>
    </p>

    <p>
        <a href="{{ path('educationallessontitles-list') }}">Educational Lesson Titles</a>
    </p>

    <p>
        <a href="{{ path('coursedirectors-list') }}">Course Directors</a>
    </p>

    <p>
        <a href="{{ path('magnifications-list') }}">Magnifications</a>
    </p>

    <p>
        <a href="{{ path('stain-list') }}">Stains</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_stain') }}">Generate Stains</a>#}
    {#</p>#}

    <p>
        <a href="{{ path('parttitle-list') }}">Part Titles</a>
    </p>

    <p>
        <a href="{{ path('diseasetypes-list') }}">Disease Types</a>
    </p>

    <p>
        <a href="{{ path('diseaseorigins-list') }}">Disease Origins</a>
    </p>

    <p>
        <a href="{{ path('organ-list') }}">Organs</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_organ') }}">Generate Organs</a>#}
    {#</p>#}


    <p>
        <a href="{{ path('procedure-list') }}">Procedure Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_procedure') }}">Generate Procedures</a>#}
    {#</p>#}

    {#EncounterList: similar to Procedure Types#}
    <p>
        <a href="{{ path('encounter-list') }}">Encounter Types</a>
    </p>

    <p>
        <a href="{{ path('slidetype-list') }}">Slide Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_slidetype') }}">Generate Slide Types</a>#}
    {#</p>#}

    <p>
        <a href="{{ path('patienttype-list') }}">Patient Types</a>
    </p>

    <p>
        <a href="{{ path('mrntype-list') }}">MRN Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_mrntype') }}">Generate MRN Types</a>#}
    {#</p>#}

    <p>
        <a href="{{ path('messagecategorys-list') }}">Message Categories</a>
    </p>

    <p>
        <a href="{{ path('accessiontype-list') }}">Accession Types</a>
    </p>

    <p>
        <a href="{{ path('encountertype-list') }}">Encounter Number Types</a>
    </p>

    <p>
        <a href="{{ path('proceduretype-list') }}">Procedure Number Types</a>
    </p>

    <p>
        <a href="{{ path('reporttype-list') }}">Report Types</a>
    </p>

    <p>
        <a href="{{ path('orderdelivery-list') }}">Order Delivery Options</a>
    </p>

    <p>
        <a href="{{ path('regiontoscan-list') }}">Region To Scan Options</a>
    </p>

    <p>
        <a href="{{ path('processorcomment-list') }}">Processor Comments</a>
    </p>

    <p>
        <a href="{{ path('status-list') }}">Statuses (will be attached to Message)</a>
    </p>

    <p>
        <a href="{{ path('progresscommentseventtypes-list') }}">Progress and Comments Event Types</a>
    </p>

    <p>
        <a href="{{ path('scanloggereventtypes-list') }}">Event Log Types</a>
    </p>

    <p>
        <a href="{{ path('accounts-list') }}">Account Numbers</a>
    </p>

    <p>
        <a href="{{ path('urgency-list') }}">Urgency Types</a>
    </p>

    <p>
        <a href="{{ path('races-list') }}">Races</a>
    </p>

    <p>
        <a href="{{ path('instruction-list') }}">Instructions for Embedder</a>
    </p>

    <p>
        <a href="{{ path('imageanalysisalgorithm-list') }}">Image Analysis Algorithms</a>
    </p>

    <hr>
    <h4 class="text-info">Laboratory Tests</h4>
    <p>
        <a href="{{ path('employees_labtests_pathaction_list') }}">Laboratory Tests</a>
    </p>
    <p>
        <a href="{{ path('labtesttype-list') }}">Laboratory Test ID Types</a>
    </p>
    <p>
        <a href="{{ path('labtesttitle-list') }}">Laboratory Test Titles</a>
    </p>

    <br>
    <hr>
    {#<h3 class="text-info">Tests</h3>#}
    <p><a  data-confirm="Are you sure? This action will create a Test Patient in Database."
           href="{{ path('scan_testpatient_new') }}">Create a Test Patient</a>
    </p>
    <hr>

    <br>

    {% if environment is not defined %}
        {% set environment = 'dev' %}
    {% endif %}



    <!--show this only for dev. Don't show for live-->
    {% if is_granted('ROLE_SCANORDER_ADMIN') and environment == 'dev' %}
        <p><a  data-confirm="Are you sure? This action will overwrite all values on all lists with defaults."
               href="{{ path('generate_all') }}">Populate All Lists With Default Values</a>
        </p>
    {% endif %}

    <br>

{% endblock %}

