{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}

    <h3 class="text-info">Admin Manager</h3>

    <p>
        <a href="{{ path('generate_all') }}">Generate All</a>
    </p>

    <br>

    <h3 class="text-info">Stains</h3>
    <p>
    <a href="{{ path('stainlist') }}">List Stains</a>
    </p>
    <p>
        <a href="{{ path('generate_stain') }}">Generate Stains</a>
    </p>

    <br>

    <h3 class="text-info">Organs</h3>
    <p>
    <a href="{{ path('organlist') }}">List  Organs</a>
    </p>
    <p>
        <a href="{{ path('generate_organ') }}">Generate Organs</a>
    </p>


    <br>

    <h3 class="text-info">Procedures</h3>
    <p>
        <a href="{{ path('procedurelist') }}">List  Procedures</a>
    </p>
    <p>
        <a href="{{ path('generate_procedure') }}">Generate Procedures</a>
    </p>


    <br>

    <h3 class="text-info">Pathology Services</h3>
    <p>
        <a href="{{ path('pathservicelist') }}">List  Pathology Services</a>
    </p>
    <p>
        <a href="{{ path('generate_pathservice') }}">Generate Pathology Services</a>
    </p>

    <br>

    <h3 class="text-info">SlideTypes</h3>
    <p>
        <a href="{{ path('slidetype') }}">List Slide Types</a>
    </p>
    <p>
        <a href="{{ path('generate_slidetype') }}">Generate Slide Types</a>
    </p>

    <br>
    
    <h3 class="text-info">MrnTypes</h3>
    <p>
        <a href="{{ path('mrntype') }}">List Mrn Types</a>
    </p>
    <p>
        <a href="{{ path('generate_mrntype') }}">Generate Mrn Types</a>
    </p>

    <br>

    <h3 class="text-info">Form Types</h3>
    <p>
        <a href="{{ path('formtype') }}">List Form Types</a>
    </p>

    <br>

    <h3 class="text-info">Accession Types</h3>
    <p>
        <a href="{{ path('accessiontype') }}">List Accession Types</a>
    </p>

    <br>

    <hr>

    <h3 class="text-info">Status Type</h3>
    <p>
        <a href="{{ path('statustype') }}">List  Status Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_procedure') }}">Generate Status Types</a>#}
    {#</p>#}

    <br>

    <h3 class="text-info">Status Group</h3>
    <p>
        <a href="{{ path('statusgroup') }}">List  Status Groupes</a>
    </p>
    {#<p>#}
    {#<a href="{{ path('generate_procedure') }}">Generate Status Types</a>#}
    {#</p>#}

    <br>
    <h3 class="text-info">Statuses</h3>
    <p>
        <a href="{{ path('status') }}">Statuses (will be attached to OrderInfo)</a>
    </p>

    <br>
    <hr>

    <h3 class="text-info">Users</h3>
    <p>
        <a href="{{ path('listusers') }}">Users</a>
    </p>

{% endblock %}

