{% extends "OlegOrderformBundle::Default/base.html.twig" %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Per Site User Settings: {{ username }}
{% endblock %}

{% block content %}

    {{ form_start(form) }}

        <h3 class="text-info">Per Site User Settings: {{ username }}</h3>
        <div class="well">
            {{ formmacros.field(form.siteName) }}
            {{ formmacros.field(form.permittedInstitutionalPHIScope) }}
            {{ formmacros.field(form.scanOrdersServicesScope) }}
            {{ formmacros.field(form.chiefServices) }}
            {{ formmacros.field(form.defaultService) }}
        </div>


        {% if cicle != "show" and is_granted('ROLE_SCANORDER_ADMIN') %}
            <p>
            <div>
                <button class="btn btn-warning" name="btnSubmit" type="submit">Update</button>
                <a class="btn btn-info" href="{{ path('scan_order_settings_show',{id:userid}) }}" type='button'>Cancel</a>
            </div>
            </p>
        {% endif %}

    {{ form_end(form) }}

    {% if cicle == "show" and is_granted('ROLE_SCANORDER_ADMIN') %}
        <p><a class="btn btn-success" href="{{ path('scan_order_settings_edit',{'id':userid}) }}">Edit</a></p>
    {% endif %}


    <br>
    <p><a href="{{ path('scan_showuser',{'id':userid}) }}">Back to the User's Details </a></p>

{% endblock %}
