{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

<!DOCTYPE html>

<html>

<head>

    {#{% stylesheets#}
        {#'bundles/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
        {#'bundles/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
        {#'bundles/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />

    <title>{{ sitenamefull }} Access Request</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ asset('glyphicons-157-show-thumbnails.png') }}" />

</head>


<body>

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

    <div class="container">

        <div class="text-center">

            {% include 'AppUserdirectoryBundle/Default/navbar.html.twig' with {'minimum': true} %}

            <h2 class="alert alert-info well-lg safary-fix" align="center">{{ sitenamefull }} Access Request</h2>

            {#<br>#}
            {#<p>#}
                {#{{ app.user.getUsername() }} | <a href="{{ path(sitename~'_logout') }}">Logout</a>#}
            {#</p>#}

            <br>

            <p>
            <h3 class="text-info">Welcome to the {{ sitenamefull }}!</h3>
            </p>

            {% if (question is not defined) or (question is defined and not question) %}
                {% set question = "Would you like to receive access to this site?" %}
            {% endif %}

            <p>
                {#<h3 class="text-info">Would you like to receive access to this site?</h3>#}
                <h3 class="text-info">{{ question|raw }}</h3>
            </p>

            {% if description is defined and description %}
                <p>
                    {{ description|raw }}
                </p>
            {% endif %}

            <br><br>

            {#<form action="{{ path(sitename~'_access_request_create') }}" method="post">#}
            {{ form_start(form, {'action': path(sitename~'_access_request_create'), 'method': 'POST'}) }}

                {% if collapsein is not defined %}
                    {% set collapsein = null %}
                {% endif %}

                {% if not collapsein %}
                    <div id="confirm-div">
                    <p>
                        <button class="btn btn-info" type="button" onclick="showDetails();">Yes, please!</button>
                        &nbsp;
                        <a class="btn btn-info" href="{{ path('employees_no_thanks_accessrequest',{"sitename":sitename}) }}">No, thanks!</a>
                    </p>
                    </div>
                {% endif %}

                {#style="display: none"#}
                <div id="details-div" class="collapse {{ collapsein }}">
                    {{ form_errors(form) }}

                    {{ formmacros.field(form.firstName) }}
                    {{ formmacros.field(form.lastName) }}

                    {#{{ formmacros.field(form.email) }}#}
                    {{ usermacros.emailPhoneField(form.email,'edit','email',"") }}

                    {#{{ formmacros.field(form.phone) }}#}
                    {{ usermacros.emailPhoneField(form.phone,'edit','phone',"") }}

                    {#{{ formmacros.field(form.mobilePhone) }}#}
                    {{ usermacros.mobilePhoneField(form,'edit',"") }}

                    {{ formmacros.field(form.job) }}

                    {% if groupnote is defined and groupnote %}
                        <p>{{ groupnote|raw }}</p>
                    {% endif %}

                    {% if form.organizationalGroup is defined %}
                        {{ formmacros.field(form.organizationalGroup) }}
                    {% endif %}

                    {% if reasonnote is defined and reasonnote %}
                        <p>{{ reasonnote|raw }}</p>
                    {% endif %}
                    {{ formmacros.field(form.reason) }}

                    {{ formmacros.field(form.similaruser) }}

                    <p style="padding-top:5px;">
                    {#<div class="row">#}
                        {#<div class="col-xs-6" align="right">#}
                            {#<label>#}
                                {#For reference, please provide the name and contact information of your supervisor or of the person who can confirm the validity of your request below.#}
                            {#</label>#}
                        {#</div>#}
                        {#<div class="col-xs-6" align="left">#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="col-xs-6" align="right">#}
                            {#{{ form_label(form.referencename) }}#}
                        {#</div>#}
                        {#<div class="col-xs-6" align="left">#}
                            {#{{ form_widget(form.referencename) }}#}
                        {#</div>#}
                    {#</div>#}
                        {#<label>#}
                            For reference, please provide the name and contact information of your supervisor
                            or of the person who can confirm the validity of your request below.
                        {#</label>#}
                    </p>

                    {{ formmacros.field(form.referencename) }}
                    {{ formmacros.field(form.referenceemail) }}
                    {{ formmacros.field(form.referencephone) }}


                    <br>
                    <p>
                        <button class="btn btn-info" type="submit">Submit Access Request</button>
                        &nbsp;
                        <a class="btn btn-info" href="{{ path('employees_no_thanks_accessrequest',{"sitename":sitename}) }}">No, thanks!</a>
                    </p>
                </div>

                {{ form_rest(form) }}

            {#</form>#}
            {{ form_end(form) }}

            {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

        </div> <!-- /text-center -->

    </div> <!-- /container -->


    {#{% javascripts#}
        {#'@AppUserdirectoryBundle/Resources/public/form/js/errorwatch.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
        {#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'#}

        {#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}

        {#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/') }}"></script>#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/errorwatch.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>


    <script language="Javascript">

        $(document).ready(function() {

            regularCombobox();
            //customCombobox();
            fieldInputMask();
            expandTextarea();
            initConvertEnterToTab();
            //getComboboxCompositetree();

        });

        function showDetails() {
            $('#confirm-div').hide();
            $('#details-div').collapse('show');
        }

    </script>

</body>

</html>
