{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% elseif sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% elseif sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% elseif sitename == 'translationalresearch' %}
    {% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% elseif sitename == 'dashboard' %}
    {% set extendStr = "AppDashboardBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}

{#This form is used for access request and authorization management#}

{% if accreq is defined and accreq %}
    {% if accreq.status == 0 %}
        {#STATUS_ACTIVE#}
        {% set titleStr = "This user has an active request to access the "~sitenamefull~" site. You can update the role and other details below." %}
    {% elseif accreq.status == 1 %}
        {#STATUS_DECLINED#}
        {% set titleStr = "This user has declined to request access to the "~sitenamefull~" site. You can update the role and other details below." %}
    {% elseif accreq.status == 2 %}
        {#STATUS_APPROVED#}
        {% set titleStr = "This user is already authorized to access the "~sitenamefull~" site. You can update the role and other details below." %}
    {% else %}
        {% set titleStr = "Specify role and accessible data for the user being authorized to access the "~sitenamefull %}
    {% endif %}
{% else %}
    {% set titleStr = "Specify role and accessible data for the user being authorized to access the "~sitenamefull %}
{% endif %}

{% block title %}
    {{ titleStr }}
{% endblock %}



{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppUserdirectoryBundle/Default/userformmacros.html.twig" as userform %}

    <h3 class="text-info">
        {{ titleStr }}
    </h3>

    <br>

    {{ userform.snapshot_steve(entity,sitenameshowuser,'edit') }}

    <hr>

    {% if accreq is defined and accreq %}

        {{ formmacros.simplefield( "Request ID:", accreq.id, "", "disabled" ) }}

        {% set createdate = "" %}
        {% if accreq.createdate %}
            {% set createdate = accreq.createdate|date('Y-m-d H:i') %}
        {% endif %}
        {{ formmacros.simplefield( "Request Date:", createdate, "", "disabled" ) }}

        {{ formmacros.simplefield( "Request Status:", accreq.getStatusStr|capitalize, "", "disabled" ) }}

        {#{{ formmacros.simplefield( "Full Name:", entity.getUsernameOptimal(), "", "disabled" ) }}#}
        {#{{ formmacros.simplefield( "User ID Type:", entity.keytype, "", "disabled" ) }}#}
        {#{{ formmacros.simplefield( "User ID:", entity.primaryPublicUserId, "", "disabled" ) }}#}
        {#{{ formmacros.simplefield( "Email:", entity.primaryPublicUserId, "", "disabled" ) }}#}
        {#{{ formmacros.simplefield( "Phone Number:", entity.preferredPhone, "", "disabled" ) }}#}

        {% set lastLogin = "" %}
        {% if entity.createdate %}
            {% set lastLogin = entity.createdate|date('Y-m-d H:i') %}
        {% endif %}
        {{ formmacros.simplefield( "Last Login:", lastLogin, "", "disabled" ) }}

        {% set updatedate = "" %}
        {% if accreq.createdate %}
            {% set updatedate = accreq.createdate|date('Y-m-d H:i') %}
        {% endif %}
        {{ formmacros.simplefield( "Status Updated On:", updatedate, "", "disabled" ) }}

        {% if accreq.updatedby %}
        {% set updatedby = '<a href="'~path(sitenameshowuser~'_showuser', { 'id': accreq.updatedby.id })~'">'~accreq.updatedby~'</a>' %}
            {{ formmacros.simplefield( "Status Updated By:", updatedby, "", "disabled" ) }}
        {% endif %}

        <hr>
            {#access request details#}
            <p>Access Request Details</p>
            {{ formmacros.simplefield( "First Name:", accreq.firstName, "", "disabled" ) }}
            {{ formmacros.simplefield( "Last Name:", accreq.lastName, "", "disabled" ) }}
            {{ formmacros.simplefield( "Email:", accreq.email, "", "disabled" ) }}
            {{ formmacros.simplefield( "Phone Number:", accreq.phone, "", "disabled" ) }}

            {% if accreq.getMobilePhoneVerified %}
                {% set verifiedStatus = '<span class="text-success">Verified</span>' %}
            {% else %}
                {% set verifiedStatus = '<span class="text-danger">Unverified</span>' %}
            {% endif %}
            {{ formmacros.simplefield( "Mobile Phone Number:", accreq.mobilePhone~" "~verifiedStatus, "", "disabled" ) }}

            {{ formmacros.simplefield( "Job title:", accreq.job, "", "disabled" ) }}
            {{ formmacros.simplefield( "Organizational Group:", accreq.organizationalGroup, "", "disabled" ) }}
            {{ formmacros.simplefield( "Reason for access request:", accreq.reason, "", "disabled" ) }}
            {{ formmacros.simplefield( "Access permissions similar to (user name):", accreq.similaruser, "", "disabled" ) }}
            {{ formmacros.simplefield( "Reference Name:", accreq.referencename, "", "disabled" ) }}
            {{ formmacros.simplefield( "Reference Email:", accreq.referenceemail, "", "disabled" ) }}
            {{ formmacros.simplefield( "Reference Phone Number:", accreq.referencephone, "", "disabled" ) }}
        <hr>
    {% endif %}

    {#{% if accreq is defined %}#}
    {% if routenameshort == 'accessrequest_management' %}
        {% set actionPath = path(sitename~'_accessrequest_management_submit',{'id':accreq.id}) %}
    {% else %}
        {% set actionPath = path(sitename~'_authorization_user_management_submit',{'id':entity.id}) %}
    {% endif %}


    {#<form id="accessrequest_management" action="{{ actionPath }}" method="POST">#}
    {{ form_start(form, {'action': actionPath, 'method': 'POST', 'attr': {'id': 'accessrequest_management'}}) }}

        {#{% if routename == sitename~'_accessrequest_management' %}#}
            {#<div style="display: none">#}
                {#{{ formmacros.field(form.perSiteSettings.permittedInstitutionalPHIScope) }}#}
            {#</div>#}
        {#{% else %}#}
            {{ formmacros.field(form.perSiteSettings.permittedInstitutionalPHIScope) }}
        {#{% endif %}#}

        {{ formmacros.field(form.roles) }}

        {{ formmacros.checkbox(form.emailNotification) }}

        <hr>

        <br>

        <div class="row">

            {#{% if accreq is defined %}#}
            {% if routenameshort == 'accessrequest_management' %}
                <div class="col-xs-6" align="right">
                    {#Approve#}
                    <button name="accessrequest-approve" type='submit' class="btn btn-info btn-sm">Update</button>
                </div>

                <div class="col-xs-6" align="left">
                    {#Deny#}
                    <button
                        name="accessrequest-decline" type='submit' class="btn btn-danger btn-sm"
                        onclick="return confirm('You are about to stop {{ entity }} from being able to log in and use the {{ sitenamefull }} site')"
                    >Revoke</button>
                </div>
            {% else %}

                {% set updateBtnName = "Authorize User's Access" %}
                {% if siteRoles|length > 0 %}
                    {% set updateBtnName = "Update" %}
                {% endif %}

                <div class="col-xs-6" align="right">
                    <button name="accessrequest-approve" type='submit' class="btn btn-info btn-sm">{{ updateBtnName }}</button>
                </div>

                <div class="col-xs-6" align="left">
                    <a class="btn btn-danger btn-sm" href="{{ path(sitename~'_authorized_users') }}">Cancel</a>
                </div>
            {% endif %}

        </div>

    {#</form>#}
    {{ form_end(form) }}


{% endblock %}

{#Snapshot css#}
{% block additionalcss %}
    {#{% stylesheets#}
        {#'bundles/appuserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/steve-snapshot.css') }}" />
{% endblock %}
