{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}

{#This form is used for access request and authorization management#}

{% block title %}
    Add a New Authorized User for {{ sitenamefull }}
{% endblock %}



{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    <h3 class="text-info">
        Add a New Authorized User for {{ sitenamefull }}
    </h3>

    <br>


    <hr>


    <form id="add_authorized_user_form" action="{{ path(sitename~'_add_authorized_user_submit') }}" method="POST">


        {#{{ formmacros.field(form.permittedInstitutionalPHIScope) }}#}
        {#{{ formmacros.field(form_scansettings.permittedInstitutionalPHIScope) }}#}


        <hr>

        <br>

        <div class="row">

            <div class="col-xs-6" align="right">
                <button name="accessrequest-approve" type='submit' class="btn btn-info btn-sm">Update</button>
            </div>

            <div class="col-xs-6" align="left">
                <a class="btn btn-danger btn-sm" href="{{ path(sitename~'_authorized_users') }}">Cancel</a>
            </div>

        </div>

    </form>



{% endblock %}

