{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% elseif sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% elseif sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% elseif sitename == 'translationalresearch' %}
    {% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% elseif sitename == 'dashboard' %}
    {% set extendStr = "AppDashboardBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}



{% block title %}
    Authorized Users for {{ sitenamefull }}
{% endblock %}



{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    {% if filterform is defined %}
        <div class="well form-search">
            {{ form_start(filterform) }}
                <div class="row">
                    <div class="col-xs-2" align="right">
                        {#{{ form_widget(filterform.condition) }}#}
                        {{ form_row(filterform.condition) }}
                    </div>
                    <div class="col-xs-4" align="right">
                        {{ form_widget(filterform.roles) }}
                    </div>
                    <div class="col-xs-4" align="right">
                        {#{{ form_label(filterform.search) }}#}
                        {{ form_widget(filterform.search) }}
                        {#{{ form_row(filterform.search) }}#}
                        {#{{ formmacros.field(filterform.search) }}#}
                    </div>
                    <div class="col-xs-2" align="left">
                        <button id="filter-btn" type="submit" class="btn btn-default">Filter</button>
                    </div>
                </div>
            {{ form_end(filterform) }}
        </div>
    {% endif %}

    <h3 class="text-info">Authorized Users for {{ sitenamefull }}</h3>

    {#<p>#}
        {#<a class="btn btn-default btn-info" href="{{ path(sitenameshowuser~'_add_authorized_user') }}">Add Authorized User</a>#}
    {#</p>#}

    <hr>

    {#<form id="add_authorized_user_form" action="{{ path(sitename~'_add_authorized_user') }}" method="GET">#}
    {{ form_start(form, {'action': path(sitename~'_add_authorized_user'), 'method': 'GET', 'attr': {'id': 'add_authorized_user_form'}}) }}
        {{ formmacros.field(form.keytype) }}
        {{ formmacros.field(form.primaryPublicUserId) }}
        <p>
            <button type='submit' class="btn btn-info btn-sm">Add Authorized User</button>
        </p>
    {#</form>#}
    {{ form_end(form) }}

    <hr>

    <br>

    <table class="table table-hover table-condensed text-left">
        <thead>
        <tr>
            {#<th>{{ knp_pagination_sortable(users, 'User ID', 'user.id') }}</th>#}
            <th>{{ knp_pagination_sortable(users, 'Full Name', 'infos.displayName') }}</th>
            <th>{{ knp_pagination_sortable(users, 'User ID Type', 'keytype.name') }}</th>
            <th>{{ knp_pagination_sortable(users, 'User ID', 'user.primaryPublicUserId') }}</th>
            <th>{{ knp_pagination_sortable(users, 'Email', 'infos.email') }}</th>
            <th>{{ knp_pagination_sortable(users, 'Phone Number', 'infos.preferredPhone') }}</th>
            <th>{{ knp_pagination_sortable(users, 'Mobile Phone Number', 'infos.preferredMobilePhone') }}</th>
            <th>{{ knp_pagination_sortable(users, 'Role(s)', 'user.roles') }}</th>
            <th>{{ knp_pagination_sortable(users, 'Last Login', 'user.lastLogin') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for user in users %}

            <td style="display: none">
                <a href="{{ path(sitename~'_authorization_user_management', { 'id': user.id }) }}" target="_blank">Authorization Management</a>
            </td>
            <td class="rowlink-skip">
                <a href="{{ path(sitenameshowuser~'_showuser', { 'id': user.id }) }}" target="_blank">{{ user }}</a>
            </td>
            <td>{{ user.keytype }}</td>
            <td>{{ user.primaryPublicUserId }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.preferredPhone }}</td>
            <td>{{ user.preferredMobilePhone }}</td>
            <td>
                {% for role in user_security_utility.getUserRolesBySite(user, sitename, true) %}
                    {% if role.name != "ROLE_USER" %}
                        <p>"{{ role.alias }}"</p>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if user.lastLogin %}
                    {{ user.lastLogin|date('Y-m-d H:i') }}
                {% endif %}
            </td>


            <td class="rowlink-skip">

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right">

                        <li>
                            <a href="{{ path(sitenameshowuser~'_showuser', { 'id': user.id }) }}">View User Details</a>
                        </li>

                        <li class="divider"></li>

                        {#<li>#}
                            {#<a href="{{ path(sitename~'_authorization_user_management', { 'id': user.id }) }}">Authorization Management</a>#}
                        {#</li>#}

                        <li>
                            <a general-data-confirm="Are you sure you would like to stop {{ user }} from being able to access {{ sitenamefull }}?"
                               href="{{ path(sitename~'_authorization_remove', { 'userId': user.id }) }}">Revoke Access Authorization
                            </a>
                        </li>

                    </ul>

                </div>


            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}
