{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block maincss %}{% endblock %}
{% block header %}{% endblock %}
{% block mainjs %}{% endblock %}

{% block title %}
    Order - {{ status_code }} {{ status_text }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">

                {#{% set admin_email = render(controller("AppOrderformBundle:SiteParameters:getAdminEmail")) %}#}

                <h1><font face="Tahoma" color="red">{{ status_code }}</font></h1>
                {#<h1>The server returned a "<font face="Tahoma" color="red">{{ status_code }} {{ status_text }}</font></small>".</h1>#}

                <br />

                <p>
                    <h1>
                        The page you are trying to reach does not exist.
                    </h1>
                </p>

                <br />

                <p>
                    <h3>
                        <small>
                            Please verify that the address in your browser's URL bar is correct or press the <a class="btn btn-info" href="javascript:;" onclick="history.go(-1);">BACK</a> button
                            or the <a class="btn btn-info" href="{{ path('main_common_home') }}">HOME</a> button.
                        </small>
                    </h3>
                </p>

                {#<p>#}
                    {#<a class="btn btn-large btn-info" href="javascript:;" onclick="history.go(-1);">BACK</a>#}
                {#</p>#}

                <br />

                <p>
                    <h3>
                        <small>
                            If you believe there may be an issue, please contact the system administrator at <a href="mailto:{{ default_system_email }}?Subject={{ status_code }} {{ status_text }}" target="_top">{{ default_system_email }}</a>.
                        </small>
                    </h3>
                </p>


            </div>
        </div>
    </div>
</div>

{% endblock %}
