{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    <table class="table table-hover table-condensed text-left table-bordered">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>{{ knp_pagination_sortable(projects, 'ID#', 'project.id') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'IRB#', 'project.irbNumber') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Principal Investigator(s)', 'principalInvestigatorsInfos.displayName') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Project Title', 'project.title') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Project Funded', 'project.funded') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Status', 'project.status') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Approval Date', 'project.approvalDate') }}</th>
                {#<th>{{ knp_pagination_sortable(projects, 'Expiration Date', 'project.expirationDate') }}</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">{{ project.id }}</a>
                </td>

                <td>
                    {{ project.irbNumber }}
                </td>

                <td class="rowlink-skip">
                    {% for principalInvestigator in project.principalInvestigators %}
                        {#{{ principalInvestigator }}<br>#}
                        {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':principalInvestigator.id}) %}
                        {% set personlink = '<a href="'~personurl~'" target="_blank">'~principalInvestigator.getUsernameOptimal()~'</a>'  %}
                        {{ personlink|raw }}<br>
                    {% endfor %}
                </td>

                <td>{{ project.title }}</td>

                <td>
                    {% if project.funded %}
                        Funded
                    {% else %}
                        Not Funded
                    {% endif %}
                </td>

                <td>
                    {{ project.status }}
                </td>

                <td>
                    {% if project.approvalDate %}
                        {{ project.approvalDate|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>

                {#<td>#}
                    {#{% if project.expirationDate %}#}
                        {#{{ project.expirationDate|date('Y-m-d H:i:s') }}#}
                    {#{% endif %}#}
                {#</td>#}


                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">Show Project</a>
                            </li>

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}" target="_blank">Edit Project</a>
                            </li>

                            {#TODO: use util to get url for available action#}
                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_to_irb_review', { 'id': project.id }) }}" target="_blank">To IRB Review</a>
                            </li>

                        </ul>

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <p>
        <a class="btn btn-primary" href="{{ path(translationalresearch_sitename~'_project_new') }}">Create a new project</a>
    </p>

{% endblock %}
