{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    <div class="well form-search">
        {{ form_start(filterform) }}
            <div class="row">
                <div class="col-xs-2">
                    {{ form_widget(filterform.projectSpecialty, {'attr': {'placeholder': 'Specialty'}}) }}
                </div>
                <div class="col-xs-4">
                    {{ form_widget(filterform.state,{'attr': {'placeholder': 'State'}}) }}
                </div>
                {#<div class="col-xs-4">#}
                    {#{{ form_widget(filterform.search, {'attr': {'placeholder': 'Search'}}) }}#}
                {#</div>#}
                <div class="col-xs-2">
                    {{ form_widget(filterform.principalInvestigators, {'attr': {'placeholder': 'Principal Investigators'}}) }}
                </div>
                <div class="col-xs-2">
                    {{ form_widget(filterform.submitter, {'attr': {'placeholder': 'Submitter'}}) }}
                </div>
                <div class="col-xs-2">
                    {#<div class="btn-group btn-group-justified">#}
                        {#<div class="btn-group">#}
                            <button type="submit" id="filter-btn" class="btn btn-sm btn-default">Filter</button>
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        {{ form_end(filterform) }}
    </div>
    <br>

    {#<table class="table table-hover table-condensed text-left table-bordered">#}
    <table class="records_list table table-condensed text-left my-table-class">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>{{ knp_pagination_sortable(projects, 'ID#', 'project.oid') }}</th>
                {#<th>{{ knp_pagination_sortable(projects, 'IRB#', 'project.irbNumber') }}</th>#}
                <th>{{ knp_pagination_sortable(projects, 'Principal Investigator(s)', 'principalInvestigatorsInfos.displayName') }}</th>
                <th>
                    {#{{ knp_pagination_sortable(projects, 'Project Title', 'project.title') }}#}
                    Project Title
                </th>
                <th>
                    {#{{ knp_pagination_sortable(projects, 'Project Funded', 'project.funded') }}#}
                    Project Funded
                </th>
                <th>{{ knp_pagination_sortable(projects, 'State', 'project.state') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Approval Date', 'project.approvalDate') }}</th>
                {#<th>{{ knp_pagination_sortable(projects, 'Expiration Date', 'project.expirationDate') }}</th>#}
                <th>Actions</th>
            </tr>
        </thead>

        {% set count = 0 %}
        {% for project in projects %}

            {% if count is odd %}
                {% set trclassname = "table-row-separator-gray" %}
            {% else %}
                {% set trclassname = "table-row-separator-white" %}
            {% endif %}
            {% set count = count + 1 %}

            {#add if state has "_rejected"?#}
            {% if project.state == 'not_approved' or project.state == 'closed' %}
                {% set trclassname = "order-reject-status" %}
            {% endif %}

            <tbody data-link="row" class="rowlink table-tbody-hover" {{ trclassname }}>
            <tr style="border-bottom: 1px solid #C6C6C6;">
                <td>
                    <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">{{ project.oid }}</a>
                </td>

                {#<td>#}
                    {#{{ project.irbNumber }}#}
                {#</td>#}

                <td class="rowlink-skip">
                    {% for principalInvestigator in project.principalInvestigators %}
                        {#{{ principalInvestigator }}<br>#}
                        {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':principalInvestigator.id}) %}
                        {% set personlink = '<a href="'~personurl~'" target="_blank">'~principalInvestigator.getUsernameOptimal()~'</a>'  %}
                        {{ personlink|raw }}<br>
                    {% endfor %}
                </td>

                <td>
                    {#{{ project.title }}#}
                    {{ transres_formnode_util.getProjectFormNodeFieldByName(project,"Title") }}
                </td>

                <td>
                    {#{% if project.funded %}#}
                    {% if transres_formnode_util.getProjectFormNodeFieldByName(project,"Funded") %}
                        Funded
                    {% else %}
                        Not Funded
                    {% endif %}
                </td>

                <td>
                    {#{{ project.state }}#}
                    {{ transres_util.getStateLabelByName(project.state) }}
                </td>

                <td>
                    {% if project.approvalDate %}
                        {{ project.approvalDate|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>

                {#<td>#}
                    {#{% if project.expirationDate %}#}
                        {#{{ project.expirationDate|date('Y-m-d H:i:s') }}#}
                    {#{% endif %}#}
                {#</td>#}


                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">Show Project</a>
                            </li>


                            {% if transres_util.isAdminOrPrimaryReviewer() or transres_util.isProjectReviewer(project) %}
                                {% if transres_util.isProjectStateReviewer(project,app.user) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_review', { 'id': project.id }) }} " target="_blank">Review Project</a>
                                </li>
                                {% endif %}
                            {% endif %}

                            {% if transres_util.isProjectStateRequesterResubmit(project) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_resubmit', { 'id': project.id }) }}" target="_blank">Resubmit Project</a>
                                </li>
                            {% endif %}

                            {#add verification: requester => project is on the draft stage or in the reject stage#}
                            {% if is_granted('ROLE_TRANSRES_ADMIN') or transres_util.isProjectEditableByRequester(project) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}" target="_blank">Edit Project</a>
                                </li>
                            {% endif %}

                            {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
                                {#<li>#}
                                    {#<a href="{{ path(translationalresearch_sitename~'_project_set_state', { 'id': project.id }) }}" target="_blank">Force Set Project State (visible for super admin only for testing only!)</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                            {#{% set actionLinks = transres_util.getProjectReviewLinks(project,app.user) %}#}
                            {#{% if actionLinks|length > 0 %}#}
                                {#<li class="divider"></li>#}
                            {#{% endif %}#}
                            {#{% for actionLink in actionLinks %}#}
                                {#<li>#}
                                    {#{{ actionLink|raw }}#}
                                {#</li>#}
                            {#{% endfor %}#}

                            {#{% if actionLinks|length > 0 %}#}
                                {#<li>#}
                                    {#<a href="{{ path(translationalresearch_sitename~'_project_review', { 'id': project.id }) }}" target="_blank">Review Project</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                            {% if is_granted('ROLE_TRANSRES_REQUESTER') %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_request_new', { 'id': project.id }) }}" target="_blank">Create New Request</a>
                                </li>
                            {% endif %}

                        </ul>

                    </div>
                </td>
            </tr>
            <tr class="table-no-border">
                <td style="display: none">
                    <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">Show/Review Project</a>
                </td>
                {{ user_formnode_utility.getFormNodeHolderShortInfo(project,project.messageCategory,1,trclassname)|raw }}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#{{ render(controller('OlegTranslationalResearchBundle:Project:threadComments', { 'id': "3-9-committee_review" })) }}#}
    {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': "3-9-committee_review"} %}#}

    <br>
    <p>
        <a class="btn btn-primary" href="{{ path(translationalresearch_sitename~'_project_new_selector') }}">Create a new project</a>
    </p>

{% endblock %}
