{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% if project.state == "final_approved" %}
        {#Submit a New Request#}
        {% if transres_request_util.isRequestCanBeCreated(project) == 1 %}
            <a class="btn btn-primary"
               href="{{ path(translationalresearch_sitename~'_request_new', { 'id': project.id }) }}"
               target="_blank">New Work Request</a>
        {% endif %}

        {#See associated requests if the number of associated requests is greater than zero#}
        {% if project.getRequests()|length > 0 %}
            <a class="btn btn-primary"
               href="{{ path(translationalresearch_sitename~'_request_index', { 'id': project.id }) }}"
               target="_blank">Show associated requests</a>
        {% endif %}

        {#See event log#}
        {% if is_granted('ROLE_TRANSRES_ADMIN') %}
            {% if eventObjectTypeId is defined and eventObjectTypeId %}
                <a class="btn btn-primary"
                   href="{{ path('translationalresearch_event-log-per-object_log', { 'filter[objectType][]': eventObjectTypeId, 'filter[objectId]': project.id}) }}"
                   target="_blank">View Event Log</a>
                {#<a class="btn btn-primary"#}
                   {#href="{{ path('translationalresearch_event-log-per-object_log', { 'objectType': eventObjectTypeId, 'objectId': project.id}) }}"#}
                   {#target="_blank">View Event Log</a>#}
            {% endif %}
        {% endif %}
        <br><br>
    {% endif %}

    {% set sitename = translationalresearch_sitename %}

    {#{{ transres.projectHeader(project) }}#}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {{ form_start(form) }}

        {{ transres.projectRequesters(form,project,cycle) }}

        {{ transres.projectBodyFormFields(form,project,cycle) }}

        {{ transres.projectInfo(form,project,cycle) }}

        {{ transres.getProjectShowPrototypeFormData(form,cycle,sitename) }}
        {{ transres.projectReviews(form,cycle,sitename,1) }}

    {{ form_end(form) }}


    <div>

        {#{% if is_granted('ROLE_TRANSRES_ADMIN') %}#}
        {% if is_granted('ROLE_TRANSRES_ADMIN') or transres_util.isProjectEditableByRequester(project) %}
            <br>
            <p>
                <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}">Edit project</a>
            </p>
        {% endif %}
        {#{{ transres.projectHeader(project) }}#}

        <br>
        <br>
        <p>
            <a href="{{ path(translationalresearch_sitename~'_project_index') }}">Back to the list</a>
        </p>

        {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete Project (Visible to Platform Admin only)">
        {{ form_end(delete_form) }}
        {% endif %}

    </div>


{% endblock %}

{% block additionaljs %}
    {% javascripts
    '@OlegTranslationalResearchBundle/Resources/public/form/js/transres.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
