{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% extends extendStr %}


{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% block title %}
    {{ title }}
{% endblock %}



{% block content %}


    <h4 class="text-info" align="center">{{ title }}</h4>
    <h5>{{ note }}</h5>

    {#<br>#}

    {#<p>#}
        {#<a  general-data-confirm="Are you sure? This action will pre-generate cron jobs (Email, Fellowship Import, Unpaid Invoices)."#}
            {#href="{{ path('user_populate_cron_jobs') }}">#}
            {#Pre-generate cron jobs (Email, Fellowship Import, Fellowship Verification, Unpaid Invoices, Project Expiration)</a>#}
    {#</p>#}

    {#<p>#}
        {#<a  general-data-confirm="Are you sure? This action will pre-generate status cron job (check for Maintenance)."#}
            {#href="{{ path('user_populate_cron_status_jobs') }}">#}
            {#Pre-generate status cron job (check for Maintenance)</a>#}
    {#</p>#}

    {#<p>#}
        {#<a  general-data-confirm="Are you sure? This action will pre-generate testing cron job."#}
            {#href="{{ path('user_populate_cron_status_test_jobs') }}">#}
            {#Pre-generate testing cron job (send every 2 minutes testing email to admin) (Optional)</a>#}
    {#</p>#}

    {#<p>#}
        {#<a  general-data-confirm="Are you sure? This action will generate external monitor cron job."#}
            {#href="{{ path('user_generate_cron_externalurlmonitor') }}">#}
            {#Generate external monitor cron job (monitor url on the external server)</a>#}
    {#</p>#}
    {#<p>#}
        {#<a  general-data-confirm="Are you sure? This action will generate independent monitor cron job."#}
            {#href="{{ path('user_generate_cron_independentmonitor') }}">#}
            {#Generate independent monitor cron job (monitor url on this server by python webmonitor.py)</a>#}
    {#</p>#}

    <div class="well">
        <p>
            Email spooling settings
        </p>
    <table class="table table-bordered table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {#<tr>#}
                {#<td class="rowlink-skip" colspan="3" align="center">#}
                    {#<h3>Email spooling settings</h3>#}
                {#</td>#}
            {#</tr>#}
            <tr>
                <td>Use email spooling (Instead of sending every email directly to the SMTP server individually, add outgoing emails to a queue and then periodically send the queued emails. This makes form submission appear faster.)</td>
                <td>
                    {% set mailerSpool = 'No' %}
                    {% if entity.mailerSpool == true %}
                        {% set mailerSpool = 'Yes' %}
                    {% endif %}
                    {{ mailerSpool }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerSpool'}) }}">Edit</a></td>
            </tr>
            <tr>
                {% set cronStatus = user_service_utility.getCronStatus("cron:swift",false) %}
                <td>Frequency of sending emails in the queue (in minutes between eruptions). {{ cronStatus|raw }}</td>
                <td>{{ entity.mailerFlushQueueFrequency }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerFlushQueueFrequency'}) }}">Edit</a></td>
            </tr>
        </tbody>
    </table>
    </div>


    <div class="well">
        <p>
            <a  general-data-confirm="Are you sure? This action will pre-generate cron jobs (Email, Fellowship Import, Unpaid Invoices)."
                href="{{ path('user_populate_cron_jobs') }}">
                Create cron jobs (Email spooling, Fellowship Import, Fellowship Verification, Unpaid Invoices, Project Expiration, Project Sync)</a>
        </p>
        <table class="table table-bordered table-hover table-condensed text-left">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {#Crons#}
            {#<tr>#}
                {#<td class="rowlink-skip" colspan="3" align="center">#}
                    {#<h3>Cron Jobs:</h3>#}
                {#</td>#}
            {#</tr>#}

            {#<tr>#}
                {#<td class="rowlink-skip" colspan="3" align="center">#}
                    {#<a  general-data-confirm="Are you sure? This action will pre-generate cron jobs (Email, Fellowship Import, Unpaid Invoices)."#}
                        {#href="{{ path('user_populate_cron_jobs') }}">#}
                        {#Pre-generate cron jobs (Email spooling, Fellowship Import, Fellowship Verification, Unpaid Invoices, Project Expiration)</a>#}
                {#</td>#}
            {#</tr>#}

            <tr>
                <td>Email spooling cron</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:swift",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:swift'}) }}">Remove</a>
                </td>
            </tr>
            <tr>
                <td>Fellowship Applications Import cron</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:importfellapp",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:importfellapp'}) }}">Remove</a>
                </td>
            </tr>
            <tr>
                <td>Fellowship Applications Verification Import cron</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:verifyimport",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:verifyimport'}) }}">Remove</a>
                </td>
            </tr>
            <tr>
                <td>Unpaid Invoices Reminder Email cron</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:invoice-reminder-emails",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:invoice-reminder-emails'}) }}">Remove</a>
                </td>
            </tr>
            <tr>
                <td>Project Expiration Reminder Email cron</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:expiration-reminder-emails",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:expiration-reminder-emails'}) }}">Remove</a>
                </td>
            </tr>
            <tr>
                <td>Project Sync with public server</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:project-sync",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:project-sync'}) }}">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {#user_populate_cron_status_jobs#}
    <div class="well">
        <p>
            <a  general-data-confirm="Are you sure? This action will pre-generate status cron job (check for Maintenance)."
                href="{{ path('user_populate_cron_status_jobs') }}">
                Create status cron job (check if the system in the maintenance mode)</a>
        </p>
        <table class="table table-bordered table-hover table-condensed text-left well">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                <tr>
                    <td>Status cron (check for Maintenance)</td>
                    <td>
                        {{ user_service_utility.getCronStatus("cron:status",false)|raw }}
                    </td>
                    <td>
                        <a general-data-confirm="Are you sure you would like to remove this cron job?"
                           href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:status'}) }}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {#useradstatus - update users AD status#}
    <div class="well">
        <p>
            <a  general-data-confirm="Are you sure? This action will generate useradstatus cron job (update users AD status)."
                href="{{ path('user_generate_useradstatus_cron') }}">
                Create useradstatus cron job (update users AD status)</a>
        </p>
        <table class="table table-bordered table-hover table-condensed text-left well">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            <tr>
                <td>useradstatus cron (update users AD status)</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:useradstatus",false)|raw }}
                </td>
                <td>
                    <a general-data-confirm="Are you sure you would like to remove this cron job?"
                       href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:useradstatus'}) }}">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {#user_populate_cron_status_test_jobs#}
    <div class="well">
        <p>
            <a  general-data-confirm="Are you sure? This action will pre-generate testing cron job."
                href="{{ path('user_populate_cron_status_test_jobs') }}">
                Create testing cron job (send every 2 minutes testing email to admin) (Optional)</a>
        </p>
        <table class="table table-bordered table-hover table-condensed text-left">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
                <tr>
                    <td>Testing cron job (send every 2 minutes testing email to admin)</td>
                    <td>
                        {{ user_service_utility.getCronStatus("cron:statustest",false)|raw }}
                    </td>
                    <td>
                        <a
                            general-data-confirm="Are you sure you would like to remove this cron job?"
                            href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:statustest'}) }}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="well">
        <p><h4>List of all cron jobs</h4></p>
        {{ user_service_utility.listAllCronJobsLinux()|raw }}
    </div>
    <div class="well">
        <p><h4>Note auto DB backup cron jobs</h4></p>
        {#{{ user_service_utility.listAllCronJobsLinux('postgres')|raw }}#}
        Crontab for postgres is not accessible from web running as apache/web user.<br>
        How to set postgres crotab:<br>
        1) Login as a root<br>
        2) crontab -u postgres -e<br>
        3) press 'I' to edit<br>
        4) append to the bootom of the file:<br>
        0 0-2,4-23 * * * pathto/order-lab/backup/pg_backup.sh "/mnt/pathology/view-backup/db-backup/" "HOURLY" mydbname mydbusername > /var/lib/pgsql/dba/logs/pg_backup_hourly.sh.log 2>&1 <br>
        0 3 * * * pathto/order-lab/backup/pg_backup.sh "/mnt/pathology/view-backup/db-backup/" "DAILY" mydbname mydbusername > /var/lib/pgsql/dba/logs/pg_backup_daily.sh.log 2>&1 <br>
        5) Make sure pg_backup.sh and alert_db files has permission: -rwxr--r-- 1 postgres postgres pg_backup.sh

    </div>

    <div class="well">
        <p>
            All cronjobs for all users
            {{ user_service_utility.listAllCronJobsAllUsersLinux()|raw }}
        </p>
    </div>

{% endblock %}

{% macro cronStatusCreateAuto( backupJsonConfig, configFieldName ) %}
    {% set cronJobNames = user_service_utility.getBackupManageCronLinux(backupJsonConfig) %}
    {% if "Error: invalid json file" in cronJobNames %}
        {{ cronJobNames|raw }}
    {% else %}
        {% for cronJobName in cronJobNames %}
            {#cronJobName={{ cronJobName }}#}
            {{ _self.cronStatusCreate(cronJobName,configFieldName) }}
        {% endfor %}
    {% endif %}
{% endmacro %}
{#configFieldName = 'dbBackupConfig'#}
{% macro cronStatusCreate( cronJobName, configFieldName ) %}
    <table class="table table-bordered table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>Cron job name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            <tr>
                <td class="rowlink-skip">{{ cronJobName }} cron job</td>
                <td class="rowlink-skip">
                    {{ user_service_utility.getCronStatus(cronJobName,false)|raw }}
                </td>

                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a general-data-confirm="Are you sure you would like to remove this cron job?"
                                   href="{{ path('user_remove_cron_job', {'cronJobName': cronJobName}) }}">Remove</a>
                            </li>

                            <li>
                                <a  general-data-confirm="Are you sure? This action will create {{ cronJobName }} cron job."
                                    href="{{ path('user_create_cron_job', {'cronJobName': cronJobName, 'configFieldName': configFieldName}) }}"
                                >Generate {{ cronJobName }} cron job</a>
                            </li>

                        </ul>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% block additionaljs %}

    <script>
        $(document).ready(function () {



        });


    </script>

{% endblock %}
