
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}


<h3 class="text-info">Research</h3>

{{ form_start(edit_form) }}

    {% include 'OlegOrderformBundle::DataReview/orderinfo.html.twig' %}

    {#{{ myform.field(edit_form.projectTitle.name) }}#}
    {#{{ myform.field(edit_form.projectTitle.setTitles) }}#}
    {% do edit_form.projectTitle.setRendered %}

    {{ myform.field(edit_form.principalstr) }}
    {{ myform.field(edit_form.principal) }}

    {{ form(edit_form) }}
    {{ form_rest(edit_form) }}

{{ form_end(edit_form) }}
