
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}


<h3 class="text-info">Research</h3>

{{ form_start(edit_form) }}

    {% include 'OlegOrderformBundle::DataReview/orderinfo.html.twig' %}


    {{ myform.simplefield( "Research Project Title:", entity.projectTitleStr, "input", "disabled" ) }}

    {{ myform.simplefield( "Research Set Title:", entity.setTitleStr, "input", "disabled" ) }}


    {#The goal of this page: user can change primary PI and link PI to a User#}

    <hr>
        {{ myform.field(edit_form.projectTitle.primaryPrincipal) }}
    <hr>

    {% for principal in edit_form.projectTitle.principals %}
        {{ myform.field(principal.name) }}
        {{ myform.field(principal.principal) }}
        <hr>
    {% endfor %}

    <br/>

    {% do edit_form.projectTitle.setRendered %}

    {{ form(edit_form) }}
    {{ form_rest(edit_form) }}

{{ form_end(edit_form) }}
