

    <h3 class="text-info">Research</h3>


    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Lesson</th>
            <th>Principal Investigator</th>
            <th>Principal Investigator (as eneterd by user)</th>
            {#<th>Order ID</th>#}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for research in researches %}

            <tr>
                <td><a href="{{ path('research_edit', { 'id': research.id }) }}">{{ research.id }}</a></td>

                <td>{{ research.project }}</td>

                <td>{{ research.settitle }}</td>


                <td>{{ research.principal }}</td>

                <td>{{ research.principalstr }}</td>

                {#<td>#}
                    {#{{ research.orderinfo.id }}#}
                {#</td>#}


                <td class="rowlink-skip">

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a
                               href="{{ path('research_edit', { 'id': research.id }) }}">Review</a>
                            </li>

                            <li><a
                                href="{{ path('multy_show', { 'id': research.orderinfo.oid }) }}">View Order Content</a>
                            </li>

                        </ul>
                    </div>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
