{% macro simpleDateField(label,value,placeholder) %}

    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            <label>{{ label|raw }}</label>
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">
            <div class="input-group input-group-reg date allow-future-date">
                <input class="form-control form-control-modif not-mapped-simplefield" type="text" value="{{ value }}" placeholder="{{ placeholder }}">
                <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    </p>

{% endmacro %}

{% macro singleDateField(value,placeholder) %}
    <p>
        <div class="input-group input-group-reg date allow-future-date">
            <input class="form-control form-control-modif not-mapped-simplefield" type="text" value="{{ value }}" placeholder="{{ placeholder }}">
            <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </p>
{% endmacro %}


{% macro complexPatient(ID,Active,lastName,firstName,MRN,InOut,HLAA,HLAB,RogosinDate,RogosinPRA,NYBCDate,ProductStatus,Expires) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}

    <tr class="">
        <td> <a href="#">{{ ID }}</a> </td>
        <td>{{ Active }}</td>
        <td>{{ lastName }}</td>
        <td>{{ firstName }}</td>
        <td>{{ MRN }}</td>
        <td>{{ InOut }}</td>
        <td>{{ HLAA }}</td>
        <td>{{ HLAB }}</td>
        <td>{{ RogosinDate }}</td>
        <td>{{ RogosinPRA }}</td>
        <td>{{ NYBCDate }}</td>
        <td>{{ ProductStatus }}</td>
        <td>{{ Expires }}</td>

        <td class="rowlink-skip">

            <!-- Modal -->
            <div class="modal fade" id="edit_{{ ID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close comment_modal_close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-center" id="myModalLabel">Edit Complex Patient ID {{ ID }}</h4>
                        </div>
                        <div class="modal-body">

                            <div id="modal_error_4" class="modal_error_div"></div>

                            <form id="addcomment_form">

                                {{ formmacros.simplefield('Active:',Active,'input') }}
                                {{ formmacros.simplefield('Last Name:',lastName,'input') }}
                                {{ formmacros.simplefield('First Name:',firstName,'input') }}
                                {{ formmacros.simplefield('In/Out:',InOut,'input') }}
                                {{ formmacros.simplefield('HLAA:',HLAA,'input') }}
                                {{ formmacros.simplefield('HLAB:',HLAB,'input') }}
                                {{ calllogmacros.simpleDateField('Rogosin Date:',RogosinDate,'Rogosin Date') }}
                                {{ formmacros.simplefield('RogosinPRA:',RogosinPRA,'input') }}
                                {{ calllogmacros.simpleDateField('NYBC Date:',NYBCDate,'NYBC Date') }}
                                {{ formmacros.simplefield('Product Status:',ProductStatus,'input') }}
                                {{ calllogmacros.simpleDateField('Expires:',Expires,'Expires') }}

                                <div class="center-block">
                                    <input id="edit_{{ ID }}" class="btn btn-primary center-block" type="button" value="Edit"/>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>


                <ul class="dropdown-menu dropdown-menu-right">

                    <li>
                        <a href="#" data-toggle="modal" data-target="#edit_{{ ID }}">Edit</a>
                    </li>

                </ul>

            </div>


        </td>
    </tr>
{% endmacro %}




{% macro patientInfoSection(form,cycle,holderId,title,formtype) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    <div id="{{holderId}}" class="calllog-patient-holder">

    {#form.vars.value.id={{ form.vars.value.id }}#}
    <input type="hidden" id="calllog-patient-id-{{holderId}}" class="calllog-patient-id" value="{{ form.vars.value.id }}" />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-PatientInformation-{{holderId}}">
                    {{ title }}
                </a>
            </h4>
        </div>
        <div id="calllog-PatientInformation-{{holderId}}" class="panel-collapse collapse in">
            <div class="panel-body">

                {{ form_errors(form) }}

                {#{{ form_widget(form.id) }}#}
                {#{{ form_row(form.id) }}#}

                {#Master radio#}
                {% if formtype == 'merge' %}
                    {#<input type="radio" name="gender" value="male"> Male<br>#}
                    <p>
                    <div class="row">
                        <div class="col-xs-6" align="right">
                            <strong>Master Merge Record:</strong>
                        </div>
                        <div class="col-xs-6" align="left">
                            <input type="radio" name="calllog-patient-master-record" value="{{ form.vars.value.id }}" class="calllog-patient-id-radio">
                        </div>
                    </div>
                    </p>
                {% endif %}

                <div class="calllog-search-fields">

                    {% for mrn in form.mrn %}
                        {{ formmacros.field(mrn.keytype) }}
                        {{ formmacros.field(mrn.field) }}
                    {% endfor %}

                    {% for dob in form.dob %}
                        {{ formmacros.fieldDateLabel(dob.field,'regular-datepicker') }}
                    {% endfor %}

                    {% set status = 'Submitted' %}

                    {% for encounter in form.encounter %}
                        <div class="alias-group">
                            {{ formmacros.inputArrayField(encounter.patlastname,cycle,"encounterpatlastname","","","","",status) }}
                            {{ formmacros.inputArrayField(encounter.patfirstname,cycle,"encounterpatfirstname","","","","",status) }}
                        </div>
                    {% endfor %}

                </div>

                {#<a class="collapsed" role="button" data-toggle="collapse" href="#encounter-info">Encounter Info Test</a>#}
                <div id="encounter-info" class="panel-collapse collapse">
                    {% for encounter in form.encounter %}

                        <div class="alias-group">
                            {{ formmacros.inputArrayField(encounter.patmiddlename,cycle,"encounterpatmiddlename","","","","",status) }}
                            {{ formmacros.inputArrayField(encounter.patsuffix,cycle,"encounterpatsuffix","","","","",status) }}
                        </div>
                        {{ formmacros.inputArrayField(encounter.patsex,cycle,"encounterpatsex","","","","",status) }}

                    {% endfor %}
                </div>


                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-2">
                        <button id="search_patient_button" type="button"
                                class="btn btn-lg btn-success span4" align="center"
                                onclick="findCalllogPatient('{{ holderId }}')" style="float:left; width:100%"
                        >Find Patient</button>
                        <button
                                id="reenter_patient_button" type="button"
                                class="btn btn-lg btn-success span4" align="center"
                                onclick="clearCalllogPatient('{{ holderId }}')" style="float:left; width:100%; display:none;"
                        >Re-enter Patient</button>
                    </div>
                    {% if formtype == 'call-entry' %}
                    <div class="col-xs-3">
                        <button
                                id="addnew_patient_button" type="button"
                                class="btn btn-lg btn-success span4" align="center"
                                onclick="addnewCalllogPatient('{{ holderId }}')" style="float:left; width:100%; display:none;"
                        >Add New Patient Registration</button>
                    </div>
                    <div class="col-xs-3">
                        <button
                                id="edit_patient_button" type="button"
                                class="btn btn-lg btn-success span4" align="center"
                                onclick="editPatientBtn('{{ holderId }}')" style="float:left; width:100%; display:none;"
                        >Edit Patient Info</button>
                    </div>
                    {% endif %}
                    <div class="col-xs-5"></div>
                </div>

                <br>

                <div id="calllog-danger-box" class="alert alert-danger" style="display: none; margin-top: 5px;"></div>

                <div id="calllog-matching-patients" style="display: none; margin-top: 5px;"></div>

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-info -->

    </div>

{% endmacro %}

