{#   navigation menu   #}

{% import _self as navbarmacros %}

{% macro searchBoxContent(  patientsearchtype ) %}
    <li>
        <a
                {#href="{{ path(scan_sitename~'_home',{'searchtype':searchtype}) }}">{{ searchtype }}#}
                href="#" onclick="setCallLogSearchtypeAction('{{ patientsearchtype}}');return false;">{{ patientsearchtype}}
        </a>
    </li>
{% endmacro %}

{% block navbar %}

    {#{% set pendingadminreview = render(controller("OlegUserdirectoryBundle:User:pendingAdminReview")) %}#}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_CALLLOG_USER') %}
                <!-- this is for mobile devices - top menu -->
                <a class="navbar-brand visible-xs visible-sm" href="{{ path(calllog_sitename~'_home') }}">Home</a>
            {% endif %}
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">


            {% if is_granted('ROLE_CALLLOG_USER') %}

                <ul class="nav navbar-nav">

                    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
                    {{ usermacros.siteSwitch() }}

                    <li id="nav-bar-callloghome" class="hidden-xs divider-vertical">
                        <a href="{{ path(calllog_sitename~'_home') }}">
                            <span class="glyphicon glyphicon-phone-alt"></span> Home
                        </a>
                    </li>

                    {#<li id="nav-bar-alerts" class="divider-vertical">#}
                        {#{% set alerts = 2 %}#}
                        {#{% if alerts is defined and alerts > 0 %}#}
                            {#<a id="incoming-orders-menu-title" href="{{ path(calllog_sitename~'_alerts') }}">Alerts</a><!--#}
                                            {#--><a id="incoming-orders-menu-badge"#}
                                                  {#class="element-with-tooltip-always"#}
                                                  {#title="Signout Issues" data-toggle="tooltip"#}
                                                  {#data-placement="bottom"#}
                                                  {#href="{{ path(calllog_sitename~'_alerts') }}"#}
                                            {#><span class="badge alert-danger">({{ alerts }} New)</span></a>#}
                        {#{% else %}#}
                            {#<a href="{{ path(calllog_sitename~'_alerts') }}">#}
                                {#Alerts#}
                            {#</a>#}
                        {#{% endif %}#}
                    {#</li>#}

                    <li id="nav-bar-callentry"><a href="{{ path(calllog_sitename~'_callentry') }}">New Entry</a></li>

                    <li id="nav-bar-complexpatientlist"><a href="{{ path(calllog_sitename~'_complex_patient_list') }}">Complex Patients</a></li>

                    <li id="nav-bar-resources"><a href="{{ path(calllog_sitename~'_resources') }}">Resources</a></li>


                    {% if is_granted('ROLE_CALLLOG_DATA_QUALITY') %}

                        <li id="nav-bar-dataquality" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Quality<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path(calllog_sitename~'_edit_patient_record') }}">Edit Patient Info</a></li>
                                <li><a href="{{ path(calllog_sitename~'_merge_patient_records') }}">Merge Patient Records</a></li>
                                <li><a href="{{ path(calllog_sitename~'_unmerge_patient_records') }}">Un-merge Patient Records</a></li>
                                <li><a href="{{ path(calllog_sitename~'_set_master_patient_record') }}">Set master record</a></li>
                            </ul>
                        </li>

                    {% endif %}

                    <li id="nav-bar-myentrees"><a href="{{ path(calllog_sitename~'_my_generation_log') }}">My Entrees</a></li>

                </ul>

            {% endif %}

           

            <ul class="nav navbar-nav navbar-right">

                {#Search in navbar#}
                {% if is_granted('ROLE_CALLLOG_USER') %}

                    <li id="nav-bar-ordersearch">
                        {#Search for a name, service, division, etc#}
                        {% if  patientsearch is not defined %}
                            {% set  patientsearch = "" %}
                        {% endif %}
                        {% if  patientsearchtype is not defined %}
                            {% set  patientsearchtype = 'MRN' %}
                        {% endif %}
                        <form class="navbar-form navbar-left" role="search" id="ordersearchform" name="ordersearchform" action="{{ path(scan_sitename~'_search_patients') }}" method="get">
                            <input type="hidden" id="ordersearchform-searchtype" class="form-control" name="searchtype" value="{{ patientsearchtype }}">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button id="ordersearch-searchtype-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            {{  patientsearchtype }} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {{ navbarmacros.searchBoxContent('MRN or Last Name') }}
                                            {{ navbarmacros.searchBoxContent('MRN') }}
                                            {{ navbarmacros.searchBoxContent("Patient Last Name") }}
                                            {{ navbarmacros.searchBoxContent('Service') }}
                                            {{ navbarmacros.searchBoxContent('Issue Type') }}
                                            {{ navbarmacros.searchBoxContent('Entry full text') }}
                                            {#<li class="divider"></li>#}
                                        </ul>
                                    </div><!-- /btn-group -->
                                    <div class="form-group has-feedback">
                                        <input type="text" id="ordersearchform-search" class="form-control" aria-label="" name="search" value="{{  patientsearch }}" placeholder="">
                                        <span style="top:0;" class="glyphicon glyphicon-search form-control-feedback btn" onclick="setCallLogSearchtypeAction();" aria-hidden="true"></span>
                                    </div>
                                </div><!-- /input-group -->

                            </div>
                        </form>
                    </li>

                {% endif %}


                {% if is_granted('ROLE_CALLLOG_ADMIN') %}

                    <li id="nav-bar-admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path(calllog_sitename~'_accessrequest_list') }}">Access Requests</a></li>
                            <li><a href="{{ path(calllog_sitename~'_authorized_users') }}">Authorized Users</a></li>

                            <li class="divider"></li>
                            <li><a href="{{ path(calllog_sitename~'_logger') }}">Event Log</a></li>

                            {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
                                <li><a href="{{ path('user_admin_index') }}">List Manager</a></li>
                                <li><a href="{{ path('platformlistmanager-list') }}">Platform List Manager</a></li>
                                <li><a href="{{ path(calllog_sitename~'_siteparameters') }}">Site Settings</a></li>
                            {% endif %}

                        </ul>
                    </li>

                {% endif %}



                {% if is_granted('ROLE_CALLLOG_USER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(calllog_sitename~'_showuser', {id:app.security.getToken().getUser().getId()}) }}">My Profile ({{ app.security.getToken().getUser().getUserNameShortStr() }})</a></li>
                            {% endif %}

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(calllog_sitename~'_about_page') }}">About</a></li>
                            {% endif %}

                            <li><a href="{{ path(calllog_sitename~'_logout') }}">Log Out</a></li>

                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}

