{#{% extends '::base.html.twig' %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{% block body -%}

    <h2>Scan Order List</h2>

<a class="btn btn-primary btn-default" data-toggle="modal" href="{{ path('login') }}" data-target="#myModelLogin">Login</a>
<div class="modal hide fade" id="myModelLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Please Login</h3>
</div>
<div class="modal-body"></div>
<div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></div>    
</div>
{#<div id="myModel"></div>#}
    
    <div class="btn_margin_top">
        <form method="get" action="{{ path('orderinfo_new') }}">
            <button type="submit" class="btn btn-primary btn-success">New Order</button>
        </form>
    </div>
    
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                
                <th>Submission Date</th>
                <th>Status</th>
                <th>Order ID</th>
                <th>Accession#</th>  
                <th>Test PatientMRN</th> 
                <th>Total Slides</th>              
                <th>Priority</th>                             
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>             
                <td><a href="{{ path('orderinfo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
{#                    {{ entity.patient.specimen.accession }}#}
                </td>
                <td>{{ entity.patient.count }}</td>
                <td>
{#                    {{ entity.patient.specimen.accession.part.block.slide.count }}#}
                </td>
                <td>{{ entity.priority }}</td> 
                <td>                
                    <a class="btn btn-small btn-info" href="{{ path('orderinfo_show', { 'id': entity.id }) }}">Show</a>
                    <a class="btn btn-small btn-warning" href="{{ path('orderinfo_edit', { 'id': entity.id }) }}">Edit</a>    
                    <a class="btn btn-small btn-danger" href="{{ path('orderinfo_delete', { 'id': entity.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      
{% endblock %}
{% endblock %}