{#{% extends '::base.html.twig' %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% form_theme form 'OlegOrderformBundle:Default:fields.html.twig' %}

{% block content %} 
{% block body -%}

    <h1>Single Scan Order Creation Form</h1>

    <form action="{{ path('orderinfo_create') }}" method="post" {{ form_enctype(form) }}>
        
        <div class="slide_new"> 
            {{ form_errors(form) }}
            {{ form_errors(form_scan) }}                      
            
            {{ form_widget(form.type, {value : 'single'}) }}
            
            {{ form_label(form_scan.slide.accession, '* Accession + Part + Block (i.e. S12-99998 B1)') }} 
            {{ form_widget(form_scan.slide.accession) }}   
            
            {{ form_label(form_scan.slide.part.name) }}
            {{ form_widget(form_scan.slide.part.name) }}        
            {{ form_widget(form_scan.slide.block.name) }}          
            
{#            <div id="stain_label_div">#}
            {{ form_label(form_scan.slide.stain.name) }}
{#            </div>#}
            {{ form_widget(form_scan.slide.stain.name) }}
                      
            {{ form_label(form_scan.mag) }}
            {{ form_widget(form_scan.mag) }} 
            
            {{ form_label(form_scan.slide.part.diagnosis) }}
            {{ form_widget(form_scan.slide.part.diagnosis) }} 
            
            {{ form_label(form_scan.note) }}
            {{ form_widget(form_scan.note) }} 
            
            <div class="btn_margin_top">
                <input type='button' id='next' value='Next' class="btn btn-primary btn-success">       
            </div>
            
            <a class='btn_margin_top btn btn-primary' href="{{ path('orderinfo') }}">Back to the list</a>
            
        </div>

        <div class="slide_new"> 
            
            <div id="orderinfo">
                       
            <h4>Scan Order Info</h4>           
            {{ form_errors(form) }}           
            {{ form_label(form) }}
            {{ form_widget(form) }}
                   
            <p>
                <button class="btn_margin_top btn btn-primary btn-success" type="submit">Submit</button>        
            </p>
            
        </div> 
            
        </div>    
        
        <div class="slide_new">                     
            
            <a id="optional_button" class="btn btn-mini" href="#">options</a>
        
            <div id="optional">
            
                {% if form_rest(form_scan.slide.accession) is not empty %}
                    <h4>Optional Parameters for Accession</h4>
                    {{ form_rest(form_scan.slide.accession) }} 
                {% endif %}
                 
{#                <h4>Optional Parameters for Part</h4>#}
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_part">
                    Optional Parameters for Part
                </button>
                <div id="slide_part" class="collapse">
                    {{ form_rest(form_scan.slide.part) }}
                </div>

                {% if form_rest(form_scan.slide.block) is not empty %}
                    <h4>Optional Parameters for Block</h4>
                    {{ form_rest(form_scan.slide.block) }} 
                {% endif %}

{#                <h4>Optional Parameters for Stain</h4> #}
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_stain">
                    Optional Parameters for Stain
                </button>
                <div id="slide_stain" class="collapse">
                    {{ form_rest(form_scan.slide.stain) }} 
                </div>

                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_slide">
                    Optional Parameters for Slide
                </button>
                <div id="slide_slide" class="collapse">
                    {{ form_rest(form_scan.slide) }} 
                </div>
                    
{#                <h4>Optional Parameters for Scan</h4>#}
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_scan">
                    Optional Parameters for Scan
                </button>
                <div id="slide_scan" class="collapse">
                    {{ form_rest(form_scan) }} 
                </div>                               
                    
                {% if form_rest(form_scan) is not empty and form_rest(form) is not empty%}
                    <h4>All Other Parameters</h4> 
                    {{ form_rest(form) }} 
                    {{ form_rest(form_scan) }}
                {% endif %}
            </div> 
            
        </div>

{% endblock %}
{% endblock %} 