{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Review edit</h1>#}

    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('translationalresearch_review_index',{'stateStr':stateStr}) }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}

{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% set sitename = translationalresearch_sitename %}

    {{ form_start(form) }}

        {{ transres.projectSingleReview(null,form,cycle,'transres-finalreviews','noprototype',sitename,0) }}

        {% if cycle == "edit" %}
            <br>
            <p>
                <input type="submit" class="btn btn-warning" value="Submit" />
                <a class="btn btn-default" href="{{ path('translationalresearch_review_show',{'stateStr':stateStr,'reviewId':review.id}) }}">Cancel</a>
            </p>
            {#<p>#}
                {#<a class="btn btn-primary" href="{{ path('translationalresearch_review_show',{'stateStr':stateStr,'reviewId':review.id}) }}">Cancel</a>#}
            {#</p>#}
        {% endif %}

    {{ form_end(form) }}

    {#<br>#}
    {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}#}
    {#<div id="fos_comment_thread"></div>#}

    {#{% if cycle == "show" and transres_util.isUserAllowedReview(review) and transres_util.isReviewCorrespondsToState(review) %}#}
        {#<br>#}
        {#<p>#}
            {#<a class="btn btn-primary"#}
               {#href="{{ path('translationalresearch_review_edit',{'stateStr':stateStr,'reviewId':review.id}) }}">Edit</a>#}
        {#</p>#}
    {#{% endif %}#}

    <br>
    <br>
    <a href="{{ path('translationalresearch_review_index',{'stateStr':stateStr}) }}">Back to the list</a>

{% endblock %}

{#{% block additionaljs %}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>#}

{#<script language="Javascript">#}

{#//    $(document).ready(function() {#}
{#//#}
{#//    });#}

    {#// Set the thread_id if you want comments to be loaded via ajax (url to thread comments api)#}
    {#var fos_comment_thread_id = 'foo';#}
    {#var fos_comment_thread_api_base_url = 'http://localhost/order/api/threads';//'http://example.org/api/threads';#}

    {#(function() {#}
    {#var fos_comment_script = document.createElement('script');#}
    {#fos_comment_script.async = true;#}
    {#//fos_comment_script.src = 'http://localhost/order/bundles/foscomment/js/comments.js';#}
    {#fos_comment_script.src = '{{ asset('bundles/foscomment/js/comments.js') }}';#}
    {#fos_comment_script.type = 'text/javascript';#}

    {#(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);#}
    {#})();#}

{#</script>#}

{#{% endblock %}#}


