{% extends 'base.html.twig' %}

{% block body %}
    <h1>Irbreview</h1>

    <table>
        <tbody>
            <tr>
                <th>Assignment</th>
                <td>{% if irbReview.assignment %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ irbReview.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ irbReview.type }}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{% if irbReview.createdate %}{{ irbReview.createdate|date('m/d/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedate</th>
                <td>{% if irbReview.updatedate %}{{ irbReview.updatedate|date('m/d/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Decision</th>
                <td>{{ irbReview.decision }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ irbReview.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('translationalresearch_review_index',{'stateStr':stateStr}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('translationalresearch_review_edit', { 'stateStr':stateStr, 'reviewId': irbReview.id }) }}">Edit</a>
        </li>
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
