{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block title %}
    My Orders
{% endblock %}

{% block additionaljs %}
    {#{% javascripts#}
    {#'@AppOrderformBundle/Resources/public/form/js/index-search.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/index-search.js') }}"></script>

{% endblock %}

{% block content %}

    {% if is_granted('ROLE_SCANORDER_PROCESSOR') %}

        <p>
        {% if accountreqs is defined and accountreqs | length > 0 %}
            <a class="text-danger" href="{{ path(scan_sitename~'_accountrequest') }}">Active Account Requests:{{ accountreqs | length }}</a>
        {% endif %}

        {% if (accountreqs is defined and accountreqs | length > 0) and (accessreqs is defined and accessreqs | length > 0) %}
            |
        {% endif %}

        {% if accessreqs is defined and accessreqs | length > 0 %}
            <a class="text-danger" href="{{ path(scan_sitename~'_accessrequest_list') }}">Active Access Requests:{{ accessreqs | length }}</a>
        {% endif %}
        </p>

    {% endif %}

    <form action="{{ path(routename) }}" method="get" class="well form-search">
        <div class="row">
            <div class="col-xs-3">
                {{ form_widget(form.service) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.filter) }}
                {#<button class="btn btn-xs btn-default" type="submit"><i class="icon-filter"></i> Filter by Status</button>#}
            </div>
            <div class="col-xs-4">
                {{ form_widget(form.search) }}
            </div>
            <div class="col-xs-2">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-sm btn-default order-filter-btn"><i class="icon-search"></i>Filter</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

    {#<input type="hidden" id="routeName" value="{{routename}}" />#}
    {#<input type="hidden" id="service" value="{{service}}" />#}
    {#<input type="hidden" id="filter" value="{{filter}}" />#}
    {#<input type="hidden" id="search" value="{{search}}" />#}
    {#<input type="hidden" id="page" value="{{page}}" />#}

    <div id='scanorder-search-parameters'
         data-routename='{{routename}}'
         data-service='{{service}}'
         data-filter='{{filter}}'
         data-search='{{search}}'
         data-page='{{page}}'
    ></div>

    <div class="scanorder-search"></div>

    {#{% for searchObject in searchObjects %}#}
        {#{{ render( controller( 'AppOrderformBundle:ScanOrder:getSearchView', { 'routeName':routename, 'service':service, 'filter':filter, 'search':search, 'searchObject':searchObject, 'page':page } ) ) }}#}
    {#{% endfor %}#}

    {{ render( controller( 'App\\OrderformBundle\\Controller\\ScanOrderController:getSearchAllViewAction', { 'routeName':routename, 'service':service, 'filter':filter, 'search':search, 'searchObjects':searchObjects, 'page':page } ) ) }}


{% endblock %}