{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% if pagination|length > 0 %}

    {#<div class="well well-sm well-info">Orders with {{ searchObjectName }} containing "{{ search }}". Total items count:{{ pagination.getTotalItemCount }}</div>#}
    <div class="well well-sm well-info">Orders with {{ searchObjectName }} containing "{{ search }}"</div>
    {#<h3 class="text-info"> Orders with {{ searchObjectName }} containing {{ search }} </h3>#}

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                
                {% if routename == 'my-scan-orders' %}
                
                    <th{% if pagination.isSorted('message.orderdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'message.orderdate') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status', 'status.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'message.oid') }}</th>
                    {#<th>Slides</th>#}
                    <th>{{ knp_pagination_sortable(pagination, 'Slides', 'slidecount') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Priority', 'message.priority') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Return to', 'message.returnoption') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Category', 'messageCategory.name') }}</th>
                    {% if showprovider is defined and showprovider == 'true' %}
                        <th>{{ knp_pagination_sortable(pagination, 'Submitter', 'provider.username') }}</th>
                    {% endif %}
                
                {% endif %}
                       
                       
                {% if routename == 'incoming-scan-orders' %}
                       
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'message.oid') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Stat', 'message.deadline') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Date', 'message.orderdate') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Submitter', 'provider.username') }}</th>
                    {% if showproxyuser is defined and showproxyuser == 'true' %}
                        <th>{{ knp_pagination_sortable(pagination, 'Ordering Provider', 'proxyuser.username') }}</th>
                    {% endif %}
                    <th>{{ knp_pagination_sortable(pagination, 'Slides', 'slidecount') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Return To', 'destinations.location') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Category', 'messageCategory.name') }}</th>
                    
                {% endif %}
                   
                <th>Actions</th>
            </tr>
        </thead>

        <tbody class="rowlink" data-link="row">

        {#{% for entity in entities %}#}
        {% for entitycomplex in pagination  %}

            {% set entity = entitycomplex|first %}
            {% set trclassname = "" %}
            {% set statAndNotFilled = false  %}
            {% set Filled = "Filled" in entity.status.name %}

            {% if Filled == false and entity.priority == "Stat" %}
                {% set statAndNotFilled = true  %}
            {% endif %}

            {% if routename == 'my-scan-orders' %}   <!-- my-scan-orders -->

                {% if entity.status.name == 'Submitted' or entity.status.name == 'Amended'
                        or entity.status.name == 'On Hold: Slides Received'
                        or entity.status.name == 'Canceled by Submitter'
                %}

                    {#No attention required#}

                {% elseif entity.status.name == 'Filled: Scanned' or entity.status.name == 'Filled: Scanned & Returned' %}

                    {#No attention required - plain completed order#}
                    {% set trclassname = "order-neutral-status" %}

                {% elseif entity.status.action == 'Canceled by Processor' or entity.status.name == 'Filled: Not Scanned' or entity.status.name == 'Filled: Not Scanned & Returned' %}

                    {#urgent attention required#}
                    {% set trclassname = "order-urgent-status" %}

                {% elseif entity.status.action == 'Not Submitted' or entity.status.name == 'Filled: Some Scanned'
                    or entity.status.name == 'Filled: Some Scanned & Returned' or entity.status.name == 'On Hold: Awaiting Slides'
                %}

                    {#some attention required#}
                    {% set trclassname = "order-someattention-status" %}

                {% endif %}

            {% else %}  <!-- incoming-scan-orders -->

                {% if entity.status.name == 'Submitted' %}

                    {#No attention required#}

                {% elseif entity.status.name == 'Filled: Scanned' or entity.status.name == 'Filled: Scanned & Returned'
                    or entity.status.name == 'Filled: Some Scanned' or entity.status.name == 'Filled: Some Scanned & Returned'
                    or entity.status.name == 'Canceled by Processor' or entity.status.name == 'Filled: Not Scanned'
                    or entity.status.name == 'Filled: Not Scanned & Returned' or entity.status.name == 'Not Submitted'
                %}

                    {#No attention required - plain completed order#}
                    {% set trclassname = "order-neutral-status" %}

                {% elseif entity.status.action == 'Amended' or entity.status.name == 'Canceled by Submitter' or statAndNotFilled %}

                    {#urgent attention required#}
                    {% set trclassname = "order-urgent-status" %}

                {% elseif entity.status.action == 'On Hold: Awaiting Slides' or entity.status.name == 'On Hold: Slides Received' %}

                    {#some attention required#}
                    {% set trclassname = "order-someattention-status" %}

                {% endif %}

            {% endif %}

            {#{% set trclassname = "" %}#}

            <tr class="{{ trclassname }}" >

            {% if routename == 'my-scan-orders' %}
                    
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('m/d/Y H:i') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                    <a href="{{ path('multy_show', { 'id': entity.oid }) }}">{{ entity.oid }}</a>
                </td>
                <td>
                    {{ entity.slide|length }}
                </td>
                <td>{{ entity.priority }}</td>            
                <td>
                    {% for destination in entity.destinations %}
                        {{ destination.location }}
                    {% endfor %}
                </td>
                <td>{{ entity.messageCategory }}</td>
                {% if showprovider is defined and showprovider == 'true' %}
                    <td>
                        {% for provider in entity.provider %}
                            {{ provider.getUserNameStr() }}
                        {% endfor %}
                    </td>
                {% endif %}
                    
            {% endif %}
                    
            {% if routename == 'incoming-scan-orders' %}
                                   
                <td>
                    <a href="{{ path('multy_show', { 'id': entity.oid }) }}">{{ entity.oid }}</a>
                </td>
                {% if entity.deadline != '' %}
                    <td>{{ entity.deadline|date('m/d') }}</td>
                {% else %}    
                    <td></td>
                {% endif %}
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('m/d/Y H:i') }}{% endif %}</td>
                <td>{{ entity.provider }}</td>
                {% if showproxyuser is defined and showproxyuser == 'true' %}
                    <td>
                        {% for proxyuser in entity.proxyuser %}
                            {{ proxyuser.getUserNameStr() }}
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ entity.slide|length }}</td> 
                <td>
                    {% for destination in entity.destinations %}
                        {{ destination.location }}
                    {% endfor %}
                </td>
                <td>{{ entity.messageCategory }}</td>
                    
            {% endif %}
                <td class="rowlink-skip">
                    {% include 'AppOrderformBundle/Default/action.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endif %}