{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

<!DOCTYPE html>

<html>

<head>

    {#{% stylesheets#}
        {#'bundles/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
        {#'bundles/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />

    <title>Access Request Confirmation</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ asset('glyphicons-157-show-thumbnails.png') }}" />

</head>


<body>

    <div class="container">

        <div class="text-center">

            {% include 'AppUserdirectoryBundle/Default/navbar.html.twig' with {'minimum': true} %}

            <h2 class="alert alert-info well-lg safary-fix" align="center">{{ app.user.getUserNameStr() }}: Access Request Confirmation</h2>

            <br>

            <br><br><br>

            <p>
                <h3 class="text-info text-center">{{ text }}</h3>
            </p>

            <br><br><br>

            <br>
            <p>
            <a href="{{ path('main_common_home') }}">Return to Main Home Page</a>
            </p>


            {#{% if app.security.getToken() and is_granted('IS_AUTHENTICATED_FULLY') %}#}
                {#<br>#}
                {#<p>#}
                    {#<a href="{{ path('logout') }}">Change User</a>#}
                {#</p>#}
            {#{% endif %}#}


            {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

        </div> <!-- /text-center -->
    </div> <!-- /container -->


    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>