{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% extends extendStr %}


{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    {#<input type="hidden" id="formcycle" value="{{ cycle }}" />#}
    {#<input type="hidden" id="fileId" value="" />#}

    <h4 class="text-info" align="center">{{ title }}</h4>

    <table class="table table-bordered table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Health Monitors:</h3>
                </td>
            </tr>
            <tr>
                <td>Monitor check interval in minutes. If changed, the monitor cron jobs must re-generated</td>
                <td>{{ entity.monitorCheckInterval }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'monitorCheckInterval'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>External server monitor url: view-med checks if view is running (i.e. http://view-test.med.cornell.edu)</td>
                <td>{{ entity.externalMonitorUrl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'externalMonitorUrl'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Monitor independent of Symfony, PHP, Postgresql
                    script to monitor if url on this server is running (help: webmonitor.py -H):
                    <br>python3 path/to/webmonitor.py -l 'url1,url2...'
                    <br>-h mailerhost -o mailerport -u mailerusername -p mailerpassword
                    <br>-s 'sender email' -r 'receiver email1, email2 ...'
                    <br>-c 'sudo systemctl restart postgresql-14, sudo systemctl restart httpd.service'
                    <br>-U 'http://view-test.med.cornell.edu'
                    <br>-e 'server environment or description'
                </td>
                <td>{{ entity.monitorScript }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'monitorScript'}) }}">Edit</a></td>
            </tr>


            <tr>
                <td>External monitor cron job</td>
                <td>
                    {{ user_service_utility.getCronStatus("cron:externalurlmonitor",false)|raw }}
                </td>
                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a
                                    general-data-confirm="Are you sure you would like to remove this cron job?"
                                    href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:externalurlmonitor'}) }}">Remove</a>
                            </li>

                            <li>
                                <a  general-data-confirm="Are you sure? This action will generate external monitor cron job."#}
                                    href="{{ path('user_generate_cron_externalurlmonitor') }}">
                                    Generate external monitor cron job (monitor url on the external server)</a>
                            </li>

                        </ul>

                    </div>
                </td>
            </tr>
            <tr>
                <td>Internal monitor cron job</td>
                <td>
                    {{ user_service_utility.getCronStatus("webmonitor.py",false)|raw }}
                </td>
                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a
                                    general-data-confirm="Are you sure you would like to remove this cron job?"
                                    href="{{ path('user_remove_cron_job', {'cronJobName': 'webmonitor.py'}) }}">Remove</a>
                            </li>
                            <li>
                                <a  general-data-confirm="Are you sure? This action will generate independent monitor cron job."
                                    href="{{ path('user_generate_cron_independentmonitor') }}">
                                    Generate independent monitor cron job (monitor url on this server by python webmonitor.py)</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>



    <div class="well">
        <p>List of all cron jobs</p>
        {{ user_service_utility.listAllCronJobsLinux()|raw }}
    </div>

{% endblock %}


