{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

    {#{% for transferData in transferDatas %}#}
        {#{{ transferData.id }}<br>#}
    {#{% endfor %}#}

    {#TODO: add checkmark to transfer. Similarly as in send-rejection-emails#}

    <table class="table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(entities, 'ID', 'ent.id') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Created', 'ent.creator') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Updated', 'ent.updatedate') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Status', 'ent.transferStatus') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Local ID', 'ent.localId') }}</th>
            {#<th>{{ knp_pagination_sortable(entities, 'Source ID', 'ent.sourceId') }}</th>#}
            {#<th>{{ knp_pagination_sortable(entities, 'Global ID', 'ent.globalId') }}</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Object Class Name', 'ent.className') }}</th>
            <th>Actions</th>
        </tr>
        </thead>

        {#data-link="row" class="rowlink" data-target="a.list-row-mainlink"#}
        <tbody>
        {% for ent in entities %}

            <tr>
                <td>
                    {{ ent.id }}
                </td>

                <td>
                    {{ ent.creator }}
                </td>

                <td>
                    {{ ent.updatedate|date('m/d/Y H:i:s') }}
                </td>

                <td>
                    {{ ent.transferStatus }}
                </td>

                <td>
                    {{ ent.localId }}
                </td>

                {#<td>#}
                    {#{{ ent.sourceId }}#}
                {#</td>#}

                {#<td>#}
                    {#{{ ent.globalId }}#}
                {#</td>#}

                <td>
                    {{ ent.className }}
                </td>


                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            {% if ent.transferStatus|lower == 'ready' %}
                                <li>
                                    <a general-data-confirm="Are you sure you would like to change the status of this transferable to complete?"
                                       href="{{ path('employees_change_status_transfer',
                                       { 'id':ent.id, 'status':'Completed' }) }}">Change status to Complete
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>


    {#Button Transfer#}
    <p>
        <a class="btn btn-danger btn-sm" href="{{ path('employees_start_transfer') }}">Transfer to remote server all listed above objects</a>
    </p>

    <p>
        <a class="btn btn-danger btn-sm" href="{{ path('employees_get_transfer') }}">Get from remote server</a>
    </p>

{% endblock %}


