{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppDeidentifierBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% block title %}
    Deidentifier System
{% endblock %}


{% block content %}


    {% if is_granted('ROLE_DEIDENTIFICATOR_ADMIN') %}
        {% if accessreqs is defined and accessreqs and accessreqs > 0 %}
            <div class="alert alert-warning">
                There are <a href="{{ path(deidentifier_sitename~'_accessrequest_list') }}" target="_blank">{{ accessreqs }} unprocessed access request(s)</a>
            </div>
        {% endif %}
    {% endif %}



    <input type="hidden" id="orderformtype" value="deidentifier" />
    <input type="hidden" id="formcycle" value="new" />



    {% if institutionGen is defined and accessionTypeGen is defined and accessionNumberGen is defined %}
        <div id="deidentifier-data-holder" data-institution="{{institutionGen}}" data-accessionType="{{accessionTypeGen}}" data-accessionNumber="{{accessionNumberGen}}"></div>
    {% endif %}



    {#WCMC-NYP Deidentifier Generator: can generate, but not search#}
    {% if is_granted("create", "Accession") %}

        <form id="deidentifier-generate" action="{{ path('deidentifier_generate') }}" method="get">

            <div class="form-element-holder collapse in accession-holder">
                {{ formmacros.field(form.institution) }}
                {{ formmacros.field(form.accessionType) }}
                {{ formmacros.field(form.accessionNumber) }}
            </div>

            {{ form_rest(form) }}

            {% if msg is defined %}
                <br>
                <br>
                <p class="alert alert-info center-block" align="middle" style="width: 70%;">{{ msg|raw }}</p>
            {% endif %}

            <div id="validationerror" style="padding-top: 2%"></div>

        </form>

        {#<button type="button" class="btn btn-sm btn-primary" onclick="$('#deidentifier-generate').submit();">Generate a New Deidentifier</button>#}
        <button type="button" id="generate-new-deidentifier" class="btn btn-sm btn-primary" onclick="deidentifierValidateAccessionNumber()">Generate a New Specimen Deidentifier ID</button>

    {% endif %}




{% endblock %}





{% block additionaljs %}

    <script>

        $(document).ready(function() {

            //check mask error and disable generate button if error
            isDeidentifierAccessionNumberValid();

            //keyup or input
            $('.deidentifier-generate-accessionNumber').on("keyup", function(e) {
                //console.log("change AccessionNumber");
                isDeidentifierAccessionNumberValid();
            });

            //make mask visible as per #474 (6)
            Inputmask.extendDefaults({
                clearMaskOnLostFocus: false //show mask after hovering over the field
            });

        });

        function deidentifierValidateAccessionNumber() {

            //check mask error again even the button is enabled
            if( !isDeidentifierAccessionNumberValid() ) {
                return false;
            }

            $('#deidentifier-generate').submit();
        }

        function isDeidentifierAccessionNumberValid() {

            var errors = 0;
            var element = $('.deidentifier-generate-accessionNumber');

            var accessionNumberValue = element.val();
            //console.log("accessionNumberValue="+accessionNumberValue);

            if( !accessionNumberValue ) {
                return false;
            }

            var accessionNumberValueClean = accessionNumberValue.replace(/\s/g, '');
            var accessionNumberValueClean = accessionNumberValueClean.replace(/-/g, '');

            if( !accessionNumberValueClean ) {
                errors++;
            }
            //console.log("errors="+errors);

            //var maskerror = $('.maskerror-added');
            if( validateMaskFields() > 0 || errors > 0 ) {
                //console.log("validate Mask Fields => error");

                $("#generate-new-deidentifier").attr("disabled", true);

                //add tooltip saying "Please enter a valid accession number"
                var msg =  "Valid accession numbers must start with up to two letters followed by two digits, then followed by up to six digits with no leading zeros (e.g. SC14-231956).";
                element.tooltip({
                    'title':'Please enter a valid accession number. ' + msg
                });

                return false;
            }

            //console.log("no error");
            //enable button and destroy tooltip
            $("#generate-new-deidentifier").removeAttr("disabled");
            element.tooltip('destroy');

            return true;
        }

    </script>

{% endblock %}
