{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% extends extendStr %}


{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">{{ title }}</h4>

    <br>


    {{ form_start(form) }}

        {{ form_errors(form) }}

        {#{% if form.list.createdate is defined %}#}
            {#{{ formmacros.field(form.list.createdate) }}#}
        {#{% endif %}#}


        <p>
            <button class="btn btn-success" name="btnSubmit" type="submit">Restore</button>
        </p>

    {{ form_end(form) }}


{% endblock %}