{#{% extends "::base.html.twig" %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{#{% block body -%}#}
    
<h2>Order Creation</h2>

<form action="{{ path('orderinfo_create') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.provider) }}
    {{ form_row(form.pathologyService) }}
    {{ form_row(form.priority) }}
    {{ form_row(form.slideDelivery) }}
    {{ form_row(form.returnSlide) }}

    
    <h3>Patient:</h3>
    <ul class="tags" 
{#                    data-prototype-patient="{{ form_widget(form.patient.vars.prototype)|e }}" #}
{#                    data-prototype-specimen="{{ form_widget(form.patient.specimen.vars.prototype)|e }}"      #}
        
                    data-prototype-patient="{{ form_widget(form.patient.vars.prototype.children['specimen'].vars.prototype) | e }}"
                    data-prototype-specimen="{{ form_widget(form.patient.vars.prototype) | e }}"
     >  
        
        {% for patient in form.patient %}
            <li>
                Patient!!!!!!!!{{ form_row(patient) }}
            </li>
            
            {% if patient.specimen is not empty %}
                <h3>Specimen:</h3>
            {% endif %}
            {% for specimen in patient.specimen %}
                <li>
                Specimen!!!!!!!{{ form_row(specimen) }}
                </li>
            {% endfor %}
           
        {% endfor %}                           
    </ul>
    
     {{ form_rest(form) }}


{#    Test cal controller: it works!#}
{#    {% render url('part_new') %}#}
    
    <p>
        <button type="submit">Create Order</button>
    </p>
</form>
    
<a href="{{ path('orderinfo') }}">Back to the list</a>

{% endblock %}    
{#{% endblock %}#}
  