{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block content %}
    <h3 class="text-info">Form Types</h3>

    <table class="records_list table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formtype_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('formtype_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('formtype_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('formtype_new') }}">
        Create a new entry
    </a>

{% endblock %}
