
{% extends "AppVacReqBundle/Default/base.html.twig" %}


{% block title %}
    {{ title }}
{% endblock %}



{% block content %}
    <h4 class="text-info" align="center">
        {{ title }}
        {#<button type="button" class="btn btn-default btn-sm" onClick="importHolidayDates(this)" >Update Now</button>#}
    </h4>

    {#<p>#}
        {#<button type="button" class="btn btn-default btn-sm" onClick="importHolidayDates(this)" >Import Now</button>#}
    {#</p>#}

    {#{% for holiday in holidays %}#}
        {#{{ holiday.getName() }}:#}
        {#{{ holiday.getHolidayDate()|date('Y-m-d') }} -#}
        {#{{ holiday.getHolidayName() }} -#}
        {#Observed by:#}
        {#{% for institution in holiday.getInstitutions() %}#}
            {#{{ institution.getOptimalName() }};#}
        {#{% endfor %}#}

        {#<br>#}
    {#{% endfor %}#}


    <form action="{{ path(routename) }}" method="get" class="well form-search">

        <p>
        <div class="row">

            {#<div class="col-xs-2">#}
                {#<div class="input-group input-group-reg date allow-future-date">#}
                    {#{{ form_widget(vacreqfilter.startdate) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-xs-2">#}
                {#<div class="input-group input-group-reg date allow-future-date">#}
                    {#{{ form_widget(vacreqfilter.enddate) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-xs-2">#}
                {#{{ form_row(vacreqfilter.academicYear) }}#}
            {#</div>#}

            <div class="col-xs-2">
                {#{{ form_row(filterform.years) }}#}
                {{ form_row(filterform.years, {'attr': {'placeholder': 'Years'}}) }}
            </div>

            {#<div class="col-xs-2">#}
                {#{{ form_row(filterform.endYear) }}#}
            {#</div>#}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Display</button>
            </div>

        </div>
        </p>

        {{ form_rest(filterform) }}

    </form>


    <table class="records_list table table-hover table-condensed text-left table-bordered">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'ID', 'holiday.id') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Date', 'holiday.holidayDate') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Name', 'holiday.holidayName') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Organizational Groups', 'holiday.institutions') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Country', 'holiday.country') }}</th>

            <th style="border-left: 2px solid gray;">
                Actions
            </th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in pagination %}

            <tr>

                <td data-toggle="tooltip" data-container="body">
                    <a href="{{ path('vacreqholidays_edit', { 'id': entity.id }) }}">{{ entity.id }}</a>
                </td>

                <td>
                    {{ entity.getHolidayDate()|date('D, M d Y',false) }}
                </td>

                <td>
                    {{ entity.getHolidayName() }}
                </td>

                <td>
                    {% for institution in entity.getInstitutions() %}
                        {{ institution.getOptimalName() }}{% if not loop.last %};{% endif %}
                    {% endfor %}
                </td>

                <td>
                    {{ entity.country }}
                </td>


                {#Action#}
                <td class="rowlink-skip" style="border-left: 2px solid gray;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                {#{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}#}
                                <a href="{{ path('vacreqholidays_edit', { 'id': entity.id }) }}" target="_blank">Edit</a>
                                {#<a href="" target="_blank">Edit</a>#}
                            </li>

                            {#<li>#}
                                {#<a href="{{ path(vacreq_sitename~'_floating_show', { 'id': entity.id }) }}" target="_blank">View/Edit</a>#}
                            {#</li>#}
                            {#/order/index_dev.php/directory/admin/change-list-element-type/disabled/1/vacreqholidays#}
                            {#platform_list_manager_element_change_type#}
                            {#/change-list-element-type/{type}/{entityId}/{pathbase}/{postpath}#}

                        </ul>
                    </div>
                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <p>
        <a class="btn btn-default" href="{{ path('vacreq_update_holiday_dates') }}">Populate the holiday date list with known holidays for the previous 20 and the next 20 years</a>
    </p>

    {#vacreqholidays_new#}
    <a href="{{ path('vacreqholidays_new') }}" target="_blank">Add a new holiday date and name manually</a>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}




{#{% block additionaljs %}#}
    {#<script src="{{ asset('orderassets/AppVacReqBundle/form/js/holidayDays.js') }}"></script>#}
{#{% endblock %}#}

{#{% block additionalcss %}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/fontawesome/css/all.min.css') }}" />#}
{#{% endblock %}#}


{% block additionaljs %}

    {#<script src="{{ asset('orderassets/AppFellAppBundle/form/js/interview-modal.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppFellAppBundle/form/js/rank-modal.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppFellAppBundle/form/js/status-notification-modal.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppFellAppBundle/form/js/send-notification-emails.js') }}"></script>#}

    <script language="Javascript">

        //TODO: when date is set by request, the dates are not changable.
        // Probably, the default dates have to be set by JS

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip({html: true});

            var target = ".datepicker-only-year";
//            var datefilter = $(target).datepicker( {
//                autoclose: true,
//                format: " yyyy",
//                viewMode: "years",
//                minViewMode: "years",
//                orientation: 'auto', //'auto top'
//                multidate: true,
//                clearBtn: true
//            });

//            var date = new Date();
//            date.setFullYear(date.getFullYear() - 10);
//            date.setMonth(0);
//            date.setDate(1);
            var datefilter = $(target).datepicker({
                format: " yyyy",
                inline: false,
                viewMode: "years",
                minViewMode: "years",
                maxViewMode: "years",
                startView: "years",
                multidate: true,
            });

//            var datefilter = $(target).datepicker({
//                autoclose: true,
//                format: "yyyy",
//                viewMode: "years",
//                minViewMode: "years",
//                updateViewDate: true,
//                changeYear: true,
//                multidate: true,
//                clearBtn: true
//                //defaultViewDate: {year: '2014'}
//            });

            //https://stackoverflow.com/questions/15423467/bootstrap-datepicker-today-as-default
            //$(target).datepicker('setDate', new Date());
            //https://stackoverflow.com/questions/50662814/how-to-have-datepicker-set-default-year

            datefilter.data('datepicker').setDates(["2022","2023"]);

        });

    </script>

{% endblock %}

