{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block title %}
    Hierarchy Manager
{% endblock %}

{% block content %}

    <h3 class="text-info">Hierarchy Manager</h3>

    <br>

    {#<p>#}
        {#<a href="{{ path('scan_tree_researchprojecttitles_list') }}">Research Project Titles Management</a>#}
    {#</p>#}

    {#<p>#}
        {#<a href="{{ path('scan_tree_educationalcoursetitles_list') }}">Educational Course Titles Management</a>#}
    {#</p>#}

    {#add to the user-formReady.js: getJstree('UserdirectoryBundle','Institution'); #}

    <p>
        <a href="{{ path('employees_tree_institutiontree_list',filters) }}">Institution Tree Management</a>
    </p>

    <p>
        <a href="{{ path('employees_tree_commenttree_list',filters) }}">Comment Types Tree Management</a>
    </p>

    <p>
        <a href="{{ path('employees_tree_formnode_list',filters) }}">Form Tree Management</a>
    </p>

    <br>

{% endblock %}

