{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}


{% block title %}
    {{ listmanager_title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ listmanager_title }}</h3>

    <br><br>

    <p>
        <a href="{{ path('sourcesystems-list') }}">Source Systems</a>
    </p>

    <p>
        <a href="{{ path('role-list') }}">Roles</a>
    </p>

    <p>
        <a href="{{ path('roleattributes-list') }}">Role Attributes</a>
    </p>

    <p>
        <a href="{{ path('institutiontypes-list') }}">Institution Types</a>
    </p>

    <p>
        <a href="{{ path('institutions-tree-management') }}">Institution Tree Management</a>
    </p>

    <hr>
    <h4 class="text-info">Institution Hierarchy</h4>
    <p>
        <a href="{{ path('institutions-list') }}">Institutions</a>
    </p>

    <p>
        <a href="{{ path('departments-list') }}">Departments</a>
    </p>

    <p>
        <a href="{{ path('divisions-list') }}">Divisions</a>
    </p>

    <p>
        <a href="{{ path('services-list') }}">Services</a>
    </p>
    <hr>


    <p>
        <a href="{{ path('countries-list') }}">Countries</a>
    </p>

    <p>
        <a href="{{ path('states-list') }}">States</a>
    </p>

    <p>
        <a href="{{ path('boardcertifications-list') }}">Board Certified Specialties</a>
    </p>

    <p>
        <a href="{{ path('employmenttypes-list') }}">Employment Types</a>
    </p>

    <p>
        <a href="{{ path('employmentterminations-list') }}">Employment Termination Reasons</a>
    </p>

    <p>
        <a href="{{ path('loggereventtypes-list') }}">Event Log Types</a>
    </p>

    <p>
        <a href="{{ path('usernametypes-list') }}">Primary Public User ID Types</a>
    </p>

    <p>
        <a href="{{ path('documenttypes-list') }}">Document Types</a>
    </p>

    <p>
        <a href="{{ path('identifiers-list') }}">Identifier Types</a>
    </p>

    <p>
        <a href="{{ path('residencytracks-list') }}">Residency Tracks</a>
    </p>

    <p>
        <a href="{{ path('fellowshiptypes-list') }}">Fellowship Types</a>
    </p>

    <p>
        <a href="{{ path('employees_researchlabs_pathaction_list') }}">Research Labs</a>
    </p>

    <p>
        <a href="{{ path('employees_buildings_pathaction_list') }}">Buildings</a>
    </p>

    <p>
        <a href="{{ path('locationtypes-list') }}">Location Types</a>
    </p>

    <p>
        <a href="{{ path('locationprivacy-list') }}">Location Privacy Types</a>
    </p>

    <p>
        <a href="{{ path('employees_locations_pathaction_list') }}">Locations</a>
    </p>

    <p>
        <a href="{{ path('equipmenttypes-list') }}">Equipment Types</a>
    </p>

    <p>
        <a href="{{ path('equipments-list') }}">Equipment</a>
    </p>

    <p>
        <a href="{{ path('rooms-list') }}">Rooms</a>
    </p>

    <p>
        <a href="{{ path('suites-list') }}">Suites</a>
    </p>

    <p>
        <a href="{{ path('floors-list') }}">Floors</a>
    </p>

    <p>
        <a href="{{ path('mailboxes-list') }}">Mailboxes</a>
    </p>

    <p>
        <a href="{{ path('efforts-list') }}">Percent Effort</a>
    </p>

    <p>
        <a href="{{ path('admintitles-list') }}">Administrative Titles</a>
    </p>

    <p>
        <a href="{{ path('apptitles-list') }}">Academic Appointment Titles</a>
    </p>

    <p>
        <a href="{{ path('medicaltitles-list') }}">Medical Titles</a>
    </p>

    <p>
        <a href="{{ path('medicalspecialties-list') }}">Medical Specialties</a>
    </p>



    {#training#}
    <hr>
    <h4 class="text-info">Education</h4>
    <p>
        <a href="{{ path('completionreasons-list') }}">Training Completion Reasons</a>
    </p>

    <p>
        <a href="{{ path('trainingdegrees-list') }}">Academic Degrees</a>
    </p>

    <p>
        <a href="{{ path('trainingmajors-list') }}">Academic Majors</a>
    </p>

    <p>
        <a href="{{ path('trainingminors-list') }}">Academic Minors</a>
    </p>

    <p>
        <a href="{{ path('traininghonors-list') }}">Academic Honors</a>
    </p>
    <hr>

    <p>
        <a href="{{ path('fellowshiptitles-list') }}">Professional Fellowship Titles</a>
    </p>

    <p>
        <a href="{{ path('residencyspecialtys-list') }}">Residency Specialties</a>
        <a href="{{ path('generate_residencyspecialties') }}" style="margin-left: 5px;">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </a>
    </p>

    <p>
        <a href="{{ path('fellowshipsubspecialtys-list') }}">Fellowship Subspecialties</a>
    </p>


    {#grant#}
    <hr>
    <h4 class="text-info">Grants</h4>
    <p>
        <a href="{{ path('sourceorganizations-list') }}">Source Organizations</a>
    </p>
    <p>
        <a href="{{ path('granttitles-list') }}">Grant Titles</a>
    </p>
    <p>
        <a href="{{ path('grantlinks-list') }}">Grant Links</a>
    </p>


    <br>


    {% if environment is not defined %}
        {% set environment = 'dev' %}
    {% endif %}

    <!--show this only for dev. Don't show for live-->
    {% if (is_granted('ROLE_SCANORDER_ADMIN') or is_granted('ROLE_USERDIRECTORY_ADMIN')) and environment == 'dev' %}
        <p><a  data-confirm="Are you sure? This action will overwrite all values on all lists with defaults."
               href="{{ path('user_generate_all') }}">Populate All Lists With Default Values</a>
        </p>
    {% endif %}

    <br>

{% endblock %}

