{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}


{% block title %}
    {{ listmanager_title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ listmanager_title }}</h3>

    <p>
        <a href="{{ path('sourcesystems-list') }}">List of Source Systems</a>
    </p>

    <p>
        <a href="{{ path('role-list') }}">List of Roles</a>
    </p>

    <p>
        <a href="{{ path('roleattributes-list') }}">List of Role Attributes</a>
    </p>

    <p>
        <a href="{{ path('institutiontypes-list') }}">List of Institution Types</a>
    </p>

    <p>
        <a href="{{ path('institutions-tree-management') }}">Institutions Tree Management</a>
    </p>

    <hr>
    <h3 class="text-info">Institution Hierarchy</h3>
    <p>
        <a href="{{ path('institutions-list') }}">List of Institutions</a>
    </p>

    <p>
        <a href="{{ path('departments-list') }}">List of Departments</a>
    </p>

    <p>
        <a href="{{ path('divisions-list') }}">List of Divisions</a>
    </p>

    <p>
        <a href="{{ path('services-list') }}">List of Services</a>
    </p>
    <hr>

    <p>
        <a href="{{ path('states-list') }}">List of States</a>
    </p>

    <p>
        <a href="{{ path('countries-list') }}">List of Countries</a>
    </p>

    <p>
        <a href="{{ path('boardcertifications-list') }}">List of Pathology Board Certified Specialties</a>
    </p>

    <p>
        <a href="{{ path('employmentterminations-list') }}">List of Types of Employment Termination</a>
    </p>

    <p>
        <a href="{{ path('loggereventtypes-list') }}">List of Event Log Types</a>
    </p>

    <p>
        <a href="{{ path('usernametypes-list') }}">List of Primary Public User ID Types</a>
    </p>

    <p>
        <a href="{{ path('documenttypes-list') }}">List of Document Types</a>
    </p>

    <p>
        <a href="{{ path('identifiers-list') }}">List of Identifier Types</a>
    </p>

    <p>
        <a href="{{ path('residencytracks-list') }}">List of Residency Tracks</a>
    </p>

    <p>
        <a href="{{ path('fellowshiptypes-list') }}">List of Fellowship Types</a>
    </p>

    <p>
        <a href="{{ path('employees_researchlabs_pathaction_list') }}">List of Research Labs</a>
    </p>

    <p>
        <a href="{{ path('employees_buildings_pathaction_list') }}">List of Buildings</a>
    </p>

    <p>
        <a href="{{ path('locationtypes-list') }}">List of Location Types</a>
    </p>

    <p>
        <a href="{{ path('locationprivacy-list') }}">List of Location Privacy Types</a>
    </p>

    <p>
        <a href="{{ path('employees_locations_pathaction_list') }}">List of Locations</a>
    </p>

    <p>
        <a href="{{ path('equipmenttypes-list') }}">List of Equipment Types</a>
    </p>

    <p>
        <a href="{{ path('equipments-list') }}">List of Equipment</a>
    </p>

    <p>
        <a href="{{ path('rooms-list') }}">List of Rooms</a>
    </p>

    <p>
        <a href="{{ path('suites-list') }}">List of Suites</a>
    </p>

    <p>
        <a href="{{ path('floors-list') }}">List of Floors</a>
    </p>

    <p>
        <a href="{{ path('mailboxes-list') }}">List of Mailboxes</a>
    </p>

    <p>
        <a href="{{ path('efforts-list') }}">List of Percent Effort</a>
    </p>

    <p>
        <a href="{{ path('admintitles-list') }}">List of Administrative Titles</a>
    </p>

    <p>
        <a href="{{ path('apptitles-list') }}">List of Academic Appointment Titles</a>
    </p>


    {#training#}
    <hr>
    <h3 class="text-info">Trainings</h3>
    <p>
        <a href="{{ path('completionreasons-list') }}">List of Training Completion Reasons</a>
    </p>

    <p>
        <a href="{{ path('trainingdegrees-list') }}">List of Training Degrees</a>
    </p>

    <p>
        <a href="{{ path('trainingmajors-list') }}">List of Training Majors</a>
    </p>

    <p>
        <a href="{{ path('trainingminors-list') }}">List of Training Minors</a>
    </p>

    <p>
        <a href="{{ path('traininghonors-list') }}">List of Training Honors</a>
    </p>
    <hr>

    <p>
        <a href="{{ path('fellowshiptitles-list') }}">List of Professional Fellowship Titles</a>
    </p>

    <p>
        <a href="{{ path('residencyspecialtys-list') }}">List of Residency Specialties</a>
        <br>(<a href="{{ path('generate_residencyspecialties') }}">Generate list of Residency Specialties</a>)
    </p>

    <p>
        <a href="{{ path('fellowshipsubspecialtys-list') }}">List of Fellowship Subspecialties</a>
    </p>

    <br>


    {% if environment is not defined %}
        {% set environment = 'dev' %}
    {% endif %}

    <!--show this only for dev. Don't show for live-->
    {% if (is_granted('ROLE_SCANORDER_ADMIN') or is_granted('ROLE_USERDIRECTORY_ADMIN')) and environment == 'dev' %}
        <p><a  data-confirm="Are you sure? This action will overwrite all values on all lists with defaults."
               href="{{ path('user_generate_all') }}">Populate All Lists With Default Values</a>
        </p>
    {% endif %}

    <br>

{% endblock %}

