

{% if filter is defined and filter != "" %}
    <h3 class="text-info">Results of search for: {{ filter }}</h3>
{% endif %}

<br>
<table class="records_list table table-hover table-condensed text-left">
    <thead>
    <tr>
        <th>{{ knp_pagination_sortable(entities, 'ID', 'user.id') }}</th>
        <th>
            {{ knp_pagination_sortable(entities, 'Service(s)', 'administrativeService.name') }}
        </th>
        <th>{{ knp_pagination_sortable(entities, 'Preferred Full Name for Display', 'user.displayName') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Administrative Title(s)', 'administrativeTitles.name') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Appointment Title(s)', 'appointmentTitles.name') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Expected Current PGY', 'appointmentTitles.pgylevel') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'User ID (CWID)', 'user.username') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Preferred Email', 'user.email') }}</th>
        <th style="min-width: 120px">{{ knp_pagination_sortable(entities, 'Preferred Phone Number', 'user.preferredPhone') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'Room Number(s)', 'locations.room') }}</th>
        <th>
            {{ knp_pagination_sortable(entities, 'Institution(s)', 'administrativeInstitution.name') }}
        </th>

        {% if sitename != employees_sitename %}
            <th>{{ knp_pagination_sortable(entities, 'Role(s)', 'user.roles') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Last Login', 'user.lastLogin') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Locked', 'user.locked') }}</th>
        {% endif %}


        <th>Actions</th>
    </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path( sitename~'_showuser', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>
                {% for service in entity.getServices %}
                    {% if service is defined and service != "" %}
                        "{{ service.name }}"<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ entity.displayName }}</td>
            <td>
                {% for administrativeTitle in entity.administrativeTitles %}
                    {% if administrativeTitle.name %}
                        "{{ administrativeTitle.name }}"<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for appointmentTitles in entity.appointmentTitles %}
                    {% if appointmentTitles.name %}
                        "{{ appointmentTitles.name }}"<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for appointmentTitles in entity.appointmentTitles %}
                    {% set expectedPgy = appointmentTitles.calculateExpectedPgy() %}
                    {% if expectedPgy %}
                        {{ expectedPgy }}<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ entity.username }}</td>
            <td class="rowlink-skip">
                <a href="mailto:{{ entity.email }}" target="_top">{{ entity.email }}</a>
            </td>
            <td class="rowlink-skip">
                {% set valueclean = entity.preferredPhone|replace({('+'): "", (' '): "", (')'): "", ('('): "", ('-'): ""}) %}
                <a href="tel:{{ valueclean }}" target="_top">{{ entity.preferredPhone }}</a>
            </td>
            <td>
                {% for location in entity.locations %}
                    {% if location.room %}
                        {{ location.room }}<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for institution in entity.getinstitutions %}
                    "{{ institution }}"
                {% endfor %}
            </td>

            {% if sitename != employees_sitename %}
                <td>
                    {% for role in entity.roles %}
                        {% if role != "ROLE_USER" %}
                            "{{ attribute(roles, role) }}"
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                <td>
                    {% if entity.locked == 1 %}
                        true
                    {% else %}
                        false
                    {% endif %}
                </td>
            {% endif %}

            <td class="rowlink-skip">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="{{ path(sitename~'_showuser', { 'id': entity.id }) }}">View Details</a></li>


                        {% if is_granted('ROLE_ADMIN') and app.security.getToken().getUser().getId() != entity.id %}

                            {% if entity.locked == 0 %}
                                <li><a data-confirm="Are you sure you want to Lock this user?"
                                       href="{{ path(sitename~'_lockunlock_change', { 'id': entity.id, 'status': 'lock' }) }}">Lock</a>
                                </li>
                            {% else %}
                                <li><a data-confirm="Are you sure you want to Unlock this user?"
                                       href="{{ path(sitename~'_lockunlock_change', { 'id': entity.id, 'status': 'unlock' }) }}">Unlock</a>
                                </li>
                            {% endif %}

                        {% endif %}

                    </ul>

                </div>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>


<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>


{#<a href="{{ path('fos_user_registration_register') }}">#}
    {#Create a new entry#}
{#</a>#}

{#<a href="{{ path('new_user') }}">#}
    {#Create a new user#}
{#</a>#}

<br>
