
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% if entities|length > 0 %}

    {% if search is defined and search != "" %}
        <h3 class="text-info">Results of Employee search for: "{{ search }}"</h3>
    {% endif %}

    {% if filter is defined and filter != "" %}
        <h3 class="text-info">Results of Employee search for: {{ filter }}</h3>
    {% endif %}

    {% if sameusers is defined and sameusers != "" %}
        <h3 class="text-info">Results of Employee search for: {{ sameusers }}</h3>
    {% endif %}

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            {#<th style="display:none">{{ knp_pagination_sortable(entities, 'ID', 'user.id') }}</th>#}
            <th>
                {{ knp_pagination_sortable(entities, 'Institution(s)', 'administrativeInstitution.name') }}
            </th>
            <th>
                {{ knp_pagination_sortable(entities, 'Service(s)', 'administrativeService.name') }}
            </th>
            <th>{{ knp_pagination_sortable(entities, 'Name', 'user.displayName') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Administrative Title(s)', 'administrativeTitles.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Academic Title(s)', 'appointmentTitles.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Expected Current PGY', 'appointmentTitles.pgylevel') }}</th>
            {#<th>{{ knp_pagination_sortable(entities, 'User ID (CWID)', 'user.username') }}</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Preferred Email', 'user.email') }}</th>
            <th style="min-width: 120px">{{ knp_pagination_sortable(entities, 'Preferred Phone Number', 'user.preferredPhone') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'IC(s)', 'locations.ic') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Pager(s)', 'locations.pager') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Room Number(s)', 'locations.room') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Assistant(s)', 'assistant.displayName') }}</th>


            {% if sitename != employees_sitename %}
                <th>{{ knp_pagination_sortable(entities, 'Role(s)', 'user.roles') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Last Login', 'user.lastLogin') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Locked', 'user.locked') }}</th>
            {% endif %}

            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in entities %}

            <tr>
                {#<td style="display:none"><a href="{{ path( sitename~'_showuser', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td class="rowlink-skip">
                    {% for institution in entity.getinstitutions %}
                        <p><a href="{{ path( sitename~'_search_same_object', { 'tablename':'institution','id': institution.id, 'name': institution.__toString() }) }}">{{ institution }}</a></p>
                    {% endfor %}
                </td>
                <td class="rowlink-skip">
                    {% for service in entity.getServices %}
                        {% if service is defined and service != "" %}
                            <p><a href="{{ path( sitename~'_search_same_object', { 'tablename':'service','id': service.id, 'name': service.name }) }}">{{ service.name }}</a></p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td >
                    <a href="{{ path( sitename~'_showuser', { 'id': entity.id }) }}"><strong>{{ entity.displayName }}</strong></a>
                </td>
                <td class="rowlink-skip">
                    {% for administrativeTitle in entity.administrativeTitles %}
                        {% if administrativeTitle.name %}
                            <p><a href="{{ path( sitename~'_search_same_object', { 'tablename':'administrativeTitle','id': administrativeTitle.name, 'name': administrativeTitle.name }) }}">{{ administrativeTitle.name }}</a></p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="rowlink-skip">
                    {% for appointmentTitles in entity.appointmentTitles %}
                        {% if appointmentTitles.name %}
                            <p><a href="{{ path( sitename~'_search_same_object', { 'tablename':'appointmentTitles','id': appointmentTitles.name, 'name': appointmentTitles.name }) }}">{{ appointmentTitles.name }}</a></p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for appointmentTitles in entity.appointmentTitles %}
                        {% set expectedPgy = appointmentTitles.calculateExpectedPgy() %}
                        {% if expectedPgy %}
                            {{ expectedPgy }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                {#<td>{{ entity.primaryPublicUserId }}</td>#}
                <td class="rowlink-skip">
                    <a href="mailto:{{ entity.email }}" target="_top">{{ entity.email }}</a>
                </td>
                <td class="rowlink-skip">
                    {{ usermacros.phoneHref(entity.preferredPhone) }}
                </td>
                <td>
                    {% for location in entity.locations %}
                        {% if location.ic %}
                            {{ location.ic }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for location in entity.locations %}
                        {% if location.pager %}
                            {{ location.pager }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="rowlink-skip">
                    {% for location in entity.locations %}
                        {% if location.room %}
                            <p><a href="{{ path( sitename~'_search_same_object', { 'tablename':'room','id': location.room, 'name': location.room }) }}">{{ location.room }}</a></p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="rowlink-skip">
                    {% for location in entity.locations %}
                        {% if location.assistant %}
                            {% for assistant in location.assistant %}
                                <a href="{{ path(sitename~'_showuser', { 'id': assistant.id }) }}">{{ assistant.getUsernameShortest() }}</a>
                                ({{ location.name }}):
                                {{ usermacros.phoneHref(assistant.preferredPhone) }}
                                {% if assistant.email %}
                                ,
                                {% endif %}
                                <a href="mailto:{{ assistant.email }}" target="_top">{{ assistant.email }}</a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>


                {% if sitename != employees_sitename %}
                    <td>
                        {% for role in entity.roles %}
                            {% if role != "ROLE_USER" %}
                                "{{ attribute(roles, role) }}"
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if entity.locked == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                {% endif %}

                {#<td class="rowlink-skip">#}
                    {#<div class="btn-group">#}
                        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
                            {#Action <span class="caret"></span>#}
                        {#</button>#}

                        {#<ul class="dropdown-menu dropdown-menu-right">#}

                            {#<li><a href="{{ path(sitename~'_showuser', { 'id': entity.id }) }}">View Details</a></li>#}


                            {#{% if is_granted('ROLE_ADMIN') and app.security.getToken().getUser().getId() != entity.id %}#}

                                {#{% if entity.locked == 0 %}#}
                                    {#<li><a data-confirm="Are you sure you want to Lock this user?"#}
                                           {#href="{{ path(sitename~'_lockunlock_change', { 'id': entity.id, 'status': 'lock' }) }}">Lock</a>#}
                                    {#</li>#}
                                {#{% else %}#}
                                    {#<li><a data-confirm="Are you sure you want to Unlock this user?"#}
                                           {#href="{{ path(sitename~'_lockunlock_change', { 'id': entity.id, 'status': 'unlock' }) }}">Unlock</a>#}
                                    {#</li>#}
                                {#{% endif %}#}

                            {#{% endif %}#}

                        {#</ul>#}

                    {#</div>#}
                {#</td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>


    {#<a href="{{ path('fos_user_registration_register') }}">#}
        {#Create a new entry#}
    {#</a>#}

    {#<a href="{{ path('new_user') }}">#}
        {#Create a new user#}
    {#</a>#}

    <br>

{% endif %}
