{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    {% for state in states %}
        {#<p>#}
            {#<a href="{{ path(translationalresearch_sitename~'_state-default-reviewer_index',{'stateStr':state}) }}"#}
            {#>Default Reviewers for {{ transres_util.getStateSimpleLabelByName(state) }}</a>#}
        {#</p>#}

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="{{ state }}~Heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ state }}" aria-expanded="true" aria-controls="reviewBase">
                            <a href="{{ path(translationalresearch_sitename~'_state-default-reviewer_index',{'stateStr':state,'specialtyStr':specialty.getAbbreviation()}) }}"
                            >Reviewers for {{ specialty.getName() }} {{ transres_util.getStateSimpleLabelByName(state) }}</a>
                        </a>
                    </h4>
                </div>
                <div id="{{ state }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ state }}~Heading">
                    <div class="panel-body">
                        {% for defaultReview in transres_util.getDefaultReviewerInfo(state,specialty) %}
                            {{ defaultReview|raw }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}
