{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppCallLogBundle/Default/calllogmacros.html.twig" as calllogmacros %}

{#{% block header %}{% endblock %}#}
{% block content %}

    {#{% set encounterDate = null %}#}
    {#{% set encounterHour = null %}#}
    {#{% set encounterMin = null %}#}
    {% set encounterTimezone = null %}
    {% set encounterDateObject = encounter.obtainValidField('date') %}
    {% if encounterDateObject %}
        {#{% set encounterDate = encounterDateObject.getField()|date("m/d/Y",false) %}#}
        {#{% set encounterHour = encounterDateObject.time|date("h",false) %}#}
        {#{% set encounterMin = encounterDateObject.time|date("i",false) %}#}
        {#{% if encounterHour %}#}
            {#{% set encounterDate = encounterDate ~ " at " ~ encounterHour  %}#}
            {#{% if encounterMin %}#}
                {#{% set encounterDate = encounterDate ~ ":" ~ encounterMin  %}#}
            {#{% endif %}#}
        {#{% endif %}#}
        {% set encounterTimezone = encounterDateObject.timezone %}
    {% endif %}
    {#{{ formmacros.simplefield( "Encounter Date:", encounterDate, "", "disabled" ) }}#}

    {#Encounter Date:#}
    {{ formmacros.simplefield( "Encounter Date:", encounter.obtainEncounterDate(), "", "disabled" ) }}

    {#Timezone:#}
    {{ formmacros.simplefield( "Time zone:", encounterTimezone, "", "disabled" ) }}

    {#Provider:#}
    {{ formmacros.simplefield( "Provider:", encounter.provider, "", "disabled" ) }}

    {#Attending Physician:#}
    {% if encounter.attendingPhysicians|length > 0 %}
        {% for attendingPhysician in encounter.attendingPhysicians %}
            {{ formmacros.simplefield( "Attending Physician:", attendingPhysician, "", "disabled" ) }}
        {% endfor %}
    {% else %}
        {{ formmacros.simplefield( "Attending Physician:", null, "", "disabled" ) }}
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-referringprovider">
                    Healthcare Provider
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-referringprovider" class="panel-collapse collapse in">
            <div class="panel-body">

                {% if encounter.referringProviders|length == 0 %}

                    {{ formmacros.simplefield( "Healthcare Provider Name:", null, "", "disabled" ) }}
                    {{ formmacros.simplefield( "Healthcare Provider Specialty:", null, "", "disabled" ) }}
                    {{ formmacros.simplefield( "Healthcare Provider Phone Number:", null, "", "disabled" ) }}
                    {{ formmacros.simplefield( "Healthcare Provider E-Mail:", null, "", "disabled" ) }}

                {% else %}

                    {#{{ formmacros.inputArrayField(encounter.referringProviders,cycle,"encounterreferringprovider","","","","",status) }}#}
                    {% for referringProvider in encounter.referringProviders %}

                        {#{{ formmacros.field(referringProvider.field) }}#}
                        {{ formmacros.simplefield( "Healthcare Provider Name:", referringProvider.field, "", "disabled" ) }}

                        {#{{ formmacros.field(referringProvider.referringProviderSpecialty) }}#}
                        {{ formmacros.simplefield( "Healthcare Provider Specialty:", referringProvider.referringProviderSpecialty, "", "disabled" ) }}

                        {#{{ formmacros.field(referringProvider.referringProviderPhone) }}#}
                        {{ formmacros.simplefield( "Healthcare Provider Phone Number:", referringProvider.referringProviderPhone, "", "disabled" ) }}

                        {#{{ formmacros.field(referringProvider.referringProviderEmail) }}#}
                        {{ formmacros.simplefield( "Healthcare Provider E-Mail:", referringProvider.referringProviderEmail, "", "disabled" ) }}

                        {{ formmacros.simplefield( "Healthcare Provider Initial Communication:", referringProvider.referringProviderCommunication, "", "disabled" ) }}

                    {% endfor %}

                {% endif %}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-location">
                    Encounter's Location
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-location" class="panel-collapse collapse">
            <div class="panel-body">

                {% if encounter.locationName is defined %}
                    {{ formmacros.simplefield( "Location Name:", encounter.locationName, "", "disabled" ) }}
                {% endif %}

                {% for spot in encounter.tracker.spots %}

                    {% set currentLocation = spot.currentLocation %}

                    {% if currentLocation.locationTypes is defined %}
                        {{ formmacros.simplefield( "Location Type:", currentLocation.locationTypes, "combobox", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.institution is defined %}
                        {{ formmacros.simplefield( "Institution or Collaboration:", currentLocation.institution, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.phone is defined %}
                        {{ formmacros.simplefield( "Phone Number:", currentLocation.phone, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.room is defined %}
                        {{ formmacros.simplefield( "Room Number:", currentLocation.room, "", "disabled" ) }}
                    {% endif %}
                    {#currentLocation.room|length={{ currentLocation.room|length }}<br>#}
                    {#{% for thisRoom in currentLocation.room %}#}
                        {#thisRoom1={{ thisRoom.id }}<br>#}
                    {#{% endfor %}#}
                    {#{% if currentLocation.room is defined %}#}
                        {#{% for thisRoom in currentLocation.room %}#}
                            {#thisRoom2={{ thisRoom }}#}
                        {#{% endfor %}#}
                        {#{{ formmacros.simplefield( "Room Number:", currentLocation.room, "combobox", "disabled" ) }}#}
                    {#{% endif %}#}

                    {#{% for suite in currentLocation.suite %}#}
                        {#suite={{ suite.id }}<br>#}
                    {#{% endfor %}#}
                    {% if currentLocation.suite is defined %}
                        {{ formmacros.simplefield( "Suite:", currentLocation.suite, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.floor is defined %}
                        {{ formmacros.simplefield( "Floor:", currentLocation.floor, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.floorSide is defined %}
                        {{ formmacros.simplefield( "Floor Side:", currentLocation.floorSide, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.building is defined %}
                        {{ formmacros.simplefield( "Building:", currentLocation.building, "", "disabled" ) }}
                    {% endif %}

                    {#geoLocation#}
                    {% set geoLocation = currentLocation.geoLocation %}

                    {% if geoLocation.street1 is defined %}
                        {{ formmacros.simplefield( "Street Address [Line 1]:", geoLocation.street1, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.street2 is defined %}
                        {{ formmacros.simplefield( "Room Number:Street Address [Line 2]:", geoLocation.street2, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.city is defined %}
                        {{ formmacros.simplefield( "City:", geoLocation.city, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.state is defined %}
                        {{ formmacros.simplefield( "State:", geoLocation.state, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.zip is defined %}
                        {{ formmacros.simplefield( "Zip Code:", geoLocation.zip, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.county is defined %}
                        {{ formmacros.simplefield( "County:", geoLocation.county, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.country is defined %}
                        {{ formmacros.simplefield( "Country:", geoLocation.country, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.comment is defined %}
                        {{ formmacros.simplefield( "Comment:", currentLocation.comment, "", "disabled" ) }}
                    {% endif %}

                {% endfor %}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-patient-info">
                    Update Patient Info
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-patient-info" class="panel-collapse collapse">
            <div class="panel-body">

                {{ calllogmacros.calllogInputArray("Patient's Last Name (at the time of encounter):",encounter.patlastname) }}
                {{ calllogmacros.calllogInputArray( "Patient's Last Name (at the time of encounter):", encounter.patlastname) }}
                {{ calllogmacros.calllogInputArray( "Patient's First Name (at the time of encounter):", encounter.patfirstname) }}
                {{ calllogmacros.calllogInputArray( "Patient's Middle Name (at the time of encounter):", encounter.patmiddlename) }}
                {{ calllogmacros.calllogInputArray( "Patient's Suffix (at the time of encounter):", encounter.patsuffix) }}
                {{ calllogmacros.calllogInputArray( "Patient's Gender (at the time of encounter):", encounter.patsex) }}

                {#{{ formmacros.simplefield( "Date of Birth:", encounter.getPatient.getDob|date("m/d/Y"), "", "disabled" ) }}#}
                {#{{ formmacros.fieldDateLabel(encounter.patientDob,'regular-datepicker') }}#}

                {% set patient = encounter.getPatient() %}
                {% if patient %}
                    {% set dob = patient.obtainValidField('dob') %}
                    {% if dob and dob.field %}
                        {{ formmacros.simplefield( "Date of Birth:", dob.field|date('m/d/Y',false), "", "disabled" ) }}
                    {% else %}
                        {{ formmacros.simplefield( "Date of Birth:", null, "", "disabled" ) }}
                    {% endif %}
                {% else %}
                    {{ formmacros.simplefield( "Date of Birth:", null, "", "disabled" ) }}
                {% endif %}


            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->

{% endblock %}

{% block additionaljs %}

    {#<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>#}

    <script language="Javascript">


        $(document).ready(function() {

            //init
            var holder = $("#calllog-message-encounter-previous");
            regularCombobox(holder);

        });


    </script>
{% endblock %}

 
    
   