

{% macro interviewForm( interview, cycle, classname, prototype, sitename, showAddDeleteBtn ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegFellAppBundle::Default/fellappmacros.html.twig" as fellappmacros %}

    {% if showAddDeleteBtn is not defined %}
        {% set showAddDeleteBtn = 0 %}
    {% endif %}

    {% if prototype == "prototype" %}
        {% set forminterview = interview.vars.prototype %}
    {% else %}
        {% set forminterview = interview %}
    {% endif %}

    {% set wellclass = "alert-default well well-sm" %}

    <div class="user-collection-holder alert {{ classname }} {{ wellclass }}">
        {% if cycle != "show" and showAddDeleteBtn %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <br>
        {% endif %}

        {{ formmacros.field(forminterview.interviewer) }}

        {{ formmacros.field(forminterview.location) }}

        {{ formmacros.fieldDateLabel(forminterview.interviewDate,'allow-future-date') }}
        {{ formmacros.field(forminterview.startTime) }}
        {{ formmacros.field(forminterview.endTime) }}

        {#{{ formmacros.field(forminterview.academicRank) }}#}

        {#{{ formmacros.field(forminterview.personalityRank) }}#}

        {#{{ formmacros.field(forminterview.potentialRank) }}#}

        {#{{ formmacros.field(forminterview.totalRank) }}#}

        {#{{ formmacros.field(forminterview.comment) }}#}

        {#{{ formmacros.field(forminterview.languageProficiency) }}#}
        {{ fellappmacros.interviewMainForm( forminterview ) }}

    </div>

{% endmacro %}

{% macro interviewMainForm( forminterview ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {{ formmacros.field(forminterview.academicRank) }}

    {{ formmacros.field(forminterview.personalityRank) }}

    {{ formmacros.field(forminterview.potentialRank) }}

    {{ formmacros.field(forminterview.totalRank) }}

    {{ formmacros.field(forminterview.comment) }}

    {{ formmacros.field(forminterview.languageProficiency) }}

{% endmacro %}


{% macro snapshot( fellapp, sitename, cycle ) %}

    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <h1>
        {% if is_granted('ROLE_PLATFORM_DEMO') %}
            Demo Applicant
        {% else %}
            {{ fellapp.user.getUsernameOptimal }}
        {% endif %}
    </h1>

    {#avatar#}
    <div class="row">
        <div class="text-center col-md-2 col-md-offset-5">
            {#avatar form modal#}
            {% if fellapp.avatars|length > 0 and not is_granted('ROLE_PLATFORM_DEMO') %}
                {{ usermacros.showDocumentAsImage(fellapp.avatars|last,'Avatar','') }}
            {% else %}
                {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
            {% endif %}
        </div>
    </div>


{% endmacro %}



{#It is not used and it does not work: fix it#}
{% macro addBadge( filter, currentYear, currentYearCount, totalCount, statusName ) %}

    {% set filterStatus = "'filter["~statusName~"]'" %}
    {% set paramsCurrentYear = "'filter["~statusName~"]':1, 'filter[filter]':"~filter~",'filter[startDate]':"~currentYear %}
    {% set paramsCurrentYear = "'filter["~statusName~"]':1, 'filter[startDate]':"~currentYear %}

    {% set paramsCurrentYear = [] %}
    {% set paramsCurrentYear = paramsCurrentYear|merge(["'filter["~statusName~"]':1"])  %}

    paramsCurrentYear={{ paramsCurrentYear }}<br>
    {% set paramsTotal = "'filter["~statusName~"]':1, 'filter[filter]':filter,'filter[startDate]':"~currentYear %}

    {#href="{{ path('fellapp_home',{'filter[complete]':1,'filter[filter]':filter,'filter[startDate]':currentYear}) }}"#}

    <span class="badge" data-toggle="tooltip" title="for {{ currentYear }}">
        <a style="color: white;" href="{{ path('fellapp_home',{filterStatus:1,'filter[filter]':filter,'filter[startDate]':currentYear}) }}">
            {{ currentYearCount }}
        </a>
    </span>

    {#&nbsp;/&nbsp;#}
    /

    <span class="badge" data-toggle="tooltip" title="Total">
        <a style="color: white;" href="{{ path('fellapp_home',{ filterStatus:1,'filter[filter]':filter}) }}">
            {{ totalCount }}
        </a>
    </span>

{% endmacro %}


{% macro addSlush() %}
    {#&nbsp;/&nbsp;#}
    /
{% endmacro %}

{% macro addLegend(status) %}
    {#&nbsp;/&nbsp;#}
    {#/#}
    <div class="fell-app-status-legend fell-app-status-legend-{{ status }}">&nbsp&nbsp</div>
{% endmacro %}
    
    
{% macro addInterviewsModal(fellapp,interviewsArr,interviewsAwaitingArr) %}
    
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    
    <!-- Modal -->
    <div class="modal fade" id="interview-info-{{fellapp.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                 
                {% if is_granted('ROLE_PLATFORM_DEMO') %}
                    {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                    <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                {% else %}
                    {% if fellapp.avatars|length > 0 %}                       
                        <div style="height: 120px; width: 120px;">                           
                            {{ usermacros.showDocumentAsImage(fellapp.avatars|last,'Avatar','') }}
                        </div>
{#                        <a href="{{ fellapp.avatars.getAbsoluteUploadFullPath }}">#}
{#                            <div style="height: 120px; width: 120px;">                           #}
{#                            {{ usermacros.showDocumentAsImage(fellapp.avatars|last,'Avatar','') }}#}
{#                            </div>#}
{#                        </a>#}
                    {% endif %}
                {% endif %}
                
                Interview Evaluations<br>
                {% if is_granted('ROLE_PLATFORM_DEMO') %}
                    Applicant Demo
                {% else %}
                    
                    <a href="{{ path('fellapp_show', { 'id': fellapp.id }) }}" target="_blank">
                        ID {{ fellapp.id }}: {{ fellapp.user.getLastNameUppercase() }} {{ fellapp.user.getFirstNameUppercase() }}
                    </a>
                    
                    {% set degree = fellapp.getDegreeByTrainingTypeName('Medical') %}
                    {% if degree %}
                        , {{ degree }}
                    {% endif %}
                    
                    {% if fellapp.fellowshipSubspecialty %}
                        ({{  fellapp.fellowshipSubspecialty.name }})
                    {% endif %}                                         
                        
                    {% set medschool = fellapp.getSchoolByTrainingTypeName('Medical') %}
                    {% if medschool %}
                        <br>Medical School: {{ medschool }}
                    {% endif %}
                        
                    {% set resschool = fellapp.getSchoolByTrainingTypeName('Residency') %}
                    {% if resschool %}
                        <br>Residency: {{ resschool }}
                    {% endif %} 
                          
                    {% set usmleArr = fellapp.getUsmleArr() %}
                    {% if usmleArr|length > 0 %}
                        <br>USMLE: {{ usmleArr|join(' / ') }}
                    {% endif %} 
                        
                    {% set comlexArr = fellapp.getComlexArr() %}
                    {% if comlexArr|length > 0 %}                       
                        <br>COMLEX: {{ comlexArr|join(' / ') }}
                    {% endif %}     
                        
                {% endif %}                                                                
                
            </h4>
          </div>
          <div class="modal-body">
            
              {% if is_granted('ROLE_PLATFORM_DEMO') %}
                    Interview Evaluation Scores and Comments
              {% else %}
                    {% for interview in interviewsArr %}
                         {{ interview|raw }} <br><br>
                    {% endfor %} 
                         
                    <br>
                    {% if interviewsAwaitingArr|length > 0 %}
                        {% set interviewerCounter = 1 %}
                        <p>
                            Awaiting evaluations from 
                            {% for interviewer in interviewsAwaitingArr %}                               
                                <a href="{{ path('employees_showuser', { 'id': interviewer.id }) }}" target="_blank">
                                    {{ interviewer.getUsernameOptimal() }}
                                </a>
                                {% if interviewsAwaitingArr|length > interviewerCounter %}
                                    , 
                                {% endif %}
                                {% set interviewerCounter = interviewerCounter + 1 %}
                            {% endfor %}
                        </p>
                                               
                        <p>
                            <a
                                general-data-confirm="Are you sure you want to Invite Interviewers to Rate this Applicant? Email will be sent to the interviewers who still have not submitted their scores."
                                general-data-callback="refreshpage"
                                href="{{ path('fellapp_inviteinterviewerstorate', { 'id': fellapp.id}, true) }}">Invite these interviewers to submit evaluations
                            </a>
                            {% if fellapp.daysAfterInterviewDate() and fellapp.daysAfterInterviewDate() > 0 %}
                                <b>(Interview date was {{ fellapp.interviewDate|date('m/d/Y','UTC') }}, {{ fellapp.daysAfterInterviewDate()|abs }} days ago).</b>
                            {% endif %}
                        </p>
                    {% endif %}  
                         
              {% endif %}     
              
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>
    
{% endmacro %}    
