{% set urltype = "home" %}

{% extends "OlegFellAppBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}


{% block title %}
    Fellowship Applications
{% endblock %}


{% block content %}

<p>

    {% if is_granted('ROLE_FELLAPP_ADMIN') %}
        {% if accessreqs and accessreqs > 0 %}
            <div class="alert alert-warning">
                There are <a href="{{ path(fellapp_sitename~'_accessrequest_list') }}">{{ accessreqs }} unprocessed access request(s)</a>
            </div>
        {% endif %}
    {% endif %}

    <p>
        Completed:{{ completedTotal }} ({{ completed }} for {{ currentYear }})
        Interviewee:{{ intervieweeTotal }} ({{ interviewee }} for {{ currentYear }})
        Active:{{ activeTotal }} ({{ active }} for {{ currentYear }})
        Hidden:{{ hiddenTotal }} ({{ hidden }} for {{ currentYear }})
        Archived:{{ archivedTotal }} ({{ archived }} for {{ currentYear }})
        <i>Last succesful import: {{ lastImportTimestamp|date('m/d/Y h:i A') }} {{ serverTimeZone }}</i>
    </p>

    {#{% if searchFlag %}#}
        {#{% set resStr = "Applications matching search criteria" %}#}
    {#{% else %}#}
        {#{% set resStr = "Total" %}#}
    {#{% endif %}#}

    {% set resStr = "Applications matching search criteria" %}

    {% if lastImportTimestamp %}
        <p>
            <b>{{ resStr }}: {{ entities.getTotalItemCount }}</b>
        </p>
    {% endif %}

    {#<p>#}
        {#<a href="{{ path('fellapp_import') }}">Import from Google</a>#}
    {#</p>#}

    {#<p>#}
        {#<a href="{{ path('fellapp_populate') }}">Populate the Spreadsheet</a>#}
    {#</p>#}

    <p>
        <form action="{{ path('fellapp_home') }}" method="get" {{ form_enctype(fellappfilter) }} class="well form-search">

            <div class="row">
                <div class="col-xs-2">
                    {#{{ formmacros.fieldDateLabel_vertical(fellappfilter.startDate,'allow-future-date') }}#}
                    {#<div class="input-group input-group-reg date allow-future-date">#}
                        {#{{ form_row(fellappfilter.startDate, {'attr': {'placeholder': 'Start Year'}}) }}#}
                        {#<span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>#}
                    {#</div>#}

                    {{ form_row(fellappfilter.startDate, {'attr': {'placeholder': 'Start Year'}}) }}

                </div>
                {#<div class="col-xs-2">#}
                    {#{{ formmacros.fieldDateLabel_vertical(fellappfilter.endDate,'allow-future-date') }}#}
                {#</div>#}
                <div class="col-xs-4">
                    {{ form_row(fellappfilter.filter,{'attr': {'placeholder': 'Fellowship Type'}}) }}
                </div>
                <div class="col-xs-4">
                    {{ form_row(fellappfilter.search, {'attr': {'placeholder': 'Search'}}) }}
                </div>
                <div class="col-xs-2">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm btn-default fellapp-filter-btn"><i class="icon-search"></i>Filter</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row text-center">
                <div class="col-xs-2">
                    {{ form_widget(fellappfilter.active) }}   {{ form_label(fellappfilter.active) }}
                </div>
                <div class="col-xs-2">
                    {{ form_widget(fellappfilter.completed) }}   {{ form_label(fellappfilter.completed) }}
                </div>
                <div class="col-xs-2">
                    {{ form_widget(fellappfilter.interviewee) }}   {{ form_label(fellappfilter.interviewee) }}
                </div>
                <div class="col-xs-2">
                    {{ form_widget(fellappfilter.hidden) }}   {{ form_label(fellappfilter.hidden) }}
                </div>
                <div class="col-xs-2">
                    {{ form_widget(fellappfilter.archived) }}   {{ form_label(fellappfilter.archived) }}
                </div>
            </div>

            {{ form_rest(fellappfilter) }}
        </form>
    </p>

    {% set trclassname = "" %}

    <div style="margin-top:25px;">

        <table class="records_list table table-hover table-condensed text-left">
            <thead>
            <tr>

                {#<th {% if entities.isSorted('fellapp.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'ID', 'fellapp.id') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Status', 'fellapp.applicationStatus') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Created', 'fellapp.timestamp') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Fellowship Type', 'fellowshipSubspecialty.name') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Start Date', 'fellapp.startDate') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'ID', 'fellapp.id') }}</th>
                <th>Photo</th>
                <th>{{ knp_pagination_sortable(entities, 'Last Name', 'applicantinfos.lastName') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'First Name', 'applicantinfos.firstName') }}</th>

                <th>{{ knp_pagination_sortable(entities, 'U1', 'examinations.USMLEStep1Score') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'U2', 'examinations.USMLEStep2CKScore') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'U3', 'examinations.USMLEStep3Score') }}</th>

                <th>{{ knp_pagination_sortable(entities, 'C1', 'examinations.COMLEXLevel1Score') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'C2', 'examinations.COMLEXLevel2Score') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'C3', 'examinations.COMLEXLevel3Score') }}</th>

                <th>{{ knp_pagination_sortable(entities, 'Interview Score', 'fellapp.interviewScore') }}</th>

                {% if is_granted('ROLE_FELLAPP_ADMIN') %}
                <th>
                    Actions
                </th>
                {% endif %}

            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">

            {% for entity in entities %}

                {% set trclassname = "" %}

                {% if entity.applicationStatus == 'archive' %}
                    {#No attention required - plain completed order#}
                    {#{% set trclassname = "action-cancel-status" %}#}
                    {% set trclassname = "info" %}
                {% endif %}

                {% if entity.applicationStatus == 'hide' %}
                    {#urgent attention required#}
                    {#{% set trclassname = "order-urgent-status" %}#}
                    {% set trclassname = "danger" %}
                {% endif %}

                {% if entity.applicationStatus == 'complete' %}
                    {#urgent attention required#}
                    {#{% set trclassname = "order-neutral-status" %}#}
                    {% set trclassname = "order-neutral-status" %}
                {% endif %}

                {% set u1 = "" %}
                {% set u2 = "" %}
                {% set u3 = "" %}
                {% set c1 = "" %}
                {% set c2 = "" %}
                {% set c3 = "" %}
                {% for examination in entity.user.credentials.examinations %}
                    {% set u1 = examination.USMLEStep1Score %}
                    {% set u2 = examination.USMLEStep2CKScore %}
                    {% set u3 = examination.USMLEStep3Score %}
                    {% set c1 = examination.COMLEXLevel1Score %}
                    {% set c2 = examination.COMLEXLevel2Score %}
                    {% set c3 = examination.COMLEXLevel3Score %}
                {% endfor %}


                <tr class="{{ trclassname }}">

                    <td>
                        {{  entity.fellowshipSubspecialty.name }}
                    </td>

                    <td>
                        {{ entity.startDate|date('m/d/Y') }}
                    </td>

                    <td>
                        <a href="{{ path(pathbase~'_show', { 'id': entity.id }) }}" target="_blank">{{ entity.id }}</a>
                    </td>

                    <td>
                        {% if entity.user.avatar %}
                            {#height="60" width="60"#}
                            <div style="height: 60px; width: 60px;">
                                {#{% if '.pdf' in entity.user.avatar.getAbsoluteUploadFullPath %}#}
                                {#&#123;&#35;<embed src="{{ entity.user.avatar.getAbsoluteUploadFullPath }}" alt="Avatar" style="max-width:100%; max-height:100%;" type='application/pdf' >&#35;&#125;#}
                                {#<object data="{{ entity.user.avatar.getAbsoluteUploadFullPath }}" type="application/pdf" style="max-width:100%; max-height:100%;"></object>#}
                                {#{% else %}#}
                                {#<img src="{{ entity.user.avatar.getAbsoluteUploadFullPath }}" alt="Avatar" style="max-width:100%; max-height:100%;">#}
                                {#{% endif %}#}
                                {{ usermacros.showDocumentAsImage(entity.user.avatar,'Avatar','') }}
                            </div>
                        {% endif %}
                    </td>

                    {#<td>#}
                        {#{{  entity.applicationStatus }}#}
                    {#</td>#}

                    {#<td>#}
                        {#{{ entity.timestamp|date('m/d/Y H:i') }}#}
                    {#</td>                                       #}

                    {#<td>#}
                        {#{{ entity.endDate|date('m/d/Y') }}#}
                    {#</td>#}

                    <td>
                        {{ entity.user.getLastNameUppercase() }}
                    </td>

                    <td>
                        {{ entity.user.getFirstNameUppercase() }}
                    </td>


                    <td>
                        {{ u1 }}
                    </td>

                    <td>
                        {{ u2 }}
                    </td>

                    <td>
                        {{ u3 }}
                    </td>


                    <td>
                        {{ c1 }}
                    </td>

                    <td>
                        {{ c2 }}
                    </td>

                    <td>
                        {{ c3 }}
                    </td>


                    <td>
                        {{ entity.interviewScore }}
                    </td>



                        <td class="rowlink-skip">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right">

                                    {% if is_granted('ROLE_FELLAPP_ADMIN') %}

                                        {% if entity.applicationStatus != 'complete' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to mark this Application as Complete?"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'complete' }) }}">Mark as Complete
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.applicationStatus != 'interviewee' %}
                                            <li>
                                                <a
                                                        general-data-confirm="Are you sure you want to mark this Application as Interviewee?"
                                                        href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'interviewee' }) }}">Mark as Interviewee
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.applicationStatus != 'hide' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to hide this Application?"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'hide' }) }}">Hide
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.applicationStatus != 'active' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to change status of this Application to 'Active'?"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'active' }) }}">Active
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.applicationStatus != 'archive' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to change status of this Application to 'Archive'?"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'archive' }) }}">Archive
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.applicationStatus == 'active' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to resend emails to Interviewers who have not submitted interview score yet?"
                                                    href="{{ path('fellapp_resendemails', { 'id': entity.id }) }}">Send Email to Interviewers
                                                </a>
                                            </li>
                                        {% endif %}

                                        <li>
                                            <a
                                                href="{{ path('fellapp_edit', { 'id': entity.id}) }}">Edit
                                            </a>
                                        </li>

                                    {% endif %}

                                    {#{% if is_granted('ROLE_PLATFORM_ADMIN') %}#}
                                    {#<li>#}
                                        {#<a#}
                                            {#general-data-confirm="Are you sure you want to completely remove this Applicant and all related documents?"#}
                                            {#href="{{ path('fellapp_remove', { 'id': entity.id}) }}">Remove Applicant and all related documents#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#{% endif %}#}

                                    <li>
                                        <a
                                            href="{{ path('fellapp_download_pdf', { 'id': entity.id}) }}">Download Application
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        </td>


                </tr>
            {% endfor %}

            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>

{% endblock %}



{% block additionaljs %}

    <script language="Javascript">

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip();


            var year = parseInt(new Date().getFullYear()) + 2;
            //var target = "#filter_startDate";
            var target = ".datepicker-only-year";

            var datefilter = $(target).datepicker( {
                autoclose: true,
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years",
                orientation: 'auto top'
            });

            var datas = [
                new Date(year,1,1) //remember months in javascript starts with 0 for january
            ];

            //console.log('datepicker val='+datefilter.val());

            if( !datefilter.val() ) {
                datefilter.datepicker('setDate', datas);
            }

        });

    </script>

{% endblock %}



