{#macro for list#}


{% macro listIndex( entities, pathbase ) %}

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(entities, 'ID', 'ent.id') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Name', 'ent.name') }}</th>

            {% if entities|first.action is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Action', 'ent.action') }}</th>
            {% endif %}

            {% if entities|first.alias is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Alias', 'ent.alias') }}</th>
            {% endif %}

            {% if entities|first.synonyms is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Synonyms', 'synonyms.name') }}</th>
            {% endif %}

            <th>{{ knp_pagination_sortable(entities, 'Type', 'ent.type') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Order', 'ent.orderinlist') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Creator', 'creator.username') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Creation Date', 'ent.createdate') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in entities %}
            <tr>
                <td><a href="{{ path(pathbase~'_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>

                {% if entity.action is defined %}
                    <td>{{ entity.action }}</td>
                {% endif %}

                {% if entity.alias is defined %}
                    <td>{{ entity.alias }}</td>
                {% endif %}

                {% if entity.synonyms is defined %}
                    <td>{{ entity.synonyms|first }}</td>
                {% endif %}

                <td>{{ entity.type }}</td>
                <td>{{ entity.orderinlist }}</td>
                <td>{{ entity.creator }}</td>
                <td>{% if entity.createdate %}{{ entity.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="rowlink-skip">
                    <a class="btn btn-xs btn-default" href="{{ path(pathbase~'_edit', { 'id': entity.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <a href="{{ path(pathbase~'_new') }}">
        Create a new entry
    </a>

{% endmacro %}


{% macro listNew( form, pathbase ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {#{{ form(form) }}#}
    {{ form_start(form) }}

    {{ formmacros.field(form.list.name) }}

    {% if form.synonyms is defined %}
        {{ formmacros.field(form.synonyms) }}
    {% endif %}

    {% if form.action is defined %}
        {{ formmacros.field(form.action) }}
    {% endif %}

    {% if form.alias is defined %}
        {{ formmacros.field(form.alias) }}
    {% endif %}

    {{ formmacros.field(form.list.type) }}

    {{ formmacros.field(form.list.creator) }}

    {{ formmacros.field(form.list.createdate) }}

    {{ formmacros.field(form.list.orderinlist) }}

    {{ form_widget(form.submit) }}
    <a class="btn btn-info" type="button" href="{{ path(pathbase~'-list') }}">Cancel</a>

    {{ form(form) }}

    {{ form_end(form) }}

    <br>
    <p>
        <a href="{{ path(pathbase~'-list') }}">
            Back to the list
        </a>
    </p>

{% endmacro %}


{% macro listEdit( entity, edit_form, delete_form, pathbase, cicle ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {{ form_start(edit_form) }}

    {{ formmacros.field(edit_form.list.name) }}

    {% if edit_form.synonyms is defined %}
        {{ formmacros.field(edit_form.synonyms) }}
    {% endif %}

    {% if edit_form.action is defined %}
        {{ formmacros.field(edit_form.action) }}
    {% endif %}

    {% if edit_form.alias is defined %}
        {{ formmacros.field(edit_form.alias) }}
    {% endif %}

    {{ formmacros.field(edit_form.list.type) }}

    {{ formmacros.field(edit_form.list.creator,"readonly") }}

    {{ formmacros.field(edit_form.list.createdate) }}

    {{ formmacros.field(edit_form.list.orderinlist) }}

    {% if edit_form.list.original is defined %}
        {{ formmacros.field(edit_form.list.original) }}
    {% endif %}

    {% if edit_form.submit is defined %}
        <br />
        <p>
            {{ form_widget(edit_form.submit) }}
            <a class="btn btn-info" type="button" href="{{ path(pathbase~'_show', { 'id': entity.id }) }}">Cancel</a>
            {#{% if delete_form is defined and delete_form.submit is defined %}#}
                {#{{ form_widget(delete_form.submit) }}#}
            {#{% endif %}#}
        </p>
    {% endif %}

    {{ form(edit_form) }}

    {{ form_end(edit_form) }}

    {#{% if cicle is defined and cicle == 'edit' %}#}
        {#<div class="record_actions">#}
            {#{{ form(delete_form) }}#}
        {#</div>#}
    {#{% endif %}#}

    <br>

    {% if cicle == 'show' %}
        <p>
            <a class="btn btn-success" href="{{ path(pathbase~'_edit', { 'id': entity.id }) }}">Edit</a>
        </p>
    {% endif %}

    <br />

    <p>
        <a href="{{ path(pathbase~'-list') }}">Back to the list</a>
    </p>

{% endmacro %}
