{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::ListForm/listmacros.html.twig" as listmacros %}

{% block title %}
    {{ displayName }}: ID {{ entity.id }} | Show
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ displayName }}: ID {{ entity.id }}</h3>

    <br />

    {{ listmacros.listEdit( entity, edit_form, delete_form, pathbase, 'show' ) }}

{% endblock %}
