{#<!DOCTYPE html>#}
{#<html>#}
    {#<head>#}
        {#<meta charset="UTF-8" />#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    {#</head>#}
    {#<body>#}
        {#{% block body %}{% endblock %}#}
        {#{% block javascripts %}{% endblock %}#}
    {#</body>#}
{#</html>#}
{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#{{ encore_entry_script_tags('entry') }}#}
{#{% endblock %}#}
{#{% block stylesheets %}#}
        {#{{ parent() }}#}
        {#{{ encore_entry_link_tags('entry') }}#}
{#{% endblock %}#}