{% macro projectInfo( form, project, cycle ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="projectInfoHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#projectInfo" aria-expanded="true">
                        Project Info
                    </a>
                </h4>
            </div>
            <div id="projectInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="projectInfoHeading">
                <div class="panel-body">

                    {% if form.state is defined %}
                        {{ formmacros.field(form.state) }}
                    {% endif %}

                    {% if form.approvalDate is defined %}
                        {{ formmacros.field(form.approvalDate) }}
                    {% endif %}

                    {% if form.createDate is defined or form.submitter is defined %}
                        {#<div class="well well-sm">#}
                        {% if form.createDate is defined %}
                            {{ formmacros.field(form.createDate) }}
                        {% endif %}
                        {% if form.submitter is defined %}
                            {{ formmacros.field(form.submitter) }}
                        {% endif %}
                        {#</div>#}
                    {% endif %}

                    {{ transres.updateInfo(form,cycle) }}

                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro projectFormEdit( form, project, cycle ) %}

    {% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}
    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

    <div style="display: none">
        {% if form.messageCategory is defined %}
            {{ treemacros.compositeTreeNode(form.messageCategory,cycle,"noprototype") }}
        {% endif %}
    </div>

    <div id="form-node-holder"></div>

    {{ transres.projectDocument(form,project,cycle) }}

{% endmacro %}


{% macro projectFormShow( form, project, cycle ) %}

    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="projectContentHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#projectContent" aria-expanded="true">
                        Project
                    </a>
                </h4>
            </div>
            <div id="projectContent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="projectContentHeading">
                <div class="panel-body">

                    {% set callLogViewClass = "order-white-background" %}
                    <div class="text-left {{ callLogViewClass }}">
                        {{ user_formnode_utility.getFormNodeHolderShortInfoForView(project,project.messageCategory,false)|raw }}
                    </div>

                    {{ transres.projectDocument(form,project,cycle) }}

                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro projectDocument( form, project, cycle ) %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    <div class="well form-element-holder user-documents">
        <label class="col-xs-12 control-label">Project Documents</label>
        <div class="row withpaddingtop">
            <div class="col-xs-12">
                {{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',8,'default','Project Document') }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro projectRequesters( form, project, cycle ) %}
    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="projectRequestersHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#projectRequesters" aria-expanded="true">
                        Project's Requester(s)
                    </a>
                </h4>
            </div>
            <div id="projectRequesters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="projectRequestersHeading">
                <div class="panel-body">

                    {% if cycle == "show" %}
                        {% set principalInvestigators = project.principalInvestigators %}
                    {% else %}
                        {% set principalInvestigators = null %}
                    {% endif %}
                    {{ transres.usersInfo(form.principalInvestigators,principalInvestigators,cycle) }}

                    {% if cycle == "show" %}
                        {% set pathologists = project.pathologists %}
                    {% else %}
                        {% set pathologists = null %}
                    {% endif %}
                    {{ transres.usersInfo(form.pathologists,pathologists,cycle) }}

                    {% if cycle == "show" %}
                        {% set coInvestigators = project.coInvestigators %}
                    {% else %}
                        {% set coInvestigators = null %}
                    {% endif %}
                    {{ transres.usersInfo(form.coInvestigators,coInvestigators,cycle) }}

                    {% if cycle == "show" %}
                        {% set contacts = project.contacts %}
                    {% else %}
                        {% set contacts = null %}
                    {% endif %}
                    {{ transres.usersInfo(form.contacts,contacts,cycle) }}

                    {% if cycle == "show" %}
                        {% set billingContacts = project.billingContacts %}
                    {% else %}
                        {% set billingContacts = null %}
                    {% endif %}
                    {{ transres.usersInfo(form.billingContacts,billingContacts,cycle) }}

                </div>
            </div>
        </div>
    </div>
{% endmacro %}



{% macro updateInfo( form, cycle ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% if form.vars.value.updateDate or form.vars.value.updateUser %}
        {#<div class="well well-sm">#}
        {{ formmacros.simplefield("Update Date:", form.vars.value.updateDate|date("m/d/Y"), "input", "disabled") }}
        {{ formmacros.simplefield("Updated By:", form.vars.value.updateUser, "input", "disabled") }}
        {#</div>#}
    {% endif %}
{% endmacro %}

{% macro usersInfo( usersForm, usersEntity, cycle ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    {% if cycle == "show" %}
        {#<div class="well well-sm">#}
            <div style="text-align: center;">
                <p>
                    <strong>{{ usersForm.vars.label }}</strong>
                </p>
            </div>
            {% for userEntity in usersEntity %}
                {{ usermacros.personInfo(userEntity, cycle, 'translationalresearch') }}
            {% endfor %}
        {#</div>#}
        {% do usersForm.setRendered %}
    {% else %}
        {{ formmacros.field(usersForm) }}
    {% endif %}
{% endmacro %}

{% macro userInfo( userForm, userEntity, cycle ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    {% if cycle == "show" %}
        {#<div class="well well-sm">#}
            <div style="text-align: center;">
                <p>
                    <strong>{{ userForm.vars.label }}</strong>
                </p>
            </div>
            {{ usermacros.personInfo(userEntity, cycle, 'translationalresearch') }}
        {#</div>#}
        {% do userForm.setRendered %}
    {% else %}
        {{ formmacros.field(userForm) }}
    {% endif %}
{% endmacro %}

{#NOT USED#}
{% macro projectEnabledLinkActionsHeader(project) %}
    {% set actionLinks = transres_util.getEnabledLinkActions(project) %}
    {#<div class="well">#}
        {#<p>Project State: <strong>{{ transres_util.getStateLabelByProject(project) }}</strong></p>#}
        {% for actionLink in actionLinks %}
                {{ actionLink|raw }}
        {% endfor %}
    {#</div>#}
{% endmacro %}
{% macro reviewEnabledLinkActionsHeader(review) %}
    {% set actionLinks = transres_util.getReviewEnabledLinkActions(review) %}
    {% for actionLink in actionLinks %}
        {{ actionLink|raw }}
    {% endfor %}
{% endmacro %}

{% macro projectHeader(project) %}
    <p>Project State: <strong>{{ transres_util.getStateLabelByProject(project) }}</strong></p>

{% endmacro %}

{% macro projectReviews(project, cycle, sitename, addReviewButtons) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

    {#{% if showAddDeleteBtn is not defined %}#}
        {#{% set showAddDeleteBtn = 0 %}#}
    {#{% endif %}#}

    {#{% if prototype == "prototype" %}#}
        {#{% set forminterview = reviews.vars.prototype %}#}
    {#{% else %}#}
        {#{% set forminterview = reviews %}#}
    {#{% endif %}#}

    {#{% if project.state.vars.value == "irb_review" %}#}
        {#{% set reviews = project.irbReviews %}#}
    {#{% endif %}#}
    {#{% if project.state.vars.value == "admin_review" %}#}
        {#{% set reviews = project.adminReviews %}#}
    {#{% endif %}#}
    {#{% if project.state.vars.value == "committee_review" %}#}
        {#{% set reviews = project.committeeReviews %}#}
    {#{% endif %}#}
    {#{% if project.state.vars.value == "final_review" %}#}
        {#{% set reviews = project.finalReviews %}#}
    {#{% endif %}#}

    {% if addReviewButtons is not defined %}
        {% set addReviewButtons = 0 %}
    {% endif %}

    {% set showIrbReview = 1 %}
    {% set showAdminReview = 1 %}
    {% set showCommiteeReview = 1 %}
    {% set showFinalReview = 1 %}

    {% set showAddDeleteBtn = 0 %}
    {% if is_granted('ROLE_TRANSRES_ADMIN') or is_granted('ROLE_TRANSRES_PRIMARY_REVIEWER') or is_granted('ROLE_TRANSRES_PRIMARY_REVIEWER_DELEGATE') %}
        {% set showAddDeleteBtn = 1 %}
    {% endif %}

    {% if showIrbReview and project.irbReviews is defined %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="irbreviewHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#irbreview" aria-expanded="true" aria-controls="reviewBase">
                            {#{{ transres_util.getStateSimpleLabelByName(project.state.vars.value) }}#}
                            IRB Review
                        </a>
                    </h4>
                </div>
                <div id="irbreview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="irbreviewHeading">
                    <div class="panel-body">
                        <div class="transres-irbreviews-holder">

                            {#count irb reviewers={{ project.irbReviews|length }}<br>#}
                            {% for review in project.irbReviews %}
                                {#show review with reviewer={{ review.vars.value.reviewer.getUsernameOptimal }}<br>#}
                                {{ transres.projectSingleReview(project,review,cycle,'transres-irbreviews','noprototype',sitename,showAddDeleteBtn,addReviewButtons) }}
                            {% endfor %}

                            {% if cycle != "show" %}
                                {% if showAddDeleteBtn %}
                                    {{ usermacros.addNewObjectBtn(cycle,'transres-irbreviews','Add IRB Reviewer') }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if showAdminReview and project.adminReviews is defined %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="adminreviewHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#adminreview" aria-expanded="true" aria-controls="reviewBase">
                            {#{{ transres_util.getStateSimpleLabelByName(project.state.vars.value) }}#}
                            Admin Review
                        </a>
                    </h4>
                </div>
                <div id="adminreview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="adminreviewHeading">
                    <div class="panel-body">
                        <div class="transres-adminreviews-holder">

                            {% for review in project.adminReviews %}
                                {{ transres.projectSingleReview(project,review,cycle,'transres-adminreviews','noprototype',sitename,showAddDeleteBtn,addReviewButtons) }}
                            {% endfor %}

                            {% if cycle != "show" %}
                                {% if showAddDeleteBtn %}
                                    {{ usermacros.addNewObjectBtn(cycle,'transres-adminreviews','Add Admin Reviewer') }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if showCommiteeReview and project.committeeReviews is defined %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="committeereviewHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#committeereview" aria-expanded="true" aria-controls="reviewBase">
                            {#{{ transres_util.getStateSimpleLabelByName(project.state.vars.value) }}#}
                            Committee Reviews
                        </a>
                    </h4>
                </div>
                <div id="committeereview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="committeereviewHeading">
                    <div class="panel-body">
                        <div class="transres-committeereviews-holder">

                            {% for review in project.committeeReviews %}
                                {{ transres.projectSingleReview(project,review,cycle,'transres-committeereviews','noprototype',sitename,showAddDeleteBtn,addReviewButtons) }}
                            {% endfor %}

                            {% if cycle != "show" %}
                                {% if showAddDeleteBtn %}
                                    {{ usermacros.addNewObjectBtn(cycle,'transres-committeereviews','Add Committee Reviewer') }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if showFinalReview and project.finalReviews is defined %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="finalreviewHeading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#finalreview" aria-expanded="true" aria-controls="reviewBase">
                            {#{{ transres_util.getStateSimpleLabelByName(project.state.vars.value) }}#}
                            Final Review
                        </a>
                    </h4>
                </div>
                <div id="finalreview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="finalreviewHeading">
                    <div class="panel-body">
                        <div class="transres-finalreviews-holder">

                            {% for review in project.finalReviews %}
                                {{ transres.projectSingleReview(project,review,cycle,'transres-finalreviews','noprototype',sitename,showAddDeleteBtn,addReviewButtons) }}
                            {% endfor %}

                            {% if cycle != "show" %}
                                {% if showAddDeleteBtn %}
                                    {{ usermacros.addNewObjectBtn(cycle,'transres-finalreviews','Add Final Reviewer') }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% macro projectSingleReview( project, review, cycle, classname, prototype, sitename, showAddDeleteBtn, addReviewButtons ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}

    {% if showAddDeleteBtn is not defined %}
        {% set showAddDeleteBtn = 0 %}
    {% endif %}

    {% if addReviewButtons is not defined %}
        {#addReviewButtons is not set!!!<br>#}
        {% set addReviewButtons = 0 %}
    {% endif %}

    {% set reviewId = null %}
    {% set reviewInfo = null %}
    {% if prototype == "prototype" %}
        {% set formreview = review.vars.prototype %}
        {% set reviewInfo = "Will be added as a new reviewer after update" %}
    {% else %}
        {% set formreview = review %}
        {% set reviewId = review.id.vars.value %}
        {% if review.id.vars.value == null %}
            {% set reviewInfo = "Will be added as a new default reviewer after update" %}
        {% endif %}
    {% endif %}


    {% set wellclass = "alert-default well well-sm" %}

    <div class="user-collection-holder alert {{ classname }} {{ wellclass }}">

        {% if reviewInfo %}
            <p>
            <div class="alert alert-info" role="alert">
                {{ reviewInfo }}
            </div>
            </p>
        {% endif %}

        {% if cycle != "show" and showAddDeleteBtn %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <br>
        {% else %}
            {#do nothing#}
        {% endif %}

        {#{% if formreview.reviewer.vars.value %}#}
        {#formreview.reviewer={{ formreview.vars.value.reviewer.getUsernameOptimal() }}#}
        {#{% endif %}#}

        {% if formreview.id is defined %}
            {{ form_widget(formreview.id) }}
        {% endif %}

        {#{% set showReviewers = false %}#}
        {#{% if  %}#}

        {% if formreview.vars.value and formreview.vars.value.reviewedBy %}
            {#formreview.vars.value.reviewedBy.id={{ formreview.vars.value.reviewedBy.id }}<br>#}
            {#{{ formmacros.simplefield("Reviewed By:", transres.userHtml(formreview.vars.value.reviewedBy), "input", "disabled") }}#}
            {% set reviewedBy = null %}
            {% if formreview.reviewer is defined %}
                {% set reviewedBy = "by" ~ transres.userHtml(formreview.vars.value.reviewedBy) %}
            {% endif %}
            <p>
                {#Reviewed by {{ transres.userHtml(formreview.vars.value.reviewedBy) }} on {{ updatedate|date("m/d/Y H:i") }}#}
                Reviewed {{ reviewedBy|raw }} on {{ updatedate|date("m/d/Y") }} at {{ updatedate|date("H:i") }}
            </p>
        {% endif %}

        {% if formreview.primaryReview is defined %}
            {{ formmacros.checkbox(formreview.primaryReview) }}
        {% endif %}

        {% if formreview.reviewer is defined %}
            {{ formmacros.field(formreview.reviewer) }}
        {% endif %}

        {% if formreview.reviewerDelegate is defined %}
            {{ formmacros.field(formreview.reviewerDelegate) }}
        {% endif %}

        {% if formreview.decision is defined %}
            {{ formmacros.field(formreview.decision) }}
        {% endif %}

        {#{% if formreview.comments is defined %}#}
            {#{{ formmacros.field(formreview.comments) }}#}
        {#{% endif %}#}

        {#allow change review by admin and reviewer only in the view page. Clicking this button on the edit page will not save any changes#}
        {% if
            cycle == "show" and
            reviewId and
            transres_util.isUserAllowedReview(review.vars.value) and
            transres_util.isReviewable(review.vars.value)
        %}
            {#<p>#}
                {#<a class="btn btn-primary"#}
                   {#href="{{ path(translationalresearch_sitename~'_review_edit',{'stateStr':review.vars.value.getStateStr(),'reviewId': reviewId}) }}"#}
                    {#>Update Review</a>#}
            {#</p>#}

            {#addReviewButtons={{ addReviewButtons }}<br>#}
            {% if addReviewButtons is defined and addReviewButtons %}
                {#<a class="btn btn-success">Approve</a>#}
                {#<a class="btn btn-warning">Pending additional information from submitter</a>#}
                {#<a class="btn btn-danger">Reject</a>#}
                {#<br>#}
                <p>
                {{ transres.reviewEnabledLinkActionsHeader(review.vars.value) }}
                </p>
            {% endif %}

        {% endif %}

        {% if reviewId %}
            <p>
                {% set actionLinks = transres_util.getResubmitButtons(review.vars.value) %}
                {% for actionLink in actionLinks %}
                    {{ actionLink|raw }}
                {% endfor %}
            </p>
        {% endif %}

        {#reviewId={{ reviewId }}<br>#}
        {#project.vars.value.id={{ project.vars.value.id }}<br>#}
        {% if reviewId and project.vars.value.id %}
            {#projectId reviewId reviewClass-getStateStr#}
            {#{% set commentId = project.vars.value.id ~ "-" ~ reviewId ~ "-" ~ review.vars.value.getStateStr() %}#}
            {#commentId={{ commentId }}<br>#}
            {#<iframe>#}
            {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': commentId} %}#}
            {#</iframe>#}
            {#<div class="thread-fos" data-thread-id="{{ commentId }}"></div>#}

            {#<a class="btn btn-primary"#}
                {#href="{{ path(translationalresearch_sitename~'_review_edit',{'stateStr':review.vars.value.getStateStr(),'reviewId': reviewId}) }}"#}
            {#>Update Review</a>#}
        {% endif %}

    </div>
{% endmacro %}

{% macro userHtml(user) %}
    {#1user.id={{ user.id }}<br>#}
    {% if user %}
        {#2user.id={{ user.id }}<br>#}
        {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':user.id}) %}
        {% set personlink = '<a href="'~personurl~'" target="_blank">'~user.getUsernameOptimal()~'</a>'  %}
        {{ personlink|raw }}
    {% endif %}
{% endmacro %}

{% macro getProjectReviewPrototypeFormData(form, cycle, sitename) %}
    {% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <div id="form-prototype-data"
            data-userurllink = "{{ usermacros.userUrlLink()|e }}"
            data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
            data-userid = "{{ app.user.id }}"

            {% if form.irbReviews is defined %}
                data-prototype-transres-irbreviews = "{{ transres.projectSingleReview(form,form.irbReviews,cycle,'transres-irbreviews','prototype', sitename,1)|e }}"
            {% endif %}
            {% if form.adminReviews is defined %}
                data-prototype-transres-adminreviews = "{{ transres.projectSingleReview(form,form.adminReviews,cycle,'transres-adminreviews','prototype', sitename,1)|e }}"
            {% endif %}
            {% if form.committeeReviews is defined %}
                data-prototype-transres-committeereviews = "{{ transres.projectSingleReview(form,form.committeeReviews,cycle,'transres-committeereviews','prototype', sitename,1)|e }}"
            {% endif %}
            {% if form.finalReviews is defined %}
                data-prototype-transres-finalreviews = "{{ transres.projectSingleReview(form,form.finalReviews,cycle,'transres-finalreviews','prototype', sitename,1)|e }}"
            {% endif %}
    ></div>

{% endmacro %}

{% macro getProjectShowPrototypeFormData(form, cycle, sitename) %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <div id="form-prototype-data"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
         data-userid = "{{ app.user.id }}"
    ></div>

{% endmacro %}

