{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


    {#{% if filtered is defined and filtered %}#}
        {#{% set eventlog_title = eventlog_title ~ " showing " ~ pagination|length ~ " matching " ~ titlePostfix%}#}
    {#{% endif %}#}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    <h3 class="text-info">{{ eventLogTitle }}</h3>


    <p>
    {#<form action="{{ path(routename,{'id':userid}) }}" method="get" class="well form-search">#}
    {#'method': 'GET',#}
    {#{{ form_start(loggerfilter, {'action': path(routename,{'id':userid}), 'attr': {'class': 'well form-search'}}) }}#}
    {{ form_start(loggerfilter) }}

        <div class="row">

            <div class="col-xs-2">
                {#<div class="input-group input-group-reg date form_datetime">#}
                    {#{{ form_widget(loggerfilter.startdate) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
                {{ formmacros.fielddate(loggerfilter.startdate,'allow-future-date') }}
            </div>

            <div class="col-xs-2">
                {#<div class="input-group input-group-reg date form_datetime">#}
                    {#{{ form_widget(loggerfilter.enddate) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
                {{ formmacros.fielddate(loggerfilter.enddate,'allow-future-date') }}
            </div>

            {% set hideUserStyle = "" %}
            {% if hideUser is defined and hideUser == true %}
                {% set hideUserStyle = 'style=display:none;' %}
            {% endif %}
            <div class="col-xs-3" {{ hideUserStyle }}>
                {{ form_row(loggerfilter.user,{'attr': {'placeholder': 'User'}}) }}
            </div>

            {% set hideEventTypeStyle = "" %}
            {% if hideEventType is defined and hideEventType == true %}
                {% set hideEventTypeStyle = 'style=display:none;' %}
            {% endif %}
            <div class="col-xs-3" {{ hideEventTypeStyle }}>
                {{ form_row(loggerfilter.eventType, {'attr': {'placeholder': 'Event Type'}}) }}
            </div>

            <div class="col-xs-2">
                {{ form_row(loggerfilter.search, {'attr': {'placeholder': 'Event Title'}}) }}
            </div>

        </div>

        <br>

        <div class="row">

            {% set hideIpStyle = "" %}
            {% if hideIp is defined and hideIp == true %}
                {% set hideIpStyle = 'style=display:none;' %}
            {% endif %}
            <div class="col-xs-2" {{ hideIpStyle }}>
                {{ form_row(loggerfilter.ip, {'attr': {'placeholder': 'IP'}}) }}
            </div>

            {% set hideRolesStyle = "" %}
            {% if hideRoles is defined and hideRoles == true %}
                {% set hideRolesStyle = 'style=display:none;' %}
            {% endif %}
            <div class="col-xs-3" {{ hideRolesStyle }}>
                {{ form_row(loggerfilter.roles, {'attr': {'placeholder': 'Roles'}}) }}
            </div>

            {% set hideObjectTypeStyle = "" %}
            {% if hideObjectType is defined and hideObjectType == true %}
                {% set hideObjectTypeStyle = 'style=display:none;' %}
            {% endif %}
            <div class="col-xs-3" {{ hideObjectTypeStyle }}>
                {{ form_row(loggerfilter.objectType, {'attr': {'placeholder': 'Object Type'}}) }}
            </div>

            {% set hideObjectIdStyle = "" %}
            {% if hideObjectId is defined and hideObjectId == true %}
                {% set hideObjectIdStyle = 'style=display:none;' %}
            {% endif %}
            <div class="col-xs-3" {{ hideObjectIdStyle }}>
                {{ form_row(loggerfilter.objectId, {'attr': {'placeholder': 'Object ID'}}) }}
            </div>

            {#OptionalFields#}
            {#{% if loggerfilter.capacity is defined %}#}
                {#<div class="col-xs-2">#}
                 {#{{ form_row(loggerfilter.capacity) }}#}
                {#</div>#}
            {#{% endif %}#}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>

        </div>

        <br>

        <div class="row">
            {% if loggerfilter.sites is defined %}
                <div class="col-xs-2">
                    {{ form_row(loggerfilter.sites) }}
                </div>
            {% endif %}

            {#OptionalFields#}
            {% if loggerfilter.capacity is defined %}
                <div class="col-xs-2">
                    {{ form_row(loggerfilter.capacity) }}
                </div>
            {% endif %}

            {#<div class="col-xs-1">#}
                {#<button type="submit" class="btn btn-sm btn-default">Filter</button>#}
            {#</div>#}
        </div>

        {{ form_rest(loggerfilter) }}
    {#</form>#}
    {{ form_end(loggerfilter) }}
    </p>


    <table class="records_list table table-hover table-condensed text-left">
        <thead>
            <tr>
                {% if hideId is not defined or hideId == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Event ID', 'logger.id') }}</th>
                {% endif %}

                <th>{{ knp_pagination_sortable(pagination, 'Timestamp', 'logger.creationdate') }}</th>

                {% if hideIp is not defined or hideIp == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'IP', 'logger.ip') }}</th>
                {% endif %}

                {% if hideUserAgent is not defined or hideUserAgent == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'User Agent', 'logger.useragent') }}</th>
                {% endif %}

                {#{% if hideWidth is not defined or hideWidth == false %}#}
                    {#<th>{{ knp_pagination_sortable(pagination, 'Width', 'logger.width') }}</th>#}
                {#{% endif %}#}

                {#{% if hideHeight is not defined or hideHeight == false %}#}
                    {#<th>{{ knp_pagination_sortable(pagination, 'Height', 'logger.height') }}</th>#}
                {#{% endif %}#}

                {% if hideSitename is not defined or hideSitename == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Site', 'logger.siteName') }}</th>
                {% endif %}

                {% if hideUser is not defined or hideUser == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Account', 'logger.username') }}</th>
                {% endif %}

                {% if hideRoles is not defined or hideRoles == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Roles', 'logger.roles') }}</th>
                {% endif %}

                <th>{{ knp_pagination_sortable(pagination, 'Event Type', 'eventType.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Event Title', 'logger.event') }}</th>

                {% if hideADServerResponse is not defined or hideADServerResponse == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'AD Server Response', 'logger.serverresponse') }}</th>
                {% endif %}

                {% if hideObjectType is not defined or hideObjectType == false %}
                    <th>{{ knp_pagination_sortable(pagination, 'Object Type', 'objectType.name') }}</th>
                {% endif %}

                {% if hideObjectId is not defined or hideObjectId == false %}
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Object ID', 'logger.entityId') }}
                    </th>
                {% endif %}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink" data-target="a.logger-row-mainlink">
        {% for entity in pagination %}

            {% if entity.event == 'Bad Credentials' %}
                <tr class="order-someattention-status">
            {% else %}
                <tr>
            {% endif %}

                {% if hideId is not defined or hideId == false %}
                    <td>{{ entity.id }}</td>
                {%  endif %}

                <td class="rowlink-skip">
                    {% if entity.creationdate %}
                        {{ entity.creationdate|date('Y-m-d H:i:s') }}
                        {#<br>#}
                        {#{{ user_service_utility.convertFromUtcToUserTimezone(entity.creationdate)|date('Y-m-d H:i:s') }} (User's timezone)#}
                    {% endif %}
                </td>

                {% if hideIp is not defined or hideIp == false %}
                    <td>{{ entity.ip }}</td>
                {%  endif %}

                {% if hideUserAgent is not defined or hideUserAgent == false %}
                    <td class="rowlink-skip">
                        <div class="textarea_widget">
                            <textarea class="form-control">{{ entity.useragent }}</textarea>
                        </div>
                    </td>
                {% endif %}

                {#{% if hideWidth is not defined or hideWidth == false %}#}
                    {#<td>{{ entity.width }}</td>#}
                {#{% endif %}#}

                {#{% if hideHeight is not defined or hideHeight == false %}#}
                    {#<td>{{ entity.height }}</td>#}
                {#{% endif %}#}

                {% if hideSitename is not defined or hideSitename == false %}
                    <td>{{ entity.siteName }}</td>
                {%  endif %}

                {% if hideUser is not defined or hideUser == false %}
                    {% if entity.username == 'anon.' %}
                        <td>
                            unknown
                        </td>
                    {% else %}
                        <td class="rowlink-skip">
                            {% if entity.user %}
                                <a href="{{ path(employees_sitename~'_showuser', { 'id': entity.user.id }) }}" target="_blank">{{ entity.user.getUserNameStr() }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endif %}

                {% if hideRoles is not defined or hideRoles == false %}
                    <td>
                        {#{% for role in entity.roles %}#}
                            {#{% if role != "ROLE_USER" %}#}
                                {#"{{ attribute(roles, role) }}"<br>#}
                            {#{% endif %}#}
                        {#{% endfor %}#}
                        {% for role in user_security_utility.getObjectRolesBySite(entity, sitename, true) %}
                            {% if role.name != "ROLE_USER" %}
                                "{{ role.alias }}"<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endif %}

                <td class="rowlink-skip">{{ entity.eventType }}</td>
                <td class="rowlink-skip">{{ entity.event|raw }}</td>

                {% if hideADServerResponse is not defined or hideADServerResponse == false %}
                    <td class="rowlink-skip">
                        <div class="textarea_widget">
                            <textarea class="form-control">{{ entity.serverresponse }}</textarea>
                        </div>
                    </td>
                {% endif %}

                {% if hideObjectType is not defined or hideObjectType == false %}
                    <td>{{ entity.objectType }}</td>
                {% endif %}

                {% set fullUrl = user_security_utility.getAbsoluetFullLoggerUrl(entity,app.request) %}
                {% if hideObjectId is not defined or hideObjectId == false %}
                    {% if entity.objectType and fullUrl %}
                        <td>
                            <a class="logger-row-mainlink" href="{{ fullUrl }}" target="_blank">{{ entity.entityId }}</a>
                        </td>
                    {% else %}
                        <td>
                            {{ entity.entityId }}
                        </td>
                    {% endif %}
                {% else %}
                    {% if entity.objectType and fullUrl %}
                        <td style="display: none;">
                            <a class="logger-row-mainlink" href="{{ fullUrl }}" target="_blank">{{ entity.entityId }}</a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



