{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

    <p>
        {% if invoiceCounter and invoiceCounter > 0 %}
            <a
                class="btn btn-primary"
                href="{{ path('translationalresearch_unpaid_invoice_reminder_send') }}"
            >Send Reminder Emails</a>
        {% else %}
            There are no unpaid overdue invoices corresponding to the site setting parameters
        {% endif %}
    </p>
    <br>

    {% for invoiceGroup in invoiceGroups %}

        {% for invoice in invoiceGroup %}

            <p>
                <a href="{{ path('translationalresearch_invoice_show', {'oid': invoice.oid}) }}">{{ invoice.oid }}, due on {{ invoice.getDueAndDaysStr() }}</a>
            </p>

        {% endfor %}

    {% endfor %}

{% endblock %}
