{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppVacReqBundle/Default/base.html.twig" %}


{#NOT USED#}

{% block title %}
    Away Calendar
{% endblock %}



{% block content %}

    <input id="groupId" value="{{ groupId }}" style="display: none;">

    <h4 class="text-info" align="center">
        Away Calendar
    </h4>

    <p>
    <div class="row">

        {#<div class="col-xs-4">#}
        {#</div>#}
        {#{% if vacreqfilter.organizationalInstitutions is defined %}#}
            {#<div class="col-xs-2" align="right">#}
                {#{{ form_row(vacreqfilter.organizationalInstitutions) }}#}
            {#</div>#}
        {#{% endif %}#}
        {#<div class="col-xs-6" align="left">#}
            {#<button type="button" id="calendar-filter" class="btn btn-sm btn-default" onclick="submitFilter()">Filter</button>#}
        {#</div>#}

        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            {% if vacreqfilter.organizationalInstitutions is defined and vacreqfilter.organizationalInstitutions %}
                {{ form_row(vacreqfilter.organizationalInstitutions) }}
            {% endif %}
        </div>
        <div class="col-xs-4">
        </div>

    </div>
    </p>


    {#{% include 'ADesignsCalendarBundle::calendar.html.twig' %}#}
    {% include '@ADesignsCalendar/calendar.html.twig' %}

{% endblock %}



{% block additionalcss %}
    {#{% stylesheets#}
        {#'bundles/adesignscalendar/css/fullcalendar/fullcalendar.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('@ADesignsCalendarBundle/css/fullcalendar/fullcalendar.css') }}" />

{% endblock %}

{% block additionaljs %}
    {#{% javascripts#}
        {#'bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <script src="{{ asset('@ADesignsCalendarBundle/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>

    <script language="Javascript">

        var vacreqcalendar;

        $(document).ready(function() {

            var groupId = $('#groupId').val();
            //constractCalendar(groupId);

            //addCalendarEventListener(groupId);

            //listener for calendar-filter
            $('.organizationalInstitutions').change(function(){
                submitFilter();
            });

        });

        function addCalendarEventListener( groupId ) {



        }

        function constractCalendar( groupId ) {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            vacreqcalendar = $('#calendar-holder').fullCalendar({
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month, basicWeek, basicDay,'
                },
                lazyFetching: true,
                timeFormat: {
                    // for agendaWeek and agendaDay
                    agenda: 'h:mmt',    // 5:00 - 6:30

                    // for all other views
                    '': 'h:mmt'         // 7p
                },
                eventSources: [
                    {
                        url: Routing.generate('fullcalendar_loader'),
                        type: 'POST',
                        // A way to add custom filters to your event listeners
                        data: {
                            groupId: groupId
                        },
                        error: function() {
                            //alert('There was an error while fetching Google Calendar!');
                        }
                    }
                ]
            });

            return vacreqcalendar;
        }

        function submitFilter() {
            var groupId = $('.organizationalInstitutions').select2('val');
            //console.log("groupId="+groupId);

            var url = location.protocol + '//' + location.host + location.pathname; //window.location.href;

            if( groupId ) {
                if (url.indexOf('?') > -1) {
                    url += '&group=' + groupId;
                } else {
                    url += '?group=' + groupId;
                }
            }

            window.location.href = url;
        }

    </script>

{% endblock %}


