{#make sure radio buttons and their labels are on the same line#}
{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {#<label style="display: inline;">#}
                {#<span style="white-space: nowrap;">#}
                <div class="radio_inline">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
                {#</span>#}
                {#</label>#}
            {% endfor %}

        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{#'required' is fixed in master and v2.3 of symfony#}
{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}

        {% if required == 'none' %}
            {#not !!!!!!!!!#}
        {% else %}
            {% if required %}
                {#required !!!!!!!!!#}
                required="required"
            {% endif %}
        {% endif %}

        {% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}




