{#{% extends '::base.html.twig' %}#}

{#use accession and orderinfo views for this slide#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
    
    <h1>All Slide List</h1>

    <div class="btn_margin_top">
        <form method="get" action="{{ path('order_new') }}">
            <button type="submit" class="btn btn-primary btn-success">New Order</button>
        </form>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Accession</th>
                <th>Stain</th>
                <th>Mag</th>
                <th>Diagnosis</th>
{#                <th>Order Date</th>#}
{#                <th>Status</th>#}
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td><a href="{{ path('order_show', { 'id': slide.id }) }}">{{ slide.id }}</a></td>               
                <td>{{ slide.accession }}</td>
                <td>{{ slide.stain }}</td>
                <td>{{ slide.mag }}</td>
{#                <td>{{ slide.diagnosis }}</td>#}
                <td>
                {% block textarea_widget %}
                {% spaceless %}
                    <div class="textarea_widget">
                        <textarea {{ block('widget_attributes') }}>{{ slide.diagnosis }}</textarea>
                    </div>
                {% endspaceless %}
                {% endblock textarea_widget %}
                </td>
                              
                <td>
                    <a class="btn btn-small btn-info" href="{{ path('order_show', { 'id': slide.id }) }}">Show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}