{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Request Slide Return
{% endblock %}



{% block maincss %}

    {#{% stylesheets#}
    {#'orderassets/apporderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'#}
    {#'orderassets/apporderform/form/css/handsontable.css' filter='cssrewrite'#}

    {#'orderassets/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
    {#'orderassets/appuserdirectory/ladda/ladda-themeless.css' filter='cssrewrite'#}

    {#'orderassets/appuserdirectory/form/css/action.css' filter='cssrewrite'#}
    {#'orderassets/apporderform/handsontable/lib/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css' filter='cssrewrite'#}

    {#'orderassets/appuserdirectory/datepicker/css/bootstrap-datepicker3.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/handsontable/jquery.handsontable.full.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/form/css/handsontable.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda-themeless.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/action.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/handsontable/lib/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/css/bootstrap-datepicker3.css') }}" />
{% endblock %}


{% block mainjs %}

    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}

    {#'@AppOrderformBundle/Resources/public/handsontable/lib/jquery-ui/js/jquery-ui.custom.min.js'#}
    {#'@AppOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
    {#'@AppUserdirectoryBundle/Resources/public/ladda/spin.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/ladda/ladda.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'#}
	
	{#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-navbar.js'#}

    {#'@AppOrderformBundle/Resources/public/form/js/checkSingleForm.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/slideColl.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/partRadios.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/selectAjax.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/commonCheckForm.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/checkForm.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/form.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/modal.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/tooltips.js'#}
	
	{#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'#}
	{#'@AppUserdirectoryBundle/Resources/public/form/js/user-jquery-idleTimeout.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/idleTimeout.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/jasny/js/rowlink.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/q-1/q.js'#}

    {#'@AppOrderformBundle/Resources/public/form/js/slide-return-request-table.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/handsontable/lib/jquery-ui/js/jquery-ui.custom.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/handsontable/jquery.handsontable.full.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/spin.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/checkSingleForm.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/slideColl.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/partRadios.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/commonCheckForm.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/checkForm.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/form.js') }}"></script>

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppOrderformBundle/form/js/idleTimeout.js') }}"></script>#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jasny/js/rowlink.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/slide-return-request-table.js') }}"></script>


    <script language="Javascript">

        $(document).ready(function() {

            getComboboxReturnLocations();
            getUrgency();
            regularCombobox();
			setResearchEducational();
            windowCloseAlert();
            getComboboxGeneric(null,'proxyuser',_proxyuser,true,'','scan');

        });

        function toggleSelectAllObjects(source) {
            $("[type=checkbox]").each(function() {
                $(this).prop('checked', source.checked);
            });
        }

        function toggleSelectAllCheckbox(source) {
            //console.log("source.checked="+source.checked);
            if( !source.checked ) {

                $('#selectUnselectAll').prop('checked', false);

            } else {

                //check if all checkboxes are checked => check selectUnselectAll
                var allchecked = true;

                $("[type=checkbox]").each(function() {
                    //console.log("check="+$(this).prop('checked')+", id="+$(this).attr("id"));
                    if( $(this).attr('id') != 'selectUnselectAll' && !$(this).prop('checked') ) {
                        allchecked = false;
                        return;
                    }
                });

                if( allchecked ) {
                    $('#selectUnselectAll').prop('checked', true);
                }

            } //else
        }

    </script>

{% endblock %}




{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {{ formmacros.hiddenInputFieldsForJS(form.message) }}

    <h3 class="text-info">Please enter the information about the slides you would like to be returned</h3>

    <br>

    {############ START FORM ##############}
    <form id="table-slidereturnrequests" action="{{ path('slide-return-request-table-submit') }}" method="post">
    {#{{ form_start(form) }}#}

        <!-- handsontable -->
        <br>

        <p>
        <div id="multi-dataTable" class="text-center" align="middle" style="overflow: scroll"></div>
        </p>

        <br>

        <div id="validationerror" style="padding-top: 2%"></div>


            <div  class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="panel-title">Slide Return Request</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body collapse in">

                    {{ formmacros.field(form.returnoption) }}
                    {#{{ formmacros.field(form.provider) }}#}
                    {#{{ formmacros.simplefield( "Submitter:", form.message.vars.value.provider.getUserNameStr(), "", "disabled" ) }}#}
                    {{ formmacros.field(form.message.provider,null,'readonly') }}

                    {% if form.message.proxyuser is defined %}
                        {{ formmacros.field(form.message.proxyuser) }}
                    {% endif %}

                    {{ formmacros.field(form.message.institution) }}

                    {% if form.message.destinations is defined %}
                        {% for destination in form.message.destinations %}
                            {{ formmacros.field(destination.location) }}
                        {% endfor %}
                    {% endif %}

                    {{ formmacros.field(form.urgency) }}

                    {#hidden, not mapped holder for table data#}
                    {{ formmacros.field(form.datalocker) }}

                    {% do form.setRendered %}
                    {{ form_row(form._token) }}
                    {#{{ form_rest(form) }}#}
                </div>
            </div>

            <p>
                <button class="btn btn-success" type="submit">Submit</button>
            </p>

    </form>
    {#{{ form_end(form) }}#}
    {############ END FORM ##############}

{% endblock %}

