{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#list all slide requests for admin or user's slide requests for other users#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% if routename == 'incoming-slide-return-requests' %}
    {% set title = 'Incoming Slide Return Requests' %}
{% else %}
    {% set title = 'My Slide Return Requests' %}
{% endif %}


{% block title %}
    {{ title }}
{% endblock %}


{% block maincss %}

    {#{% stylesheets#}
    {#'orderassets/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
    {#'orderassets/appuserdirectory/form/css/action.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/action.css') }}" />

{% endblock %}


{% block mainjs %}

    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
    {#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
    {##}
	{#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-navbar.js'#}
	{##}
	{#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'#}
	{#'@AppUserdirectoryBundle/Resources/public/form/js/user-jquery-idleTimeout.js'#}
	{##}
	{#'@AppOrderformBundle/Resources/public/form/js/selectAjax.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/modal.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/form.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-ui-1.11.2/jquery-ui.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/form.js') }}"></script>

    <script language="Javascript">

        $(document).ready(function() {

            setNavBar("scan");

            $(".combobox").select2();

        });

    </script>

{% endblock %}




{% block content %}

    <h3 class="text-info">{{ title }}</h3>
    <br>

    <form action="{{ path(routename) }}" method="get" class="well form-search">

        <div class="row">
            <div class="col-xs-3">
                {{ form_widget(filter.filter) }}
            </div>
            <div class="col-xs-1">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-sm btn-default order-filter-btn"><i class="icon-search"></i>Filter</button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(filter) }}
        {#{{ form_widget(filter._token) }}#}

    </form>

    <br>

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(sliderequests, 'ID', 'list.id') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Date', 'message.orderdate') }}</th>
                {% if routename == 'incoming-slide-return-requests' %}
                    <th>{{ knp_pagination_sortable(sliderequests, 'Submitter', 'provider.username') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(sliderequests, 'Ordering Provider', 'proxyuser.username') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Institution', 'institution.name') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Status', 'list.status') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Return Slides to', 'destinationslocation.name') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Urgency', 'list.urgency') }}</th>
                <th class="col-xs-3">{{ knp_pagination_sortable(sliderequests, 'Slides', 'slidecount') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Scan Order ID', 'associations.id') }}</th>
                <th>{{ knp_pagination_sortable(sliderequests, 'Comment', 'list.comment') }}</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>


        {% for sliderequestcomplex in sliderequests %}

            {% set sliderequest = sliderequestcomplex|first %}

            {% set returned = "Returned" in sliderequest.status %}

            {% if is_granted('ROLE_SCANORDER_PROCESSOR') and routename == 'incoming-slide-return-requests' %}
                {% include 'AppOrderformBundle/SlideReturnRequest/add_comment.html.twig' with {'orderid': sliderequest.id}  %}
            {% endif %}

            {% if sliderequest.status == 'active' %}
                <tr class="order-urgent-status" >
            {% elseif returned %}
                <tr class="order-neutral-status" >
            {% else %}
                <tr>
            {% endif %}

                <td>
                    {{ sliderequest.id }}
                </td>

                <td>
                    {{ sliderequest.message.orderdate|date('m/d/Y H:i') }}
                </td>

                {% if routename == 'incoming-slide-return-requests' %}
                    <td>
                        <a href="{{ path(scan_sitename~'_showuser', { 'id': sliderequest.message.provider.id }) }}">{{ sliderequest.message.provider }}</a>
                    </td>
                {% endif %}

                <td>
                    {% for proxyuser in sliderequest.message.proxyuser %}
                        <p><a href="{{ path(scan_sitename~'_showuser', { 'id': proxyuser.id }) }}">{{ proxyuser }}</a></p>
                    {% endfor %}
                </td>

                <td>
                    {{ sliderequest.message.institution }}
                </td>

                <td>
                    {% set statusStr = sliderequest.status %}
                    {% if sliderequest.status == 'cancel' %}
                        {% set statusStr = 'Canceled' %}
                    {% endif %}
                    {% if sliderequest.status == 'cancel' or sliderequest.status == 'active' %}
                        {% set statusStr = sliderequest.status|capitalize %}
                    {% endif %}

                    {{ statusStr }}
                </td>

                <td>
                    {#{{ sliderequest.returnLocation }}#}
                    {% for destination in sliderequest.message.destinations %}
                        {{ destination.location }}
                    {% endfor %}
                </td>

                <td>
                    {{ sliderequest.urgency }}
                </td>

                {#slides#}
                <td>

                    {% for descr in sliderequest.getSlideDescription(app.user) %}

                        <p>
                            {{ descr|raw }}
                        </p>

                    {% endfor %}

                    {% if sliderequest.returnoption != NULL %}
                        <b>Return all slides that belong to listed accession numbers:</b><br>
                    {% endif %}

                    {% for descr in sliderequest.getSlideTextDescription(app.user) %}

                        <p>
                            {{ descr|raw }}
                        </p>

                    {% endfor %}

                </td>

                <td>
                    {% for associatedorder in sliderequest.message.associations %}
                        {% if associatedorder != NULL and associatedorder.oid %}
                            <a href="{{ path('multy_show', { 'id': associatedorder.oid }) }}">{{ associatedorder.oid }}</a>
                        {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {{ sliderequest.comment|raw }}
                </td>

                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            {% if is_granted('ROLE_SCANORDER_PROCESSOR') and routename == 'incoming-slide-return-requests' %}

                                {% if sliderequest.status != 'All Scanned & All Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to All Scanned & All Returned?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'All Scanned & All Returned' }) }}">All Scanned & All Returned</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Some Scanned & All Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Some Scanned & All Returned?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Some Scanned & All Returned' }) }}">Some Scanned & All Returned</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Not Scanned & All Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Not Scanned & All Returned?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Not Scanned & All Returned' }) }}">Not Scanned & All Returned</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Checked: Not Received' %}
                                    <li><a data-confirm="Are you sure you want to change status to Checked: Not Received?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Checked: Not Received' }) }}">Checked: Not Received</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Checked: Previously Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Checked: Previously Returned?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Checked: Previously Returned' }) }}">Checked: Previously Returned</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Checked: Some Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Checked: Some Returned?" class="status-with-comment" id="{{ sliderequest.id }}"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Checked: Some Returned' }) }}">Checked: Some Returned</a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="#" data-toggle="modal" data-target="#addSlideReturnRequestComment_{{ sliderequest.id }}">Add Comment</a>
                                </li>

                                <li class="divider"></li>

                            {% endif %}

                            {% if sliderequest.status != 'active' %}
                                <li><a data-confirm='Are you sure you want to revert the request status to "Active"?'
                                       href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'active' }) }}">Revert Status to Active</a>
                                </li>
                            {% endif %}

                            {% if sliderequest.status != 'cancel' %}
                                <li><a data-confirm="Are you sure you want to Cancel this Slide Return Request?" data-ok="Cancel this request" data-cancel="Do not cancel this request"
                                       href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'cancel' }) }}">Cancel</a>
                                </li>
                            {% endif %}


                        </ul>
                    </div>
                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

