
{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title|raw }}
{% endblock %}


{% block content %}

    <input type="hidden" id="disableIdleTimeout" value="1" />

    <h4 class="text-info" align="center">
        {{ title|raw }}
        {#({{ entities.getTotalItemCount }} matching)#}
        {#{% if entities|length > 0 %}#}
            {#&nbsp;({{ entities.getTotalItemCount }} matching)#}
        {#{% endif %}#}
        {% if matchingAntibodyIdsArr is defined and matchingAntibodyIdsArr|length > 0 %}
            <label
                    for="download-spreadsheet-form-indexpage" tabindex="0"
                    data-toggle="tooltip"
                    title="Export all matching antibodies to a spreadsheet"
                    style="cursor:pointer"
            >
                <span class="fa fa-file-excel fa-lg" aria-hidden="true"></span>
            </label>
        {% endif %}
    </h4>

    {% if matchingAntibodyIdsArr is defined and matchingAntibodyIdsArr|length > 0 %}
        <form action="{{ path('translationalresearch_download_antibody_spreadsheet') }}" method="post">
            <input type="hidden" name="ids" value="{{ matchingAntibodyIdsArr|join(',') }}">
            <button type="submit"
                    id="download-spreadsheet-form-indexpage"
                    class="btn hidden"
            ></button>
        </form>
    {% endif %}

    <br>
    <div class="well form-search">
        {{ form_start(filterform) }}
            <div class="row">
                {#<div class="col-xs-12">#}

                    <div class="col-xs-2">
                        {{ form_widget(filterform.search) }}
                    </div>

                    <div class="col-xs-2">
                        {{ form_widget(filterform.name) }}
                    </div>

                    <div class="col-xs-2">
                        {{ form_widget(filterform.description) }}
                    </div>

                    <div class="col-xs-2">
                        {{ form_widget(filterform.categorytags) }}
                    </div>

                    {% if filterform.public is defined %}
                        <div class="col-xs-2">
                            {#{{ form_widget(filterform.public) }}#}
                            {{ formmacros.checkbox(filterform.public) }}
                        </div>
                    {% endif %}

                    {#<div class="col-xs-1">#}
                        {#<button type="submit" class="btn btn-sm btn-default">Filter</button>#}
                    {#</div>#}
                    <div class="col-xs-1">
                        <div class="btn-group btn-group-sm">
                            <span data-toggle="buttons-checkbox">
                                <div
                                        data-toggle="collapse"
                                        href="#transres-AdvancedSearch"
                                        class="btn btn-default btn-sm toggle-btn-state"
                                        data-active-class="advance-search-wrench"
                                        style="height: 30px;"
                                >
                                        <span class="glyphicon glyphicon-wrench"></span>
                                </div>
                            </span>
                            <button id="filter-btn" type="submit" class="btn btn-default btn-sm">Filter</button>
                        </div>
                    </div>

                {#</div>#}
            </div>

            {% if advancedFilter %}
                {% set advacedCollapse = 'in' %}
            {% else %}
                {% set advacedCollapse = '' %}
            {% endif %}

            <div id="transres-AdvancedSearch" class="panel-collapse collapse {{ advacedCollapse }}">
                <div class="panel-body">
                    <div class="row">
                        {#<div class="col-xs-2">#}
                            {#{{ form_widget(filterform.type) }}#}
                        {#</div>#}

                        <div class="col-xs-2">
                            {{ form_widget(filterform.clone) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.host) }}
                        </div>

                        <div class="col-xs-3">
                            {{ form_widget(filterform.reactivity) }}
                        </div>

                        <div class="col-xs-3">
                            {{ form_widget(filterform.company) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form_widget(filterform.catalog) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.control) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.protocol) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.retrieval) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.dilution) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.comment) }}
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form_widget(filterform.antibodylabs) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.antibodypanels) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.document) }}
                        </div>

                        <div class="col-xs-2">
                            {{ form_widget(filterform.visual) }}
                        </div>

                        <div class="col-xs-2">
                        </div>

                        <div class="col-xs-2">
                        </div>
                    </div>

                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
            {{ form_rest(filterform) }}
        {{ form_end(filterform) }}
    </div>
    <br>

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(entities, 'ID', 'ent.id') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Category Tags', 'categoryTags.name') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Show on public list?', 'ent.openToPublic') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Name', 'ent.name') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Alternative Name', 'ent.altname') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Company', 'ent.company') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Catalog', 'ent.catalog') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Lot', 'ent.lot') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Ig Concentraton', 'ent.igconcentration') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Clone', 'ent.clone') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Host', 'ent.host') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Reactivity', 'ent.reactivity') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Control', 'ent.control') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Protocol', 'ent.protocol') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Retrieval', 'ent.retrieval') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Dilution', 'ent.dilution') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Storage', 'ent.storage') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Comment', 'ent.comment') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Associated Antibodies', 'associates.name') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Data sheet', 'ent.datasheet') }}</th>
                {#<th>Docs</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Type', 'ent.type') }}</th>#}

                {#{% if is_granted('ROLE_TRANSRES_ADMIN') %}#}
                    {#<th>Actions</th>#}
                {#{% endif %}#}
            </tr>
        </thead>

        {#data-link="row" class="rowlink" data-target="a.list-row-mainlink"#}
        <tbody1>
        {% for ent in entities %}

            <tr>
                <td>
                    {{ ent.id }}
                    {#<a class="list-row-mainlink"#}
                       {#href="{{ path('translationalresearch_antibody_show', { 'id': ent.id }) }}"#}
                       {#target="_blank">{{ ent.id }}</a>#}
                </td>

                <td>
                    {% for category in ent.categoryTags %}
                        {{ category }}<br>
                    {% endfor %}
                </td>

                {#<td>#}
                    {#{% if ent.openToPublic == true %}#}
                        {#Yes#}
                        {#<input#}
                                {#type="checkbox"#}
                                {#id="openToPublic"#}
                                {#name="openToPublic"#}
                                {#value="true"#}
                                {#checked disabled#}
                        {#>#}
                    {#{% else %}#}
                        {#No#}
                        {#<input#}
                                {#type="checkbox"#}
                                {#id="openToPublic"#}
                                {#name="openToPublic"#}
                                {#value="false" disabled#}
                        {#>#}
                    {#{% endif %}#}
                {#</td>#}

                <td>
                    {{ ent.name }}
                </td>

                {#<td>#}
                    {#{{ ent.altname }}#}
                {#</td>#}

                <td>
                    {{ ent.company }}
                </td>

                <td>
                    {{ ent.catalog }}
                </td>

                {#<td>#}
                    {#{{ ent.lot }}#}
                {#</td>#}

                {#<td>#}
                    {#{{ ent.igconcentration }}#}
                {#</td>#}

                <td>
                    {{ ent.clone }}
                </td>

                <td>
                    {{ ent.host }}
                </td>

                <td>
                    {{ ent.reactivity }}
                </td>

                <td>
                    {{ ent.control }}
                </td>

                <td>
                    {{ ent.protocol }}
                </td>

                <td>
                    {{ ent.retrieval }}
                </td>

                <td>
                    {{ ent.dilution }}
                </td>

                <td>
                    {{ ent.storage }}
                </td>

                {#<td data-toggle="tooltip" title="{{ ent.getAllComments()|raw }}">#}
                    {#{{ transres_util.tokenTruncate(ent.comment,50) }}#}
                    {#{% if ent.comment1 %}#}
                        {#<br>#}
                        {#{{ transres_util.tokenTruncate(ent.comment1,50) }}#}
                    {#{% endif %}#}
                    {#{% if ent.comment2 %}#}
                        {#<br>#}
                        {#{{ transres_util.tokenTruncate(ent.comment2,50) }}#}
                    {#{% endif %}#}
                {#</td>#}

                <td>
                    {% for associate in ent.associates %}
                        {{ associate.listName() }}<br>
                    {% endfor %}
                </td>

                <td>
                    {#{{ ent.datasheet }}#}
                    {% if ent.datasheet %}
                        <a target="_blank" href="{{ ent.datasheet }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    {% endif %}
                </td>

                {#<td>#}
                    {#{{ ent.documents }}#}
                    {#{% for document in ent.documents %}#}
                        {#{% set absolutePath = document.getAbsoluteUploadFullPath() %}#}
                        {#<p>#}
                            {#<a href="{{ absolutePath }}" target="_blank">#}
                                {#{{ document.getOriginalname() }}#}
                            {#</a>#}
                        {#</p>#}
                    {#{% endfor %}#}
                {#</td>#}

                {#<td>#}
                    {#{{ ent.type }}#}
                {#</td>#}

                {#{% if is_granted('ROLE_TRANSRES_ADMIN') or is_granted('ROLE_TRANSRES_TECHNICIAN') %}#}
                    {#<td class="rowlink-skip">#}
                        {#<div class="btn-group">#}
                            {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
                                {#Action <span class="caret"></span>#}
                            {#</button>#}

                            {#<ul class="dropdown-menu dropdown-menu-right">#}

                                {#<li>#}
                                    {#<a href="{{ path('translationalresearch_antibody_show', { 'id': ent.id }) }}"#}
                                       {#target="_blank"#}
                                    {#>Show</a>#}
                                {#</li>#}

                                {#<li>#}
                                    {#<a href="{{ path('translationalresearch_antibody_edit', { 'id': ent.id }) }}"#}
                                    {#>Edit</a>#}
                                {#</li>#}

                                {#{% if ent.getType()|lower != 'disabled' %}#}
                                    {#<li>#}
                                        {#<a general-data-confirm="Are you sure you would like to disable this entry?"#}
                                           {#href="{{ path('translationalresearch_change_antibody_type',#}
                                            {#{ 'entityId':ent.id, 'type':'disabled' }) }}">Disable#}
                                        {#</a>#}
                                    {#</li>#}
                                {#{% endif %}#}
                                {#{% if ent.getType()|lower != 'default' and ent.getType()|lower != 'user-added' %}#}
                                    {#<li>#}
                                        {#<a general-data-confirm="Are you sure you would like to enable and set this entry's type to 'Default'?"#}
                                           {#href="{{ path('translationalresearch_change_antibody_type',#}
                                            {#{ 'entityId':ent.id, 'type':'default' }) }}">Enable#}
                                        {#</a>#}
                                    {#</li>#}
                                {#{% endif %}#}

                            {#</ul>#}

                        {#</div>#}
                    {#</td>#}
                {#{% endif %}#}
            </tr>
        {% endfor %}
        </tbody1>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    {#<p>#}
        {#<a href="{{ path('translationalresearch_antibody_new') }}">#}
            {#Create a new Antibody#}
        {#</a>#}
    {#</p>#}



{% endblock %}


{#{% block stylesheets %}#}
    {#{{ encore_entry_link_tags('antibodies-css') }}#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ encore_entry_script_tags('antibodies') }}#}
{#{% endblock %}#}
