{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppCrnBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppCrnBundle/Default/crnmacros.html.twig" as crnmacros %}
{% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}
{% import "AppUserdirectoryBundle/FormNode/formnodemacros.html.twig" as formnodemacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info crn-title" align="center">
        {{ title|raw }}
    </h4>

    <br>

    {% set timeSpentMinutes = crn_util.getTotalTimeSpentMinutes() %}
    {% if timeSpentMinutes %}
        <p>{{ timeSpentMinutes|raw }}</p>
    {% endif %}

    <br>

    {% if formnodetrigger is not defined %}
        {% set formnodetrigger = 1 %}
    {% endif %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="orderformtype" value="crn" />
    <input type="hidden" id="formtype" value="{{ formtype }}" />
    <input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />
    <input type="hidden" id="mrn" value="{{ mrn }}" />
    <input type="hidden" id="mrntype" value="{{ mrntype }}" />
    {#<input type="hidden" id="encounterid" value="{{ encounterid }}" />#}

    <input type="hidden" id="formnodetrigger" value="{{ formnodetrigger }}" />
    <input type="hidden" id="formnodeTopHolderId" value="{{ formnodeTopHolderId }}" />

    {{ crnmacros.taskPrototype(form,cycle) }}

    <div id="crn-patient-list">

    {% set holderId = "patient-holder-1" %}

    {{ form_start(form,{'attr': {'id': 'crn-new-entry-form'}, 'method': 'POST', 'action': path('crn_save_entry')}) }}

        {#prototype must be defined after form tag#}
        {#{{ crnmacros.taskPrototype(form) }}#}
        {#{% set sitename = crn_sitename %}#}
        {#<div id="form-prototype-data"#}
             {#data-userurllink = "{{ usermacros.userUrlLink()|e }}"#}
             {#data-uploadurl = "{{ oneup_uploader_endpoint('crn_gallery') }}"#}
             {#data-userid = "{{ app.user.id }}"#}
             {#data-prototype-crn-tasks = "{{ crnmacros.taskForm(form.crnEntryMessage.crnTasks,cycle,'crn-tasks','prototype',sitename,1)|e }}"#}
        {#></div>#}

        <input type="hidden" id="messageStatusJs" name="messageStatusJs" value="" />

        {{ form_errors(form) }}

        {% for patientForm in form.patient %}

            {{ crnmacros.patientInfoSection(patientForm,cycle,holderId,'Patient Info',formtype,form) }}

            {#List previous entries#}
            <button id="crn-list-previous-entries-btn"
                    class="btn btn-primary" type="button" style="display: none;"
                    onclick="crnListPreviousEntriesForPatient('{{ holderId }}')">Entries for this patient (including one currently shown)</button>
            <div id="crn-list-previous-entries"></div>
            <br>

            {#List previous tasks#}
            <button id="crn-list-previous-tasks-btn"
                    class="btn btn-primary" type="button" style="display: none;"
                    onclick="crnListPreviousTasksForPatient('{{ holderId }}','new')">Outstanding/Pending To Do tasks for this patient (including one currently shown)</button>
            <div id="crn-list-previous-tasks"></div>
            <br>

            {#<a id="crnentry-nosinglepatient-link" class="collapsed" role="button" data-toggle="collapse" href="#crnentry-form" onclick="$(this).hide();">#}
            <a id="crnentry-nosinglepatient-link" href="javascript:;" onclick="showCrnEntryForm(true);">
                No single patient is referenced by this entry or I'll add the patient info later
            </a>
            <div id="crnentry-form" class="panel-collapse collapse">{#testing in#}

            {#above the "Call Information" accordion, insert an accordion with the title "Encounter Info"    #}
            {% for encounter in patientForm.encounter %}
            {% if encounter.vars.value.status == 'valid' %}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#crn-EncounterInfo-{{ encounter.vars.value.id }}">
                                Encounter Info
                            </a>
                        </h4>
                    </div>
                    <div id="crn-EncounterInfo-{{ encounter.vars.value.id }}" class="panel-collapse collapse in">
                        <div class="panel-body">

                            {% set status = 'Submitted' %}
                            {{ form_row(encounter.id) }}
                            {{ form_row(encounter.status) }}

                            {#Encounter type and number. Hide for new entry. Use showPreviousEncounters in the form: hide if defined and true.#}
                            {% if showPreviousEncounters is defined and showPreviousEncounters==true %}
                                <div style="display: none">
                            {% endif %}
                            {% if encounter.number is defined %}
                                {{ formmacros.inputArrayField(encounter.number,"new","encounternumber","key","","","",status) }}
                                {#{{ formmacros.inputArrayField(encounter.date,cycle,"encounterdate","date","","","",status) }}#}
                            {% endif %}
                            {% if showPreviousEncounters is defined and showPreviousEncounters==true %}
                                </div>
                            {% endif %}

                            {#previous encounter drop down menu#}
                            {#[Autogenerated new ID, selected by default]#}
                            {#[Previous ID (MM/DD/YYYY)]#}
                            {#[Older Previous ID (MM/DD/YYYY)]#}
                            {#Selecting the previous encounter should load the values for other fields in the accordion from that encounter via ajax and lock them#}
                            {% if form.encounterKeytype is defined %}
                                {{ formmacros.field(form.encounterKeytype) }}
                            {% endif %}
                            {% if form.previousEncounters is defined %}
                                {{ formmacros.field(form.previousEncounters) }}
                            {% endif %}
                            {% if form.previousEncounterId is defined %}
                                {{ formmacros.field(form.previousEncounterId) }}
                            {% endif %}

                            <div id="crn-message-encounter-new">

                            {{ crnmacros.encounterDateTimeWithTimezone(encounter.date,cycle) }}
                            {#{{ datetime.timezone.vars.label }}#}
                            {% if cycle == "new" %}
                                <div style="display: none;">
                            {% endif %}
                            {{ formmacros.field(encounter.encounterStatus) }}
                            {{ formmacros.inputArrayField(encounter.encounterInfoTypes,cycle,"encounterinfotypes","","","","",status) }}
                            {% if cycle == "new" %}
                                </div>
                            {% endif %}

                            {{ formmacros.field(encounter.provider) }}

                            {% for attendingPhysician in encounter.attendingPhysicians %}
                                {{ formmacros.field(attendingPhysician.field) }}
                            {% endfor %}

                            {{ crnmacros.referingProviderObject(encounter) }}

                            {{ crnmacros.trackerContactinfoForm(encounter,cycle,status) }}

                            {#Update Patient Info: encounter with status='valid'#}
                            {{ crnmacros.updatePatientInfoSection(encounter,cycle,status) }}

                            </div>
                            <div id="crn-message-encounter-previous"></div>

                        </div> <!-- panel-body -->
                    </div> <!-- panel-collapse -->
                </div> <!-- panel panel-primary -->

            {% endif %}
            {% endfor %} {#encounter#}

        {% endfor %} {#end of patient#}


        {# Entry #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#crn-Entry">
                        Entry
                    </a>
                </h4>
            </div>
            <div id="crn-Entry" class="panel-collapse collapse in">
                <div class="panel-body">

                    {#Message Fields        #}
                    <p>
                        {#Message Type: Message->messageCategory#}
                        {% if form.messageCategory is defined %}
                            {{ treemacros.compositeTreeNode(form.messageCategory,cycle,"noprototype") }}
                        {% endif %}
                        {% if form.messageStatus is defined %}
                            {{ formmacros.field(form.messageStatus) }}
                        {% endif %}

                        {% if cycle == "new" %}
                            <div style="display: none;">
                        {% endif %}
                        {#Message Version#}
                        {{ formmacros.field(form.version) }}
                        {#Amendment Reason#}
                        {% if form.amendmentReason is defined %}
                            {{ formmacros.field(form.amendmentReason) }}
                        {% endif %}
                        {% if cycle == "new" %}
                            </div>
                        {% endif %}
                    </p>

                    {#Patient List    #}
                    {{ crnmacros.crnPatientList(form,cycle) }}

                    <div id="form-node-holder"></div>

                    {{ crnmacros.crnEntryDocuments(form,cycle) }}

                    {{ crnmacros.crnTaskList(form,cycle) }}

                    {{ crnmacros.crnEntryTags(form,cycle) }}
                    {# EOF Entry #}

            </div> <!-- panel-body -->
          </div> <!-- panel-collapse -->
        </div> <!-- panel panel-primary -->
        {# EOF Entry #}

        <p>
            {#<button class="btn btn-lg btn-primary btn-success" name="btnSubmit" type="button" onclick="crnSubmitForm('save-draft');">Save Draft</button>#}
            {#<button class="btn btn-lg btn-primary btn-success" name="btnSubmit" type="button" onclick="crnSubmitForm('submit');">Submit</button>#}
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3" align="right">
                    <button
                            id="save-draft-btn"
                            class="btn btn-success"
                            name="btnSubmit"
                            type="button"
                            onclick="crnSubmitForm(this,'Draft');"
                            style="min-width: 100%"
                    >Save Draft</button>
                </div>
                <div class="col-lg-3" align="left">
                    <div class="input-group">
                        <input type="password" id="crn-user-password" class="form-control" placeholder="Enter password" style="min-width: 100%">
                        <span class="input-group-btn">
                            <button id="signed-btn" class="btn btn-success" name="btnSubmit" type="button" onclick="crnSubmitForm(this,'Signed');">Finalize and Sign</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-lg-3"></div>
            </div><!-- /.row -->
        </p>

        </div> {#crnentry-form#}

        {#{{ form_row(form._token) }}#}
        {#{{ form_rest(form) }}#}

    {#</form>#}
    {{ form_end(form,{'render_rest': false}) }}

    </div>

    <div id="crn-msg-danger-box" class="alert alert-danger" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>
    <div id="crn-msg-success-box" class="alert alert-success" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>

{% endblock %}


{% block additionaljs %}

    {#<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>#}

    <script language="Javascript">


    $(document).ready(function() {
        //hide all alias
        //crnHideAllAlias(true,true);
        //crnHideAllAlias(true,true,'crn-encounterInfo-holder');

        //init
        initCrnPage();

        //preset mrn and mrn-type
        crnPresetMrnMrntype('patient-holder-1');

    });


</script>
{% endblock %}

{#{% block additionalcss %}#}
    {#<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">#}
{#{% endblock %}#}
