{% extends "AppDashboardBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <input type="hidden" id="useWarning" value="{{ useWarning }}" />

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

    <div class="well form-search">
        {{ form_start(filterform) }}
        <div class="row">
            <div class="col-xs-2">
                {{ formmacros.fielddate(filterform.startDate,'allow-future-date') }}
            </div>
            <div class="col-xs-2">
                {{ formmacros.fielddate(filterform.endDate,'allow-future-date') }}
            </div>
            <div class="col-xs-2">
                {% if filterform.projectSpecialty is defined %}
                    {{ form_widget(filterform.projectSpecialty, {'attr': {'placeholder': 'Specialty'}}) }}
                {% endif %}
            </div>
            {#<div class="col-xs-2">#}
                {#{% if filterform.compareType is defined %}#}
                    {#{{ form_widget(filterform.compareType, {'attr': {'placeholder': 'Compare Type'}}) }}#}
                {#{% endif %}#}
            {#</div>#}
            <div class="col-xs-4">
                {% if filterform.chartType is defined %}
                    {{ form_widget(filterform.chartType, {'attr': {'placeholder': 'Chart Type'}}) }}
                {% endif %}
            </div>
            {#<div class="col-xs-1">#}
                {#{% if filterform.showLimited is defined %}#}
                    {#{{ formmacros.checkbox(filterform.showLimited) }}#}
                    {#{{ form_label(filterform.showLimited) }}&nbsp;{{ form_widget(filterform.showLimited) }}#}
                {#{% endif %}#}
            {#</div>#}

            <div class="col-xs-1">
                <button id="filter-btn" type="button"
                        class="btn btn-default"
                        onclick="userPlotlyGetChartsReact('dashboard')"
                        data-spinner-color="{{ spinnerColor }}"
                >Filter</button>
            </div>
        </div>

        <br>
        <div class="row">

            <div class="col-xs-2">
                {% if filterform.showLimited is defined %}
                    {#{{ form_label(filterform.showLimited) }}&nbsp;{{ form_widget(filterform.showLimited) }}#}
                    {{ form_row(filterform.showLimited) }}
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if filterform.quantityLimit is defined %}
                    {#{{ form_label(filterform.quantityLimit) }}&nbsp;{{ form_widget(filterform.quantityLimit) }}#}
                    {{ form_row(filterform.quantityLimit) }}
                {% endif %}
            </div>

            <div class="col-xs-8">
                {% if filterform.category is defined %}
                    {#{{ form_widget(filterform.category) }}#}
                    {{ form_row(filterform.category) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(filterform) }}
    </div>


    {#<div class="chart"></div>#}

    {#<div id="start-test" align="center">#}
        {#start-test#}
    {#</div>#}
    {#<br>#}

    <div id="charts" align="center">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>

{% endblock %}


{% block additionaljs %}


    <script src="{{ asset('orderassets/AppUserdirectoryBundle/charts/plotly/plotly.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-choices-plotly.js') }}"></script>


{% endblock %}

