{% extends "AppDashboardBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

    {#<div id="root"></div>#}
    {#<div id="app"></div>#}

    {#<table class="records_list table table-condensed text-left">#}
        {#<thead>#}
            {#<tr>#}
                {#PI#}
            {#</tr>#}
            {#<tr>#}
                {## Projects#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody data-link="row">#}
        {#{% for info in infos %}#}

            {#<tr>#}
                {#<td class="rowlink-skip">#}
                    {#{{ info }}#}
                {#</td>#}
                {#<td class="rowlink-skip">#}
                    {#info#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {% if filterform is defined %}

    <div class="well form-search">
        {{ form_start(filterform) }}
        <div class="row">
            <div class="col-xs-1">
                {{ formmacros.fielddate(filterform.startDate,'allow-future-date') }}
            </div>
            <div class="col-xs-1">
                {{ formmacros.fielddate(filterform.endDate,'allow-future-date') }}
            </div>
            <div class="col-xs-2">
                {% if filterform.projectSpecialty is defined %}
                    {{ form_widget(filterform.projectSpecialty, {'attr': {'placeholder': 'Specialty'}}) }}
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if filterform.compareType is defined %}
                    {{ form_widget(filterform.compareType, {'attr': {'placeholder': 'Compare Type'}}) }}
                {% endif %}
            </div>
            <div class="col-xs-4">
                {% if filterform.chartType is defined %}
                    {{ form_widget(filterform.chartType, {'attr': {'placeholder': 'Chart Type'}}) }}
                {% endif %}
            </div>
            {#<div class="col-xs-1">#}
                {#{% if filterform.showLimited is defined %}#}
                    {#{{ formmacros.checkbox(filterform.showLimited) }}#}
                    {#{{ form_label(filterform.showLimited) }}&nbsp;{{ form_widget(filterform.showLimited) }}#}
                {#{% endif %}#}
            {#</div>#}
            <div class="col-xs-1" align="left">
                <button id="filter-btn" type="submit" class="btn btn-default">Filter</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                {% if filterform.showLimited is defined %}
                    {{ form_label(filterform.showLimited) }}&nbsp;{{ form_widget(filterform.showLimited) }}
                {% endif %}
            </div>
            <div class="col-xs-3" align="left">
                {% if filterform.quantityLimit is defined %}
                    {{ form_label(filterform.quantityLimit) }}&nbsp;{{ form_widget(filterform.quantityLimit) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(filterform) }}
    </div>

    {% endif %}


    {#<div class="chart"></div>#}

    <div id="charts" align="center">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>

{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block additionaljs %}

    {#testing remove#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/charts/plotly/plotly.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-choices-plotly.js') }}"></script>#}

    <script type="text/javascript">
        var charts = {{ chartsArray|json_encode|raw }};
    </script>



{% endblock %}


{#{% block additionalcss %}#}
    {#<style type="text/css">#}
    {#</style>#}
{#{% endblock %}#}

