{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    <br><br>

    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}

        {% if form.projectSpecialty is defined %}
            {{ formmacros.field(form.projectSpecialty) }}
        {% endif %}

        {% if form.primaryReview is defined %}
            {{ formmacros.checkbox(form.primaryReview) }}
        {% endif %}

        {% if form.reviewProjectType is defined %}
            {{ formmacros.checkbox(form.reviewProjectType) }}
        {% endif %}

        {% if form.reviewer is defined %}
            {{ formmacros.field(form.reviewer) }}
        {% endif %}

        {% if form.reviewerDelegate is defined %}
            {{ formmacros.field(form.reviewerDelegate) }}
        {% endif %}


        <br>
        <p>
        {% if cycle == "new" %}
            <input class="btn btn-primary" type="submit" value="Create" />
        {% endif %}
        {% if cycle == "show" %}
            <a class="btn btn-primary" href="{{ path('translationalresearch_default-reviewer_edit',{ 'id': defaultReviewer.id }) }}">Edit</a>
        {% endif %}
        {% if cycle == "edit" %}
            <input class="btn btn-warning" type="submit" value="Update" />
            <a class="btn btn-default" href="{{ path('translationalresearch_default-reviewer_show',{ 'id': defaultReviewer.id }) }}">Cancel</a>
        {% endif %}
        </p>

    {{ form_end(form) }}

    {% if cycle != "new" %}
    <br>
    <p>
        {#<a class="btn btn-danger" href="{{ path(translationalresearch_sitename~'_default-reviewer_delete', { 'id': defaultReviewer.id }) }}">Delete</a>#}
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </p>
    {% endif %}

    <br>
    <p>
        <a href="{{ path('translationalresearch_state-default-reviewer_index',{'stateStr':defaultReviewer.state,'specialtyStr':specialty.getAbbreviation()}) }}">Back to the list</a>
    </p>
{% endblock %}
