{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">
            <a data-toggle="collapse" href="#calllog-content">
                Call Log Book
            </a>
        </h4>
    </div>
    <div id="calllog-content" class="panel-collapse collapse">
        <div class="panel-body">

            <table class="table table-striped table-bordered table-hover table-condensed text-left">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">

                    <tr>
                        <td>Resources</td>
                        <td>{{ entity.calllogResources }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', {'id': entity.id, 'param': 'calllogResources'}) }}">Edit</a></td>
                    </tr>

                </tbody>
            </table>

            {#Defaults#}
            <p>
                {{ render(controller('App\\CallLogBundle\\Controller\\CallLogSiteParametersController::calllogSiteParameterShowAction')) }}
                {#{{ render(url('calllog_siteparameters_show_specific_site_parameters')) }}#}
                {#<a href="{{ path('calllog_siteparameters_show_specific_site_parameters') }}">Edit Defaults</a>#}
            </p>

        </div>
    </div>
</div>

