{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% elseif sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% elseif sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% elseif sitename == 'translationalresearch' %}
    {% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% elseif sitename == 'dashboard' %}
    {% set extendStr = "AppDashboardBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}


{% block title %}
    Update {{ sitesettings_title }}: {{ param }}
{% endblock %}


{% block additionalcss %}

    {#{% stylesheets#}
        {#'bundles/appuserdirectory/datetimepicker/css/bootstrap-datetimepicker.min.css'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />

    {#<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">#}

{% endblock %}

{% block additionaljs %}

    {#{% javascripts#}
        {#'@AppUserdirectoryBundle/Resources/public/datetimepicker/js/bootstrap-datetimepicker.min.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script type="text/javascript" src="{{ asset('orderassets/AppUserdirectoryBundle/datetimepicker/js/bootstrap-datetimepicker.min.js') }}" ></script>

{% endblock %}


{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppUserdirectoryBundle/Default/userformmacros.html.twig" as userform %}
    {% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}

    <h3 class="text-info">Update {{ sitesettings_title }}: {{ param }}</h3>

    <br>

    {{ form_start(edit_form) }}

        {#{% if edit_form.allowPopulateFellApp is defined %}#}
            {#{{ formmacros.checkbox(edit_form.allowPopulateFellApp) }}#}
        {#{% endif %}#}

        {#{% if edit_form.maintenance is defined %}#}
            {#{{ formmacros.checkbox(edit_form.maintenance) }}#}
        {#{% endif %}#}

        {% if edit_form.maintenanceenddate is defined %}
            {#{{ formmacros.fielddate(edit_form.maintenanceenddate, "maintenanceenddate") }}#}
            <p>
            <div class="col-xs-12" align="center">
                <div class="input-group input-group-reg date form_datetime" style="width:30%">
                    {{ form_widget(edit_form.maintenanceenddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            </p>
        {% endif %}

        {% if edit_form.academicYearStart is defined %}
            {#{{ formmacros.fielddate(edit_form.academicYearStart, "maintenanceenddate") }}#}
            {#{{ formmacros.fieldDateLabel(edit_form.academicYearStart,'allow-future-date') }}#}

            {#{{ formmacros.field(edit_form.academicYearStart) }}#}
            {{ form_label(edit_form.academicYearStart) }}
            {{ form_widget(edit_form.academicYearStart['month']) }}
            {{ form_widget(edit_form.academicYearStart['day']) }}

            {{ form_widget(edit_form.academicYearStart['year']) }}

            {#Hiding the year gives error: provide valid date#}
            {#{{ form_widget(edit_form.academicYearStart['year'],{'attr':{'style':'display:none'}}) }}#}

            {#{{ form_widget(edit_form.academicYearStart.month) }}#}
            {#{{ form_widget(edit_form.academicYearStart.day) }}#}
            {#{% set currentYear = "now"|date("Y") %}#}
            {#currentYear={{ currentYear }}#}
            {#<div style="display: none">#}
                {#{{ form_widget(edit_form.academicYearStart, {'value' : currentYear}) }}#}
            {#</div>#}
            {#{% do edit_form.academicYearStart.year.setRendered %}#}
        {% endif %}
        {% if edit_form.academicYearEnd is defined %}
            {#{{ formmacros.fieldDateLabel(edit_form.academicYearEnd,'allow-future-date') }}#}
            {#{{ formmacros.field(edit_form.academicYearEnd) }}#}
            {{ form_label(edit_form.academicYearEnd) }}
            {{ form_widget(edit_form.academicYearEnd['month']) }}
            {{ form_widget(edit_form.academicYearEnd['day']) }}

            {{ form_widget(edit_form.academicYearEnd['year']) }}

            {#Hiding the year gives error: provide valid date#}
            {#{{ form_widget(edit_form.academicYearEnd['year'],{'attr':{'style':'display:none'}}) }}#}

            {#{{ form_label(edit_form.academicYearEnd) }}#}
            {#{{ form_widget(edit_form.academicYearEnd.month) }}#}
            {#{{ form_widget(edit_form.academicYearEnd.day) }}#}
            {#{% set currentYear = date() %}#}
            {#currentYear={{ currentYear }}#}
            {#<div style="display: none">#}
                {#{{ form_widget(edit_form.academicYearEnd, {'value' : currentYear}) }}#}
            {#</div>#}
            {#{% do edit_form.academicYearEnd.year.setRendered %}#}
        {% endif %}

        {#{% if edit_form.defaultInstitutionalPHIScope is defined %}#}
            {#{{ treemacros.compositeTreeNode(edit_form.defaultInstitutionalPHIScope,cycle,"noprototype") }}#}
        {#{% endif %}#}
        {% if edit_form.defaultOrganizationRecipient is defined %}
            {{ treemacros.compositeTreeNode(edit_form.defaultOrganizationRecipient,cycle,"noprototype") }}
        {% endif %}

        {% if edit_form.autoAssignInstitution is defined %}
            {{ treemacros.compositeTreeNode(edit_form.autoAssignInstitution,cycle,"noprototype") }}
        {% endif %}

        {% if edit_form.transresDashboardInstitution is defined %}
            {{ treemacros.compositeTreeNode(edit_form.transresDashboardInstitution,cycle,"noprototype") }}
        {% endif %}

        {% if edit_form.platformLogos is defined %}

            {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

            <input type="hidden" id="formcycle" value="{{ cycle }}" />
            <div id="form-prototype-data"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                 data-userid = "{{ app.user.id }}"
            ></div>

            <p>
            <div class="well form-element-holder user-platformLogos">
                <label class="col-xs-12 control-label">Platform Logo Image(s) - the most recent will be used</label>
                <div class="row withpaddingtop">
                    <div class="col-xs-12">
                        {{ usermacros.documentsContainer(edit_form,edit_form.platformLogos,cycle,'noprototype',8,'default','Platform Logo','asForm') }}
                    </div>
                </div>
            </div>
            </p>
        {% endif %}

        <p>
            {{ form_rest(edit_form) }}
        </p>

        {#{{ form(edit_form) }}#}

    {{ form_end(edit_form) }}

    <br>
    <br>

    <p>
    <a href="{{ path(sitename~'_siteparameters') }}">
        Back to the list
    </a>
    </p>

{% endblock %}
