{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'translationalresearch' %}
    {% set extendStr = 'AppTranslationalResearchBundle/Default/base.html.twig' %}
{% endif %}

{% if sitename == 'dashboard' %}
    {% set extendStr = 'AppDashboardBundle/Default/base.html.twig' %}
{% endif %}

{% extends extendStr%}


{% block title %}
    {{ sitesettings_title }} {#Site Settings#}
{% endblock %}

{% block content %}


    <p>
        <button id="collapseAll" type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button id="expandAll" type="button" class="btn btn-default btn-sm btn-pressed-default" onClick="extendAll()" >Expand All</button>
    </p>


    {#<h3 class="text-info">{{ sitesettings_title }}</h3>#}
    {#<br>#}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">
            <a data-toggle="collapse" href="#platform-settings">
                Platform Settings
            </a>
        </h4>
    </div>
<div id="platform-settings" class="panel-collapse collapse">
    <div class="panel-body">

    <table class="table table-bordered table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">


            <tr>
                <td>Max Idle Time (minutes)</td>
                <td>{{ entity.maxIdleTime }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maxIdleTime'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Version</td>
                <td>
                    <span style="white-space: pre-line">
                    {{ entity.version }}
                    </span>
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'version'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Site Email</td>
                <td>{{ entity.siteEmail }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'siteEmail'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Live Site Root URL (https://c.med.cornell.edu)</td>
                <td>{{ entity.liveSiteRootUrl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'liveSiteRootUrl'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Initial Configuration Completed</td>
                <td>
                    {% set initialConfigurationCompletedStr = 'No' %}
                    {% if entity.initialConfigurationCompleted == true %}
                        {% set initialConfigurationCompletedStr = 'Yes' %}
                    {% endif %}
                    {{ initialConfigurationCompletedStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'initialConfigurationCompleted'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Network drive absolute path to store DB backup files (my/backup/path/)</td>
                <td>{{ entity.networkDrivePath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'networkDrivePath'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Send email notifications to platform administrators when new user records are created:</td>
                <td>
                    {% set sendEmailUserAddedStr = 'No' %}
                    {% if entity.sendEmailUserAdded == true %}
                        {% set sendEmailUserAddedStr = 'Yes' %}
                    {% endif %}
                    {{ sendEmailUserAddedStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'sendEmailUserAdded'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>E-Mail Platform Administrator in case of critical errors</td>
                <td>
                    {% set emailCriticalErrorStr = 'No' %}
                    {% if entity.emailCriticalError == true %}
                        {% set emailCriticalErrorStr = 'Yes' %}
                    {% endif %}
                    {{ emailCriticalErrorStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'emailCriticalError'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Do not send critical error notifications to the following users</td>
                <td>
                    {#{{ entity.emailCriticalErrorExceptionUsers }}#}
                    {% for exceptionUser in entity.emailCriticalErrorExceptionUsers %}
                        {{ exceptionUser }}<br>
                    {% endfor %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'emailCriticalErrorExceptionUsers'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Restart Apache in case of critical this many errors over the course of 10 minutes</td>
                <td>{{ entity.restartServerErrorCounter }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'restartServerErrorCounter'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Note Regarding Remote Access (https://its.weill.cornell.edu/services/wifi-networks/remote-access)</td>
                <td>{{ entity.remoteAccessUrl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'remoteAccessUrl'}) }}">Edit</a></td>
            </tr>

            {#fields for Server Instance#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Server Instance:</h3>
                </td>
            </tr>
            <tr>
                <td>Environment</td>
                <td>{{ entity.environment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'environment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td class="rowlink-skip">Kernel Environment:</td>
                <td class="rowlink-skip" colspan="2">{{ app.environment }}</td>
            </tr>
            <tr>
                <td>Current Hostname:</td>
                <td class="rowlink-skip" colspan="2">{{ phphostname }}; {{ app.request.schemeAndHttpHost }}</td>
            </tr>
            <tr>
                <td>Internal Connection Channel (http or https; Clearing Cache is required)</td>
                <td>
                    {% if entity.connectionChannel %}
                        {{ entity.connectionChannel }}
                    {% else %}
                        http
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'connectionChannel'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>External Connection Channel (if using HaProxy, internal connection channel should be 'http' and external connection channel should be 'https'; Clearing Cache is required)</td>
                <td>
                    {% if entity.urlConnectionChannel %}
                        {{ entity.urlConnectionChannel }}
                    {% else %}
                        http
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'urlConnectionChannel'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Instance ID [6 letters]</td>
                <td>{{ entity.instanceId }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'instanceId'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Secret Key</td>
                <td>{{ entity.secretKey }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'secretKey'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>User Group</td>
                <td>{{ entity.authUserGroup }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'authUserGroup'}) }}">Edit</a></td>
            </tr>
            {#<tr>#}
                {#<td>Tenant prefix URL Slug</td>#}
                {#<td>{{ entity.tenantPrefixUrlSlug }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'tenantPrefixUrlSlug'}) }}">Edit</a></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Hosted User Groups</td>#}
                {#<td>{{ entity.hostedUserGroups }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'hostedUserGroups'}) }}">Edit</a></td>#}
            {#</tr>#}
            <tr>
                <td>
                    Server Network Accessibility and Role
                </td>
                <td>{{ entity.authServerNetwork }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'authServerNetwork'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Tandem Partner Server URL</td>
                <td>{{ entity.authPartnerServer }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'authPartnerServer'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Show the section with the list of tenants on the homepage (for a primary tenant):</td>
                <td>
                    {% set showTenantsHomepageStr = 'No' %}
                    {% if entity.showTenantsHomepage == true %}
                        {% set showTenantsHomepageStr = 'Yes' %}
                    {% endif %}
                    {{ showTenantsHomepageStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'showTenantsHomepage'}) }}">Edit</a></td>
            </tr>


            {#Maintenance#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Maintenance Mode:</h3>
                    <p>
                        Note: start maintenance after "Max Idle Time" minutes. This will insure that all users are logged out by JS.
                    </p>
                </td>
            </tr>
            <tr>
                <td>Maintenance</td>
                <td>
                    {% set maintenanceStr = 'No' %}
                    {% if entity.maintenance == true %}
                        {% set maintenanceStr = 'Yes' %}
                    {% endif %}
                    {{ maintenanceStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenance'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Maintenance Until</td>
                {#<td>{{ entity.maintenanceenddate|date('m/d/Y H:i') }}</td>#}
                <td>{{ entity.getMaintenanceenddateString }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenanceenddate'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Maintenance Message on Logout (use [[datetime]] string to use "Maintenance Until" field)</td>
                <td>{{ entity.maintenancelogoutmsg }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenancelogoutmsg'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Maintenance Message on Login (use [[datetime]] string to use "Maintenance Until" field)</td>
                <td>{{ entity.maintenanceloginmsg }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenanceloginmsg'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Global note for all login page</td>
                <td>{{ entity.globalNoteLogin }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'globalNoteLogin'}) }}">Edit</a></td>
            </tr>

            {#<tr>#}
                {#<td class="rowlink-skip" colspan="3" align="center">#}
                    {#<h3>Health Monitors:</h3>#}
                    {#<p>#}
                        {#It is possible to use the parameter from this site setting as a sender email [[siteEmail]] and receiver email by role [[ROLE_PLATFORM_DEPUTY_ADMIN]]#}
                    {#</p>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Monitor check interval in minutes. If changed, the monitor cron jobs must re-generated</td>#}
                {#<td>{{ entity.monitorCheckInterval }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'monitorCheckInterval'}) }}">Edit</a></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>External server monitor url: view-med checks if view is running (i.e. http://view-test.med.cornell.edu)</td>#}
                {#<td>{{ entity.externalMonitorUrl }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'externalMonitorUrl'}) }}">Edit</a></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Monitor independent of Symfony, PHP, Postgresql#}
                    {#script to monitor if url on this server is running (help: webmonitor.py -H):#}
                    {#<br>python3 path/to/webmonitor.py -l 'url1,url2...'#}
                    {#<br>-h mailerhost -o mailerport -u mailerusername -p mailerpassword#}
                    {#<br>-s 'sender email' -r 'receiver email1, email2 ...'#}
                    {#<br>-c 'sudo systemctl restart postgresql-14, sudo systemctl restart httpd.service'#}
                    {#<br>-U 'http://view-test.med.cornell.edu'#}
                    {#<br>-e 'server environment or description'#}
                {#</td>#}
                {#<td>{{ entity.monitorScript }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'monitorScript'}) }}">Edit</a></td>#}
            {#</tr>#}

            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Default Values:</h3>
                </td>
            </tr>
            <tr>
                <td>Navbar Employee List Filter Institution #1</td>
                <td>{{ entity.navbarFilterInstitution1 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'navbarFilterInstitution1'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Navbar Employee List Filter Institution #2</td>
                <td>{{ entity.navbarFilterInstitution2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'navbarFilterInstitution2'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Enable auto-assignment of Institutional (PHI) Scope</td>
                <td>
                    {% set enableAutoAssignmentInstitutionalScopeStr = 'No' %}
                    {% if entity.enableAutoAssignmentInstitutionalScope == true %}
                        {% set enableAutoAssignmentInstitutionalScopeStr = 'Yes' %}
                    {% endif %}
                    {{ enableAutoAssignmentInstitutionalScopeStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'enableAutoAssignmentInstitutionalScope'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Auto-Assign Institution name</td>
                <td>{{ entity.autoAssignInstitution }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'autoAssignInstitution'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Mailer:</h3>
                </td>
            </tr>
            <tr>
                <td>SMTP Server Address</td>
                <td>{{ entity.smtpServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'smtpServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Mailer Port (i.e. 25, 465, 587)</td>
                <td>{{ entity.mailerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerPort'}) }}">Edit</a></td>
            </tr>
            {#<tr>#}
                {#<td>Mailer Transport (i.e. smtp or gmail)</td>#}
                {#<td>{{ entity.mailerTransport }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerTransport'}) }}">Edit</a></td>#}
            {#</tr>#}
            <tr>
                <td>Mailer Authentication Mode (i.e. oauth or login)</td>
                <td>{{ entity.mailerAuthMode }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerAuthMode'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Mailer Use Security Connection (i.e. tls or ssl)</td>
                <td>{{ entity.mailerUseSecureConnection }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerUseSecureConnection'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Mailer Username</td>
                <td>{{ entity.mailerUser }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerUser'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Mailer Password</td>
                <td>
                    {#{{ entity.mailerPassword }}#}
                    {% if entity.mailerPassword %}
                        *******
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerPassword'}) }}">Edit</a></td>
            </tr>
            {#<tr>#}
                {#<td>Use email spooling (Instead of sending every email directly to the SMTP server individually, add outgoing emails to a queue and then periodically send the queued emails. This makes form submission appear faster.)</td>#}
                {#<td>#}
                    {#{% set mailerSpool = 'No' %}#}
                    {#{% if entity.mailerSpool == true %}#}
                        {#{% set mailerSpool = 'Yes' %}#}
                    {#{% endif %}#}
                    {#{{ mailerSpool }}#}
                {#</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerSpool'}) }}">Edit</a></td>#}
            {#</tr>#}
            {#<tr>#}
                {#{% set cronStatus = user_service_utility.getCronStatus("cron:swift",false) %}#}
                {#<td>Frequency of sending emails in the queue (in minutes between eruptions). {{ cronStatus|raw }}</td>#}
                {#<td>{{ entity.mailerFlushQueueFrequency }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerFlushQueueFrequency'}) }}">Edit</a></td>#}
            {#</tr>#}
            <tr>
                <td>Reroute all outgoing emails only to the following email address(es) listed in the "email1@example.com,email2@example.com,email3@example.com" format separated by commas. (This is useful for a non-live server environment to avoid sending emails to users. Leaving this field empty will result in emails being sent normally.)</td>
                <td>{{ entity.mailerDeliveryAddresses }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mailerDeliveryAddresses'}) }}">Edit</a></td>
            </tr>

            {#Crons#}
            {#<tr>#}
                {#<td class="rowlink-skip" colspan="3" align="center">#}
                    {#<h3>Cron Jobs:</h3>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Email cron</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:swift",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a general-data-confirm="Are you sure you would like to remove this cron job?"#}
                       {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:swift'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Fellowship Applications Import cron</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:importfellapp",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a general-data-confirm="Are you sure you would like to remove this cron job?"#}
                       {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:importfellapp'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Fellowship Applications Verification Import cron</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:verifyimport",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a general-data-confirm="Are you sure you would like to remove this cron job?"#}
                       {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:verifyimport'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Unpaid Invoices Reminder Email cron</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:invoice-reminder-emails",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a general-data-confirm="Are you sure you would like to remove this cron job?"#}
                       {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:invoice-reminder-emails'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Project Expiration Reminder Email cron</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:expiration-reminder-emails",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a general-data-confirm="Are you sure you would like to remove this cron job?"#}
                       {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:expiration-reminder-emails'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}

            {#<tr>#}
                {#<td>Status cron (check for Maintenance)</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:status",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a general-data-confirm="Are you sure you would like to remove this cron job?"#}
                       {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:status'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Testing cron job (send every 2 minutes testing email to admin)</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:statustest",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a#}
                        {#general-data-confirm="Are you sure you would like to remove this cron job?"#}
                        {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:statustest'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>External monitor cron job</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("cron:externalurlmonitor",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a#}
                        {#general-data-confirm="Are you sure you would like to remove this cron job?"#}
                        {#href="{{ path('user_remove_cron_job', {'cronJobName': 'cron:externalurlmonitor'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Internal monitor cron job</td>#}
                {#<td>#}
                    {#{{ user_service_utility.getCronStatus("webmonitor.py",false)|raw }}#}
                {#</td>#}
                {#<td>#}
                    {#<a#}
                        {#general-data-confirm="Are you sure you would like to remove this cron job?"#}
                        {#href="{{ path('user_remove_cron_job', {'cronJobName': 'webmonitor.py'}) }}">Remove</a>#}
                {#</td>#}
            {#</tr>#}

            {#Accessibility#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Site Accessibility:</h3>
                </td>
            </tr>
            <tr>
                <td>Permitted failed log in attempts</td>
                <td>
                    {{ entity.permittedFailedLoginAttempt }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'permittedFailedLoginAttempt'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>Captcha Enabled</td>
                <td>
                    {% set captchaEnabledStr = 'No' %}
                    {% if entity.captchaEnabled == true %}
                        {% set captchaEnabledStr = 'Yes' %}
                    {% endif %}
                    {{ captchaEnabledStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'captchaEnabled'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Captcha Site Key</td>
                <td>
                    {{ entity.captchaSiteKey }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'captchaSiteKey'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Captcha Secret Key</td>
                <td>
                    {{ entity.captchaSecretKey }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'captchaSecretKey'}) }}">Edit</a></td>
            </tr>


            {#ScanOrder DB#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>ScanOrder DB (Parameters are stored in {{ link }}):</h3>
                </td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Address</td>
                <td>{{ entity.dbServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAddress'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Port</td>
                <td>{{ entity.dbServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerPort'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account User Name</td>
                <td>{{ entity.dbServerAccountUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAccountUserName'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Password</td>
                <td>{{ entity.dbServerAccountPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAccountPassword'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Name</td>
                <td>{{ entity.dbDatabaseName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbDatabaseName'}) }}">Edit</a></td>
            </tr>


            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>General AD/LDAP Settings:</h3>
                </td>
            </tr>
            <tr>
                <td>Send request to both authentication Active Directory/LDAP servers when the first is selected for a single log in attempt</td>
                {% set ldapAll = 'No' %}
                {% if entity.ldapAll == true %}
                    {% set ldapAll = 'Yes' %}
                {% endif %}
                <td>{{ ldapAll }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapAll'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Default Primary Public User ID Type:</td>
                <td>{{ entity.defaultPrimaryPublicUserIdType }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'defaultPrimaryPublicUserIdType'}) }}">Edit</a></td>
            </tr>

            {#AD/LDAP#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>AD/LDAP:</h3>
                </td>
            </tr>
            {#<tr>#}
                {#<td>Send request to both authentication Active Directory/LDAP servers when the first is selected for a single log in attempt</td>#}
                {#<td>{{ entity.ldapAll }}</td>#}
                {#{% set ldapAll = 'No' %}#}
                {#{% if entity.ldapAll == true %}#}
                    {#{% set ldapAll = 'Yes' %}#}
                {#{% endif %}#}
                {#<td>{{ ldapAll }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapAll'}) }}">Edit</a></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td>Default Primary Public User ID Type:</td>#}
                {#<td>{{ entity.defaultPrimaryPublicUserIdType }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'defaultPrimaryPublicUserIdType'}) }}">Edit</a></td>#}
            {#</tr>#}

            <tr>
                <td>AD/LDAP Server Address</td>
                <td>{{ entity.aDLDAPServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Port (Default: 389)</td>
                <td>{{ entity.aDLDAPServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Bind DN for ldap search or simple authentication (cn=read-only-admin,dc=example,dc=com;ou=group1,dc=example,dc=com)</td>
                <td>{{ entity.aDLDAPServerOu }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerOu'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account User Name (for ldap search)</td>
                <td>{{ entity.aDLDAPServerAccountUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account Password (for ldap search)</td>
                <td>
                    {#{{ entity.aDLDAPServerAccountPassword }}#}
                    {% if entity.aDLDAPServerAccountPassword %}
                        *******
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Authenticator Relative Path (Default: "../src/App/UserdirectoryBundle/Util/" )</td>
                <td>{{ entity.ldapExePath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapExePath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Authenticator File Name - relevant for Windows-based servers only (Default: "LdapSaslCustom.exe"):</td>
                <td>{{ entity.ldapExeFilename }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapExeFilename'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Mapper Email Postfix (med.cornell.edu):</td>
                <td>{{ entity.ldapMapperEmail }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapMapperEmail'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Mapper Primary Public User ID Type:</td>
                <td>{{ entity.ldapMapperPrimaryPublicUserIdType }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapMapperPrimaryPublicUserIdType'}) }}">Edit</a></td>
            </tr>

            {#LDAP Server 2#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>AD/LDAP 2:</h3>
                </td>
            </tr>

            <tr>
                <td>AD/LDAP Server Address</td>
                <td>{{ entity.aDLDAPServerAddress2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAddress2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Port (Default: 389)</td>
                <td>{{ entity.aDLDAPServerPort2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerPort2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Bind DN for ldap search or simple authentication (cn=read-only-admin,dc=example,dc=com;ou=group1,dc=example,dc=com)</td>
                <td>{{ entity.aDLDAPServerOu2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerOu2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account User Name (for ldap search)</td>
                <td>{{ entity.aDLDAPServerAccountUserName2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountUserName2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account Password (for ldap search)</td>
                <td>
                    {#{{ entity.aDLDAPServerAccountPassword2 }}#}
                    {% if entity.aDLDAPServerAccountPassword2 %}
                        *******
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountPassword2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Authenticator Relative Path (Default: "../src/App/UserdirectoryBundle/Util/" )</td>
                <td>{{ entity.ldapExePath2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapExePath2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Authenticator File Name - relevant for Windows-based servers only (Default: "LdapSaslCustom.exe"):</td>
                <td>{{ entity.ldapExeFilename2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapExeFilename2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Mapper Email Postfix (nyp.org):</td>
                <td>{{ entity.ldapMapperEmail2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapMapperEmail2'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Mapper Primary Public User ID Type:</td>
                <td>{{ entity.ldapMapperPrimaryPublicUserIdType2 }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapMapperPrimaryPublicUserIdType2'}) }}">Edit</a></td>
            </tr>
            {#<tr>#}
                {#<td>Default Primary Public User ID Type:</td>#}
                {#<td>{{ entity.defaultPrimaryPublicUserIdType2 }}</td>#}
                {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'defaultPrimaryPublicUserIdType2'}) }}">Edit</a></td>#}
            {#</tr>#}
            {#EOF LDAP Server 2#}


            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Notices for LDAP and CWID:</h3>
                </td>
            </tr>
            <tr class="rowlink-skip">
                <td>Notice for attempting to reset password for an LDAP-authenticated account</td>
                <td>{{ entity.noticeAttemptingPasswordResetLDAP }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'noticeAttemptingPasswordResetLDAP'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Notice to prompt user to use Active Directory account to log in (Please use your CWID to log in.)</td>
                <td>{{ entity.loginInstruction }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'loginInstruction'}) }}">Edit</a></td>
            </tr>
            <tr class="rowlink-skip">
                <td>Notice to prompt user with no Active Directory account to sign up for a new account</td>
                <td>{{ entity.noticeSignUpNoCwid }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'noticeSignUpNoCwid'}) }}">Edit</a></td>
            </tr>
            <tr class="rowlink-skip">
                <td>Account request question asking whether applicant has an Active Directory account</td>
                <td>{{ entity.noticeHasLdapAccount }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'noticeHasLdapAccount'}) }}">Edit</a></td>
            </tr>
            <tr class="rowlink-skip">
                <td>Full local name for active directory account</td>
                <td>{{ entity.noticeLdapName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'noticeLdapName'}) }}">Edit</a></td>
            </tr>


            {#LIS, Laboratory Information System (LIS)#}
            {#Production#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>LIS DB (Live AP LIS Environment):</h3>
                </td>
            </tr>
            <tr>
                <td>LIS DB Server Address</td>
                <td>{{ entity.lisDBServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Port</td>
                <td>{{ entity.lisDBServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Account User Name</td>
                <td>{{ entity.lisDBAccountUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBAccountUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Account Password</td>
                <td>{{ entity.lisDBAccountPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBAccountPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Database Name</td>
                <td>{{ entity.lisDBName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Name</td>
                <td>{{ entity.LISName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Version</td>
                <td>{{ entity.LISVersion }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISVersion'}) }}">Edit</a></td>
            </tr>
            {#Test#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>LIS DB (Test AP LIS Environment):</h3>
                </td>
            </tr>
            <tr>
                <td>LIS DB Server Address</td>
                <td>{{ entity.lisDBServerAddressTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBServerAddressTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Port</td>
                <td>{{ entity.lisDBServerPortTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBServerPortTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Account User Name</td>
                <td>{{ entity.lisDBAccountUserNameTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBAccountUserNameTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Account Password</td>
                <td>{{ entity.lisDBAccountPasswordTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBAccountPasswordTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Database Name</td>
                <td>{{ entity.lisDBNameTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBNameTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Name</td>
                <td>{{ entity.LISNameTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISNameTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Version</td>
                <td>{{ entity.LISVersionTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISVersionTest'}) }}">Edit</a></td>
            </tr>
            {#Development#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>LIS DB (Development AP LIS Environment):</h3>
                </td>
            </tr>
            <tr>
                <td>LIS DB Server Address</td>
                <td>{{ entity.lisDBServerAddressDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBServerAddressDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Port</td>
                <td>{{ entity.lisDBServerPortDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBServerPortDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Account User Name</td>
                <td>{{ entity.lisDBAccountUserNameDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBAccountUserNameDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS DB Server Account Password</td>
                <td>{{ entity.lisDBAccountPasswordDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBAccountPasswordDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Database Name</td>
                <td>{{ entity.lisDBNameDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'lisDBNameDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Name</td>
                <td>{{ entity.LISNameDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISNameDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Version</td>
                <td>{{ entity.LISVersionDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISVersionDevelopment'}) }}">Edit</a></td>
            </tr>

            {#pacsvendor, Picture Archiving and Communication System (PACS)#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>PACS DB:</h3>
                </td>
            </tr>
            <tr>
                <td>PACS DB Server Address</td>
                <td>{{ entity.pacsvendorSlideManagerDBServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pacsvendorSlideManagerDBServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>PACS DB Server Port</td>
                <td>{{ entity.pacsvendorSlideManagerDBServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pacsvendorSlideManagerDBServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>PACS DB Server User Name</td>
                <td>{{ entity.pacsvendorSlideManagerDBUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pacsvendorSlideManagerDBUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>PACS DB Server Password</td>
                <td>{{ entity.pacsvendorSlideManagerDBPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pacsvendorSlideManagerDBPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>PACS Database Name</td>
                <td>{{ entity.pacsvendorSlideManagerDBName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pacsvendorSlideManagerDBName'}) }}">Edit</a></td>
            </tr>

            {#Footer#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Footer:</h3>
                </td>
            </tr>
            <tr>
                <td>Institution Name (Copyright Link in Footer)</td>
                <td>{{ entity.institutionname }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'institutionname'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Institution URL (Copyright Link in Footer)</td>
                <td>{{ entity.institutionurl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'institutionurl'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Institution Name (Instance Owner in Footer)</td>
                <td>{{ entity.subinstitutionname }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'subinstitutionname'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Institution URL (Instance Owner Link in Footer)</td>
                <td>{{ entity.subinstitutionurl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'subinstitutionurl'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Department Name</td>
                <td>{{ entity.departmentname }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'departmentname'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Department URL</td>
                <td>{{ entity.departmenturl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'departmenturl'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Show copyright line on every footer</td>
                <td>{{ entity.showCopyrightOnFooter }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'showCopyrightOnFooter'}) }}">Edit</a></td>
            </tr>


            {#Uploads#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Uploads:</h3>
                </td>
            </tr>
            <tr>
                <td>Scan Orders Upload Folder (example: scan-order/documents)</td>
                <td>{{ entity.scanuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'scanuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Fellowship Application Upload Folder (example: fellapp/documents)</td>
                <td>{{ entity.fellappuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'fellappuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Residency Application Upload Folder (example: resapp/documents)</td>
                <td>{{ entity.resappuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'resappuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Employee Directory Upload Folder (example: directory/documents)</td>
                <td>{{ entity.employeesuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'employeesuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Employee Directory Avatar Upload Folder (example: directory/avatars)</td>
                <td>{{ entity.avataruploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'avataruploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Vacation Request Upload Folder (example: directory/vacreq)</td>
                <td>{{ entity.vacrequploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'vacrequploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Translational Research Upload Folder (example: directory/transres)</td>
                <td>{{ entity.transresuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Call Log Upload Folder (example: calllog/documents)</td>
                <td>{{ entity.callloguploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'callloguploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Critical Result Notification Upload Folder (example: crn/documents)</td>
                <td>{{ entity.crnuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'crnuploadpath'}) }}">Edit</a></td>
            </tr>

            {#Global Academic Start/End Date#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Global Academic Year Start/End Day and Month:</h3>
                </td>
            </tr>
            <tr>
                <td>Global Academic Year Start Day and Month</td>
                <td>
                    {% if entity.academicYearStart %}
                        {{ entity.academicYearStart|date('M d','UTC') }}
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'academicYearStart'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Global Academic Year End Day and Month</td>
                <td>
                    {% if entity.academicYearEnd %}
                        {{ entity.academicYearEnd|date('M d','UTC') }}
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'academicYearEnd'}) }}">Edit</a></td>
            </tr>

            {#Titles and Messages#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Titles and Messages:</h3>
                </td>
            </tr>
            <tr>
                <td>Main Home Title</td>
                <td>{{ entity.mainHomeTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mainHomeTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>List Manager Title</td>
                <td>{{ entity.listManagerTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'listManagerTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Event Log Title</td>
                <td>{{ entity.eventLogTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'eventLogTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Site Settings Title</td>
                <td>{{ entity.siteSettingsTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'siteSettingsTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>About Page Content</td>
                <td>{{ entity.contentAboutPage }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'contentAboutPage'}) }}">Edit</a></td>
            </tr>


            {#VacReq settings are moved to an independent VacReqSiteSettings#}
            {#{% if 0 %}#}
                {#<tr>#}
                    {#<td class="rowlink-skip" colspan="3" align="center">#}
                        {#<h3>Business/Vacation Request:</h3>#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td>Academic Year Start</td>#}
                    {#<td>#}
                        {#{% if entity.academicYearStart %}#}
                            {#{{ entity.academicYearStart|date('M d','UTC') }}#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'academicYearStart'}) }}">Edit</a></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td>Academic Year End</td>#}
                    {#<td>#}
                        {#{% if entity.academicYearEnd %}#}
                            {#{{ entity.academicYearEnd|date('M d','UTC') }}#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'academicYearEnd'}) }}">Edit</a></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td>Link to list of holidays (http://intranet.med.cornell.edu/hr/)</td>#}
                    {#<td>#}
                        {#{% if entity.holidaysUrl %}#}
                            {#{{ entity.holidaysUrl }}#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'holidaysUrl'}) }}">Edit</a></td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td>Vacation days accrued per month by faculty (2)</td>#}
                    {#<td>#}
                        {#{% if entity.vacationAccruedDaysPerMonth %}#}
                            {#{{ entity.vacationAccruedDaysPerMonth }}#}
                        {#{% endif %}#}
                    {#</td>#}
                    {#<td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'vacationAccruedDaysPerMonth'}) }}">Edit</a></td>#}
                {#</tr>#}
            {#{% endif %}#}

            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Translational Research:</h3>
                </td>
            </tr>
            <tr>
                <td>Translational Research Project Request Specialty Selection Note</td>
                <td>{{ entity.transresProjectSelectionNote }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresProjectSelectionNote'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Pathology Department for Translational Research Dashboard</td>
                <td>{{ entity.transresDashboardInstitution }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresDashboardInstitution'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Name of the group that approves research projects involving human subjects (IRB):</td>
                <td>{{ entity.transresHumanSubjectName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresHumanSubjectName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Name of the group that approves research projects involving animal subjects (IACUC):</td>
                <td>{{ entity.transresAnimalSubjectName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresAnimalSubjectName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Name of the business entity responsible for the translational research site (Center for Translational Pathology):</td>
                <td>{{ entity.transresBusinessEntityName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresBusinessEntityName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Abbreviated name of the business entity responsible for the translational research site (CTP):</td>
                <td>{{ entity.transresBusinessEntityAbbreviation }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'transresBusinessEntityAbbreviation'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Platform Logo Image:</h3>
                </td>
            </tr>
            <tr>
                <td>Platform Logo Image</td>
                <td>
                    {% if entity.platformLogos %}
                        {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
                        <input type="hidden" id="formcycle" value="{{ cycle }}" />
                        <div id="form-prototype-data"
                             data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                             data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                             data-userid = "{{ app.user.id }}"
                        ></div>

                        <p>
                        <div class="well form-element-holder user-platformLogos">
                            <label class="col-xs-12 control-label">Platform Logo Image(s) - the most recent will be used</label>
                            <div class="row withpaddingtop">
                                <div class="col-xs-12">
                                    {{ usermacros.documentsContainer(null,entity.platformLogos,cycle,'noprototype',8,'default','Platform Logo',"asEntity") }}
                                </div>
                            </div>
                        </div>
                        </p>
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'platformLogos'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>High Resolution Platform Logo Image</td>
                <td>
                    {% if entity.highResPlatformLogos %}
                        {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
                        <input type="hidden" id="formcycle" value="{{ cycle }}" />
                        <div id="form-prototype-data"
                             data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                             data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                             data-userid = "{{ app.user.id }}"
                        ></div>

                        <p>
                        <div class="well form-element-holder user-highResPlatformLogos">
                            <label class="col-xs-12 control-label">High Resolution Platform Logo Image(s) - the most recent will be used</label>
                            <div class="row withpaddingtop">
                                <div class="col-xs-12">
                                    {{ usermacros.documentsContainer(null,entity.highResPlatformLogos,cycle,'noprototype',8,'default','High Resolution Platform Logo',"asEntity") }}
                                </div>
                            </div>
                        </div>
                        </p>
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'highResPlatformLogos'}) }}">Edit</a></td>
            </tr>

        </tbody>
    </table>

    </div>
</div>
</div>

    {#Defaults for an Organizational Group#}
    {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/organizational-group-defaults.html.twig' %}
    {% endif %}

    {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/third-party-software-content.html.twig' %}
    {% endif %}

    {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/TelephonySiteParameters/telephony.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "fellapp") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/fellapp-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "resapp") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/resapp-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "calllog") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/calllog-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "crn") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/crn-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "translationalresearch") and is_granted('ROLE_TRANSRES_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/transres-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "vacreq") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/vacreq-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "deidentifier") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/deidentifier-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "scan") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/scan-content.html.twig' %}
    {% endif %}

    {% if (sitename == "employees" or sitename == "dashboard") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'AppUserdirectoryBundle/SiteParameters/dashboard-content.html.twig' %}
    {% endif %}

    {#Mailer Gmail settings manual#}
    {% set mailerManualUrl = user_mailer_utility.getMailerManualUrl() %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title text-left">
                <a data-toggle="collapse" href="#gmail-instructions">
                    Gmail settings manual
                </a>
            </h4>
        </div>
        <div id="gmail-instructions" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    <embed src="{{ asset(mailerManualUrl) }}" width="100%" height="900px" />
                </p>
            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->

    {#Instructions to install the server#}
    {% set installationManualUrl = user_service_utility.getInstallationManualUrl() %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title text-left">
                <a data-toggle="collapse" href="#installation-instructions">
                    Installation Instructions
                </a>
            </h4>
        </div>
        <div id="installation-instructions" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    <embed src="{{ asset(installationManualUrl) }}" width="100%" height="900px" />
                </p>
            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->



    {% include 'AppUserdirectoryBundle/SiteParameters/miscellaneous.html.twig' %}



    {#<br>#}
    {#<p>#}
        {#<a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id }) }}">Edit</a>#}
    {#</p>#}

{% endblock %}

