{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% extends extendStr%}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    {{ form_start(form) }}

        <div class="panel panel-default">
            <div class="panel-heading">Server Instance</div>
            <div class="panel-body">
                {{ formmacros.field(form.environment) }}
                {{ formmacros.field(form.connectionChannel) }}
                {{ formmacros.field(form.urlConnectionChannel) }}
                {#{{ formmacros.field(form.siteEmail) }}#}
                {{ formmacros.field(form.liveSiteRootUrl) }}

                {{ formmacros.field(form.authServerNetwork) }}
                {{ formmacros.field(form.authUserGroup) }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Institution Settings</div>
            <div class="panel-body">
                {{ formmacros.field(form.institutionname) }}
                {{ formmacros.field(form.institutionurl) }}

                {{ formmacros.field(form.subinstitutionname) }}
                {{ formmacros.field(form.subinstitutionurl) }}

                {{ formmacros.field(form.departmentname) }}
                {{ formmacros.field(form.departmenturl) }}

                {{ formmacros.field(form.showCopyrightOnFooter) }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Admin Password</div>
            <div class="panel-body">
                {#<div id="user-password-box" class="well well-sm">#}
                    {{ formmacros.field(form.password.first) }}
                    {{ formmacros.field(form.password.second) }}
                {#</div>#}
            </div>
        </div>

        {#<div class="panel panel-default">#}
            {#<div class="panel-heading">Other Settings</div>#}
            {#<div class="panel-body">#}
                {#{{ formmacros.field(form.showCopyrightOnFooter) }}#}
                {#{{ formmacros.field(form.siteEmail) }}#}
                {#{{ formmacros.field(form.liveSiteRootUrl) }}#}
            {#</div>#}
        {#</div>#}

        <div class="panel panel-default">
            <div class="panel-heading">E-Mail Server (to enable notifications by email)</div>
            <div class="panel-body">
                {{ formmacros.field(form.smtpServerAddress) }}
                {{ formmacros.field(form.mailerPort) }}
                {{ formmacros.field(form.mailerAuthMode) }}
                {{ formmacros.field(form.mailerUseSecureConnection) }}
                {{ formmacros.field(form.mailerUser) }}
                {{ formmacros.field(form.mailerPassword) }}
                {{ formmacros.field(form.mailerSpool) }}
                {{ formmacros.field(form.mailerFlushQueueFrequency) }}
                {{ formmacros.field(form.siteEmail) }}
                {{ formmacros.field(form.mailerDeliveryAddresses) }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">AD/LDAP Server (to enable logging in with existing accounts)</div>
            <div class="panel-body">
                {{ formmacros.field(form.aDLDAPServerAddress) }}
                {{ formmacros.field(form.aDLDAPServerPort) }}
                {{ formmacros.field(form.aDLDAPServerOu) }}
                {{ formmacros.field(form.aDLDAPServerAccountUserName) }}
                {{ formmacros.field(form.aDLDAPServerAccountPassword) }}
                {{ formmacros.field(form.ldapExePath) }}
                {{ formmacros.field(form.ldapExeFilename) }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Notices for LDAP and CWID</div>
            <div class="panel-body">
                {{ formmacros.field(form.noticeAttemptingPasswordResetLDAP) }}
                {{ formmacros.field(form.loginInstruction) }}
                {{ formmacros.field(form.noticeSignUpNoCwid) }}
                {{ formmacros.field(form.noticeHasLdapAccount) }}
                {{ formmacros.field(form.noticeLdapName) }}
                {{ formmacros.field(form.defaultPrimaryPublicUserIdType) }}
            </div>
        </div>

        {% if form.holidaysUrl is defined %}
            {{ formmacros.field(form.holidaysUrl) }}
        {% endif %}


        <br>
        <p>
            {{ form_row(form.save) }}
        </p>

    {{ form_end(form) }}

{% endblock %}
