{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block title %}
    Results of load roles from PACS for all users
{% endblock %}

{% block content %}

    <h3 class="text-info">Results of load roles from PACS for all users:</h3>

    {% for result in results %}
        User <a href="{{ path(scan_sitename~'_showuser', { 'id': result.user.id }) }}">{{ result.user.getUserNameStr() }}</a>: {{ result.stats }}<br>
    {% endfor %}

    <br>
    <hr>

    {% if notfoundusers|length > 0 %}
        <h3 class="text-info">Users present in this system, but not found in PACS:</h3>
        {% for notfounduser in notfoundusers %}
            <a href="{{ path(scan_sitename~'_showuser', { 'id': notfounduser.user.id }) }}">{{ notfounduser.user.getUserNameStr() }}</a><br>
        {% endfor %}
    {% endif %}

    <br>

    <p>
        <a href="{{ path(scan_sitename~'_siteparameters') }}">Back to Site Settings</a>
    </p>


    <br>

{% endblock %}

