{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% if collapsein is not defined %}
    {% set collapsein = "in" %}
{% endif %}

<div class="panel panel-info">

    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#additionalText">
                Additional Text Attachments (Honors and Awards, Publications and Presentations, Memberships and Leadership/Research Experience)
            </a>
        </h4>
    </div>

    <div id="additionalText" class="panel-collapse collapse {{ collapsein }}">
        <div class="panel-body">

            <div class="well">

                <p>
                    Honors and Awards <br>(if explicitly listed on CV, include highlights here with reference to location on CV)
                </p>

                {#{{ form_row(form.honors) }}#}
                {% if cycle != "download" %}
                    {{ form_row(form.honors) }}
                {% else %}
                    <div style="display: none;">
                        {{ form_row(form.honors) }}
                    </div>
                    <div class="print_helper"></div>
                {% endif %}

            </div>


            <div class="well">

                <p>
                    Publications and Presentations <br>(if explicitly listed on CV, include highlights here with reference to location on CV)
                </p>


                {% if cycle != "download" %}
                    {{ form_row(form.publications) }}
                {% else %}
                    <div style="display: none;">
                        {{ form_row(form.publications) }}
                    </div>
                    <div class="print_helper"></div>
                {% endif %}

            </div>


            <div class="well">

                <p>
                    Memberships and Leadership/Research Experience <br>(if explicitly listed on CV, include highlights here with reference to location on CV)
                </p>

                {#<textarea class="form-control textarea" id="memberships" name="memberships" rows="20"></textarea>#}

                {#{{ form_row(form.memberships) }}#}
                {% if cycle != "download" %}
                    {{ form_row(form.memberships) }}
                {% else %}
                    <div style="display: none;">
                        {{ form_row(form.memberships) }}
                    </div>
                    <div class="print_helper"></div>
                {% endif %}

            </div>


        </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->

</div> <!-- panel panel-info -->