{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% if collapsein is not defined %}
    {% set collapsein = "in" %}
{% endif %}

<div class="panel panel-info">

    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#medicalLicensure">
                Medical Licensure
            </a>
        </h4>
    </div>

    <div id="medicalLicensure" class="panel-collapse collapse {{ collapsein }}">
        <div class="panel-body">


            <p>
                Please list any states in which you hold a license to practice medicine. Please provide a license number. If an application is pending in a state, please write “pending.”
            </p>


            {% for stateLicense in form.stateLicenses %}


            <div class="well">

                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {#<label for="medicalLicensure1Country" class="control-label">Country</label>#}
                        {#<input type="text" class="form-control" id="medicalLicensure1Country" name="medicalLicensure1Country" placeholder="Country">#}
                        {{ form_row(stateLicense.country) }}
                    </div>
                    <div class="col-xs-6">
                        {#<label for="medicalLicensure1State" class="control-label">State</label>#}
                        {#<input type="hidden" class="combobox usstates" id="medicalLicensure1State" name="medicalLicensure1State" placeholder="State">#}
                        {{ form_row(stateLicense.state) }}
                    </div>
                </div>

                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {#<label for="medicalLicensure1Number" class="control-label">Medical License Number</label>#}
                        {#<input type="text" class="form-control" id="medicalLicensure1Number" name="medicalLicensure1Number" placeholder="Medical License Number">#}
                        <p>{{ form_row(stateLicense.licenseNumber) }}</p>
                    </div>
                    <div class="col-xs-6">
                        {#<label for="medicalLicensure1DateIssued" class="control-label">Date Issued</label>#}
                        {#<input type="text" class="datepicker form-control allow-future-date" id="medicalLicensure1DateIssued" name="medicalLicensure1DateIssued" placeholder="Date Issued">#}
                        {{ formmacros.fieldDateLabel_vertical(stateLicense.licenseIssuedDate,'allow-future-date') }}
                    </div>
                </div>

                <div class="row withpaddingtop">
                    {#<div class="col-xs-6">#}
                        {#<div class="row withpaddingtop">#}
                            {#<label for="medicalLicensure1Active" class="control-label">Active</label>#}
                        {#</div>#}
                        {#<div class="row withpaddingtop">#}
                            {#<input type="radio" name="medicalLicensure1Active" value="Yes">&nbsp;Yes#}
                            {#&nbsp;#}
                            {#<input type="radio" name="medicalLicensure1Active" value="No">&nbsp;No#}
                        {#</div>#}
                    {#</div>#}
                    {{ form_row(stateLicense.active) }}
                </div>

            </div>

        {% endfor %}





            <div class="form-element-holder">
                <div class="well">

                    {{ form_row(form.reprimand) }}

                    <div class="wellcollapsable" style="display:none">

                        <p>
                            Only the last documents will be added to the Complete Application PDF
                        </p>

                        {{ usermacros.documentsContainer(null,form.reprimandDocuments,cycle, 'noprototype',8,'default','Residency Reprimand') }}
                    </div>

                </div>
            </div>

            <div class="form-element-holder">
                <div class="well">

                    {{ form_row(form.lawsuit) }}

                    <div class="wellcollapsable" style="display:none">

                        <p>
                            Only the last documents will be added to the Complete Application PDF
                        </p>

                        {{ usermacros.documentsContainer(null,form.lawsuitDocuments,cycle, 'noprototype',8,'default','Residency Legal Suit') }}
                    </div>

                </div>
            </div>


        </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->

</div> <!-- panel panel-info -->
