{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppResAppBundle/Default/base.html.twig" %}

{#{% block browsercheck %}{% endblock %}#}
{#{% block header %}{% endblock %}#}
{#{% block mainjs %}{% endblock %}#}
{#{% block errorwatchjs %}{% endblock %}#}
{#{% block maincss %}{% endblock %}#}

{% block title %}
    Residency Application {{ entity.id }}, created on {{ entity.timestamp|date('m/d/Y H:i') }}
{% endblock %}


{% block content %}

    {% if cycle == "download" %}
        {% set collapsein = "in" %}
    {% else %}
        {% if is_granted('ROLE_RESAPP_ADMIN') or is_granted('ROLE_RESAPP_COORDINATOR') %}
            {% set collapsein = "" %}
        {% endif %}
    {% endif %}

    {#{% include 'AppResAppBundle/Form/applicant-content.html.twig' %}#}

    {% if fullForm is not defined %}
        {% set fullForm = true %}
    {% endif %}

    {% if fullForm %}
        {% include 'AppResAppBundle/Form/applicant-content.html.twig' %}
    {% else %}
        {% include 'AppResAppBundle/Form/applicant-content-simple.html.twig' %}
    {% endif %}

    {#{{ form_start(form,{'attr': {'id': 'resapp-applicant-form'}}) }}#}
    {#{{ form_errors(form) }}#}
    {#<button class="btn btn-warning" type="submit">Update</button>#}
    {#{{ form_end(form) }}#}

    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#<button class="btn btn-warning" type="submit">Update</button>#}
    {#{{ form_end(form) }}#}

{% endblock %}


{% block additionaljs %}
    {% include 'AppResAppBundle/Form/applicant-content-js.html.twig' %}

    <script language="Javascript">

//        var _specificIndividuals = [];
//        var _learnareas = [];

        $(document).ready(function() {
            var hashValue = window.location.hash;
            //console.log("hashValue="+hashValue);
            if( hashValue == '#interviews' ) {
                //console.log("open panel");
                $('#interviews').collapse('show');
                expandTextarea($('#interviews'));
            }

//            var multiple = true;
//            //var multiple = false;
//            var newForm = null;
//            getComboboxGeneric(newForm,'specificindividuals',_specificIndividuals,multiple);
//            getComboboxGeneric(newForm,'learnareas',_learnareas,multiple);
        });

    </script>
{% endblock %}

