
{% import "OlegFellAppBundle::Default/fellappmacros.html.twig" as fellappmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

<div class="panel panel-info">

    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#interviews">
                Interviews
            </a>
        </h4>
    </div>

    <div id="interviews" class="panel-collapse collapse in">
        <div class="panel-body">

            {#form.interviews:{{ form.interviews|length }}#}
            <div class="fellapp-interviews-holder">
                {% for interview in form.interviews %}

                    {% set showInterview = false %}
                    {% if interview.interviewer and interview.vars.value.interviewer.id %}
                        {#interview.interviewer.id=({{ interview.vars.value.interviewer.id }}) ?=#}
                        {#app.user.id=({{ app.user.id }})<br>#}
                        {% if interview.vars.value.interviewer.id == app.user.id %}
                            {% set showInterview = true %}
                        {% endif %}
                    {% else %}
                        {% set showInterview = true %}
                    {% endif %}

                    {% if is_granted('ROLE_FELLAPP_COORDINATOR') or is_granted('ROLE_FELLAPP_DIRECTOR') or showInterview  %}

                        {{ fellappmacros.interviewForm(interview, cycle, 'fellapp-interviews', 'noprototype', sitename, 1) }}

                    {% endif %}

                {% endfor %}

                {% if cycle != "show" %}
                    {% if is_granted('ROLE_FELLAPP_COORDINATOR') or is_granted('ROLE_FELLAPP_DIRECTOR') %}
                        {{ usermacros.addNewObjectBtn(cycle,'fellapp-interviews','Add Interviewer') }}
                    {% endif %}
                {% endif %}
            </div>


        </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->

</div> <!-- panel panel-info -->
