{% extends "AppDashboardBundle/Default/base.html.twig" %}

{% import "AppDashboardBundle/React/dashboardmacros.html.twig" as dashboardmacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if cycle is not defined %}
        {% set cycle = "edit" %}
    {% endif %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="chartTypesCount" value="{{ chartTypesCount }}" />
    <input type="hidden" id="maxDisplayCharts" value="{{ maxDisplayCharts }}" />

    {% if testflag is defined %}
        <input type="hidden" id="testflag" value="{{ testflag }}" />
    {% endif %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

    {{ dashboardmacros.filter(filterform,spinnerColor) }}

    {{ dashboardmacros.body() }}

{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block additionalcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/fontawesome/css/all.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/font-awesome-4.7/css/font-awesome.min.css') }}" />
{% endblock %}

{#{% block additionalcss2 %}#}
    {#<style>#}
        {#.btn-group-with-tooltip-bottom .tooltip .tooltip-arrow {#}
            {#top: 0% !important;#}
        {#}#}
    {#</style>#}
{#{% endblock %}#}

{% block additionaljs %}
    {#testing remove#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/charts/plotly/plotly.min.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-choices-plotly.js') }}"></script>#}

    <script language="Javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block mainjs %}
    {#Remove timeout#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/spin.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jasny/js/rowlink.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.js') }}"></script>

    {#FOSJsRoutingBundle#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {#<script>#}
        {#_REQUEST_LOCALE = '{{ app.request.locale }}';#}
        {#//console.log('_REQUEST_LOCALE='+_REQUEST_LOCALE);#}
    {#</script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-router-locale-fix.js') }}"></script>#}
    {#EOF FOSJsRoutingBundle#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-form.js') }}"></script>

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-treeSelectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/vakata-jstree/jstree.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jstree.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formnode.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formReady.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-basetitles.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/tooltips.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/typeahead/typeahead.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-typeahead.js') }}"></script>


    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}

{% endblock %}
