{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Profile
{% endblock %}


{% macro baseTitle( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">
        {% if cicle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeBaseTitle(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield.id) }}
        {{ formmacros.field(formfield.status) }}
        {{ formmacros.field(formfield.priority) }}
        {{ formmacros.field(formfield.name) }}
        {{ formmacros.fieldDateLabel(formfield.startDate,'allow-future-date') }}
        {{ formmacros.fieldDateLabel(formfield.endDate,'allow-future-date') }}
        {{ formmacros.field(formfield.institution) }}
        {{ formmacros.field(formfield.department) }}
        {{ formmacros.field(formfield.division) }}
        {{ formmacros.field(formfield.service) }}
    </div>
{% endmacro %}


{% macro location( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cicle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeBaseTitle(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield.id) }}
        {{ formmacros.field(formfield.name) }}
        {{ formmacros.field(formfield.phone) }}
        {{ formmacros.field(formfield.pager) }}
        {{ formmacros.field(formfield.mobile) }}
        {{ formmacros.field(formfield.fax) }}
        {{ formmacros.field(formfield.email) }}

        {{ formmacros.field(formfield.assistant) }}

        {% if cicle == 'show_user' %}
            {% if formfield.vars.value.assistant is defined and formfield.vars.value.assistant != NULL %}
                {{ formfield.vars.value.assistant.preferredPhone }}
                {{ formfield.vars.value.assistant.email }}
            {% endif %}
        {% endif %}

        {{ formmacros.field(formfield.room) }}
        {{ formmacros.field(formfield.street) }}
        {{ formmacros.field(formfield.city) }}
        {{ formmacros.field(formfield.state) }}
        {{ formmacros.field(formfield.zip) }}
        {{ formmacros.field(formfield.associatedCode) }}

    </div>
{% endmacro %}


{% macro stateLicenses( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cicle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeBaseTitle(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield.state) }}
        {{ formmacros.field(formfield.licenseNumber) }}
        {{ formmacros.fieldDateLabel(formfield.licenseExpirationDate,'allow-future-date') }}

    </div>
{% endmacro %}


{% macro boardCertifications( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cicle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeBaseTitle(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield.specialty) }}
        {{ formmacros.fieldDateLabel(formfield.issueDate,'allow-future-date') }}
        {{ formmacros.fieldDateLabel(formfield.expirationDate,'allow-future-date') }}

    </div>
{% endmacro %}


{% macro codenyphs( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cicle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeBaseTitle(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield) }}

    </div>
{% endmacro %}



{% import _self as userform %}

{% block content %}

    <div id="form-prototype-data"
         data-prototype-user-administrativetitles = "{{ userform.baseTitle(form.administrativeTitles,cicle,'user-administrativeTitles','prototype')|e }}"
         data-prototype-user-appointmenttitles = "{{ userform.baseTitle(form.appointmentTitles,cicle,'user-appointmentTitles','prototype')|e }}"
         data-prototype-user-locations = "{{ userform.location(form.locations,cicle,'user-locations','prototype')|e }}"
         data-prototype-user-statelicense = "{{ userform.stateLicenses(form.credentials.stateLicense,cicle,'user-statelicense','prototype')|e }}"
         data-prototype-user-boardcertification = "{{ userform.boardCertifications(form.credentials.boardCertification,cicle,'user-boardcertification','prototype')|e }}"
         data-prototype-user-codenyph = "{{ userform.codenyphs(form.credentials.codeNYPH,cicle,'user-codenyph','prototype')|e }}"
    ></div>


    {{ form_start(form) }}

        <input type="hidden" id="user_id" value="{{ user_id }}" />
        <input type="hidden" id="user_name" value="{{ form.vars.value.username }}" />
        <input type="hidden" id="formcicle" value="edit_user" />
        <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />

        <h3 class="text-info">User Info</h3>

        {{ form_errors(form) }}

        {{ formmacros.field(form.username) }}

        {{ formmacros.field(form.displayName) }}
        {{ formmacros.field(form.firstName) }}
        {{ formmacros.field(form.middleName) }}
        {{ formmacros.field(form.lastName) }}

        {{ formmacros.field(form.email) }}
        {{ formmacros.field(form.preferredPhone) }}

        {% if cicle == "show_user" or is_granted('ROLE_SCANORDER_ADMIN') %}
            {#{{ formmacros.field(form.institution) }}#}
            {#{{ formmacros.field(form.service) }}#}
            {{ formmacros.field(form.roles) }}
        {% endif %}

        {#{{ formmacros.field(form.chiefservices) }}#}

        {% if is_granted('ROLE_SCANORDER_ADMIN') %}
            {% if app.security.getToken().getUser().getId() != entity.id %}
                {{ formmacros.checkbox(form.locked) }}
            {% else %}
                {% do form.locked.setRendered %}
            {% endif %}
        {% endif %}

        <hr>
        <h3 class="text-info">User Preferences</h3>
        {{ formmacros.field(form.preferences.timezone) }}
        {{ formmacros.checkbox(form.preferences.tooltip) }}

        {% block addcontent %}{% endblock %}

        <hr>
        <br>


        {#Administrative Titles#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#AdministrativeTitles">
                        Administrative Title(s)
                    </a>
                </h4>
            </div>
            <div id="AdministrativeTitles" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="user-administrativeTitles-holder">
                        {% for administrativeTitle in form.administrativeTitles %}
                            {{ userform.baseTitle(administrativeTitle,cicle,'user-administrativeTitles','noprototype') }}
                        {% endfor %}
                        {% if cicle != 'show_user' %}
                            <button class="btn btn-default" onClick="addBaseTitle(this,'user-administrativeTitles')" type='button'>Add Administrative Title</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        {#Appointment Titles#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#AppointmentTitles">
                        Academic Appointment Title(s)
                    </a>
                </h4>
            </div>
            <div id="AppointmentTitles" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="user-appointmentTitles-holder">
                        {% for appointmentTitle in form.appointmentTitles %}
                            {{ userform.baseTitle(appointmentTitle,cicle,'user-appointmentTitles','noprototype') }}
                        {% endfor %}
                        {% if cicle != 'show_user' %}
                            <button class="btn btn-default" onClick="addBaseTitle(this,'user-appointmentTitles')" type='button'>Add Appointment Title</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        {#Locations#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Locations">
                        Location(s)
                    </a>
                </h4>
            </div>
            <div id="Locations" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="user-locations-holder">
                        {% for location in form.locations %}
                            {{ userform.location(location,cicle,'user-locations','noprototype') }}
                        {% endfor %}
                        {% if cicle != 'show_user' %}
                            <button class="btn btn-default" onClick="addBaseTitle(this,'user-locations')" type='button'>Add Location</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        {#Credentials#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Credentials">
                        Credentials
                    </a>
                </h4>
            </div>
            <div id="Credentials" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="user-credentials-holder">

                        {{ formmacros.field(form.credentials.employeeId) }}
                        {{ formmacros.fieldDateLabel(form.credentials.dob,'regular-datepicker') }}

                        {#{{ formmacros.field(form.credentials.codeNYPH) }}#}
                        {% for codeNYPH in form.credentials.codeNYPH %}
                            {{ formmacros.codenyphs(codeNYPH,cicle,'user-codenyph','noprototype') }}
                            {#{{ formmacros.fieldCollectionInput(codeNYPH,cycle,prototype,widget,nobtn,btntype) }}#}
                        {% endfor %}

                        {{ formmacros.field(form.credentials.nationalProviderIdentifier) }}
                        {{ formmacros.field(form.credentials.numberCLIA) }}
                        {{ formmacros.fieldDateLabel(form.credentials.cliaExpirationDate,'allow-future-date') }}
                        {{ formmacros.field(form.credentials.numberPFI) }}
                        {{ formmacros.field(form.credentials.numberCOQ) }}
                        {{ formmacros.fieldDateLabel(form.credentials.coqExpirationDate,'allow-future-date') }}
                        {{ formmacros.field(form.credentials.emergencyContactInfo) }}

                        {#State Licenses#}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#stateLicense">
                                        State License(s)
                                    </a>
                                </h4>
                            </div>
                            <div id="stateLicense" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="user-statelicense-holder">

                                        {% for stateLicense in form.credentials.stateLicense %}
                                            {{ userform.stateLicenses(stateLicense,cicle,'user-statelicense','noprototype') }}
                                        {% endfor %}
                                        {% if cicle != 'show_user' %}
                                            <button class="btn btn-default" onClick="addBaseTitle(this,'user-statelicense')" type='button'>Add State License</button>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>

                        {#Board Certification#}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#boardCertification">
                                        Board Certification(s)
                                    </a>
                                </h4>
                            </div>
                            <div id="boardCertification" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="user-boardcertification-holder">

                                        {% for boardCertification in form.credentials.boardCertification %}
                                            {{ userform.boardCertifications(boardCertification,cicle,'user-boardcertification','noprototype') }}
                                        {% endfor %}
                                        {% if cicle != 'show_user' %}
                                            <button class="btn btn-default" onClick="addBaseTitle(this,'user-boardcertification')" type='button'>Add Board Certification</button>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>



        <hr>
        <br>

        {#{{ form_rest(form) }}#}
        {#{{ form_widget(form._token) }}#}

        {#{{ form(form) }}#}

        {% if cicle != "show_user" %}
            <p>
                <div>
                    <button class="btn btn-warning" name="btnSubmit" type="submit">Update</button>
                    <a class="btn btn-info" href="{{ path(sitename~'_showuser',{id:entity.id}) }}" type='button'>Cancel</a>
                </div>
            </p>
        {% endif %}

    {{ form_end(form) }}


    {% if cicle == "show_user" %}
        <p><a class="btn btn-success" href="{{ path(sitename~'_user_edit',{'id':entity.id}) }}">Edit</a></p>
    {% endif %}

    {% if is_granted('ROLE_SCANORDER_ADMIN') %}
        <br>
        <p>
            <a href="{{ path(sitename~'_listusers') }}">View the list of all users</a>
        </p>
    {% endif %}

{% endblock %}
