
{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block header %}

    {% if sitename == 'fellapp' %}
        {% include 'OlegFellAppBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'scan' %}
        {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'employees' %}
        {% include 'OlegUserdirectoryBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'deidentifier' %}
        {% include 'OlegDeidentifierBundle:Default:navbar.html.twig' %}
    {% endif %}

{% endblock %}




{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/userformmacros.html.twig" as userform %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{#{% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}#}


{#Snapshot css#}
{% block additionalcss %}
    {% stylesheets
        'bundles/oleguserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block additionaljs %}
    {% javascripts
        '@OlegUserdirectoryBundle/Resources/public/password-generator/password-generator.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
        
{% if "show" in cycle %}
    {% set showFlag = true %}
{% else %}
    {% set showFlag = false %}
{% endif %}



{#{% if cycle == "create_user" %}#}
    {#{% set title = "Add New Employee" %}#}
{#{% else %}#}
    {#&#123;&#35;{% set title = "Profile: "~form.vars.value.getUserNameStr() %}&#35;&#125;#}
{#{% endif %}#}

{% if title is not defined %}
    {% set title = "Profile" %}
{% endif %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if not showFlag %}
        <h4 class="text-info" align="center">{{ title }}</h4>
    {% endif %}

    {% if form.userclone is defined %}
        <div style="margin-bottom: 20px; margin-top: 20px">
        {{ formmacros.field(form.userclone) }}
        </div>
    {% endif %}


    {#user's snapshot#}
    {% if showFlag %}
        {{ userform.snapshot_steve(entity,sitename,cycle) }}
    {% else %}
        {#avatar form modal#}
        {{ usermacros.avatarForm(entity,cycle) }}
    {% endif %}

    <br>


    {% include 'OlegUserdirectoryBundle:Profile:edit_user_form.html.twig' with {addcontent: block('addcontent')} %}


{% endblock %}
