{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Profile
{% endblock %}


{% macro baseTitle( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">
        {{ formmacros.field(formfield.id) }}
        {{ formmacros.field(formfield.status) }}
        {{ formmacros.field(formfield.name) }}
        {{ formmacros.fieldDateLabel(formfield.startDate,'allow-future-date') }}
        {{ formmacros.fieldDateLabel(formfield.endDate,'allow-future-date') }}
        {{ formmacros.field(formfield.institution) }}
        {{ formmacros.field(formfield.department) }}
        {{ formmacros.field(formfield.division) }}
        {{ formmacros.field(formfield.service) }}

        {% if cicle != 'show_user' %}
            <p>
                <button class="btn btn-default" onClick="removeBaseTitle(this,'{{ classname }}')" type='button'>Remove</button>
            </p>
        {% endif %}
    </div>
{% endmacro %}


{% macro location( field, cicle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">
        {{ formmacros.field(formfield.id) }}
        {{ formmacros.field(formfield.name) }}
        {{ formmacros.field(formfield.phone) }}
        {{ formmacros.field(formfield.pager) }}
        {{ formmacros.field(formfield.mobile) }}
        {{ formmacros.field(formfield.fax) }}
        {{ formmacros.field(formfield.email) }}
        {{ formmacros.field(formfield.assistant) }}
        {{ formmacros.field(formfield.room) }}
        {{ formmacros.field(formfield.street) }}
        {{ formmacros.field(formfield.city) }}
        {{ formmacros.field(formfield.state) }}
        {{ formmacros.field(formfield.zip) }}
        {{ formmacros.field(formfield.associatedCode) }}

        {% if cicle != 'show_user' %}
            <p>
                <button class="btn btn-default" onClick="removeBaseTitle(this,'{{ classname }}')" type='button'>Remove</button>
            </p>
        {% endif %}
    </div>
{% endmacro %}

{% import _self as userform %}

{% block content %}

<div id="form-prototype-data"
     data-prototype-user-administrativetitles = "{{ userform.baseTitle(form.administrativeTitles,cicle,'user-administrativeTitles','prototype')|e }}"
     data-prototype-user-appointmenttitles = "{{ userform.baseTitle(form.appointmentTitles,cicle,'user-appointmentTitles','prototype')|e }}"
     data-prototype-user-locations = "{{ userform.location(form.locations,cicle,'user-locations','prototype')|e }}"
></div>


{#<form action="{{ path('user_update',{'id':entity.id}) }}" method="PUT" {{ form_enctype(form) }}>#}
{{ form_start(form) }}

    <input type="hidden" id="user_id" value="{{ user_id }}" />
    <input type="hidden" id="user_name" value="{{ form.vars.value.username }}" />
    <input type="hidden" id="formcicle" value="edit_user" />
    <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />

    <h3 class="text-info">User Info</h3>

    {#{{ form_widget(form) }}#}
    {{ form_errors(form) }}

    {{ formmacros.field(form.username) }}

    {{ formmacros.field(form.email) }}

    {% if cicle == "show_user" or is_granted('ROLE_SCANORDER_ADMIN') %}
        {#{{ formmacros.field(form.institution) }}#}
        {#{{ formmacros.field(form.service) }}#}
        {{ formmacros.field(form.roles) }}
    {% endif %}

    {#{{ formmacros.field(form.chiefservices) }}#}

    {{ formmacros.field(form.displayName) }}
    {{ formmacros.field(form.firstName) }}
    {{ formmacros.field(form.middleName) }}
    {{ formmacros.field(form.lastName) }}
    {{ formmacros.field(form.preferredPhone) }}

    {% if is_granted('ROLE_SCANORDER_ADMIN') %}
        {% if app.security.getToken().getUser().getId() != entity.id %}
            {{ formmacros.checkbox(form.locked) }}
        {% else %}
            {% do form.locked.setRendered %}
        {% endif %}
    {% endif %}

    <hr>
    <h3 class="text-info">User Preferences</h3>
    {{ formmacros.field(form.preferences.timezone) }}
    {{ formmacros.checkbox(form.preferences.tooltip) }}

    {#Administrative Titles#}
    <hr>
    <h3 class="text-info">Administrative Titles</h3>
    <div class="user-administrativeTitles-holder">
        {% for administrativeTitle in form.administrativeTitles %}
            {{ userform.baseTitle(administrativeTitle,cicle,'user-administrativeTitles','noprototype') }}
        {% endfor %}
        {% if cicle != 'show_user' %}
            <button class="btn btn-default" onClick="addBaseTitle(this,'user-administrativeTitles')" type='button'>Add Administrative Title</button>
        {% endif %}
    </div>

    {#Appointment Titles#}
    <hr>
    <h3 class="text-info">Appointment Titles</h3>
    <div class="user-appointmentTitles-holder">
        {% for appointmentTitle in form.appointmentTitles %}
            {{ userform.baseTitle(appointmentTitle,cicle,'user-appointmentTitles','noprototype') }}
        {% endfor %}
        {% if cicle != 'show_user' %}
            <button class="btn btn-default" onClick="addBaseTitle(this,'user-appointmentTitles')" type='button'>Add Appointment Title</button>
        {% endif %}
    </div>

    {#Locations#}
    <hr>
    <h3 class="text-info">Locations</h3>
    <div class="user-locations-holder">
        {% for location in form.locations %}
            {{ userform.location(location,cicle,'user-locations','noprototype') }}
        {% endfor %}
        {% if cicle != 'show_user' %}
            <button class="btn btn-default" onClick="addBaseTitle(this,'user-locations')" type='button'>Add Location</button>
        {% endif %}
    </div>

    <br>
    {#{{ form_rest(form) }}#}
    {#{{ form_widget(form._token) }}#}

    {#{{ form(form) }}#}

    {% if prefix is defined and prefix != "" %}
        {% set pathprefix = prefix~"_" %}
    {% else %}
        {% set pathprefix = "" %}
    {% endif %}

    {% if cicle != "show_user" %}
        <p>
            <div>
                <button class="btn btn-warning" name="btnSubmit" type="submit">Update</button>
                <a class="btn btn-info" href="{{ path(pathprefix~'showuser',{id:entity.id}) }}" type='button'>Cancel</a>
            </div>
        </p>
    {% endif %}

{{ form_end(form) }}
{#</form>#}

    {% if cicle == "show_user" %}
        <p><a class="btn btn-success" href="{{ path(pathprefix~'user_edit',{'id':entity.id}) }}">Edit</a></p>
    {% endif %}

    {% block addcontent %}{% endblock %}

    {% if is_granted('ROLE_SCANORDER_ADMIN') %}
        <br>
        <p>
            <a href="{{ path(pathprefix~'listusers') }}">View the list of all users</a>
        </p>
    {% endif %}

{% endblock %}
