{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}


{#Snapshot css#}
{% block additionalcss %}
    {% stylesheets
        'bundles/oleguserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{###################      Begin macros      ####################}

{% macro baseTitle( field, cycle, classname, prototype, sitename ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    {% if formfield.vars.value and formfield.vars.value.status == 0 or prototype == 'prototype' %}
        {% set wellclass = "user-alert-warning" %}
    {% else %}
        {% set wellclass = "" %}
    {% endif %}

    {#hide the titles/objects that have a non-empty "Title End Date:"#}
    {% set endDateClass = '' %}
    {% set displayNone = '' %}
    {% if formfield.endDate is defined and formfield.vars.value and formfield.vars.value.endDate %}
        {% set endDateClass = 'collapse-non-empty-enddate' %}
        {% set displayNone = 'style=display:none' %}
    {% endif %}

    <div class="user-collection-holder alert {{ classname }} {{ wellclass }} {{ endDateClass }}" {{ displayNone }}>
        {% if cycle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm confirm-delete-with-expired" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield.id) }}
        {#{{ formmacros.field(formfield.status) }}#}
        {{ usermacros.statusVerifiedField(formfield,cycle) }}

        {% if formfield.orderinlist is defined %}
            {{ formmacros.field(formfield.orderinlist) }}
        {% endif %}
        {{ formmacros.field_notempty(formfield.priority,cycle) }}
        {{ formmacros.field(formfield.name) }}

        {#boss field#}
        {% if formfield.boss is defined %}
            {% if cycle != 'show_user' %}
                {{ formmacros.field(formfield.boss) }}
            {% else %}
                {% if formfield.vars.value.boss is defined and formfield.vars.value.boss != NULL and formfield.vars.value.boss|length > 0 %}
                    <p>
                        <strong>Reports to:</strong>
                    </p>
                    {% for boss in formfield.vars.value.boss %}
                        {{ usermacros.personInfo(boss,cycle,sitename) }}
                    {% endfor %}
                {% endif %}
                {% do formfield.boss.setRendered %}
            {% endif %}
        {% endif %}

        {#position type#}
        <p>
        {% if formfield.position is defined %}
            {{ formmacros.field(formfield.position) }}
        {% endif %}

        {% if formfield.residencyTrack is defined %}
            <p>
            <div class="well appointmenttitle-residencytrack-field" style="display:none; margin-top: 20px;">
                {{ formmacros.field(formfield.residencyTrack) }}
            </div>
            </p>
        {% endif %}

        {% if formfield.fellowshipType is defined %}
            <p>
            <div class="well appointmenttitle-fellowshiptype-field" style="display:none; margin-top: 20px;">
                {{ formmacros.field(formfield.fellowshipType) }}
            </div>
            </p>
        {% endif %}

        {#pgy#}
        {% if formfield.pgystart is defined and formfield.pgylevel is defined %}
            {#On the user profile page, always hide the entire PGY well if the Position Type is not equal to either Resident or Fellow#}
            {% if formfield.position is defined and formfield.vars.value and (formfield.vars.value.position == "Resident" or formfield.vars.value.position == "Fellow") or cycle == 'create_user' or cycle == 'edit_user' %}
                <p>
                <div class="well appointmenttitle-pgy-field" style="display:none">
                    {{ formmacros.fieldDateLabel(formfield.pgystart,'allow-future-date') }}
                    {{ formmacros.field(formfield.pgylevel) }}
                    {{ formmacros.field(formfield.pgylevelexpected) }}
                    <div class="row">
                        <div class="col-xs-6" align="right">
                            <strong></strong>
                        </div>
                        {% if cycle != 'show_user' %}
                            <div class="col-xs-6" align="left">
                                <button type="button" class="update-pgy-btn" onclick="updatePgy(this)">Update the academic year and PGY level to current</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                </p>
            {% else %}
                {% do formfield.pgystart.setRendered %}
                {% do formfield.pgylevel.setRendered %}
                {% do formfield.pgylevelexpected.setRendered %}
            {% endif %}
        {% endif %}

        </p>


        {{ formmacros.fieldDateLabel(formfield.startDate,'allow-future-date') }}
        {{ formmacros.fieldDateLabel_notempty(formfield.endDate,cycle,'allow-future-date') }}

        {#On the user profile page, always hide "Percent Effort:" in both Academic and Administrative titles if they are empty#}
        {% if cycle != 'show_user' or (formfield.vars.value and formfield.vars.value.effort) %}
            {{ formmacros.field(formfield.effort) }}
        {% else %}
            {% do formfield.effort.setRendered %}
        {% endif %}


        {{ formmacros.field(formfield.institution) }}
        {{ formmacros.field(formfield.department) }}
        {{ formmacros.field(formfield.division) }}
        {{ formmacros.field(formfield.service) }}

        {#show "head of ..." on show only if set#}
        {% if formfield.supervisorInstitution is defined %}
            {% if formfield.vars.value and formfield.vars.value.supervisorInstitution == 1 %}
                {% set value = 1 %}
            {% else %}
                {% set value = 0 %}
            {% endif %}
            {{ usermacros.checkbox_notempty(formfield.supervisorInstitution,value,cycle) }}
        {% endif %}
        {% if formfield.supervisorDepartment is defined %}
            {% if formfield.vars.value and formfield.vars.value.supervisorDepartment == 1 %}
                {% set value = 1 %}
            {% else %}
                {% set value = 0 %}
            {% endif %}
            {{ usermacros.checkbox_notempty(formfield.supervisorDepartment,value,cycle) }}
        {% endif %}
        {% if formfield.supervisorDivision is defined %}
            {% if formfield.vars.value and formfield.vars.value.supervisorDivision == 1 %}
                {% set value = 1 %}
            {% else %}
                {% set value = 0 %}
            {% endif %}
            {{ usermacros.checkbox_notempty(formfield.supervisorDivision,value,cycle) }}
        {% endif %}
        {% if formfield.supervisorService is defined %}
            {% if formfield.vars.value and formfield.vars.value.supervisorService == 1 %}
                {% set value = 1 %}
            {% else %}
                {% set value = 0 %}
            {% endif %}
            {{ usermacros.checkbox_notempty(formfield.supervisorService,value,cycle) }}
        {% endif %}
    </div>
{% endmacro %}




{% macro stateLicenses( field, cycle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cycle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field_notempty(formfield.country,cycle) }}
        {{ formmacros.field(formfield.state) }}
        {{ formmacros.field(formfield.licenseNumber) }}
        {{ formmacros.fieldDateLabel(formfield.licenseExpirationDate,'allow-future-date') }}

    </div>
{% endmacro %}


{% macro boardCertifications( field, cycle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cycle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field(formfield.specialty) }}
        {{ formmacros.fieldDateLabel(formfield.issueDate,'allow-future-date') }}
        {{ formmacros.fieldDateLabel(formfield.expirationDate,'allow-future-date') }}

    </div>
{% endmacro %}


{% macro codenyphs( field, cycle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="well {{ classname }}">

        {% if cycle != 'show_user' %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.field_notempty(formfield.field,cycle) }}
        {{ formmacros.fieldDateLabel_notempty(formfield.startDate,cycle,'allow-future-date') }}
        {{ formmacros.fieldDateLabel_notempty(formfield.endDate,cycle,'allow-future-date') }}

    </div>
{% endmacro %}

{% macro employmentStatuses( field, cycle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    <div class="user-collection-holder well {{ classname }}">

        {% if cycle != 'show_user' and formfield.vars.value and formfield.vars.value.id != app.security.getToken().getUser().getId() %}
            <div class="text-right">
                <button type="button" class="btn btn-default btn-sm btn-remove-minimumone-collection confirm-delete-with-expired" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ formmacros.fieldDateLabel(formfield.hireDate,'allow-future-date') }}
        {{ formmacros.fieldDateLabel_notempty(formfield.terminationDate,cycle,'allow-future-date') }}
        {{ formmacros.field_notempty(formfield.terminationType,cycle) }}

        {#{% if formfield.terminationReason is defined or (prototype == "prototype" and field.vars.value.terminationReason ) %}#}
        {% if formfield.terminationReason is defined %}
            {{ formmacros.field_notempty(formfield.terminationReason,cycle) }}
        {% endif %}

    </div>
{% endmacro %}

{% macro userUrlLink() %}
    <a href="{{ path(employees_sitename~'_showuser_notstrict', { 'id': 'user_replacement_id' }) }}">{{ 'user_replacement_username' }}</a><br>
{% endmacro %}




{% macro identifier( field, cycle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    {% if formfield.vars.value and formfield.vars.value.status == 0 or prototype == 'prototype' %}
        {% set wellclass = "user-alert-warning" %}
    {% else %}
        {% set wellclass = "" %}
    {% endif %}

    <div class="alert {{ classname }} {{ wellclass }}">

        {% if cycle != 'show_user' %}
            <div class="text-right" style="padding-bottom: 10px">
                <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        {% endif %}

        {{ usermacros.statusVerifiedField(formfield,cycle) }}

        {{ formmacros.field(formfield.keytype) }}

        {% if formfield.keytypemrn is defined %}
            {#{% set displayNone = "display:none;" %}#}
            {#{% set hideClass = "hideComplex" %}#}
            {% if formfield.vars.value and formfield.vars.value.keytypemrn and formfield.vars.value.keytypemrn.id %}
                {% set displayNone = "" %}
                {#{% set hideClass = "" %}#}
            {% else %}
                <p></p>
                {% set displayNone = "display:none;" %}
            {% endif %}

            <div class="identifier-keytypemrn-field-holder" style="{{ displayNone }}">
                {#<div class="identifier-keytypemrn-field-holder {{ hideClass }}">#}
                {{ formmacros.field(formfield.keytypemrn) }}
            </div>
        {% endif %}

        {% if cycle == 'show_user' %}

            {% if formfield.link is defined and formfield.vars.value and formfield.vars.value.link != '' %}

                {% if "http" in formfield.vars.value.link %}
                    {% set href = formfield.vars.value.link %}
                {% else %}
                    {% set href = "http://"~formfield.vars.value.link %}
                {% endif %}

                {% set hreflink = '<a href="'~href|raw~'">'~formfield.field.vars.value~'</a>' %}

                {{ formmacros.simplefield( "Identifier:", hreflink, "", "disabled" ) }}

            {% else %}
                <br>
                {{ formmacros.field(formfield.field) }}
            {% endif %}

        {% else %}
            {{ formmacros.field(formfield.field) }}
        {% endif %}

        {% if formfield.link is defined and cycle != 'show_user' %}
            {{ formmacros.field(formfield.link) }}
        {% endif %}

    </div>

    {% do field.setRendered %}
{% endmacro %}

{#{% macro researchLabs( field, cycle, classname, prototype ) %}#}
    {#{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}#}
    {#{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}#}

    {#{% if prototype == "prototype" %}#}
        {#{% set formfield = field.vars.prototype %}#}
    {#{% else %}#}
        {#{% set formfield = field %}#}
    {#{% endif %}#}

    {#<div class="user-collection-holder well {{ classname }}">#}

        {#{% if cycle != 'show_user' %}#}
            {#<div class="text-right">#}
                {#<button type="button" class="btn btn-default btn-sm btn-remove-minimumone-collection confirm-delete-with-expired" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>#}
            {#</div>#}
        {#{% endif %}#}

        {#&#123;&#35;{{ formmacros.field(formfield.researchLabTitle) }}&#35;&#125;#}
        {#{{ formmacros.field(formfield.name) }}#}
        {#{{ formmacros.checkbox(formfield.researchPI) }}#}
        {#{{ formmacros.fieldDateLabel(formfield.foundedDate,'allow-future-date') }}#}
        {#{{ formmacros.fieldDateLabel_notempty(formfield.dissolvedDate,cycle,'allow-future-date') }}#}
        {#{{ formmacros.field_notempty(formfield.comment,cycle) }}#}
        {#{{ formmacros.field(formfield.location) }}#}
        {#{{ usermacros.emailPhoneField_notempty(formfield.weblink,cycle,'link',"") }}#}

    {#</div>#}
{#{% endmacro %}#}

{% macro comments( field, cycle, classname, prototype ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    {% if prototype == "prototype" %}
        {% set formfield = field.vars.prototype %}
    {% else %}
        {% set formfield = field %}
    {% endif %}

    {% if formfield.comment.vars.value != "" or cycle != 'show_user' %}

        {% if classname == 'user-privatecomments' and (formfield.vars.value and formfield.vars.value.status == 0 or prototype == 'prototype') %}
            {% set wellclass = "user-alert-warning" %}
        {% else %}
            {% set wellclass = "" %}
        {% endif %}

        <div class="user-collection-holder alert {{ classname }} {{ wellclass }}" style="padding-bottom:120px;">

            {% if cycle != 'show_user' %}
                <div class="text-right" style="padding-bottom: 10px">
                    <button type="button" class="btn btn-default btn-sm" onClick="removeExistingObject(this,'{{ classname }}')" ><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            {% endif %}

            {{ formmacros.field(formfield.id) }}

            {% if formfield.status is defined %}
                {{ usermacros.statusVerifiedField(formfield,cycle) }}
            {% endif %}

            {{ formmacros.field(formfield.commentType) }}

            {{ formmacros.field(formfield.commentSubType) }}

            {{ formmacros.field(formfield.comment) }}

            {% if formfield.documents is defined or prototype == 'prototype' %}
                {{ usermacros.fileupload( formfield, cycle, classname, prototype ) }}
            {% endif %}

        </div>

    {% else %}

        {% do formfield.commentType.setRendered %}
        {% do formfield.commentSubType.setRendered %}
        {% do formfield.comment.setRendered %}

        {% if formfield.status is defined %}
            {% do formfield.status.setRendered %}
        {% endif %}

    {% endif %}

{% endmacro %}


{% macro snapshot_orig( user, sitename, cycle ) %}

    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    {#check if assistants exist#}
    {% set assistExist = false %}
    {% if user.locations is defined %}
        {% for location in user.locations %}
            {% if location.assistant|length > 0 %}
                {% set assistExist = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {#Academic Title#}
    {% set showAcademicTitle = false %}
    {% if user.appointmentTitles|length > 0 %}
        {% for appointmentTitles in user.appointmentTitles %}
            {% if appointmentTitles.name %}
                {% set showAcademicTitle = true %}
            {% endif %}
        {% endfor %}

    {% endif %}

    {#IC#}
    {% set showIc = false %}
    {% for location in user.locations %}
        {% if location.ic %}
            {% set showIc = true %}
        {% endif %}
    {% endfor %}

    <table class="table table-condensed text-left">
    <thead>
        <tr>
            <th>Service(s)</th>
            <th>Name</th>
            <th>Administrative Title(s)</th>

            {% if showAcademicTitle %}
                <th>Academic Title(s)</th>
            {% endif %}

            <th>Email</th>
            <th>Phone Number</th>

            {% if showIc %}
                <th>IC</th>
            {% endif %}

            <th>Room Number(s)</th>

            {% if assistExist %}
                <th>Assistant(s)</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% for service in user.getServices %}
                    {% if service is defined and service != "" %}
                        {{ usermacros.getInstitutionalTree(service,'userlink') }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ user.displayName }}</td>
            <td>
                {% for administrativeTitle in user.administrativeTitles %}
                    {% if administrativeTitle.name %}
                        <p>
                        {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                            <a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'administrativeTitle','id': administrativeTitle.name.id, 'name': administrativeTitle.name.name }) }}">{{ administrativeTitle.name }}</a>
                        {% else %}
                            {{ administrativeTitle.name }}
                        {% endif %}
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            {#Academic Title#}
            {% if showAcademicTitle %}
                <td>
                    {% for appointmentTitles in user.appointmentTitles %}
                        {% if appointmentTitles.name %}
                            <p>
                            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                                <a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'appointmentTitles','id': appointmentTitles.name.id, 'name': appointmentTitles.name.name }) }}">{{ appointmentTitles.name }}</a>
                            {% else %}
                                {{ appointmentTitles.name }}
                            {% endif %}
                            </p>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}

            <td>
                {% for email in user.getAllEmail() %}
                    <p>
                        {{ email['prefix'] }}<a href="mailto:{{ email['email'] }}" target="_top">{{ email['email'] }}</a>
                    </p>
                {% endfor %}
            </td>
            <td>
                {% for phone in user.getAllPhones() %}
                    <p>{{ phone['prefix'] }}{{ usermacros.phoneHref(phone['phone']) }}</p>
                {% endfor %}
            </td>


            {% if showIc %}
                <td>
                    {% for location in user.locations %}
                        {% if location.ic %}
                            {{ location.ic }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}

            <td>
                {% for location in user.locations %}
                    {% if location.room %}
                        <p>
                        {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                            <a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'room','id': location.room.id, 'name': location.room.name }) }}">{{ location.room }}</a>
                        {% else %}
                            {{ location.name }}
                        {% endif %}
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            {% if assistExist %}
                <td>
                    {{ usermacros.showAssistantes( user, sitename ) }}
                </td>
            {% endif %}

        </tr>
    </tbody>
    </table>

{% endmacro %}

{#stevesnapshot#}
{% macro snapshot_steve( user, sitename, cycle ) %}

    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <div class="snapshot-all">

        <div class="snapshot clearfix">

            <div class="left">

                <div class="image-box">
                    {#avatar form modal#}
                    {#{{ usermacros.avatarForm(user,cycle) }}#}
                    {% if user.avatar %}
                        {% set avatarImage = user.avatar.getAbsoluteUploadFullPath %}
                    {% else %}
                        {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                    {% endif %}
                    <img src="{{ avatarImage }}" alt="Avatar" height="126" width="116">
                </div>

                <!--<img src="profile-pic.jpg"> -->

                <div class="left-text">
                    <h2>
                        {#Shivakumar Test Testing Subramaniyam, MD, PhD#}
                        {{ user.getUsernameOptimal }}
                    </h2>

                    {#head/cheaf#}
                    {#Chief, Eyebrow Pathology, Assistant Professor of Pathology and Laboratory Medicine#}
                    {% set headInfo = user.getHeadInfo %}
                    {% if headInfo %}
                        <h4>
                            {{ headInfo }}
                        </h4>
                    {% endif %}

                    {#services#}
                    <div class="service">
                        <p>
                            {#services#}
                            {% for service in user.getServices %}
                                {#Eyebrow Pathology<br>#}
                                {#Anatomic Pathology<br>#}
                                {#Department of Pathology and Laboratory Medicine<br>#}
                                {#Weill Cornell Medical College#}
                                {{ service.name }}<br>
                            {% endfor %}
                            {#divisions#}
                            {% for division in user.getDivisions %}
                                {{ division.name }}<br>
                            {% endfor %}
                            {#departments#}
                            {% for department in user.getDepartments %}
                                {{ department.name }}<br>
                            {% endfor %}
                            {#institutions#}
                            {% for institution in user.getInstitutions %}
                                {{ institution.name }}
                            {% endfor %}
                        </p>
                    </div>

                </div>
            </div>

            <div class="right">
                <div class="right-text">

                    {% for location in user.getLocations %}

                        {% if location.hasLocationTypeName("Employee Home") == false %}

                            <div class="contact">
                                <h4>{{ location.getLocationFullName }}:</h4>
                                <table>
                                    {% if location.room %}
                                        <tr>
                                            <td class="left-column">room:</td>
                                            <td>{{ location.room }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.phone %}
                                        <tr>
                                            <td class="left-column">ph:</td>
                                            <td>
                                                {#{{ location.phone }}#}
                                                {{ usermacros.phoneHref(location.phone) }}
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if location.pager %}
                                        <tr>
                                            <td class="left-column">pager:</td>
                                            <td>{{ location.pager }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.ic %}
                                        <tr>
                                            <td class="left-column">i/c:</td>
                                            <td>{{ location.ic }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.fax %}
                                        <tr>
                                            <td class="left-column">fax:</td>
                                            <td>{{ location.fax }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.email %}
                                        <tr>
                                            <td class="left-column">email:</td>
                                            <td>
                                                {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                <a href="mailto:{{ location.email }}" target="_top">{{ location.email }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}

                                </table>
                            </div>


                            {% if location.getAssistant|length > 0 %}
                                <div class="assistant">
                                    <h4>Assistant:</h4>

                                    {% for assistant in location.getAssistant %}

                                        <table style="padding-bottom: 10px;">
                                            <tr>
                                                <td class="left-column">name:</td>
                                                <td>
                                                    {#{{ assistant.getUsernameOptimal }}#}
                                                    <a href="{{ path(sitename~'_showuser', { 'id': assistant.id }) }}">{{ assistant.getUsernameOptimal() }}</a>
                                                </td>
                                            </tr>
                                            {#<tr>phone(s):</tr>#}
                                            <tr>
                                                <td class="left-column" valign="top">ph:</td>
                                                <td>
                                                    <p>
                                                    {% for phone in assistant.getAllPhones() %}
                                                        {{ phone['prefix'] }}{{ usermacros.phoneHref(phone['phone']) }}<br>
                                                    {% endfor %}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="left-column" valign="top">email:</td>
                                                <td>
                                                    {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                    {#<a href="mailto:{{ assistant.email }}" target="_top">{{ assistant.email }}</a>#}
                                                    {% for email in assistant.getAllEmail() %}
                                                        <a href="mailto:{{ email['email'] }}" target="_top">{{ email['email'] }}</a><br>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        </table>

                                    {% endfor %}

                                </div>
                            {% endif %}

                        {% endif %} {#main locations only#}

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro snapshot( user, sitename, cycle ) %}

    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <div class="panel panel-default">

        {#<div class="panel-heading">#}
            {#<h3 class="panel-title">{{ user.getUsernameOptimal }}</h3>#}
        {#</div>#}

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-7">

                    <div class="row">

                        <div class="col-xs-3" align="left">

                            {#avatar#}
                            {#<div class="image-box">#}
                                {% if user.avatar %}
                                    {% set avatarImage = user.avatar.getAbsoluteUploadFullPath %}
                                {% else %}
                                    {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                                {% endif %}
                                <img src="{{ avatarImage }}" alt="Avatar" height="126" width="116">
                            {#</div>#}

                        </div>


                        <div class="col-xs-9">

                            <div class="alert alert-danger" role="alert">
                                <h1>{{ user.getUsernameOptimal }}</h1>
                            </div>

                            {#<h1>#}
                                {#<span class="label label-danger">#}
                                    {#{{ user.getUsernameOptimal }}#}
                                {#</span>#}
                            {#</h1>#}

                            {#user info#}
                            {#head/cheaf#}
                            {#Chief, Eyebrow Pathology, Assistant Professor of Pathology and Laboratory Medicine#}
                            {% set headInfo = user.getHeadInfo %}
                            {% if headInfo %}
                                <h4>
                                    <i>{{ headInfo }}</i>
                                </h4>
                            {% endif %}

                            {#services#}
                            <p>
                                {#services#}
                                {% for service in user.getServices %}
                                    {{ service.name }}<br>
                                {% endfor %}
                                {#divisions#}
                                {% for division in user.getDivisions %}
                                    {{ division.name }}<br>
                                {% endfor %}
                                {#departments#}
                                {% for department in user.getDepartments %}
                                    {{ department.name }}<br>
                                {% endfor %}
                                {#institutions#}
                                {% for institution in user.getInstitutions %}
                                    {{ institution.name }}
                                {% endfor %}
                            </p>

                        </div>



                    </div>  {#left panel#}

                </div>


                <div class="col-xs-5">

                    <div class="well" style="padding-left:20px">

                        {% for location in user.getLocations %}

                            {% if location.hasLocationTypeName("Employee Home") == false %}

                                <div>
                                    <h4>{{ location.getLocationFullName }}:</h4>

                                    <table class="table table-condensed text-left">
                                        {% if location.room %}
                                            <tr>
                                                <td>room:</td>
                                                <td>{{ location.room }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if location.phone %}
                                            <tr>
                                                <td>ph:</td>
                                                <td>
                                                    {#{{ location.phone }}#}
                                                    {{ usermacros.phoneHref(location.phone) }}
                                                </td>
                                            </tr>
                                        {% endif %}

                                        {% if location.pager %}
                                            <tr>
                                                <td>pager:</td>
                                                <td>{{ location.pager }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if location.ic %}
                                            <tr>
                                                <td>i/c:</td>
                                                <td>{{ location.ic }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if location.fax %}
                                            <tr>
                                                <td>fax:</td>
                                                <td>{{ location.fax }}</td>
                                            </tr>
                                        {% endif %}

                                        {% if location.email %}
                                            <tr>
                                                <td>email:</td>
                                                <td>
                                                    {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                    <a href="mailto:{{ location.email }}" target="_top">{{ location.email }}</a>
                                                </td>
                                            </tr>
                                        {% endif %}

                                    </table>
                                </div>


                                {% if location.getAssistant|length > 0 %}
                                    <div>
                                        <h4>Assistant:</h4>

                                        {% for assistant in location.getAssistant %}

                                            <table style="padding-bottom: 10px;" class="table table-condensed text-left">
                                                <tr>
                                                    <td valign="top">name:</td>
                                                    <td>
                                                        {#{{ assistant.getUsernameOptimal }}#}
                                                        <a href="{{ path(sitename~'_showuser', { 'id': assistant.id }) }}">{{ assistant.getUsernameOptimal() }}</a>
                                                    </td>
                                                </tr>
                                                {#<tr>phone(s):</tr>#}
                                                <tr>
                                                    <td valign="top">ph:</td>
                                                    <td>
                                                        <p>
                                                            {% for phone in assistant.getAllPhones() %}
                                                                <p style="padding-bottom:0; margin-bottom:0;">{{ phone['prefix'] }}{{ usermacros.phoneHref(phone['phone']) }}</p>
                                                            {% endfor %}
                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td valign="top">email:</td>
                                                    <td>
                                                        {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                        {#<a href="mailto:{{ assistant.email }}" target="_top">{{ assistant.email }}</a>#}
                                                        {% for email in assistant.getAllEmail() %}
                                                            <p style="padding-bottom:0;margin-bottom:0;"><a href="mailto:{{ email['email'] }}" target="_top">{{ email['email'] }}</a></p>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            </table>

                                        {% endfor %}

                                    </div>
                                {% endif %}

                            {% endif %} {#main locations only#}

                        {% endfor %}

                    </div>

                </div>


            </div>
        </div>
    </div>

{% endmacro %}


{% macro roleAttributes( roleobjects ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% for role in roleobjects %}
        {% for attribute in role.getAttributes() %}
            {{ formmacros.simplefield( attribute.getName()~":", attribute.getValue(), "input", "disabled" ) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}


{###################      EOF macros      ####################}


{% import _self as userform %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% if "show" in cycle %}
    {% set showFlag = true %}
{% else %}
    {% set showFlag = false %}
{% endif %}

{% if showFlag %}
    {% set collapsein = "" %}
{% else %}
    {% set collapsein = "in" %}
{% endif %}


{#{% if cycle == "create_user" %}#}
    {#{% set title = "Add New Employee" %}#}
{#{% else %}#}
    {#&#123;&#35;{% set title = "Profile: "~form.vars.value.getUserNameStr() %}&#35;&#125;#}
{#{% endif %}#}

{% if title is not defined %}
    {% set title = "Profile" %}
{% endif %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% if not showFlag %}
        <h4 class="text-info" align="center">{{ title }}</h4>
    {% endif %}

    {% if form.userclone is defined %}
        <div style="margin-bottom: 20px; margin-top: 20px">
        {{ formmacros.field(form.userclone) }}
        </div>
    {% endif %}


    {#user's snapshot#}
    {% if showFlag %}
        {{ userform.snapshot_steve(entity,sitename,cycle) }}
        <br>
        {{ userform.snapshot(entity,sitename,cycle) }}
    {% else %}
        {#avatar form modal#}
        {{ usermacros.avatarForm(entity,cycle) }}
    {% endif %}

    <br>

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>


    {{ form_start(form,{'attr': {'id': 'user-profile-form'}}) }}

        {% set publicCommentsPrototype = null %}
        {% set privateCommentsPrototype = null %}
        {% set adminCommentsPrototype = null %}
        {% set employmentStatusPrototype = null %}
        {% set researchLabsPrototype = null %}
        {% set statelicensePrototype = null %}
        {% set boardcertificationPrototype = null %}
        {% set identifiersPrototype = null %}
        {% set codeNYPHPrototype = null %}

        {% if form.publicComments is defined %}
            {% set publicCommentsPrototype = userform.comments(form.publicComments,cycle,'user-publiccomments','prototype') %}
        {% endif %}
        {% if form.privateComments is defined %}
            {% set privateCommentsPrototype = userform.comments(form.privateComments,cycle,'user-privatecomments','prototype') %}
        {% endif %}
        {% if form.adminComments is defined %}
            {% set adminCommentsPrototype = userform.comments(form.adminComments,cycle,'user-admincomments','prototype') %}
        {% endif %}
        {% if form.employmentStatus is defined %}
            {% set employmentStatusPrototype = userform.employmentStatuses(form.employmentStatus,cycle,'user-employmentStatus','prototype') %}
        {% endif %}
        {% if form.researchLabs is defined %}
            {#{% set researchLabsPrototype = userform.researchLabs(form.researchLabs,cycle,'user-researchlabs','prototype') %}#}
            {% set researchLabsPrototype = usermacros.researchlabObject(form.researchLabs,cycle,'user-researchlabs','prototype',sitename,entity) %}
        {% endif %}

        {% if form.credentials is defined and form.credentials.stateLicense is defined %}
            {% set statelicensePrototype = userform.stateLicenses(form.credentials.stateLicense,cycle,'user-statelicense','prototype') %}
        {% endif %}
        {% if form.credentials is defined and form.credentials.boardCertification is defined %}
            {% set boardcertificationPrototype = userform.boardCertifications(form.credentials.boardCertification,cycle,'user-boardcertification','prototype') %}
        {% endif %}
        {% if form.credentials is defined and form.credentials.identifiers is defined %}
            {% set identifiersPrototype = userform.identifier(form.credentials.identifiers,cycle,'user-identifiers','prototype') %}
        {% endif %}
        {% if form.credentials is defined and form.credentials.codeNYPH is defined %}
            {% set codeNYPHPrototype = userform.codenyphs(form.credentials.codeNYPH,cycle,'user-codenyph','prototype') %}
        {% endif %}

        {% if is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
            {% set userEditor = true %}
        {% else %}
            {% set userEditor = false %}
        {% endif %}


        <div id="form-prototype-data"
             data-prototype-user-administrativetitles = "{{ userform.baseTitle(form.administrativeTitles,cycle,'user-administrativeTitles','prototype', sitename)|e }}"
             data-prototype-user-appointmenttitles = "{{ userform.baseTitle(form.appointmentTitles,cycle,'user-appointmentTitles','prototype', sitename)|e }}"
             data-prototype-user-trainings = "{{ usermacros.trainingObject(form.trainings,cycle,'user-trainings','prototype',sitename,entity)|e }}"
             data-prototype-user-locations = "{{ usermacros.locationObject(form.locations,cycle,'user-locations','prototype',sitename,entity)|e }}"
             data-prototype-user-statelicense = "{{ statelicensePrototype|e }}"
             data-prototype-user-boardcertification = "{{ boardcertificationPrototype|e }}"
             data-prototype-user-codenyph = "{{ codeNYPHPrototype|e }}"
             data-prototype-user-employmentstatus = "{{ employmentStatusPrototype|e }}"
             data-prototype-user-identifiers = "{{ identifiersPrototype|e }}"
             data-prototype-user-publiccomments = "{{ publicCommentsPrototype|e }}"
             data-prototype-user-privatecomments = "{{ privateCommentsPrototype|e }}"
             data-prototype-user-admincomments = "{{ adminCommentsPrototype|e }}"
             data-prototype-user-researchlabs = "{{ researchLabsPrototype|e }}"

             data-userurllink = "{{ userform.userUrlLink()|e }}"
             data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
             data-userid = "{{ entity.id }}"
        ></div>

        <input type="hidden" id="user_id" value="{{ user_id }}" />
        <input type="hidden" id="user_name" value="{{ form.vars.value.username }}" />
        {#<input type="hidden" id="user_name" value="{{ form.vars.value.getUserNameStr() }}" />#}
        <input type="hidden" id="formcycle" value="{{ cycle }}" />
        <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />

        {{ form_errors(form) }}

        <div class="text-left">

        {#Name and Preferred Contact Info#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#userinfo">
                        Name and Preferred Contact Info
                    </a>
                </h4>
            </div>
            <div id="userinfo" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div id="user-avatar-id">
                        {{ formmacros.field(form.avatar.id) }}
                    </div>

                    {{ formmacros.field(form.keytype) }}
                    {{ formmacros.field(form.primaryPublicUserId) }}

                    {% if form.username is defined %}
                        {{ formmacros.field(form.username) }}
                    {% endif %}

                    {% for info in form.infos %}
                        {{ formmacros.field(info.displayName) }}
                        {{ formmacros.field(info.firstName) }}
                        {{ formmacros.field_notempty(info.middleName,cycle) }}
                        {{ formmacros.field(info.lastName) }}
                        {{ formmacros.field_notempty(info.suffix,cycle) }}
                        {{ usermacros.emailPhoneField(info.email,cycle,'email',"") }}
                        {{ usermacros.emailPhoneField(info.preferredPhone,cycle,'phone',"") }}
                        {{ formmacros.field_notempty(info.initials,cycle) }}
                    {% endfor %}

                </div>
            </div>
        </div>


        {#Role Attributes#}
        {% set showRoleattributes = false %}
        {% if roleobjects is defined %}
            {% for role in roleobjects %}
                {% for attribute in role.getAttributes() %}
                    {% if attribute.getValue() and cycle == 'show_user' %}
                        {% set showRoleattributes = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if showRoleattributes and roleobjects is defined %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#roleattributes">
                            Role Attributes
                        </a>
                    </h4>
                </div>
                <div id="roleattributes" class="panel-collapse collapse {{ collapsein }}">
                    <div class="panel-body">
                        {% if roleobjects is defined %}
                            {{ userform.roleAttributes(roleobjects) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {#Global User Preferences#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#userprefrences">
                        Global User Preferences
                    </a>
                </h4>
            </div>
            <div id="userprefrences" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    {% if form.roles is defined and (cycle == "show_user" or userEditor == true) %}
                        {{ formmacros.field(form.roles) }}
                    {% endif %}

                    {{ formmacros.field(form.preferences.timezone) }}

                    {% if form.locked is defined and userEditor == true %}
                        {% if app.security.getToken().getUser().getId() != entity.id %}
                            {{ formmacros.checkbox(form.locked) }}
                        {% else %}
                            {% do form.locked.setRendered %}
                        {% endif %}
                    {% endif %}

                    {% if cycle == "show_user" %}
                        {{ formmacros.simplefield( "Current time in user's time zone:", "now"|date('Y-m-d H:i:s', entity.preferences.timezone), "", "disabled" ) }}
                    {% endif %}

                </div>
            </div>
        </div>


        {% block addcontent %}{% endblock %}

        {#Employment Status#}
        {% set showEmploymentStatus = false %}
        {% if form.employmentStatus is defined %}
            {% for employmentStatus in form.employmentStatus %}
                {% if employmentStatus.hireDate.vars.value or cycle != 'show_user' %}
                    {% set showEmploymentStatus = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if showEmploymentStatus and form.employmentStatus is defined %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#EmploymentStatus">
                            Employment Period(s) [visible only to Editors and Administrators]
                        </a>
                    </h4>
                </div>
                <div id="EmploymentStatus" class="panel-collapse collapse {{ collapsein }}">
                    <div class="panel-body">

                        <div class="user-employmentStatus-holder">
                            {% for employmentStatus in form.employmentStatus %}
                                {{ userform.employmentStatuses(employmentStatus,cycle,'user-employmentStatus','noprototype') }}
                            {% endfor %}
                            {% if cycle != 'show_user' and entity.id != app.security.getToken().getUser().getId() %}
                                <button class="btn btn-default btn-add-minimumone-collection" onClick="addNewObject(this,'user-employmentStatus')" type='button'>Add Employment Period</button>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            {% if form.employmentStatus is defined %}
                {% do form.employmentStatus.setRendered %}
            {% endif %}
        {% endif %}



        {#Administrative Titles#}

        {#hide the titles/objects that have a non-empty "Title End Date:"#}
        {% set endDateAdminTitle = false %}
        {% for formfield in form.administrativeTitles %}
            {% if formfield.endDate is defined and formfield.vars.value and formfield.vars.value.endDate %}
                {% set endDateAdminTitle = true %}
            {% endif %}
        {% endfor %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#AdministrativeTitles">
                        Administrative Title(s)
                    </a>
                </h4>
            </div>
            <div id="AdministrativeTitles" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    {% if endDateAdminTitle %}
                        <p><button type='button' class="btn btn-default btn-sm" data-toggle="button" onClick="collapseObject(this)">Show previous titles</button></p>
                    {% endif %}

                    <div class="user-administrativeTitles-holder">
                        {% for administrativeTitle in form.administrativeTitles %}
                            {{ userform.baseTitle(administrativeTitle,cycle,'user-administrativeTitles','noprototype',sitename) }}
                        {% endfor %}
                        {% if cycle != 'show_user' %}
                            <button class="btn btn-default" onClick="addNewObject(this,'user-administrativeTitles')" type='button'>Add Administrative Title</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>




        {#Appointment Titles#}

        {#hide the titles/objects that have a non-empty "Title End Date:"#}
        {% set endDateAppoinTitle = false %}
        {% for formfield in form.appointmentTitles %}
            {% if formfield.endDate is defined and formfield.vars.value and formfield.vars.value.endDate %}
                {% set endDateAppoinTitle = true %}
            {% endif %}
        {% endfor %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#AppointmentTitles">
                        Academic Appointment Title(s)
                    </a>
                </h4>
            </div>
            <div id="AppointmentTitles" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    {% if endDateAppoinTitle %}
                        <p><button type='button' class="btn btn-default btn-sm" data-toggle="button" onClick="collapseObject(this)">Show previous titles</button></p>
                    {% endif %}

                    <div class="user-appointmentTitles-holder">
                        {% for appointmentTitle in form.appointmentTitles %}
                            {{ userform.baseTitle(appointmentTitle,cycle,'user-appointmentTitles','noprototype',sitename) }}
                        {% endfor %}
                        {% if cycle != 'show_user' %}
                            <button class="btn btn-default" onClick="addNewObject(this,'user-appointmentTitles')" type='button'>Add Academic Appointment Title</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        {#Locations#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Locations">
                        Location(s)
                    </a>
                </h4>
            </div>
            <div id="Locations" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    <div class="user-locations-holder">
                        {% for location in form.locations %}
                            {{ usermacros.locationObject(location,cycle,'user-locations','noprototype',sitename,entity) }}
                        {% endfor %}
                        {% if cycle != 'show_user' %}
                            <button class="btn btn-default" onClick="addNewObject(this,'user-locations')" type='button'>Add Location</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        {#Educations: Trainings#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Trainings">
                        Education(s)
                    </a>
                </h4>
            </div>
            <div id="Trainings" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    <div class="user-trainings-holder">
                        {% for training in form.trainings %}
                            {{ usermacros.trainingObject(training,cycle,'user-trainings','noprototype',sitename,entity) }}
                        {% endfor %}
                        {% if cycle != 'show_user' %}
                            <button class="btn btn-default" onClick="addNewObject(this,'user-trainings')" type='button'>Add Training</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        {#Research Lab(s)#}
        {#If the user has no Research Labs (no array members with a research lab title), hide the whole Research Lab(s) section on the profile page.#}
        {% set showResearchLabs = false %}
        {% for researchLabs in form.researchLabs %}
            {% if researchLabs.vars.value or researchLabs.weblink.vars.value or researchLabs.foundedDate.vars.value or cycle != 'show_user' %}
                {% set showResearchLabs = true %}
            {% endif %}
        {% endfor %}

        {% if showResearchLabs and form.researchLabs is defined %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#ResearchLabs">
                            Research Lab(s)
                        </a>
                    </h4>
                </div>
                <div id="ResearchLabs" class="panel-collapse collapse {{ collapsein }}">
                    <div class="panel-body">

                        <div class="user-researchlabs-holder">
                            {% for researchLab in form.researchLabs %}
                                {{ usermacros.researchlabObject(researchLab,cycle,'user-researchlabs','noprototype',sitename,entity) }}
                            {% endfor %}
                            {% if cycle != 'show_user' %}
                                <button class="btn btn-default" onClick="addNewObject(this,'user-researchlabs')" type='button'>Add Research Lab</button>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            {% do form.researchLabs.setRendered %}
        {% endif %}

        {#Credentials#}
        {% if form.credentials is defined %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div class="row">
                            <div class="col-xs-6" align="left">
                                <a data-toggle="collapse" href="#Credentials" style="color:#fff;">Credentials [Not publicly visible, but visible to the user]</a>
                            </div>
                            <div class="col-xs-6" align="right">
                                <button type="button" class="btn btn-default btn-xs" onClick="collapseAll(document.getElementById('Credentials'))" >Collapse All</button>
                                <button type="button" class="btn btn-default btn-xs" onClick="extendAll(document.getElementById('Credentials'))" >Expand All</button>
                            </div>
                        </div>
                    </h4>
                </div>
                <div id="Credentials" class="panel-collapse collapse {{ collapsein }}">
                    <div class="panel-body">

                        {#<p>#}
                            {#<button type="button" class="btn btn-default btn-sm panel-collapse-btn" onClick="collapseAll(document.getElementById('Credentials'))" >Collapse All</button>#}
                            {#<button type="button" class="btn btn-default btn-sm panel-collapse-btn" onClick="extendAll(document.getElementById('Credentials'))" >Expand All</button>#}
                        {#</p>#}


                        <div class="user-credentials-holder">


                            {#Identifiers#}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#identifiers">
                                            Identifiers
                                        </a>
                                    </h4>
                                </div>
                                <div id="identifiers" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="user-identifiers-holder">

                                            {#{{ formmacros.field(form.credentials.employeeId) }}#}
                                            {#{{ formmacros.field(form.credentials.nationalProviderIdentifier) }}#}
                                            <div class="user-employmentStatus-holder">
                                                {% for identifier in form.credentials.identifiers %}
                                                    {{ userform.identifier(identifier,cycle,'user-identifiers','noprototype') }}
                                                {% endfor %}
                                                {% if cycle != 'show_user' %}
                                                    <button class="btn btn-default btn-add-minimumone-collection" onClick="addNewObject(this,'user-identifiers')" type='button'>Add Identifier</button>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#Personal Information#}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#personalinfo">
                                            Personal Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="personalinfo" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="user-personalinfo-holder">

                                            {{ formmacros.fieldDateLabel(form.credentials.dob,'regular-datepicker') }}
                                            {{ formmacros.field_notempty(form.credentials.ssn,cycle) }}
                                            {{ formmacros.field(form.credentials.emergencyContactInfo) }}

                                        </div>
                                    </div>
                                </div>
                            </div>


                            {#Certificate of Qualification#}

                            {#HIDE ENTIRE SECTION Certificate of Qualification if both fields are empty / no array members#}
                            {% if form.credentials.numberCOQ.vars.value or form.credentials.coqExpirationDate.vars.value or not (cycle == "show" or cycle == "show_user") %}
                                {% set showCOQ = true %}
                            {% else %}
                                {% set showCOQ = false %}
                            {% endif %}

                            {% if showCOQ %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#coq">
                                                Certificate of Qualification
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="coq" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="user-coq-holder">

                                                {{ formmacros.field_notempty(form.credentials.numberCOQ,cycle) }}
                                                {{ formmacros.fieldDateLabel_notempty(form.credentials.coqExpirationDate,cycle,'allow-future-date') }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% do form.credentials.numberCOQ.setRendered %}
                                {% do form.credentials.coqExpirationDate.setRendered %}
                            {% endif %}


                            {#Clinical Laboratory Improvement Amendments (CLIA)#}
                            {#HIDE ENTIRE SECTION Clinical Laboratory Improvement Amendments (CLIA) if both fields are empty / no array members#}
                            {% if form.credentials.numberCLIA.vars.value or form.credentials.cliaExpirationDate.vars.value or not (cycle == "show" or cycle == "show_user") %}
                                {% set showCLIA = true %}
                            {% else %}
                                {% set showCLIA = false %}
                            {% endif %}

                            {% if showCLIA %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#clia">
                                                Clinical Laboratory Improvement Amendments (CLIA)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="clia" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="user-clia-holder">

                                                {{ formmacros.field_notempty(form.credentials.numberCLIA,cycle) }}
                                                {{ formmacros.fieldDateLabel_notempty(form.credentials.cliaExpirationDate,cycle,'allow-future-date') }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% do form.credentials.numberCLIA.setRendered %}
                                {% do form.credentials.cliaExpirationDate.setRendered %}
                            {% endif %}


                            {#NY Permanent Facility Identifier (PFI)#}
                            {#HIDE ENTIRE SECTION NY Permanent Facility Identifier (PFI) if both fields are empty / no array members#}
                            {% if form.credentials.numberPFI.vars.value or not (cycle == "show" or cycle == "show_user") %}
                                {% set showPFI = true %}
                            {% else %}
                                {% set showPFI = false %}
                            {% endif %}

                            {% if showPFI %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#pfi">
                                                NY Permanent Facility Identifier (PFI)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="pfi" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="user-pfi-holder">
                                                {{ formmacros.field_notempty(form.credentials.numberPFI,cycle) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% do form.credentials.numberPFI.setRendered %}
                            {% endif %}


                            {#Code NYPH#}
                            {#HIDE ENTIRE SECTION NYPH Code(s) if all three fields are empty / no array members#}
                            {% set showNYPH = false %}
                            {% for codeNYPH in form.credentials.codeNYPH %}
                                {% if codeNYPH.field.vars.value or codeNYPH.startDate.vars.value or codeNYPH.endDate.vars.value or cycle != 'show_user' %}
                                    {% set showNYPH = true %}
                                {% endif %}
                            {% endfor %}

                            {% if showNYPH  %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#codenyph">
                                                NYPH Code(s)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="codenyph" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="user-codenyph-holder">
                                                {% for codeNYPH in form.credentials.codeNYPH %}
                                                    {{ userform.codenyphs(codeNYPH,cycle,'user-codenyph','noprototype') }}
                                                {% endfor %}
                                                {% if cycle != 'show_user' %}
                                                    <button class="btn btn-default" onClick="addNewObject(this,'user-codenyph')" type='button'>Add NYPH Code</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% do form.credentials.codeNYPH.setRendered %}
                            {% endif %}
                            {#EOF Code NYPH#}

                            {#Medical Licenses#}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#stateLicense">
                                            Medical License(s)
                                        </a>
                                    </h4>
                                </div>
                                <div id="stateLicense" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <div class="user-statelicense-holder">

                                            {% for stateLicense in form.credentials.stateLicense %}
                                                {{ userform.stateLicenses(stateLicense,cycle,'user-statelicense','noprototype') }}
                                            {% endfor %}
                                            {% if cycle != 'show_user' %}
                                                <button class="btn btn-default" onClick="addNewObject(this,'user-statelicense')" type='button'>Add Medical License</button>
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            </div>

                            {#Board Certification#}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#boardCertification">
                                            Board Certification(s)
                                        </a>
                                    </h4>
                                </div>
                                <div id="boardCertification" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <div class="user-boardcertification-holder">

                                            {% for boardCertification in form.credentials.boardCertification %}
                                                {{ userform.boardCertifications(boardCertification,cycle,'user-boardcertification','noprototype') }}
                                            {% endfor %}
                                            {% if cycle != 'show_user' %}
                                                <button class="btn btn-default" onClick="addNewObject(this,'user-boardcertification')" type='button'>Add Board Certification</button>
                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            </div>




                        </div>

                    </div>
                </div>

            </div>
        {% endif %}
        {#EOF credentials#}


        {#Comments#}
        {#On the user profile page always hide all Comments (including the whole Comments section) if they are empty.#}
        {% set showPublicComments = false %}
        {% set showPrivateComments = false %}
        {% set showConfComments = false %}
        {% set showAdminComments = false %}

        {% for publicComment in form.publicComments %}
            {% if publicComment.comment.vars.value != "" or cycle != 'show_user' %}
                {% set showPublicComments = true %}
            {% endif %}
        {% endfor %}

        {% if form.privateComments is defined %}
            {% for privateComment in form.privateComments %}
                {% if privateComment.comment.vars.value != "" or cycle != 'show_user' %}
                    {% set showPrivateComments = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if form.confidentialComments is defined %}
            {% for confidentialComment in form.confidentialComments %}
                {% if confidentialComment.comment.vars.value != "" or cycle != 'show_user' %}
                    {% set showConfComments = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if form.adminComments is defined %}
            {% for adminComment in form.adminComments %}
                {% if adminComment.comment.vars.value != "" or cycle != 'show_user' %}
                    {% set showAdminComments = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if showPublicComments == false %}
            {% do form.publicComments.setRendered %}
        {% endif %}
        {% if showPrivateComments == false and form.privateComments is defined %}
            {% do form.privateComments.setRendered %}
        {% endif %}
        {% if showConfComments == false and form.confidentialComments is defined %}
            {% do form.confidentialComments.setRendered %}
        {% endif %}
        {% if showAdminComments == false and form.adminComments is defined %}
            {% do form.adminComments.setRendered %}
        {% endif %}

        {% if showPublicComments or showPrivateComments or showConfComments or showAdminComments %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#Comments">
                            Comments
                        </a>
                    </h4>
                </div>
                <div id="Comments" class="panel-collapse collapse {{ collapsein }}">
                    <div class="panel-body">

                        {#Public Comments#}
                        {% if showPublicComments %}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#publicComment">
                                            Public Comment(s)
                                        </a>
                                    </h4>
                                </div>
                                <div id="publicComment" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="user-publiccomments-holder">
                                            {% for publicComment in form.publicComments %}
                                                {{ userform.comments(publicComment,cycle,'user-publiccomments','noprototype') }}
                                            {% endfor %}
                                            {% if cycle != 'show_user' %}
                                                <button class="btn btn-default" onClick="addNewObject(this,'user-publiccomments')" type='button'>Add Public Comment</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        {#Private Comments#}
                        {% if form.privateComments is defined and showPrivateComments %}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#privatecomment">
                                            Private Comment(s) [Not publicly visible, but visible to and editable by the user]
                                        </a>
                                    </h4>
                                </div>
                                <div id="privatecomment" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="user-privatecomments-holder">
                                            {% for privateComment in form.privateComments %}
                                                {{ userform.comments(privateComment,cycle,'user-privatecomments','noprototype') }}
                                            {% endfor %}
                                            {% if cycle != 'show_user' %}
                                                <button class="btn btn-default" onClick="addNewObject(this,'user-privatecomments')" type='button'>Add Private Comment</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        {#Confidential Comments#}
                        {% if form.confidentialComments is defined and showConfComments %}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#Confidential">
                                            Confidential Comment(s) [Not publicly visible, but visible to the user]
                                        </a>
                                    </h4>
                                </div>
                                <div id="Confidential" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="user-confidentialcomments-holder">
                                            {% for confidentialComment in form.confidentialComments %}
                                                {{ userform.comments(confidentialComment,cycle,'user-confidentialcomment','noprototype') }}
                                            {% endfor %}
                                            {% if cycle != 'show_user' %}
                                                <button class="btn btn-default" onClick="addNewObject(this,'user-confidentialcomment')" type='button'>Add Confidential Comment</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        {#Admin Comments#}
                        {% if form.adminComments is defined and showAdminComments %}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#admincomment">
                                            Administrative Comment(s) [visible only to Editors and Administrators]
                                        </a>
                                    </h4>
                                </div>
                                <div id="admincomment" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="user-admincomments-holder">
                                            {% for adminComment in form.adminComments %}
                                                {{ userform.comments(adminComment,cycle,'user-admincomments','noprototype') }}
                                            {% endfor %}
                                            {% if cycle != 'show_user' %}
                                                <button class="btn btn-default" onClick="addNewObject(this,'user-admincomments')" type='button'>Add Administrative Comment</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endif %}
        {#EOF Comments#}


        {#Team#}
        {% if userEditor == true and cycle == "show_user" %}
            {{ usermacros.userTeam(entity,'profile',sitename,postData,"") }}
        {% endif %}


        {#Audit Log#}
        {% if userEditor == true and cycle == "show_user" %}
            {{ usermacros.auditLog(entity,'profile',sitename,postData,"") }}
        {% endif %}

        </div>{#text-left#}

        <br>

        {#{{ form_rest(form) }}#}
        {#{{ form_widget(form._token) }}#}

        {#{{ form(form) }}#}

        <p>
            <div id="user-errors"></div>
        </p>


        {% if cycle != "show_user" and cycle != "create_user" %}
            <p>
                <div>
                    <button class="btn btn-warning" name="btnSubmit" type="button" onclick="validateUser({{entity.id}})">Update</button>
                    <a class="btn btn-info" href="{{ path(sitename~'_showuser',{id:entity.id}) }}" type='button'>Cancel</a>
                </div>
            </p>
        {% endif %}

        {% if cycle == "create_user" %}
            <p>
                <button class="btn btn-success" name="btnSubmit" type="button" onclick="validateUser()">Add Employee</button>
            </p>
        {% endif %}

    {{ form_end(form) }}


    {% if userEditor == true or entity.id == app.security.getToken().getUser().getId() %}
        {% if cycle == "show_user" and cycle != "create_user" %}
            <p><a class="btn btn-success" href="{{ path(sitename~'_user_edit',{'id':entity.id}) }}">Edit</a></p>
        {% endif %}
    {% endif %}

    {% if userEditor == true %}
        <br>
        <p>
            <a href="{{ path(sitename~'_listusers') }}">View the list of all users</a>
        </p>
    {% endif %}


    {#<br>final getMemoryUsage: {{ entity.getMemoryUsage }}<br>#}

{% endblock %}
