{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/userformmacros.html.twig" as userform %}

{#Snapshot css#}
{% block additionalcss %}
    {% stylesheets
        'bundles/oleguserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
        
{% block title %}
    {{ title }}
{% endblock %}
        
        
{% block content %}

        
    <h4 class="text-info" align="center">{{ title }}</h4>

    {{ userform.snapshot_steve(entity,sitename,cycle) }}
    
    <br>
    
    {% if is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% set userEditor = true %}
    {% else %}
        {% set userEditor = false %}
    {% endif %}
    
    {% if userEditor == true or entity.id == app.security.getToken().getUser().getId() %}     
        <p><a class="btn btn-success" href="{{ path(sitename~'_user_edit',{'id':entity.id}) }}">Edit</a></p>
    {% endif %}
    
    {# use hinclude as in http://symfony.com/doc/current/book/templating.html #}
    {{ render_hinclude( url('employees_showuser_only',{'id':entity.id}), {'default': 'OlegUserdirectoryBundle:Default:default-hinclude-content.html.twig'} ) }}
{#        {{ render( url('employees_showuser_only',{'id':entity.id}) ) }}#}
        
{#    render(controller("OlegUserdirectoryBundle:User:pendingAdminReview"))#}
{#    {{ render_hinclude( controller("OlegUserdirectoryBundle:User:showOnlyUser",{"id":user_id}), {'default': 'OlegUserdirectoryBundle:Default:default-hinclude-content.html.twig'} ) }}#}
{#    {{ render( controller('OlegUserdirectoryBundle:User:showOnlyUser',{'id':user_id}) ) }}#}
          
{#     <hx:include src="{{ path('employees_showuser_only',{'id':entity.id}) }}"></hx:include>   #}
        
{#        <link rel="import" href="{{ path('employees_showuser_only',{'id':entity.id}) }}" async data-target="this" data-source="#selector" />#}
    
{% endblock %}    

 
{#{% block mainjs %}{% endblock %}#}
    
{% block additionaljs %}

{#        '@OlegUserdirectoryBundle/Resources/public/webcomponents/webcomponents.js'#}
    {% javascripts
        '@OlegUserdirectoryBundle/Resources/public/hinclude/hinclude.js'      
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>
    
        $(document).ready(function() {

            //alert("yay!");

            regularCombobox();
            
            //$("#user-profile-form").load( function(){
            //    alert('user-profile-form is loaded');
            //});
            
            setTimeout(function(){ 
                //alert("Hello"); 
                regularCombobox();
            }, 10000);

        });

    </script>    
    
{% endblock %}    
    