{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/userformmacros.html.twig" as userform %}

{#Snapshot css#}
{% block additionalcss %}
    {% stylesheets
        'bundles/oleguserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
        
{% block title %}
    {{ title }}
{% endblock %}
        
        
{% block content %}

{% if entity is defined %}         
        
    {% if is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% set userEditor = true %}
    {% else %}
        {% set userEditor = false %}
    {% endif %}
        
    <h4 class="text-info" align="center">
        {{ title }}
        {% if userEditor == true or user_id == app.security.getToken().getUser().getId() %}     
            <a class="btn btn-sm btn-success" href="{{ path(sitename~'_user_edit',{'id':user_id}) }}">Edit</a>
        {% endif %}
    </h4>
        
    {% if customh is defined %}
        {% import _self as showusermacros %}
        {{ showusermacros.snapshotcustomh(entity,sitename,cycle,getOriginalname,getAbsoluteUploadFullPath,getUsernameOptimal,getHeadInfo) }}
    {% else %}    
        {{ userform.snapshot_steve(entity,sitename,cycle) }}
    {% endif %}
    
    <br>
    
       
    
    {# use hinclude as in http://symfony.com/doc/current/book/templating.html #}
    {{ render_hinclude( url('employees_showuser_only',{'id':user_id}), {'default': 'OlegUserdirectoryBundle:Default:default-hinclude-content.html.twig'} ) }}
{#        {{ render( url('employees_showuser_only',{'id':entity.id}) ) }}#}
        
{#    render(controller("OlegUserdirectoryBundle:User:pendingAdminReview"))#}
{#    {{ render_hinclude( controller("OlegUserdirectoryBundle:User:showOnlyUser",{"id":user_id}), {'default': 'OlegUserdirectoryBundle:Default:default-hinclude-content.html.twig'} ) }}#}
{#    {{ render( controller('OlegUserdirectoryBundle:User:showOnlyUser',{'id':user_id}) ) }}#}
          
{#     <hx:include src="{{ path('employees_showuser_only',{'id':entity.id}) }}"></hx:include>   #}
        
{#        <link rel="import" href="{{ path('employees_showuser_only',{'id':entity.id}) }}" async data-target="this" data-source="#selector" />#}
    
    {% endif %}
    
{% endblock %}    

    
    
 {% block maincss %}

    {#jasny is used for clickable rows#}

    {% stylesheets
    'bundles/oleguserdirectory/select2/select2.css' filter='cssrewrite'
    'bundles/oleguserdirectory/jasny/css/jasny-bootstrap.min.css' filter='cssrewrite'    
    'bundles/oleguserdirectory/form/css/action.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
    'bundles/oleguserdirectory/dropzone/css/dropzone.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
    'bundles/oleguserdirectory/datepicker/css/datepicker3.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}


    {% stylesheets
    'bundles/oleguserdirectory/jquery-ui-1.11.2/themes/smoothness/jquery-ui.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {#<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">#}


    {% stylesheets
    'bundles/oleguserdirectory/form/css/typeahead.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}   

    {% stylesheets
    'bundles/oleguserdirectory/vakata-jstree/themes/default/style.min.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}   
 
{% block mainjs %}

    {% javascripts
                '@OlegUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'
                '@OlegUserdirectoryBundle/Resources/public/jquery-ui-1.11.2/jquery-ui.js'
                '@OlegUserdirectoryBundle/Resources/public/bootstrap/js/*'              
                '@OlegUserdirectoryBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'
                '@OlegUserdirectoryBundle/Resources/public/select2/select2.js'

                '@OlegUserdirectoryBundle/Resources/public/form/js/user-form.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-common.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-selectAjax.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-treeSelectAjax.js'                              
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-fileuploads.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-navbar.js'
               
                '@OlegUserdirectoryBundle/Resources/public/typeahead/typeahead.bundle.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-typeahead.js'               

                '@OlegUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'
                '@OlegUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-idleTimeout.js'   

                '@OlegUserdirectoryBundle/Resources/public/q-1/q.js'                      
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}


            {#dropzone#}
            {% javascripts
                '@OlegUserdirectoryBundle/Resources/public/dropzone/dropzone.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

{% endblock %}
    
{% block additionaljs %}

{#        '@OlegUserdirectoryBundle/Resources/public/webcomponents/webcomponents.js'#}
    {% javascripts
        '@OlegUserdirectoryBundle/Resources/public/hinclude/hinclude.js'      
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>
    
        var cycle = 'show';
    
        $(document).ready(function() {           

            //alert("yay!");
            //console.log("show_user.html ready");

            initUserForm();
            
            //$("#user-profile-form").load( function(){
            //    alert('user-profile-form is loaded');
            //});
            
            //setTimeout(function(){ 
                //alert("Hello"); 
            //    initUserForm();
            //}, 10000);
            
            var timesRun = 0;
            var intervalHinclude = setInterval( function(){
                //console.log("timesRun="+timesRun);
                timesRun++;
                //if(timesRun === 60){
                if( $("#user-profile-form").length || timesRun > 60 ) {  //60 sec total waiting time              
                    initUserForm();                   
                    clearInterval(intervalHinclude);
                }
                //do whatever here..
            }, 1000); 

        });
        
        
        function initUserForm() {
            //setCicleShow();

            //$(this).scrollTop(0);

            //setNavBar();

            //fieldInputMask();

            //tooltip
            //$(".element-with-tooltip").tooltip();
            //initTooltips();

            //initConvertEnterToTab();

            initDatepicker();

            expandTextarea();

            $('.panel-collapse').collapse({'toggle': false});

            regularCombobox();

            //initTreeSelect();

            //composite tree as combobox select2 view
            getComboboxCompositetree();

            //jstree in admin page for Institution tree
            //getJstree('UserdirectoryBundle','Institution');
            //getJstree('UserdirectoryBundle','CommentTypeList');

            //home page institution with user leafs
            //displayInstitutionUserTree();
            //getJstree('UserdirectoryBundle','Institution_User','nomenu','nosearch','closeall');

            getComboboxResidencyspecialty();

            //getComboboxCommentType();

            //init generic comboboxes
            initAllComboboxGeneric();

            processEmploymentStatusRemoveButtons();

            positionTypeListener();

            initUpdateExpectedPgy();

            initFileUpload();

            //windowCloseAlert();

            //confirmDeleteWithExpired();

            initDatetimepicker();

            //userCloneListener();

            identifierTypeListener();

            researchLabListener();

            grantListener();

            //initTypeaheadUserSiteSearch();

            degreeListener();

            //generalConfirmAction();
        }

    </script>    
    
{% endblock %}    
   
    
    
    
    
    

{% macro snapshotcustomh( user, sitename, cycle, getOriginalname, getAbsoluteUploadFullPath, getUsernameOptimal, getHeadInfo ) %}

    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <div align="center">

    <div class="snapshot-all">

        {#clearfix#}
        <div class="snapshot">

            <div class="left">

                <div class="image-box">
                    {#avatar form modal#}
                    {#{{ usermacros.avatarForm(user,cycle) }}#}
                    {% if getOriginalname %}
                        {#{% set avatarImage = user.avatar.getAbsoluteUploadFullPath %}#}
{#                        {{ usermacros.showDocumentAsImage(avatar,'Avatar','') }}#}
                        <a href="{{ getAbsoluteUploadFullPath }}" target="_blank">
                        <img alt="{{ getOriginalname }}"
                             src="{{ getAbsoluteUploadFullPath }}"
                             alt="Avatar"
                             {#style="display:block; max-width:100%; max-height:100%;"#}                            
                        />
                        </a>
                    {% else %}
                        {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                        <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                    {% endif %}
                    {#<img src="{{ avatarImage }}" alt="Avatar">#}
                </div>

                <!--<img src="profile-pic.jpg"> -->

                <div class="left-text">
                    <h2>
                        {#Shivakumar Test Testing Subramaniyam, MD, PhD#}
                        {{ getUsernameOptimal }}
                    </h2>

                    {#head/cheaf#}
                    {#Chief, Eyebrow Pathology, Assistant Professor of Pathology and Laboratory Medicine#}
                    {% set headInfos = getHeadInfo %}
                    {% if headInfos|length > 0 %}
                        <div style="padding-bottom: 10px;">
                        <h4>
                            {#{{ headInfo|raw }}#}
                            {% set index=1 %}
                            {% for headInfoArr in headInfos %}
                                {% if 'break' not in headInfoArr %}
                                    {% set hrefname = headInfoArr['name'] %}
                                    {% if headInfoArr['tablename'] == 'Institution' %}
                                        {% set hrefname = '<small>'~headInfoArr['name']~'</small>' %}
                                    {% endif %}
                                    {#{% if headInfoArr['tablename'] != "Institution"  %}#}
                                        <a href="{{
                                                path( employees_sitename~'_search_same_object',{
                                                    'tablename':headInfoArr['tablename'],
                                                    'id': headInfoArr['id'],
                                                    'name': headInfoArr['name']
                                                })
                                            }}">{{ hrefname|raw }}
                                        </a>
                                    {#{% else %}#}
                                        {#{{ hrefname|raw }}#}
                                    {#{% endif %}#}
                                    <br>
                                {% elseif headInfoArr == 'break-hr' %}
                                    {#{% if totalCount > index %}#}
                                        {#<hr>#}
                                        <br>
                                    {#{% endif %}#}
                                {% elseif headInfoArr == 'break-br' %}
                                    {#<br>#}
                                {% else %}

                                {% endif %}
                                {% set index=index+1 %}
                            {% endfor %}
                        </h4>
                        </div>
                    {% endif %}

                    {#services#}
                    {#<div class="service">#}
                        {#<p>#}
                            {#{% for institution in user.getInstitutions %}#}
                                {#&#123;&#35;{{ institution.name }}&#35;&#125;#}
                                {#<a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'institution','id': institution.id, 'name': institution.__toString() }) }}">{{ institution }}</a>#}
                                {#<br>#}
                            {#{% endfor %}#}
                        {#</p>#}
                    {#</div>#}

                </div>
            </div>

            <div class="right">
                <div class="right-text">

                    {#preffered phone and email#}
                    {% if user['email25'] or user['preferredPhone24'] %}

                        <div class="prefferedinfo">
                            <h4>Preferred Contact Info:</h4>
                            <table>
                                {% if user.email25 %}
                                    <tr class="row-withspace">
                                        <td class="left-column">email:</td>
                                        <td>
                                            {#{{ user.getEmail }}#}
                                            <a href="mailto:{{ user.email25 }}" target="_top">{{ user.email25 }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if user.preferredPhone24 %}
                                    <tr>
                                        <td class="left-column">ph:</td>
                                        <td>
                                            {#{{ user.getPreferredPhone }}#}
                                            {{ usermacros.phoneHref(user.preferredPhone24) }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>

                    {% endif %}

{% if ffff is defined %}
                    {% for location in user.getLocations %}

                        {% if location.hasLocationTypeName("Employee Home") == false %}

                            <div class="contact">
                                <h4>{{ location.getLocationTypesStr }}:</h4>
                                <table>
                                    {% if location.room %}
                                        <tr>
                                            <td class="left-column">room:</td>
                                            <td>
                                                {#{{ location.room }}#}
                                                <a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'room','id': location.room.id, 'name': location.room.name }) }}">{{ location.room }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if location.phone %}
                                        <tr>
                                            <td class="left-column">ph:</td>
                                            <td>
                                                {#{{ location.phone }}#}
                                                {{ usermacros.phoneHref(location.phone) }}
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if location.pager %}
                                        <tr>
                                            <td class="left-column">pager:</td>
                                            <td>{{ location.pager }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.ic %}
                                        <tr>
                                            <td class="left-column">i/c:</td>
                                            <td>{{ location.ic }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.fax %}
                                        <tr>
                                            <td class="left-column">fax:</td>
                                            <td>{{ location.fax }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.email %}
                                        <tr>
                                            <td class="left-column">email:</td>
                                            <td>
                                                {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                <a href="mailto:{{ location.email }}" target="_top">{{ location.email }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}

                                </table>
                            </div>


                            {% if location.getAssistant|length > 0 %}
                                <div class="assistant">
                                    <h4>Assistant:</h4>

                                    {% for assistant in location.getAssistant %}

                                        <table style="padding-bottom: 10px;">
                                            <tr>
                                                <td class="left-column">name:</td>
                                                <td>
                                                    {#{{ assistant.getUsernameOptimal }}#}
                                                    <a href="{{ path(sitename~'_showuser', { 'id': assistant.id }) }}">{{ assistant.getUsernameOptimal() }}</a>
                                                </td>
                                            </tr>
                                            {#<tr>phone(s):</tr>#}
                                            <tr>
                                                <td class="left-column" valign="top">ph:</td>
                                                <td>
                                                    <p>
                                                    {% for phone in assistant.getAllPhones() %}
                                                        {{ phone['prefix'] }}{{ usermacros.phoneHref(phone['phone']) }}<br>
                                                    {% endfor %}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="left-column" valign="top">email:</td>
                                                <td>
                                                    {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                    {#<a href="mailto:{{ assistant.email }}" target="_top">{{ assistant.email }}</a>#}
                                                    {% for email in assistant.getAllEmail() %}
                                                        <a href="mailto:{{ email['email'] }}" target="_top">{{ email['email'] }}</a><br>
                                                    {% endfor %}
                                                </td>
                                            </tr>

                                        </table>

                                    {% endfor %}

                                </div>
                            {% endif %}

                        {% endif %} {#main locations only#}

                    {% endfor %}
{% endif %}

                </div>
            </div>
        </div>
    </div>

    </div>

{% endmacro %}   