{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/userformmacros.html.twig" as userform %}

{#Snapshot css#}
{% block additionalcss %}
    {% stylesheets
        'bundles/oleguserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
        
{% block title %}
    {{ title }}
{% endblock %}
        
        
{% block content %}

        
    <h4 class="text-info" align="center">{{ title }}</h4>

    {{ userform.snapshot_steve(entity,sitename,cycle) }}
    
    <br>
    
    {% if is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% set userEditor = true %}
    {% else %}
        {% set userEditor = false %}
    {% endif %}
    
    {% if userEditor == true or entity.id == app.security.getToken().getUser().getId() %}     
        <p><a class="btn btn-success" href="{{ path(sitename~'_user_edit',{'id':entity.id}) }}">Edit</a></p>
    {% endif %}
    
    {# use hinclude as in http://symfony.com/doc/current/book/templating.html #}
    {{ render_hinclude( url('employees_showuser_only',{'id':entity.id}), {'default': 'OlegUserdirectoryBundle:Default:default-hinclude-content.html.twig'} ) }}
{#        {{ render( url('employees_showuser_only',{'id':entity.id}) ) }}#}
        
{#    render(controller("OlegUserdirectoryBundle:User:pendingAdminReview"))#}
{#    {{ render_hinclude( controller("OlegUserdirectoryBundle:User:showOnlyUser",{"id":user_id}), {'default': 'OlegUserdirectoryBundle:Default:default-hinclude-content.html.twig'} ) }}#}
{#    {{ render( controller('OlegUserdirectoryBundle:User:showOnlyUser',{'id':user_id}) ) }}#}
          
{#     <hx:include src="{{ path('employees_showuser_only',{'id':entity.id}) }}"></hx:include>   #}
        
{#        <link rel="import" href="{{ path('employees_showuser_only',{'id':entity.id}) }}" async data-target="this" data-source="#selector" />#}
    
{% endblock %}    

 
{#{% block mainjs %}{% endblock %}#}
    
{% block additionaljs %}

{#        '@OlegUserdirectoryBundle/Resources/public/webcomponents/webcomponents.js'#}
    {% javascripts
        '@OlegUserdirectoryBundle/Resources/public/hinclude/hinclude.js'      
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>
    
        $(document).ready(function() {

            //alert("yay!");

            //regularCombobox();
            
            //$("#user-profile-form").load( function(){
            //    alert('user-profile-form is loaded');
            //});
            
            setTimeout(function(){ 
                //alert("Hello"); 
                regularCombobox();
            }, 10000);
            
            //var timesRun = 0;
            //var interval = setInterval(function(){
                //console.log("timesRun="+timesRun);
                //timesRun += 1;
                //if(timesRun === 60){
                //if( $("#user-profile-form") || timesRun > 30 ) {
                    
                    //initUserForm();
                    
                    //clearInterval(interval);
                //}
                //do whatever here..
            //}, 2000); 

        });
        
        
        function initUserForm() {
            setCicleShow();          

            initDatepicker();

            expandTextarea();

            $('.panel-collapse').collapse({'toggle': false});

            regularCombobox();

            initTreeSelect();

            //composite tree as combobox select2 view
            getComboboxCompositetree();

            //jstree in admin page for Institution tree
            getJstree('UserdirectoryBundle','Institution');
            getJstree('UserdirectoryBundle','CommentTypeList');

            getComboboxResidencyspecialty();

            //init generic comboboxes
            initAllComboboxGeneric();

            processEmploymentStatusRemoveButtons();

            positionTypeListener();

            initUpdateExpectedPgy();

            initFileUpload();

            windowCloseAlert();

            confirmDeleteWithExpired();

            initDatetimepicker();

            userCloneListener();

            identifierTypeListener();

            researchLabListener();

            grantListener();

            initTypeaheadUserSiteSearch();

            degreeListener();

            generalConfirmAction();
        }

    </script>    
    
{% endblock %}    
    