{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    Created by Oleg Ivanov
#}


{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% block title %}
    {{ title }}
{% endblock %}

{% block meta %}
    {#AxiosError al%5D='. This request has been blocked; the content must be served over HTTPS#}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
{% endblock %}

{% block content %}
    <h4 class="text-info" align="center">
        {{ title }}
        {#(Matching 1258, Total 1361)#}
        <div id="matching-info"></div>
    </h4>

    <input type="hidden" id="user-dates-cycle" value="{{ cycle }}" />

    {#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
        {#<a class="navbar-brand" href="#"> {{ title }} </a>#}
    {#</nav>#}

    {{ form_start(filterform) }}
    {{ form_errors(filterform) }}
    <div class="row">
        <div class="col-xs-4" align="right">{{ form_row(filterform.users)}}</div>
        <div class="col-xs-3" align="right">{{ form_row(filterform.roles)}}</div>
        <div class="col-xs-4" align="right">{{ form_row(filterform.search)}}</div>
        <div class="col-xs-1" align="left">{{ form_row(filterform.submit) }}</div>
    </div>
    <br>
    <div class="row">
        {#<div class="col-xs-2" align="right">{{ form_row(filterform.startdate)}}</div>#}
        {#<div class="col-xs-2" align="right">{{ form_row(filterform.enddate)}}</div>#}
        <div class="col-xs-2">
            <div class="input-group input-group-reg date allow-future-date">
                {{ form_widget(filterform.startdate) }}
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="input-group input-group-reg date allow-future-date">
                {{ form_widget(filterform.enddate) }}
                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
        <div class="col-xs-3" align="right">
            {{ form_row(filterform.status)}}
            {#{{ formmacros.field(filterform.status) }}#}
        </div>
        <div class="col-xs-3" align="right"></div>

    </div>
    {{ form_end(filterform) }}
    <br><br>


    {% if 0 %}

        <p>
            <a class="btn btn-warning" href="{{ path( 'employees_update_users_date') }}"
            >Deactivate selected accounts and save entered start and end dates</a>
        </p>

        <table class="records_list table table-hover table-condensed text-left sortable">
            <thead>
            <tr>
                {#<th style="display:none">ID</th>#}
                <th style="display:none">
                    ID
                </th>
                <th>
                    Deactivate
                </th>
                <th>
                    {#{{ knp_pagination_sortable(entities, 'LastName', 'infos.lastName') }}#}
                    LastName
                </th>
                <th>
                    {#{{ knp_pagination_sortable(entities, 'FirstName', 'infos.firstName') }}#}
                    FirstName
                </th>
                <th>Degree</th>
                <th>Email</th>
                <th>Institution</th>
                <th>Title(s)</th>
                <th>Latest Employment Start Date</th>
                <th>Latest Employment End Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink" id="root">
                {#React app here UserTableRow#}
                {#<tr id="root"></tr>#}
            </tbody>
        </table>
        {% else %}
            <div id="root"></div>
    {% endif %}

    {#<div id="update-users-button" style="display: none;">#}
    {#<p>#}
        {#<a class="btn btn-warning" href="{{ path( 'employees_update_users_date') }}"#}
        {#>Deactivate selected accounts and save entered start and end dates</a>#}
    {#</p>#}
    {#</div>#}

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('userdates-css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('userdates') }}
{% endblock %}
