

    <h3 class="text-info">Educational Objects</h3>


    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Lesson</th>
            <th>Director</th>
            <th>Director as eneterd by user</th>
            <th>Order ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for educational in educationals %}

            <tr>
                <td><a href="{{ path('educational_edit', { 'id': educational.id }) }}">{{ educational.id }}</a></td>

                <td>{{ educational.course }}</td>

                <td>{{ educational.lesson }}</td>

                <td>{{ educational.directorstr }}</td>

                <td>{{ educational.director }}</td>

                <td>
                    {{ educational.orderinfo.id }}
                </td>


                <td class="rowlink-skip">

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a
                                   href="{{ path('educational_edit', { 'id': educational.id }) }}">Review</a>
                            </li>

                            <li><a
                                   href="{{ path('multy_show', { 'id': educational.orderinfo.id }) }}">View Order Content</a>
                            </li>

                        </ul>
                    </div>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
