{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {#<div id="form-prototype-data"#}
         {#data-userurllink = "{{ usermacros.userUrlLink()|e }}"#}
         {#data-uploadurl = "{{ oneup_uploader_ vendpoint('transres_gallery') }}"#}
         {#data-userid = "{{ app.user.id }}"#}
    {#></div>#}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    <br>

    {% set sitename = translationalresearch_sitename %}

    {% set projectSpecialtyDescription =  null %}
    {% set projectSpecialtyAbbreviation =  null %}
    {% if siteParameter.getProjectSpecialty() %}
        {% if siteParameter.getProjectSpecialty().getDescription() %}
            {% set projectSpecialtyDescription =  siteParameter.getProjectSpecialty().getDescription()%}
        {% endif %}
        {% set projectSpecialtyAbbreviation =  siteParameter.getProjectSpecialty().getAbbreviation() %}
    {% endif %}

    {% if projectSpecialtyDescription %}
        <p> {{ projectSpecialtyDescription }} </p>
    {% endif %}

    {{ transres.siteSettings(form,cycle,sitename,siteParameter.getProjectSpecialty()) }}

    {% if cycle == "show" %}
        <p>
            <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_standalone_siteparameters_edit',{'specialtyStr':projectSpecialtyAbbreviation}) }}">Edit Site Parameters</a>
        </p>
    {% endif %}

    {% if cycle == "edit" %}
        <p>
            <a class="btn btn-default" href="{{ path(translationalresearch_sitename~'_standalone_siteparameters_show',{'specialtyStr':projectSpecialtyAbbreviation }) }}">Cancel</a>
        </p>
    {% endif %}


{% endblock %}

{#{% block additionaljs %}#}

    {#<script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres.js') }}"></script>#}

    {#<script type="text/javascript">#}
        {#$(document).ready(function() {#}

        {#});#}

    {#</script>#}
{#{% endblock %}#}

{% block javascripts %}
    {#import using webpack transres.js (assets/transres/js/index.jsx)#}
    {{ encore_entry_script_tags('transresjs') }}
{% endblock %}
