
{#{% stopwatch "### header ###" %}#}
{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}
{#{% endstopwatch %}#}

{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}

{% if project is not defined %}
    {% set project = null %}
{% endif %}


{% block title %}
    {{ title|raw }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

    {{ transresRequestMacros.transresWorkQueuesFilter(filterform,advancedFilter) }}

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(products, 'Project ID', 'project.id') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Work Request ID', 'transresRequest.id') }}</th>
                <th>{{ knp_pagination_sortable(products, 'PI(s)', 'requestPrincipalInvestigatorsInfos.displayName') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Submitter', 'requestSubmitterInfos.displayName') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Product or Service', 'category.productId') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Request Documents', 'documents.originalname') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Requested Quantity', 'product.requested') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Completed Quantity', 'product.completed') }}</th>
                {% if not workqueue %}
                    {#workqueue exists if single work queue choosen => hide 'Work Queue'#}
                    <th>{{ knp_pagination_sortable(products, 'Work Queue', 'workQueues.id') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(products, 'Status', 'orderableStatus.id') }}</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink" data-target="a.list-row-mainlink">

        {#{% set count = 0 %}#}
        {% for product in products %}

            {% set transresRequest = product.getTransresRequest() %}
            {% set project = transresRequest.getProject() %}

            {% set trclassname = '' %}
            {% set idColor = transres_util.getPriceListColorByRequest(transresRequest) %}

            <tr class="{{ trclassname }}" style="border-bottom: 1px solid #C6C6C6;">

                <td class="rowlink-skip">
                    <a
                        href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}"
                        target="_blank"
                        style="color:{{ idColor }}"
                    >{{ project.oid }}{{ project.getPriceListAbbreviationPostfix() }}</a>
                </td>

                {#Work Request ID#}
                <td>
                    {#<a#}
                        {#href="{{ path(translationalresearch_sitename~'_product_show', { 'id': product.id }) }}"#}
                        {#target="_blank"#}
                    {#>{{ product.id }} {{ product }}</a>#}

                    <a class="list-row-mainlink"
                        href="{{ path(translationalresearch_sitename~'_request_show', { 'id': transresRequest.id }) }}#product-{{ product.getId() }}"
                        target="_blank"
                        style="color:{{ idColor }}"
                        data-toggle="tooltip" title="{{ transres_request_util.getProgressStateLabelByName(transresRequest.getProgressState()) }}"
                    >{{ transresRequest.oid }}{{ transresRequest.project.getPriceListAbbreviationPostfix() }}</a>
                </td>

                <td class="rowlink-skip">
                    {% for principalInvestigator in project.principalInvestigators %}
                        {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':principalInvestigator.id}) %}
                        {% set personlink = '<a href="'~personurl~'" target="_blank">'~principalInvestigator.getUsernameOptimal()~'</a>'  %}
                        {{ personlink|raw }}<br>
                    {% endfor %}
                </td>

                {#Submitter#}
                <td class="rowlink-skip">
                    {% if transresRequest.submitter %}
                        {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':transresRequest.submitter.id}) %}
                        {% set personlink = '<a href="'~personurl~'" target="_blank">'~transresRequest.submitter.getUsernameOptimal()~'</a>'  %}
                        {{ personlink|raw }}<br>
                    {% endif %}
                </td>

                <td>
                    <div data-toggle="tooltip" title="{{ product.getCombinedComment() }}">
                        {% if product.category %}
                            {{ product.category.getShortInfo(transresRequest) }}<br>
                        {% endif %}
                    </div>
                </td>

                {#Request Documents#}
                <td class="rowlink-skip">
                    {% for document in transresRequest.getDocuments() %}
                        {% if document.id %}
                            {#<a href="{{ document.getAbsoluteUploadFullPath() }}" target="_blank" data-toggle="tooltip" title="{{ document.getOriginalname() }}">#}
                                {#<span class="glyphicon glyphicon-file" aria-hidden="true"></span>#}
                            {#</a>#}
                            <a href="{{ user_service_utility.getDocumentAbsoluteUrl(document) }}"
                               target="_blank"
                               data-toggle="tooltip"
                               title="{{ document.getOriginalname() }}">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </td>

                {#Requested Quantity#}
                <td>
                    {{ product.getRequested() }}
                </td>

                {#Completed Quantity#}
                <td>
                    {{ product.getCompleted() }}
                </td>

                {% if not workqueue %}
                <td>
                    {% for workQueue in product.getWorkQueues() %}
                        {{ workQueue.getName() }}
                    {% endfor %}
                </td>
                {% endif %}

                {#Status#}
                {#"Orderable Status" with the following values: “Requested”, “Pending Additional Info”, “In Progress”, and “Completed”#}
                <td>
                    {{ product.orderableStatus }}
                </td>

                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_request_show', { 'id': transresRequest.id }) }}"
                                >Show work request details</a>
                            </li>

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_request_edit', { 'id': transresRequest.id }) }}"
                                >Edit work request</a>
                            </li>

                            {#if work request has more than 1 product => "Mark orderable as", otherwise => "Mark as"#}
                            {#TODO: do we change the work request according to the orderable?#}
                            {% set markTitle = "Mark as" %}
                            {% if transresRequest.getProducts()|length > 1 %}
                                {% set markTitle = "Mark orderable as" %}
                            {% endif  %}

                            {#Mark as “Completed”.#}
                            {% set thisStatus = "Completed" %}
                            {% if not product.hasStatus(thisStatus) %}
                                <li>
                                    {#<a href="{{ path(translationalresearch_sitename~'_product_update_orderablestatus', { 'id': product.id, 'orderablestatus': 'Completed', 'workqueue': workqueue }) }}"#}
                                    {#>Mark as "Completed"</a>#}
                                    <a
                                        general-data-confirm='Are you sure you would like to mark as "{{ thisStatus }}"?'
                                        href="{{
                                            path(translationalresearch_sitename~'_product_update_orderablestatus',
                                            { 'id': product.id, 'orderablestatus': thisStatus, 'workqueue': workqueue })
                                        }}">{{ markTitle }} "{{ thisStatus }}"</a>
                                </li>
                            {% endif %}

                            {#Mark as “Pending Additional Info”#}
                            {% set thisStatus = "Pending Additional Info" %}
                            {% if not product.hasStatus(thisStatus) %}
                                <li>
                                    {#<a href="{{ path(translationalresearch_sitename~'_product_update_orderablestatus', { 'id': product.id, 'orderablestatus': thisStatus, 'workqueue': workqueue }) }}"#}
                                    {#>Mark as "{{ thisStatus }}"</a>#}
                                    <a
                                        general-data-confirm='Are you sure you would like to mark as "{{ thisStatus }}"?'
                                        href="{{
                                        path(translationalresearch_sitename~'_product_update_orderablestatus',
                                        { 'id': product.id, 'orderablestatus': thisStatus, 'workqueue': workqueue })
                                        }}">{{ markTitle }} "{{ thisStatus }}"</a>
                                </li>
                            {% endif %}

                            {#Mark as “In Progress”#}
                            {% set thisStatus = "In Progress" %}
                            {% if not product.hasStatus(thisStatus) %}
                                <li>
                                    {#<a href="{{ path(translationalresearch_sitename~'_product_update_orderablestatus', { 'id': product.id, 'orderablestatus': 'In Progress', 'workqueue': workqueue }) }}"#}
                                    {#>Mark as "In Progress"</a>#}
                                    <a
                                        general-data-confirm='Are you sure you would like to mark as "{{ thisStatus }}"?'
                                        href="{{
                                        path(translationalresearch_sitename~'_product_update_orderablestatus',
                                        { 'id': product.id, 'orderablestatus': thisStatus, 'workqueue': workqueue })
                                        }}">{{ markTitle }} "{{ thisStatus }}"</a>
                                </li>
                            {% endif %}

                            {#Mark as “Requested”.#}
                            {% set thisStatus = "Requested" %}
                            {% if not product.hasStatus(thisStatus) %}
                                <li>
                                    {#<a href="{{ path(translationalresearch_sitename~'_product_update_orderablestatus', { 'id': product.id, 'orderablestatus': 'Requested', 'workqueue': workqueue }) }}"#}
                                    {#>Mark as "Requested"</a>#}
                                    <a
                                        general-data-confirm='Are you sure you would like to mark as "{{ thisStatus }}"?'
                                        href="{{
                                        path(translationalresearch_sitename~'_product_update_orderablestatus',
                                        { 'id': product.id, 'orderablestatus': thisStatus, 'workqueue': workqueue })
                                        }}">{{ markTitle }} "{{ thisStatus }}"</a>
                                </li>
                            {% endif %}

                            {% if transres_permission_util.hasRequestPermission('progress-review',transresRequest) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_request_review_progress_state', { 'id': transresRequest.id }) }} "
                                    >Change entire parent work request’s progress status</a>
                                </li>
                            {% endif %}

                            {#Show most recent Invoice#}
                            {#Edit most recent Invoice#}
                            {% set latestInvoice = transres_request_util.getLatestInvoice(transresRequest) %}
                            {% if latestInvoice and latestInvoice.oid and latestInvoice.latestVersion %}
                                <li class="divider"></li>
                                {% if transres_request_util.isUserHasInvoicePermission(latestInvoice,"view") %}
                                    <li>
                                        <a href="{{ path('translationalresearch_invoice_show', {'oid': latestInvoice.oid }) }}">Show most recent invoice</a>
                                    </li>
                                {% endif %}
                                {% if transres_request_util.isUserHasInvoicePermission(latestInvoice,"update") %}
                                    <li>
                                        <a href="{{ path('translationalresearch_invoice_edit', {'oid': latestInvoice.oid }) }}">Edit most recent invoice</a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if transres_util.isAdminOrPrimaryReviewer() %}
                                {% if eventObjectTypeId is defined and eventObjectTypeId %}
                                    <hr>
                                    <li>
                                        <a href="{{ path('translationalresearch_event-log-per-object_log', { 'filter[objectType][]': eventObjectTypeId, 'filter[objectId]': transresRequest.id}) }}"
                                        >View associated events</a>
                                    </li>
                                {% endif %}
                            {% endif %}

                        </ul>

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#{% endstopwatch %}#}

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}


{% block additionaljs %}

    <script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres-filterbtn.js') }}"></script>
    <script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/invoice.js') }}"></script>
    <script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres-filter-request.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres-filter-workqueues.js') }}"></script>#}

    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            var holder = $('#transres-filter-request');
            getComboboxGeneric(
                    holder,
                    'requesters',
                    _genericusers,      //globalDataArray
                    false,              //multipleFlag
                    'genericusers/',    //urlprefix
                    "employees",        //sitename
                    null,               //force
                    null,               //placeholder
                    false               //thisAsyncflag. Async - get array of users (_genericusers) asynchronous.
            );

            populateSelectCombobox( $('.ajax-combobox-requesters'), _genericusers, true, true );
            populateSelectCombobox( $('.ajax-combobox-pis'), _genericusers, true, true );
        });
    </script>

{% endblock %}

{#{% block additionalcss %}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />#}
{#{% endblock %}#}
