{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppResAppBundle/Default/base.html.twig" %}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppResAppBundle/Default/resappmacros.html.twig" as resappmacros %}


{% block title %}
    Google Form Configuration
{% endblock %}


{% block content %}

    <br><br>

    {{ form_start(form) }}
    {#{{ form_widget(form) }}#}

    {% if form.updateDate is defined %}
        {#{{ formmacros.field(form.updateDate|date('m/d/Y H:i:s')) }}#}
        {{ formmacros.fieldDateLabel(form.updateDate,'regular-datepicker') }}
    {% endif %}

    {% if form.updatedBy is defined %}
        {{ formmacros.field(form.updatedBy) }}
    {% endif %}

    {% if form.acceptingSubmission is defined %}
        {{ formmacros.checkbox(form.acceptingSubmission) }}
    {% endif %}

    {% if form.residencySubspecialties is defined %}
        {#{{ formmacros.field(form.residencySubspecialties) }}#}
        <p>
        <div class="row">
            <div class="col-xs-6" align="right">
                <label>{{ form.residencySubspecialties.vars.label|raw }}</label>
            </div>
            <div class="col-xs-6" align="left">
                {{ form_widget(form.residencySubspecialties) }}
            </div>
        </div>
        </p>
    {% endif %}


    {% if form.applicationFormNote is defined %}
        {{ formmacros.field(form.applicationFormNote) }}
    {% endif %}

    {% if form.adminEmail is defined %}
        {{ formmacros.field(form.adminEmail) }}
    {% endif %}

    {% if form.resappAdminEmail is defined %}
        {{ formmacros.field(form.resappAdminEmail) }}
    {% endif %}

    {% if form.exceptionAccount is defined %}
        {{ formmacros.field(form.exceptionAccount) }}
    {% endif %}

    {% if form.submissionConfirmation is defined %}
        {{ formmacros.field(form.submissionConfirmation) }}
    {% endif %}

    {% if form.letterAcceptingSubmission is defined %}
        {{ formmacros.checkbox(form.letterAcceptingSubmission) }}
    {% endif %}

    {% if form.letterError is defined %}
        {{ formmacros.field(form.letterError) }}
    {% endif %}

    {% if form.letterExceptionAccount is defined %}
        {{ formmacros.field(form.letterExceptionAccount) }}
    {% endif %}

    {% if form.residencyVisaStatuses is defined %}
        {#{{ formmacros.field(form.residencyVisaStatuses) }}#}
        <p>
        <div class="row">
            <div class="col-xs-6" align="right">
                <label>{{ form.residencyVisaStatuses.vars.label|raw }}</label>
            </div>
            <div class="col-xs-6" align="left">
                {{ form_widget(form.residencyVisaStatuses) }}
            </div>
        </div>
        </p>
    {% endif %}

    {% if form.visaNote is defined %}
        {{ formmacros.field(form.visaNote) }}
    {% endif %}

    {% if form.otherExperienceNote is defined %}
        {{ formmacros.field(form.otherExperienceNote) }}
    {% endif %}

    {% if form.nationalBoardNote is defined %}
        {{ formmacros.field(form.nationalBoardNote) }}
    {% endif %}

    {% if form.medicalLicenseNote is defined %}
        {{ formmacros.field(form.medicalLicenseNote) }}
    {% endif %}

    {% if form.boardCertificationNote is defined %}
        {{ formmacros.field(form.boardCertificationNote) }}
    {% endif %}

    {% if form.referenceLetterNote is defined %}
        {{ formmacros.field(form.referenceLetterNote) }}
    {% endif %}

    {% if form.signatureStatement is defined %}
        {{ formmacros.field(form.signatureStatement) }}
    {% endif %}

    <div class="well">
    <h3>Recommendation Letter Settings</h3>
    {% if form.recSpreadsheetFolderId is defined %}
        {{ formmacros.field(form.recSpreadsheetFolderId) }}
    {% endif %}
    {% if form.recUploadsFolderId is defined %}
        {{ formmacros.field(form.recUploadsFolderId) }}
    {% endif %}
    {% if form.recTemplateFileId is defined %}
        {{ formmacros.field(form.recTemplateFileId) }}
    {% endif %}
    {% if form.recBackupTemplateFileId is defined %}
        {{ formmacros.field(form.recBackupTemplateFileId) }}
    {% endif %}
    </div>

    <br>
    <p>
        {% if cycle == "show" %}
            <a class="btn btn-primary" href="{{ path('resapp_google_form_config_edit') }}">Edit</a>
            <a class="btn btn-danger" href="{{ path('resapp_google_form_config_update_drive') }}">Update Residency Application Form on Google</a>
        {% endif %}
        {% if cycle == "edit" %}
            <input class="btn btn-warning" type="submit" value="Update Config File Locally" />
            <a class="btn btn-default" href="{{ path('resapp_google_form_config_show') }}">Cancel</a>
        {% endif %}
    </p>

    {{ form_end(form) }}

    {#add a link "Add new residency type"#}
    {#add a link "To delete a residency type if it no longer exists, visit this page, select it, and click "Remove Residency Application Type"#}

    {% if configFileContent is defined %}
        <br>
        <h3>Current Configuration File on Google Drive</h3>
        <div style="color:black">
            {#<pre>#}
                {#<code>#}
                    {#{{ configFileContent|raw }}#}
                {#</code>#}
            {#</pre>#}
            {#<textarea>#}
                {#{{ configFileContent|raw }}#}
            {#</textarea>#}
            {#<p>#}
                {{ configFileContent }}
            {#</p>#}
            {#<p>#}
                {#{{ configFileContent|raw }}#}
            {#</p>#}
        </div>
    {% endif %}

    <br>
    <p>
        {% set applicationPageLinkResApp = user_security_utility.getSiteSettingParameter('applicationPageLinkResApp') %}
        <a href="{{ applicationPageLinkResApp }}" target="_blank">Link to the Application Page</a>
    </p>


{% endblock %}


