{% extends "OlegOrderformBundle::Default/base.html.twig" %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    {#{{ form_widget(form) }}#}
    {{ form_errors(form) }}

    {{ formmacros.field(form.username) }}
    {{ formmacros.field(form.email) }}
    {{ formmacros.field(form.pathologyServices) }}

    {% if is_granted('ROLE_ADMIN') %}
        {{ formmacros.field(form.roles) }}
    {% endif %}

    {#{{ form_rest(form) }}#}
    {{ form_widget(form._token) }}

    <p>
        <div>
        <input class="btn btn-warning" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </p>

</form>

    <p>
        <a class="btn btn-info" href="{{ path('fos_user_profile_show') }}">Cancel</a>
    </p>

{% endblock %}
