{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% else %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% endif %}
{% extends extendStr%}

{% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ title }}</h3>

    <br>

    {{ treemacros.jstreemacros('composite-tree',bundleName,entityName,nodeshowpath,'search',filterform,routename) }}

    <br>

    {#Add top-level object#}
    <form id="tree_create_root" action="{{ path('employees_tree_create_root') }}" method="POST">

        <input type="hidden" id="entityName" name="entityName" value="{{ entityName }}" />
        <input type="hidden" id="bundleName" name="bundleName" value="{{ bundleName }}" />
        <input type="hidden" id="routename" name="routename" value="{{ routename }}" />
        <input type="hidden" id="sitename" name="sitename" value="{{ sitename }}" />

        <div class="row">

            {#<div class="col-xs-6" align="right">#}
            {#<strong>Root Name:</strong>#}
            {#</div>#}
            <div class="col-xs-3" align="right">
                {##}
            </div>
            <div class="col-xs-4" align="right">
                <input class="form-control" name="rootNodeName" id="rootNodeName" placeholder="New Top Level Root Name">
            </div>
            <div class="col-xs-2" align="left">
                <button name="create-root" type='submit' class="btn btn-info btn-sm">Create Top Level Root</button>
            </div>
            <div class="col-xs-3" align="left">
                {##}
            </div>

        </div>

    </form>

{% endblock %}


{% block additionaljs %}
    <script type="text/javascript">
        $(document).ready(function() {
            getJstree('UserdirectoryBundle','Institution');
            getJstree('UserdirectoryBundle','CommentTypeList');
            getJstree('UserdirectoryBundle','FormNode');
            getJstree('OrderformBundle','MessageCategory');
            getJstree('DashboardBundle','ChartTypeList');
            getJstree('DashboardBundle','TopicList');
            //getJstree('UserdirectoryBundle','HostedUserGroupList');
            getJstree('UserdirectoryBundle','TenantUrlList');
        });
    </script>
{% endblock %}
