{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#macros for tree#}

{% macro jstreemacros( jstreeid, bundleName, entityName, nodeshowpath, search, filterform, routename ) %}
    {#{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}#}

    {% if filterform is defined and filterform and routename is defined and routename %}
        <p>
        {#<form action="{{ path(routename) }}" method="get" class="well form-search" name="form-search">#}
        {{ form_start(filterform, {'action': path(routename), 'method': 'GET', 'attr': {'class': 'well form-search'}}) }}
            <div class="row">
                <div class="col-xs-3"></div>

                <div class="col-xs-3" align="right">
                    {{ form_widget(filterform.types) }}
                </div>

                <div class="col-xs-3" align="left">
                    <button type="submit" class="btn btn-sm btn-default">Filter</button>
                </div>

                <div class="col-xs-3"></div>
            </div>
            {{ form_rest(filterform) }}
        {#</form>#}
        {{ form_end(filterform) }}
        </p>
    <br>
    {% endif %}

    <p>
    <div class="row jstree-parent-container">

        <div class="col-xs-3" align="right">
        </div>

        <div class="col-xs-6" align="left">
            {% if search is not defined or search != 'nosearch' %}
                <p>
                    <input class="form-control form-control-modif not-mapped-simplefield jstree-search" type="search" placeholder="Search"/>
                </p>
            {% endif %}
            <div
                class="{{ jstreeid }} {{ jstreeid ~ '-' ~ bundleName ~ '-' ~ entityName }}"
                data-compositetree-node-showpath="{{ nodeshowpath }}"
            ></div>
        </div>

        <div class="col-xs-3" align="right">
        </div>

    </div>
    </p>
{% endmacro %}


{% macro compositeTreeNode( node, cycle, prototype ) %}
    {% import _self as treemacros %}
    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    <p>
    {{ form_errors(node) }}
    <div class="composite-tree-holder">
        <div class="row treenode">
            <div class="col-xs-6" align="right">
                {{ form_label(node) }}
            </div>
            <div class="col-xs-6" align="left">
                {{ form_widget(node) }}
            </div>
        </div>
    </div>
    </p>
{% endmacro %}

{% macro compositeTreeNode_notempty( node, cycle, prototype ) %}
    {% import _self as treemacros %}

    {% if "show" in cycle %}
        {% set showFlag = true %}
    {% else %}
        {% set showFlag = false %}
    {% endif %}

    {% if node.vars.value or not showFlag %}
        {{ treemacros.compositeTreeNode(node,cycle,prototype) }}
    {% else %}
        {% do node.setRendered %}
    {% endif %}
{% endmacro %}
