{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% block footer %}

    <div class="footer">

        {#<a href="{{ path('main_common_home') }}" target="_blank">O R D E R</a>#}
        {#&copy; {{ "now"|date('Y') }} by#}
        {#<a href="{{ department_url }}" target="_blank">{{ department_name }}</a>#}
        {#at#}
        {#<a href="{{ institution_url }}" target="_blank">{{ institution_name }}</a>.#}

        {% set environmentServer = user_security_utility.getSiteSettingParameter('environment') %}
        {% if environmentServer == 'demo' %}
            <a href="https://example.com/" class="arrow">
                Demo Department
            </a> at <a href="https://example.com/" class="arrow">
                Demo Institution
            </a>
        {% else %}
            {% if showcopyrightonfooter %}
                <a href="{{ path('main_common_home') }}" target="_blank">O R D E R</a>
                &copy; {{ "now"|date('Y') }}
                {% if institution_url and institution_name %}
                    <a href="{{ institution_url }}" target="_blank">{{ institution_name }}</a>.
                {% else %}
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Institution's Name]</a>.
                {% endif %}

                <br><br>


                {% if department_url and department_name and subinstitution_url and subinstitution_name %}
                    <a href="{{ department_url }}" target="_blank">{{ department_name }}</a> at
                    <a href="{{ subinstitution_url }}" target="_blank">{{ subinstitution_name }}</a>.
                {% else %}
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Department's Name]</a> at
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Organization's Name]</a>.
                {% endif %}
            {% endif %}
        {% endif %}

    </div>

{% endblock %}

