{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% set urltype = "home" %}

{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}
{#{% extends "base.html.twig" %}#}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}


{% block title %}
    Employee Directory
{% endblock %}

{% block content %}
    <div style="margin-top:25px;">

        {% if all is defined and all %}
            {% set checked = "checked" %}
        {% else %}
            {% set checked = "" %}
        {% endif %}

        <form class="navbar-form user-typeahead-search-form" role="search" id="user-typeahead-search-form" action="{{ path(employees_sitename~'_home') }}" method="get">
            <div class="form-group">
                <div id="multiple-datasets-typeahead-search" class="multiple-datasets-typeahead-search">
                    {#<input type="checkbox" name="all" value="all" {{ checked }}> Include all employees and fellowship applicants &nbsp;&nbsp;#}
                    <input
                            style="width: 460px;"
                            type="text"
                            class="typeahead submit-on-enter-field"
                            name="search" value="{{ search }}"
                            placeholder="Search for a name, service, division, etc"
                    >
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg" style="height: 50px">Search</button>
            <p><input type="checkbox" name="all" value="all" {{ checked }}>&nbsp;Include hidden user records</p>
        </form>

        <br>

        {% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}
        <a role="button" data-toggle="collapse" href="#collapseInstitutionUserTree" onclick="displayInstitutionUserTree('default');">Organizational Tree</a>
        <div id="collapseInstitutionUserTree" class="panel-collapse collapse">
            {{ treemacros.jstreemacros('composite-tree','UserdirectoryBundle','Institution_User','employees_showuser','nosearch') }}
        </div>

        <br>

        {#display search result for locations #}
        {% set locationShowed = false %}
        {% if locations %}
            {% if locations|length > 0 %}
                {% include 'AppUserdirectoryBundle/Location/locations-content-search.html.twig' with {'sitename': employees_sitename} %}
                <br>
                {% set locationShowed = true %}
            {% endif %}
        {% endif %}

        {#display search result for users #}
        {% set userShowed = false %}
        {% if (entities and entities|length > 0) or (sameusers is defined and sameusers) %}
            {% include 'AppUserdirectoryBundle/Admin/users-content.html.twig' with {'sitename': employees_sitename} %}
            {% set userShowed = true %}
        {% endif %}

        {#display No results are found #}
        {% if search and (not userShowed and not locationShowed) %}
            <br><br>
            <h5 class="text-info">No results found.</h5>
        {% endif %}


    </div>
{% endblock %}



{% block contentleft %}
    {% if not entities and not locations and sameusers is not defined %}

        <div style="margin-top:50px;">

            <p>
                Welcome to the Employee Directory!
            </p>

            {% if app.user.getEmail == "" %}
                <p>
                    If you would like to receive email notifications regarding your orders, please take a moment to update
                    <a href="{{ path(employees_sitename~'_showuser', { 'id': app.user.getId }) }}">your profile</a>
                    by adding your email account.
                </p>
            {% endif %}


            <p>
                Please review and update your <a href="{{ path(employees_sitename~'_showuser', { 'id': app.user.getId }) }}">profile</a>.
            </p>


            <br>
            <p>

                {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                    {#{% set pendingadminreview = render(controller("App\\UserdirectoryBundle\\Controller\\UserController::pendingAdminReviewAction")) %}#}
                    {#{% set pendingadminreview = "" %}#}
                    {% set pendingadminreview = user_service_utility.getPendingAdminReview() %}

                    There are:

                    <ul>

                        <li>
                            <a href="{{ path(employees_sitename~'_accessrequest_list') }}">{{ accessreqs }} unprocessed access request(s).</a>
                        </li>

                        <li>
                            <a href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}">{{ pendingadminreview }} user profile(s) with data pending administrative review and approval.</a>
                        </li>

                    </ul>

                {% endif %}

            </p>

        </div>

        <br>

        {# My Team #}
        {#{{ usermacros.userTeam( app.user, 'home', employees_sitename, postData, 'in' ) }}#}

        {#{% set myteamurl = path(employees_sitename~'_my_team',{'userid': app.user.getId}) %}#}
        {#<button id="userMyTeamDetailsBtn" type="button" class="btn btn-primary" onclick="userTeamTwigMacro('{{ myteamurl }}');">#}
            {#My Team#}
        {#</button>#}
        {#<div id="userMyTeamDetails"></div>#}

        {{ usermacros.userTeamAjax( app.user.getId, 'home', 'My Team', employees_sitename ) }}

    {% endif %}
{% endblock %}


