{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#   navigation menu   #}

{% macro listUsers( pathlink, pathlink_loc, hasRoleSimpleView ) %}
    {% set filters = user_service_utility.getListUserFilter(pathlink,pathlink_loc,hasRoleSimpleView) %}
    {% if filters and filters|length > 0 %}
        <ul class="dropdown-menu">
            {% for filter in filters %}
                {{ filter|raw }}
                {#{% if  %}#}
                {#{% endif %}#}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% import _self as usernavbar %}

{% block navbar %}

    {#{% set pendingadminreview = render(controller("AppUserdirectoryBundle:User:pendingAdminReview")) %}#}
    {#{% set pendingadminreview = render(controller("App\\UserdirectoryBundle\\Controller\\UserController::pendingAdminReviewAction")) %}#}
    {#{% set pendingadminreview = "" %}#}
    {% set pendingadminreview = user_service_utility.getPendingAdminReview() %}

    {% if app.user %}
        {% set hasRoleSimpleView = app.user.hasRole('ROLE_USERDIRECTORY_SIMPLEVIEW') %}
    {% else %}
        {% set hasRoleSimpleView = false %}
    {% endif %}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                <a class="navbar-brand visible-xs visible-sm" href="{{ path(employees_sitename~'_home') }}">Home</a> <!-- this is for mobile devices - top menu -->
            {% endif %}
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">


            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}

                <ul class="nav navbar-nav navbar-left">

                    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
                    {{ usermacros.siteSwitch() }}

                    {% if minimum is not defined %}

                        <li id="nav-bar-userhome" class="hidden-xs divider-vertical">
                            <a href="{{ path(employees_sitename~'_home') }}">
                                <img src="{{ asset('orderassets/AppUserdirectoryBundle/form/img/users-1-64x64.png') }}" alt="Employee Directory" height="18" width="18">
                                Home
                            </a>
                        </li>

                        <li id="nav-bar-userlist" class="dropdown">
                            {% if pendingadminreview is defined and pendingadminreview > 0 %}
                                <a id="incoming-orders-menu-title" href="#" class="dropdown-toggle" data-toggle="dropdown">List Current<b class="caret"></b></a><!--
                                            --><a id="incoming-orders-menu-badge"
                                                  class="element-with-tooltip-always"
                                                  title="Pending Administrative Review"
                                                  data-toggle="tooltip"
                                                  data-placement="bottom"
                                                  href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}"
                                                ><span class="badge">{{ pendingadminreview }}</span></a>
                            {% else %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">List Current<b class="caret"></b></a>
                            {% endif %}
                            {{ usernavbar.listUsers(employees_sitename~'_listusers',employees_sitename~'_list_common_locations',hasRoleSimpleView) }}
                        </li>

                        {% if is_granted('ROLE_USERDIRECTORY_EDITOR') and not hasRoleSimpleView %}
                            <li id="nav-bar-userlist-previous" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">List Previous<b class="caret"></b></a>
                                {{ usernavbar.listUsers(employees_sitename~'_listusers_previous',null,hasRoleSimpleView) }}
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}
                            <li id="nav-bar-add" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li id="nav-bar-adduser" class="divider-vertical"><a href="{{ path(employees_sitename~'_new_user') }}">Employee</a></li>
                                    <li id="nav-bar-addlocation" class="divider-vertical"><a href="{{ path(employees_sitename~'_locations_pathaction_new_standalone') }}">Location</a></li>
                                </ul>
                            </li>

                            <li id="nav-bar-employment-dates">
                                <a href="{{ path(employees_sitename~'_user_dates_show') }}">Employment dates</a>
                            </li>

                        {% endif %}

                        <li id="nav-bar-add" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id="nav-bar-userlist-download-excel">
                                    <a href="{{ path(employees_sitename~'_userlist_download_spreadsheet') }}">Printable Lab Directory</a>
                                </li>
                                <li id="nav-bar-users-label-download-excel">
                                    <a href="{{ path(employees_sitename~'_users_label_preview') }}" target="_blank">Printable Mailing Labels</a>
                                </li>
                            </ul>
                        </li>


                    {% endif %}

                </ul>

            {% endif %}

           

            <ul class="nav navbar-nav navbar-right">

                {% if minimum is not defined %}

                    {#Search in navbar#}
                    {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                        {% if urltype is not defined or urltype != "home" %}
                            <li id="nav-bar-usersearch">
                            {#Search for a name, service, division, etc#}
                            {% if search is not defined %}
                                {% set search = "" %}
                            {% endif %}
                            <div>
                            <form class="navbar-form navbar-left user-typeahead-search-form" role="search" id="navbar-user-typeahead-search-form" name="usertypeaheadsearchform" action="{{ path(employees_sitename~'_home') }}" method="get">
                                <div class="form-group">
                                    <div id="navbar-multiple-datasets-typeahead-search" class="multiple-datasets-typeahead-search">

                                        {#version 1: input field and button separated by white space#}
                                        {#<input#}
                                            {#type="text"#}
                                            {#class="typeahead submit-on-enter-field form-control"#}
                                            {#name="search" value="{{ search }}"#}
                                            {#placeholder="Search"#}
                                            {#style="font-size: 14px !important;"#}
                                            {#>#}

                                        {#version 2: input field has attached button, but button has bigger height => bad#}
                                        {#<div class="input-group">#}
                                            {#<input#}
                                                {#type="text"#}
                                                {#class="typeahead submit-on-enter-field form-control"#}
                                                {#name="search" value="{{ search }}"#}
                                                {#placeholder="Search"#}
                                                {#style="font-size: 14px !important;"#}
                                            {#/>#}
                                            {#<span class="input-group-addon btn btn-default btn-xs" onclick="document.usertypeaheadsearchform.submit();">#}
                                                {#<i class="glyphicon glyphicon-search"></i>#}
                                            {#</span>#}
                                        {#</div>#}

                                        {#version 3: input field has inside button#}
                                        <div class="form-group-typeahead">
                                            <div class="form-group has-feedback">
                                                <input
                                                        type="text"
                                                        class="typeahead submit-on-enter-field form-control"
                                                        name="search" value="{{ search }}"
                                                        placeholder="Search"
                                                        style="font-size: 14px !important;"
                                                        aria-describedby="inputSuccess2Status">
                                                <span style="top:0;" class="glyphicon glyphicon-search form-control-feedback btn" onclick="document.usertypeaheadsearchform.submit();" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {#version 1: input field and button separated by white space#}
                                {#<button type="button" class="btn btn-default">#}
                                    {#<span class="glyphicon glyphicon-search"></span>#}
                                {#</button>#}
                                {#<button type="submit" class="btn btn-default">Search</button>#}
                            </form>
                            </div>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                        <li id="nav-bar-admin" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li><a href="{{ path(employees_sitename~'_accessrequest_list') }}">Access Requests</a></li>
                                <li><a href="{{ path(employees_sitename~'_accountrequest') }}">Account Requests</a></li>
                                <li><a href="{{ path(employees_sitename~'_authorized_users') }}">Authorized Users</a></li>
                                {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
                                    <li><a href="{{ path(employees_sitename~'_currently_logged_in_users') }}">Currently Logged in Users</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_USERDIRECTORY_ADMIN') %}
                                    <li class="divider"></li>
                                    {#<li><a href="{{ path(employees_sitename~'_listusers') }}">Users</a></li>#}
                                    {#<li><a href="{{ path('user_admin_index') }}">List Manager</a></li>#}
                                    <li><a href="{{ path('platformlistmanager-list') }}">Platform List Manager</a></li>
                                    <li><a href="{{ path('user_admin_hierarchy_index') }}">Hierarchy Manager</a></li>
                                    <li><a href="{{ path(employees_sitename~'_logger') }}">Event Log</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
                                    <li><a href="{{ path('employees_logger_allsites') }}">Global Event Log</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path(employees_sitename~'_import_users_excel') }}">Import Users</a></li>
                                    <li><a href="{{ path(employees_sitename~'_siteparameters') }}">Site Settings</a></li>
                                    {#<li>#}
                                        {#<a target="_blank"#}
                                           {#href="{{ user_service_utility.getSiteParamListUrl('AuthServerNetworkList')|raw }}"#}
                                        {#>Multi-tenancy management1</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="{{ path(employees_sitename~'_tenancy_management') }}">Multi-tenancy management</a>#}
                                    {#</li>#}
                                    <li>
                                        <a href="{{ path(employees_sitename~'_tenancy_manager_configure') }}">Multi-Tenancy configuration</a>
                                    </li>
                                    <li>
                                        <a href="{{ path(employees_sitename~'_homepage_manager_configure') }}">Multi-Tenancy home page configuration</a>
                                    </li>
                                    <li class="divider"></li>

                                    {% if is_granted('ROLE_PLATFORM_ADMIN') %}
                                        <li>
                                            <a href="{{ path('employees_interface_manager') }}">Transfer Interface Management</a>
                                        </li>
                                        <li>
                                        <a target="_blank"
                                           href="{{ user_service_utility.getSiteParamListUrl('InterfaceTransferList')|raw }}"
                                        >Interface Transfer List</a>
                                        </li>
                                        {#<li><a href="{{ path('employees_logger_interface') }}">Transfer Interface Log</a></li>#}
                                        {#<li>#}
                                            {#<a href="{{ path('employees_interface_test') }}">Transfer Interface Test</a>#}
                                        {#</li>#}
                                        <li class="divider"></li>
                                    {% endif %}

                                    {% if is_granted('ROLE_PLATFORM_ADMIN') %}
                                        <li><a
                                            general-data-confirm="Updating via web-browser may result in unpredictable malfunctions and should only be used for minor code changes without changes to the database. To properly update the source code, log in as root via ssh, and run 'cd /usr/local/bin/order-lab/orderflex/', 'git pull', and 'bash deploy_prod.sh' in that order. Optionally, run 'composer.phar install' to update vendor source codes. Would you like to proceed with the update via the web browser?"
                                            href="{{ path('user_update_system_source_code') }}">Update System's Source Code (Updates Without Changes in DB) (Do not run if not sure!)</a>
                                        </li>
                                        <li><a
                                            general-data-confirm="Updating via web-browser may result in unpredictable malfunctions and should only be used for minor code changes without changes to the database. To properly update the source code, log in as root via ssh, and run 'cd /usr/local/bin/order-lab/orderflex/', 'git pull', and 'bash deploy_prod.sh' in that order. Optionally, run 'composer.phar install' to update vendor source codes. Would you like to proceed with the update via the web browser?"
                                            href="{{ path('user_update_migrate_db') }}">Update (run doctrine:migrations:migrate) DB</a>
                                        </li>
                                        <li><a
                                                general-data-confirm="Are you sure you would like to update the vendor's sorce codes by running 'install composer'?"
                                                href="{{ path('user_update_system_source_composer') }}">Update Vendor's Source Code by Composer (Do not run if not sure!)</a>
                                        </li>
                                    {% endif %}

                                    <li><a
                                        general-data-confirm="Are you sure you would like to clear cache and update assets? This action will log out all authenticated users."
                                        href="{{ path('user_update_system_cache_assets') }}">Run deploy script deploy.sh</a>
                                    </li>
                                    <li><a href="{{ path(employees_sitename~'_show_system_log') }}" target="_blank">View System Log</a></li>
                                    <li><a href="{{ path(employees_sitename~'_show_system_test_error_log') }}" target="_blank">View System Test Error Log</a></li>
                                    <li><a href="{{ path(employees_sitename~'_run_test') }}" target="_blank">Run Tests</a></li>
                                    {#<li><a href="{{ path(employees_sitename~'_run_test_all') }}" target="_blank">Run All Test At Once</a></li>#}
                                    <li><a href="{{ path(employees_sitename~'_dev_mode') }}" target="_blank">Open site in development mode</a></li>
                                {% endif %}

                                <li class="divider"></li>
                                <li><a href="{{ path(employees_sitename~'_emailtest') }}" target="_blank">Send a test email</a></li>
                                {#<li><a href="{{ path(employees_sitename~'_send_spooled_emails') }}">Send queued emails</a></li>#}
                                <li><a href="{{ path(employees_sitename~'_list_notify_users') }}" target="_blank">Show notify users/emails</a></li>

                                {% if is_granted('ROLE_PLATFORM_ADMIN') %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path(employees_sitename~'_data_backup_management') }}">Auto Backup Management</a></li>
                                    <li><a href="{{ path(employees_sitename~'_health_monitor') }}">Health Monitors</a></li>
                                    <li><a href="{{ path(employees_sitename~'_general_cron_jobs') }}">Cron Jobs</a></li>
                                    <li><a href="{{ path(employees_sitename~'_manual_backup_restore') }}">Manual Backup/Restore</a></li>
                                {% endif %}

                            </ul>
                        </li>

                    {% endif %}

                {% endif %}

                {% if is_granted('ROLE_USER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            {% if pendinguser is not defined %}
                                {% if app.user %}
                                    <li><a href="{{ path(employees_sitename~'_showuser', {id:app.user.getId()}) }}"
                                        >My Profile ({{ app.user.getUserNameShortStr() }})</a></li>
                                {% endif %}
                            {% endif %}

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(employees_sitename~'_about_page') }}">About</a></li>
                            {% endif %}

                            <li><a href="{{ path(employees_sitename~'_logout') }}">Log Out</a></li>

                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}

