{% extends "OlegVacReqBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Carry Over Vacation Days for {{ subjectUser }}
{% endblock %}


{% block content %}


    <h4 class="text-info" align="center">
        Carry Over Vacation Days for {{ subjectUser }}
    </h4>

    <br>

    {{ form_start(form) }}

        {{ form_errors(form) }}

        {% for carryOver in form.carryOvers %}

            <div class="well well-sm">
                {#ID:{{ carryOver.vars.value.id }}#}
                {% set yearRange = carryOver.vars.value.getYearRange() %}
                {{ formmacros.simplefield( "Destination Academic Year:", yearRange, "input", "disabled" ) }}

                {{ formmacros.field(carryOver.days) }}
            </div>

        {% endfor %}

        <p>
            <button class="btn btn-info" name="btnCreate" type="submit">Update</button>
        </p>

    {#{{ form_end(form,{'render_rest': false}) }}#}
    {{ form_end(form) }}

{% endblock %}

