

{% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

<h4 class="text-info" align="center">
    {{ groupName }}
</h4>

<table class="records_list table table-hover table-condensed text-left table-bordered sortable">

    <thead>
    <tr>

        <th>
            Employee
        </th>

        {% for yearRange in yearRanges %}

            {% set backgroundColor = yearRangesColor[loop.index] %}

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Current Academic Year', 'request.id') }}#}
                {{ yearRange }} Business Travel
            </th>

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Academic Year', 'request.createDate') }}#}
                {{ yearRange }} Vacation
            </th>

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Total Days', 'thisRequestTotalDays') }}#}
                {{ yearRange }} Total
            </th>

        {% endfor %}

    </tr>
    </thead>

    <tbody data-link="row" class="rowlink">

    {% for submitter in submitters %}

        <tr>

            <td>
                {{ vacreqmacros.personAwayInfo(submitter,submitter.getPreferredPhone,"vacreq") }}
            </td>

            {% for yearRange in yearRanges %}

                {% set backgroundColor = yearRangesColor[loop.index] %}

                {% set businessDaysRes = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'business',yearRange) %}
                {% set businessDays = businessDaysRes['numberOfDays'] %}
                {% set businessAccurate = businessDaysRes['accurate'] %}

                {% set vacationDaysRes = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'vacation',yearRange) %}
                {% set vacationDays = vacationDaysRes['numberOfDays'] %}
                {% set vacationAccurate = vacationDaysRes['accurate'] %}

                <td style="background-color: {{ backgroundColor }}">
                    {{ businessDays }}
                    {% if not businessAccurate %}
                        *
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ vacationDays }}
                    {% if not vacationAccurate %}
                        *
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ businessDays + vacationDays }}
                    {% if not businessAccurate and not vacationAccurate %}
                        <span data-toggle="tooltip" title="The result might be inaccurate due to academic year overlap">*</span>
                    {% endif %}
                </td>

            {% endfor %}

        </tr>

    {% endfor %}
    </tbody>

</table>




