

{% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

<h4 class="text-info" align="center">
    {{ groupName }}
</h4>

<table class="records_list table table-hover table-condensed text-left table-bordered sortable">

    <thead>
    <tr>

        <th>
            Employee
        </th>

        {% for yearRange in yearRanges %}

            {% set backgroundColor = yearRangesColor[loop.index0] %}

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Current Academic Year', 'request.id') }}#}
                {{ yearRange }} Business Travel
            </th>

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Academic Year', 'request.createDate') }}#}
                {{ yearRange }} Vacation
            </th>

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Total Days', 'thisRequestTotalDays') }}#}
                {{ yearRange }} Total
            </th>

            <th style="background-color: {{ backgroundColor }}">
                {#{{ knp_pagination_sortable(pagination, 'Total Days', 'thisRequestTotalDays') }}#}
                {{ yearRange }} Carried Over Vacation Days From Previous Year
            </th>

        {% endfor %}

        {% if is_granted('ROLE_VACREQ_ADMIN') %}
        <th>
            Action
        </th>
        {% endif %}

    </tr>
    </thead>

    <tbody data-link="row" class="rowlink">

    {% for submitter in submitters %}

        <tr>

            <td>
                {{ vacreqmacros.personAwayInfo(submitter,submitter.getPreferredPhone,vacreq_sitename) }}
            </td>

            {% for yearRange in yearRanges %}
                {% set backgroundColor = yearRangesColor[loop.index0] %}

                {% set businessDaysRes = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'business',yearRange) %}
                {% set businessDays = businessDaysRes['numberOfDays'] %}
                {% set businessAccurate = businessDaysRes['accurate'] %}

                {% set vacationDaysRes = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'vacation',yearRange) %}
                {% set vacationDays = vacationDaysRes['numberOfDays'] %}
                {% set vacationAccurate = vacationDaysRes['accurate'] %}

                <td style="background-color: {{ backgroundColor }}">
                    {{ businessDays }}
                    {% if not businessAccurate %}
                        *
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ vacationDays }}
                    {% if not vacationAccurate %}
                        *
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ businessDays + vacationDays }}
                    {% if not businessAccurate and not vacationAccurate %}
                        <span data-toggle="tooltip" title="The result might be inaccurate due to academic year overlap">*</span>
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ vacreq_util.getUserCarryOverDays(submitter,yearRange) }}
                </td>

            {% endfor %}

            {% if is_granted('ROLE_VACREQ_ADMIN') %}
                <td class="rowlink-skip">
                    {#action#}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{{ path(vacreq_sitename~'_carryover', { 'userId': submitter.id }) }}">Carry Over Vacation Days</a>
                            </li>
                        </ul>

                    </div>
                </td>
            {% endif %}

        </tr>

    {% endfor %}
    </tbody>

</table>




