{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}

{% block header %}

    {% if sitename == 'fellapp' %}
        {% include 'AppFellAppBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'resapp' %}
        {% include 'AppResAppBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'scan' %}
        {% include 'AppOrderformBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'employees' %}
        {% include 'AppUserdirectoryBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'deidentifier' %}
        {% include 'AppDeidentifierBundle/Default/navbar.html.twig' %}
        {#{% if accessionTypeStr is not defined %}#}
            {#{% set accessionTypeStr = null %}#}
        {#{% endif %}#}
        {#{% if accessionTypeId is not defined %}#}
            {#{% set accessionTypeId = null %}#}
        {#{% endif %}#}
        {#{% if accessionNumber is not defined %}#}
            {#{% set accessionNumber = null %}#}
        {#{% endif %}#}
        {#{{ render(controller('AppDeidentifierBundle/Default/deidentifierNavbar', {'accessionTypeStr': accessionTypeStr, 'accessionTypeId': accessionTypeId, 'accessionNumber': accessionNumber})) }}#}
    {% endif %}

    {% if sitename == 'vacreq' %}
        {% include 'AppVacReqBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'calllog' %}
        {% include 'AppCallLogBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'crn' %}
        {% include 'AppCrnBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'translationalresearch' %}
        {% include 'AppTranslationalResearchBundle/Default/navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'dashboard' %}
        {% include 'AppDashboardBundle/Default/navbar.html.twig' %}
    {% endif %}

{% endblock %}

{% import "AppUserdirectoryBundle/Default/userformmacros.html.twig" as userform %}

{#Snapshot css#}
{% block additionalcss %}
    {#{% stylesheets#}
        {#'bundles/appuserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/steve-snapshot.css') }}" />

{% endblock %}
        
{% block title %}
    {{ title }}
{% endblock %}
        
        
{% block content %}

{% if entity is defined %}
        
    {% if customh is defined %}
        {% import _self as showusermacros %}
        {{ showusermacros.snapshotcustomh(entity,sitename,cycle,getOriginalname,getAbsoluteUploadFullPath,getUsernameOptimal,getHeadInfo) }}
    {% else %}    
        {{ userform.snapshot_steve(entity,sitename,cycle) }}
    {% endif %}

    {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
        <br>
        <div class="well well-sm">
            {#<strong>Roles (shown only to Platform Admin):</strong><br>#}
            <strong>Roles:</strong><br>
            {% for role in entity.roles %}
                {% if role != "ROLE_USER" %}
                    {#{{ role }}<br>#}
                    {{ user_security_utility.getRoleAliasByName(role) }}<br>
                {% endif %}
            {% endfor %}
        </div>
    {#{% endif %}#}

    {#
    add an accordion to each Employee Directory’s user profile page
    titled “Translational Research Projects” listing all the IDs and titles
    (“AP123 - Experimenting with lactose enzymes (1/31/2024)”) of TRP Project
    requests that the user is associated with, each as a clickable
    link to the project request page.
    Please only show this new accordion to users with
    platform admin/deputy platform admin/TRP admin/TRP Technician/Employee Directory Admin roles.
    AP123 - Experimenting with lactose enzymes (1/31/2024)
    #}
    {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
    {% set projects = transres_util.getProjectsAllowedByUser(entity) %}
    {% if projects and projects|length > 0 %}
        <br>
        <div class="well well-sm" style="text-align: left;">
            <strong>Associated Translational Research Projects ({{ projects|length }}):</strong><br>
            {% for project in projects %}
                {#{{ project.oid }} {{ project.getTitle() }} ({{ project.approvalDate|date('m/d/Y H:i:s',false) }})#}
                <a href="{{ path(translationalresearch_sitename~'_project_show', {'id': project.id}) }}" target="_blank">
                    {{ project.oid }} {{ project.getTitle()|slice(0, 70) ~ (project.getTitle()|length > 50 ? '...') }} ({{ project.approvalDate|date('m/d/Y H:i:s', false) }})
                </a>
                <br>
            {% endfor %}
        </div>
    {% endif %}
    {#{% endif %}#}

    {#Show similar users: Exact same Last name AND Exact same First name as the profile being shown OR (B) exact same email address as the profile being shown#}
    {% set similarUsers = user_service_utility.getSimilarUsers(entity) %}
    {% if similarUsers|length > 0  %}
        <div class="well well-sm" style="text-align: left;">
            <strong>Similar user accounts:</strong><br>
            {% for similarUser in similarUsers %}
                {#FirstName MiddleNameIfAny LastName, JobTitleIfAny -
                primaryEmail ("Locked account" If Locked, "Inactive in AD"
                if inactive in AD); Last successful log in MM/DD/YYYY, HH:MM:SS#}
                {#{{ similarUser.getUsernameOptimal() }} {{ similarUser.getSingleEmail() }} {{ similarUser.getFullStatusStr() }}#}
                {#{{ similarUser.getFirstMiddleLastNameLastLogin() }}#}

                {% if similarUser.id != entity.id %}
                    <a href="{{ path(sitename~'_showuser', { 'id': similarUser.id }) }}" target="_blank">{{ similarUser.getFirstMiddleLastNameLastLogin() }}</a>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <br>

    {# use hinclude as in http://symfony.com/doc/current/book/templating.html #}
    {#{{ render_hinclude( url('employees_showuser_only',{'id':user_id}), {'default': 'AppUserdirectoryBundle/Default/default-hinclude-content.html.twig'} ) }}#}

    <button id="btnShowUserOnly" class="btn btn-primary" name="btnShowUserOnly" type="button" onclick="showUserDetailsAjax({{ user_id }})">View Details</button>

    {#{% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}#}
        {#<br><br>#}
        {#<a class="btn btn-info" href="{{ path('employees_user_avery_5160',{id:user_id}) }}" type='button'>Print Label</a>#}
    {#{% endif %}#}

    {#<a class="btn btn-info" href="{{ path(sitename~'_showuser',{id:entity.id}) }}" type='button'>Cancel</a>#}

    <div id="user-details"></div>

    {% endif %}
    
{% endblock %}    

    
    
{% block additionaljs %}

{#        '@AppUserdirectoryBundle/Resources/public/webcomponents/webcomponents.js'#}
    {#{% javascripts#}
        {#'@AppUserdirectoryBundle/Resources/public/hinclude/hinclude.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/hinclude/hinclude.js') }}"></script>

    <script>
    
        var cycle = 'show';
    
        $(document).ready(function() {           

            //alert("yay!");
            //console.log("show_user.html ready");                
            
            //setTimeout(function(){ 
                //alert("Hello"); 
            //    initUserForm();
            //}, 10000);
            
            var timesRun = 0;
            var intervalHinclude = setInterval( function(){
                //console.log("timesRun="+timesRun);
                timesRun++;
                //if(timesRun === 60){
                if( $("#user-profile-form").length || timesRun > 60 ) {  //60 sec total waiting time              
                    initUserForm();                   
                    clearInterval(intervalHinclude);
                }
                //do whatever here..
            }, 1000); 

        });


        function showUserDetailsAjax( userid ) {
            //console.log('userid=' + userid);
            //var btn = $('#btnShowUserOnly');
            var btn = document.getElementById("btnShowUserOnly");

            var lbtn = Ladda.create(btn);
            lbtn.start();

            var url = Routing.generate('employees_showuser_only_ajax');
            url = url + "?userid="+userid;
            //console.log("url="+url);

            $.ajax({
                url: url,
                timeout: _ajaxTimeout,
                type: "GET",
                //type: "POST",
                //data: {id: userid },
                dataType: 'json',
                async: asyncflag
            }).success(function(response) {
                //console.log(response);
                var template = response;
                $('#user-details').html(template); //Change the html of the div with the id = "your_div"
                $('#btnShowUserOnly').hide();
                //initUserForm();
            }).done(function() {
                lbtn.stop();
            }).error(function(jqXHR, textStatus, errorThrown) {
                console.log('Error : ' + errorThrown);
            });

        }

        
        //init only js related to the attached user form
        function initUserForm() {
            //console.log('user form ready');
    
            //checkBrowserComptability();

            //setCicleShow();

            //$(this).scrollTop(0);

            //setNavBar();

            //fieldInputMask();

            //tooltip
            //$(".element-with-tooltip").tooltip();
            //initTooltips();

            //initConvertEnterToTab();

            initDatepicker();

            expandTextarea();

            $('.panel-collapse').collapse({'toggle': false});

            regularCombobox();

            initTreeSelect();

            //composite tree as combobox select2 view
            getComboboxCompositetree();

            //jstree in admin page for Institution tree
            //getJstree('UserdirectoryBundle','Institution');
            //getJstree('UserdirectoryBundle','CommentTypeList');

            //home page institution with user leafs
            //displayInstitutionUserTree();
            //getJstree('UserdirectoryBundle','Institution_User','nomenu','nosearch','closeall');

            getComboboxResidencyspecialty();

            //getComboboxCommentType();

            //init generic comboboxes
            initAllComboboxGeneric();

            //processEmploymentStatusRemoveButtons();

            positionTypeListener();

            initUpdateExpectedPgy();

            //initFileUpload();

            //windowCloseAlert();

            //confirmDeleteWithExpired();

            initDatetimepicker();

            //userCloneListener();

            identifierTypeListener();

            researchLabListener();

            grantListener();

            //initTypeaheadUserSiteSearch();

            degreeListener();

            //generalConfirmAction();
        }

    </script>    
    
{% endblock %}    
   
    
    
    
    
    
{#testing custom hydration#}
{% macro snapshotcustomh( user, sitename, cycle, getOriginalname, getAbsoluteUploadFullPath, getUsernameOptimal, getHeadInfo ) %}

    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

    <div align="center">

    <div class="snapshot-all">

        {#clearfix#}
        <div class="snapshot">

            <div class="left">

                <div class="image-box">
                    {#avatar form modal#}
                    {#{{ usermacros.avatarForm(user,cycle) }}#}
                    {% if getOriginalname %}
                        {#{% set avatarImage = user.avatar.getAbsoluteUploadFullPath %}#}
{#                        {{ usermacros.showDocumentAsImage(avatar,'Avatar','') }}#}
                        <a href="{{ getAbsoluteUploadFullPath }}" target="_blank">
                        <img alt="{{ getOriginalname }}"
                             src="{{ getAbsoluteUploadFullPath }}"
                             alt="Avatar"
                             {#style="display:block; max-width:100%; max-height:100%;"#}                            
                        />
                        </a>
                    {% else %}
                        {% set avatarImage = asset('orderassets/AppUserdirectoryBundle/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                        <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                    {% endif %}
                    {#<img src="{{ avatarImage }}" alt="Avatar">#}
                </div>

                <!--<img src="profile-pic.jpg"> -->

                <div class="left-text">
                    <h2>
                        {#Shivakumar Test Testing Subramaniyam, MD, PhD#}
                        {{ getUsernameOptimal }}
                    </h2>

                    {#head/cheaf#}
                    {#Chief, Eyebrow Pathology, Assistant Professor of Pathology and Laboratory Medicine#}
                    {% set headInfos = getHeadInfo %}
                    {% if headInfos|length > 0 %}
                        <div style="padding-bottom: 10px;">
                        <h4>
                            {#{{ headInfo|raw }}#}
                            {% set index=1 %}
                            {% for headInfoArr in headInfos %}
                                {% if 'break' not in headInfoArr %}
                                    {% set hrefname = headInfoArr['name'] %}
                                    {% if headInfoArr['tablename'] == 'Institution' %}
                                        {% set hrefname = '<small>'~headInfoArr['name']~'</small>' %}
                                    {% endif %}
                                    {#{% if headInfoArr['tablename'] != "Institution"  %}#}
                                        <a href="{{
                                                path( employees_sitename~'_search_same_object',{
                                                    'tablename':headInfoArr['tablename'],
                                                    'id': headInfoArr['id'],
                                                    'name': headInfoArr['name']
                                                })
                                            }}">{{ hrefname|raw }}
                                        </a>
                                    {#{% else %}#}
                                        {#{{ hrefname|raw }}#}
                                    {#{% endif %}#}
                                    <br>
                                {% elseif headInfoArr == 'break-hr' %}
                                    {#{% if totalCount > index %}#}
                                        {#<hr>#}
                                        <br>
                                    {#{% endif %}#}
                                {% elseif headInfoArr == 'break-br' %}
                                    {#<br>#}
                                {% else %}

                                {% endif %}
                                {% set index=index+1 %}
                            {% endfor %}
                        </h4>
                        </div>
                    {% endif %}

                    {#services#}
                    {#<div class="service">#}
                        {#<p>#}
                            {#{% for institution in user.getInstitutions %}#}
                                {#&#123;&#35;{{ institution.name }}&#35;&#125;#}
                                {#<a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'institution','id': institution.id, 'name': institution.__toString() }) }}">{{ institution }}</a>#}
                                {#<br>#}
                            {#{% endfor %}#}
                        {#</p>#}
                    {#</div>#}

                </div>
            </div>

            <div class="right">
                <div class="right-text">

                    {#preffered phone and email#}
                    {% if user['email25'] or user['preferredPhone24'] %}

                        <div class="prefferedinfo">
                            <h4>Preferred Contact Info:</h4>
                            <table>
                                {% if user.email25 %}
                                    <tr class="row-withspace">
                                        <td class="left-column">email:</td>
                                        <td>
                                            {#{{ user.getEmail }}#}
                                            <a href="mailto:{{ user.email25 }}" target="_top">{{ user.email25 }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if user.preferredPhone24 %}
                                    <tr>
                                        <td class="left-column">ph:</td>
                                        <td>
                                            {#{{ user.getPreferredPhone }}#}
                                            {{ usermacros.phoneHref(user.preferredPhone24) }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>

                    {% endif %}

{% if ffff is defined %}
                    {% for location in user.getLocations %}

                        {% if location.hasLocationTypeName("Employee Home") == false %}

                            <div class="contact">
                                <h4>{{ location.getLocationTypesStr }}:</h4>
                                <table>
                                    {% if location.room %}
                                        <tr>
                                            <td class="left-column">room:</td>
                                            <td>
                                                {#{{ location.room }}#}
                                                <a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'room','id': location.room.id, 'name': location.room.name }) }}">{{ location.room }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if location.phone %}
                                        <tr>
                                            <td class="left-column">ph:</td>
                                            <td>
                                                {#{{ location.phone }}#}
                                                {{ usermacros.phoneHref(location.phone) }}
                                            </td>
                                        </tr>
                                    {% endif %}

                                    {% if location.pager %}
                                        <tr>
                                            <td class="left-column">pager:</td>
                                            <td>{{ location.pager }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.ic %}
                                        <tr>
                                            <td class="left-column">i/c:</td>
                                            <td>{{ location.ic }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.fax %}
                                        <tr>
                                            <td class="left-column">fax:</td>
                                            <td>{{ location.fax }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if location.email %}
                                        <tr>
                                            <td class="left-column">email:</td>
                                            <td>
                                                {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                <a href="mailto:{{ location.email }}" target="_top">{{ location.email }}</a>
                                            </td>
                                        </tr>
                                    {% endif %}

                                </table>
                            </div>


                            {% if location.getAssistant|length > 0 %}
                                <div class="assistant">
                                    <h4>Assistant:</h4>

                                    {% for assistant in location.getAssistant %}

                                        <table style="padding-bottom: 10px;">
                                            <tr>
                                                <td class="left-column">name:</td>
                                                <td>
                                                    {#{{ assistant.getUsernameOptimal }}#}
                                                    <a href="{{ path(sitename~'_showuser', { 'id': assistant.id }) }}">{{ assistant.getUsernameOptimal() }}</a>
                                                </td>
                                            </tr>
                                            {#<tr>phone(s):</tr>#}
                                            <tr>
                                                <td class="left-column" valign="top">ph:</td>
                                                <td>
                                                    <p>
                                                    {% for phone in assistant.getAllPhones() %}
                                                        {{ phone['prefix'] }}{{ usermacros.phoneHref(phone['phone']) }}<br>
                                                    {% endfor %}
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="left-column" valign="top">email:</td>
                                                <td>
                                                    {#<a href="mailto:name123@med.cornell.edu">name123@med.cornell.edu</a>#}
                                                    {#<a href="mailto:{{ assistant.email }}" target="_top">{{ assistant.email }}</a>#}
                                                    {% for email in assistant.getAllEmail() %}
                                                        <a href="mailto:{{ email['email'] }}" target="_top">{{ email['email'] }}</a><br>
                                                    {% endfor %}
                                                </td>
                                            </tr>

                                        </table>

                                    {% endfor %}

                                </div>
                            {% endif %}

                        {% endif %} {#main locations only#}

                    {% endfor %}
{% endif %}

                </div>
            </div>
        </div>
    </div>

    </div>

{% endmacro %}   