<!DOCTYPE html>
<html>

<head>

    {% if security is not defined %}
        {% set security = 'true' %}
    {% endif %}


    {% stylesheets
        'bundles/oleguserdirectory/bootstrap/css/*' filter='cssrewrite'
        'bundles/oleguserdirectory/form/css/form.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block errorwatchjs %}
        {% javascripts
            '@OlegUserdirectoryBundle/Resources/public/form/js/errorwatch.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block maincss %}

        {#jasny is used for clickable rows#}

        {% stylesheets
        'bundles/oleguserdirectory/select2/select2.css' filter='cssrewrite'
        'bundles/oleguserdirectory/jasny/css/jasny-bootstrap.min.css' filter='cssrewrite'
        'bundles/oleguserdirectory/ladda/ladda-themeless.css' filter='cssrewrite'
        'bundles/oleguserdirectory/form/css/action.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'bundles/oleguserdirectory/dropzone/css/dropzone.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'bundles/oleguserdirectory/datepicker/css/datepicker3.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}


        {% stylesheets
        'bundles/oleguserdirectory/jquery-ui-1.11.2/themes/smoothness/jquery-ui.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {#<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">#}


        {% stylesheets
        'bundles/oleguserdirectory/form/css/typeahead.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'bundles/oleguserdirectory/fengyuanchen-image-cropper/cropper.min.css' filter='cssrewrite'
        'bundles/oleguserdirectory/form/css/crop-avatar.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    {% block additionalcss %}{% endblock %}


    {% block ie8fixjs %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        {% javascripts
        '@OlegUserdirectoryBundle/Resources/public/html5-bootstrap-fix/html5shiv.min.js'
        '@OlegUserdirectoryBundle/Resources/public/html5-bootstrap-fix/respond.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->

    {% endblock %}


    <title>
        {% block title %}
            User Directory
        {% endblock %}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- we want to force people to click a button, so hide the close link in the toolbar -->
    {#<style type="text/css">a.ui-dialog-titlebar-close { display:none }</style>#}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>


<body>

    <div class="container col-xs-12">

        <div class="header col-xs-12">

            {% block header %}
                {# <img src="{{ asset('/../../images/slide1.jpg') }}" alt="Slide">#}
                {% include 'OlegUserdirectoryBundle:Default:navbar.html.twig' %}
            {% endblock %}

        </div>


        <div class="text-center col-xs-12">

            {% include 'OlegUserdirectoryBundle::Security/idle_timeout.html.twig' %}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('status-changed') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-success center-block" align="middle" style="width: 70%;">{{ flashMessage }}</p>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-danger center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />

        </div>


        <div class="order-content text-center col-xs-12">
            {% block content %}{% endblock %}
        </div>

        <div class="order-content col-xs-12">
            {% block contentleft %}{% endblock %}
        </div>

        <div class="order-content text-center col-xs-12">
            <!-- footer -->
            {% include 'OlegUserdirectoryBundle::Default/footer.html.twig' %}
        </div>


        {% block mainjs %}

            {#'@OlegUserdirectoryBundle/Resources/public/form/js/form.js'#}
            {#'@OlegUserdirectoryBundle/Resources/public/form/js/tooltips.js'#}

            {% javascripts
                '@OlegUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'
                '@OlegUserdirectoryBundle/Resources/public/jquery-ui-1.11.2/jquery-ui.js'
                '@OlegUserdirectoryBundle/Resources/public/bootstrap/js/*'
                '@OlegUserdirectoryBundle/Resources/public/ladda/spin.min.js'
                '@OlegUserdirectoryBundle/Resources/public/ladda/ladda.min.js'
                '@OlegUserdirectoryBundle/Resources/public/datepicker/js/*'
                '@OlegUserdirectoryBundle/Resources/public/select2/select2.js'
                '@OlegUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'

                '@OlegUserdirectoryBundle/Resources/public/form/js/modal.js'

                '@OlegUserdirectoryBundle/Resources/public/form/js/user-form.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-common.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-selectAjax.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-masking.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-formReady.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-basetitles.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-treeSelectAjax.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-validation.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-fileuploads.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-navbar.js'

                '@OlegUserdirectoryBundle/Resources/public/typeahead/typeahead.bundle.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-typeahead.js'

                '@OlegUserdirectoryBundle/Resources/public/fengyuanchen-image-cropper/cropper.min.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-crop-avatar.js'

                '@OlegUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'
                '@OlegUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'
                '@OlegUserdirectoryBundle/Resources/public/form/js/user-idleTimeout.js'
                '@OlegUserdirectoryBundle/Resources/public/jasny/js/rowlink.js'
                '@OlegUserdirectoryBundle/Resources/public/q-1/q.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}


            {#dropzone#}
            {% javascripts
                '@OlegUserdirectoryBundle/Resources/public/dropzone/dropzone.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

        {% block additionaljs %}{% endblock %}


    </div>

</body>
         
</html>
