
{% block footer %}

    <div class="footer">

        <a href="{{ path('main_common_home') }}" target="_blank">O R D E R</a>
        &copy; Copyright {{ "now"|date('Y') }} by
        <a href="{{ department_url }}" target="_blank">{{ department_name }}</a>
        at
        <a href="{{ institution_url }}" target="_blank">{{ institution_name }}</a>.

    </div>

{% endblock %}

