{% set urltype = "home" %}

{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}


{% block title %}
    Employee Directory
{% endblock %}


{% block content %}

    <div style="margin-top:25px;">

        <form class="navbar-form" role="search" id="user-typeahead-search-form" action="{{ path(employees_sitename~'_home') }}" method="get">
            <div class="form-group">
                <div id="multiple-datasets-typeahead-search">
                    <input
                           type="text"
                           class="typeahead submit-on-enter-field"
                           name="search" value="{{ search }}"
                           placeholder="Search for a name, service, division, etc"
                    >
                </div>
            </div>
            <button type="submit" class="btn btn-lg" style="height: 50px">Search</button>
            {#<button class="btn btn-lg" type="submit" style="height: 50px">Search</button>#}
        </form>

        <br>


        {#display search result for locations #}
        {% set locationShowed = false %}
        {% if locations %}
            {% if locations|length > 0 %}
                {% include 'OlegUserdirectoryBundle::Location/locations-content-search.html.twig' with {'sitename': employees_sitename} %}
                <br>
                {% set locationShowed = true %}
            {% endif %}
        {% endif %}

        {#display search result for users #}
        {% set userShowed = false %}
        {% if (entities and entities|length > 0) or (sameusers is defined and sameusers) %}
            {% include 'OlegUserdirectoryBundle::Admin/users-content.html.twig' with {'sitename': employees_sitename} %}
            {% set userShowed = true %}
        {% endif %}

        {#display No results are found #}
        {% if search and (not userShowed and not locationShowed) %}
            <br><br>
            <h5 class="text-info">No results found.</h5>
        {% endif %}


    </div>



{% endblock %}



{% block contentleft %}

    {% if not entities and not locations and sameusers is not defined %}

        <div style="margin-top:50px;">

            <p>
                Welcome to the Employee Directory!
            </p>

            {% if app.security.getToken().getUser.getEmail == "" %}
                <p>
                    If you would like to receive email notifications regarding your orders, please take a moment to update
                    <a href="{{ path(employees_sitename~'_showuser', { 'id': app.security.getToken().getUser.getId }) }}">your profile</a>
                    by adding your email account.
                </p>
            {% endif %}


            <p>
                Please review and update your <a href="{{ path(employees_sitename~'_showuser', { 'id': app.security.getToken().getUser.getId }) }}">profile</a>.
            </p>


            <br>

            <p>

                {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                    {% set pendingadminreview = render(controller("OlegUserdirectoryBundle:User:pendingAdminReview")) %}

                    There are:

                    <ul>

                        <li>
                            <a href="{{ path(employees_sitename~'_accessrequest_list') }}">{{ accessreqs }} unprocessed access request(s)</a>
                        </li>

                        <li>
                            <a href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}">{{ pendingadminreview }} user profile(s) with data pending administrative review and approval</a>
                        </li>

                    </ul>

                {% endif %}

            </p>


        </div>

        <br>

        {# My Team #}
        {{ usermacros.userTeam( app.security.getToken().getUser, 'home', employees_sitename, postData, 'in' ) }}

    {% endif %}

{% endblock %}

