{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block title %}
    Employee Directory
{% endblock %}

{% block contentleft %}

    {% set pendingadminreview = render(controller("OlegUserdirectoryBundle:User:pendingAdminReview")) %}


    <div style="margin-top: 100px;">
        <p>
            Welcome to the Employee Directory!
        </p>

        {% if app.security.getToken().getUser.getEmail == "" %}
            <p>
                If you would like to receive email notifications regarding your orders, please take a moment to update
                <a href="{{ path(employees_sitename~'_showuser', { 'id': app.security.getToken().getUser.getId }) }}">your profile</a>
                by adding your email account.
            </p>
        {% endif %}


        <p>
            Please review and update your <a href="{{ path(employees_sitename~'_showuser', { 'id': app.security.getToken().getUser.getId }) }}">profile</a>.
        </p>


        <br>

        <p>

            {% if is_granted('ROLE_USERDIRECTORY_ADMIN') %}

                There are:

                <ul>

                    <li>
                        <a href="{{ path(employees_sitename~'_accessrequest_list') }}">{{ accessreqs }} unprocessed access request(s)</a>
                    </li>

                    <li>
                        <a href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}">{{ pendingadminreview }} user profile(s) with data pending administrative review and approval</a>
                    </li>

                </ul>

            {% endif %}

        </p>


    </div>

{% endblock %}





{% block content %}

    <div style="margin-top:50px;">

        <form action="{{ path(employees_sitename~'_home') }}" method="get" class="well form-search">
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" class="form-control limit-font-size" name="search" id="user_search" value="{{ search }}">
                </div>
                <div class="col-xs-2">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm btn-default order-filter-btn"><i class="icon-search"></i>Search</button>
                        </div>
                    </div>
                </div>
            </div>
            {#{{ form_rest(form) }}#}
        </form>

        {#<div class="input-group">#}
            {#<input type="text" class="form-control">#}
            {#<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>#}
        {#</div>#}


        {% if entities and entities|length > 0 %}
            {% include 'OlegUserdirectoryBundle::Admin/users-content.html.twig' with {'sitename': employees_sitename} %}
        {% endif %}


    </div>


{% endblock %}
