{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}



{% block additionalcss %}
    {% stylesheets
    'bundles/oleguserdirectory/form/css/typeahead.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block additionaljs %}
    {% javascripts
    '@OlegUserdirectoryBundle/Resources/public/typeahead/typeahead.bundle.js'
    '@OlegUserdirectoryBundle/Resources/public/form/js/user-typeahead.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            initTypeaheadUserSiteSerach();
        });
    </script>
{% endblock %}




{% block title %}
    Employee Directory
{% endblock %}


{% block content %}

    <div style="margin-top:25px;">


        <form id="user-typeahead-serach-form" action="{{ path(employees_sitename~'_home') }}" method="get">

            <div class="row">
                <div class="col-xs-8" align="right">
                    <div id="multiple-datasets-typeahead-search">
                        <input type="text" class="typeahead submit-on-enter-field" name="search" id="user_search" value="{{ search }}" placeholder="Search for a name, service, division, etc">
                    </div>
                </div>

                <div class="col-xs-2" align="left">
                    <button class="btn btn-lg" type="submit" style="height: 50px">Search</button>
                </div>


            </div>


        </form>


        {#display search result for locations #}
        {% if locations and locations|length > 0 %}
            {% include 'OlegUserdirectoryBundle::Location/locations-content-search.html.twig' with {'sitename': employees_sitename} %}
        {% endif %}
        {#{{ render( controller( 'OlegUserdirectoryBundle:Location:getSearchLocation', {'search':search, 'page':page} ) ) }}#}

        {% if entities and entities|length > 0 %}
            {% include 'OlegUserdirectoryBundle::Admin/users-content.html.twig' with {'sitename': employees_sitename} %}
        {% endif %}


    </div>



{% endblock %}



{% block contentleft %}

    {% if (entities is not defined or entities|length == 0) and (locations is not defined or locations|length == 0) %}

        <div style="margin-top:50px;">

            <p>
                Welcome to the Employee Directory!
            </p>

            {% if app.security.getToken().getUser.getEmail == "" %}
                <p>
                    If you would like to receive email notifications regarding your orders, please take a moment to update
                    <a href="{{ path(employees_sitename~'_showuser', { 'id': app.security.getToken().getUser.getId }) }}">your profile</a>
                    by adding your email account.
                </p>
            {% endif %}


            <p>
                Please review and update your <a href="{{ path(employees_sitename~'_showuser', { 'id': app.security.getToken().getUser.getId }) }}">profile</a>.
            </p>


            <br>

            <p>

                {% if is_granted('ROLE_USERDIRECTORY_ADMIN') %}

                    {% set pendingadminreview = render(controller("OlegUserdirectoryBundle:User:pendingAdminReview")) %}

                    There are:

                    <ul>

                        <li>
                            <a href="{{ path(employees_sitename~'_accessrequest_list') }}">{{ accessreqs }} unprocessed access request(s)</a>
                        </li>

                        <li>
                            <a href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}">{{ pendingadminreview }} user profile(s) with data pending administrative review and approval</a>
                        </li>

                    </ul>

                {% endif %}

            </p>


        </div>

        <br>




        {########################### My Team #############################}

        {#My Reports#}
        {% set myreports = controller( 'OlegUserdirectoryBundle:User:myReports', {'postData':postData} ) %}

        {#My Group#}
        {% set bosses = app.security.getToken().getUser.getBosses() %}
        {% set mygroupsArr = {} %}
        {% for myboss in bosses %}
            {% set table = controller( 'OlegUserdirectoryBundle:User:myGroups', {'postData':postData, 'myboss':myboss.getId()} ) %}
            {% set element = {'table': table, 'element':myboss} %}
            {% set mygroupsArr = mygroupsArr|merge({ (loop.index0): element}) %}
        {% endfor %}

        {#My Service#}
        {% set services = app.security.getToken().getUser.getServices() %}
        {% set myservicesArr = {} %}
        {% for service in services %}
            {% set table = controller( 'OlegUserdirectoryBundle:User:myServices', {'postData':postData, 'myservice':service.getId()} ) %}
            {% set element = {'table': table, 'element':service} %}
            {% set myservicesArr = myservicesArr|merge({ (loop.index0): element}) %}
        {% endfor %}

        {#My Team#}
        {% if render(myreports)|length > 1 or mygroupsArr|length > 0 or myservicesArr|length > 0 %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#myteam">

                            <div class="row">
                                <div class="col-xs-1">
                                    My Team
                                </div>

                                {#<div class="col-xs-4" align="left">#}
                                    {#<button type="button" class="btn btn-default btn-sm" onClick="collpaseAll(document.getElementById('myteam-panel-body'))" >Collapse All</button>#}
                                    {#<button type="button" class="btn btn-default btn-sm" onClick="extendAll(document.getElementById('myteam-panel-body'))" >Expand All</button>#}
                                {#</div>#}
                            </div>

                        </a>
                    </h4>
                </div>
                <div id="myteam" class="panel-collapse collapse in">
                    <div id="myteam-panel-body" class="panel-body">

                        {#My Report(s)#}
                        {% if render(myreports)|length > 1 %}
                            {#My Report(s)#}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#myreports">
                                            My Report(s)
                                        </a>
                                    </h4>
                                </div>
                                <div id="myreports" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        {{ render( myreports ) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {#My Group(s)#}
                        {% if mygroupsArr is defined %}
                            {% for mygroup in mygroupsArr %}

                                {% if render( mygroup['table'] )|length > 1 %}
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#mygroups-{{ mygroup['element'].getId() }}">
                                                    My Group(s) for <a href="{{ path('employees_showuser',{'id':mygroup['element'].getId()}) }}">{{ mygroup['element'].getUsernameOptimal() }}</a>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="mygroups-{{ mygroup['element'].getId() }}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                {{ render( mygroup['table'] ) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                        {#My Service(s)#}
                        {% if myservicesArr is defined %}
                            {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
                            {% for myservice in myservicesArr %}

                            {% if render( myservice['table'] )|length > 1 %}
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#myservices-{{ myservice['element'].getId() }}">
                                                    My Service(s) for Service {{ usermacros.hrefLinkToNode( myservice['element'] ) }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="myservices-{{ myservice['element'].getId() }}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                {{ render( myservice['table'] ) }}
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}

                            {% endfor %}
                        {% endif %}


                    </div> {#myteam-panel-body#}
                </div>{#myteam#}
            </div>{#panel panel-primary#}

        {% endif %}
        {########################### My Team #############################}

    {% endif %}

{% endblock %}

