{#   navigation menu   #}

{% macro listUsers( pathlink, pathlink_loc ) %}
    <ul class="dropdown-menu">

        {% if pathlink_loc is defined and pathlink_loc %}
            <li><a href="{{ path(pathlink_loc,{'filter': 'Common Locations'}) }}">Common Locations</a></li>
            {#<li><a href="{{ path(pathlink_loc,{'filter': 'Pathology Common Locations'}) }}">Pathology Common Locations</a></li>#}
            <li><a href="{{ path(pathlink_loc,{'filter': 'WCMC & NYP Pathology Common Locations'}) }}">WCMC & NYP Pathology Common Locations</a></li>
            <li><a href="{{ path(pathlink_loc,{'filter': 'WCMC Pathology Common Locations'}) }}">WCMC Pathology Common Locations</a></li>
            <li><a href="{{ path(pathlink_loc,{'filter': 'NYP Pathology Common Locations'}) }}">NYP Pathology Common Locations</a></li>
        {% endif %}

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink) }}">Employees</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Employees'}) }}">WCMC Pathology Employees</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Faculty'}) }}">WCMC Pathology Faculty</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Clinical Faculty'}) }}">WCMC Pathology Clinical Faculty</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Research Faculty'}) }}">WCMC Pathology Research Faculty</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Principal Investigators of Research Labs'}) }}"> - WCMC Pathology Principal Investigators of Research Labs</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Faculty in Research Labs'}) }}"> - WCMC Pathology Faculty in Research Labs</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Staff'}) }}">WCMC Pathology Staff</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'NYP Pathology Staff'}) }}">NYP Pathology Staff</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC or NYP Pathology Staff in Research Labs'}) }}"> - WCMC or NYP Pathology Staff in Research Labs</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'WCMC Anatomic Pathology Faculty'}) }}">WCMC Anatomic Pathology Faculty</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC Laboratory Medicine Faculty'}) }}">WCMC Laboratory Medicine Faculty</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Residents'}) }}">WCMC Pathology Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC AP/CP Residents'}) }}"> - WCMC AP/CP Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC AP Residents'}) }}"> - WCMC AP Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC AP Only Residents'}) }}"> - WCMC AP Only Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC CP Residents'}) }}"> - WCMC CP Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'WCMC CP Only Residents'}) }}"> - WCMC CP Only Residents</a></li>

        <li><a href="{{ path(pathlink,{'filter': 'WCMC Pathology Fellows'}) }}">WCMC Pathology Fellows</a></li>
    </ul>
{% endmacro %}

{% import _self as usernavbar %}

{% block navbar %}

    {% set pendingadminreview = render(controller("OlegUserdirectoryBundle:User:pendingAdminReview")) %}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                <a class="navbar-brand visible-xs" href="{{ path(employees_sitename~'_home') }}">Home</a> <!-- this is for mobile devices - top menu -->
            {% endif %}
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">

            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}

                <ul class="nav navbar-nav">

                    <li id="nav-bar-userhome" class="hidden-xs divider-vertical"><a href="{{ path(employees_sitename~'_home') }}">Home</a></li>

                    <li id="nav-bar-userlist" class="dropdown">
                        {% if pendingadminreview is defined and pendingadminreview > 0 %}
                            <a id="incoming-orders-menu-title" href="#" class="dropdown-toggle" data-toggle="dropdown">List Current<b class="caret"></b></a><!--
                                        --><a id="incoming-orders-menu-badge" class="element-with-tooltip" title="Pending Administrative Review" data-toggle="tooltip" data-placement="bottom" href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}"><span class="badge">{{ pendingadminreview }}</span></a>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">List Current<b class="caret"></b></a>
                        {% endif %}
                        {{ usernavbar.listUsers(employees_sitename~'_listusers',employees_sitename~'_list_common_locations') }}
                    </li>

                    <li id="nav-bar-userlist-previous" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">List Previous<b class="caret"></b></a>
                        {{ usernavbar.listUsers(employees_sitename~'_listusers_previous',null) }}
                    </li>

                    {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                        <li id="nav-bar-add" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id="nav-bar-adduser" class="hidden-xs divider-vertical"><a href="{{ path(employees_sitename~'_new_user') }}">Employee</a></li>
                                <li id="nav-bar-addlocation" class="hidden-xs divider-vertical"><a href="{{ path(employees_sitename~'_locations_pathaction_new_standalone') }}">Location</a></li>
                            </ul>
                        </li>

                    {% endif %}

                </ul>

            {% endif %}

            {#Search for a name, service, division, etc#}
            {% if search is not defined %}
                {% set search = "" %}
            {% endif %}
            <form class="navbar-form navbar-left" role="search" id="user-typeahead-serach-form" action="{{ path(employees_sitename~'_home') }}" method="get">
                <div class="form-group">
                    {#<input type="text" class="form-control" placeholder="Search">#}
                    <div id="multiple-datasets-typeahead-search">
                        <input type="text"
                               class="typeahead submit-on-enter-field form-control"
                               name="search" value="{{ search }}"
                               placeholder="Search"
                               style="font-size: 100% !important;"
                        >
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                {#<button class="btn btn-lg" type="submit" style="height: 50px">Search</button>#}
            </form>


            <ul class="nav navbar-nav navbar-right">

                {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                    <li id="nav-bar-admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path(employees_sitename~'_accessrequest_list') }}">Access Requests</a></li>
                            {#<li><a href="{{ path('accountrequest') }}">Account Requests</a></li>#}

                            {% if is_granted('ROLE_USERDIRECTORY_ADMIN') %}
                                <li class="divider"></li>
                                {#<li><a href="{{ path(employees_sitename~'_listusers') }}">Users</a></li>#}
                                <li><a href="{{ path('user_admin_index') }}">List Manager</a></li>
                                <li><a href="{{ path(employees_sitename~'_logger') }}">Event Log</a></li>
                                <li><a href="{{ path(employees_sitename~'_siteparameters') }}">Site Settings</a></li>
                            {% endif %}

                        </ul>
                    </li>

                {% endif %}

                {% if is_granted('ROLE_USER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(employees_sitename~'_showuser', {id:app.security.getToken().getUser().getId()}) }}">My Profile ({{ app.security.getToken().getUser().getUserNameShortStr() }})</a></li>
                            {% endif %}

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(employees_sitename~'_about_page') }}">About</a></li>
                            {% endif %}

                            <li><a href="{{ path(employees_sitename~'_logout') }}">Log Out</a></li>

                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}

