{#   navigation menu   #}

{% macro listUsers(pathlink) %}
    <ul class="dropdown-menu">
        <li><a href="{{ path(pathlink) }}">All Employees</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Employees'}) }}">All WCMC Pathology Employees</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Faculty'}) }}">All WCMC Pathology Faculty</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Clinical Faculty'}) }}">All WCMC Pathology Clinical Faculty</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Research Faculty'}) }}">All WCMC Pathology Research Faculty</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Principal Investigators of Research Labs'}) }}"> - All WCMC Pathology Principal Investigators of Research Labs</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Faculty in Research Labs'}) }}"> - All WCMC Pathology Faculty in Research Labs</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Staff'}) }}">All WCMC Pathology Staff</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All NYP Pathology Staff'}) }}">All NYP Pathology Staff</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC or NYP Pathology Staff in Research Labs'}) }}"> - All WCMC or NYP Pathology Staff in Research Labs</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Anatomic Pathology Faculty'}) }}">All WCMC Anatomic Pathology Faculty</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Laboratory Medicine Faculty'}) }}">All WCMC Laboratory Medicine Faculty</a></li>

        <hr style="margin-bottom:0; margin-top:0;">

        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Residents'}) }}">All WCMC Pathology Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC AP/CP Residents'}) }}"> - All WCMC AP/CP Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC AP Residents'}) }}"> - All WCMC AP Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC AP Only Residents'}) }}"> - All WCMC AP Only Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC CP Residents'}) }}"> - All WCMC CP Residents</a></li>
        <li><a href="{{ path(pathlink,{'filter': 'All WCMC CP Only Residents'}) }}"> - All WCMC CP Only Residents</a></li>

        <li><a href="{{ path(pathlink,{'filter': 'All WCMC Pathology Fellows'}) }}">All WCMC Pathology Fellows</a></li>
    </ul>
{% endmacro %}

{% import _self as usernavbar %}

{% block navbar %}

    {% set pendingadminreview = render(controller("OlegUserdirectoryBundle:User:pendingAdminReview")) %}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}
                <a class="navbar-brand visible-xs" href="{{ path(employees_sitename~'_home') }}">Home</a> <!-- this is for mobile devices - top menu -->
            {% endif %}
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">

            {% if is_granted('ROLE_USERDIRECTORY_OBSERVER') %}

                <ul class="nav navbar-nav">

                    <li id="nav-bar-userhome" class="hidden-xs divider-vertical"><a href="{{ path(employees_sitename~'_home') }}">Home</a></li>

                    <li id="nav-bar-userlist" class="dropdown">
                        {% if pendingadminreview is defined and pendingadminreview > 0 %}
                            <a id="incoming-orders-menu-title" href="#" class="dropdown-toggle" data-toggle="dropdown">List Current<b class="caret"></b></a><!--
                                        --><a id="incoming-orders-menu-badge" class="element-with-tooltip" title="Pending Administrative Review" data-toggle="tooltip" data-placement="bottom" href="{{ path(employees_sitename~'_listusers',{'filter': 'Pending Administrative Review'}) }}"><span class="badge">{{ pendingadminreview }}</span></a>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">List Current<b class="caret"></b></a>
                        {% endif %}
                        {{ usernavbar.listUsers(employees_sitename~'_listusers') }}
                    </li>

                    <li id="nav-bar-userlist-previous" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">List Previous<b class="caret"></b></a>
                        {{ usernavbar.listUsers(employees_sitename~'_listusers_previous') }}
                    </li>

                    {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                        <li id="nav-bar-adduser" class="hidden-xs divider-vertical"><a href="{{ path(employees_sitename~'_new_user') }}">Add Employee</a></li>

                    {% endif %}

                </ul>

            {% endif %}


            <ul class="nav navbar-nav navbar-right">

                {% if is_granted('ROLE_USERDIRECTORY_EDITOR') %}

                    <li id="nav-bar-admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path(employees_sitename~'_accessrequest_list') }}">Access Requests</a></li>
                            {#<li><a href="{{ path('accountrequest') }}">Account Requests</a></li>#}

                            {% if is_granted('ROLE_USERDIRECTORY_ADMIN') %}
                                <li class="divider"></li>
                                {#<li><a href="{{ path(employees_sitename~'_listusers') }}">Users</a></li>#}
                                <li><a href="{{ path('user_admin_index') }}">List Manager</a></li>
                                <li><a href="{{ path(employees_sitename~'_logger') }}">Event Log</a></li>
                                <li><a href="{{ path('siteparameters') }}">Site Settings</a></li>
                            {% endif %}

                        </ul>
                    </li>

                {% endif %}

                {% if is_granted('ROLE_USER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path(employees_sitename~'_showuser', {id:app.security.getToken().getUser().getId()}) }}">My Profile ({{ app.security.getToken().getUser().getUserNameShortStr() }})</a></li>
                            <li><a href="{{ path(employees_sitename~'_logout') }}">Log Out</a></li>
                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}

