{% extends "OlegVacReqBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}
{% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}
{% import "OlegUserdirectoryBundle::Default/userformmacros.html.twig" as userform %}


{% if "show" in cycle %}
    {% set showFlag = true %}
{% else %}
    {% set showFlag = false %}
{% endif %}


{% block title %}
    Pathology Faculty Vacation/Business Travel Request
{% endblock %}



{% block content %}

    <h4 class="text-info" align="center">
        Pathology Faculty Vacation/Business Travel Request
    </h4>

    <br>

    {% if entity.user.id is defined %}
        {{ userform.snapshot_steve(entity.user,'vacreq',cycle) }}
    {% endif %}

    <hr>

    {{ form_start(form,{'attr': {'id': 'vacreq-request-form'}}) }}

        {{ form_errors(form) }}


        {#{{ treemacros.compositeTreeNode(form.institution,cycle,'') }}#}

        {{ formmacros.field(form.user) }}

        {{ formmacros.field(form.approver) }}


        {#Business#}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title" align='center'>
                    {#<a data-toggle="collapse" href="#vacreq-Business">#}
                        {#Business Travel#}
                    {#</a>#}
                    {#{{ vacreqmacros.request_radio_choice( form.requestBusiness ) }}#}
                    <div class="row">
                        <div class="col-xs-6" align="right">
                            <a data-toggle="collapse" href="#vacreq-Business">
                                Business Travel
                            </a>
                        </div>
                        <div class="col-xs-6" align="left">
                            {{ vacreqmacros.request_radio_choice( form.requestBusiness ) }}
                        </div>
                    </div>
                </h4>
            </div>
            <div id="vacreq-Business" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ formmacros.fieldDateLabel(form.requestBusiness.startDate,'allow-future-date') }}
                    {{ formmacros.fieldDateLabel(form.requestBusiness.endDate,'allow-future-date') }}
                    {{ formmacros.field(form.requestBusiness.numberOfDays) }}
                    {{ formmacros.fieldDateLabel(form.requestBusiness.firstDayBackInOffice,'allow-future-date') }}
                    {{ formmacros.field(form.requestBusiness.expenses) }}
                    {{ formmacros.checkbox(form.requestBusiness.paidByOutsideOrganization) }}
                    {{ formmacros.field(form.requestBusiness.description) }}

                    {#{{ vacreqmacros.request_radio_choice( form.requestBusiness ) }}#}
                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->


        {#Vacation#}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {#<a data-toggle="collapse" href="#vacreq-Vacation">#}
                        {#Vacation Travel#}
                    {#</a>#}
                    {#{{ vacreqmacros.request_radio_choice( form.requestVacation ) }}#}
                    <div class="row">
                        <div class="col-xs-6" align="right">
                            <a data-toggle="collapse" href="#vacreq-Vacation">
                                Vacation Travel
                            </a>
                        </div>
                        <div class="col-xs-6" align="left">
                            {{ vacreqmacros.request_radio_choice( form.requestVacation ) }}
                        </div>
                    </div>
                </h4>
            </div>
            <div id="vacreq-Vacation" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ formmacros.fieldDateLabel(form.requestVacation.startDate,'allow-future-date') }}
                    {{ formmacros.fieldDateLabel(form.requestVacation.endDate,'allow-future-date') }}
                    {{ formmacros.field(form.requestVacation.numberOfDays) }}
                    {{ formmacros.fieldDateLabel(form.requestVacation.firstDayBackInOffice,'allow-future-date') }}
                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->


        {#{{ formmacros.fieldDateLabel(form.credentials.dob,'allow-future-date') }}#}

        {#Emergency#}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Emergency">
                        Emergency Contact Info (optional)
                    </a>
                </h4>
            </div>
            <div id="Emergency" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ formmacros.field(form.availabilities) }}
                    {{ formmacros.field(form.emergencyCellPhone) }}
                    {{ formmacros.field(form.emergencyOther) }}
                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->

        {% if form.status is defined %}
            {{ formmacros.field(form.status) }}
        {% endif %}

    {{ form_end(form) }}

    <br>

    <div id="error-box" class="alert alert-danger" style="display: none"></div>

    <br>

    {% if cycle == "new" %}
        <p>
            <button class="btn btn-warning" name="btnCreate" type="button" onclick="validateVacReqForm()">Create</button>
        </p>
    {% endif %}

    {% if cycle == "edit" %}
        <p>
            <button class="btn btn-warning" name="btnUpdate" type="button" onclick="validateVacReqForm()">Update</button>
            <a class="btn btn-primary" href="{{ path(vacreq_sitename~'_show',{'id':entity.id}) }}">Cancel</a>
        </p>
    {% endif %}

    {% if cycle == "show" %}
        <p>
            <a class="btn_margin_top btn btn-primary" href="{{ path(vacreq_sitename~'_edit',{'id':entity.id}) }}">Edit</a>
        </p>
    {% endif %}

{% endblock %}


{% block additionaljs %}

    <script language="Javascript">

        $(document).ready(function() {

            vacreqDateListener();

        });

        function vacreqDateListener() {

            $('.vacreq-startDate,.vacreq-endDate').on("change", function(e) {
                //vacreqUpdateDaysAndFirstday(this);

                var holder = $(this).closest('.panel-body');

                var startDate = holder.find('.vacreq-startDate').first().datepicker('getDate');
                var endDate = holder.find('.vacreq-endDate').first().datepicker('getDate');
                //console.log('startDate=('+startDate+')' + ', endDate=('+endDate+')');

                //get working days difference
                if( startDate && endDate ) {

                    //var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
                    //var diffDays = 1 + Math.round(Math.abs((startDate.getTime() - endDate.getTime())/(oneDay)));
                    var diffWorkingDays = calculateWorkingDays(startDate,endDate);
                    //console.log('diffWorkingDays='+diffWorkingDays);

                    if( diffWorkingDays > 0 ) {
                        //numberOfDays
                        holder.find('.vacreq-numberOfDays').first().val(diffWorkingDays);

                        //firstDayBackInOffice
                        var nextWorkingDay = getNextWorkingDay(endDate);
                        //console.log('nextWorkingDay='+nextWorkingDay);
                        holder.find('.vacreq-firstDayBackInOffice').first().datepicker('setDate', nextWorkingDay);
                    }

                }//if

            });

        }

        // Count days from d0 to d1 inclusive, excluding Fridays and Saturdays
        function calculateWorkingDays( startDate, endDate )  {
            var days = 0;
            for( var i = startDate; i <= endDate; i.setDate(i.getDate() + 1) ) {
                if( i.getDay() != 6 && i.getDay() != 0 ) {
                    days = days + 1;
                }
            }
            return days;
        }



        function getNextWorkingDay( endDate )  {
            var finishDate = new Date();
            finishDate.setDate(endDate.getDate()+7);
            //console.log('finishDate='+finishDate+", day="+finishDate.getDay());

            var nextWorkingDay = new Date();
            nextWorkingDay.setDate(endDate.getDate()+1);

            for( nextWorkingDay; nextWorkingDay <= finishDate; nextWorkingDay.setDate(nextWorkingDay.getDate() + 1) ) {
                //console.log('nextWorkingDay='+nextWorkingDay+", day="+nextWorkingDay.getDay());
                if( nextWorkingDay.getDay() != 6 && nextWorkingDay.getDay() != 0 ) {
                    return nextWorkingDay;
                }
            }
            return null;
        }

        function validateVacReqForm() {

            $('#error-box').hide();

            var error = null;

            var userData = $('.vacreq-user').first().select2('data');
            if( !error && !userData ) {
                error = "Please choose a requester";
            }

            var approverData = $('.vacreq-approver').first().select2('data');
            if( !error && !approverData ) {
                error = "Please choose an approver";
            }

            var businessRequest = $('#vacreq-Business');
            var vacationRequest = $('#vacreq-Vacation');

            var startDateBusiness = businessRequest.find('.vacreq-startDate').first().val();
            var endDateBusiness = businessRequest.find('.vacreq-endDate').first().val();
            //console.log('startDateBusiness=('+startDateBusiness+')' + 'endDateBusiness=('+endDateBusiness+')');

            var startDateVacation = vacationRequest.find('.vacreq-startDate').first().val();
            var endDateVacation = vacationRequest.find('.vacreq-endDate').first().val();
            //console.log('startDateVacation=('+startDateVacation+')' + 'endDateVacation=('+endDateVacation+')');

            if( !error && !startDateBusiness && !startDateVacation ) {
                error = "Please fill in the Start Date";
            }

            //console.log('endDate=('+endDate+')');
            if( !error && !endDateBusiness && !endDateVacation ) {
                error = "Please fill in the End Date";
            }

            //Business
            if( !error && startDateBusiness && endDateBusiness ) {

                var numberOfDays = businessRequest.find('.vacreq-numberOfDays').first().val();
                if( !error && !numberOfDays ) {
                    error = "Please fill in the number of days";
                }

                var expenses = businessRequest.find('.vacreq-expenses').first().val();
                if( !error && !expenses ) {
                    error = "Please fill in the estimated expenses";
                }

                var description = businessRequest.find('.vacreq-description').first().val();
                if( !error && !description ) {
                    error = "Please fill in the description";
                }

            }

            //Vacation
            if( !error && startDateVacation && endDateVacation ) {

                var numberOfDays = vacationRequest.find('.vacreq-numberOfDays').first().val();
                if( !error && !numberOfDays ) {
                    error = "Please fill in the number of days";
                }

                var firstDayBackInOffice = vacationRequest.find('.vacreq-firstDayBackInOffice').first().val();
                if( !error && !firstDayBackInOffice ) {
                    error = "Please fill in the first day back in office";
                }

            }

            //console.log('error='+error);

            if( error ) {
                $('#error-box').html(error);
                $('#error-box').show();
                return false;
            }

            $('#vacreq-request-form').submit();
        }

    </script>
{% endblock %}