{% extends "OlegVacReqBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    {% if totalApprovedDaysString is defined and totalApprovedDaysString %}
        <div class="alert alert-success">
            <p>{{ totalApprovedDaysString }}</p>
        </div>
    {% endif %}

    <h4 class="text-info" align="center">
        {#Pathology Faculty Vacation/Business Travel Requests#}
        {{ title }}
    </h4>


    {% set filterCount = 2 %}


    {#<p>#}
    <form action="{{ path(routename) }}" method="get" {{ form_enctype(vacreqfilter) }} class="well form-search">

        <p>
        <div class="row">
            {#<div class="col-xs-12" align="left">#}

                {#<div style="width: 8%">#}
                {#<div class="input-group input-group-reg date allow-future-date">#}
                    {#{{ form_widget(vacreqfilter.startdate) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
                {#&nbsp;&nbsp;#}
                {#</div>#}

                {#<div style="width: 8%">#}
                {#<div class="input-group input-group-reg date allow-future-date">#}
                    {#{{ form_widget(vacreqfilter.enddate) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
                {#&nbsp;&nbsp;#}
                {#</div>#}

                {#{% if vacreqfilter.requestType is defined %}#}
                    {#{{ form_row(vacreqfilter.requestType) }}#}
                    {#&nbsp;&nbsp;#}
                {#{% endif %}#}

                {#{% if vacreqfilter.user is defined %}#}
                    {#{{ form_row(vacreqfilter.user) }}#}
                    {#&nbsp;&nbsp;#}
                {#{% endif %}#}

                {#{% if vacreqfilter.submitter is defined %}#}
                    {#{{ form_row(vacreqfilter.submitter) }}#}
                    {#&nbsp;&nbsp;#}
                {#{% endif %}#}

                {#{% if vacreqfilter.organizationalInstitutions is defined %}#}
                    {#{{ form_row(vacreqfilter.organizationalInstitutions) }}#}
                    {#&nbsp;&nbsp;#}
                {#{% endif %}#}

                {#{% if requestTypeAbbreviation != 'carryover' %}#}
                    {#{% if vacreqfilter.academicYear is defined %}#}
                        {#{{ form_row(vacreqfilter.academicYear) }}#}
                        {#&nbsp;&nbsp;#}
                    {#{% endif %}#}
                {#{% endif %}#}

                {#<button type="submit" class="btn btn-sm btn-default">Filter</button>#}
                {#&nbsp;&nbsp;#}
            {#</div>#}

            <div class="col-xs-1">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.startdate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-1">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.enddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            {% if vacreqfilter.requestType is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.requestType) }}
                </div>
                {% set filterCount = filterCount + 2 %}
            {% endif %}

            {% if vacreqfilter.user is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.user) }}
                </div>
                {% set filterCount = filterCount + 2 %}
            {% endif %}

            {% if vacreqfilter.submitter is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.submitter) }}
                </div>
                {% set filterCount = filterCount + 2 %}
            {% endif %}

            {% if vacreqfilter.organizationalInstitutions is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.organizationalInstitutions) }}
                </div>
                {% set filterCount = filterCount + 2 %}
            {% endif %}

            {% if filterCount >= 12 %}
                {#<div style="margin-top: 3px;">#}
                {#<p>#}
            {% endif %}

            {% if requestTypeAbbreviation != 'carryover' %}
                {% if vacreqfilter.academicYear is defined %}
                    <div class="col-xs-1">
                        {{ form_row(vacreqfilter.academicYear) }}
                    </div>
                    {#{% set filterCount = filterCount + 1 %}#}
                {% endif %}
            {% endif %}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>

            {% if filterCount >= 12 %}
                {#</div>#}
                {#</p>#}
            {% endif %}

            </div>
        </p>

        <br>

        <p>
        <div class="row">
            <div class="col-xs-12" align="left">

                {% if requestTypeAbbreviation != 'carryover' %}
                    {{ vacreqmacros.checkbox(vacreqfilter.businessRequest) }}
                    &nbsp;&nbsp;
                    {{ vacreqmacros.checkbox(vacreqfilter.vacationRequest) }}
                    &nbsp;&nbsp;
                {% endif %}

                {#&nbsp;&nbsp;#}
                {#{{ vacreqmacros.checkbox(vacreqfilter.completed) }}#}

                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.pending) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.approved) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.rejected) }}
            </div>
        </div>
        </p>

        {{ form_rest(vacreqfilter) }}

    </form>
    {#</p>#}

    {% if routename == 'vacreq_incomingrequests' %}
        {% if requestTypeAbbreviation == 'carryover' %}
            {% set colspanRequestInfo = 5 %}
        {% else %}
            {% set colspanRequestInfo = 8 %}
        {% endif %}
        {% set showUserInfo = true %}
    {% else %}
        {% if requestTypeAbbreviation == 'carryover' %}
            {% set colspanRequestInfo = 3 %}
        {% else %}
            {% set colspanRequestInfo = 6 %} {#2 fields less#}
        {% endif %}
        {% set showUserInfo = false %}
    {% endif %}

    {#requestTypeAbbreviation={{ requestTypeAbbreviation }}#}

    <table class="records_list table table-hover table-condensed text-left table-bordered">
        <thead>
        <tr>
            <th colspan="{{ colspanRequestInfo }}" class="text-center table-header-grey-gradient">
                Request Info
            </th>

            {% if requestTypeAbbreviation != 'carryover' %}
                {% if showUserInfo %}
                    <th colspan="2" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                        Total prior approved away days in corresponding academic year
                    </th>
                {% endif %}
            {% endif %}

            {% if requestTypeAbbreviation == 'carryover' %}
                <th colspan="4" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                    Carry Over
                </th>
            {% else %}
                <th colspan="5" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                    Business Travel
                </th>
                <th colspan="4" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                    Vacation
                </th>
            {% endif %}

            <th rowspan="1" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                Action
            </th>
        </tr>

        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Request ID', 'request.id') }}</th>

            {% if requestTypeAbbreviation != 'carryover' %}
                <th>{{ knp_pagination_sortable(pagination, 'Academic Year', 'request.createDate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Total Days', 'thisRequestTotalDays') }}</th>
            {% endif %}

            <th>{{ knp_pagination_sortable(pagination, 'Date Submitted', 'request.createDate') }}</th>

            {% if showUserInfo %}
                <th>
                    {{ knp_pagination_sortable(pagination, 'Person Away', 'infos.displayName') }}
                </th>
            {% endif %}

            <th>{{ knp_pagination_sortable(pagination, 'Group', 'institution.name') }}</th>

            {% if showUserInfo %}
                <th>{{ knp_pagination_sortable(pagination, 'Date Status Changed', 'request.approvedRejectDate') }}</th>
            {% endif %}

            {% if requestTypeAbbreviation != 'carryover' %}
                <th>{{ knp_pagination_sortable(pagination, 'First Day Back in Office', 'request.firstDayBackInOffice') }}</th>
            {% endif %}

            {% if requestTypeAbbreviation != 'carryover' %}
                {% if showUserInfo %}
                    {#Total prior approved away days this academic year#}
                    <th style="border-left: 2px solid gray;">
                        Business Travel
                    </th>
                    <th>
                        Vacation
                    </th>
                {% endif %}
            {% endif %}

            {% if requestTypeAbbreviation == 'carryover' %}
                {{ vacreqmacros.request_carryover_base_header( pagination, 'request' ) }}
            {% else %}
                {{ vacreqmacros.request_base_header( pagination, 'requestBusiness' ) }}
                {{ vacreqmacros.request_base_header( pagination, 'requestVacation' ) }}
            {% endif %}

            <th style="border-left: 2px solid gray;">
                {#Actions#}
            </th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for object in pagination %}

            {% set entity = object['object'] %}

            <tr>

                <td>
                    <a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    {% if entity.getUser().getId() != entity.getSubmitter().getId() and entity.getSubmitter().getId() == app.security.getToken().getUser().getId() %}
                        S
                    {% endif %}
                </td>

                {% if requestTypeAbbreviation != 'carryover' %}
                    <td>
                        {#2014-2015, 2015-2016#}
                        {% for academicYear in vacreq_util.getRequestAcademicYears(entity) %}
                            {{ academicYear }}
                            {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {{ object['thisRequestTotalDays'] }}
                    </td>
                {% endif %}

                <td>{% if entity.createDate %}{{ entity.createDate|date('m/d/Y H:i:s') }}{% endif %}</td>

                {% if showUserInfo %}
                    <td class="rowlink-skip">
                        {% if entity.user %}
                            {{ vacreqmacros.personAwayInfo(entity.user,entity.phone,vacreq_sitename) }}
                        {% endif %}
                    </td>
                {% endif %}

                <td>
                    {% if entity.institution %}
                        {{ entity.institution }}
                    {% endif %}
                </td>

                {% if showUserInfo %}
                    <td>
                        {% if entity.approvedRejectDate %}
                            {{ entity.approvedRejectDate|date('m/d/Y H:i:s') }}
                        {% endif %}
                    </td>
                {% endif %}

                {% if requestTypeAbbreviation != 'carryover' %}
                    <td>
                        {% if entity.firstDayBackInOffice %}
                            {{ entity.firstDayBackInOffice|date('m/d/Y','UTC') }}
                        {% endif %}
                    </td>
                {% endif %}

                {% if requestTypeAbbreviation != 'carryover' %}
                    {% if showUserInfo %}
                        {#Total prior approved away days this academic year#}
                        <td style="border-left: 2px solid gray;">
                            {% if entity.requestBusiness %}
                                {#{{ entity.requestBusiness.numberOfDays }}#}
                                {{ vacreq_util.getPriorApprovedDays(entity,'requestBusiness') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.requestVacation %}
                                {#{{ entity.requestVacation.numberOfDays }}#}
                                {{ vacreq_util.getPriorApprovedDays(entity,'requestVacation') }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endif %}

                {% if requestTypeAbbreviation == 'carryover' %}
                    {{ vacreqmacros.request_carryover_base_body( entity, 'request' ) }}
                {% else %}
                    {{ vacreqmacros.request_base_body( entity.requestBusiness, 'requestBusiness' )  }}
                    {{ vacreqmacros.request_base_body( entity.requestVacation, 'requestVacation' )  }}
                {% endif %}

                {#Action#}
                <td class="rowlink-skip" style="border-left: 2px solid gray;">

                    {#<p>#}
                        {#<a class="btn-sm btn-default" href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">User Details</a>#}
                    {#</p>#}

                    {% if routename == 'vacreq_incomingrequests' %}

                        {{ vacreqmacros.vacreq_action( entity, vacreq_sitename ) }}

                    {% else %}
                        {#<p>#}
                            {#<a class="btn-sm btn-info" href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">View</a>#}
                        {#</p>#}

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li>
                                    <a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">View</a>
                                </li>

                                {% if entity.status == 'pending' or entity.getOverallStatus() == 'pending' %}
                                    <li class="divider">
                                    <li>
                                        <a
                                        general-data-confirm="Are you sure you would like to Cancel this entire request for {{ entity.user }}?"
                                        href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'canceled' }) }}">
                                            Cancel (withdraw entire request)
                                        </a>
                                    </li>
                                {% endif %}

                                {% if entity.status == 'canceled' %}
                                    <li class="divider">
                                    <li>
                                        <a
                                        general-data-confirm="Are you sure you would like to Re-Submit this entire request for {{ entity.user }}?"
                                        href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'pending' }) }}">
                                            Re-Submit
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>

                        </div>

                    {% endif %}



                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}



{% block additionaljs %}

    {#{% javascripts#}
    {#'@OlegFellAppBundle/Resources/public/form/js/interview-modal.js'#}
    {#'@OlegFellAppBundle/Resources/public/form/js/rank-modal.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script language="Javascript">

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip({html: true});

            var target = ".datepicker-only-year";
            var datefilter = $(target).datepicker( {
                autoclose: true,
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years",
                orientation: 'auto'
            });

        });

    </script>

{% endblock %}