{% extends "OlegVacReqBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    {% if totalApprovedDaysString is defined and totalApprovedDaysString %}
        <div class="alert alert-success">
            <p>{{ totalApprovedDaysString }}</p>
        </div>
    {% endif %}

    <h4 class="text-info" align="center">
        {#Pathology Faculty Vacation/Business Travel Requests#}
        {{ title }}
    </h4>


    {#<p>#}
    <form action="{{ path(routename) }}" method="get" {{ form_enctype(vacreqfilter) }} class="well form-search">

        <p>
        <div class="row">

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.startdate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.enddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            {% if vacreqfilter.user is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.user) }}
                </div>
            {% endif %}

            {% if vacreqfilter.submitter is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.submitter) }}
                </div>
            {% endif %}

            {% if vacreqfilter.organizationalInstitutions is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.organizationalInstitutions) }}
                </div>
            {% endif %}

            {% if vacreqfilter.academicYear is defined %}
                <div class="col-xs-1">
                    {#<div class="input-group input-group-reg date allow-future-date">#}
                    <div class="input-group date allow-future-date">
                        {{ form_widget(vacreqfilter.academicYear) }}
                        {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                    </div>
                </div>
            {% endif %}

            {#<div class="col-xs-2">#}
                {#{{ form_row(vacreqfilter.year) }}#}
            {#</div>#}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>

        </div>
        </p>

        <br>

        <p>
        <div class="row">
            <div class="col-xs-12" align="left">

                {#{{  form_row(vacreqfilter.submitter) }}#}
                {#&nbsp;&nbsp;#}

                {#{{  form_row(vacreqfilter.institutionGroup) }}#}
                {#&nbsp;&nbsp;#}

                {#<div class="input-group input-group-reg date allow-future-date">#}
                    {#{{ form_widget(vacreqfilter.academicYear) }}#}
                    {#<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>#}
                {#</div>#}
                {#&nbsp;&nbsp;#}

                {{ vacreqmacros.checkbox(vacreqfilter.businessRequest) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.vacationRequest) }}
                &nbsp;&nbsp;

                {#&nbsp;&nbsp;#}
                {#{{ vacreqmacros.checkbox(vacreqfilter.completed) }}#}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.pending) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.approved) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.rejected) }}
            </div>
        </div>
        </p>

        {{ form_rest(vacreqfilter) }}

    </form>
    {#</p>#}

    {% if routename == 'vacreq_incomingrequests' %}
        {% set colspanRequestInfo = 8 %}
        {% set showUserInfo = true %}
    {% else %}
        {% set colspanRequestInfo = 7 %} {#1 fields less#}
        {% set showUserInfo = false %}
    {% endif %}

    <table class="records_list table table-hover table-condensed text-left table-bordered">
        <thead>
        <tr>
            <th colspan="{{ colspanRequestInfo }}" class="text-center table-header-grey-gradient">
                Request Info
            </th>

            {% if showUserInfo %}
            <th colspan="2" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                Total prior approved away days in corresponding academic year
            </th>
            {% endif %}

            <th colspan="5" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                Business Travel
            </th>

            <th colspan="4" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                Vacation
            </th>

            <th rowspan="1" class="text-center table-header-grey-gradient" style="border-left: 2px solid gray;">
                Action
            </th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Request ID', 'request.id') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Academic Year', 'request.createDate') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Total Days', 'thisRequestTotalDays') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Date Submitted', 'request.firstDayBackInOffice') }}</th>

            {% if showUserInfo %}
            <th>
                {#displayName#}
                {{ knp_pagination_sortable(pagination, 'Person Away', 'infos.displayName') }}
            </th>

            {#<th>Photo</th>#}

            {#<th>{{ knp_pagination_sortable(pagination, 'Email', 'user.email') }}</th>#}

            {#<th>#}
                {#{{ knp_pagination_sortable(pagination, 'Phone', 'infos.preferredPhone') }}#}
                {#{{ knp_pagination_sortable(pagination, 'Phone', 'request.phone') }}#}
            {#</th>#}
            {% endif %}

            <th>{{ knp_pagination_sortable(pagination, 'Group', 'institution.name') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Date Status Changed', 'request.approvedRejectDate') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'First Day Back in Office', 'request.firstDayBackInOffice') }}</th>

            {% if showUserInfo %}
            {#Total prior approved away days this academic year#}
            <th style="border-left: 2px solid gray;">
                {#{{ knp_pagination_sortable(pagination, 'Business Travel', 'requestBusiness.numberOfDays') }}#}
                Business Travel
            </th>
            <th>
                {#{{ knp_pagination_sortable(pagination, 'Vacation', 'requestVacation.numberOfDays') }}#}
                Vacation
            </th>
            {% endif %}

            {{ vacreqmacros.request_base_header( pagination, 'requestBusiness' ) }}
            {#<th>{{ knp_pagination_sortable(pagination, 'Estimated Expenses', 'requestBusiness.expenses') }}</th>#}
            {#<th>{{ knp_pagination_sortable(pagination, 'Description', 'requestBusiness.description') }}</th>#}
            {#<th>{{ knp_pagination_sortable(pagination, 'Paid by Outside Organization', 'requestBusiness.paidByOutsideOrganization') }}</th>#}

            {{ vacreqmacros.request_base_header( pagination, 'requestVacation' ) }}

            <th style="border-left: 2px solid gray;">
                {#Actions#}
            </th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for object in pagination %}

            {% set entity = object['object'] %}

            {#Set row color#}
            {% set trclassname = "" %}
            {#{% if entity.getOverallStatus() == 'pending' %}#}
                {#{% set trclassname = "order-interviewee-status" %}#}
            {#{% endif %}#}
            {#{% if entity.getOverallStatus() == 'approved' %}#}
                {#{% set trclassname = "info" %}#}
            {#{% endif %}#}
            {#{% if entity.getOverallStatus() == 'completed' %}#}
                {#{% set trclassname = "order-neutral-status" %}#}
            {#{% endif %}#}
            {#EOF Set row color#}

            <tr class="{{ trclassname }}">

                <td>
                    <a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                </td>

                <td>
                    {#2014-2015, 2015-2016#}
                    {#{{ vacreq_util.getRequestAcademicYears(entity) }}#}
                    {% for academicYear in vacreq_util.getRequestAcademicYears(entity) %}
                        {{ academicYear }}
                        {% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </td>

                <td>
                    {#{{ entity.getTotalDays() }}#}
                    {{ object['thisRequestTotalDays'] }}
                </td>

                <td>{% if entity.createDate %}{{ entity.createDate|date('m/d/Y H:i:s') }}{% endif %}</td>

                {% if showUserInfo %}
                <td class="rowlink-skip">
                    {% if entity.user %}
                        {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">{{ entity.user.displayName() }}</a>#}
                        {#{% set singleEmail = entity.user.getSingleEmail %}#}
                        {#{% if singleEmail %}#}
                            {#<a href="mailto:{{ singleEmail }}" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>#}
                        {#{% endif %}#}

                        {{ vacreqmacros.personAwayInfo(entity,vacreq_sitename) }}
                    {% endif %}
                </td>

                {#<td class="rowlink-skip">#}
                    {#<div style="height: 60px; width: 60px;">#}
                        {#{% if is_granted('ROLE_PLATFORM_DEMO') %}#}
                            {#{% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}#}
                            {#<img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">#}
                        {#{% else %}#}
                            {#{% if entity.user.avatar %}#}
                                {#{{ usermacros.showDocumentAsImage(entity.user.avatar,'Avatar','') }}#}
                            {#{% else %}#}
                                {#{% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}#}
                                {#<img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    {#</div>#}
                {#</td>#}

                {#<td>#}
                    {#{% set singleEmail = entity.user.getSingleEmail %}#}
                    {#{% if singleEmail %}#}
                        {#<a href="mailto:{{ singleEmail }}" target="_top">{{ singleEmail }}</a>#}
                    {#{% endif %}#}
                {#</td>#}

                {#<td class="rowlink-skip">#}
                    {#{% set preferredPhone = entity.user.getPreferredPhone %}#}
                    {#{% if preferredPhone %}#}
                        {#{{ usermacros.phoneHref(preferredPhone) }}#}
                    {#{% endif %}#}
                    {#{% if entity.phone %}#}
                        {#{{ usermacros.phoneHref(entity.phone) }}#}
                    {#{% endif %}#}
                {#</td>#}
                {% endif %}

                <td>
                    {% if entity.institution %}
                        {{ entity.institution }}
                    {% endif %}
                </td>

                <td>
                    {% if entity.approvedRejectDate %}
                        {{ entity.approvedRejectDate|date('m/d/Y H:i:s') }}
                    {% endif %}
                </td>

                <td>
                    {% if entity.firstDayBackInOffice %}
                        {{ entity.firstDayBackInOffice|date('m/d/Y','UTC') }}
                    {% endif %}
                </td>

                {% if showUserInfo %}
                {#Total prior approved away days this academic year#}
                <td style="border-left: 2px solid gray;">
                    {% if entity.requestBusiness %}
                        {#{{ entity.requestBusiness.numberOfDays }}#}
                        {{ vacreq_util.getPriorApprovedDays(entity,'requestBusiness') }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.requestVacation %}
                        {#{{ entity.requestVacation.numberOfDays }}#}
                        {{ vacreq_util.getPriorApprovedDays(entity,'requestVacation') }}
                    {% endif %}
                </td>
                {% endif %}


                {{ vacreqmacros.request_base_body( entity.requestBusiness, 'requestBusiness' )  }}

                {{ vacreqmacros.request_base_body( entity.requestVacation, 'requestVacation' )  }}

                {#Action#}
                <td class="rowlink-skip" style="border-left: 2px solid gray;">

                    {#<p>#}
                        {#<a class="btn-sm btn-default" href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">User Details</a>#}
                    {#</p>#}

                    {% if routename == 'vacreq_incomingrequests' %}

                        {{ vacreqmacros.vacreq_action( entity, vacreq_sitename ) }}

                    {% else %}
                        {#<p>#}
                            {#<a class="btn-sm btn-info" href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">View</a>#}
                        {#</p>#}

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li>
                                    <a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">View</a>
                                </li>

                                {% if entity.status == 'pending' or entity.getOverallStatus() == 'pending' %}
                                    <li class="divider">
                                    <li>
                                        <a
                                        general-data-confirm="Are you sure you would like to Cancel this entire request for {{ entity.user }}?"
                                        href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'canceled' }) }}">
                                            Cancel (withdraw entire request)
                                        </a>
                                    </li>
                                {% endif %}

                                {% if entity.status == 'canceled' %}
                                    <li class="divider">
                                    <li>
                                        <a
                                        general-data-confirm="Are you sure you would like to Re-Submit this entire request for {{ entity.user }}?"
                                        href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'pending' }) }}">
                                            Re-Submit
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>

                        </div>

                    {% endif %}



                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}



{% block additionaljs %}

    {% javascripts
    '@OlegFellAppBundle/Resources/public/form/js/interview-modal.js'
    '@OlegFellAppBundle/Resources/public/form/js/rank-modal.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script language="Javascript">

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip({html: true});

            var target = ".datepicker-only-year";
            var datefilter = $(target).datepicker( {
                autoclose: true,
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years",
                orientation: 'auto'
            });

        });

    </script>

{% endblock %}