{% extends "OlegVacReqBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegVacReqBundle::Default/vacreqmacros.html.twig" as vacreqmacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {#Pathology Faculty Vacation/Business Travel Requests#}
        {{ title }}
    </h4>

    <p>
    <form action="{{ path(routename) }}" method="get" {{ form_enctype(vacreqfilter) }} class="well form-search">

        <div class="row">
            <div class="col-xs-12">

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.startdate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.enddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-6">
                {{ form_row(vacreqfilter.user) }}
            </div>

            {#<div class="col-xs-2">#}
                {#{{ form_row(vacreqfilter.year) }}#}
            {#</div>#}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>

            </div>
        </div>


        {{ form_rest(vacreqfilter) }}
    </form>
    </p>



    <table class="records_list table table-hover table-condensed text-left table-bordered">
        <thead>
        <tr>
            <th colspan="6" class="text-center table-header-grey-gradient">
                Requester Info
            </th>

            <th colspan="8" class="text-center table-header-grey-gradient">
                Business Travel
            </th>

            <th colspan="5" class="text-center table-header-grey-gradient">
                Vacation
            </th>

            <th rowspan="1" class="text-center table-header-grey-gradient">
                Action
            </th>
        </tr>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Request ID', 'request.id') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Submitted Date', 'request.createDate') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Faculty', 'infos.displayName') }}</th>

            <th>Photo</th>

            <th>{{ knp_pagination_sortable(pagination, 'Email', 'user.email') }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'Phone', 'infos.preferredPhone') }}</th>

            {{ vacreqmacros.request_base_header( pagination, 'requestBusiness' ) }}
            <th>{{ knp_pagination_sortable(pagination, 'Estimated Expenses', 'requestBusiness.expenses') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Description', 'requestBusiness.description') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Paid by Outside Organization', 'requestBusiness.paidByOutsideOrganization') }}</th>

            {{ vacreqmacros.request_base_header( pagination, 'requestVacation' ) }}

            <th>
                {#Actions#}
            </th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for entity in pagination %}

            {#Set row color#}
            {% set trclassname = "" %}
            {% if entity.getOverallStatus() == 'pending' %}
                {% set trclassname = "order-interviewee-status" %}
            {% endif %}
            {#{% if entity.getOverallStatus() == 'approved' %}#}
                {#{% set trclassname = "info" %}#}
            {#{% endif %}#}
            {% if entity.getOverallStatus() == 'rejected' %}
                {% set trclassname = "order-reject-status" %}
            {% endif %}
            {#EOF Set row color#}

            <tr class="{{ trclassname }}">

                <td>
                    <a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                </td>

                <td>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td class="rowlink-skip">
                    {% if entity.user %}
                        <a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">{{ entity.user.displayName() }}</a>
                    {% endif %}
                </td>

                <td class="rowlink-skip">
                    <div style="height: 60px; width: 60px;">
                        {% if is_granted('ROLE_PLATFORM_DEMO') %}
                            {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                            <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                        {% else %}
                            {% if entity.user.avatar %}
                                {{ usermacros.showDocumentAsImage(entity.user.avatar,'Avatar','') }}
                            {% else %}
                                {% set avatarImage = asset('bundles/oleguserdirectory/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                                <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                            {% endif %}
                        {% endif %}
                    </div>
                </td>

                <td>
                    {% set singleEmail = entity.user.getSingleEmail %}
                    {% if singleEmail %}
                        <a href="mailto:{{ singleEmail }}" target="_top">{{ singleEmail }}</a>
                    {% endif %}
                </td>

                <td class="rowlink-skip">
                    {% set preferredPhone = entity.user.getPreferredPhone %}
                    {% if preferredPhone %}
                        {{ usermacros.phoneHref(preferredPhone) }}
                    {% endif %}
                </td>

                {{ vacreqmacros.request_base_body( entity.requestBusiness )  }}
                <td>
                    {% if entity.requestBusiness and entity.requestBusiness.expenses %}
                        {{ entity.requestBusiness.expenses }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.requestBusiness and entity.requestBusiness.description %}
                        {#{{ entity.requestBusiness.description }}#}
                        <div class="textarea_widget">
                            <textarea class="textarea form-control">{{ entity.requestBusiness.description }}</textarea>
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if entity.requestBusiness and entity.requestBusiness.paidByOutsideOrganization %}
                        {% if entity.requestBusiness.paidByOutsideOrganization %}
                            yes
                        {% else %}
                            no
                        {% endif %}
                    {% endif %}
                </td>

                {{ vacreqmacros.request_base_body( entity.requestVacation )  }}

                {#Action#}
                <td class="rowlink-skip">

                    {#<p>#}
                        {#<a class="btn-sm btn-default" href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">User Details</a>#}
                    {#</p>#}

                    {% if routename == 'vacreq_incomingrequests' %}
                        <p>
                            <a class="btn-sm btn-info" href="{{ path(vacreq_sitename~'_review', { 'id': entity.id }) }}">Review</a>
                        </p>
                    {% else %}
                        <p>
                            <a class="btn-sm btn-info" href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">View</a>
                        </p>
                    {% endif %}

                    {#<div class="btn-group">#}
                        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
                            {#Action <span class="caret"></span>#}
                        {#</button>#}

                        {#<ul class="dropdown-menu dropdown-menu-right">#}

                            {#<li><a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}">View User Details</a></li>#}

                            {#<li>#}
                                {#<a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}">Review</a>#}
                            {#</li>#}

                            {#<li class="divider"></li>#}

                            {#{% if entity.status != 'pending' %}#}
                                {#<li>#}
                                    {#<a#}
                                        {#general-data-confirm="Are you sure you would like to set the request status for {{ entity.user }} to Pending?"#}
                                        {#href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'status': 'pending' }) }}">Set to Pending#}
                                    {#</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                            {#{% if entity.status != 'approved' %}#}
                                {#<li>#}
                                    {#<a#}
                                        {#general-data-confirm="Are you sure you would like to Approve the request for {{ entity.user }}?"#}
                                        {#href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'status': 'approved' }) }}">Approve#}
                                    {#</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                            {#{% if entity.status != 'declined' %}#}
                                {#<li>#}
                                    {#<a#}
                                        {#general-data-confirm="Are you sure you would like to Decline the request for {{ entity.user }}?"#}
                                        {#href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'status': 'declined' }) }}">Decline#}
                                    {#</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                        {#</ul>#}

                    {#</div>#}

                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}

