{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}



<!DOCTYPE html>

<html>

<head>

    {#{% stylesheets#}
    {#'bundles/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
    {#'bundles/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
    {#'bundles/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />

    <title>{{ title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ asset('glyphicons-157-show-thumbnails.png') }}" />

</head>


<body>

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

<div class="container">

    <div class="text-center">

        {#{% include 'AppUserdirectoryBundle/Default/navbar.html.twig' with {'minimum': true} %}#}

        <h3 class="alert alert-info 1well-lg safary-fix" align="center">{{ title }}</h3>

        <br>

        {% if mobilePhoneVerified %}
            <p class="text-success">Mobile phone number is already verified</p>
        {% else %}

            <div class="row">

                <div class="col-md-4">
                </div>

                <div class="col-md-4">

                    <p class="text-danger">{{ message|raw }}</p>

                    <form action="{{ path('employees_verify_mobile_code') }}" method="get">
                        {#<input type="hidden" class="form-control" name="phoneNumber" value="{{ phoneNumber }}">#}
                        <div class="form-group">
                            <input type="text" id="verify-code" class="form-control" name="verify-code" placeholder="Verification Code">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Verify</button>
                        </div>
                    </form>

                </div>

                <div class="col-md-4">
                </div>

            </div>
        {% endif %}

        {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

    </div> <!-- /text-center -->

</div> <!-- /container -->


{#{% javascripts#}
{#'@AppUserdirectoryBundle/Resources/public/form/js/errorwatch.js'#}
{#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
{#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
{#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
{#'@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'#}

{#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}

{#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
{#%}#}
{#<script type="text/javascript" src="{{ asset_url }}"></script>#}
{#{% endjavascripts %}#}

{#<script src="{{ asset('orderassets/AppUserdirectoryBundle/') }}"></script>#}
<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/errorwatch.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
<script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>


{#<script language="Javascript">#}

    {#$(document).ready(function() {#}

        {#//regularCombobox();#}
        {#//customCombobox();#}
        {#//fieldInputMask();#}
        {#//expandTextarea();#}
        {#//initConvertEnterToTab();#}
        {#//getComboboxCompositetree();#}

    {#});#}

    {#function showDetails() {#}
        {#$('#confirm-div').hide();#}
        {#$('#details-div').collapse('show');#}
    {#}#}

{#</script>#}

</body>

</html>







{#{% if mobilePhoneVerified %}#}
    {#<p class="text-success">Mobile phone number is already verified</p>#}
{#{% else %}#}

    {#<div class="row">#}

        {#<div class="col-md-4">#}
        {#</div>#}

        {#<div class="col-md-4">#}

            {#<p class="text-danger">{{ message }}</p>#}

            {#<form action="{{ path('employees_verify_mobile_code') }}" method="get">#}
                {#<input type="hidden" class="form-control" name="phoneNumber" value="{{ phoneNumber }}">#}
                {#<div class="form-group">#}
                    {#<input type="text" id="verify-code" class="form-control" name="verify-code" placeholder="Verification Code">#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<button type="submit" class="btn btn-success">Verify</button>#}
                {#</div>#}
            {#</form>#}

        {#</div>#}

        {#<div class="col-md-4">#}
        {#</div>#}

    {#</div>#}
{#{% endif %}#}

