{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppCrnBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppCrnBundle/Default/crnmacros.html.twig" as crnmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info crn-title" align="center">
        {{ title|raw }}
    </h4>
    <br>

    {% set formtype = 'merge' %}

    {#<div class="crn-holder">#}

        <input type="hidden" id="formcycle" value="{{ cycle }}" />
        <input type="hidden" id="orderformtype" value="crn" />
        <input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />
        <input type="hidden" id="mrntype" value="{{ mrntype }}" />
        <input type="hidden" id="mrn" value="{{ mrn }}" />

        {#<input type="hidden" id="crn-patient-master-id" value="" />#}

        {% if form1 is defined %}
            {{ crnmacros.patientInfoSection(form1,cycle,'patient-holder-1','Patient Info',formtype) }}
        {% endif %}

        {% if form2 is defined %}
            {{ crnmacros.patientInfoSection(form2,cycle,'patient-holder-2','Second Patient Info',formtype) }}
        {% endif %}

        <div id="crn-msg-danger-box" class="alert alert-danger" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>

        <div id="crn-msg-success-box" class="alert alert-success" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>

        <p>
        <button
                id="merge_patient_button" type="button"
                class="btn btn-lg btn-success" align="center"
                onclick="mergePatientBtn()"
                style="display:none;"
        >Merge</button>
        </p>

    {#</div>#}

{% endblock %}


{% block additionaljs %}

    <script language="Javascript">
        $(document).ready(function() {
            //hide all alias
            //crnHideAllAlias(true,true);
            showHideMergeButton();


//            //overwrite
//            replaceCrnPatientToPopulate = function(patientToPopulate,holderId) {
//                console.log("merge recrords overwrite replace Crn PatientToPopulate");
//                return patientToPopulate;
//            }

            crnTriggerSearch('patient-holder-1','merge');

        });

        //overwrite
        getCrnPatientToPopulate = function(holderId) {
            //console.log("merge recrords overwrite replace Crn PatientToPopulate");
            var holder = getHolder(holderId);
            var index = holder.find('#crn-matching-patients-table-'+holderId).find('.active').attr('id');
            //console.log('patient id to populate='+index);
            //find patient with id from _patients array
            var patientToPopulate = getPatientByIdFromPatients(index,_patients);
            return patientToPopulate;
        }

        //triggered by class crn-patient-id
        function showHideMergeButton() {
            $('.crn-patient-id').on('change', function() {
                //console.log('crn-patient-id changed; value='+$(this).val());
                var counter = 0;
                var totalCounter = 0;
                $('.crn-patient-id').each(function() {
                    if( $(this).val() ) {
                        counter++;
                    }
                    totalCounter++;
                });
                //console.log("counter="+counter+" ?= "+totalCounter);
                if( counter > 0 && counter == totalCounter ) {
                    $('#merge_patient_button').show();
                } else {
                    $('#merge_patient_button').hide();
                }
            });
        }

        function mergePatientBtn() {

            var lbtn = Ladda.create( document.getElementById("merge_patient_button") );
            lbtn.start();

            $('#crn-msg-danger-box').html("");
            $('#crn-msg-danger-box').hide();

            var id1 = $('#patient-holder-1').find('.crn-patient-id').val();
            var id2 = $('#patient-holder-2').find('.crn-patient-id').val();

            //var masterMergeRecordId = $('#crn-patient-master-id').val();
            var masterMergeRecordId = $("input[name=crn-patient-master-record]:checked").val();

            //console.log("id1="+id1+", id2="+id2+", masterMergeRecordId="+masterMergeRecordId);

            if( id1 == id2 ) {
                $('#crn-msg-danger-box').html("You chose the same patients to merge.");
                $('#crn-msg-danger-box').show();
                lbtn.stop();
                return;
            }

            if( !masterMergeRecordId ) {
                $('#crn-msg-danger-box').html("You have to choose the Master merge patient record.");
                $('#crn-msg-danger-box').show();
                lbtn.stop();
                return;
            }



            var url = Routing.generate('crn_merge_patient_records_ajax');
            $.ajax({
                url: url,
                timeout: _ajaxTimeout,
                async: true,
                data: {id1: id1, id2: id2, masterMergeRecordId: masterMergeRecordId},
            }).success(function(data) {
                //console.log("output data.msg="+data.msg);
                //console.log(data);
                if( data.error == false ) {
                    //console.log("merged OK; data="+data.msg);
                    $('#crn-msg-success-box').html(data.msg);
                    $('#crn-msg-success-box').show();
                    //remove all buttons
                    $("button").hide();
                } else {
                    //console.log("merged failed; data="+data.msg);
                    $('#crn-msg-danger-box').html(data.msg);
                    $('#crn-msg-danger-box').show();
                }
            }).done(function() {
                lbtn.stop();
            });

        }

    </script>
{% endblock %}
