{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Slide Return Request for Order# {{ orderinfo.oid }}
{% endblock %}



{% block maincss %}

    {% stylesheets
    'bundles/olegorderform/select2/select2.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% block mainjs %}

    {% javascripts
    '@OlegOrderformBundle/Resources/public/jquery/jquery-1.11.0.min.js'
    '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
    '@OlegOrderformBundle/Resources/public/select2/select2.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimeout.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimer.js'
    '@OlegOrderformBundle/Resources/public/form/js/idleTimeout.js'
    '@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script language="Javascript">

        $(document).ready(function() {

            getComboboxReturn(new Array("0","0","0","0","0","0"));
            getUrgency();
            regularCombobox();
			setResearchEducational();

        });

        function toggleSelectAllObjects(source) {
            $("[type=checkbox]").each(function() {
                $(this).prop('checked', source.checked);
            });
        }

        function toggleSelectAllCheckbox(source) {
            //console.log("source.checked="+source.checked);
            if( !source.checked ) {

                $('#selectUnselectAll').prop('checked', false);

            } else {

                //check if all checkboxes are checked => check selectUnselectAll
                var allchecked = true;

                $("[type=checkbox]").each(function() {
                    //console.log("check="+$(this).prop('checked')+", id="+$(this).attr("id"));
                    if( $(this).attr('id') != 'selectUnselectAll' && !$(this).prop('checked') ) {
                        allchecked = false;
                        return;
                    }
                });

                if( allchecked ) {
                    $('#selectUnselectAll').prop('checked', true);
                }

            } //else
        }

    </script>

{% endblock %}




{% block content %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    <input type="hidden" id="formcicle" value="{{ cicle }}" />

    <h3 class="text-info">Please select the slides you would like to be returned</h3>

    <br>

{{ form_start(form) }}

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>
                    <input id="selectUnselectAll" type="checkbox" name="checkmark" value="allslides" checked onClick="toggleSelectAllObjects(this)">
                </th>
                <th>Patient MRN</th>
                <th>Patient Name</th>
                <th>Accession Number</th>
                <th>Part</th>
                <th>Block</th>
                <th>Stain</th>
            </tr>
        </thead>
        <tbody>


        {% for slide in orderinfo.slide %}

            {% set patient =  slide.obtainPatient %}
            {% set patientkey =  patient.obtainValidKeyfield %}
            {% set accession =  slide.obtainAccession %}
            {% set accessionkey =  accession.obtainValidKeyfield %}
            {% set part =  slide.obtainPart %}
            {% set partkey =  part.obtainValidKeyfield %}
            {% set block =  slide.obtainBlock %}
            {% if block is defined and block != null %}
                {% set blockkey =  block.obtainValidKeyfield %}
            {% endif %}

            {#{% set patientName = '<b>'~ patient.getName.first.field ~'</b> <i>'~ patient.getName.first.middleName ~'</i> '~ patient.getName.first.firstName %}#}
            {% set patientFullName = patient.getFullPatientName %}

            <tr>

                <td>
                    <input type="checkbox" value="{{ slide.id }}" name="oleg_orderformbundle_slidereturnrequesttype[slide][{{ slide.id }}][id]" id="oleg_orderformbundle_slidereturnrequesttype_slide_{{ slide.id }}_id" checked onClick="toggleSelectAllCheckbox(this)"/>
                </td>

                <td>
                    {{ patientkey.field }}, {{ patientkey.keytype }}
                </td>

                <td>
                    {{ patientFullName|raw }}
                </td>

                <td>
                    {{ accessionkey.field }}, {{ accessionkey.keytype }}
                </td>

                <td>
                    {{ partkey.field }}
                </td>

                <td>
                    {{ blockkey.field }}
                </td>

                <td>
                    {% for stain in slide.stain %}
                        {{ stain }}
                    {% endfor %}
                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>


        <div  class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="panel-title">Slide Return Request</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body collapse in">
                {{ formmacros.field(form.provider) }}
                {{ formmacros.field(form.proxyuser) }}
                {{ formmacros.field(form.returnSlide) }}
                {{ formmacros.field(form.urgency) }}

                {{ form_rest(form) }}
            </div>
        </div>

        <p>
            <button class="btn btn-success" type="submit">Submit</button>
        </p>

{{ form_end(form) }}

{% endblock %}

