{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    Slides Requested for Return
{% endblock %}


{% block maincss %}

    {% stylesheets
    'bundles/olegorderform/select2/select2.css' filter='cssrewrite'
    'bundles/olegorderform/form/css/action.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% block mainjs %}

    {% javascripts
    '@OlegOrderformBundle/Resources/public/jquery/jquery-1.11.0.min.js'
    '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
    '@OlegOrderformBundle/Resources/public/select2/select2.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimeout.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimer.js'
    '@OlegOrderformBundle/Resources/public/form/js/idleTimeout.js'
    '@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'
    '@OlegOrderformBundle/Resources/public/form/js/modal.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script language="Javascript">

        $(document).ready(function() {

            $(".combobox").select2();

        });

    </script>

{% endblock %}




{% block content %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    <form action="{{ path(route) }}" method="get" {{ form_enctype(filter) }} class="well form-search">

        <div class="row">
            <div class="col-xs-3">
                {{ form_widget(filter) }}
            </div>
            <div class="col-xs-1">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-sm btn-default order-filter-btn"><i class="icon-search"></i>Filter</button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(filter) }}
        {#{{ form_widget(filter._token) }}#}

    </form>

    <br>

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Submitter</th>
                <th>Ordering Provider</th>
                <th>Status</th>
                <th>Return Slides to</th>
                <th>Urgency</th>
                <th>Slides</th>
                <th>Order#</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>


        {% for sliderequest in sliderequests %}

            {% if sliderequest.status == 'active' %}
                <tr class="order-urgent-status" >
            {% elseif sliderequest.status == 'returned' %}
                <tr class="order-neutral-status" >
            {% else %}
                <tr>
            {% endif %}

                <td>
                    {{ sliderequest.id }}
                </td>

                <td>
                    {{ sliderequest.orderdate|date('m/d/Y H:i') }}
                </td>

                <td>
                    {{ sliderequest.provider }}
                </td>

                <td>
                    {{ sliderequest.proxyuser }}
                </td>

                <td>
                    {{ sliderequest.status|capitalize }}
                </td>

                <td>
                    {{ sliderequest.returnSlide }}
                </td>

                <td>
                    {{ sliderequest.urgency }}
                </td>

                <td>

                    {% for descr in sliderequest.getSlideDescription(app.security.getToken().getUser()) %}

                        <p>
                            {{ descr }}
                        </p>

                    {% endfor %}

                </td>

                <td>
                    <a href="{{ path('multy_show', { 'id': sliderequest.orderinfo.oid }) }}">Order {{ sliderequest.orderinfo.oid }}</a>
                </td>

                <td>
                    {{ sliderequest.comment|raw }}
                </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            {% if is_granted('ROLE_PROCESSOR') and route == 'all-slides-requested-for-return' %}

                                {% if sliderequest.status != 'returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Returned?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'returned' }) }}">Returned</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Checked: Not Received' %}
                                    <li><a data-confirm="Are you sure you want to change status to Checked: Not Received?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Checked: Not Received' }) }}">Checked: Not Received</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Checked: Previously Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Checked: Previously Returned?"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Checked: Previously Returned' }) }}">Checked: Previously Returned</a>
                                    </li>
                                {% endif %}

                                {% if sliderequest.status != 'Checked: Some Returned' %}
                                    <li><a data-confirm="Are you sure you want to change status to Checked: Some Returned?" class="status-with-comment" id="{{ sliderequest.id }}"
                                           href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'Checked: Some Returned' }) }}">Checked: Some Returned</a>
                                    </li>
                                {% endif %}

                            {% endif %}

                            {% if sliderequest.status != 'active' %}
                                <li><a data-confirm="Are you sure you want to Revert Status to Active?"
                                       href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'active' }) }}">Revert Status to Active</a>
                                </li>
                            {% endif %}

                            {% if sliderequest.status != 'cancel' %}
                                <li><a data-confirm="Are you sure you want to Cancel this Slide Return Request?"
                                       href="{{ path('sliderequest_status', { 'id': sliderequest.id, 'status': 'cancel' }) }}">Cancel</a>
                                </li>
                            {% endif %}


                        </ul>
                    </div>
                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

