{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% import "AppOrderformBundle/Default/ordercommon.html.twig" as order %}

{% block title %}
    {{ formtype }}
{% endblock %}


{% block maincss %}

    {#{% stylesheets#}
    {#'orderassets/apporderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'#}
    {#'orderassets/apporderform/form/css/handsontable.css' filter='cssrewrite'#}

    {#'orderassets/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
    {#'orderassets/appuserdirectory/ladda/ladda-themeless.css' filter='cssrewrite'#}

    {#'orderassets/appuserdirectory/form/css/action.css' filter='cssrewrite'#}
    {#'orderassets/apporderform/handsontable/lib/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css' filter='cssrewrite'#}

    {#'orderassets/appuserdirectory/datepicker/css/bootstrap-datepicker3.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}


    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/handsontable/jquery.handsontable.full.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/form/css/handsontable.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda-themeless.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/action.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppOrderformBundle/handsontable/lib/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/css/bootstrap-datepicker3.css') }}" />

{% endblock %}


{% block mainjs %}

    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/handsontable/lib/jquery-ui/js/jquery-ui.custom.min.js'#}

    {#'@AppOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/handsontable_scanorder.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/handsontable_validation.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
    {#'@AppUserdirectoryBundle/Resources/public/ladda/spin.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/ladda/ladda.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'#}
	
	{#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-fileuploads.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-navbar.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-selectAjax.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-treeSelectAjax.js'#}

    {#'@AppOrderformBundle/Resources/public/form/js/checkSingleForm.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/slideColl.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/partRadios.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/selectAjax.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/commonCheckForm.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/checkForm.js'#}

    {#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/form.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/formReady.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/modal.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/tooltips.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-jquery-idleTimeout.js'#}
    {#'@AppOrderformBundle/Resources/public/form/js/idleTimeout.js'#}
    
    {#'@AppUserdirectoryBundle/Resources/public/vakata-jstree/jstree.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/form/js/user-jstree.js'#}

    {#'@AppUserdirectoryBundle/Resources/public/jasny/js/rowlink.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/q-1/q.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}


    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/handsontable/lib/jquery-ui/js/jquery-ui.custom.min.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/handsontable/jquery.handsontable.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/handsontable_scanorder.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/handsontable_validation.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/spin.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>

    {#FOSJsRoutingBundle#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {#<script>#}
        {#_REQUEST_LOCALE = '{{ app.request.locale }}';#}
        {#//console.log('_REQUEST_LOCALE='+_REQUEST_LOCALE);#}
    {#</script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-router-locale-fix.js') }}"></script>#}
    {#EOF FOSJsRoutingBundle#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-treeSelectAjax.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/checkSingleForm.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/slideColl.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/partRadios.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/commonCheckForm.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/checkForm.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/form.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/formReady.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/tooltips.js') }}"></script>

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppOrderformBundle/form/js/idleTimeout.js') }}"></script>#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/vakata-jstree/jstree.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jstree.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jasny/js/rowlink.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>

    <script type="text/javascript">

        var _tableFormCycle = '{{ type }}';

        if( '{{ orderdata }}' != '' ) {
            var _orderDataArr = JSON.parse('{{ orderdata|escape('js') }}');
        }
        //console.log("_orderDataArr="+_orderDataArr);

    </script>

    {#FOSJsRoutingBundle#}
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}

{% endblock %}


    
{% block content %}

    {% set showpath = 'table_show' %}
    {% set amendpath = 'table_amend' %}

    {% if amendable is not defined %}
        {% set amendable = false %}
    {% endif %}

    {% if changestatus is not defined %}
        {% set changestatus = false %}
    {% endif %}

    {{ order.orderheader( form, formtype, type, showpath, amendpath, amendable, changestatus ) }}

    {#history#}
    {% if history is defined and history %}
        {{ formmacros.history_info(history,form) }}
    {% endif %}

    {#<input type="hidden" id="formtype" value="multi" />#}
    <input type="hidden" id="orderformtype" value="multi" />
    <input type="hidden" id="formcycle" value="{{ type }}" />

    <input type="hidden" id="default-accession-type" value="{{ defaultAccessionType }}" />
    <input type="hidden" id="default-mrn-type" value="{{ defaultMrnType }}" />

    {% if entity is defined and entity.dataqualitymrnacc|length > 0 %}
        <div class="alert alert-danger">
            <p>This order contained an MRN-Accession Number association that conflicted with an already existing MRN-Accession Number association.</p>
            <a href="#existing_validation_error">Please see the note below for details.</a>
        </div>
    {% endif %}

<br>
    {############ START FORM ##############}
    <form id="table-scanorderform" action="{{ path('table_create_submit') }}" method="post">

        {% include 'AppOrderformBundle/MultiScanOrder/edu_res.html.twig' %}

        {{ form_widget(form.oid) }}

        {% if type == 'show' %}
            {{ formmacros.message_panel(form, "Scan Order Info") }}
        {% endif %}

        <div id="form-prototype-data"
            data-prototype-dataquality = "{{ formmacros.dataQualityWidgetNotMapped(form.conflicts.vars.prototype)|e }}"
            data-uploadurl = "{{ oneup_uploader_endpoint('scan_gallery') }}"
            data-userid = "{{ app.user.getId() }}"
        ></div>

        <!-- handsontable -->
        <br>

        <p>
            <div id="multi-dataTable" class="text-center" align="middle" style="overflow: scroll"></div>
        </p>

        <br>

        {#<p>{{ formmacros.message_panel(form,"Order Info") }}</p>#}

        {% if type == 'new' or type == 'edit' or type == 'amend' %}

            <p>{{ formmacros.message_panel(form,"Order Info") }}</p>

            <div class="row">
                {% if type == 'amend' %}

                    <p><button id="scanorder_amend_order_btn" class="btn_margin_top btn btn-primary btn-success tableview-submit-btn" name="btnAmend" data-loading-text="Validating..." type="submit" onClick="saveClick(this.name);">Amend</button></p>

                {% else %}

                    <p><button id="tableview-submit-btn" class="btn_margin_top btn btn-primary btn-success tableview-submit-btn" name="btnSubmit" data-loading-text="Validating..." type="submit" onClick="saveClick(this.name);">Submit</button></p>

                    <p><button id="save_order_onidletimeout_btn" class="btn btn-default" name="btnSaveOnIdleTimeout" type="submit" style="display: none;" onClick="saveClick(this.name);">Save and Continue Later</button></p>

                {% endif %}
            </div>

        {% endif %}

        {% if entity is defined and entity is not null %}
            <div id="existing_validation_error" style="padding-top: 2%">
                {% for dataqualitymrnacc in entity.dataqualitymrnacc %}
                    <div class="alert alert-danger">
                        <br>
                        Conflict Resolved by Replacement:
                        <br>
                        <b>{{ dataqualitymrnacc.accession }}</b> => <b>{{ dataqualitymrnacc.newaccession }}</b>
                        <br>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="validationerror" style="padding-top: 2%"></div>


        {{ form_rest(form) }}

    </form>
    {############ END FORM ##############}

{% endblock %}
