{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

<p>
<div  class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#research">Research</a></li>
        <li class=""><a data-toggle="tab" href="#educational">Educational</a></li>
    </ul>
    <div class="tab-content">
        <div id="research" class="tab-pane active">
            <p>
                {{ formmacros.field(form.research.name) }}
                {{ formmacros.field(form.research.setTitles) }}
                {{ formmacros.field(form.research.principals) }}
            </p>
        </div>
        <div id="educational" class="tab-pane">
            <p>
                {{ formmacros.field(form.educational.courseTitle.name) }}
                {{ formmacros.field(form.educational.courseTitle.lessonTitles) }}
                {{ formmacros.field(form.educational.courseTitle.directors) }}
            </p>
        </div>
    </div>
</div>
</p>
