{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}

{#{% form_theme form 'OlegOrderformBundle::Default/collection_widget.html.twig' %}#}

{% if multy is not defined %}
    {% set multy = 'multy' %}
{% endif %}

{% block title %}
    Clinical Multi-Slide Scan Order
{% endblock %}

{% block content %}

    {#ID={{ form.vars.value.id }}#}
    {#{% if type == 'edit' or type == 'show' %}#}
        {#ID={{ form_widget(form.id) }}#}
        {#&#123;&#35;{{ form.vars.value.id }}&#35;&#125;#}
    {#{% endif %}#}

{% set formpath = 'clinical_create' %}
{% set headername = 'Clinical' %}

{% if multy == 'educational' %}
    {% set formpath = 'edu_create' %}
    {% set headername = 'Educational' %}
{% endif %}

{% if multy == 'research' %}
    {% set formpath = 'res_create' %}
    {% set headername = 'Research' %}
{% endif %}

<h3 class="text-info">
    {{ headername  }} Multi-Slide Scan Order
    {% if form.vars.value.id != "" %}
        #{{ form.vars.value.id }}
    {% endif %}
</h3>

<form action="{{ path(formpath) }}" method="post" {{ form_enctype(form) }}>
{#{{ form_start(form) }}#}

{#{{ form_widget(form.patient[0].specimen[0].accession) }}#}

    {% if type == 'show' %}
        {{ myform.orderinfo_panel(form, "Scan Order Info") }}
    {% endif %}

    {% if multy == 'educational' %}
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <h4>Topic</h4>
            </div>
            <div class="panel-body">
                {{ myform.field(form.educational.goal) }}
                {{ myform.field(form.educational.course) }}
                {{ myform.field(form.educational.lesson) }}
            </div>
        </div>
    {% endif %}

    {% if multy == 'research' %}
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <h4>Research Project Info</h4>
            </div>
            <div class="panel-body">
                {{ myform.field(form.research.project) }}
                {{ myform.field(form.research.principal) }}
            </div>
        </div>
    {% endif %}

<div id="patient-data" 
     data-prototype-patient="
        {{ myform.field(form.patient.vars.prototype.mrn)|e }} 
        {{ myform.field(form.patient.vars.prototype.name)|e }}
        {{ myform.field(form.patient.vars.prototype.age)|e }}
        {{ myform.field(form.patient.vars.prototype.sex)|e }}
        {{ myform.field(form.patient.vars.prototype.dob)|e }}
        {{ myform.field(form.patient.vars.prototype.clinicalHistory)|e }}  
     "
     data-prototype-procedure="
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.proceduretype)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.paper)|e }}
     "
     data-prototype-accession="
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.accession)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.date)|e }}       
     "
     data-prototype-part="
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.name)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.sourceOrgan)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.description)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.diagnosis)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.diffDiagnosis)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.diseaseType)|e }}
     "
     data-prototype-block="
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.name)|e }}
     "
     data-prototype-slide="
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.diagnosis)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.microscopicdescr)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.specialstain)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.relevantscan)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.stain.name)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.mag)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.scanregion)|e }}
        {{ myform.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.note)|e }}
     " 
>
    {#Note: addSameForm button pass variables - object name and 6 counts for: 1-patient, 2-proceudre, 3-accession, 4-part, 5-block, 6-slide#}

    {#patient#}
    {% set patientCount = 0 %}
    {% for patient in form.patient %}
        {% set uid = patientCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
        {#{% set patientCountNext = patientCount + 1 %}#}
        <div id="formpanel_patient_{{ uid }}" class="panel panel-patient">
            <div class="panel-heading" align="left">
                <div id="form_body_toggle_patient_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_patient_{{ uid }}"></div>
                Patient {{ patientCount+1 }}
                {% if type == 'new' or type == 'edit' %}
                    <div class="form-btn-options">
                        {% if form.patient|length ==  (patientCount + 1) %}
                        <button id="form_add_btn_patient_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="addSameForm('patient', {{ patientCount }}, 0, 0, 0, 0, 0)">Add</button>
                        {% endif %}
                        <button id="patient_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn-xs btn_margin">Delete</button>
                    </div>
                {% endif %}
            </div>
            <div id="form_body_patient_{{ uid }}" class="panel-body collapse in">
                {{ myform.field(patient.mrn) }}
                {{ myform.field(patient.name) }}
                {{ myform.field(patient.age) }}
                {{ myform.field(patient.sex) }}
                {{ myform.field(patient.dob) }}
                {{ myform.field(patient.clinicalHistory) }}

                {#specimen/procedure#}
                {% set procedureCount = 0 %}
                {% for specimen in patient.specimen %}
                    {% set uid = patientCount~'_'~procedureCount~'_'~0~'_'~0~'_'~0~'_'~0 %}
                    <div id="formpanel_procedure_{{ uid }}" class="panel panel-procedure">
                        <div class="panel-heading" align="left">
                            <div id="form_body_toggle_specimen_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_procedure_{{ uid }}"></div>
                            Procedure {{ procedureCount+1 }}
                            {% if type == 'new' or type == 'edit' %}
                                <div class="form-btn-options">
                                    {% if patient.specimen|length ==  (procedureCount + 1) %}
                                    <button id="form_add_btn_specimen_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="addSameForm('procedure', {{ patientCount }}, {{ procedureCount }}, 0, 0, 0, 0)">Add</button>
                                    {% endif %}
                                    <button id="procedure_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
                                </div>
                            {% endif %}
                        </div>
                        <div id="form_body_procedure_{{ uid }}" class="panel-body collapse in">                            
                            {{ myform.field(specimen.proceduretype) }}
                            {{ myform.field(specimen.paper) }}

                            {#accession#}
                            {% set accessionCount = 0 %}
                            {% for accession in specimen.accession %}
                                {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~0~'_'~0~'_'~0 %}
                                <div id="formpanel_accession_{{ uid }}" class="panel panel-accession">
                                    <div class="panel-heading" align="left">
                                        <div id="form_body_toggle_accession_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_accession_{{ uid }}"></div>
                                        Accession {{ accessionCount+1 }}
                                        {% if type == 'new' or type == 'edit' %}
                                            <div class="form-btn-options">
                                                {% if specimen.accession|length ==  (accessionCount + 1) %}
                                                <button id="form_add_btn_accession_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="addSameForm('accession', {{ patientCount }}, {{ procedureCount }}, {{ accessionCount }}, 0, 0, 0)">Add</button>
                                                {% endif %}
                                                <button id="accession_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div id="form_body_accession_{{ uid }}" class="panel-body collapse in">
                                            {{ myform.field(accession.accession) }}
                                            {{ myform.field(accession.date) }}                                       
                                       
                                        {#part#}
                                        {% set partCount = 0 %}
                                        {% for part in accession.part %}
                                            {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~0~'_'~0 %}
                                            <div id="formpanel_part_{{ uid }}" class="panel panel-part">
                                                <div class="panel-heading" align="left">
                                                    <div id="form_body_toggle_part_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_part_{{ uid }}"></div>
                                                    Part {{ partCount+1 }}
                                                    {% if type == 'new' or type == 'edit' %}
                                                        <div class="form-btn-options">
                                                            {% if accession.part|length ==  (partCount + 1) %}
                                                            <button id="form_add_btn_part_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="addSameForm('part', {{ patientCount }}, {{ procedureCount }}, {{ accessionCount }}, {{ partCount }}, 0, 0)">Add</button>
                                                            {% endif %}
                                                            <button id="part_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div id="form_body_part_{{ uid }}" class="panel-body collapse in">
                                                    {{ myform.field(part.name) }}
                                                    {{ myform.field(part.sourceOrgan) }}
                                                    {{ myform.field(part.description) }}
                                                    {{ myform.field(part.diagnosis) }}
                                                    {{ myform.field(part.diffDiagnosis) }}
                                                    {{ myform.field(part.diseaseType) }}

                                                    {#block#}
                                                    {% set blockCount = 0 %}
                                                    {% for block in part.block %}
                                                        {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~0 %}
                                                        <div id="formpanel_block_{{ uid }}" class="panel panel-block">
                                                                <div class="panel-heading" align="left">
                                                                    <div id="form_body_toggle_block_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_block_{{ uid }}"></div>
                                                                    Block {{ blockCount+1 }}
                                                                    {% if type == 'new' or type == 'edit' %}
                                                                        <div class="form-btn-options">
                                                                            {% if part.block|length ==  (blockCount + 1) %}
                                                                            <button id="form_add_btn_block_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="addSameForm('block', {{ patientCount }}, {{ procedureCount }}, {{ accessionCount }}, {{ partCount }}, {{ blockCount }}, 0)">Add</button>
                                                                            {% endif %}
                                                                            <button id="block_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div id="form_body_block_{{ uid }}" class="panel-body collapse in">
                                                                    {{ myform.field(block.name) }}


                                                                    {#slide#}
                                                                    {% set slideCount = 0 %}
                                                                    {% for slide in block.slide %}
                                                                        {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount %}
                                                                        <div id="formpanel_slide_{{ uid }}" class="panel panel-slide">
                                                                            <div class="panel-heading" align="left">
                                                                                <div id="form_body_toggle_slide_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_slide_{{ uid }}"></div>
                                                                                Slide {{ slideCount+1 }}
                                                                                {% if type == 'new' or type == 'edit' %}
                                                                                    <div class="form-btn-options">
                                                                                        {% if block.slide|length ==  (slideCount + 1) %}
                                                                                        <button id="form_add_btn_slide_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="addSameForm('slide', {{ patientCount }}, {{ procedureCount }}, {{ accessionCount }}, {{ partCount }}, {{ blockCount }}, {{ slideCount }})">Add</button>
                                                                                        {% endif %}
                                                                                        <button id="slide_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
                                                                                    </div>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">
                                                                                {{ myform.field(slide.diagnosis) }}
                                                                                {{ myform.field(slide.microscopicdescr) }}
                                                                                {{ myform.field(slide.specialstain) }}
                                                                                {{ myform.field(slide.relevantscan) }}
                                                                                {#stain and scan#}
                                                                                {{ myform.field(slide.stain.name) }}
                                                                                {{ myform.field(slide.scan.mag) }}
                                                                                {{ myform.field(slide.scan.scanregion) }}
                                                                                {{ myform.field(slide.scan.note) }}
                                                                            </div>
                                                                        </div> {#end of slide#}
                                                                    {% set slideCount = slideCount + 1 %}
                                                                {% endfor %}


                                                            </div>
                                                            {% set blockCount = blockCount + 1 %}
                                                        </div> {#end of block#}
                                                    {% endfor %}



                                                </div>
                                            </div> {#end of part#}
                                            {% set partCount = partCount + 1 %}
                                        {% endfor %}


                                    </div>
                                </div> {#end of accession#}
                                {% set accessionCount = accessionCount + 1 %}
                            {% endfor %}


                        </div>
                    </div>{#end of specimen #}
                    {% set procedureCount = procedureCount + 1 %}
                {% endfor %} {# specimen loop #}


            </div>{# end of form_body_patient_ #}
        </div> {#end of patient #}
        {% set patientCount = patientCount + 1 %}
    {% endfor %} {# patient loop #}


    {% if type == 'new' or type == 'edit' %}

        <button id="next_button" type="button" class="btn btn-default"
                data-toggle="collapse" data-target="#orderinfo_param">Next
        </button>


        <div id="orderinfo_param" class="collapse">

            {{ myform.orderinfo_panel(form,"Scan Order Info") }}

            <div class="row">
                <p><button class="btn_margin_top btn btn-primary btn-success" name="btnSubmit" type="submit">Submit</button></p>
                <p><button class="btn btn-default" name="btnSave" type="submit">Save and Continue Later</button></p>
            </div>
        </div>

        {#Note: data-prototype-rest="{{form_widget(form) | e}} is required; otherwise the leftovers of the form (?) appears in html page#}
        <div data-prototype-orderinfo="{{form_rest(form) | e}}">
            {{ form_rest(form) }}
        </div>

    {% endif %}

    {#{{ form_rest(form.id) }}#}
    
{#{{ form_end(form) }}#}
</form>
    
{% endblock %}
  