{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{#{% form_theme form 'OlegOrderformBundle::Default/collection_widget.html.twig' %}#}

{% if formtype == 'One Slide Scan Order' %}
    {% set formpath = 'singleorder_create' %}
{% endif %}

{% if formtype == 'Clinical Multi-Slide Scan Order' %}
    {% set formpath = 'clinical_create' %}
{% endif %}

{% if formtype == 'Educational Multi-Slide Scan Order' %}
    {% set formpath = 'edu_create' %}
{% endif %}

{% if formtype == 'Research Multi-Slide Scan Order' %}
    {% set formpath = 'res_create' %}
{% endif %}

{% block title %}
    {{ form.vars.value.type  }} Scan Order
{% endblock %}

{% block content %}

    <h3 class="text-info">
        {{ form.vars.value.type  }} Scan Order
        {% if form.vars.value.oid != "" %}
            #{{ form.vars.value.oid }}
            ({{ form.vars.value.status }})
        {% endif %}
    </h3>

    {% set Filled = "Filled" in form.vars.value.status %}
    {% set Amended = "Amended" in form.vars.value.status %}
    {% set Canceled = "Canceled" in form.vars.value.status %}
    {% set OnHold = "On Hold" in form.vars.value.status %}
    {#form.vars.value.status.type.name != "Filled"#}

    {#action buttons#}
    {% if (type == 'edit' or type == 'show') and (not Amended and not Canceled) %}
        <div class="well well-sm">
        {###############  USER ACTIONS #################}
        {% if form.vars.value.status != 'Canceled' and not Amended and not Filled or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger" onclick="return confirm('Are you sure?');"
               href="{{ path('scanorder_status', { 'id': form.vars.value.oid , 'status': 'Cancel' }) }}">Cancel</a>
        {% endif %}

        {% if   form.vars.value.status != 'Submitted' and
                form.vars.value.status != 'Canceled' and
                form.vars.value.status != 'Amended' and not
                Filled and not
                OnHold or
                is_granted('ROLE_ADMIN') and form.vars.value.status != 'Submitted'
        %}
            <a class="btn btn-info" onclick="return confirm('Are you sure?');"
               href="{{ path('scanorder_status', { 'id': form.vars.value.oid, 'status': 'Submit' }) }}">Submit</a>
        {% endif %}

        {% if form.vars.value.status != 'Amended' and form.vars.value.status != 'Canceled' and not Filled or is_granted('ROLE_ADMIN') %}
            <a onclick="return confirm('Are you sure?');" class="btn btn-warning"
               href="{{ path('order_amend', { 'id': form.vars.value.oid }) }}">Amend</a>
        {% endif %}

        <a class="btn btn-info" href="{{ path('history_orderinfo_show', { 'id': form.vars.value.oid }) }}">View Progress & Comments</a>

        </div>
    {% endif %}

    {% if (type == 'edit' or type == 'show') and form.vars.value.status.action == 'Cancel' %}
        {% if form.vars.value.status != 'Submitted' and form.vars.value.status != 'Canceled'
        and form.vars.value.status != 'Amended' and not Filled
        and not OnHold or is_granted('ROLE_ADMIN') and form.vars.value.status != 'Submitted'
        %}
            <div class="well well-sm">
            <a class="btn btn-info" onclick="return confirm('Are you sure?');"
               href="{{ path('scanorder_status', { 'id': form.vars.value.oid, 'status': 'Submit' }) }}">Un-Cancel</a>
            </div>
        {% endif %}
    {% endif %}

    {% if type == 'amend' and form.vars.value.status == "Submitted" %}
        <div class="well well-sm">
            <a class="btn btn-info" href="{{ path('multy_show', { 'id': form.vars.value.oid }) }}">Cancel Amend</a>
        </div>
    {% endif %}
    {% if type == 'amend' and form.vars.value.status == "Canceled" %}
        <div class="well well-sm">
            <a class="btn btn-info" href="{{ path('multy_show', { 'id': form.vars.value.oid }) }}">Cancel Un-Canceling</a>
        </div>
    {% endif %}

    {#&#123;&#35;history&#35;&#125;#}
    {#{% if type == 'show' and (form.vars.value.status == "Canceled" or form.vars.value.status == "Amended") %}#}
        {#{{ formmacros.history_info_canceled(history, prevhistory,form.vars.value.status ) }}#}
    {#{% endif %}#}

    {#backhistory:{{ backhistory|first.currentstatus }}#}
    {#history#}
    {% if backhistory is defined and backhistory
    %}
        {{ formmacros.backhistory_info(backhistory,form.vars.value.status,form.vars.value.oid) }}
    {% endif %}
    {% if forwardhistory is defined and forwardhistory %}
        {{ formmacros.forwardhistory_info(forwardhistory,allhistory,form.vars.value.status,form.vars.value.oid) }}
    {% endif %}


    {#<input type="hidden" id="formtype" value="multi" />#}
    <input type="hidden" id="orderformtype" value="multi" />
    <input type="hidden" id="formcicle" value="{{ type }}" />

    {#{{ formmacros.dataQualityWidget(form.dataquality)}}#}

    {% if form.dataquality|length > 0 %}
        <div class="alert alert-danger">
            <p>This order contained an MRN-Accession Number association that conflicted with an already existing MRN-Accession Number association.</p>
            <a href="#validationerror">Please see the note below for details.</a>
        </div>
    {% endif %}

    {############ START FORM ##############}
    <form id="scanorderform" action="{{ path(formpath) }}" method="post" {{ form_enctype(form) }}>
    {#{{ form_start(form) }}#}

    {#{{ form_widget(form.patient[0].procedure[0].accession) }}#}

    {#{% if form.vars.value.oid != "" %}#}
        {#<input type="hidden" id="orderinfoid" value="{{ form.vars.value.oid }}" />#}
        {{ form_widget(form.oid) }}
    {#{% endif %}#}

    {% if type == 'show' %}
        {{ formmacros.orderinfo_panel(form, "Scan Order Info") }}
    {% endif %}

    {% if formtype == 'Educational Multi-Slide Scan Order' %}
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <h4>Topic</h4>
            </div>
            <div class="panel-body">
                {{ formmacros.field(form.educational.goal) }}
                {{ formmacros.field(form.educational.course) }}
                {{ formmacros.field(form.educational.lesson) }}
            </div>
        </div>
    {% endif %}

    {% if formtype == 'Research Multi-Slide Scan Order' %}
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <h4>Research Project Info</h4>
            </div>
            <div class="panel-body">
                {{ formmacros.field(form.research.project) }}
                {{ formmacros.field(form.research.principal) }}
            </div>
        </div>
    {% endif %}

    {% if type != 'show' %}
        {% set mrnHtml = formmacros.inputField(form.patient.vars.prototype.mrn,type,"key","prototype","","","","patientmrn","") %}
        {% set nameHtml = formmacros.inputField(form.patient.vars.prototype.name,type,"","prototype") %}
        {% set sexHtml = formmacros.inputField(form.patient.vars.prototype.sex,type,"","prototype") %}
        {% set dobHtml = formmacros.inputField(form.patient.vars.prototype.dob,type,"date","prototype") %}
        {% set ageHtml = formmacros.inputField(form.patient.vars.prototype.age,type,"","prototype") %}
        {% set clinicalhistoryHtml = formmacros.inputField(form.patient.vars.prototype.clinicalHistory,type,"","prototype") %}

        {% set accessionHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.accession,type,"key","prototype","","","","accessionaccession","") %}
        {% set procedureHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.name,type,"","prototype") %}
        {#{% set encounterHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.encounter,type,"","prototype") %}#}

        {% set partnameHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.partname,type,"key","prototype") %}
        {% set sourceorganHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.sourceOrgan,type,"","prototype") %}
        {% set paperHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.paper,type,"","prototype") %}
        {% set descriptionHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.description,type,"","prototype") %}
        {% set diagnosisHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.disident,type,"","prototype") %}

        {% set diffDiagnosesField = form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.diffDisident %}
        {% set diffDiagnosesWidget = formmacros.fieldWidget(diffDiagnosesField) %}
        {% set diffDiagnosesHtml = formmacros.inputField(diffDiagnosesField,type,"partdiffDisident","prototype",diffDiagnosesWidget,"") %}

        {% set diseaseTypeHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.diseaseType,type,"diseaseType","prototype") %}

        {% set blocknameHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.blockname,type,"key","prototype") %}
        {% set sectionsourceHtml = formmacros.inputField(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.sectionsource,type,"","prototype") %}

        {% set relevantScansField = form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.relevantScans %}
        {% set relevantScansWidget = formmacros.fieldWidget(relevantScansField) %}
        {% set relevantScansHtml = formmacros.inputField(relevantScansField,type,"sliderelevantScans","prototype",relevantScansWidget,"") %}

        {% set specialStainsField = form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.specialStains %}
        {% set specialStainsWidget = formmacros.fieldSpecialStainsWidget(specialStainsField) %}
        {% set specialStainsHtml = formmacros.inputField(specialStainsField,type,"slidespecialStains","prototype",specialStainsWidget,"buttonbottom","") %}

    {% endif %}

    {#            pat   spec  acc   part block slide  scan  stain       #}
    {#{% set uid = 0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}#}
    {% set uid = '__patient_____procedure_____accession_____part_____block_____slide_____scan_____stain__' %}
    <div id="form-prototype-data"

      {% if type != 'show' %}

          data-prototype-dataquality = "{{ formmacros.dataQualityWidget(form.dataquality.vars.prototype,type)|e }}"

         data-prototype-patient="{{ formmacros.patientForm(form.patient.vars.prototype,"check",uid,type,form.vars.value.status, mrnHtml,nameHtml,sexHtml,dobHtml,ageHtml,clinicalhistoryHtml)|e }}"

          data-prototype-patientmrn=               "{{ mrnHtml|e }}"
          data-prototype-patientname=              "{{ nameHtml|e }}"
          data-prototype-patientsex=               "{{ sexHtml|e }}"
          data-prototype-patientdob=               "{{ dobHtml|e }}"
          data-prototype-patientage=               "{{ ageHtml|e }}"
          data-prototype-patientclinicalhistory=   "{{ clinicalhistoryHtml|e }}"

         data-prototype-procedure="
         {{ formmacros.accessionForm(form.patient.vars.prototype.procedure.vars.prototype,form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype,"check",uid,type,form.vars.value.status,procedureHtml,accessionHtml)|e }}
         "
         data-prototype-accessionaccession= "{{ accessionHtml|e }}"
         data-prototype-procedurename= "{{ procedureHtml|e }}"
         {#data-prototype-procedureencounter= "{{ encounterHtml|e }}"#}

          data-prototype-part="
        {{ formmacros.partForm( form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype, "check", uid, type, form.vars.value.status,
              partnameHtml,
              sourceorganHtml,
              paperHtml,
              descriptionHtml,
              diagnosisHtml,
              diffDiagnosesHtml,
              diseaseTypeHtml
           )|e }}
        "
          {#requires for adding field by pressing +; to remove label replace the last "" by "nolabel"#}
          data-prototype-addpartdiffDisident="{{ formmacros.inputField(diffDiagnosesField,type,"partdiffDisident","prototype",diffDiagnosesWidget,"","","","withspace")|e }}"
          {#requires for check form to populate fields by AJAX (no '+' buttons)#}
          data-prototype-partdiffDisident="{{ formmacros.inputField(diffDiagnosesField,type,"partdiffDisident","prototype",diffDiagnosesWidget,"nobtn","","","withspace")|e }}"

         data-prototype-block="
        {{ formmacros.blockForm( form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype, "check", uid, type, form.vars.value.status, blocknameHtml, sectionsourceHtml)|e }}
        "
          data-prototype-slide="
        {{ formmacros.slideForm( form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype, "", uid, type,
          formmacros.field(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.slidetype),
          formmacros.field(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.stain.vars.prototype.field),
          formmacros.field(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.vars.prototype.field),
          formmacros.field(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.vars.prototype.scanregion),
          formmacros.field(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.vars.prototype.note),
          formmacros.field(form.patient.vars.prototype.procedure.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.microscopicdescr),
          relevantScansHtml,
          specialStainsHtml
          )|e }}
        "

          {#requires for adding field by pressing +; to remove label replace the last "" by "nolabel"#}
          data-prototype-addsliderelevantScans="{{ formmacros.inputField(relevantScansField,type,"sliderelevantScans","prototype",relevantScansWidget,"","","","withspace")|e }}"
          {#requires for check form to populate fields by AJAX (no '+' buttons)#}
          data-prototype-sliderelevantScans="{{ formmacros.inputField(relevantScansField,type,"sliderelevantScans","prototype",relevantScansWidget,"nobtn","","","withspace")|e }}"

          {#requires for adding field by pressing +; to remove label replace the last "" by "nolabel"#}
          data-prototype-addslidespecialStains="{{ formmacros.inputField(specialStainsField,type,"slidespecialStains","prototype",specialStainsWidget,"nobtn","","","withspace")|e }}"
          {#requires for check form to populate fields by AJAX (no '+' buttons)#}
          data-prototype-slidespecialStains="{{ formmacros.inputField(specialStainsField,type,"slidespecialStains","prototype",specialStainsWidget,"nobtn","","","withspace")|e }}"

      {% endif %}

        >
    {#Note: addSameForm button pass variables - object name and 6 counts for: 1-patient, 2-proceudre, 3-accession, 4-part, 5-block, 6-slide#}

    {#patient#}
    {% set patientCount = 0 %}
    {% for patient in form.patient %}
        {% set uid = patientCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
        {#{% set patientCountNext = patientCount + 1 %}#}
        <div id="formpanel_patient_{{ uid }}" class="panel panel-patient">
            {{ formmacros.orderinfo_panel_header(
            'patient', type, patientCount, form.patient|length, uid,
            patientCount, 0, 0, 0, 0, 0, 0, 0)
            }}

            <div id="form_body_patient_{{ uid }}" class="panel-body collapse in">

                {{ formmacros.patientForm(patient,"check",uid,type,form.vars.value.status) }}

                {#procedure/procedure#}
                {% set procedureCount = 0 %}
                {% for procedure in patient.procedure %}
                    {% set uid = patientCount~'_'~procedureCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                <div id="formpanel_procedure_{{ uid }}" class="panel panel-procedure">
                    {{ formmacros.orderinfo_panel_header(
                    'procedure', type, procedureCount, patient.procedure|length, uid,
                    patientCount, procedureCount, 0, 0, 0, 0, 0, 0)
                    }}

                    <div id="form_body_procedure_{{ uid }}" class="panel-body collapse in">

                        {#accession#}
                        {% set accessionCount = 0 %}
                        {% for accession in procedure.accession %}
                            {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}

                            {#{{ formmacros.accessionForm(procedure,accession,"check",uid) }}#}
                                    {{ formmacros.accessionForm(procedure,accession,"check",uid,type,form.vars.value.status) }}


                                    {#part#}
                                    {% set partCount = 0 %}
                                    {% for part in accession.part %}
                                        {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~0~'_'~0~'_'~0~'_'~0 %}

                                        <div id="formpanel_part_{{ uid }}" class="panel panel-part">
                                            {{ formmacros.orderinfo_panel_header(
                                            'part', type, partCount, accession.part|length, uid,
                                            patientCount, procedureCount, accessionCount, partCount, 0, 0, 0, 0)
                                            }}

                                            <div id="form_body_part_{{ uid }}" class="panel-body collapse in">

                                                {{ formmacros.partForm( part, "check", uid, type, form.vars.value.status, "","","","","","","") }}


                                                {#block#}
                                                {% set blockCount = 0 %}
                                                {% for block in part.block %}
                                                    {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~0~'_'~0~'_'~0 %}
                                                    <div id="formpanel_block_{{ uid }}" class="panel panel-block">
                                                        {{ formmacros.orderinfo_panel_header(
                                                        'block', type, blockCount, part.block|length, uid,
                                                        patientCount, procedureCount, accessionCount, partCount, blockCount, 0, 0, 0)
                                                        }}

                                                        <div id="form_body_block_{{ uid }}" class="panel-body collapse in">
                                                            {#{{ formmacros.field(block.name) }}#}
                                                            {{ formmacros.blockForm( block, "check", uid, type, form.vars.value.status) }}


                                                            {#slide#}
                                                            {% set slideCount = 0 %}
                                                            {% for slide in block.slide %}
                                                                {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount~'_'~0~'_'~0 %}
                                                                <div id="formpanel_slide_{{ uid }}" class="panel panel-slide">
                                                                    {{ formmacros.orderinfo_panel_header(
                                                                    'slide', type, slideCount, block.slide|length, uid,
                                                                    patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount, 0, 0)
                                                                    }}

                                                                    <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">

                                                                        {{ formmacros.slideForm( slide, "check", uid, type ) }}

                                                                    </div>
                                                                </div> {#end of slide#}
                                                                {% set slideCount = slideCount + 1 %}
                                                            {% endfor %}


                                                        </div>
                                                        {% set blockCount = blockCount + 1 %}
                                                    </div> {#end of block#}
                                                {% endfor %}

                                                {#part's slide#}
                                                {% set slideCount = 0 %}
                                                {% for slide in part.slide %}
                                                    {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount~'_'~0~'_'~0 %}
                                                    <div id="formpanel_slide_{{ uid }}" class="panel panel-slide">
                                                        {{ formmacros.orderinfo_panel_header(
                                                        'slide', type, slideCount, part.slide|length, uid,
                                                        patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount, 0, 0)
                                                        }}

                                                        <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">

                                                            {{ formmacros.slideForm( slide, "check", uid, type ) }}

                                                        </div>
                                                    </div> {#end of slide#}
                                                    {% set slideCount = slideCount + 1 %}
                                                {% endfor %}



                                            </div>
                                        </div> {#end of part#}
                                        {% set partCount = partCount + 1 %}
                                    {% endfor %}


                                {#</div>#}
                            {#</div> &#123;&#35;end of accession&#35;&#125;#}
                            {% set accessionCount = accessionCount + 1 %}
                        {% endfor %}


                    </div>
                    </div>{#end of procedure #}
                    {% set procedureCount = procedureCount + 1 %}
                {% endfor %} {# procedure loop #}


            </div>{# end of form_body_patient_ #}
        </div> {#end of patient #}
        {% set patientCount = patientCount + 1 %}
    {% endfor %} {# patient loop #}


    {% if type == 'new' or type == 'edit' or type == 'amend' %}

        <button id="next_button_multi" type="button" class="btn btn-success"
                data-toggle="collapse" data-target="#orderinfo_param">Next
        </button>

        <div id="orderinfo_param" class="collapse">

            {{ formmacros.orderinfo_panel(form,"Scan Order Info") }}

            <div class="row">
                {% if type == 'amend' %}
                    <p><button class="btn_margin_top btn btn-primary btn-success" name="btnAmend" type="submit">Amend</button></p>
                {% else %}
                    <p><button class="btn_margin_top btn btn-primary btn-success" name="btnSubmit" type="submit">Submit</button></p>
                    {#style="display: none;"#}
                    <p><button id="save_order_onidletimeout_btn" class="btn btn-default" name="btnSaveOnIdleTimeout" type="submit" style="display: none;">Save and Continue Later</button></p>
                    {#<p><button id="save_order_btn" class="btn btn-default" name="btnSave" type="submit">Save and Continue Later</button></p>#}
                {% endif %}
            </div>
        </div>

        {#Note: data-prototype-rest="{{form_widget(form) | e}} is required; otherwise the leftovers of the form (?) appears in html page#}
        <div data-prototype-orderinfo="{{form_rest(form) | e}}">
            {{ form_rest(form) }}
        </div>

    {% endif %}

    <div id="validationerror" style="padding-top: 2%">
        {% for dataquality in form.dataquality %}
            <div class="validationerror-added alert alert-danger">
                {{ formmacros.dataQualityWidget(dataquality,type) }}
            </div>
        {% endfor %}
    </div>

    {#{{ form_end(form) }}#}
    </form>
    {############ END FORM ##############}

{% endblock %}
  