{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{#{% form_theme form 'OlegOrderformBundle::Default/collection_widget.html.twig' %}#}

{% if multy is not defined %}
    {% set multy = 'multy' %}
{% endif %}

{#use this form for single order edit #}
{% set formpath = 'singleorder_create' %}
{% set headername = 'Single-Slide' %}

{% if multy == 'clinical' %}
    {% set formpath = 'clinical_create' %}
    {% set headername = 'Clinical Multi-Slide' %}
{% endif %}

{% if multy == 'educational' %}
    {% set formpath = 'edu_create' %}
    {% set headername = 'Educational Multi-Slide' %}
{% endif %}

{% if multy == 'research' %}
    {% set formpath = 'res_create' %}
    {% set headername = 'Research Multi-Slide' %}
{% endif %}

{% block title %}
    {{ headername  }} Scan Order
{% endblock %}

{% block content %}

    {#ID={{ form.vars.value.id }}#}
    {#{% if type == 'edit' or type == 'show' %}#}
    {#ID={{ form_widget(form.id) }}#}
    {#&#123;&#35;{{ form.vars.value.id }}&#35;&#125;#}
    {#{% endif %}#}

    <h3 class="text-info">
        {{ headername  }} Scan Order
        {% if form.vars.value.id != "" %}
            #{{ form.vars.value.id }} ({{ form.vars.value.status }})
        {% endif %}
    </h3>

    {#action buttons#}
    {% if type == 'edit' or type == 'show'  %}
        {###############  USER ACTIONS #################}
        {% if form.vars.value.status != 'Canceled' and form.vars.value.status != 'Amended' and form.vars.value.status.type.name != "Filled"  or is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-danger" onclick="return confirm('Are you sure?');"
               href="{{ path('scanorder_status', { 'id': form.vars.value.id , 'status': 'Cancel' }) }}">Cancel</a>
        {% endif %}

        {#TODO: Make path to Amend in Controller#}
        {% if form.vars.value.status != 'Submitted' and form.vars.value.status != 'Canceled'
        and form.vars.value.status != 'Amended' and form.vars.value.status.type.name != "Filled"
        and form.vars.value.status.type.name != "On Hold" or is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-info" onclick="return confirm('Are you sure?');"
               href="{{ path('scanorder_status', { 'id': form.vars.value.id, 'status': 'Submit' }) }}">Submit</a>
        {% endif %}

        {% if form.vars.value.status != 'Amended' and form.vars.value.status != 'Canceled' and form.vars.value.status.type.name != "Filled" or is_granted('ROLE_SUPER_ADMIN') %}
            <a onclick="return confirm('Are you sure?');" class="btn btn-warning"
               href="{{ path('scanorder_status', { 'id': form.vars.value.id, 'status': 'Amend' }) }}">Amend</a>
        {% endif %}
    {% endif %}


    <input type="hidden" id="formtype" value="multi" />
    <input type="hidden" id="formcicle" value="{{ type }}" />

    <form id="multy_form" action="{{ path(formpath) }}" method="post" {{ form_enctype(form) }}>
    {#{{ form_start(form) }}#}

    {#{{ form_widget(form.patient[0].specimen[0].accession) }}#}

    {% if type == 'show' %}
        {{ formmacros.orderinfo_panel(form, "Scan Order Info") }}
    {% endif %}

    {% if multy == 'educational' %}
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <h4>Topic</h4>
            </div>
            <div class="panel-body">
                {{ formmacros.field(form.educational.goal) }}
                {{ formmacros.field(form.educational.course) }}
                {{ formmacros.field(form.educational.lesson) }}
            </div>
        </div>
    {% endif %}

    {% if multy == 'research' %}
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <h4>Research Project Info</h4>
            </div>
            <div class="panel-body">
                {{ formmacros.field(form.research.project) }}
                {{ formmacros.field(form.research.principal) }}
            </div>
        </div>
    {% endif %}

    <div id="form-prototype-data"

        {% if type != 'show' %}

         data-prototype-patient="
        {{ formmacros.field(form.patient.vars.prototype.mrn)|e }}
        {{ formmacros.field(form.patient.vars.prototype.name)|e }}
        {{ formmacros.field(form.patient.vars.prototype.age)|e }}
        {{ formmacros.field(form.patient.vars.prototype.sex)|e }}
        {{ formmacros.fielddate(form.patient.vars.prototype.dob)|e }}
        {{ formmacros.field(form.patient.vars.prototype.clinicalHistory.vars.prototype.clinicalHistory)|e }}
     "

         data-prototype-procedure="
         {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.accession)|e }}
         {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.proceduretype)|e }}
         "

         data-prototype-part="
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.name)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.sourceOrgan)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.paper.vars.prototype.file)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.description)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.diagnosis)|e }}
        {{ formmacros.diseaseMulti(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype, 0, 0, 0, 0)|e }}
        "

         data-prototype-diffdiagnoses="
        {{ form_widget(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.diffDiagnoses.vars.prototype.name)|e }}
        "

         data-prototype-block="
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.name)|e }}
     "
         data-prototype-slide="
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.stain.vars.prototype.name)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.vars.prototype.mag)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.vars.prototype.scanregion)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.scan.vars.prototype.note)|e }}
        {{ formmacros.field(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.microscopicdescr)|e }}
     "
         data-prototype-relevantscans="
        {{ form_widget(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.relevantScans.vars.prototype.name)|e }}
        "

         data-prototype-specialstains="
        {{ form_widget(form.patient.vars.prototype.specimen.vars.prototype.accession.vars.prototype.part.vars.prototype.block.vars.prototype.slide.vars.prototype.specialStains.vars.prototype.name)|e }}
        "
        {% endif %}

        >
    {#Note: addSameForm button pass variables - object name and 6 counts for: 1-patient, 2-proceudre, 3-accession, 4-part, 5-block, 6-slide#}

    {#patient#}
    {% set patientCount = 0 %}
    {% for patient in form.patient %}
        {% set uid = patientCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
        {#{% set patientCountNext = patientCount + 1 %}#}
        <div id="formpanel_patient_{{ uid }}" class="panel panel-patient">
            {{ formmacros.orderinfo_panel_header(
            'patient', type, patientCount, form.patient|length, uid,
            patientCount, 0, 0, 0, 0, 0, 0, 0)
            }}

            <div id="form_body_patient_{{ uid }}" class="panel-body collapse in">
                {{ formmacros.field(patient.mrn) }}


                <button id="form_check_mrn_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="checkMrn('patient',{{ patientCount }},0, 0, 0, 0, 0, 0, 0)">Check</button>
                <div id="check_div">111</div>

                {{ formmacros.field(patient.name) }}
                {{ formmacros.field(patient.sex) }}
                {{ formmacros.fielddate(patient.dob) }}
                {{ formmacros.field(patient.age) }}
                {{ formmacros.clinicalHistoryInput(patient.clinicalHistory) }}

                {#specimen/procedure#}
                {% set procedureCount = 0 %}
                {% for specimen in patient.specimen %}
                    {% set uid = patientCount~'_'~procedureCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                <div id="formpanel_procedure_{{ uid }}" class="panel panel-procedure">
                    {{ formmacros.orderinfo_panel_header(
                    'procedure', type, procedureCount, patient.specimen|length, uid,
                    patientCount, procedureCount, 0, 0, 0, 0, 0, 0)
                    }}

                    <div id="form_body_procedure_{{ uid }}" class="panel-body collapse in">
                        {#{{ formmacros.field(specimen.proceduretype) }}#}

                        {#accession#}
                        {% set accessionCount = 0 %}
                        {% for accession in specimen.accession %}
                            {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                            {#<div id="formpanel_accession_{{ uid }}" class="panel panel-accession">#}
                                {#{{ formmacros.orderinfo_panel_header(#}
                                {#'accession', type, accessionCount, specimen.accession|length, uid,#}
                                {#patientCount, procedureCount, accessionCount, 0, 0, 0, 0, 0)#}
                                {#}}#}

                                {#<div id="form_body_accession_{{ uid }}" class="panel-body collapse in">#}
                                    {{ formmacros.field(accession.accession) }}
                                    {#{{ formmacros.field(accession.date) }}                                       #}
                                    {{ formmacros.field(specimen.proceduretype) }}

                                    {#part#}
                                    {% set partCount = 0 %}
                                    {% for part in accession.part %}
                                        {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~0~'_'~0~'_'~0~'_'~0 %}

                                        <div id="formpanel_part_{{ uid }}" class="panel panel-part">
                                            {{ formmacros.orderinfo_panel_header(
                                            'part', type, partCount, accession.part|length, uid,
                                            patientCount, procedureCount, accessionCount, partCount, 0, 0, 0, 0)
                                            }}

                                            <div id="form_body_part_{{ uid }}" class="panel-body collapse in">
                                                {{ formmacros.field(part.name) }}
                                                {{ formmacros.field(part.sourceOrgan) }}
                                                {{ formmacros.paperInput(part.paper,type) }}
                                                {{ formmacros.field(part.description) }}
                                                {{ formmacros.field(part.diagnosis) }}
                                                {############ different diagnoses input collection #############}
                                                {% if part.diffDiagnoses|length > 0 %}                                                     
                                                    {{ formmacros.collectionInput(part.diffDiagnoses, 'diffDiagnoses', type, 'multi', patientCount, procedureCount, accessionCount, partCount, 0, 0) }}
                                                {% endif %}
                                                {{ formmacros.diseaseMulti(part, patientCount, procedureCount, accessionCount, partCount) }}

                                                {#block#}
                                                {% set blockCount = 0 %}
                                                {% for block in part.block %}
                                                    {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~0~'_'~0~'_'~0 %}
                                                    <div id="formpanel_block_{{ uid }}" class="panel panel-block">
                                                        {{ formmacros.orderinfo_panel_header(
                                                        'block', type, blockCount, part.block|length, uid,
                                                        patientCount, procedureCount, accessionCount, partCount, blockCount, 0, 0, 0)
                                                        }}

                                                        <div id="form_body_block_{{ uid }}" class="panel-body collapse in">
                                                            {{ formmacros.field(block.name) }}


                                                            {#slide#}
                                                            {% set slideCount = 0 %}
                                                            {% for slide in block.slide %}
                                                                {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount~'_'~0~'_'~0 %}
                                                                <div id="formpanel_slide_{{ uid }}" class="panel panel-slide">
                                                                    {{ formmacros.orderinfo_panel_header(
                                                                    'slide', type, slideCount, block.slide|length, uid,
                                                                    patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount, 0, 0)
                                                                    }}

                                                                    <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">

                                                                        {#scan and stain#}
                                                                        {% set scanCount = 0 %}
                                                                        {% set stainCount = 0 %}

                                                                        {#stain#}
                                                                        {% for stain in slide.stain %}
                                                                            {{ formmacros.field(stain.name) }}
                                                                        {% endfor %}

                                                                        {#scan#}
                                                                        {% for scan in slide.scan %}
                                                                            {{ formmacros.field(scan.mag) }}
                                                                            {{ formmacros.field(scan.scanregion) }}
                                                                            {{ formmacros.field(scan.note) }}
                                                                        {% endfor %}

{#                                                                        {% if multy == 'single' %}#}
{#                                                                            {{ formmacros.field(slide.diagnosis) }}#}
{#                                                                        {% endif %}#}
                                                                        {{ formmacros.field(slide.microscopicdescr) }}

                                                                        {#{{ formmacros.field(slide.specialStains) }}#}
                                                                        {############ specialStains input collection #############}
                                                                        {% if slide.specialStains|length > 0 %}
                                                                            {{ formmacros.collInput(slide.specialStains, type, 'multi', 'specialStains', patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) }}
                                                                        {% endif %}

                                                                        {#{{ formmacros.field(slide.relevantScans) }}#}
                                                                        {############ relevantScans input collection #############}
                                                                        {% if slide.relevantScans|length > 0 %}
                                                                            {#{{ formmacros.collInput(slide.relevantScans, type, 'multi', 'relevantScans', patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) }}#}
                                                                            {{ formmacros.collectionInput(slide.relevantScans, 'relevantScans', type, 'multi', patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) }}
                                                                        {% endif %}

                                                                    </div>
                                                                </div> {#end of slide#}
                                                                {% set slideCount = slideCount + 1 %}
                                                            {% endfor %}


                                                        </div>
                                                        {% set blockCount = blockCount + 1 %}
                                                    </div> {#end of block#}
                                                {% endfor %}



                                            </div>
                                        </div> {#end of part#}
                                        {% set partCount = partCount + 1 %}
                                    {% endfor %}


                                {#</div>#}
                            {#</div> &#123;&#35;end of accession&#35;&#125;#}
                            {% set accessionCount = accessionCount + 1 %}
                        {% endfor %}


                    </div>
                    </div>{#end of specimen #}
                    {% set procedureCount = procedureCount + 1 %}
                {% endfor %} {# specimen loop #}


            </div>{# end of form_body_patient_ #}
        </div> {#end of patient #}
        {% set patientCount = patientCount + 1 %}
    {% endfor %} {# patient loop #}


    {% if type == 'new' or type == 'edit' %}

        <button id="next_button" type="button" class="btn btn-success"
                data-toggle="collapse" data-target="#orderinfo_param">Next
        </button>


        <div id="orderinfo_param" class="collapse">

            {{ formmacros.orderinfo_panel(form,"Scan Order Info") }}

            <div class="row">
                <p><button class="btn_margin_top btn btn-primary btn-success" name="btnSubmit" type="submit">Submit</button></p>
                {#<p><button class="btn btn-default" name="btnSave" type="submit">Save and Continue Later</button></p>#}
            </div>
        </div>

        {#Note: data-prototype-rest="{{form_widget(form) | e}} is required; otherwise the leftovers of the form (?) appears in html page#}
        <div data-prototype-orderinfo="{{form_rest(form) | e}}">
            {{ form_rest(form) }}
        </div>

    {% endif %}

    {#{{ form_rest(form.id) }}#}

    {#{{ form_end(form) }}#}
    </form>

{% endblock %}
  