{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}


{% block additionalcss %}
    {% stylesheets
        'bundles/olegorderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block additionaljs %}
    {% javascripts
        '@OlegOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'
        '@OlegOrderformBundle/Resources/public/form/js/handsontable.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}

    <h3 class="text-info">Multi-Slide Table</h3>

    <input type="hidden" id="orderformtype" value="single" />
    <input type="hidden" id="formcicle" value="{{ cycle }}" />

    {############ START FORM ##############}
    <form id="scanorderform" action="{{ path('clinical_create') }}" method="post" {{ form_enctype(form) }}>

        <p>
            <div  class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#research">Research</a></li>
                    <li class=""><a data-toggle="tab" href="#educational">Educational</a></li>
                </ul>
                <div class="tab-content">
                    <div id="research" class="tab-pane active">
                        <p>
                            {{ formmacros.field(form.research.project) }}
                            {{ formmacros.field(form.research.settitle) }}
                            {{ formmacros.field(form.research.principal) }}
                        </p>
                    </div>
                    <div id="educational" class="tab-pane">
                        <p>
                            {{ formmacros.field(form.educational.goal) }}
                            {{ formmacros.field(form.educational.course) }}
                            {{ formmacros.field(form.educational.lesson) }}
                        </p>
                    </div>
                </div>
            </div>
        </p>

        <!-- handsontable -->
        <p>
            <div id="multi-dataTable" class="text-center" align="middle" style="overflow: scroll"></div>
        </p>



        <p>{{ formmacros.orderinfo_panel(form,"Order Info") }}</p>

    </form>
    {############ END FORM ##############}

{% endblock %}
