{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ formtype }}
{% endblock %}

{% block additionalcss %}
    {% stylesheets
    'bundles/olegorderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'
    'bundles/olegorderform/form/css/handsontable.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" media="screen" href="http://handsontable.com/lib/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css">

{% endblock %}

{% block additionaljs %}

    {#'@OlegOrderformBundle/Resources/public/doubleScroll/jquery.doubleScroll.js'#}

    {% javascripts
    '@OlegOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'
    '@OlegOrderformBundle/Resources/public/form/js/handsontable.js'
    '@OlegOrderformBundle/Resources/public/form/js/handsontable_validation.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="http://handsontable.com/lib/jquery-ui/js/jquery-ui.custom.min.js"></script>

{% endblock %}


{% block content %}

    <h3 class="text-info">{{ formtype }}</h3>

    <input type="hidden" id="orderformtype" value="single" />
    <input type="hidden" id="formcicle" value="{{ cycle }}" />

    <br />

    {############ START FORM ##############}
    <form id="scanorderform" action="{{ path('multi_create') }}" method="post" {{ form_enctype(form) }}>

        {% include 'OlegOrderformBundle::MultyScanOrder/edu_res.html.twig' %}

        <!-- handsontable -->
        <br>
        <p>

            {#<div id="top-scrollbar-handsontable" class="dragdealer" style="overflow-x: scroll; overflow-y:hidden; width: 100px;">#}
                {#<div class="handle red-bar">drag me</div>#}
                {#vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv#}
            {#</div>#}

            <div id="multi-dataTable" class="text-center" align="middle" style="overflow: scroll"></div>


        {#<div class="wrapper1">#}
            {#<div class="div1">#}
            {#</div>#}
        {#</div>#}
        {#<div class="wrapper2">#}
            {#<div id="multi-dataTable" class="div2 text-center" align="middle">#}
                {#&#123;&#35;aaaa bbbb cccc dddd aaaa bbbb cccc dddd aaaa bbbb cccc dddd aaaa bbbb cccc dddd aaaa bbbb cccc dddd aaaa bbbb cccc dddd aaaa bbbb cccc dddd&#35;&#125;#}
            {#</div>#}
        {#</div>#}

        </p>
        <br>

        <p>
            {#<button onclick="processDataForm()">Validate Data</button>#}

            <button onclick="processDataForm('clean')">Clean Data</button>
        </p>


        <p>{{ formmacros.orderinfo_panel(form,"Order Info") }}</p>



    </form>
    {############ END FORM ##############}


    <p>
        <button onclick="validateHandsonTable()" class="btn_margin_top btn btn-primary btn-info" name="btnTableValidate" type="submit">Validate</button>
        <button class="btn_margin_top btn btn-primary btn-success" name="btnTableSubmit" type="submit">Submit</button>
    </p>


    <div id="validationerror" style="padding-top: 2%">
    </div>

{% endblock %}
