{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block content %}

    <h3 class="text-info">Multi-Slide Table</h3>

    <input type="hidden" id="orderformtype" value="single" />
    <input type="hidden" id="formcicle" value="{{ cycle }}" />

    {############ START FORM ##############}
    <form id="scanorderform" action="{{ path('clinical_create') }}" method="post" {{ form_enctype(form) }}>

        <p>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#research" data-toggle="tab">Research</a></li>
            <li><a href="#educational" data-toggle="tab">Educational</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="research">
                <div  class="panel panel-patient">
                    <div class="panel-body">
                        {{ formmacros.field(form.research.project) }}
                        {{ formmacros.field(form.research.settitle) }}
                        {{ formmacros.field(form.research.principal) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="educational">
                <div  class="panel panel-patient">
                    <div class="panel-body">
                        {{ formmacros.field(form.educational.goal) }}
                        {{ formmacros.field(form.educational.course) }}
                        {{ formmacros.field(form.educational.lesson) }}
                    </div>
                </div>
            </div>
        </div>
        </p>

        <!-- handsontable -->
        <p>
            <div id="multi-dataTable"></div>
        </p>

        <p>{{ formmacros.orderinfo_panel(form,"Order Info") }}</p>

    </form>
    {############ END FORM ##############}

{% endblock %}
  