{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}


{% set title = singleName %}


{% if cycle == 'new_standalone' %}
    {% set title = "Add New "~singleName %}
{% endif %}

{% if cycle == 'show_standalone' %}
    {% set title = "View "~singleName %}
{% endif %}

{% if cycle == 'edit_standalone' %}
    {% set title = "Edit "~singleName %}
{% endif %}

{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">{{ title }}</h4>

    <br>


    {{ form_start(form) }}


        {% if pathname == 'locations' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ usermacros.locationObject(form,cycle,'user-locations','noprototype',employees_sitename,entity) }}
        {% endif %}

        {% if pathname == 'buildings' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ usermacros.buildingObject(form,cycle,'user-buildings','noprototype',employees_sitename,entity) }}
        {% endif %}

        {% if pathname == 'researchlabs' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ usermacros.researchlabObject(form,cycle,'user-researchlabs','noprototype',employees_sitename,entity) }}
        {% endif %}

        {% if pathname == 'grants' %}

            {% set grantsPrototype = null %}
            {% set documentsHtml = null %}
            {% if form.grants is defined %}
                {% set grantsPrototype = usermacros.grantObject(form.grants,cycle,'user-grants','prototype',sitename,entity) %}
                {#{% set documentsHtml = formmacros.inputField(form.grants.vars.prototype.attachmentContainer.documentContainers.vars.prototype,cycle,"documentContainer","noprototype") %}#}
            {% endif %}

            <div id="form-prototype-data"
                 data-prototype-user-grants = "{{ grantsPrototype|e }}"
                 data-prototype-documentcontainers = "{{ documentsHtml|e }}"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                 data-userid = "{{ entity.id }}"
            ></div>

            {{ usermacros.grantObject(form,cycle,'user-grants','noprototype',employees_sitename,entity) }}
        {% endif %}

        {% if pathname == 'labtests' %}
            <div id="form-prototype-data" data-userid = "{{ entity.id }}"></div>
            {{ formmacros.labtestObject(form,cycle,'user-labtests','noprototype') }}
        {% endif %}


        {# Token CSRF #}
        {{ form_widget(form._token) }}


        {#set if user is ROLE_USERDIRECTORY_EDITOR or ROLE_PLATFORM_DEPUTY_ADMIN#}
        {% if is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
            {% set userEditor = true %}
        {% else %}
            {% set userEditor = false %}
        {% endif %}

        {% if cycle == "show_standalone" and userEditor %}
            <p>
                <a class="btn btn-success" href="{{ path(employees_sitename~'_'~pathname~'_pathaction_edit_standalone',{id:entity.id}) }}" type='button'>Edit</a>
            </p>
        {% endif %}

        {% if cycle != "show_standalone" and cycle != "new_standalone" and userEditor %}
            <p>
            <div>
                <button class="btn btn-warning" name="btnSubmit" type="submit">Update {{ singleName }}</button>
                <a class="btn btn-info" href="{{ path(employees_sitename~'_'~pathname~'_pathaction_show_standalone',{id:entity.id}) }}" type='button'>Cancel</a>
            </div>
            </p>
        {% endif %}

        {% if cycle == "new_standalone" and userEditor %}
            <p>
                <button class="btn btn-success" name="btnSubmit" type="submit">Add {{ singleName }}</button>
            </p>
        {% endif %}

    {{ form_end(form,{'render_rest': false}) }}


    <br>

    <p>
        <a href="{{ path(employees_sitename~'_'~pathname~'_pathaction_list') }}">{{ singleName }} list</a>
    </p>


{% endblock %}