{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#   navigation menu   #}

{% import "AppDashboardBundle/Default/navbar.html.twig" as navbarmacros %}

{% macro createFilterTopics_ORIG( filterTopics ) %}
    {% for parentKey,values in filterTopics %}
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ parentKey }}</a>
            <ul class="dropdown-menu">
                {% for key,value in values %}
                    {% set filterTopicUrl = value|replace({' ':'-'}) %}
                    <li>
                        {#<a href="{{ path(translationalresearch_sitename~'_request_index_filter',{'type':filterTopicUrl}) }}">{{ value }}</a>#}
                        <a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':key}) }}">{{ value }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}
{% macro createFilterTopics( filterTopics ) %}
    {% for topicArr in filterTopics %}
        {% set id = topicArr[0] %}
        {% set name = topicArr[1] %}
        {% set childrens = topicArr[2] %}

        {% if childrens|length > 0 %}
            <li class="dropdown-submenu">
                <a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id}) }}" target="_blank">{{ name }}</a>
                {% if childrens|length > 0 %}
                    <ul class="dropdown-menu">
                        {% for childrenArr in childrens %}
                            {% set id1 = childrenArr[0] %}
                            {% set name1 = childrenArr[1] %}
                            {% set childrens1 = childrenArr[2] %}
                            <li>
                                <a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id1}) }}" target="_blank">{{ name1 }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            <li>
                <a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id}) }}" target="_blank">{{ name }}</a>
            </li>
        {% endif %}

        {% if 0 %}
        <li class="dropdown-submenu">
            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ name }}</a>#}
            <a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id}) }}" target="_blank">{{ name }}</a>
            {% if childrens|length > 0 %}
                <ul class="dropdown-menu">
                    {% for childrenArr in childrens %}
                        {% set id1 = childrenArr[0] %}
                        {% set name1 = childrenArr[1] %}
                        {% set childrens1 = childrenArr[2] %}
                        {#{% set filterTopicUrl = name1|replace({' ':'-'}) %}#}
                        <li>
                            {#<a href="{{ path(translationalresearch_sitename~'_request_index_filter',{'type':filterTopicUrl}) }}">{{ value }}</a>#}
                            <a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id1}) }}" target="_blank">{{ name1 }}</a>
                        </li>

                        {#{% for childrens1Arr in childrens1 %}#}
                            {#{% set id2 = childrens1Arr[0] %}#}
                            {#{% set name2 = childrens1Arr[1] %}#}
                            {#{% set childrens2 = childrens1Arr[2] %}#}
                            {#<li>#}
                                {#<a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id2}) }}">{{ name2 }}</a>#}
                            {#</li>#}

                            {#{% for childrens2Arr in childrens2 %}#}
                                {#{% set id3 = childrens2Arr[0] %}#}
                                {#{% set name3 = childrens2Arr[1] %}#}
                                {#{% set childrens3 = childrens2Arr[2] %}#}
                                {#<li>#}
                                    {#<a href="{{ path(dashboard_sitename~'_single_topic_id',{'id':id3}) }}">{{ name3 }}</a>#}
                                {#</li>#}
                            {#{% endfor %}#}

                        {#{% endfor %}#}

                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endif %}

    {% endfor %}
{% endmacro %}

{% macro createFilterServices( filterServices ) %}
    {% for parentKey,values in filterServices %}
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ parentKey }}</a>
            <ul class="dropdown-menu">
                {% for key,value in values %}
                    {% set filterServiceUrl = value|replace({' ':'-'}) %}
                    <li>
                        <a href="{{ path(dashboard_sitename~'_single_service',{'id':key}) }}" target="_blank">{{ value }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}
{% macro createFilterFlatServices( filterServices ) %}
    {% if filterServices|length > 0 %}
        <ul class="dropdown-menu multi-level">
            {% for key,value in filterServices %}
                <li>
                    <a href="{{ path(dashboard_sitename~'_single_service',{'id':key}) }}" target="_blank">{{ value }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="dropdown-menu multi-level">
            <li>
                <a href="javascript:;">N/A</a>
            </li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro createFilterTypes( filterTypes ) %}
    {% if filterTypes|length > 0 %}
        <ul class="dropdown-menu multi-level">
            {% for key,value in filterTypes %}
                <li>
                    <a href="{{ path(dashboard_sitename~'_single_type',{'id':key}) }}" target="_blank">{{ value }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="dropdown-menu multi-level">
            <li>
                <a href="javascript:;">N/A</a>
                {#<div class="dropdown-menu1">N/A</div>#}
            </li>
        </ul>
    {% endif %}
{% endmacro %}



{% block navbar %}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_DASHBOARD_USER') %}
                <a class="navbar-brand visible-xs visible-sm" href="{{ path(dashboard_sitename~'_home') }}">Home</a> <!-- this is for mobile devices - top menu -->
            {% endif %}
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">


            {#{% if is_granted('ROLE_DASHBOARD_USER') %}#}

                <ul class="nav navbar-nav navbar-left">

                    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
                    {{ usermacros.siteSwitch() }}

                    <li id="nav-bar-dashboardhome" class="hidden-xs divider-vertical">
                        <a href="{{ path(dashboard_sitename~'_home') }}">
                            <span class="glyphicon glyphicon-stats"></span> Home
                            {#<span class="fa fa-bar-chart-o"></span> Home#}
                        </a>
                    </li>


                    <li id="nav-bar-translationalresearch-topic" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topic<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            {% set filterTopics = dashboard_util.getFilterTopics() %}
                            {{ navbarmacros.createFilterTopics(filterTopics) }}
                        </ul>
                    </li>

                    <li id="nav-bar-translationalresearch-service" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Service<b class="caret"></b></a>
                        {#<ul class="dropdown-menu multi-level">#}
                            {% set filterServices = dashboard_util.getFilterServices() %}
                            {#filterServices={{ filterServices|length }}<br>#}
                            {{ navbarmacros.createFilterFlatServices(filterServices) }}
                        {#</ul>#}
                    </li>

                    <li id="nav-bar-translationalresearch-type" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Type<b class="caret"></b></a>
                        {% set filterTypes = dashboard_util.getFilterTypes() %}
                        {#<ul class="dropdown-menu multi-level">#}
                            {{ navbarmacros.createFilterTypes(filterTypes) }}
                        {#</ul>#}
                    </li>


                </ul>

            {#{% endif %}#}

           

            <ul class="nav navbar-nav navbar-right">

                {% if is_granted('ROLE_DASHBOARD_ADMIN') %}

                    <li id="nav-bar-admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path(dashboard_sitename~'_accessrequest_list') }}">Access Requests</a></li>
                            <li><a href="{{ path(dashboard_sitename~'_accountrequest') }}">Account Requests</a></li>
                            <li><a href="{{ path(dashboard_sitename~'_authorized_users') }}">Authorized Users</a></li>

                            {% if is_granted('ROLE_DASHBOARD_ADMIN') %}
                                <li class="divider"></li>
                                <li><a href="{{ path(dashboard_sitename~'_logger') }}">Event Log</a></li>
                            {% endif %}

                            {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
                                {#<li><a href="{{ path('user_admin_index') }}">List Manager</a></li>#}
                                <li><a href="{{ path('platformlistmanager-list') }}">Platform List Manager</a></li>
                                <li><a href="{{ path(dashboard_sitename~'_siteparameters') }}">Site Settings</a></li>
                            {% endif %}

                        </ul>
                    </li>

                {% endif %}



                {% if is_granted('ROLE_DASHBOARD_USER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(dashboard_sitename~'_showuser', {id:app.user.getId()}) }}">My Profile ({{ app.user.getUserNameShortStr() }})</a></li>
                            {% endif %}

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(dashboard_sitename~'_about_page') }}">About</a></li>
                            {% endif %}

                            <li><a href="{{ path(dashboard_sitename~'_logout') }}">Log Out</a></li>

                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}


{#Use additionalcss2 for multi-level, since additionalcss is already used by other templates#}
{% block additionalcss2 %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/multi-level-menu.css') }}" />
{% endblock %}

