{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% if patientsearch is not defined %}
    {% set patientsearch = "" %}
{% endif %}

{% block title %}
    List of Patients
{% endblock %}

{% block content %}

    <h3>List of Patients</h3>

    <br>

    {% if patientsearch and patiententities|length == 0 %}

        <br><br>
        <h5 class="text-info">No results found.</h5>

    {% else %}

        <table class="table table-hover table-condensed text-left">
        {#<table class="records_list">#}
            <thead>
                <tr>
                    {#<th>{{ knp_pagination_sortable(entities, 'ID', 'patient.id') }}</th>#}
                    {#<th>{{ knp_pagination_sortable(entities, 'MRN', 'mrn.field') }}</th>#}
                    {#<th>{{ knp_pagination_sortable(entities, 'Accession(s)', 'accession.field') }}</th>#}
                    {#<th style="display:none">ID</th>#}
                    <th>MRN</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Calculated Age</th>
                    <th>Gender</th>
                    <th>Accession(s)</th>
                    {#<th>Date</th>#}
                    {#<th>Actions</th>#}
                </tr>
            </thead>
            <tbody class="rowlink" data-link="row">
            {% for entity in patiententities %}
                <tr>

                    {#<td style="display:none"><a href="{{ path('scan-patient-show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}

                    <td>
                        {#{% for mrn in entity.mrn %}#}
                            {#{{ mrn }} (status={{ mrn.status }})<br>#}
                        {#{% endfor %}#}
                        {#{{ entity.obtainValidField('mrn') }}#}
                        {% set mrnStr = 'mrn' %}
                        {% set mrnValidField = entity.obtainValidField('mrn') %}
                        {% if mrnValidField %}
                            {% set mrnStr = mrnValidField.obtainOptimalName() %}
                        {% endif %}
                        <a href="{{ path('scan-patient-show', { 'id': entity.id }) }}">{{ mrnStr }}</a>
                    </td>

                    <td>
                        {{ entity.getFullPatientName|raw }}
                        {#encounter's name#}
                        {% for encounter in entity.encounter %}
                            {% set encounterName = encounter.obtainEncounterNames() %}
                            {% if encounterName %}
                                <br>{{ encounterName }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {{ entity.obtainValidField('dob') }}
                    </td>

                    <td>
                        {{ entity.calculateAge }}
                    </td>

                    <td>
                        {{ entity.obtainValidField('sex') }}
                    </td>

                    <td>
                        {% for encounter in entity.encounter %}
                            {% for procedure in encounter.procedure %}
                                {% for accession in procedure.accession %}
                                    {{ accession.obtainValidField('accession').obtainOptimalName() }}<br>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </td>

                    {#<td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>#}

                    {#<td class="rowlink-skip">             #}
                        {#<a href="{{ path('scan-patient-show', { 'id': entity.id }) }}">show</a>                  #}
                        {#<a href="{{ path('scan-patient-edit', { 'id': entity.id }) }}">edit</a>                 #}
                    {#</td>#}

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(patiententities) }}
        </div>

    {% endif %}

    <br>
    <a href="{{ path('scan-patient-new') }}">Patient Data Structure</a>

{% endblock %}
