{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Per Site User Settings: {{ username }}
{% endblock %}

{% block content %}

    {{ form_start(form) }}

        <h3 class="text-info">Per Site User Settings: {{ username }}</h3>
        <div class="well">
            {{ formmacros.field(form.permittedInstitutionalPHIScope) }}
            {{ formmacros.field(form.scanOrdersServicesScope) }}
            {{ formmacros.field(form.chiefServices) }}
            {{ formmacros.field(form.defaultService) }}
        </div>


        {% if cycle != "show" and is_granted('ROLE_SCANORDER_ADMIN') %}
            <p>
            <div>
                <button class="btn btn-warning" name="btnSubmit" type="submit">Update</button>
                <a class="btn btn-info" href="{{ path('scan_order_settings_show',{id:userid}) }}" type='button'>Cancel</a>
            </div>
            </p>
        {% endif %}

    {{ form_end(form) }}

    {% if cycle == "show" and is_granted('ROLE_SCANORDER_ADMIN') %}
        <p><a class="btn btn-success" href="{{ path('scan_order_settings_edit',{'id':userid}) }}">Edit</a></p>
    {% endif %}


    <br>
    <p><a href="{{ path('scan_showuser',{'id':userid}) }}">Back to the User's Details </a></p>

{% endblock %}
