{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "OlegFellAppBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegFellAppBundle::Default/fellappmacros.html.twig" as fellappmacros %}


{% block title %}
    Google Form Configuration
{% endblock %}


{% block content %}

    <br><br>

    {{ form_start(form) }}
    {#{{ form_widget(form) }}#}

    {% if form.updateDate is defined %}
        {#{{ formmacros.field(form.updateDate|date('m/d/Y H:i:s')) }}#}
        {{ formmacros.fieldDateLabel(form.updateDate,'regular-datepicker') }}
    {% endif %}

    {% if form.updatedBy is defined %}
        {{ formmacros.field(form.updatedBy) }}
    {% endif %}

    {% if form.acceptingSubmission is defined %}
        {{ formmacros.checkbox(form.acceptingSubmission) }}
    {% endif %}

    {% if form.fellowshipSubspecialties is defined %}
        {{ formmacros.field(form.fellowshipSubspecialties) }}
    {% endif %}


    {% if form.applicationFormNote is defined %}
        {{ formmacros.field(form.applicationFormNote) }}
    {% endif %}

    {% if form.adminEmail is defined %}
        {{ formmacros.field(form.adminEmail) }}
    {% endif %}

    {% if form.fellappAdminEmail is defined %}
        {{ formmacros.field(form.fellappAdminEmail) }}
    {% endif %}

    {% if form.exceptionAccount is defined %}
        {{ formmacros.field(form.exceptionAccount) }}
    {% endif %}

    {% if form.submissionConfirmation is defined %}
        {{ formmacros.field(form.submissionConfirmation) }}
    {% endif %}

    {% if form.letterAcceptingSubmission is defined %}
        {{ formmacros.checkbox(form.letterAcceptingSubmission) }}
    {% endif %}

    {% if form.letterError is defined %}
        {{ formmacros.field(form.letterError) }}
    {% endif %}

    {% if form.letterExceptionAccount is defined %}
        {{ formmacros.field(form.letterExceptionAccount) }}
    {% endif %}




    <br>
    <p>
        {% if cycle == "show" %}
            <a class="btn btn-primary" href="{{ path('fellapp_google_form_config_edit') }}">Edit</a>
            <a class="btn btn-danger" href="{{ path('fellapp_google_form_config_update_drive') }}">Update Fellowship Application Form on Google</a>
        {% endif %}
        {% if cycle == "edit" %}
            <input class="btn btn-warning" type="submit" value="Update Config File Locally" />
            <a class="btn btn-default" href="{{ path('fellapp_google_form_config_show') }}">Cancel</a>
        {% endif %}
    </p>

    {{ form_end(form) }}

    {#add a link "Add new fellowship type"#}
    {#add a link "To delete a fellowship type if it no longer exists, visit this page, select it, and click "Remove Fellowship Application Type"#}

    {% if configFileContent is defined %}
        <br>
        <h3>Current Configuration File on Google Drive</h3>
        <div >
            <pre>
                <code>
                    {{ configFileContent|raw }}
                </code>
            </pre>
            {#<textarea>#}
                {#{{ configFileContent|raw }}#}
            {#</textarea>#}
        </div>
    {% endif %}

    <br>
    <p>
        {% set applicationPageLinkFellApp = user_security_utility.getSiteSettingParameter('applicationPageLinkFellApp') %}
        <a href="{{ applicationPageLinkFellApp }}" target="_blank">Link to the Application Page</a>
    </p>


{% endblock %}


