{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends '::base.html.twig' %}#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{#{% form_theme form 'AppOrderformBundle/Default/fields.html.twig' %}#}

{% block content %} 
{% block body -%}

    <h2>Scan creation</h2>

    <form action="{{ path('scan_create') }}" method="post">
        {{ form_errors(form) }}
             
        {{ form_label(form.slide.accession, '* Accession + Part + Block (i.e. S12-99998 B1)') }} 
        {{ form_widget(form.slide.accession) }}   

        {{ form_label(form.slide.part.name) }}
        {{ form_widget(form.slide.part.name) }}        
        {{ form_widget(form.slide.block.name) }}          

{#            <div id="stain_label_div">#}
        {{ form_label(form.slide.stain.name) }}
{#            </div>#}
        {{ form_widget(form.slide.stain.name) }}

        {{ form_label(form.mag) }}
        {{ form_widget(form.mag) }} 

        {{ form_label(form.slide.part.diagnosis) }}
        {{ form_widget(form.slide.part.diagnosis) }} 

        {{ form_label(form.note) }}
        {{ form_widget(form.note) }} 
         
        <p>
            <button class="btn_margin_top btn btn-primary btn-success" type="submit">Submit</button>        
        </p>            

        <div class="slide_new">                     
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#optional_parameter_scan">
                Optional Parameters
            </button>
            <a class='btn_margin_top btn btn-primary' href="{{ path('scan') }}">Back to the list</a>
        
            <div id="optional_parameter_scan" class="collapse">
            
                {% if form_rest(form.slide.accession) is not empty %}
                    <h4>Optional Parameters for Accession</h4>
                    {{ form_rest(form.slide.accession) }} 
                {% endif %}
                 
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_part">
                    Optional Parameters for Part
                </button>
                <div id="slide_part" class="collapse">
                    {{ form_rest(form.slide.part) }}
                </div>

                {% if form_rest(form.slide.block) is not empty %}
                    <h4>Optional Parameters for Block</h4>
                    {{ form_rest(form.slide.block) }} 
                {% endif %}

                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_stain">
                    Optional Parameters for Stain
                </button>
                <div id="slide_stain" class="collapse">
                    {{ form_rest(form.slide.stain) }} 
                </div>

                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_slide">
                    Optional Parameters for Slide
                </button>
                <div id="slide_slide" class="collapse">
                    {{ form_rest(form.slide) }} 
                </div>
                    
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#slide_scan">
                    Optional Parameters for Scan
                </button>
                <div id="slide_scan" class="collapse">
                    {{ form_rest(form) }} 
                </div>                               
                              
            </div> 
            
        </div> 
        {{ form_rest(form) }}  
    </form>
       
{% endblock %}
{% endblock %} 