

{% block action %}
    
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            
            <li><a href="{{ path('multy_show', { 'id': entity.oid }) }}">View Details</a></li>

            <li class="divider"></li>

            {###############  USER ACTIONS #################}
            {% if entity.status != 'Canceled' and entity.status != 'Amended' and entity.status.type.name != "Filled"  or is_granted('ROLE_SUPER_ADMIN') %}
                <li><a onclick="return confirm('Are you sure?');" class="btn-danger" 
                       href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Cancel' }) }}">Cancel</a>
                </li>                  
            {% endif %}

            {#TODO: Make path to Amend in Controller#}
            {% if entity.status != 'Submitted' and entity.status != 'Canceled'
                and entity.status != 'Amended' and entity.status.type.name != "Filled"
                and entity.status.type.name != "On Hold" or is_granted('ROLE_SUPER_ADMIN') %}
                <li><a onclick="return confirm('Are you sure?');"
                       href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Submit' }) }}">Submit</a>
                </li>
            {% endif %}

            {% if entity.status != 'Amended' and entity.status != 'Canceled' and entity.status.type.name != "Filled" or is_granted('ROLE_SUPER_ADMIN') %}
                <li><a onclick="return confirm('Are you sure?');" class="btn-warning"
                       href="{{ path('order_amend', { 'id': entity.oid }) }}">Amend</a>
                </li>
            {% endif %}

            <li class="divider"></li>

            {###############  ADMIN ACTIONS #################}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

                {#<li>#}
                    {#<a class="btn-warning" #}
                       {#href="{{ path('multy_edit', { 'id': entity.oid }) }}">Edit</a>#}
                {#</li>             #}
                
                {% if entity.status != 'Filled: Scanned' %}
                    <li><a onclick="return confirm('Are you sure?');" 
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Filled: Scanned' }) }}">Filled: Scanned</a>
                    </li>                  
                {% endif %}
                
                {% if entity.status != 'Filled: Not Scanned' %}
                    <li><a onclick="return confirm('Are you sure?');" 
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Filled: Not Scanned' }) }}">Filled: Not Scanned</a>
                    </li>                  
                {% endif %}
                
                {% if entity.status != 'Filled: Some Scanned' %}
                    <li><a onclick="return confirm('Are you sure?');" 
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Filled: Some Scanned' }) }}">Filled: Some Scanned</a>
                    </li>                  
                {% endif %}

                {% if entity.status != 'Filled: Scanned & Returned' %}
                    <li><a onclick="return confirm('Are you sure?');"
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Filled: Scanned & Returned' }) }}">Filled: Scanned & Returned</a>
                    </li>
                {% endif %}

                {% if entity.status != 'Filled: Not Scanned & Returned' %}
                    <li><a onclick="return confirm('Are you sure?');"
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Filled: Not Scanned & Returned' }) }}">Filled: Not Scanned & Returned</a>
                    </li>
                {% endif %}

                {% if entity.status != 'Filled: Some Scanned & Returned' %}
                    <li><a onclick="return confirm('Are you sure?');"
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'Filled: Some Scanned & Returned' }) }}">Filled: Some Scanned & Returned</a>
                    </li>
                {% endif %}

                <li class="divider"></li>

                {% if entity.status != 'On Hold: Slides Received' %}
                    <li><a onclick="return confirm('Are you sure?');"
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'On Hold: Slides Received' }) }}">On Hold: Slides Received</a>
                    </li>
                {% endif %}

                {% if entity.status != 'On Hold: Awaiting Slides' %}
                    <li><a onclick="return confirm('Are you sure?');"
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'On Hold: Awaiting Slides' }) }}">On Hold: Awaiting Slides</a>
                    </li>
                {% endif %}

                {#                    
                {% if entity.status != 'amend' %}
                    <li><a onclick="return confirm('Are you sure?');" class="btn-danger" 
                           href="{{ path('scanorder_status', { 'id': entity.oid, 'status': 'amend' }) }}">Amend</a>
                    </li>                  
                {% endif %}     
                #}

           {% endif %} {#admin#}

        </ul>
      </div>


{#
        <a class="btn btn-small btn-info" href="{{ path('scanorder_show', { 'id': entity.oid }) }}">Show</a>
                    
        {% if entity.status != 'canceled' %}
        <a onclick="return confirm('Are you sure?');" class="btn btn-small btn-danger" href="{{ path('scanorder_cancel', { 'id': entity.oid }) }}">Cancel</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}  
        <a class="btn btn-small btn-warning" href="{{ path('scanorder_edit', { 'id': entity.oid }) }}">Edit</a>
        {% endif %}
#}
{#                    <a onclick="return confirm('Are you sure?');" class="btn btn-small btn-danger" href="{{ path('scanorder_delete', { 'id': entity.oid }) }}">Delete</a>#}
{% endblock %}
