{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 

    <h3>One Slide</h3>

    {#
    <form action="{{ path('oleg_add_slide') }}" method="post" {{ form_enctype(form) }} class="AddSlideForm">
    #}

    <form method="post" {{ form_enctype(form) }} class="AddSlideForm"> 
        
        {{ form_errors(form.id) }}
        {{ form_errors(form.accession) }}
        {{ form_errors(form.stain) }}
        {{ form_errors(form.mag) }}
        {{ form_errors(form) }}

        {#{{ form_label(form.id, 'id:') }}#}
        {{ form_widget(form.id) }}

        {{ form_label(form.accession, '*accession#:') }}
        {{ form_widget(form.accession) }}

        {{ form_label(form.stain, 'stain:') }}
        {{ form_widget(form.stain) }}

        {{ form_label(form.mag, 'mag:') }}
        {{ form_widget(form.mag) }}

        {{ form_rest(form) }}

        {#<input type="submit" value="Add Slide!"/>#}
        <p>
            <button class="btn btn-primary" type="button">Add Slide</button>        
        </p>
        
    </form>

{% endblock %}