<!DOCTYPE html>
<html>

<head>

    {% if security is not defined %}
        {% set security = 'true' %}
    {% endif %}

    {% if not is_granted('ROLE_USER') and security == 'true' %}
        <meta http-equiv="refresh" content="0; URL={{ path('login') }}">
    {% endif %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    {#<!-- Latest compiled and minified JavaScript -->#}
    {#<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>#}

    {#'%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'#}
    {#'%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/bootstrap/fonts/*' filter='cssrewrite'#}
    {% stylesheets
        '%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/select2/select2.css' filter='cssrewrite'
        '%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/form/css/form.css' filter='cssrewrite'     
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {#{% stylesheets '@css_bootstrap' %}#}
        {#<link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>#}
    {#{% endstylesheets %}#}

    {#'@OlegOrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'#}
    {#'@OlegOrderformBundle/Resources/public/form/css/form.css'#}
    {% stylesheets

        '@OlegOrderformBundle/Resources/public/datepicker/css/*'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        
    {% endstylesheets %}        
        
    {# Bootstrap Combobox: https://github.com/danielfarrell/bootstrap-combobox  #}
    {# TODO: use 'bundles/acme_foo/css/*' style#}    
{#    {% stylesheets #}
{#        '@OlegOrderformBundle/Resources/public/bootstrap-combobox/css/*' filter='cssrewrite'                 #}
{#    %}#}
{#        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
{#    {% endstylesheets %}#}

    <title>
        {% block title %}
            Scan Order
        {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head> 
             
<body>

    <div class="container page-content">


        <div class="header">

            {% block header %}
                {% if security == 'true' %}
                    {# <img src="{{ asset('/../../images/slide1.jpg') }}" alt="Slide">#}
                    {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}
                {% endif %}
            {% endblock %}

        </div>

        <div class="order-content">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}

        </div>

        <div class="footer">
            {% block footer %}
                &copy; Copyright 2013 by
                <a href="http://www.cornellpathology.com">Pathology and Laboratory Medicine Department</a>
                at
                <a href="http://weill.cornell.edu">Weill Cornell Medical College</a>.
            {% endblock %}
        </div>

        {% javascripts
            '@OlegOrderformBundle/Resources/public/jquery/*'
            '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
            '@OlegOrderformBundle/Resources/public/form/js/form.js'
            '@OlegOrderformBundle/Resources/public/form/js/slideColl.js'
            '@OlegOrderformBundle/Resources/public/datepicker/js/*' 
            '@OlegOrderformBundle/Resources/public/select2/select2.js'                 
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {# Bootstrap Combobox #}
{#        {% javascripts        #}
{#            '@OlegOrderformBundle/Resources/public/bootstrap-combobox/js/bootstrap-typeahead.js'            #}
{#            '@OlegOrderformBundle/Resources/public/bootstrap-combobox/js/bootstrap-combobox.js'                         #}
{#        %}#}
{#            <script type="text/javascript" src="{{ asset_url }}"></script>#}
{#        {% endjavascripts %}         #}
        {# Bootstrap Combobox #}

    </div>

</body>
         
</html>
