<!DOCTYPE html>
<html>

<head>

    {% if security is not defined %}
        {% set security = 'true' %}
    {% endif %}

    {#{% if not is_granted('ROLE_USER') and security == 'true' %}#}
        {#<meta http-equiv="refresh" content="0; URL={{ path('login') }}">#}
    {#{% endif %}#}

    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">#}
    <!-- Optional theme -->
    {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">#}
    {#<!-- Latest compiled and minified JavaScript -->#}
    {#<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>#}

    {#{% stylesheets#}
        {#'%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    {#'bundles/olegorderform/form/css/form.css'#}
    {#make sure to run if use bundles/... path: "php app/console assets:install ../.."#}
{#    {% stylesheets#}
{#        'bundles/olegorderform/bootstrap/css/*' filter='cssrewrite'#}
{#        'bundles/olegorderform/select2/select2.css' filter='cssrewrite'#}
{#        'bundles/olegorderform/form/css/form.css'#}
{#    %}#}
{#        <link rel="stylesheet" href="{{ asset_url }}" />#}
{#    {% endstylesheets %}#}
    
    {% stylesheets
        '%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'
        '%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/select2/select2.css' filter='cssrewrite'
        '%kernel.root_dir%/../src/Oleg/OrderformBundle/Resources/public/form/css/form.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        'bundles/olegorderform/datepicker/css/*' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}


    <title>
        {% block title %}
            Scan Order
        {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head> 
             
<body>

    <div class="container page-content col-xs-12">


        <div class="header">

            {% block header %}
                {% if security == 'true' %}
                    {# <img src="{{ asset('/../../images/slide1.jpg') }}" alt="Slide">#}
                    {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}
                {% endif %}
            {% endblock %}

        </div>

        <div class="order-content">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}

        </div>

        <div class="footer">
            {% block footer %}
                &copy; Copyright 2013 by
                <a href="http://www.cornellpathology.com">Pathology and Laboratory Medicine Department</a>
                at
                <a href="http://weill.cornell.edu">Weill Cornell Medical College</a>.
            {% endblock %}
        </div>
                  
        {% javascripts
            '@OlegOrderformBundle/Resources/public/jquery/*'
            '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
            '@OlegOrderformBundle/Resources/public/datepicker/js/*'
            '@OlegOrderformBundle/Resources/public/select2/select2.js'
            '@OlegOrderformBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'
            '@OlegOrderformBundle/Resources/public/form/js/slideColl.js'
            '@OlegOrderformBundle/Resources/public/form/js/partRadios.js'
            '@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'
            '@OlegOrderformBundle/Resources/public/form/js/checkForm.js'
            '@OlegOrderformBundle/Resources/public/form/js/form.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
    </div>

</body>
         
</html>
