<!DOCTYPE html>
<html>
      
    <head>
        
    <div class="order-content">            
        
        {% block head %}
                      
            {% stylesheets 
                '@OlegOrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite' 
                '@OlegOrderformBundle/Resources/public/form/css/*'
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}                                
                
            {% javascripts 
                '@OlegOrderformBundle/Resources/public/jquery/jquery-1.9.1.js'
                '@OlegOrderformBundle/Resources/public/bootstrap/js/*'  
                '@OlegOrderformBundle/Resources/public/form/js/*'    
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}                                                                   
                
            {# Bootstrap Combobox: https://github.com/danielfarrell/bootstrap-combobox  #}
            {# TODO: use 'bundles/acme_foo/css/*' #}
            {% stylesheets 
                '@OlegOrderformBundle/Resources/public/bootstrap-combobox/css/*' filter='cssrewrite'                 
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}

            {% javascripts                   
                '@OlegOrderformBundle/Resources/public/bootstrap-combobox/js/*'                    
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}                    
            {# Bootstrap Combobox #}                                           
                
            <title>{% block title %}{% endblock %} - Scan Order</title>                   
            
        {% endblock %}
    </head>
    <body>
        
        <div id="header">
            {% block header %}
                <img src="{{ asset('/../../images/slide1.jpg') }}" alt="Slide">
            {% endblock %}
                           
            {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}             
                
        </div>
        {#   div header   #}
             
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div id="content">{% block content %}{% endblock %}</div>
        
        <div id="footer" class="footer">
            {% block footer %}
                &copy; Copyright 2013 by <a href="https://webmail.med.cornell.edu/">Pathology - Weill Cornell Medical College</a>.
            {% endblock %}
        </div>                   
        
        
    </body>
    
    </div>
    
</html>
