
{#{%- block form_row -%}#}
    {#<div>#}
        {#{{- form_label(form) -}}#}
        {#{{- form_errors(form) -}}#}
        {#{{- form_widget(form) -}}#}
    {#</div>#}
{#{%- endblock form_row -%}#}

{% block form_row %}
    {% spaceless %}
        <div>
            <p>
                <div class="row">
                    {{ form_errors(form) }}
                    <div class="col-xs-6" align="right">
                        {{ form_label(form) }}
                    </div>
                    <div class="col-xs-6" align="left">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </p>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_row1 %}
    {% spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row1 %}

{% block form_errors %}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="text-danger">
                {{ error.message|raw }}
            </p>
        {%- endfor -%}
    {%- endif %}
{% endblock form_errors %}



