{#macro for form label input inline#}

{% macro field( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left">
            {{ form_widget(field) }}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro orderinfo(form) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.provider) }}

    {{ formmacros.field(form.pathologyService) }}

    {{ formmacros.field(form.priority) }}


    {#            optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well span10" aling='center'>

            {{ formmacros.field(form.scandeadline) }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.slideDelivery) }}
    {{ formmacros.field(form.returnSlide) }}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}

    <div  class="panel panel-patient">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}

{% macro orderinfo1(form) %}
    <div  class="panel panel-patient">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Scan Order Info</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.provider) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.provider) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.pathologyService) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.pathologyService) }}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.priority) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.priority) }}
                </div>
            </div>
            {#            optional for priority#}
            <div id="priority_option" class="collapse">
                {#            <div class="oleg_padding_top_bottom text-info">#}
                <div class="well">

                    <div class="row">
                        <div class="col-xs-6" align="right">
                            {{ form_label(form.scandeadline) }}
                        </div>
                        <div class="col-xs-6" align="left">
                            {{ form_widget(form.scandeadline) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6" align="right">
                            {{ form_label(form.returnoption) }}
                        </div>
                        <div class="col-xs-6" align="left">
                            {{ form_widget(form.returnoption) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.slideDelivery) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.slideDelivery) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.returnSlide) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.returnSlide) }}
                </div>
            </div>

        </div>
    </div>
{% endmacro %}
                 