{#macro for form label input inline#}

{% form_theme form 'OlegOrderformBundle::Default/collection_widget.html.twig' %}

{% macro field( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left">
            {{ form_widget(field) }}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro fielddate( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">
            {#<div ng-app="myApp" ng-controller="Ctrl">#}
                {#&#123;&#35;<div class="input-append">&#35;&#125;#}
                    {#<div class="input-group">{{ form_widget(field) }}<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>#}
                    {#&#123;&#35;<div class="input-group">{{ form_widget(field) }}<button type="button" class="btn" data-toggle="datepicker"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>&#35;&#125;#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#</div>#}

            {#<div ng-app="myApp" ng-controller="Ctrl">#}
                <div class="input-group">
                    {#<input type="text" class="form-control" b-datepicker ng-model="date">#}
                    {{ form_widget(field) }}
                    <span class="input-group-addon btn" data-toggle="datepicker" type="button">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            {#</div>#}

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro orderinfo(form) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.provider) }}

    {{ formmacros.field(form.pathologyService) }}

    {{ formmacros.field(form.priority) }}


    {#            optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well" aling='center'>

            {{ formmacros.fielddate(form.scandeadline) }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.slideDelivery) }}
    {{ formmacros.field(form.returnSlide) }}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}

    <div  class="panel panel-patient">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}


{% macro orderinfo_panel_header(
    name, type, count, toatlLength, uid,
    patientCount,
    procedureCount,
    accessionCount,
    partCount,
    blockCount,
    slideCount,
    scanCount,
    stainCount
) %}

<div class="panel-heading" align="left">
    <div id="form_body_toggle_{{ name }}_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_{{ name }}_{{ uid }}"></div>
    {% if name == 'procedure' %}
        {% set title = 'accession' %}
    {% else %}
        {% set title = name %}
    {% endif %}
    {{ title | capitalize }} {{ count+1 }}
    {% if name != "scan" and name != "stain" %}
    {% if type == 'new' or type == 'edit' %}
        <div class="form-btn-options">
            {% if toatlLength ==  (count + 1) %}
                <button id="form_add_btn_{{ name }}_{{ uid }}" type="button" class="btn btn-xs btn_margin"
                        onclick="addSameForm(
                            '{{ name }}',
                            {{ patientCount }},
                            {{ procedureCount }},
                            {{ accessionCount }},
                            {{ partCount }},
                            {{ blockCount }},
                            {{ slideCount }},
                            {{ scanCount }},
                            {{ stainCount }}
                        )">Add</button>
            {% endif %}
            <button id="{{ name }}_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
        </div>
    {% endif %}
    {% endif %}
</div>

{% endmacro %}


{#used by single form#}
{% macro disease(form) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.diseaseType) }}

    {#  optional for origin  #}
    <div id="origin_option" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.origin) }}

        </div>

    </div>

    {#  optional for primaryOrgan  #}
    <div id="primaryOrgan" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.primaryOrgan) }}

        </div>

    </div>

{% endmacro %}

{#used by multy form#}
{% macro diseaseMulti(form, patient, specimen, accession, part ) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.diseaseType) }}

    {% set uid = 'patient_'~patient~'_specimen_'~specimen~'_accession_'~accession~'_part_'~part %}

    {#  optional for origin  #}
    {#id = origin_option_multi_patient_0_specimen_0_accession_0_part_0_diseaseType#}
    <div id="origin_option_multi_{{ uid }}_origintag" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.origin) }}

        </div>

    </div>


    <div id="primaryOrgan_option_multi_{{ uid }}_primaryOrgan" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.primaryOrgan) }}

        </div>

    </div>

{% endmacro %}

    
    
{% macro collectionInput(part, type, formtype, patientCount, procedureCount, accessionCount, partCount) %}

    {% set addBtnId = 'addbtn_patient_'~patientCount~'_specimen_'~procedureCount~'_accession_'~accessionCount~'_part_'~partCount~'_diffDiagnoses' %}

    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {#Different Diagnoses:#}
            {% if part.diffDiagnoses|length > 0 %}
                {{ form_label(part.diffDiagnoses[0].name) }}
            {% else %}
                {{ form_label(part.diffDiagnoses.name) }}
            {% endif %}
            
            
        </div>
        <div class="col-xs-6" align="left">

            <div style="float:left; width:100%">
                {% for diffDiagnoses in part.diffDiagnoses %}
                    {{ form_errors(diffDiagnoses.name) }}
                    <div class="fieldInputColl">
                    {{ form_widget(diffDiagnoses.name) }}
                    </div>
                {% endfor %}
                {% if type == 'new' or type == 'edit' %}
                    <div class="addDelBtnColl">
                        <button id="{{ addBtnId }}" onClick="addDiffdiagField('diffdiagnoses', '{{ formtype }}', '{{ patientCount }}', '{{ procedureCount }}', '{{ accessionCount }}', '{{ partCount }}')" class="btn btn-sm btn-info" type="button">+</button>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    </p>
    
{% endmacro %}


{% macro clinicalHistoryInput(fields) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {#LENGTH:{{ fields|length }}#}
            {% if fields|length > 0 %}
                {{ form_label(fields[0].clinicalHistory) }}
            {% else %}
                {#{{ form_label(fields.clinicalHistory) }}#}
            {% endif %}
        </div>
        <div class="col-xs-6" align="left">
            {% for field in fields %}
                {{ form_widget(field.clinicalHistory) }}
            {% endfor %}
        </div>
    </div>
    </p>
{% endmacro %}


{% macro paperInput(fields,type) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {% if fields|length > 0 %}
                {% if type == 'show' %}
                    {{ form_label(fields[0].name) }}
                {% else %}
                    {{ form_label(fields[0].file) }}
                {% endif %}
            {% else %}
                {#{{ form_label(fields.clinicalHistory) }}#}
            {% endif %}
        </div>
        <div class="col-xs-6" align="left">
            {% for field in fields %}
                {% if type == 'show' %}
                    <a href="../../../../web/uploads/documents/{{ field.vars.value.path }}" target="_blank">{{ field.vars.value.name }}</a>
                {% else %}
                    {{ form_widget(field.file) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </p>
{% endmacro %}


{#
coll:       coll field
type:       new, edit or show
formtype:   single or multi
ident:      specialStains or relevantScans
*Count:     object id
#}
{% macro collInput(coll, type, formtype, ident, patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) %}

    {% set addBtnId = 'addbtn_patient_'~patientCount~'_specimen_'~procedureCount~'_accession_'~accessionCount~'_part_'~partCount~'_block_'~blockCount~'_slide_'~slideCount~'_'~ident %}

    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {% if coll|length > 0 %}
                {{ form_label(coll[0].name) }}
            {% else %}
                {{ form_label(coll.name) }}
            {% endif %}
        </div>
        <div class="col-xs-6" align="left">

            <div style="float:left; width:100%">
                {% for col in coll %}
                    <div class="fieldInputColl">
                        {{ form_widget(col.name) }}
                    </div>
                {% endfor %}
                {% if type == 'new' or type == 'edit' %}
                    <div class="addDelBtnColl">
                        <button id="{{ addBtnId }}" onClick="addCollField('{{ ident }}', '{{ formtype }}', '{{ patientCount }}', '{{ procedureCount }}', '{{ accessionCount }}', '{{ partCount }}', '{{ blockCount }}', '{{ slideCount }}')" class="btn btn-sm btn-info" type="button">+</button>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    </p>

{% endmacro %}


{% macro field_paperurl( paper ) %}

    {% if paper.vars.value.path is defined %}

        <p>
        <div class="row">
            <div class="col-xs-6" align="right">
                {{ form_label(paper.name) }}
            </div>
            <div class="col-xs-6" align="left">
                {#{{ form_widget(field) }}#}
                <a href="../../../../web/uploads/documents/{{ paper.vars.value.path }}" target="_blank">{{ paper.vars.value.name }}</a>
            </div>
        </div>
        </p>

    {% endif %}

{% endmacro %}
    