{#macro for form label input inline#}

{% macro field( field, attr ) %}
    {% form_theme field 'OlegOrderformBundle::Default/collection_widget.html.twig' %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left">
            {% if attr == "disabled" %}
                {#value of disabled field will be ignored, but readonly does not work#}
                {{ form_widget(field,{ 'disabled':'disabled' }) }}
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro fielddate( field, attr ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">

            <div class="input-group">
                {#{{ form_widget(field) }}#}
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored, but readonly does not work#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
                <span class="input-group-addon btn" data-toggle="datepicker" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro fieldicon( field, icon ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">

            <div class="input-group">
                {{ form_widget(field) }}
                <span id="check_btn" class="input-group-addon btn" data-toggle="form-control" type="button" onclick="checkForm(this)">
                    <i class="glyphicon {{ icon }}"></i>
                </span>
            </div>

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro orderinfo(form) %}

    {% for provider in form.vars.value.provider %}
        <input type="hidden" id="user_name" value="{{ provider.username }}" />
        <input type="hidden" id="user_id" value="{{ provider.id }}" />
    {% endfor %}

    {% for proxyuser in form.vars.value.proxyuser %}
        <input type="hidden" id="proxyuser_name" value="{{ proxyuser.username }}" />
        <input type="hidden" id="proxyuser_id" value="{{ proxyuser.id }}" />
    {% endfor %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.provider) }}
    {#Hi {{ app.user.displayname }}#}

    {{ formmacros.field(form.proxyuser) }}

    {{ formmacros.field(form.pathologyService) }}

    {{ formmacros.field(form.priority) }}


    {#            optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well" aling='center'>

            {{ formmacros.fielddate(form.scandeadline) }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.slideDelivery) }}
    {{ formmacros.field(form.returnSlide) }}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}

    <div  class="panel panel-patient">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}


{% macro orderinfo_panel_header(
    name, type, count, toatlLength, uid,
    patientCount,
    procedureCount,
    accessionCount,
    partCount,
    blockCount,
    slideCount,
    scanCount,
    stainCount
) %}

<div class="panel-heading" align="left">
    <div id="form_body_toggle_{{ name }}_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_{{ name }}_{{ uid }}"></div>
    {% if name == 'procedure' %}
        {% set title = 'accession' %}
    {% else %}
        {% set title = name %}
    {% endif %}
    {{ title | capitalize }} {{ count+1 }}
    {% if name != "scan" and name != "stain" %}
    {% if type == 'new' or type == 'edit' %}
        <div class="form-btn-options">
            {#{% if toatlLength ==  (count + 1) %}#}
                <button id="form_add_btn_{{ name }}_{{ uid }}" type="button"
                        class="add_form_btn btn-xs btn btn_margin btn-default"
                        onclick="addSameForm(
                            '{{ name }}',
                            {{ patientCount }},
                            {{ procedureCount }},
                            {{ accessionCount }},
                            {{ partCount }},
                            {{ blockCount }},
                            {{ slideCount }},
                            {{ scanCount }},
                            {{ stainCount }}
                        )">Add</button>
            {#{% endif %}#}
            <button id="{{ name }}_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Clear</button>
        </div>
    {% endif %}
    {% endif %}
</div>

{% endmacro %}


{#used by single form#}
{% macro disease(form) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.diseaseType) }}

    {#  optional for origin  #}
    <div id="origin_option" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.origin) }}

        </div>

    </div>

    {#  optional for primaryOrgan  #}
    <div id="primaryOrgan" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.primaryOrgan) }}

        </div>

    </div>

{% endmacro %}

{#used by multy form#}
{% macro diseaseMulti(form, patient, specimen, accession, part, attr ) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.diseaseType,attr) }}

    {% set uid = 'patient_'~patient~'_specimen_'~specimen~'_accession_'~accession~'_part_'~part %}

    {#  optional for origin  #}
    {#id = origin_option_multi_patient_0_specimen_0_accession_0_part_0_diseaseType#}
    <div id="origin_option_multi_{{ uid }}_origintag" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.origin,attr) }}

        </div>

    </div>


    <div id="primaryOrgan_option_multi_{{ uid }}_primaryOrgan" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.primaryOrgan,attr) }}

        </div>

    </div>

{% endmacro %}

    
{#####################  Collection Input Field  ########################}
{% macro collectionInput(objectForm, objectName, type, formtype, patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount, attr) %}

    {% set addBtnId = 'addbtn_patient_'~patientCount~'_specimen_'~procedureCount~'_accession_'~accessionCount~'_part_'~partCount~'_block_'~blockCount~'_slide_'~slideCount~'_'~objectName~'_0_'~objectName %}
    {% set inputGroupId = 'inputGroupId_patient_'~patientCount~'_specimen_'~procedureCount~'_accession_'~accessionCount~'_part_'~partCount~'_block_'~blockCount~'_slide_'~slideCount~'_'~objectName~'_0_'~objectName %}

    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {#Different Diagnoses:#}
            {% if objectForm|length > 0 %}
                {{ form_label(objectForm[0].name) }}
            {% else %}
                {{ form_label(objectForm.name) }}
            {% endif %}
            
            
        </div>
        <div class="col-xs-6" align="left">

            <div style="float:left; width:100%">
                {% for diffDiagnoses in objectForm %}
                    {{ form_errors(diffDiagnoses.name) }}
                    <div class="fieldInputColl">

                        <div class="input-group" id="{{ inputGroupId }}">
                            {#<input type="text" class="form-control" b-datepicker ng-model="date">#}
                            {#{{ form_widget(diffDiagnoses.name) }}#}
                            {% if attr == "disabled" %}
                                {#value of disabled field will be ignored, but readonly does not work#}
                                {{ form_widget(diffDiagnoses.name,{ 'disabled':'disabled' }) }}
                            {% else %}
                                {{ form_widget(diffDiagnoses.name) }}
                            {% endif %}
                            {% if type == 'new' or type == 'edit' %}
                                <span
                                      id="{{ addBtnId }}"
                                      onClick="addDiffdiagField('{{ objectName }}', '{{ formtype }}', '{{ patientCount }}', '{{ procedureCount }}', '{{ accessionCount }}', '{{ partCount }}', '{{ blockCount }}', '{{ slideCount }}')"
                                      class="input-group-addon btn" type="button">
                                      <i class="glyphicon glyphicon-plus-sign"></i>
                                </span>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    </p>
    
{% endmacro %}


{% macro clinicalHistoryInput(fields, attr) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {#LENGTH:{{ fields|length }}#}
            {% if fields|length > 0 %}
                {{ form_label(fields[0].clinicalHistory) }}
            {% else %}
                {#{{ form_label(fields.clinicalHistory) }}#}
            {% endif %}
        </div>
        <div class="col-xs-6" align="left">
            {% for field in fields %}
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored, but readonly does not work#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </p>
{% endmacro %}


{% macro paperInput(fields,type,attr) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {% if fields|length > 0 %}
                {% if type == 'show' %}
                    {{ form_label(fields[0].name) }}
                {% else %}
                    {{ form_label(fields[0].file) }}
                {% endif %}
            {% else %}
                {#{{ form_label(fields.clinicalHistory) }}#}
            {% endif %}
        </div>
        <div class="col-xs-6" align="left">
            {% for field in fields %}
                {% if type == 'show' %}
                    <a href="../../../../web/uploads/documents/{{ field.vars.value.path }}" target="_blank">{{ field.vars.value.name }}</a>
                {% else %}
                    {% if attr == "disabled" %}
                        {#value of disabled field will be ignored, but readonly does not work#}
                        {{ form_widget(field.file,{ 'disabled':'disabled' }) }}
                    {% else %}
                        {{ form_widget(field.file) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </p>
{% endmacro %}


{#
coll:       coll field
type:       new, edit or show
formtype:   single or multi
ident:      specialStains or relevantScans
*Count:     object id
#}
{% macro collInput(coll, type, formtype, ident, patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) %}

    {% set addBtnId = 'addbtn_patient_'~patientCount~'_specimen_'~procedureCount~'_accession_'~accessionCount~'_part_'~partCount~'_block_'~blockCount~'_slide_'~slideCount~'_'~ident %}

    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {% if coll|length > 0 %}
                {{ form_label(coll[0].name) }}
            {% else %}
                {{ form_label(coll.name) }}
            {% endif %}
        </div>
        <div class="col-xs-6" align="left">

            <div style="float:left; width:100%">
                {% for col in coll %}
                    <div class="fieldInputColl">
                        {{ form_widget(col.name) }}
                    </div>
                {% endfor %}
                {% if type == 'new' or type == 'edit' %}
                    <div class="addDelBtnColl">
                        <button id="{{ addBtnId }}" onClick="addCollField('{{ ident }}', '{{ formtype }}', '{{ patientCount }}', '{{ procedureCount }}', '{{ accessionCount }}', '{{ partCount }}', '{{ blockCount }}', '{{ slideCount }}')" class="btn btn-sm btn-info" type="button">+</button>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    </p>

{% endmacro %}


{% macro field_paperurl( paper ) %}

    {% if paper.vars.value.path is defined %}

        <p>
        <div class="row">
            <div class="col-xs-6" align="right">
                {{ form_label(paper.name) }}
            </div>
            <div class="col-xs-6" align="left">
                {#{{ form_widget(field) }}#}
                <a href="../../../../web/uploads/documents/{{ paper.vars.value.path }}" target="_blank">{{ paper.vars.value.name }}</a>
            </div>
        </div>
        </p>

    {% endif %}

{% endmacro %}


{############################ Objects ###########################}

{% macro patientForm( patient, flag, uid ) %}
    {% import _self as formmacros %}
    {% if flag == "check" %}
        {% set attr="disabled" %}
    {% else %}
        {% set attr="" %}
    {% endif %}
    <div id="patient_{{ uid }}">
        {{ formmacros.fieldicon(patient.mrn,"glyphicon-check") }}
        {{ formmacros.field(patient.name,attr) }}
        {{ formmacros.field(patient.sex,attr) }}
        {{ formmacros.fielddate(patient.dob,attr) }}
        {{ formmacros.field(patient.age,attr) }}
        {{ formmacros.clinicalHistoryInput(patient.clinicalHistory,attr) }}
    </div>
{% endmacro %}

{% macro accessionForm( procedure, accession, flag, uid ) %}
    {% import _self as formmacros %}
    {% if flag == "check" %}
        {% set attr="disabled" %}
    {% else %}
        {% set attr="" %}
    {% endif %}
    <div id="accession_{{ uid }}">
        {{ formmacros.fieldicon(accession.accession,"glyphicon-check") }}
        {{ formmacros.field(procedure.proceduretype,attr) }}
    </div>
{% endmacro %}

{% macro partForm( form, flag, uid, type, patientCount, procedureCount, accessionCount, partCount ) %}
    {% import _self as formmacros %}
    {% if flag == "check" %}
        {% set attr="disabled" %}
    {% else %}
        {% set attr="" %}
    {% endif %}
    <div id="accession_{{ uid }}">
        {{ formmacros.fieldicon(form.name,"glyphicon-check") }}
        {{ formmacros.field(form.sourceOrgan,attr) }}
        {{ formmacros.paperInput(form.paper,type,attr) }}
        {{ formmacros.field(form.description,attr) }}
        {{ formmacros.field(form.diagnosis,attr) }}
        {% if form.diffDiagnoses|length > 0 %}
            {{ formmacros.collectionInput(form.diffDiagnoses, 'diffDiagnoses', type, 'multi', patientCount, procedureCount, accessionCount, partCount, 0, 0, attr) }}
        {% endif %}
        {{ formmacros.diseaseMulti(form, patientCount, procedureCount, accessionCount, partCount, attr) }}
    </div>
{% endmacro %}



{#/////////////////// TO DELETE /////////////////////////////#}
{#Single Patient form macros#}
{% macro patientFormFull( patient, cicle ) %}

    {% import _self as formmacros %}

    {#patient#}
    {% set patientCount = 0 %}
    {#{% for patient in form.patient %}#}
        {% set uid = patientCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
        {#{% set patientCountNext = patientCount + 1 %}#}
        <div id="formpanel_patient_{{ uid }}" class="panel panel-patient">
            {{ formmacros.orderinfo_panel_header(
                                                    'patient', cicle, patientCount, 1, uid,
                                                    patientCount, 0, 0, 0, 0, 0, 0, 0
                                                )
            }}

            <div id="form_body_patient_{{ uid }}" class="panel-body collapse in">
                {{ formmacros.field(patient.mrn) }}
                <button id="form_check_mrn_{{ uid }}" type="button" class="btn btn-xs btn_margin" onclick="checkMrn('patient',{{ patientCount }},0, 0, 0, 0, 0, 0, 0)">Check</button>
                {{ formmacros.field(patient.name,true) }}
                {{ formmacros.field(patient.sex,"true") }}
                {{ formmacros.fielddate(patient.dob,"disabled") }}
                {{ formmacros.field(patient.age,"true") }}
                {{ formmacros.clinicalHistoryInput(patient.clinicalHistory) }}

                {#specimen/procedure#}
                {% set procedureCount = 0 %}
                {% for specimen in patient.specimen %}
                    {% set uid = patientCount~'_'~procedureCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                <div id="formpanel_procedure_{{ uid }}" class="panel panel-procedure">
                    {{ formmacros.orderinfo_panel_header(
                    'procedure', cicle, procedureCount, patient.specimen|length, uid,
                    patientCount, procedureCount, 0, 0, 0, 0, 0, 0)
                    }}

                    <div id="form_body_procedure_{{ uid }}" class="panel-body collapse in">
                        {#{{ formmacros.field(specimen.proceduretype) }}#}

                        {#accession#}
                        {% set accessionCount = 0 %}
                        {% for accession in specimen.accession %}
                            {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                            {#<div id="formpanel_accession_{{ uid }}" class="panel panel-accession">#}
                            {#{{ formmacros.orderinfo_panel_header(#}
                            {#'accession', type, accessionCount, specimen.accession|length, uid,#}
                            {#patientCount, procedureCount, accessionCount, 0, 0, 0, 0, 0)#}
                            {#}}#}

                            {#<div id="form_body_accession_{{ uid }}" class="panel-body collapse in">#}
                            {{ formmacros.field(accession.accession) }}
                            {#{{ formmacros.field(accession.date) }}                                       #}
                            {{ formmacros.field(specimen.proceduretype) }}

                            {#part#}
                            {% set partCount = 0 %}
                            {% for part in accession.part %}
                                {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~0~'_'~0~'_'~0~'_'~0 %}

                                <div id="formpanel_part_{{ uid }}" class="panel panel-part">
                                    {{ formmacros.orderinfo_panel_header(
                                    'part', cicle, partCount, accession.part|length, uid,
                                    patientCount, procedureCount, accessionCount, partCount, 0, 0, 0, 0)
                                    }}

                                    <div id="form_body_part_{{ uid }}" class="panel-body collapse in">
                                        {{ formmacros.field(part.name) }}
                                        {{ formmacros.field(part.sourceOrgan) }}
                                        {{ formmacros.paperInput(part.paper,cicle) }}
                                        {{ formmacros.field(part.description) }}
                                        {{ formmacros.field(part.diagnosis) }}
                                        {############ different diagnoses input collection #############}
                                        {% if part.diffDiagnoses|length > 0 %}
                                            {{ formmacros.collectionInput(part.diffDiagnoses, 'diffDiagnoses', cicle, 'multi', patientCount, procedureCount, accessionCount, partCount, 0, 0) }}
                                        {% endif %}
                                        {{ formmacros.diseaseMulti(part, patientCount, procedureCount, accessionCount, partCount) }}

                                        {#block#}
                                        {% set blockCount = 0 %}
                                        {% for block in part.block %}
                                            {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~0~'_'~0~'_'~0 %}
                                            <div id="formpanel_block_{{ uid }}" class="panel panel-block">
                                                {{ formmacros.orderinfo_panel_header(
                                                'block', cicle, blockCount, part.block|length, uid,
                                                patientCount, procedureCount, accessionCount, partCount, blockCount, 0, 0, 0)
                                                }}

                                                <div id="form_body_block_{{ uid }}" class="panel-body collapse in">
                                                    {{ formmacros.field(block.name) }}


                                                    {#slide#}
                                                    {% set slideCount = 0 %}
                                                    {% for slide in block.slide %}
                                                        {% set uid = patientCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount~'_'~0~'_'~0 %}
                                                        <div id="formpanel_slide_{{ uid }}" class="panel panel-slide">
                                                            {{ formmacros.orderinfo_panel_header(
                                                            'slide', cicle, slideCount, block.slide|length, uid,
                                                            patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount, 0, 0)
                                                            }}

                                                            <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">

                                                                {#scan and stain#}
                                                                {% set scanCount = 0 %}
                                                                {% set stainCount = 0 %}

                                                                {#stain#}
                                                                {% for stain in slide.stain %}
                                                                    {{ formmacros.field(stain.name) }}
                                                                {% endfor %}

                                                                {#scan#}
                                                                {% for scan in slide.scan %}
                                                                    {{ formmacros.field(scan.mag) }}
                                                                    {{ formmacros.field(scan.scanregion) }}
                                                                    {{ formmacros.field(scan.note) }}
                                                                {% endfor %}

                                                                {#                                                                        {% if multy == 'single' %}#}
                                                                {#                                                                            {{ formmacros.field(slide.diagnosis) }}#}
                                                                {#                                                                        {% endif %}#}
                                                                {{ formmacros.field(slide.microscopicdescr) }}

                                                                {#{{ formmacros.field(slide.specialStains) }}#}
                                                                {############ specialStains input collection #############}
                                                                {% if slide.specialStains|length > 0 %}
                                                                    {{ formmacros.collInput(slide.specialStains, cicle, 'multi', 'specialStains', patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) }}
                                                                {% endif %}

                                                                {#{{ formmacros.field(slide.relevantScans) }}#}
                                                                {############ relevantScans input collection #############}
                                                                {% if slide.relevantScans|length > 0 %}
                                                                    {#{{ formmacros.collInput(slide.relevantScans, type, 'multi', 'relevantScans', patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) }}#}
                                                                    {{ formmacros.collectionInput(slide.relevantScans, 'relevantScans', cicle, 'multi', patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount) }}
                                                                {% endif %}

                                                            </div>
                                                        </div> {#end of slide#}
                                                        {% set slideCount = slideCount + 1 %}
                                                    {% endfor %}


                                                </div>
                                                {% set blockCount = blockCount + 1 %}
                                            </div> {#end of block#}
                                        {% endfor %}



                                    </div>
                                </div> {#end of part#}
                                {% set partCount = partCount + 1 %}
                            {% endfor %}


                            {#</div>#}
                            {#</div> &#123;&#35;end of accession&#35;&#125;#}
                            {% set accessionCount = accessionCount + 1 %}
                        {% endfor %}


                    </div>
                    </div>{#end of specimen #}
                    {% set procedureCount = procedureCount + 1 %}
                {% endfor %} {# specimen loop #}


            </div>{# end of form_body_patient_ #}
        </div> {#end of patient #}
        {% set patientCount = patientCount + 1 %}
    {#{% endfor %} &#123;&#35; patient loop &#35;&#125;#}

{% endmacro %}