{#macro for form label input inline#}

{% macro checkbox( value ) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {{ form_label(value) }}
        </div>
        <div class="col-xs-6" align="left" style="width: 50px;">
            {{ form_widget(value) }}
        </div>
    </div>
    </p>
{% endmacro %}

{% macro simplefield( label, value, type, disabled ) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            <strong>{{ label }}</strong>
        </div>
        <div class="col-xs-6" align="left">
            {% if type is defined and type == "input" %}
                <input class="form-control form-control-modif" type="text" value="{{ value }}" {{ disabled }}>
            {% else %}
                {{ value }}
            {% endif %}
        </div>
    </div>
    </p>
{% endmacro %}

{#attr is not used, because readonly it is not working#}
{% macro field( field, label, attr ) %}
    {% form_theme field 'OlegOrderformBundle::Default/collection_widget.html.twig' %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field,label) }}
        </div>
        <div class="col-xs-6" align="left">
            {% if attr == "disabled" %}
                {#value of disabled field will be ignored, but readonly does not work#}
                {{ form_widget(field,{ 'disabled':'disabled' }) }}
            {% elseif attr == "readonly" %}
                {{ form_widget(field,{ 'readonly':'readonly' }) }}
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}

{% macro fieldDateLabel( field, attr ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">

            <div class="input-group date">
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored, but readonly does not work#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                {#<span class="input-group-addon btn" data-toggle="datepicker" type="button">#}
                    {#<i class="glyphicon glyphicon-calendar"></i>#}
                {#</span>#}
            </div>


            {#<div class="input-group date">#}
                {#&#123;&#35;<input type="text" class="form-control">&#35;&#125;#}
                {#{{ form_widget(field) }}#}
                {#<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>#}
            {#</div>#}

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}
{% macro fielddate( field, attr ) %}
            <div class="input-group date">
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored, but readonly does not work#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>

{% endmacro %}

{% macro fieldicon( field, extra, classname ) %}

    {% set classname = classname~"btn" %}

    {% import _self as formmacros %}
    {% set imgLoading = asset('bundles/olegorderform/form/img/select2-spinner.gif') %}

        <div class="row ">
            <div class="col-xs-10">
                {% if extra != "" %}
                    {{ form_widget(extra) }}
                {% endif %}
                {{ form_widget(field) }}
            </div>           
            <div class="col-xs-2">
                <button id="check_btn" class="btn btn-default checkbtn {{ classname }}" type="button" onclick="checkForm(this)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-check"></i></button>
            </div>
        </div>

{% endmacro %}


{% macro orderinfo(form) %}

    {% for provider in form.vars.value.provider %}
        <input type="hidden" id="user_name" value="{{ provider.username }}" />
        <input type="hidden" id="user_id" value="{{ provider.id }}" />
    {% endfor %}

    {% for proxyuser in form.vars.value.proxyuser %}
        <input type="hidden" id="proxyuser_name" value="{{ proxyuser.username }}" />
        <input type="hidden" id="proxyuser_id" value="{{ proxyuser.id }}" />
    {% endfor %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.provider) }}
    {#Hi {{ app.user.displayname }}#}

    {{ formmacros.field(form.proxyuser) }}

    {{ formmacros.field(form.pathologyService) }}

    {{ formmacros.field(form.priority) }}


    {#            optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well" align='center'>

            {{ formmacros.fieldDateLabel(form.scandeadline) }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.slideDelivery) }}
    {{ formmacros.field(form.returnSlide) }}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}
    {#panel-patient panel-primary#}
    <div  class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    {#<h4>{{ header }}</h4>#}
                    <h4 class="panel-title">{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}


{% macro orderinfo_panel_header(
    name, type, count, toatlLength, uid,
    patientCount,
    procedureCount,
    accessionCount,
    partCount,
    blockCount,
    slideCount,
    scanCount,
    stainCount
) %}

    <div class="panel-heading">

        <button
             id="form_body_toggle_{{ name }}_{{ uid }}" type="button"
             class="btn btn-default btn-xs form_body_toggle_btn glyphicon glyphicon-folder-open pull-left"
             data-toggle="collapse" data-target="#form_body_{{ name }}_{{ uid }}">
        </button>

        {% if name == 'procedure' %}
            {% set title = 'accession' %}
        {% else %}
            {% set title = name %}
        {% endif %}

        {#<div class="element-title text-left">{{ title | capitalize }} {{ count+1 }}</div>#}
        <h4 class="panel-title element-title">{{ title | capitalize }} {{ count+1 }}</h4>

        {% if name != "scan" and name != "stain" %}
            {% if type == 'new' or type == 'edit' or type == 'amend' %}

                <div class="form-btn-options">
                    <button id="form_add_btn_{{ name }}_{{ uid }}" type="button"
                            class="btn btn-default btn-xs add_form_btn pull-right"
                            onclick="addSameForm(
                                '{{ name }}',
                                {{ patientCount }},
                                {{ procedureCount }},
                                {{ accessionCount }},
                                {{ partCount }},
                                {{ blockCount }},
                                {{ slideCount }},
                                {{ scanCount }},
                                {{ stainCount }}
                            )">Add</button>
                    {#<button id="{{ name }}_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Clear</button>#}
                </div>

            {% endif %}
        {% endif %}
        <div class="clearfix"></div>

    </div> <!-- panel-heading -->

{% endmacro %}



{#history info#}
{% macro history_info(histories, forwardhistory, form) %}

    {% set formstatus = form.vars.value.status.name|lower %}

    <div class="well well-sm">

        {% if histories|first.orderinfo.status != "Superseded" %}
            {% if histories|first.orderinfo.status == "Amended" %}
                <p>
                    This order has been originally submitted
                    by {{ histories|first.orderinfo.provider|first }} on {{ histories|first.orderinfo.orderdate|date('Y-m-d') }} at {{ histories|first.orderinfo.orderdate|date('h:i a') }}
                    and most recently {{ formstatus }} by {{ histories|first.provider }}
                    on {{ histories|first.changedate|date('Y-m-d') }} at {{ histories|first.changedate|date('h:i a') }}
                </p>
            {% else %}
                {% if 'by' in formstatus %}
                    {% set performed = 'performed ' %}
                {% else %}
                    {% set performed = '' %}
                {% endif %}
                <p>
                    This order has been {{ formstatus }} {{performed}}by {{ histories|first.provider }}
                    on {{ histories|first.orderinfo.orderdate|date('Y-m-d') }} at {{ histories|first.orderinfo.orderdate|date('h:i a') }}
                </p>
            {% endif %}
        {% endif %}

        {% for history in histories %}

            {% set historytatus = history.currentstatus|lower %}

            {% if history.orderinfo.id != history.currentid %}
                {% if history.currentid > history.orderinfo.id %}
                    <p class="text-danger">
                        This order is the older archived version of and has been {{ formstatus }} by
                        <a href="{{ path('multy_show',{'id':history.orderinfo.id}) }}">Order ID {{ history.orderinfo.id }}</a> via amendment
                        on {{ history.changedate|date('Y-m-d') }} at {{ history.changedate|date('h:i a') }} by {{ history.provider }}.
                    </p>
                {% else %}
                    {% if historytatus != 'canceled by submitter' and historytatus != 'submitted' %}
                        <p>
                            Older, superseded version of this order:
                            <a href="{{ path('multy_show',{'id':history.orderinfo.id}) }}">Order ID {{ history.orderinfo.id }}</a>
                            {{ history.currentstatus.name|lower }} on {{ history.changedate|date('Y-m-d') }} at {{ history.changedate|date('h:i a') }} by {{ history.provider }}
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endfor %}

        {#currently, below code is not used. use it if we want to get the latest order#}
        {#{% for history in forwardhistory %}#}
            {#{% if history.orderinfo.id < history.currentid %}#}
                {#<p>#}
                    {#&#123;&#35;This Order is the older archived version of and has been {{ form.vars.value.status.name|lower }} by&#35;&#125;#}
                    {#The latest version of this order is <a href="{{ path('multy_show',{'id':history.orderinfo.id}) }}">Order ID {{ history.orderinfo.id }}</a>.#}
                    {#&#123;&#35;on {{ history.changedate|date('Y-m-d @H:i') }} by {{ history.provider }}.&#35;&#125;#}
                {#</p>#}
            {#{% endif %}#}
            {#{% if history.orderinfo.id > history.currentid and history.changedate > histories|last.changedate %}#}
                {#<p>#}
                    {#Older version of this order:#}
                    {#<a href="{{ path('multy_show',{'id':history.orderinfo.id}) }}">Order ID {{ history.orderinfo.id }}</a>#}
                    {#{{ form.vars.value.status.name|lower }} on {{ history.changedate|date('Y-m-d @H:i') }} by {{ history.provider }}#}
                {#</p>#}
            {#{% endif %}#}
        {#{% endfor %}#}

    </div>
{% endmacro %}


{#disease type form#}
{% macro diseaseTypeForm( field ) %}
    {% import _self as formmacros %}

    {{ formmacros.field(field.field) }}
    <br>

    <div class="collapse originradio">
        <div class="well" align='center'>
            {#{{ form_label(form.origin) }}#}
            {#{{ form_widget(form.origin) }}#}
            {{ formmacros.field(field.origin) }}
        </div>
    </div>

    <div class="collapse primaryorganradio">
        <div class="well" align='center'>
            {#{{ form_label(form.primaryOrgan) }}#}
            {#{{ form_widget(form.primaryOrgan) }}#}
            {{ formmacros.field(field.primaryOrgan) }}
        </div>
    </div>

{% endmacro %}


{######################  holder for array of fields  #################################}
{% macro inputArrayField(fields,cycle,classname,fieldtype,nobtn,nolabel,withspace,status) %}
    {% import _self as formmacros %}
    {% set count = 1 %}

    <p>
    <div class="{{ classname }}">
    {% for field in fields %}

        {#( field.vars.value.status == 'valid' and is_granted('ROLE_SUBMITTER') ) or#}
        {#get correct field: valid for submitter and all for external submitter (only latest fields are queried by controller for external)#}
        {% if is_granted('ROLE_SUBMITTER') and field.vars.value.status == 'valid' %}
            {%  set show = 1 %}
        {% elseif is_granted('ROLE_EXTERNAL_SUBMITTER') and not is_granted('ROLE_ADMIN') %}
            {%  set show = 1 %}
        {% else %}
            {%  set show = 0 %}
            {#don't show: {{ form_widget(field) }}#}
        {% endif %}

        {#to see all data: ROLE_DATA_QUALITY_ASSURANCE_SPECIALIST#}
        {% if is_granted('ROLE_DATA_QUALITY_ASSURANCE_SPECIALIST') and field.vars.value.status == 'invalid' %}
            {%  set show = 1 %}
        {% endif %}

        {#field.vars.value.status == 'valid' or#}
        {#( is_granted('ROLE_EXTERNAL_SUBMITTER') and field.vars.value.status == 'invalid' ) or#}
        {% if show == 1 or
              cycle == "new" or status == 'Amended' or status == 'Canceled by Submitter' or status == 'Canceled by Processor' or status == 'Superseded'
        %}
            {% set btntype = 'plusbtn' %}
            {% if cycle == 'amend' %}
                {% if fields|length == 1 %}
                    {% set btntype = 'plusbtn' %}
                {% else %}
                    {% if count < fields|length %}
                        {% set btntype = 'minusbtn' %}
                    {%  else %}
                        {% set btntype = 'minusplusbtn' %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if cycle == 'show' %}
                {% set btntype = 'none' %}
            {% endif %}

            {#<p>#}
                {{ formmacros.inputField(field,cycle,fieldtype,"","",nobtn,nolabel,classname,withspace,btntype) }}
            {#</p>#}

        {% endif %}
        {% set count = count + 1 %}
    {% endfor %}
    </div>
    </p>
{% endmacro %}

{#input array field with separate label#}
{% macro inputField(field,cycle,fieldtype,prototype,widget,nobtn,nolabel,classname,withspace,btntype) %}
    {% import _self as formmacros %}

    {% if prototype == "prototype" %}
        {% set fieldThis = field.vars.prototype %}
    {% else %}
        {% set fieldThis = field %}
    {% endif %}

    {% if fieldtype == "diseaseType" %}

        {{ formmacros.diseaseTypeForm(fieldThis) }}

    {%  else %}

        {% if withspace is defined and withspace != "" %}
            <div class="row" style="padding-top: 1%;">
        {% else %}
            <div class="row">
        {% endif %}

            <div class="col-xs-6" align="right">
                <p>
                {% if nolabel is defined and nolabel != "" %}
                    {#no label#}
                {% else %}
                    {% if fieldtype == "paper" and cycle == "show" %}
                        {{form_label(fieldThis.name)}}<!--
                    {% elseif fieldtype == "blockspecialStains" %}
                        {{form_label(fieldThis.staintype)}}<br>
                        {{form_label(fieldThis.field)}}<!--
                    {% else %}
                        {{form_label(fieldThis.field)}}<!--
                    {% endif %}
                    {% if field.vars.value.provider is defined %}
                        {% if ( cycle == "show" or cycle == "amend" ) and
                              not is_granted('ROLE_EXTERNAL_SUBMITTER') or
                              ( is_granted('ROLE_SUBMITTER') and field.vars.value.provider.id != app.security.getToken().getUser().getId() ) or
                              is_granted('ROLE_DATA_QUALITY_ASSURANCE_SPECIALIST')
                        %}
                            {% if field.vars.value.creationdate != "" %}
                                entered on
                                {{field.vars.value.creationdate|date('Y-m-d')}}
                            {% endif %}
                            {% if field.vars.value.provider is defined and field.vars.value.provider != "" %}
                                by
                                {{field.vars.value.provider}}
                                {% if field.vars.value.status != 'valid' and ( not is_granted('ROLE_EXTERNAL_SUBMITTER') or is_granted('ROLE_DATA_QUALITY_ASSURANCE_SPECIALIST') ) %}
                                    ({{ field.vars.value.status }})
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    --><strong>:</strong>
                {% endif %}
                </p>
            </div>

            <div class="col-xs-6" align="left">
                {% if fieldtype == "key" and ( cycle == 'new' or cycle == 'amend' ) %}
                    {% if classname == "patientmrn" %}
                        {{ formmacros.fieldicon(fieldThis.field,fieldThis.keytype,classname) }}
                    {% elseif classname == "accessionaccession" %}
                        {{ formmacros.fieldicon(fieldThis.field,fieldThis.keytype,classname) }}
                    {% else %}
                        {{ formmacros.fieldicon(fieldThis.field,"",classname) }}
                    {% endif %}
                {% elseif fieldtype == "date" %}
                    {{ formmacros.fielddate(fieldThis.field) }}
                {% elseif fieldtype == "paper" %}
                    {{ formmacros.fieldpaper(fieldThis,cycle) }}
                {% elseif classname == "patientmrn" %}
                    {{ form_widget(fieldThis.keytype) }}
                    {{ form_widget(fieldThis.field) }}
                {% elseif classname == "accessionaccession" %}
                    {{ form_widget(fieldThis.keytype) }}
                    {{ form_widget(fieldThis.field) }}
                {% elseif   fieldtype == "partdiffDisident" or
                            fieldtype == "partdisident" or
                            fieldtype == "sliderelevantScans"
                            and cycle != 'show' %}
                    {{ formmacros.fieldCollectionInput(fieldThis,cycle,prototype,widget,nobtn,btntype) }}
                {% elseif fieldtype == "blockspecialStains" %}
                    {{ formmacros.fieldCollectionInputTextarea(fieldThis,cycle,prototype,widget,nobtn,btntype) }}
                {% else %}
                    {{ form_widget(fieldThis.field) }}
                {% endif %}
                {% if cycle != 'show' %}
                    {{ form_rest(fieldThis) }}
                {% endif %}
            </div>

        </div>

    {% endif %}

{% endmacro %}

{#simple field widget. i.e. diffDiagnoses field widget#}
{% macro fieldWidget(field) %}
    {{ form_widget(field.vars.prototype.field) }}
    {{ form_widget(field.vars.prototype.other) }}
{% endmacro %}

{% macro fieldSpecialStainsWidget(field) %}
    {{ form_widget(field.vars.prototype.staintype) }}
    {{ form_widget(field.vars.prototype.field) }}
{% endmacro %}

{############# custom array fields #############}

{% macro fieldCollectionInput(field, cycle, prototype, widget, nobtn, btntype) %}

    {{ form_errors(field.field) }}

    {% if btntype is not defined or btntype == "" %}
        {% set btntype = 'plusbtn' %}
    {% endif %}

    {% if nobtn is defined and nobtn == "nobtn" %}
        {{ widget }}
    {% else %}

        <div style="float:left; width:100%">

            {% if cycle == 'show' %}
                {{ form_widget(field.field) }}
            {% else %}
                <div class="fieldInputColl">
                    <div class="input-group">
                        {% if widget is not defined or widget == "" %}
                            {{ form_widget(field.field) }}
                        {% else %}
                            {{ widget }}
                        {% endif %}

                        {% if btntype == "minusbtn" %}
                            <span
                                onClick="delCollectionField(this)"
                                class="input-group-addon btn delbtnCollField" type="button">
                                <i class="glyphicon glyphicon-minus-sign"></i>
                            </span>
                        {% endif %}

                        {% if btntype == "minusplusbtn" %}
                            <span
                                onClick="delCollectionField(this)"
                                class="input-group-addon btn delbtnCollField" type="button">
                                <i class="glyphicon glyphicon-minus-sign"></i>
                            </span>
                            <span
                                onClick="addCollectionField(this)"
                                class="input-group-addon btn addbtnCollField" type="button">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>
                        {% endif %}

                        {% if btntype == "plusbtn" %}
                            <span
                                onClick="addCollectionField(this)"
                                class="input-group-addon btn addbtnCollField" type="button">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

        </div>

    {% endif %}

{% endmacro %}


{% macro fieldCollectionInputTextarea(field, cycle, prototype, widget, nobtn, btntype) %}

    {{ form_errors(field.field) }}

    {% if btntype is not defined or btntype == "" %}
        {% set btntype = 'plusbtn' %}
    {% endif %}

    {% if nobtn is defined and nobtn == "nobtn" %}

        {{ form_widget(field.staintype) }}
        {{ form_widget(field.field) }}

    {% else %}

        <div style="float:left; width:100%">
            <div class="fieldInputColl">
                <div class="input-group-oleg">

                    {% if widget is not defined or widget == "" %}
                        {{ form_widget(field.staintype) }}
                        {{ form_widget(field.field) }}
                    {% else %}
                        {{ widget }}
                    {% endif %}

                    {% if btntype == 'minusplusbtn' %}
                        <div class="addDelBtnColl" style="width:100%;">
                            <button onClick="delCollectionField(this,'bottom')" type="button" class="btn btn-sm delbtnCollField"><span class="glyphicon glyphicon-minus-sign"></span></button>
                            <button onClick="addCollectionField(this,'bottom')" type="button" class="btn btn-sm addbtnCollField"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    {% endif %}

                    {% if btntype == "plusbtn" %}
                        <div class="addDelBtnColl" style="width:100%; float:left;">
                            <button onClick="addCollectionField(this,'bottom')" type="button" class="btn btn-sm addbtnCollField"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    {% endif %}

                    {% if btntype == 'minusbtn' %}
                        <div class="addDelBtnColl" style="width:100%;">
                            <button onClick="delCollectionField(this,'bottom')" type="button" class="btn btn-sm delbtnCollField"><span class="glyphicon glyphicon-minus-sign"></span></button>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

    {% endif %}

{% endmacro %}


{% macro fieldpaper(field,cycle) %}
    {% if cycle == 'show' %}
        <a href="../../../../web/uploads/documents/{{ field.vars.value.path }}" target="_blank">{{ field.vars.value.name }}</a>
    {% else %}
       {{ form_widget(field.field) }}
    {% endif %}
{% endmacro %}


{% macro dataQualityWidget( field, cycle ) %}
    {% import _self as formmacros %}
    {% form_theme field 'OlegOrderformBundle::Default/dataquality_widget.html.twig' %}

    {% if cycle == "new" or cycle == "amend" %}
        <div class="validationerror-added alert alert-danger" style="height: 210px;">
    {% else %}
        <div class="validationerror-added alert alert-danger">
    {% endif %}

        {{ form_errors(field) }}
        {% if cycle == "new" or cycle == "amend" %}
            {{ form_label(field.btnoption) }}
            {{ form_widget(field.btnoption) }}
        {% endif %}

        {% if cycle == "show" %}
            {{ form_label(field.description) }}
        {% endif %}
        {#{{ form_widget(field.description) }}#}
        {% if field.vars.value.description is defined %}
            <p>
                {{ field.vars.value.description }}
            </p>
        {% endif %}


        {% if cycle == "show" %}
            <br>
            Conflict Resolved by Replacement:<br>
            <b>{{ field.vars.value.accession }}</b> => <b>{{ field.vars.value.newaccession }}</b>
            <br>
        {% endif %}

        {% if cycle == "new" or cycle == "amend" %}
            {{ form_widget(field.accession) }}
            {{ form_widget(field.accessiontype) }}
            {{ form_widget(field.mrn) }}
            {{ form_widget(field.mrntype) }}
        {% endif %}

        {#{{ form_rest(field) }}#}
    </div>

{% endmacro %}


{############################ Objects ###########################}

{% macro patientForm( patient, flag, uid, cycle, status, mrnHtml, nameHtml, sexHtml, dobHtml, ageHtml, clinicalhistoryHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="patient_{{ uid }}" class="form-element-holder">

        {% if mrnHtml is not defined or mrnHtml == "" %}
            {{ formmacros.inputArrayField(patient.mrn,cycle,"patientmrn",key,"","","",status) }}
        {% else  %}
            <p><div class="patientmrn">{{ mrnHtml }}</div></p>
        {% endif %}

        {% if nameHtml is not defined or nameHtml == "" %}
            {{ formmacros.inputArrayField(patient.name,cycle,"patientname","","","","",status) }}
            {#{% for name in patient.name %}#}
                {#&#123;&#35;id:{{ name.vars.value.id }} | name:{{ name.vars.value }} | status:{{ name.vars.value.status }}&#35;&#125;#}
                {#{% if name.vars.value.status == 'valid' %}#}
                    {#<p>{{ formmacros.inputField(name,cycle,"patientname","","","","","","","") }}</p>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {% else  %}
            <p><div class="patientname">{{ nameHtml }}</div></p>
        {% endif %}


        {% if sexHtml is not defined or sexHtml == "" %}
            {{ formmacros.inputArrayField(patient.sex,cycle,"patientsex","","","","",status) }}
            {#{% for sex in patient.sex %}#}
                {#{% if sex.vars.value.status == 'valid' %}#}
                    {#<p>{{ formmacros.inputField(sex,cycle,"patientsex","","","","","","","") }}</p>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {% else  %}
            <p><div class="patientsex">{{ sexHtml }}</div></p>
        {% endif %}


        {% if dobHtml is not defined or dobHtml == "" %}
            {{ formmacros.inputArrayField(patient.dob,cycle,"patientdob","date","","","",status) }}
        {% else  %}
            <p><div class="patientdob">{{ dobHtml }}</div></p>
        {% endif %}

        {% if ageHtml is not defined or ageHtml == "" %}
            {{ formmacros.inputArrayField(patient.age,cycle,"patientage","","","","",status) }}
            {#{% for age in patient.age %}#}
                {#{% if age.vars.value.status == 'valid' %}#}
                    {#<p>{{ formmacros.inputField(age,cycle,"patientage","","","","","","","") }}</p>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {% else  %}
            <p><div class="patientage">{{ ageHtml }}</div></p>
        {% endif %}


        {% if clinicalhistoryHtml is not defined or clinicalhistoryHtml == "" %}
            {{ formmacros.inputArrayField(patient.clinicalHistory,cycle,"patientclinicalhistory","","","","",status) }}
        {% else  %}
            <p><div class="patientclinicalhistory">{{ clinicalhistoryHtml }}</div></p>
        {% endif %}

    </div>
{% endmacro %}



{% macro accessionForm( procedure, accession, flag, uid, cycle, status, procedureHtml, encounterHtml, accessionHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="accession_{{ uid }}" class="form-element-holder">
        {% if accessionHtml is not defined or accessionHtml == "" %}
            {{ formmacros.inputArrayField(accession.accession,cycle,"accessionaccession",key,"","","",status) }}
        {% else  %}
            <p><div class="accessionaccession">{{ accessionHtml }}</div></p>
        {% endif %}

        {{ formmacros.fieldDateLabel(accession.accessionDate) }}

        {#{{ formmacros.field(procedure.name) }}#}
        {% if procedureHtml is not defined or procedureHtml == "" %}
            {{ formmacros.inputArrayField(procedure.name,cycle,"procedurename","","","","",status) }}
        {% else  %}
            <p><div class="procedurename">{{ procedureHtml }}</div></p>
        {% endif %}

        {% if encounterHtml is not defined or encounterHtml == "" %}
            {#{{ formmacros.inputArrayField(procedure.encounter,cycle,"procedureencounter","","","nolabel") }}#}
            {#{{ form_widget(procedure.encounter|first) }}#}
            {% for encounter in procedure.encounter %}
                {#status:{{ encounter.vars.value.status }}#}
                {% if encounter.vars.value.status == 'valid' %}
                    {#{{ form_widget(procedure.encounter) }}#}
                    {{ form_row(encounter, {'label': false}) }}
                {% endif %}
            {% endfor %}
        {% else  %}
            <p><div class="procedureencounter">{{ encounterHtml }}</div></p>
        {% endif %}

        {#patient's data: single simple fields#}
        {{ formmacros.fieldDateLabel(procedure.encounterDate) }}
        {{ formmacros.field(procedure.patname) }}
        {{ formmacros.field(procedure.patsex) }}
        {{ formmacros.field(procedure.patage) }}
        {{ formmacros.field(procedure.pathistory) }}


    </div>
{% endmacro %}



{% macro partForm( part, flag, uid, cycle, status, partnameHtml,sourceorganHtml,paperHtml,descriptionHtml,diagnosisHtml,diffDiagnosesHtml,diseaseTypeHtml ) %}

    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="part_{{ uid }}" class="form-element-holder">

        {% if partnameHtml is not defined or partnameHtml == "" %}
            {{ formmacros.inputArrayField(part.partname,cycle,"partpartname",key,"","","",status) }}
        {% else  %}
            <p><div class="partpartname">{{ partnameHtml }}</div></p>
        {% endif %}

        {% if sourceorganHtml is not defined or sourceorganHtml == "" %}
            {{ formmacros.inputArrayField(part.sourceOrgan,cycle,"partsourceorgan","","","","",status) }}
        {% else  %}
            <p><div class="partsourceorgan">{{ sourceorganHtml }}</div></p>
        {% endif %}

        {% if paperHtml is not defined or paperHtml == "" %}
            {{ formmacros.inputArrayField(part.paper,cycle,"partpaper","paper","","","",status) }}
        {% else  %}
            <p><div class="partpaper">{{ paperHtml }}</div></p>
        {% endif %}

        {% if descriptionHtml is not defined or descriptionHtml == "" %}
            {{ formmacros.inputArrayField(part.description,cycle,"partdescription","","","","",status) }}
        {% else  %}
            <p><div class="partdescription">{{ descriptionHtml }}</div></p>
        {% endif %}

        {% if diagnosisHtml is not defined or diagnosisHtml == "" %}
            {{ formmacros.inputArrayField(part.disident,cycle,"partdisident","","","","",status) }}
        {% else  %}
            <p><div class="partdisident">{{ diagnosisHtml }}</div></p>
        {% endif %}

        {% if diffDiagnosesHtml is not defined or diffDiagnosesHtml == "" %}
            {{ formmacros.inputArrayField(part.diffDisident,cycle,"partdiffdisident","partdiffDisident","","","",status) }}
        {% else  %}
           <p><div class="partdiffdisident">{{ diffDiagnosesHtml }}</div></p>
        {% endif %}

        {% if diseaseTypeHtml is not defined or diseaseTypeHtml == "" %}
            {{ formmacros.inputArrayField(part.diseaseType,cycle,"partdiseasetype","diseaseType","","","",status) }}
        {% else  %}
            <p><div class="partdiseasetype">{{ diseaseTypeHtml }}</div></p>
            {#{{ formmacros.inputArrayField(part.diseaseType,cycle,"partdiseasetype","diseaseType") }}#}
        {% endif %}

    </div>

{% endmacro %}



{% macro blockForm( block, flag, uid, cycle, status, blocknameHtml, sectionsourceHtml, specialStainsHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="block_{{ uid }}" class="form-element-holder">

        {% if blocknameHtml is not defined or blocknameHtml == "" %}
            {{ formmacros.inputArrayField(block.blockname,cycle,"blockblockname",key,"","","",status) }}
        {% else  %}
            <p><div class="blockblockname">{{ blocknameHtml }}</div></p>
        {% endif %}

        {% if sectionsourceHtml is not defined or sectionsourceHtml == "" %}
            {{ formmacros.inputArrayField(block.sectionsource,cycle,"blocksectionsource","blocksectionsource","","","",status) }}
        {% else  %}
            <p><div class="blocksectionsource">{{ sectionsourceHtml }}</div></p>
        {% endif %}

        {% if specialStainsHtml is not defined or specialStainsHtml == "" %}
            {#                              fields,             cycle,classname,            fieldtype,          nobtn,      nolabel,withspace,status#}
            {{ formmacros.inputArrayField(block.specialStains,cycle,"blockspecialstains","blockspecialStains","","","",status) }}
        {% else  %}
            <p><div class="blockspecialstains">{{ specialStainsHtml }}</div></p>
        {% endif %}

    </div>
{% endmacro %}




{% macro slideForm( slide, flag, uid, cycle, slidetypeHtml, stainHtml, scanHtml, scanregionHtml, noteHtml, microscopicdescrHtml, relevantScansHtml ) %}
    {% import _self as formmacros %}

    <div id="slide_{{ uid }}" class="form-element-holder">

        {{ formmacros.field(slide.title) }}

        <p><div class="slideslidetype">     
        {% if slidetypeHtml is not defined or slidetypeHtml == "" %}
            {{ formmacros.field(slide.slidetype) }}
        {% else  %}
            {{ slidetypeHtml }}
        {% endif %}
        </div></p>

        {% if stainHtml is not defined or stainHtml == "" %}    {#regular#}

            {% for stain in slide.stain %}
                {{ formmacros.field(stain.field) }}
            {% endfor %}

            {% for scan in slide.scan %}
                {{ formmacros.field(scan.field) }}
                {{ formmacros.field(scan.scanregion) }}
                {{ formmacros.field(scan.note) }}
            {% endfor %}

        {% else  %} {#prototype#}
            <p><div class="slidestain">{{ stainHtml }}</div></p>
            <p><div class="slidescan">{{ scanHtml }}</div></p>
            <p><div class="slidescanregion">{{ scanregionHtml }}</div></p>
            <p><div class="slidenote">{{ noteHtml }}</div></p>
        {% endif %}

        {% if microscopicdescrHtml is not defined or relevantScansHtml == "" %}
            {{ formmacros.field(slide.microscopicdescr) }}
        {% else  %}
            <p><div class="slidemicroscopicdescr">{{ microscopicdescrHtml }}</div></p>
        {% endif %}

        {#{% if specialStainsHtml is not defined or specialStainsHtml == "" %}#}
        {#&#123;&#35;                                        (fields,    cycle,     classname,           fieldtype,        nobtn,     nolabel)&#35;&#125;#}
            {#{{ formmacros.inputArrayField(slide.specialStains,cycle,"blockspecialstains","blockspecialStains","buttonbottom","","","withspace") }}#}
        {#{% else  %}#}
            {#<p><div class="blockspecialstains">{{ specialStainsHtml }}</div></p>#}
        {#{% endif %}#}

        {% if relevantScansHtml is not defined or relevantScansHtml == "" %}
            {{ formmacros.inputArrayField(slide.relevantScans,cycle,"sliderelevantscans","sliderelevantScans") }}
        {% else  %}
            <p><div class="sliderelevantscans">{{ relevantScansHtml }}</div></p>
        {% endif %}


    </div>

{% endmacro %}

{############################ END OF Objects ###########################}

