{#macro for form label input inline#}

{% macro field( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left">
            {{ form_widget(field) }}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro orderinfo(form) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.provider) }}

    {{ formmacros.field(form.pathologyService) }}

    {{ formmacros.field(form.priority) }}


    {#            optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well span10" aling='center'>

            {{ formmacros.field(form.scandeadline) }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.slideDelivery) }}
    {{ formmacros.field(form.returnSlide) }}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}

    <div  class="panel panel-patient">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}


{% macro orderinfo_panel_header(name, type, count, toatlLength, uid, patientCount, procedureCount, accessionCount, partCount, blockCount, slideCount, scanCount, stainCount) %}

<div class="panel-heading" align="left">
    <div id="form_body_toggle_{{ name }}_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_{{ name }}_{{ uid }}"></div>
    {{ name | capitalize }} {{ count+1 }}
    {% if name != "scan" and name != "stain" %}
    {% if type == 'new' or type == 'edit' %}
        <div class="form-btn-options">
            {% if toatlLength ==  (count + 1) %}
                <button id="form_add_btn_{{ name }}_{{ uid }}" type="button" class="btn btn-xs btn_margin"
                        onclick="addSameForm(
                            '{{ name }}',
                            {{ patientCount }},
                            {{ procedureCount }},
                            {{ accessionCount }},
                            {{ partCount }},
                            {{ blockCount }},
                            {{ slideCount }},
                            {{ scanCount }},
                            {{ stainCount }}
                        )">Add</button>
            {% endif %}
            <button id="{{ name }}_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>
        </div>
    {% endif %}
    {% endif %}
</div>

{% endmacro %}
                 