{#macro for form label input inline#}

{% macro field( field, attr ) %}
    {% form_theme field 'OlegOrderformBundle::Default/collection_widget.html.twig' %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left">
            {% if attr == "disabled" %}
                {#value of disabled field will be ignored, but readonly does not work#}
                {{ form_widget(field,{ 'disabled':'disabled' }) }}
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}


{% macro fieldDateLabel( field, attr ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">

            <div class="input-group">
                {#{{ form_widget(field) }}#}
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored, but readonly does not work#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
                <span class="input-group-addon btn" data-toggle="datepicker" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}
{% macro fielddate( field, attr ) %}
            <div class="input-group">
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored, but readonly does not work#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
                <span class="input-group-addon btn" data-toggle="datepicker" type="button">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>

{% endmacro %}


{% macro fieldIconLabel( field, icon, nolabel ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        {% if nolabel == "" %}
            <div class="col-xs-6" align="right">
                {{ form_label(field) }}
            </div>
        {% endif %}
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">

            {#<div class="input-group">#}
                {#{{ form_widget(field) }}#}
                {#<span id="check_btn" class="input-group-addon btn" data-toggle="form-control" type="button" onclick="checkForm(this)">#}
                    {#<i class="glyphicon {{ icon }}"></i>#}
                {#</span>#}
            {#</div>#}

            <div class="row ">
                <div class="col-xs-10">
                    {{ form_widget(field) }}
                </div>
                <div class="col-xs-2">
                    <button id="check_btn" class="btn btn-default" type="button" onclick="checkForm(this)"><i class="glyphicon {{ icon }}"></i></button>
                </div>
            </div>

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}

{% macro fieldicon( field, extra ) %}

    {% import _self as formmacros %}
    {% set imgLoading = asset('bundles/olegorderform/form/img/select2-spinner.gif') %}

        <div class="row ">
            <div class="col-xs-10">
                {% if extra != "" %}
                    {{ form_widget(extra) }}
                {% endif %}
                {{ form_widget(field) }}
            </div>
            <div class="col-xs-2">
                <button id="check_btn" class="btn btn-default" type="button" onclick="checkForm(this)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-check"></i></button>
            </div>
        </div>

{% endmacro %}


{% macro orderinfo(form) %}

    {% for provider in form.vars.value.provider %}
        <input type="hidden" id="user_name" value="{{ provider.username }}" />
        <input type="hidden" id="user_id" value="{{ provider.id }}" />
    {% endfor %}

    {% for proxyuser in form.vars.value.proxyuser %}
        <input type="hidden" id="proxyuser_name" value="{{ proxyuser.username }}" />
        <input type="hidden" id="proxyuser_id" value="{{ proxyuser.id }}" />
    {% endfor %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.provider) }}
    {#Hi {{ app.user.displayname }}#}

    {{ formmacros.field(form.proxyuser) }}

    {{ formmacros.field(form.pathologyService) }}

    {{ formmacros.field(form.priority) }}


    {#            optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well" aling='center'>

            {{ formmacros.fieldDateLabel(form.scandeadline) }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.slideDelivery) }}
    {{ formmacros.field(form.returnSlide) }}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}

    <div  class="panel panel-patient">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}


{% macro orderinfo_panel_header(
    name, type, count, toatlLength, uid,
    patientCount,
    procedureCount,
    accessionCount,
    partCount,
    blockCount,
    slideCount,
    scanCount,
    stainCount
) %}

    <div class="panel-heading" align="left">
        <div id="form_body_toggle_{{ name }}_{{ uid }}" class="form_body_toggle_btn glyphicon glyphicon-folder-open" data-toggle="collapse" data-target="#form_body_{{ name }}_{{ uid }}"></div>
        {% if name == 'procedure' %}
            {% set title = 'accession' %}
        {% else %}
            {% set title = name %}
        {% endif %}
        <div class="element-title">{{ title | capitalize }} {{ count+1 }}</div>        
        {% if name != "scan" and name != "stain" %}
        {% if type == 'new' or type == 'edit' %}
            <div class="form-btn-options">
                <button id="form_add_btn_{{ name }}_{{ uid }}" type="button"
                        class="add_form_btn btn-xs btn btn_margin btn-default"
                        onclick="addSameForm(
                            '{{ name }}',
                            {{ patientCount }},
                            {{ procedureCount }},
                            {{ accessionCount }},
                            {{ partCount }},
                            {{ blockCount }},
                            {{ slideCount }},
                            {{ scanCount }},
                            {{ stainCount }}
                        )">Add</button>
                {#<button id="{{ name }}_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Clear</button>#}
            </div>
        {% endif %}
        {% endif %}
    </div>

{% endmacro %}


{#used by single form#}
{% macro disease(form) %}

    {% import _self as formmacros %}

    {{ formmacros.field(form.diseaseType) }}

    {#  optional for origin  #}
    <div id="origin_option" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.diseaseType.origin) }}

        </div>

    </div>

    {#  optional for primaryOrgan  #}
    <div id="primaryOrgan" class="collapse">

        <div class="well" aling='center'>

            {{ formmacros.field(form.diseaseType.primaryOrgan) }}

        </div>

    </div>

{% endmacro %}

{#used by multy form#}
{% macro diseaseMulti(form) %}
    {% import _self as formmacros %}

    {{ form_widget(form.field) }}
    <br>

    <div class="collapse originradio">
        <div class="well" aling='center'>
            {{ form_label(form.origin) }}
            {{ form_widget(form.origin) }}
        </div>
    </div>

    <div class="collapse primaryorganradio">
        <div class="well" aling='center'>
            {{ form_label(form.primaryOrgan) }}
            {{ form_widget(form.primaryOrgan) }}
        </div>
    </div>

{% endmacro %}


{######################  holder for array of fields  #################################}
{% macro inputArrayField(fields,cycle,classname,fieldtype,nobtn,nolabel,withspace) %}
    {% import _self as formmacros %}
    <p>
    <div class="{{ classname }}">
    {% for field in fields %}
        <p>{{ formmacros.inputField(field,cycle,fieldtype,"","",nobtn,nolabel,classname,withspace) }}</p>
    {% endfor %}
    </div>
    </p>
{% endmacro %}

{#input array field with separate label#}
{% macro inputField(field,cycle,fieldtype,prototype,widget,nobtn,nolabel,classname,withspace) %}
    {% import _self as formmacros %}

    {% if prototype == "prototype" %}
        {% set fieldThis = field.vars.prototype %}
    {% else %}
        {% set fieldThis = field %}
    {% endif %}

    {% if withspace is defined and withspace != "" %}
        <div class="row" style="padding-top: 1%;">
    {% else %}
        <div class="row">
    {% endif %}

        <div class="col-xs-6" align="right">
            <p>
            {% if nolabel is defined and nolabel != "" %}
                {#no label#}
            {% else %}
                {% if fieldtype == "paper" and cycle == "show" %}
                    {{form_label(fieldThis.name)}}
                {% else %}
                    {% if label is not defined or label == "" %}
                        {{form_label(fieldThis.field)}}
                    {% else %}
                        {{ label }}
                    {% endif %}
                {% endif %}
                {% if cycle == "show" %}
                    {% if field.vars.value.creationdate != "" %}
                        entered on
                        {{field.vars.value.creationdate|date('Y-m-d')}}
                    {% endif %}
                    {% if field.vars.value.provider is defined and field.vars.value.provider != "" %}
                        by
                        {{field.vars.value.provider}}
                    {% endif %}
                {% endif %}
                <b>:</b>
            {% endif %}
            </p>
        </div>

        <div class="col-xs-6" align="left">
            {% if fieldtype == "key" %}
                {% if classname == "patientmrn" %}
                    {{ formmacros.fieldicon(fieldThis.field,fieldThis.mrntype) }}
                {% elseif classname == "patientmrn" %}
                    {{ form_widget(fieldThis.mrntype) }}
                    {{ formmacros.fieldicon(fieldThis.field,"") }}
                {% else %}
                    {{ formmacros.fieldicon(fieldThis.field,"") }}
                {% endif %}
            {% elseif fieldtype == "date" %}
                {{ formmacros.fielddate(fieldThis.field) }}
            {% elseif fieldtype == "paper" %}
                {{ formmacros.fieldpaper(fieldThis,cycle) }}
            {% elseif fieldtype == "diseaseType" %}
                {{ formmacros.diseaseMulti(fieldThis) }}
            {% elseif classname == "patientmrn" %}
                {{ form_widget(fieldThis.mrntype) }}
                {{ form_widget(fieldThis.field) }}
            {% elseif   fieldtype == "partdiffDisident" or
                        fieldtype == "partdisident" or
                        fieldtype == "sliderelevantScans"
                        and cycle != 'show' %}
                {{ formmacros.fieldCollectionInput(fieldThis,cycle,prototype,widget,nobtn) }}
            {% elseif fieldtype == "slidespecialStains" %}
                {{ formmacros.fieldCollectionInputTextarea(fieldThis,cycle,prototype,widget,nobtn) }}
            {% else %}
                {{ form_widget(fieldThis.field) }}
            {% endif %}
            {% if cycle != 'show' %}
                {{ form_rest(fieldThis) }}
            {% endif %}
        </div>

    </div>

    {#add + button after the field#}
    {% if ( nobtn is defined and nobtn == "buttonbottom") and (cycle == 'new' or cycle == 'edit') %}
        <div class="col-xs-6" align="right"><p></p></div>
        <div class="col-xs-6" align="left" style="padding-bottom: 1%">
            <div class="addDelBtnColl">
                <button onClick="addCollectionField(this,'bottom')" class="btn btn-sm btn-info" type="button">+</button>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{#simple field widget. i.e. diffDiagnoses field widget#}
{% macro fieldWidget(field) %}
    {{ form_widget(field.vars.prototype.field) }}
    {{ form_widget(field.vars.prototype.other) }}
{% endmacro %}

{% macro fieldSpecialStainsWidget(field) %}
    {{ form_widget(field.vars.prototype.staintype) }}
    {{ form_widget(field.vars.prototype.field) }}
{% endmacro %}

{############# custom array fields #############}

{% macro fieldCollectionInput(field, cycle, prototype, widget, nobtn) %}

    {{ form_errors(field.field) }}

    {% if nobtn is defined and nobtn != "" %}

        {{ widget }}

    {% else %}

        <div style="float:left; width:100%">

            {% if cycle == 'show' %}
                {{ form_widget(field.field) }}
            {% else %}
                <div class="fieldInputColl">
                    <div class="input-group">
                        {% if widget is not defined or widget == "" %}
                            {{ form_widget(field.field) }}
                        {% else %}
                            {{ widget }}
                        {% endif %}
                        <span
                            onClick="addCollectionField(this)"
                            class="input-group-addon btn addbtnCollField" type="button">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </span>

                    </div>
                </div>
            {% endif %}

        </div>

    {% endif %}

{% endmacro %}


{% macro fieldCollectionInputTextarea(field, cycle, prototype, widget, nobtn) %}

        <div style="float:left; width:100%">
            <div class="fieldInputColl">
                {% if widget is not defined or widget == "" %}
                    {{ form_widget(field.staintype) }}
                    {{ form_widget(field.field) }}
                {% else %}
                    {{ widget }}
                {% endif %}
            </div>
            {#{% if cycle == 'new' or cycle == 'edit' %}#}
                {#<div class="addDelBtnColl">#}
                    {#<button onClick="addCollectionField(this,'bottom')" class="btn btn-sm btn-info" type="button">+</button>#}
                {#</div>#}
            {#{% endif %}#}
        </div>
    {#{% endif %}#}

{% endmacro %}


{% macro fieldpaper(field,cycle) %}
    {% if cycle == 'show' %}
        <a href="../../../../web/uploads/documents/{{ field.vars.value.path }}" target="_blank">{{ field.vars.value.name }}</a>
    {% else %}
       {{ form_widget(field.field) }}
    {% endif %}
{% endmacro %}


{############################ Objects ###########################}

{% macro patientForm( patient, flag, uid, cycle, mrnHtml, nameHtml, sexHtml, dobHtml, ageHtml, clinicalhistoryHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="patient_{{ uid }}">

        {% if mrnHtml is not defined or mrnHtml == "" %}
            {{ formmacros.inputArrayField(patient.mrn,cycle,"patientmrn",key) }}
        {% else  %}
            <p><div class="patientmrn">{{ mrnHtml }}</div></p>
        {% endif %}

        {% if nameHtml is not defined or nameHtml == "" %}
            {{ formmacros.inputArrayField(patient.name,cycle,"patientname") }}
        {% else  %}
            <p><div class="patientname">{{ nameHtml }}</div></p>
        {% endif %}

        {% if sexHtml is not defined or sexHtml == "" %}
            {{ formmacros.inputArrayField(patient.sex,cycle,"patientsex") }}
        {% else  %}
            <p><div class="patientsex">{{ sexHtml }}</div></p>
        {% endif %}

        {% if dobHtml is not defined or dobHtml == "" %}
            {{ formmacros.inputArrayField(patient.dob,cycle,"patientdob","date") }}
        {% else  %}
            <p><div class="patientdob">{{ dobHtml }}</div></p>
        {% endif %}

        {% if ageHtml is not defined or ageHtml == "" %}
            {{ formmacros.inputArrayField(patient.age,cycle,"patientage") }}
        {% else  %}
            <p><div class="patientage">{{ ageHtml }}</div></p>
        {% endif %}

        {% if clinicalhistoryHtml is not defined or clinicalhistoryHtml == "" %}
            {{ formmacros.inputArrayField(patient.clinicalHistory,cycle,"patientclinicalhistory") }}
        {% else  %}
            <p><div class="patientclinicalhistory">{{ clinicalhistoryHtml }}</div></p>
        {% endif %}

    </div>
{% endmacro %}



{% macro accessionForm( procedure, accession, flag, uid, cycle, procedureHtml, accessionHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="accession_{{ uid }}">
        {#{{ formmacros.fieldIconLabel(accession.accession,"glyphicon-check") }}#}
        {% if accessionHtml is not defined or accessionHtml == "" %}
            {{ formmacros.inputArrayField(accession.accession,cycle,"accessionaccession",key) }}
        {% else  %}
            <p><div class="accessionaccession">{{ accessionHtml }}</div></p>
        {% endif %}

        {#{{ formmacros.field(procedure.name) }}#}
        {% if procedureHtml is not defined or procedureHtml == "" %}
            {{ formmacros.inputArrayField(procedure.name,cycle,"procedurename") }}
        {% else  %}
            <p><div class="procedurename">{{ procedureHtml }}</div></p>
        {% endif %}

        {#{% if encounterHtml is not defined or encounterHtml == "" %}#}
            {#{{ formmacros.inputArrayField(procedure.encounter,cycle,"procedureencounter") }}#}
        {#{% else  %}#}
            {#<p><div class="procedureencounter">{{ encounterHtml }}</div></p>#}
        {#{% endif %}#}

    </div>
{% endmacro %}



{% macro partForm( part, flag, uid, cycle, partnameHtml,sourceorganHtml,paperHtml,descriptionHtml,diagnosisHtml,diffDiagnosesHtml,diseaseTypeHtml ) %}

    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="part_{{ uid }}">

        {% if partnameHtml is not defined or partnameHtml == "" %}
            {{ formmacros.inputArrayField(part.partname,cycle,"partpartname",key) }}
        {% else  %}
            <p><div class="partpartname">{{ partnameHtml }}</div></p>
        {% endif %}

        {% if sourceorganHtml is not defined or sourceorganHtml == "" %}
            {{ formmacros.inputArrayField(part.sourceOrgan,cycle,"partsourceorgan") }}
        {% else  %}
            <p><div class="partsourceorgan">{{ sourceorganHtml }}</div></p>
        {% endif %}

        {% if paperHtml is not defined or paperHtml == "" %}
            {{ formmacros.inputArrayField(part.paper,cycle,"partpaper","paper") }}
        {% else  %}
            <p><div class="partpaper">{{ paperHtml }}</div></p>
        {% endif %}

        {% if descriptionHtml is not defined or descriptionHtml == "" %}
            {{ formmacros.inputArrayField(part.description,cycle,"partdescription") }}
        {% else  %}
            <p><div class="partdescription">{{ descriptionHtml }}</div></p>
        {% endif %}

        {% if diagnosisHtml is not defined or diagnosisHtml == "" %}
            {{ formmacros.inputArrayField(part.disident,cycle,"partdisident") }}
        {% else  %}
            <p><div class="partdisident">{{ diagnosisHtml }}</div></p>
        {% endif %}

        {% if diffDiagnosesHtml is not defined or diffDiagnosesHtml == "" %}
            {{ formmacros.inputArrayField(part.diffDisident,cycle,"partdiffdisident","partdiffDisident") }}
        {% else  %}
           <p><div class="partdiffdisident">{{ diffDiagnosesHtml }}</div></p>
        {% endif %}

        {% if diseaseTypeHtml is not defined or diseaseTypeHtml == "" %}
            {{ formmacros.inputArrayField(part.diseaseType,cycle,"partdiseasetype","diseaseType") }}
        {% else  %}
            <p><div class="partdiseasetype">{{ diseaseTypeHtml }}</div></p>
            {#{{ formmacros.inputArrayField(part.diseaseType,cycle,"partdiseasetype","diseaseType") }}#}
        {% endif %}

    </div>

{% endmacro %}



{% macro blockForm( block, flag, uid, cycle, blocknameHtml, sectionsourceHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    <div id="block_{{ uid }}">

        {#{{ formmacros.fieldIconLabel(form.blockname,"glyphicon-check") }}#}
        {% if blocknameHtml is not defined or blocknameHtml == "" %}
            {{ formmacros.inputArrayField(block.blockname,cycle,"blockblockname",key) }}
        {% else  %}
            <p><div class="blockblockname">{{ blocknameHtml }}</div></p>
        {% endif %}

        {% if sectionsourceHtml is not defined or sectionsourceHtml == "" %}
            {{ formmacros.inputArrayField(block.sectionsource,cycle,"blocksectionsource","blocksectionsource") }}
        {% else  %}
            <p><div class="blocksectionsource">{{ sectionsourceHtml }}</div></p>
        {% endif %}

    </div>
{% endmacro %}




{% macro slideForm( slide, flag, uid, cycle, slidetypeHtml, stainHtml, scanHtml, scanregionHtml, noteHtml, microscopicdescrHtml, relevantScansHtml, specialStainsHtml ) %}
    {% import _self as formmacros %}

    <div id="slide_{{ uid }}">

        {{ formmacros.field(slide.title) }}

        <p><div class="slideslidetype">     
        {% if slidetypeHtml is not defined or slidetypeHtml == "" %}
            {{ formmacros.field(slide.slidetype) }}
        {% else  %}
            {{ slidetypeHtml }}
        {% endif %}
        </div></p>

        {% if stainHtml is not defined or stainHtml == "" %}    {#regular#}

            {% for stain in slide.stain %}
                {{ formmacros.field(stain.field) }}
            {% endfor %}

            {% for scan in slide.scan %}
                {{ formmacros.field(scan.field) }}
                {{ formmacros.field(scan.scanregion) }}
                {{ formmacros.field(scan.note) }}
            {% endfor %}

        {% else  %} {#prototype#}
            <p><div class="slidestain">{{ stainHtml }}</div></p>
            <p><div class="slidescan">{{ scanHtml }}</div></p>
            <p><div class="slidescanregion">{{ scanregionHtml }}</div></p>
            <p><div class="slidenote">{{ noteHtml }}</div></p>
        {% endif %}

        {% if microscopicdescrHtml is not defined or relevantScansHtml == "" %}
            {{ formmacros.field(slide.microscopicdescr) }}
        {% else  %}
            <p><div class="slidemicroscopicdescr">{{ microscopicdescrHtml }}</div></p>
        {% endif %}

        {% if specialStainsHtml is not defined or specialStainsHtml == "" %}
        {#                                        (fields,    cycle,     classname,           fieldtype,        nobtn,     nolabel)#}
            {{ formmacros.inputArrayField(slide.specialStains,cycle,"slidespecialstains","slidespecialStains","buttonbottom","","","withspace") }}
        {% else  %}
            <p><div class="slidespecialstains">{{ specialStainsHtml }}</div></p>
        {% endif %}

        {% if relevantScansHtml is not defined or relevantScansHtml == "" %}
            {{ formmacros.inputArrayField(slide.relevantScans,cycle,"sliderelevantscans","sliderelevantScans") }}
        {% else  %}
            <p><div class="sliderelevantscans">{{ relevantScansHtml }}</div></p>
        {% endif %}


    </div>

{% endmacro %}

{############################ END OF Objects ###########################}

