{#macro for form label input inline#}

{% macro checkbox( value ) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            {{ form_label(value) }}
        </div>
        <div class="col-xs-6 text-center" align="left" style="width: 50px;">
            {{ form_widget(value) }}
        </div>
    </div>
    </p>
{% endmacro %}

{% macro simplefield( label, value, type, disabled ) %}
    <p>
    <div class="row">
        <div class="col-xs-6" align="right">
            <strong>{{ label }}</strong>
        </div>
        <div class="col-xs-6" align="left">
            {% if type is defined and type == "input" %}
                <input class="form-control form-control-modif not-mapped-simplefield" type="text" value="{{ value|raw }}" {{ disabled }}>
            {% else %}
                {#<div class="well well-sm" style="margin-bottom:0; min-height:40px">#}
                    {#{{ value|raw }}#}
                {#</div>#}
                <div class="form-control form-control-modif not-mapped-simplefield" style="min-height:34px; height:auto;" {{ disabled }}>
                    {{ value|raw }}
                </div>
            {% endif %}
        </div>
    </div>
    </p>
{% endmacro %}


{% macro field_notempty( field, cycle, label, attr ) %}
    {% import _self as formmacros %}

    {% if "show" in cycle %}
        {% set showFlag = true %}
    {% else %}
        {% set showFlag = false %}
    {% endif %}

    {#{% if field.vars.value or not "show" in cycle %}#}
    {% if field.vars.value or not showFlag %}
        {{ formmacros.field(field, label, attr) }}
    {% else %}
        {% do field.setRendered %}
    {% endif %}
{% endmacro %}


{% macro field( field, label, attr ) %}
    {% form_theme field 'OlegOrderformBundle::Default/collection_widget.html.twig' %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field,label) }}
        </div>
        <div class="col-xs-6" align="left">
            {% if attr == "disabled" %}
                {#value of disabled field will be ignored#}
                {{ form_widget(field,{ 'disabled':'disabled' }) }}
            {% elseif attr == "readonly" %}
                {{ form_widget(field, { 'attr': {'readonly': 'readonly'} }) }}
            {% elseif attr == "required" %}
                {{ form_widget(field, { 'attr': {'required': 'true'} }) }}
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}

{% macro fieldDateLabel_notempty( field, cycle, classname, attr ) %}
    {% import _self as formmacros %}

    {% if "show" in cycle %}
        {% set showFlag = true %}
    {% else %}
        {% set showFlag = false %}
    {% endif %}

    {% if field.vars.value or not showFlag %}
        {{ formmacros.fieldDateLabel(field, classname, attr) }}
    {% else %}
        {% do field.setRendered %}
    {% endif %}
{% endmacro %}

{% macro fieldDateLabel( field, classname, attr ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">

            <div class="input-group input-group-reg date {{ classname }}">
                {% if attr == "disabled" %}
                    {#value of disabled field will be ignored#}
                    {{ form_widget(field,{ 'disabled':'disabled' }) }}
                {% elseif attr == "readonly" %}
                    {{ form_widget(field, { 'attr': {'readonly': 'readonly'} }) }}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
                <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>

            </div>

        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}
{% macro fielddate( field, classname, attr ) %}
    <div class="input-group input-group-reg date {{ classname }}">
        {% if attr == "disabled" %}
            {#value of disabled field will be ignored#}
            {{ form_widget(field,{ 'disabled':'disabled' }) }}
        {% elseif attr == "readonly" %}
            {{ form_widget(field, { 'attr': {'readonly': 'readonly'} }) }}
        {% else %}
            {{ form_widget(field) }}
        {% endif %}
        <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
{% endmacro %}

{% macro fieldicon( field, extra, classname ) %}

    {% set classname = classname~"btn" %}

    {% import _self as formmacros %}
    {% set imgLoading = asset('bundles/olegorderform/form/img/select2-spinner.gif') %}

        <div class="row ">
            <div class="col-xs-10">
                {% if extra != "" %}
                    {{ form_widget(extra) }}
                {% endif %}
                {{ form_widget(field) }}
            </div>           
            <div class="col-xs-2">
                <button id="check_btn" class="btn btn-default checkbtn {{ classname }}" type="button" onclick="checkForm(this)" data-loading-text="<img src='{{ imgLoading }}' />"><i class="glyphicon glyphicon-check"></i></button>
            </div>
        </div>

{% endmacro %}


{% macro orderinfo(form) %}

    <input type="hidden" id="user_name" value="{{ form.vars.value.provider.getUserNameStr() }}" />
    <input type="hidden" id="user_id" value="{{ form.vars.value.provider.id }}" />

    <input type="hidden" id="proxyuser_name" value="{{ form.vars.value.proxyuser.getUserNameStr() }}" />
    <input type="hidden" id="proxyuser_id" value="{{ form.vars.value.proxyuser.id }}" />

    {% import _self as formmacros %}

    {#{{ formmacros.field(form.provider) }}#}
    {{ formmacros.simplefield( "Submitter:", form.vars.value.provider.getUserNameStr(), "", "disabled" ) }}

    {{ formmacros.field(form.proxyuser) }}

    <div class="user-collection-holder">
        {{ formmacros.field(form.institution) }}

        {#not mapped#}
        {% if form.department is defined %}
            {{ formmacros.field(form.department) }}
            {{ formmacros.field(form.division) }}
        {% endif %}

        {{ formmacros.field(form.scanorder.service) }}
    </div>

    {{ formmacros.field(form.equipment) }}

    {{ formmacros.field(form.purpose) }}

    <div id="purpose_option" class="collapse">
        <div class="well" align='center'>
            {{ formmacros.field(form.account) }}
        </div>
    </div>

    {{ formmacros.field(form.priority) }}

    {#optional for priority#}
    <div id="priority_option" class="collapse">
        <div class="well" align='center'>

            {{ formmacros.fieldDateLabel(form.deadline,'allow-future-date') }}
            {{ formmacros.field(form.returnoption) }}

        </div>
    </div>

    {{ formmacros.field(form.scanorder.delivery) }}
    {% for destination in form.destinations %}
        {{ formmacros.field(destination.location) }}
    {% endfor %}

{% endmacro %}


{% macro orderinfo_panel(form, header) %}

    {% import _self as formmacros %}
    {#panel-patient panel-primary#}
    <div  class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    {#<h4>{{ header }}</h4>#}
                    <h4 class="panel-title">{{ header }}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body collapse in">
            {{ formmacros.orderinfo(form) }}
        </div>
    </div>

{% endmacro %}


{% macro orderinfo_panel_header(
    name, type, formtype, count, uid,
    patientCount,
    encounterCount,
    procedureCount,
    accessionCount,
    partCount,
    blockCount,
    slideCount,
    scanCount,
    stainCount
) %}

    <div class="panel-heading">

        <button
             id="form_body_toggle_{{ name }}_{{ uid }}" type="button"
             class="btn btn-default btn-xs form_body_toggle_btn glyphicon glyphicon-folder-open pull-left"
             data-toggle="collapse" data-target="#form_body_{{ name }}_{{ uid }}">
        </button>

        {% if name == 'encounter' %}
            {% set title = 'accession' %}
        {% else %}
            {% set title = name %}
        {% endif %}

        {#<div class="element-title text-left">{{ title | capitalize }} {{ count+1 }}</div>#}
        <h4 class="panel-title element-title">{{ title | capitalize }} {{ count+1 }}</h4>

        {% if name != "scan" and name != "stain" %}
            {% if type == 'new' or type == 'edit' or (type == 'amend' and formtype != 'One-Slide Scan Order' ) %}

                <div class="form-btn-options">
                    <button id="form_add_btn_{{ name }}_{{ uid }}" type="button"
                            class="btn btn-default btn-xs add_form_btn pull-right"
                            onclick="addSameForm(
                                '{{ name }}',
                                '{{ patientCount }}',
                                '{{ encounterCount }}',
                                '{{ procedureCount }}',
                                '{{ accessionCount }}',
                                '{{ partCount }}',
                                '{{ blockCount }}',
                                '{{ slideCount }}',
                                '{{ scanCount }}',
                                '{{ stainCount }}'
                            )">Add</button>
                    {#<button id="{{ name }}_{{ uid }}" type="button" class="delete_form_btn btn btn-danger btn_margin btn-xs">Delete</button>#}
                    {#<button id="delete_form_btn_{{ name }}_{{ uid }}" type="button" style="margin-right:1%;" class="btn btn-danger btn-xs delete_form_btn pull-right">Delete</button>#}
                </div>

            {% endif %}
        {% endif %}
        <div class="clearfix"></div>

    </div> <!-- panel-heading -->

{% endmacro %}

{#render messages#}
{#show order if order's input.entityName is the same as object#}
{% macro renderMessages( object, datastructure, cycle ) %}

    {% import _self as formmacros %}

    {% if datastructure and datastructure == "datastructure" and object.orderinfo is defined %}

        {% for message in object.orderinfo %}

            {#decide if this object is the same as input object #}
            {%  set showMessage = false %}
            {% for input in message.vars.value.inputs %}
                {% if input.entityNamespace~"\\"~input.entityName == object.vars.value.obtainFullClassName and input.entityId == object.vars.value.id %}
                    {%  set showMessage = true %}
                {% endif %}
            {% endfor %}

            {% if showMessage %}

                <div class="well well-sm">
                    <h4>{{ message.vars.value.messageCategory.name }}</h4>
                    <p>
                        {{ formmacros.simplefield( "ID:", message.vars.value.oid, "", "disabled" ) }}
                        {{ formmacros.simplefield( "Date:", message.vars.value.orderdate|date('Y-m-d')~" at "~message.vars.value.orderdate|date('h:i a'), "", "disabled" ) }}
                        {{ formmacros.simplefield( "Provider:", message.vars.value.provider, "", "disabled" ) }}

                        <p>
                            {% for input in message.vars.value.inputs %}
                                {{ formmacros.simplefield( "Input:", "ID="~input.entityId~", "~input.entityNamespace~"\\"~input.entityName, "", "disabled" ) }}
                            {% endfor %}
                        </p>

                        <p>
                            {% for output in message.vars.value.outputs %}
                                {{ formmacros.simplefield( "Output:", output.entityNamespace~"\\"~output.entityName, "", "disabled" ) }}
                            {% endfor %}
                        </p>

                        <p>
                            {% for source in message.vars.value.sources %}
                                {{ formmacros.simplefield( "Source System:", source.system, "", "disabled" ) }}
                                {{ formmacros.simplefield( "Source Location:", source.location, "", "disabled" ) }}
                            {% endfor %}
                        </p>

                        <p>
                            {% for destination in message.vars.value.destinations %}
                                {{ formmacros.simplefield( "Destination System:", destination.system, "", "disabled" ) }}
                                {{ formmacros.simplefield( "Destination Location:", destination.location, "", "disabled" ) }}
                            {% endfor %}
                        </p>

                    </p>

                </div>

            {% endif %}

        {% endfor %}

    {% endif %}

{% endmacro %}

{#history info#}
{% macro history_info(histories, form) %}

    {% set formstatus = form.vars.value.status.name|lower %}

    <div class="well well-sm">

        {% if histories|first.orderinfo.status != "Superseded" %}
            {% if histories|first.orderinfo.status == "Amended" %}
                <p>
                    This order has been originally submitted
                    by
                    <a href="{{ path(scan_sitename~'_showuser', { 'id': histories|first.orderinfo.provider.id }) }}">{{ histories|first.orderinfo.provider }}</a>
                    on {{ histories|first.orderinfo.orderdate|date('Y-m-d') }} at {{ histories|first.orderinfo.orderdate|date('h:i a') }}
                    and most recently {{ formstatus }} by
                    <a href="{{ path(scan_sitename~'_showuser', { 'id': histories|first.provider.id }) }}">{{ histories|first.provider }}</a>
                    on {{ histories|first.changedate|date('Y-m-d') }} at {{ histories|first.changedate|date('h:i a') }}
                </p>
            {% else %}               
                {% if 'by' in formstatus %}
                    {% set performed = 'performed ' %}
                {% else %}
                    {% set performed = '' %}
                {% endif %}
                <p>
                    This order has been {{ formstatus }} {{performed}}by
                    <a href="{{ path(scan_sitename~'_showuser', { 'id': histories|first.provider.id }) }}">{{ histories|first.provider }}</a>
                    {#on {{ histories|last.orderinfo.orderdate|date('Y-m-d') }} at {{ histories|last.orderinfo.orderdate|date('h:i a') }}#}
                    on {{ histories|first.changedate|date('Y-m-d') }} at {{ histories|first.changedate|date('h:i a') }}
                </p>
            {% endif %}
        {% endif %}

        {% for history in histories %}

            {% set historytatus = history.currentstatus|lower %}

            {% if history.orderinfo.id != history.currentid %}
                {% if history.currentid > history.orderinfo.id %}
                    <p class="text-danger">
                        This order is the older archived version of and has been {{ formstatus }} by
                        <a href="{{ path('multy_show',{'id':history.orderinfo.id}) }}">Order ID {{ history.orderinfo.id }}</a> via amendment
                        on {{ history.changedate|date('Y-m-d') }} at {{ history.changedate|date('h:i a') }} by
                        <a href="{{ path(scan_sitename~'_showuser', { 'id': history.provider.id }) }}">{{ history.provider }}</a>
                        .
                    </p>
                {% else %}
                    {% if historytatus != 'canceled by submitter' and historytatus != 'submitted' %}
                        <p>
                            Older, superseded version of this order:
                            <a href="{{ path('multy_show',{'id':history.orderinfo.id}) }}">Order ID {{ history.orderinfo.id }}</a>
                            {{ history.currentstatus.name|lower }} on {{ history.changedate|date('Y-m-d') }} at {{ history.changedate|date('h:i a') }} by
                            <a href="{{ path(scan_sitename~'_showuser', { 'id': history.provider.id }) }}">{{ history.provider }}</a>
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endfor %}

    </div>
{% endmacro %}


{#disease type form#}
{% macro diseaseTypeForm( field ) %}
    {% import _self as formmacros %}

    {{ formmacros.field(field.field) }}
    <br>

    <div class="collapse originradio">
        <div class="well" align='center'>
            {#{{ form_label(form.origin) }}#}
            {#{{ form_widget(form.origin) }}#}
            {{ formmacros.field(field.origin) }}
        </div>
    </div>

    <div class="collapse primaryorganradio">
        <div class="well" align='center'>
            {#{{ form_label(form.primaryOrgan) }}#}
            {#{{ form_widget(form.primaryOrgan) }}#}
            {{ formmacros.field(field.primaryOrgan) }}
        </div>
    </div>

{% endmacro %}


{######################  holder for array of fields  #################################}
{% macro inputArrayField(fields,cycle,classname,fieldtype,nobtn,nolabel,withspace,status) %}
    {% import _self as formmacros %}
    {% set count = 1 %}

    <p>
    <div class="{{ classname }}">
    {% for field in fields|reverse %}

        {% if field.vars.value.status is defined %}
            {%  set fieldstatus = field.vars.value.status %}
        {% else %}
            {%  set fieldstatus = 'valid' %}
        {% endif %}

        {#get correct field: valid for submitter#}
        {% if is_granted('ROLE_SCANORDER_SUBMITTER') and fieldstatus == 'valid' %}
            {%  set show = 1 %}
        {% else %}
            {%  set show = 0 %}
            {#don't show: {{ form_widget(field) }}#}
        {% endif %}

        {#to see all data: ROLE_SCANORDER_DATA_QUALITY_ASSURANCE_SPECIALIST#}
        {% if is_granted('ROLE_SCANORDER_DATA_QUALITY_ASSURANCE_SPECIALIST') and fieldstatus == 'invalid' %}
            {%  set show = 1 %}
        {% endif %}

        {#do not show empty patient clinical history#}
        {% if classname == "patientclinicalhistory" and show == 1 and field.vars.value == "" %}
            {%  set show = 0 %}
        {% endif %}

        {% if show == 1 or
              cycle == "new" or status == 'Amended' or status == 'Canceled by Submitter' or status == 'Canceled by Processor' or status == 'Superseded'
        %}
            {% set btntype = 'plusbtn' %}
            {% if cycle == 'amend' %}
                {% if fields|length == 1 %}
                    {% set btntype = 'plusbtn' %}
                {% else %}
                    {% if count < fields|length %}
                        {% set btntype = 'minusbtn' %}
                    {%  else %}
                        {% set btntype = 'minusplusbtn' %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if cycle == 'show' %}
                {% set btntype = 'none' %}
            {% endif %}

            {#{% if classname == "encounterpatname" %}#}
                {#{{ formmacros.inputField(field,cycle,fieldtype,"","",nobtn,nolabel,classname,withspace,btntype,'norest') }}#}
                {#{{ formmacros.inputField(field,cycle,"encounterpatfirstname","","",nobtn,nolabel,classname,withspace,btntype,'norest') }}#}
                {#{{ formmacros.inputField(field,cycle,"encounterpatmiddlename","","",nobtn,nolabel,classname,withspace,btntype,'norest') }}#}
            {#{% else %}#}
                {{ formmacros.inputField(field,cycle,fieldtype,"","",nobtn,nolabel,classname,withspace,btntype) }}
            {#{% endif %}#}

        {% endif %}
        {% set count = count + 1 %}
    {% endfor %}
    </div>
    </p>
{% endmacro %}

{#input array field with separate label#}
{% macro inputField(field,cycle,fieldtype,prototype,widget,nobtn,nolabel,classname,withspace,btntype,norest) %}
    {% import _self as formmacros %}

    {% if prototype == "prototype" %}
        {% set fieldThis = field.vars.prototype %}
    {% else %}
        {% set fieldThis = field %}
    {% endif %}

    {#classname:{{ classname }}#}

    {% if fieldtype == "diseaseType" %}

        {{ formmacros.diseaseTypeForm(fieldThis) }}

    {%  else %}

        {% if withspace is defined and withspace != "" %}
            <div class="row" style="padding-top: 1%;">
        {% else %}
            <div class="row">
        {% endif %}

            <div class="col-xs-6" align="right">
                <p>
                {% if nolabel is defined and nolabel != "" %}
                    {#no label#}
                {% else %}

                    {#show provider and status to dataquality specialist#}
                    {% set showInfoDate = 0 %}
                    {% set showInfoProvider = 0 %}
                    {% if field.vars.value.provider is defined %}
                        {% if cycle == "show" or cycle == "amend" %}
                            {% if field.vars.value.creationdate != "" and field.vars.value.status != 'valid' %}
                                {% set showInfoDate = 1 %}
                            {% endif %}
                            {% if field.vars.value.provider is defined and field.vars.value.provider != "" %}
                                {% if field.vars.value.provider.id != app.security.getToken().getUser().getId() %}
                                    {% set showInfoProvider = 1 %}
                                {% endif %}
                                {% if field.vars.value.status != 'valid' %}
                                    {% set showInfoDate = 1 %}
                                    {% set showInfoProvider = 1 %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}


                    {% if showInfoDate == 0 and showInfoProvider == 0 %}
                        {#{% if fieldtype == "encounterpatfirstname" %}#}
                            {#{{form_label(fieldThis.firstName)}}<strong>:</strong>#}
                        {#{% elseif fieldtype == "encounterpatmiddlename" %}#}
                            {#{{form_label(fieldThis.middleName)}}<strong>:</strong>#}
                        {% if fieldtype == "paper" %}
                            {{form_label(fieldThis.documents)}}<strong>:</strong>
                        {% elseif fieldtype == "blockspecialStains" %}
                            {{form_label(fieldThis.staintype)}}<br>
                            {{form_label(fieldThis.field)}}<strong>:</strong>
                        {% else %}
                            {% if fieldThis.field is defined %}
                                {{form_label(fieldThis.field)}}<strong>:</strong>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {#{% if fieldtype == "encounterpatfirstname" %}#}
                            {#{{form_label(fieldThis.firstName)}}#}
                        {#{% elseif fieldtype == "encounterpatmiddlename" %}#}
                            {#{{form_label(fieldThis.middleName)}}#}
                        {% if fieldtype == "paper" %}
                            {{form_label(fieldThis.documents)}}
                        {% elseif fieldtype == "blockspecialStains" %}
                            {{form_label(fieldThis.staintype)}}<br>
                            {{form_label(fieldThis.field)}}
                        {% else %}
                            {% if fieldThis.field is defined %}
                                {{form_label(fieldThis.field)}}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if showInfoDate == 1 %}
                        entered on
                        {{field.vars.value.creationdate|date('Y-m-d')}}
                    {% endif %}
                    {% if showInfoProvider == 1 %}
                        by
                        {{field.vars.value.provider}}
                        {% if showInfoDate == 1 %}
                            ({{ field.vars.value.status }})<strong>:</strong>
                        {% endif %}
                    {% endif %}

                {% endif %}

                </p>
            </div>

            <div class="col-xs-6" align="left">
                {% if fieldtype == "key" and ( cycle == 'new' or cycle == 'amend' ) %}
                    {% if classname == "patientmrn" %}
                        {{ formmacros.fieldicon(fieldThis.field,fieldThis.keytype,classname) }}
                    {% elseif classname == "accessionaccession" %}
                        {{ formmacros.fieldicon(fieldThis.field,fieldThis.keytype,classname) }}
                    {% else %}
                        {{ formmacros.fieldicon(fieldThis.field,"",classname) }}
                    {% endif %}
                {% elseif fieldtype == "date" %}
                    {{ formmacros.fielddate(fieldThis.field,'regular-datepicker') }}
                {% elseif fieldtype == "lockdate" %}
                    {{ formmacros.fieldlockdate(fieldThis.field,'regular-datepicker') }}
                {% elseif fieldtype == "paper" %}
                    {{ formmacros.fieldpaper(fieldThis,cycle,prototype) }}
                {% elseif classname == "patientmrn" %}
                    {{ form_widget(fieldThis.keytype) }}
                    {{ form_widget(fieldThis.field) }}
                {% elseif   classname == "encounterpatfirstname" or
                            classname == "encounterpatmiddlename" or
                            classname == "encounterpatlastname" or
                            classname =="encounterpatsuffix"
                %}
                    {{ formmacros.encounterNameWithAlias(fieldThis) }}
                {% elseif classname == "accessionaccession" %}
                    {{ form_widget(fieldThis.keytype) }}
                    {{ form_widget(fieldThis.field) }}
                {% elseif   fieldtype == "partdiffDisident" or
                            fieldtype == "partdisident" or
                            fieldtype == "sliderelevantScans"
                            and cycle != 'show' %}
                    {{ formmacros.fieldCollectionInput(fieldThis,cycle,prototype,widget,nobtn,btntype) }}
                {% elseif fieldtype == "blockspecialStains" %}
                    {{ formmacros.fieldCollectionInputTextarea(fieldThis,cycle,prototype,widget,nobtn,btntype) }}
                {#{% elseif fieldtype == "encounterpatfirstname" %}#}
                    {#{{ form_widget(fieldThis.firstName) }}#}
                {#{% elseif fieldtype == "encounterpatmiddlename" %}#}
                    {#{{ form_widget(fieldThis.middleName) }}#}
                {% else %}
                    {% if fieldThis.field is defined %}
                        {{ form_widget(fieldThis.field) }}
                    {% endif %}
                {% endif %}

            </div>

        </div>

        {#{{ form_rest(fieldThis) }}#}
        {% if cycle != 'show' %}
            {% if norest is not defined or norest == "" %}
                {% if fieldThis.others is defined %}
                    {{ form_widget(fieldThis.others) }}
                {% endif %}
                {{ form_rest(fieldThis) }}
            {% endif %}
        {% endif %}

    {% endif %}

{% endmacro %}



{#simple field widget. i.e. diffDiagnoses field widget#}
{% macro fieldWidget(field) %}
    {{ form_widget(field.vars.prototype.others) }}
    {{ form_widget(field.vars.prototype.field) }}
{% endmacro %}

{% macro fieldSpecialStainsWidget(field) %}
    {#added others#}
    {{ form_widget(field.vars.prototype.others) }}
    {{ form_widget(field.vars.prototype.staintype) }}
    {{ form_widget(field.vars.prototype.field) }}
{% endmacro %}

{% macro fieldWidgetNoOther(field) %}
    {{ form_widget(field.vars.prototype.field) }}
{% endmacro %}


{#{% macro fieldProcedurePatnameWidget(field) %}#}
    {#{% import _self as formmacros %}#}
                          {#&#123;&#35; field, cycle, fieldtype,   prototype,   widget, nobtn, nolabel, classname, withspace, btntype, norest       &#35;&#125;#}
    {#{{ formmacros.inputField(field, "new", "",          "prototype", "",     "",    "",      "",        "",        "",      "norest") }}#}
    {#&#123;&#35;{{ formmacros.field(field.vars.prototype.procedurepatnameothers) }}&#35;&#125;#}
    {#{{ formmacros.field(field.vars.prototype.firstName) }}#}
    {#{{ formmacros.field(field.vars.prototype.middleName) }}#}
{#{% endmacro %}#}

{############# custom array fields #############}


{% macro fieldCollectionInput(field, cycle, prototype, widget, nobtn, btntype) %}

    {{ form_errors(field.field) }}

    {% if btntype is not defined or btntype == "" %}
        {% set btntype = 'plusbtn' %}
    {% endif %}

    {% if nobtn is defined and nobtn == "nobtn" %}
        {{ widget }}
    {% else %}

        <div style="float:left; width:100%">

            {% if cycle == 'show' %}
                {{ form_widget(field.field) }}
            {% else %}
                <div class="fieldInputColl">
                    <div class="input-group input-group-reg">
                        {% if widget is not defined or widget == "" %}
                            {{ form_widget(field.field) }}
                        {% else %}
                            {{ widget }}
                        {% endif %}

                        {% if btntype == "minusbtn" %}
                            <span
                                onClick="delCollectionField(this)"
                                class="input-group-addon btn delbtnCollField" type="button">
                                <i class="glyphicon glyphicon-minus-sign"></i>
                            </span>
                        {% endif %}

                        {% if btntype == "minusplusbtn" %}
                            <span
                                onClick="delCollectionField(this)"
                                class="input-group-addon btn delbtnCollField" type="button">
                                <i class="glyphicon glyphicon-minus-sign"></i>
                            </span>
                            <span
                                onClick="addCollectionField(this)"
                                class="input-group-addon btn addbtnCollField" type="button">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>
                        {% endif %}

                        {% if btntype == "plusbtn" %}
                            <span
                                onClick="addCollectionField(this)"
                                class="input-group-addon btn addbtnCollField" type="button">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

        </div>

    {% endif %}

{% endmacro %}


{% macro fieldCollectionInputTextarea(field, cycle, prototype, widget, nobtn, btntype) %}

    {{ form_errors(field.field) }}

    {% if btntype is not defined or btntype == "" %}
        {% set btntype = 'plusbtn' %}
    {% endif %}

    {% if nobtn is defined and nobtn == "nobtn" %}

        {{ form_widget(field.staintype) }}
        {{ form_widget(field.field) }}

    {% else %}

        <div style="float:left; width:100%">
            <div class="fieldInputColl">
                <div class="input-group-oleg">

                    {% if widget is not defined or widget == "" %}
                        {{ form_widget(field.staintype) }}
                        {{ form_widget(field.field) }}
                    {% else %}
                        {{ widget }}
                    {% endif %}

                    {% if btntype == 'minusplusbtn' %}
                        <div class="addDelBtnColl" style="width:100%;">
                            <button onClick="delCollectionField(this,'bottom')" type="button" class="btn btn-sm delbtnCollField"><span class="glyphicon glyphicon-minus-sign"></span></button>
                            <button onClick="addCollectionField(this,'bottom')" type="button" class="btn btn-sm addbtnCollField"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    {% endif %}

                    {% if btntype == "plusbtn" %}
                        <div class="addDelBtnColl" style="width:100%; float:left;">
                            <button onClick="addCollectionField(this,'bottom')" type="button" class="btn btn-sm addbtnCollField"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    {% endif %}

                    {% if btntype == 'minusbtn' %}
                        <div class="addDelBtnColl" style="width:100%;">
                            <button onClick="delCollectionField(this,'bottom')" type="button" class="btn btn-sm delbtnCollField"><span class="glyphicon glyphicon-minus-sign"></span></button>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

    {% endif %}

{% endmacro %}


{% macro fieldpaper(paper,cycle,prototype) %}

    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    {% if paper.documents is defined or prototype == 'prototype' %}

        {#paper.id:{{ paper.vars.value.id }}#}
        {#part.id:{{ paper.vars.value.part.id }}#}
        {#orderid:{{ paper.vars.value.orderinfo.id }}#}

        <div class="dropzone file-upload-dropzone" style="min-height: 150px; margin-bottom: 5px;">
            {% if cycle != "show" %}
                <div class="dz-message" style="padding-bottom:5px;"><span>Drag and drop files here to upload or click to select a file (Maximum 4 files, 10 MB each)</span></div>
            {% else %}
                <div class="dz-message" style="padding-bottom:5px;"><span></span></div>
            {% endif %}

            {{ usermacros.document( paper, cycle, prototype ) }}

            {#render field "other". id of this field will be used to get the paperid in js#}
            {% if cycle != 'show' %}
                {% if paper.others is defined %}
                    {{ form_widget(paper.others) }}
                {% endif %}
                {{ form_rest(paper) }}
            {% endif %}

        </div>
        
    {% endif %}

{% endmacro %}


{% macro encounterNameWithAlias(field) %}
    {% if field.alias is defined %}
        {% import _self as formmacros %}
        {{ form_errors(field) }}
        {{ form_widget(field.others) }}
        <div class="form-group oleg-form-nomargin-bottom">
            <div class="input-group">
                {{ form_widget(field.field) }}
                {#<span class="input-group-addon">{{ form_widget(field.alias) }} {{ form_label(field.alias) }}</span>#}
                <span class="input-group-addon">
                    {{ form_widget(field.alias) }}
                    {{ form_label(field.alias, null, { 'label_attr': {'style': 'margin:0;'} }) }}
                </span>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{#{% macro dataQualityWidgetExisting( field, cycle ) %}#}
    {#{% import _self as formmacros %}#}
    {#&#123;&#35;{% form_theme field 'OlegOrderformBundle::Default/dataquality_widget.html.twig' %}&#35;&#125;#}

    {#<div class="validationerror-added alert alert-danger">#}
        {#{{ form_errors(field) }}#}
        {#&#123;&#35;{{ form_label(field.description) }}&#35;&#125;#}
        {#<br>#}
        {#Conflict Resolved by Replacement:#}
        {#<br>#}
        {#<b>{{ field.vars.value.accession }}</b> => <b>{{ field.vars.value.newaccession }}</b>#}
        {#<br>#}
        {#&#123;&#35;{{ form_rest(field) }}&#35;&#125;#}
    {#</div>#}
{#{% endmacro %}#}
{% macro dataQualityWidgetNotMapped( field ) %}

    {% import _self as formmacros %}
    {% form_theme field 'OlegOrderformBundle::Default/dataquality_widget.html.twig' %}

    <div class="validationerror-added alert alert-danger" style="height: 210px;">
    {#<div class="validationerror-added alert alert-danger">#}

        {{ form_errors(field) }}

        {{ form_label(field.btnoption) }}
        {{ form_widget(field.btnoption) }}

        {{ form_widget(field.description) }}
        {{ form_widget(field.accession) }}
        {{ form_widget(field.accessiontype) }}
        {{ form_widget(field.mrn) }}
        {{ form_widget(field.mrntype) }}

        {#{{ form_rest(field) }}#}
    </div>

{% endmacro %}

{% macro fieldDeceased(field,cycle) %}
    {% import _self as formmacros %}
    {% if field.vars.value.status == 'valid' %}
        {{ form_errors(field) }}

        {{ form_widget(field.others) }}

        {{ formmacros.field(field.deceased) }}
        {{ formmacros.fieldDateLabel(field.deathdate,'regular-datepicker') }}
        {{ formmacros.field(field.deathtime) }}
    {% endif %}
{% endmacro %}

{% macro fieldGeneralOrder(order,cycle) %}
    {% import _self as formmacros %}
    {#{% if order.vars.value and order.vars.value.status == 'valid' %}#}
        {{ form_errors(order) }}
        {{ form_widget(order.others) }}
        {{ formmacros.field(order.source) }}
        {{ formmacros.field(order.field.type) }}
        {{ formmacros.field(order.field.ordernumber) }}
    {#{% endif %}#}
{% endmacro %}

{% macro fieldInpatientinfo(field,cycle) %}
    {% import _self as formmacros %}
    {% if field.vars.value.status == 'valid' %}
        {{ form_errors(field) }}
        {{ form_widget(field.others) }}
        {{ formmacros.field(field.source) }}
        {{ formmacros.fieldDateLabel(field.admissiondate,'regular-datepicker') }}
        {{ formmacros.field(field.admissiontime) }}
        {{ formmacros.field(field.admissiondiagnosis) }}
        {{ formmacros.fieldDateLabel(field.dischargedate,'regular-datepicker') }}
        {{ formmacros.field(field.dischargetime) }}
        {{ formmacros.field(field.dischargediagnosis) }}
    {% endif %}
{% endmacro %}

{% macro fieldLaborder(field,cycle) %}
    {% import _self as formmacros %}
    {% if field.vars.value.status == 'valid' %}
        {{ form_errors(field) }}
        {{ form_widget(field.others) }}

        {#{{ formmacros.field(field.source) }}#}

        {% if field.order is defined %}
            {{ formmacros.fieldGeneralOrder(field.order,cycle) }}
        {% endif %}

        {{ formmacros.field(field.sourceLocation) }}
        {{ formmacros.field(field.trackLocations) }}

        {#images#}
        {{ formmacros.fieldDocumentContainer(field.documentContainer,cycle) }}

    {% endif %}
{% endmacro %}

{% macro fieldDocumentContainer(container,cycle) %}
    {% import _self as formmacros %}

    {{ form_errors(container) }}

    {#hidden id: used as a reference to get objects count#}
    {{ form_widget(container.id) }}

    {#documents/images in container#}
    <p>
    <div class="documentcontainer">
        <div class="row">
            <div class="col-xs-6" align="right">
                {{form_label(container.documents)}}
            </div>
            <div class="col-xs-6" align="left">
                {{ formmacros.fieldpaper(container,cycle,'prototype') }}
            </div>
        </div>
    </div>
    </p>

    {{ formmacros.field(container.title) }}

    {% if container.comments|length > 0 %}
        Comment(s):
    {% endif %}
    {% for comment in container.comments %}
        {{ formmacros.field(comment.comment) }}
    {% endfor %}

    {{ formmacros.field(container.device) }}
    {{ formmacros.fieldDateLabel(container.datetime,'regular-datepicker') }}
    {{ formmacros.field(container.provider) }}

{% endmacro %}

{% macro fieldOutsidereport(field,cycle) %}
    {% import _self as formmacros %}
    {% if field.vars.value.status == 'valid' %}
        {{ form_errors(field) }}
        {{ form_widget(field.others) }}

        {% if field.outsidereport.order is defined %}
            {{ formmacros.fieldGeneralOrder(field.outsidereport.order,cycle) }}
        {% endif %}

        {{ formmacros.field(field.outsidereport.source) }}
        {{ formmacros.field(field.outsidereport.outsideReportType) }}
        {{ formmacros.field(field.outsidereport.outsideReportText) }}

        {#Outside Report Reference Representation (PDF)#}
        {#Outside Report Pathologist(s)#}

        {{ formmacros.fieldDateLabel(field.outsidereport.issuedonDate,'regular-datepicker') }}
        {{ formmacros.field(field.outsidereport.issuedonTime) }}

        {#Progress & Comments#}

        {{ formmacros.field(field.outsidereport.location) }}

    {% endif %}
{% endmacro %}


{############################ Objects ###########################}

{% macro patientForm( patient, flag, uid, cycle, status, mrnHtml, dobHtml, clinicalhistoryHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    {#messages#}
    {{ formmacros.renderMessages(patient,flag,cycle) }}

    <div id="patient_{{ uid }}" class="form-element-holder">

        {% if mrnHtml is not defined or mrnHtml == "" %}
            {{ formmacros.inputArrayField(patient.mrn,cycle,"patientmrn",key,"","","",status) }}
        {% else  %}
            <p><div class="patientmrn">{{ mrnHtml }}</div></p>
        {% endif %}

        <div class="patientname">
            {% if patient.vars.value != NULL %}
                {% set patientFullName = patient.vars.value.getFullPatientName %}
            {% else %}
                {% set patientFullName = "" %}
            {% endif %}
            {{ formmacros.simplefield( "Name:", patientFullName, "", "disabled" ) }}
        </div>

        <div class="patientsex">
            {% if patient.vars.value != NULL %}
                {% set patientSex = patient.vars.value.obtainValidField('sex') %}
            {% else %}
                {% set patientSex = "" %}
            {% endif %}
            {{ formmacros.simplefield( "Sex:", patientSex, "", "disabled" ) }}
        </div>

        {% if dobHtml is not defined or dobHtml == "" %}
            {{ formmacros.inputArrayField(patient.dob,cycle,"patientdob","date","","","",status) }}
        {% else  %}
            <p><div class="patientdob">{{ dobHtml }}</div></p>
        {% endif %}

        <div class="patientage">
            {% if patient.vars.value != NULL %}
                {% set patientAge = patient.vars.value.calculateAge %}
            {% else %}
                {% set patientAge = "" %}
            {% endif %}
            {{ formmacros.simplefield( "Age:", patientAge, "", "disabled" ) }}
        </div>


        {% if clinicalhistoryHtml is not defined or clinicalhistoryHtml == "" %}
            {{ formmacros.inputArrayField(patient.clinicalHistory,cycle,"patientclinicalhistory","","","","",status) }}
        {% else  %}
            <p><div class="patientclinicalhistory">{{ clinicalhistoryHtml }}</div></p>
        {% endif %}

        {{ formmacros.patientExtraForm(patient,flag,uid,cycle,status) }}

    </div>
{% endmacro %}


{% macro accessionForm( encounter, procedure, accession, flag, uid, cycle, status,
                        procedurenameHtml,
                        accessionHtml,
                        accessiondateHtml,
                        encounterdateHtml,
                        patsuffixHtml,
                        patlastnameHtml,
                        patfirstnameHtml,
                        patmiddlenameHtml,
                        patageHtml,
                        patsexHtml,
                        patpathistoryHtml
) %}

    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    {#messages#}
    {{ formmacros.renderMessages(accession,flag,cycle) }}

    <div id="accession_{{ uid }}" class="form-element-holder">
        {% if accessionHtml is not defined or accessionHtml == "" %}
            {{ formmacros.inputArrayField(accession.accession,cycle,"accessionaccession",key,"","","",status) }}
        {% else  %}
            <p><div class="accessionaccession">{{ accessionHtml }}</div></p>
        {% endif %}

        {% if accessiondateHtml is not defined or accessiondateHtml == "" %}
            {{ formmacros.inputArrayField(accession.accessionDate,cycle,"accessionaccessiondate","date","","","",status) }}
        {% else  %}
            <p><div class="accessionaccessiondate">{{ accessiondateHtml }}</div></p>
        {% endif %}

        {#{{ formmacros.field(procedure.name) }}#}
        {% if procedurenameHtml is not defined or procedurenameHtml == "" %}
            {{ formmacros.inputArrayField(procedure.name,cycle,"procedurename","","","","",status) }}
        {% else  %}
            <p><div class="procedurename">{{ procedurenameHtml }}</div></p>
        {% endif %}

        {#{% if encounternumberHtml is not defined or encounternumberHtml == "" %}#}
            {#{% for number in encounter.number %}#}
                {#{% if number.vars.value.status == 'valid' %}#}
                    {#{{ form_row(number, {'label': false}) }}#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#{% else  %}#}
            {#<p><div class="encounternumber">{{ encounternumberHtml }}</div></p>#}
        {#{% endif %}#}

        {#{% if procedurenumberHtml is not defined or procedurenumberHtml == "" %}#}
            {#{% for number in procedure.number %}#}
                {#{% if number.vars.value.status == 'valid' %}#}
                    {#{{ form_row(number, {'label': false}) }}#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#{% else  %}#}
            {#<p><div class="procedurenumber">{{ procedurenumberHtml }}</div></p>#}
        {#{% endif %}#}

        {#patient's data: single simple fields#}
        {% if encounterdateHtml is not defined or encounterdateHtml == "" %}
            {{ formmacros.inputArrayField(encounter.date,cycle,"encounterdate","date","","","",status) }}
        {% else  %}
            <p><div class="encounterdate">{{ encounterdateHtml }}</div></p>
        {% endif %}

        {% if patfirstameHtml is not defined or patfirstnameHtml == "" %}
            {{ formmacros.inputArrayField(encounter.patfirstname,cycle,"encounterpatfirstname","","","","",status) }}
        {% else  %}
            <p><div class="encounterpatfirstname">{{ patfirstnameHtml }}</div></p>
        {% endif %}

        {% if patmiddlenameHtml is not defined or patmiddlenameHtml == "" %}
            {{ formmacros.inputArrayField(encounter.patmiddlename,cycle,"encounterpatmiddlename","","","","",status) }}
        {% else  %}
            <p><div class="encounterpatmiddlename">{{ patmiddlenameHtml }}</div></p>
        {% endif %}

        {% if patlastnameHtml is not defined or patlastnameHtml == "" %}
            {{ formmacros.inputArrayField(encounter.patlastname,cycle,"encounterpatlastname","","","","",status) }}
        {% else  %}
            <p><div class="encounterpatlastname">{{ patlastnameHtml }}</div></p>
        {% endif %}

        {% if patsuffixHtml is not defined or patsuffixHtml == "" %}
            {{ formmacros.inputArrayField(encounter.patsuffix,cycle,"encounterpatsuffix","","","","",status) }}
        {% else  %}
            <p><div class="encounterpatsuffix">{{ patsuffixHtml }}</div></p>
        {% endif %}

        {#{{ formmacros.field(encounter.patsex) }}#}
        {% if patsexHtml is not defined or patsexHtml == "" %}
            {{ formmacros.inputArrayField(encounter.patsex,cycle,"encounterpatsex","","","","",status) }}
        {% else  %}
            <p><div class="encounterpatsex">{{ patsexHtml }}</div></p>
        {% endif %}

        {#{{ formmacros.field(encounter.patage) }}#}
        {% if patageHtml is not defined or patageHtml == "" %}
            {{ formmacros.inputArrayField(encounter.patage,cycle,"encounterpatage","","","","",status) }}
        {% else  %}
            <p><div class="encounterpatage">{{ patageHtml }}</div></p>
        {% endif %}

        {#{{ formmacros.field(encounter.pathistory) }}#}
        {% if patpathistoryHtml is not defined or patpathistoryHtml == "" %}
            {{ formmacros.inputArrayField(encounter.pathistory,cycle,"encounterpathistory","","","","",status) }}
        {% else  %}
            <p><div class="encounterpathistory">{{ patpathistoryHtml }}</div></p>
        {% endif %}

        {{ formmacros.encounterExtraForm(encounter,flag,uid,cycle,status) }}

        {{ formmacros.procedureExtraForm(procedure,flag,uid,cycle,status) }}

        {#{{ formmacros.accessionExtraForm(accession,flag,uid,cycle,status) }}#}

    </div>
{% endmacro %}

{% macro partForm( part, flag, uid, cycle, status, partnameHtml,sourceorganHtml,paperHtml,descriptionHtml,diagnosisHtml,diffDiagnosesHtml,diseaseTypeHtml ) %}

    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    {#messages#}
    {{ formmacros.renderMessages(part,flag,cycle) }}

    <div id="part_{{ uid }}" class="form-element-holder scan-partpaper">

        {% if partnameHtml is not defined or partnameHtml == "" %}
            {{ formmacros.inputArrayField(part.partname,cycle,"partpartname",key,"","","",status) }}
        {% else  %}
            <p><div class="partpartname">{{ partnameHtml }}</div></p>
        {% endif %}

        {% if sourceorganHtml is not defined or sourceorganHtml == "" %}
            {{ formmacros.inputArrayField(part.sourceOrgan,cycle,"partsourceorgan","","","","",status) }}
        {% else  %}
            <p><div class="partsourceorgan">{{ sourceorganHtml }}</div></p>
        {% endif %}

        {% if paperHtml is not defined or paperHtml == "" %}
            {{ formmacros.inputArrayField(part.paper,cycle,"partpaper","paper","","","",status) }}
        {% else %}
            <p><div class="partpaper">{{ paperHtml }}</div></p>
        {% endif %}

        {% if descriptionHtml is not defined or descriptionHtml == "" %}
            {{ formmacros.inputArrayField(part.description,cycle,"partdescription","","","","",status) }}
        {% else  %}
            <p><div class="partdescription">{{ descriptionHtml }}</div></p>
        {% endif %}

        {% if diagnosisHtml is not defined or diagnosisHtml == "" %}
            {{ formmacros.inputArrayField(part.disident,cycle,"partdisident","","","","",status) }}
        {% else  %}
            <p><div class="partdisident">{{ diagnosisHtml }}</div></p>
        {% endif %}

        {% if diffDiagnosesHtml is not defined or diffDiagnosesHtml == "" %}
            {{ formmacros.inputArrayField(part.diffDisident,cycle,"partdiffdisident","partdiffDisident","","","",status) }}
        {% else  %}
           <p><div class="partdiffdisident">{{ diffDiagnosesHtml }}</div></p>
        {% endif %}

        {% if diseaseTypeHtml is not defined or diseaseTypeHtml == "" %}
            {{ formmacros.inputArrayField(part.diseaseType,cycle,"partdiseasetype","diseaseType","","","",status) }}
        {% else  %}
            <p><div class="partdiseasetype">{{ diseaseTypeHtml }}</div></p>
            {#{{ formmacros.inputArrayField(part.diseaseType,cycle,"partdiseasetype","diseaseType") }}#}
        {% endif %}

    </div>

{% endmacro %}



{% macro blockForm( block, flag, uid, cycle, status, blocknameHtml, sectionsourceHtml, specialStainsHtml ) %}
    {% import _self as formmacros %}

    {% if cycle != 'show' %}
        {% set key = "key" %}
    {% else %}
        {% set key = "" %}
    {% endif %}

    {#messages#}
    {{ formmacros.renderMessages(block,flag,cycle) }}

    <div id="block_{{ uid }}" class="form-element-holder">

        {% if blocknameHtml is not defined or blocknameHtml == "" %}
            {{ formmacros.inputArrayField(block.blockname,cycle,"blockblockname",key,"","","",status) }}
        {% else  %}
            <p><div class="blockblockname">{{ blocknameHtml }}</div></p>
        {% endif %}

        {% if sectionsourceHtml is not defined or sectionsourceHtml == "" %}
            {{ formmacros.inputArrayField(block.sectionsource,cycle,"blocksectionsource","blocksectionsource","","","",status) }}
        {% else  %}
            <p><div class="blocksectionsource">{{ sectionsourceHtml }}</div></p>
        {% endif %}

        {% if specialStainsHtml is not defined or specialStainsHtml == "" %}
            {#                              fields,             cycle,classname,            fieldtype,          nobtn,      nolabel,withspace,status#}
            {{ formmacros.inputArrayField(block.specialStains,cycle,"blockspecialstains","blockspecialStains","","","",status) }}
        {% else  %}
            <p><div class="blockspecialstains">{{ specialStainsHtml }}</div></p>
        {% endif %}

    </div>

{% endmacro %}




{% macro slideForm( slide, flag, uid, cycle, slidetypeHtml, stainHtml, scanHtml, scanregionHtml, noteHtml, microscopicdescrHtml, relevantScansHtml ) %}
    {% import _self as formmacros %}

    {#messages#}
    {{ formmacros.renderMessages(slide,flag,cycle) }}

    <div id="slide_{{ uid }}" class="form-element-holder">

        {{ formmacros.field(slide.title) }}

        <p><div class="slideslidetype">     
        {% if slidetypeHtml is not defined or slidetypeHtml == "" %}
            {{ formmacros.field(slide.slidetype) }}
        {% else  %}
            {{ slidetypeHtml }}
        {% endif %}
        </div></p>

        {% if stainHtml is not defined or stainHtml == "" %}    {#regular#}

            {% for stain in slide.stain %}
                {{ formmacros.field(stain.field) }}
            {% endfor %}

            {% for scan in slide.scan %}
                {{ formmacros.field(scan.field) }}
                {{ formmacros.field(scan.scanregion) }}
                {{ formmacros.field(scan.note) }}
            {% endfor %}

        {% else  %} {#prototype#}
            <p><div class="slidestain">{{ stainHtml }}</div></p>
            <p><div class="slidescan">{{ scanHtml }}</div></p>
            <p><div class="slidescanregion">{{ scanregionHtml }}</div></p>
            <p><div class="slidenote">{{ noteHtml }}</div></p>
        {% endif %}

        {% if microscopicdescrHtml is not defined or microscopicdescrHtml == "" %}
            {{ formmacros.field(slide.microscopicdescr) }}
        {% else  %}
            <p><div class="slidemicroscopicdescr">{{ microscopicdescrHtml }}</div></p>
        {% endif %}

        {% if relevantScansHtml is not defined or relevantScansHtml == "" %}
            {{ formmacros.inputArrayField(slide.relevantScans,cycle,"sliderelevantscans","sliderelevantScans") }}
        {% else  %}
            <p><div class="sliderelevantscans">{{ relevantScansHtml }}</div></p>
        {% endif %}

    </div>

{% endmacro %}

{############################ END OF Objects ###########################}

{############################ Extra Fields ###########################}
{% macro patientExtraForm( patient, datastructure, uid, cycle, status ) %}

    {% if datastructure and datastructure == "datastructure" %}

        {% import _self as formmacros %}

        <h5>Extra data structure fields:</h5>

        {% if patient.race is defined %}
            {{ formmacros.inputArrayField(patient.race,cycle,"patientrace","","","","",status) }}
        {% endif %}

        {% if patient.deceased is defined %}
            {% for deceased in patient.deceased %}
                {{ formmacros.fieldDeceased(deceased,cycle) }}
            {% endfor %}
        {% endif %}

        {% if patient.contactinfo is defined %}
            {{ formmacros.inputArrayField(patient.contactinfo,cycle,"patientcontactinfo","","","","",status) }}
        {% endif %}


    {% endif %}

{% endmacro %}


{% macro encounterExtraForm( encounter, datastructure, uid, cycle, status ) %}

    {% if datastructure and datastructure == "datastructure" %}

        {% import _self as formmacros %}

        <h5>Extra data structure fields for Encounter:</h5>

        {% if encounter.number is defined %}
            {{ formmacros.inputArrayField(encounter.number,cycle,"encounternumber","","","","",status) }}
        {% endif %}

        {% if encounter.location is defined %}
            {{ formmacros.inputArrayField(encounter.location,cycle,"encounterlocation","","","","",status) }}
        {% endif %}

        {% if encounter.orderinfo is defined %}
            {% for orderinfo in encounter.orderinfo %}
                {{ formmacros.fieldGeneralOrder(orderinfo,cycle) }}
            {% endfor %}
        {% endif %}

        {% if encounter.inpatientinfo is defined %}
            {% for inpatientinfo in encounter.inpatientinfo %}
                {{ formmacros.fieldInpatientinfo(inpatientinfo,cycle) }}
            {% endfor %}
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro procedureExtraForm( procedure, datastructure, uid, cycle, status ) %}

    {% if datastructure and datastructure == "datastructure" %}

        {% import _self as formmacros %}

        <h5>Extra data structure fields for Procedure:</h5>

        {% if procedure.number is defined %}
            {{ formmacros.inputArrayField(procedure.number,cycle,"procedurenumber","","","","",status) }}
        {% endif %}

        {% if procedure.date is defined %}
            {{ formmacros.inputArrayField(procedure.date,cycle,"proceduredate","date","","","",status) }}
        {% endif %}

        {% if procedure.location is defined %}
            {{ formmacros.inputArrayField(procedure.location,cycle,"procedurelocation","","","","",status) }}
        {% endif %}

        {% if procedure.orderinfo is defined %}
            {% for orderinfo in procedure.orderinfo %}
                {{ formmacros.fieldGeneralOrder(orderinfo,cycle) }}
            {% endfor %}
        {% endif %}

        {% if procedure.inpatientinfo is defined %}
            {% for inpatientinfo in procedure.inpatientinfo %}
                {{ formmacros.fieldInpatientinfo(inpatientinfo,cycle) }}
            {% endfor %}
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro accessionExtraForm( accession, datastructure, uid, cycle, status ) %}

    {% if datastructure and datastructure == "datastructure" %}

        {% import _self as formmacros %}

        {% if accession.laborder is defined %}
            <h5>Extra data structure fields for Accession's Lab Order:</h5>
            {#{{ formmacros.inputArrayField(procedure.ordersource,cycle,"procedureordersource","","","","",status) }}#}
            <div class="form-element-holder">
                {% for laborder in accession.laborder %}
                    {{ formmacros.fieldLaborder(laborder,cycle) }}
                {% endfor %}
            </div>
        {% endif %}

        {% if accession.outsidereport is defined %}
            <h5>Extra data structure fields for Accession's Outside Report:</h5>
            {#{{ formmacros.inputArrayField(procedure.ordersource,cycle,"procedureordersource","","","","",status) }}#}
            <div class="form-element-holder">
                {% for outsidereport in accession.outsidereport %}
                    {{ formmacros.fieldOutsidereport(outsidereport,cycle) }}
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}

{% endmacro %}

{############################ EOF Extra Fields ###########################}

