{#   navigation menu   #}

{% block navbar %}

{#<div id="form_menu">#}
<nav class="navbar navbar-default" role="navigation">
{#    <a class="brand" href="#">{{ app.security.getToken().getUser() }}</a>#}
{#    <div class="nav-collapse">#}

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="{{ path('scanorder_new') }}">One Slide</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li id="0" class="hidden-xs divider-vertical new"><a href="{{ path('scanorder_new') }}">One Slide</a></li>
            <li id="1" class="divider-vertical orderinfo"><a href="{{ path('clinical_new') }}">Clinical Multi-Slide</a></li>
            <li id="2" class="divider-vertical accession"><a href="{{ path('edu_new') }}">Educational Multi-Slide</a></li>
            <li id="3" class="divider-vertical order"><a href="{{ path('res_new') }}">Research Multi-Slide</a></li>
            <li id="4" class="divider-vertical index"><a href="{{ path('index') }}">My Orders</a></li>

{#            {% if app.user %}#}
{#            {% if user and user['username'] %}#}
            {% if is_granted('ROLE_USER') %}
                {#<li id="5" class="divider-vertical order1"><a href="{{ path('logout') }}">Logout | {{ app.security.getToken().getUser() }}</a></li>#}

                <li id="5" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.security.getToken().getUser() }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>Logged in as {{ app.security.getToken().getUser() }}</li>
                        <li><a href="{{ path('showuser', {id:app.security.getToken().getUser().getId()}) }}">My Profile</a></li>
                        <li><a href="{{ path('logout') }}">Log Out</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_index') }}">Admin</a></li>
                        {% endif %}
                    </ul>
                </li>

            {% else %}
                {#in theory, we should not see this#}
                <li id="5" class="divider-vertical order1"><a href="{{ path('login') }}">Login</a></li>
            {% endif %}
                
        </ul>
    </div>
</nav>
{#</div>   #}
    
{% endblock %} 
    