{#   navigation menu   #}

{% block navbar %}

    {% set comments = render(controller("OlegOrderformBundle:History:notViewedComments")) %}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="{{ path('scan-order-home') }}">Home</a> <!-- this is for mobile devices - top menu -->
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">

            {% if is_granted('ROLE_SUBMITTER') or is_granted('ROLE_EXTERNAL_SUBMITTER') %}

                <ul class="nav navbar-nav">

                    <li id="nav-bar-scanorderhome" class="hidden-xs divider-vertical"><a href="{{ path('scan-order-home') }}">Home</a></li>

                    <li id="nav-bar-placescanorder" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Place Scan Order<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="nav-bar-single" class="divider-vertical"><a href="{{ path('single_new') }}">One-Slide Scan Order</a></li>
                            <li id="nav-bar-clinical" class="divider-vertical"><a href="{{ path('multi_new') }}">Multi-Slide Scan Order</a></li>
                            <li id="nav-bar-table" class="divider-vertical"><a href="{{ path('table_create') }}">Table-View Scan Order</a></li>
                        </ul>
                    </li>

                    <li id="nav-bar-myscanorders" class="divider-vertical">
                        {% if comments is defined and comments > 0 %}
                            <a id="incoming-orders-menu-title" href="{{ path('my-scan-orders') }}">My Orders</a><!--
                            --><a id="incoming-orders-menu-badge" class="element-with-tooltip" title="New Comments" data-toggle="tooltip" data-placement="bottom" href="{{ path('my-scan-orders',{'filter_search_box[filter]': 'With New Comments'}) }}"><span class="badge">{{ comments }}</span></a>
                        {% else %}
                            <a href="{{ path('my-scan-orders') }}" >My Orders</a>
                        {% endif %}
                    </li>

                    <li id="nav-bar-mysliderequests" class="divider-vertical">
                        <a href="{{ path('my-slide-return-requests') }}" >My Slide Return Requests</a>
                    </li>

                </ul>

            {% endif %}


            <ul class="nav navbar-nav navbar-right">

                {% if is_granted('ROLE_PROCESSOR') %}

                    {#admincomments - comments addressed to this processor only#}
                    {% set admincomments = render(controller("OlegOrderformBundle:History:notViewedAdminComments")) %}

                    <li id="nav-bar-admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="nav-bar-myscanorders">
                                {% if admincomments is defined and admincomments > 0 %}
                                    <a id="incoming-orders-menu-title" href="{{ path('incoming-scan-orders') }}">Incoming Scan Orders</a><!--
                                    --><a id="incoming-orders-menu-badge" class="element-with-tooltip" title="New Comments" data-toggle="tooltip" data-placement="bottom" href="{{ path('incoming-scan-orders',{'filter_search_box[filter]': 'With New Comments'}) }}"><span class="badge">{{ admincomments }}</span></a>
                                {% else %}
                                    <a href="{{ path('incoming-scan-orders') }}" >Incoming Scan Orders</a>
                                {% endif %}
                            </li>

                            <li><a href="{{ path('accessrequest_list') }}">Access Requests</a></li>
                            <li><a href="{{ path('accountrequest') }}">Account Requests</a></li>
                            <li><a href="{{ path('incoming-slide-return-requests') }}">Incoming Slide Return Requests</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="divider"></li>
                                <li><a href="{{ path('listusers') }}">Users</a></li>
                                <li><a href="{{ path('admin_index') }}">List Manager</a></li>
                                <li><a href="{{ path('logger') }}">Event Log</a></li>
                                <li><a href="{{ path('siteparameters') }}">Site Settings</a></li>
                            {% endif %}

                        </ul>
                    </li>

                {% endif %}

                {% if is_granted('ROLE_SUBMITTER') or is_granted('ROLE_EXTERNAL_SUBMITTER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {#<li> Logged in as {{ app.security.getToken().getUser().getUsername() }} </li>#}
                            <li><a href="{{ path('showuser', {id:app.security.getToken().getUser().getId()}) }}">My Profile ({{ app.security.getToken().getUser().getUsername() }})</a></li>
                            <li><a href="{{ path('logout') }}">Log Out</a></li>
                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}

