
{% macro displayPatient( patient, patientCount, status, datastructure, type, formtype ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {#status == 'Amended' or status == 'Canceled by Submitter' or status == 'Canceled by Processor' or status == 'Superseded'#}

    {#&#123;&#35;patient&#35;&#125;#}
    {#{% set patientCount = 0 %}#}
    {#{% for patient in form.patient %}#}

        {############# patient #############}

        {% set uid = patientCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
        <div id="formpanel_patient_{{ uid }}" class="panel panel-patient panel-multi-form">

            {{ formmacros.orderinfo_panel_header(
            patient,'patient', datastructure, type, formtype, patientCount, uid,
            patientCount, 0, 0, 0, 0, 0, 0, 0, 0)
            }}

            <div id="form_body_patient_{{ uid }}" class="panel-body collapse in">

                {#patient form#}
                {{ formmacros.patientForm(patient,datastructure,uid,type,status) }}

                {############# encounter #############}
                {% set encounterCount = 0 %}
                {% for encounter in patient.encounter %}

                    {#encounter panel#}
                    {% set uid = patientCount~'_'~encounterCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                    <div id="formpanel_encounter_{{ uid }}" class="panel panel-encounter panel-multi-form">

                    {#encounter header#}
                    {{ formmacros.orderinfo_panel_header(
                    encounter,'encounter', datastructure, type, formtype, encounterCount, uid,
                    patientCount, encounterCount, 0, 0, 0, 0, 0, 0, 0)
                    }}

                    {#encounter body#}
                    <div id="form_body_encounter_{{ uid }}" class="panel-body collapse in">

                        {#encounter form#}
                        {% if datastructure and datastructure == "datastructure" %}
                            {{ formmacros.encounterForm(encounter,datastructure,uid,type,status) }}
                        {% endif %}

                        {############# procedure #############}
                        {% set procedureCount = 0 %}
                        {% for procedure in encounter.procedure %}

                            {#procedure header#}
                            {% set uid = patientCount~'_'~encounterCount~'_'~procedureCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}
                            {% if datastructure and datastructure == "datastructure" %}
                                <div id="formpanel_procedure_{{ uid }}" class="panel panel-procedure panel-multi-form">
                                    {#procedure header#}
                                    {{ formmacros.orderinfo_panel_header(
                                    procedure,'procedure', datastructure, type, formtype, encounterCount, uid,
                                    patientCount, encounterCount, procedureCount, 0, 0, 0, 0, 0, 0)
                                    }}

                                    {#procedure body#}
                                    <div id="form_body_procedure_{{ uid }}" class="panel-body collapse in">
                                        {{ formmacros.procedureForm(procedure,datastructure,uid,type,status) }}
                            {% endif %}


                            {############# accession #############}
                            {% set accessionCount = 0 %}
                            {% for accession in procedure.accession %}
                                {% set uid = patientCount~'_'~encounterCount~'_'~procedureCount~'_'~accessionCount~'_'~0~'_'~0~'_'~0~'_'~0~'_'~0 %}

                                {% if datastructure and datastructure == "datastructure" %}
                                        <div id="formpanel_accession_{{ uid }}" class="panel panel-accession panel-multi-form">
                                        {{ formmacros.orderinfo_panel_header(
                                        accession,'accession', datastructure, type, formtype, accessionCount, uid,
                                        patientCount, encounterCount, procedureCount, accessionCount, 0, 0, 0, 0, 0)
                                        }}

                                        <div id="form_body_accession_{{ uid }}" class="panel-body collapse in">
                                {% endif %}

                                {#accession form#}
                                {{ formmacros.accessionForm(encounter,procedure,accession,datastructure,uid,type,status) }}

                                {#############  part    #############}
                                {% set partCount = 0 %}
                                {% for part in accession.part %}
                                    {% set uid = patientCount~'_'~encounterCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~0~'_'~0~'_'~0~'_'~0 %}
                                    <div id="formpanel_part_{{ uid }}" class="panel panel-part panel-multi-form">

                                        {{ formmacros.orderinfo_panel_header(
                                        part,'part', datastructure, type, formtype, partCount, uid,
                                        patientCount, encounterCount, procedureCount, accessionCount, partCount, 0, 0, 0, 0)
                                        }}

                                        <div id="form_body_part_{{ uid }}" class="panel-body collapse in">

                                            {{ formmacros.partForm( part, datastructure, uid, type, status, "","","","","","","") }}


                                            {#block#}
                                            {% set blockCount = 0 %}
                                            {% for block in part.block %}
                                                {#block id={{ block.vars.value.id }}#}
                                                {% set uid = patientCount~'_'~encounterCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~0~'_'~0~'_'~0 %}
                                                <div id="formpanel_block_{{ uid }}" class="panel panel-block panel-multi-form">
                                                    {{ formmacros.orderinfo_panel_header(
                                                    block,'block', datastructure, type, formtype, blockCount, uid,
                                                    patientCount, encounterCount, procedureCount, accessionCount, partCount, blockCount, 0, 0, 0)
                                                    }}

                                                    <div id="form_body_block_{{ uid }}" class="panel-body collapse in">
                                                        {#{{ formmacros.field(block.name) }}#}
                                                        {{ formmacros.blockForm( block, datastructure, uid, type, status) }}


                                                        {#slide#}
                                                        {% set slideCount = 0 %}
                                                        {% for slide in block.slide %}
                                                            {#slide id={{ slide.vars.value.id }}#}
                                                            {% set uid = patientCount~'_'~encounterCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount~'_'~0~'_'~0 %}
                                                            <div id="formpanel_slide_{{ uid }}" class="panel panel-slide panel-multi-form">
                                                                {{ formmacros.orderinfo_panel_header(
                                                                slide,'slide', datastructure, type, formtype, slideCount, uid,
                                                                patientCount, encounterCount, procedureCount, accessionCount, partCount, blockCount, slideCount, 0, 0)
                                                                }}

                                                                <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">

                                                                    {{ formmacros.slideForm( slide, datastructure, uid, type ) }}

                                                                </div>
                                                            </div> {#end of slide#}
                                                            {% set slideCount = slideCount + 1 %}
                                                        {% endfor %}


                                                    </div>
                                                    {% set blockCount = blockCount + 1 %}
                                                </div> {#end of block#}
                                            {% endfor %}

                                            {#part's slide#}
                                            {% set slideCount = 0 %}
                                            {% for slide in part.slide %}
                                                {% set uid = patientCount~'_'~encounterCount~'_'~procedureCount~'_'~accessionCount~'_'~partCount~'_'~blockCount~'_'~slideCount~'_'~0~'_'~0 %}
                                                <div id="formpanel_slide_{{ uid }}" class="panel panel-slide panel-multi-form">
                                                    {{ formmacros.orderinfo_panel_header(
                                                    slide,'slide', datastructure, type, formtype, slideCount, uid,
                                                    patientCount, encounterCount, procedureCount, accessionCount, partCount, blockCount, slideCount, 0, 0)
                                                    }}

                                                    <div id="form_body_slide_{{ uid }}" class="panel-body collapse in">

                                                        {{ formmacros.slideForm( slide, datastructure, uid, type ) }}

                                                    </div>
                                                </div> {#end of slide#}
                                                {% set slideCount = slideCount + 1 %}
                                            {% endfor %}



                                        </div>
                                    </div> {#end of part#}
                                    {% set partCount = partCount + 1 %}
                                {% endfor %}

                                {% if datastructure and datastructure == "datastructure" %}
                                        </div>
                                    </div> {#end of accession#}
                                {% endif %}
                                {% set accessionCount = accessionCount + 1 %}
                            {% endfor %}


                            {% if datastructure and datastructure == "datastructure" %}
                                    </div>
                                </div> {#end of procedure#}
                            {% endif %}
                            {% set procedureCount = procedureCount + 1 %}
                        {% endfor %} {# procedure loop #}

                        </div>
                    </div>{#end of encounter #}
                    {% set encounterCount = encounterCount + 1 %}
                {% endfor %} {# encounter loop #}


            </div>{# end of form_body_patient_ #}

        </div> {#end of patient #}

        {#{% set patientCount = patientCount + 1 %}#}
    {#{% endfor %} &#123;&#35; patient loop &#35;&#125;#}


{% endmacro %}











{% macro displayPatient_New( patient, patientCount, status, datastructure, type, formtype ) %}

    {% import _self as patientmacros %}

    {% set objects = [
            {'object':'patient','display':'show','count':0},
            {'object':'encounter','display':'show','count':0},
            {'object':'procedure','display':'show','count':0},
            {'object':'accession','display':'show','count':0},
            {'object':'part','display':'show','count':0},
            {'object':'block','display':'show','count':0},
            {'object':'slide','display':'show','count':0}
        ]
    %}


    {#{% set objects = [#}
            {#{'object':'patient','display':'show','count':0},#}
            {#{'object':'encounter','display':'show','count':0},#}
            {#{'object':'part','display':'show','count':0},#}
            {#{'object':'block','display':'show','count':0},#}
            {#{'object':'slide','display':'show','count':0}#}
        {#]#}
    {#%}#}

    {#start index: 0 means start with patient#}
    {% set startIndex = 0 %}

    {{  patientmacros.displayObjectRecursive( patient, objects, startIndex, status, datastructure, type, formtype ) }}

{% endmacro %}


{% macro displayObjectRecursive( formObject, objects, index, startCount, status, datastructure, type, formtype ) %}

    {% import _self as patientmacros %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {#{% set uid = "" %}#}
    {% set uidArr = [] %}
    {% for object in objects %}
        {#object={{ object['object'] }}#}
        {#{% set uid = uid ~ "_" ~ object['count'] %}#}
        {% set uidArr = uidArr|merge([object['count']]) %}
    {% endfor %}

    {% set uid = uidArr|join('_') %}

    uid:{{ uid }}

    {% set object = objects[index] %}

    {#              patient          encounter   procedure     accession          part          block           slide           scan            stain   #}
    {#{% set uid = object['count'] ~  '_' ~0~   '_'   ~0~   '_'     ~0~     '_'     ~0~     '_'     ~0~     '_'     ~0~     '_'     ~0~     '_'     ~0 %}#}


    {#panel#}
    <div id="formpanel_patient_{{ uid }}" class="panel panel-patient panel-multi-form">

        {#header#}
        {{ formmacros.orderinfo_panel_header_object(formObject,object,objects,datastructure,type,formtype,uidArr) }}

        {#body#}
        <div id="form_body_patient_{{ uid }}" class="panel-body collapse in">

            {#object form#}
            {{ patientmacros.callObjectForm( object,formObject,datastructure,uid,type,status ) }}

            {#children#}
            {{ patientmacros.callObjectChildren( formObject, objects, index, status, datastructure, type, formtype ) }}

        </div>
        {#body#}

        </div>
        {#header#}

    </div>
    {#panel#}

{% endmacro %}


{% macro callObjectChildren( formObject, objects, index, status, datastructure, type, formtype ) %}

    {% import _self as patientmacros %}

    {% set object = objects[index] %}
    {% set objectName = object['object'] %}

    {% if objectName == 'patient' %}
        {% for child in formObject.encounter %}
            {{  patientmacros.displayObjectRecursive( child, objects, index+1, status, datastructure, type, formtype ) }}
        {% endfor %}
    {% endif %}

    {% if objectName == 'encounter' %}
        {% for child in formObject.procedure %}
            {{  patientmacros.displayObjectRecursive( child, objects, index+1, status, datastructure, type, formtype ) }}
        {% endfor %}
    {% endif %}

    {% if objectName == 'procedure' %}
        {#{% for child in formObject.accession %}#}
            {#{{  patientmacros.displayObjectRecursive( child, objects, index+1, status, datastructure, type, formtype ) }}#}
        {#{% endfor %}#}
    {% endif %}

    {% if objectName == 'accession' %}
        {#{% for child in formObject.part %}#}
            {#{{  patientmacros.displayObjectRecursive( child, objects, index+1, status, datastructure, type, formtype ) }}#}
        {#{% endfor %}#}
    {% endif %}

    {% if objectName == 'part' %}
        {% for child in formObject.block %}
            {{  patientmacros.displayObjectRecursive( child, objects, index+1, status, datastructure, type, formtype ) }}
        {% endfor %}
    {% endif %}

    {% if objectName == 'block' %}
        {% for child in formObject.slide %}
            {{  patientmacros.displayObjectRecursive( child, objects, index+1, status, datastructure, type, formtype ) }}
        {% endfor %}
    {% endif %}


{% endmacro %}

{% macro callObjectForm( object,formObject,datastructure,uid,type,status ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% set objectName = object['object'] %}

    {% if objectName == 'patient' %}
        {{ formmacros.patientForm(formObject,datastructure,uid,type,status) }}
    {% endif %}

    {% if objectName == 'encounter' %}
        {#{{ formmacros.accessionForm(formObject,datastructure,uid,type,status) }}#}

        {% set procedure = formObject.procedure|first %}
        {% set accession = procedure.accession|first %}

        {{ formmacros.accessionForm(formObject,procedure,accession,datastructure,uid,type,status) }}

    {% endif %}

    {% if objectName == 'procedure' %}
        {#{{ formmacros.accessionForm(formObject,datastructure,uid,type,status) }}#}
    {% endif %}

    {% if objectName == 'accession' %}
        {#{{ formmacros.accessionForm(formObject,datastructure,uid,type,status) }}#}
        {#{{ formmacros.accessionForm(encounter,procedure,formObject,datastructure,uid,type,status) }}#}
    {% endif %}

    {% if objectName == 'part' %}
        {{ formmacros.partForm(encounter,procedure,formObject,datastructure,uid,type,status) }}
    {% endif %}

    {% if objectName == 'block' %}
        {{ formmacros.blockForm(formObject,datastructure,uid,type,status) }}
    {% endif %}

    {% if objectName == 'slide' %}
        {{ formmacros.slideForm(formObject,datastructure,uid,type,status) }}
    {% endif %}

{% endmacro %}