{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

<!DOCTYPE html>

<html>

<head>

    {#{% stylesheets#}
        {#'bundles/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
        {#'bundles/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
        {#'bundles/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />

    {#{% stylesheets#}
        {#'bundles/appuserdirectory/datepicker/css/bootstrap-datepicker3.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/css/bootstrap-datepicker3.css') }}" />

    {#http://www.telegraphicsinc.com/2013/10/using-bootstrap-3-with-internet-explorer-8-ie8/#}
    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/css3-mediaqueries.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/css3-mediaqueries.js') }}"></script>

    {#<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#<!--[if lt IE 9]>#}
    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/html5shiv.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/respond.min.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {#<![endif]-->#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/html5shiv.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/respond.min.js') }}"></script>



    <title>{{ title }}</title>

    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" type="image/x-icon" href="{{ asset('glyphicons-157-show-thumbnails.png') }}" />

</head>

<body>


    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}

    <div class="container text-center">

        {#<input type="hidden" id="tenantprefix" value="{{tenantprefix}}" />#}
        {#<input type="hidden" id="tenantprefix" value="{{ app.request.locale }}" />#}
        <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />
        <input type="hidden" id="formcycle" value="accountreq" />
        <input type="hidden" id="orderformtype" value="single" />

        <h2 class="alert alert-info well-lg safary-fix" align="center">{{ title }}</h2>

        <br>

        {#<form id="accountrequestform" action="{{ path(sitename~'_accountrequest_create') }}" method="post">#}
        {{ form_start(form, { 'action': path(sitename~'_accountrequest_create'), 'method': 'POST', 'attr': {'id': 'accountrequestform'} }) }}

            {{ form_errors(form) }}

            {{ formmacros.field(form.siteName) }}

            {#TODO: fix this field (select is not enabled?)#}
            {#<label for="cars">Choose a car:</label>#}
            {#<select name="cars" id="cars" class="combobox">#}
                {#<option value="volvo">Volvo</option>#}
                {#<option value="saab">Saab</option>#}
                {#<option value="mercedes">Mercedes</option>#}
                {#<option value="audi">Audi</option>#}
            {#</select>#}
            {{ formmacros.field(form.systemAccountRequest) }}

            <p>
                <div class="row">
                    <div class="col-xs-6" align="right">
                        <b>
                            {{ user_security_utility.getSiteSettingParameter('noticeHasLdapAccount')|raw }}:
                        </b>
                    </div>
                    <div class="col-xs-6" align="left">
                        {{ form_widget(form.hascwid) }}
                    </div>
                </div>
            </p>

            {#usernametype#}
            <div id="usernametypeid_show_holder" class="collapse">
                <div class="well" align='center'>
                    <div class="row">
                        <div class="col-xs-6" align="right">
                            <label>Account Type:</label>
                        </div>
                        <div class="col-xs-6" align="left">
                            <select id="usernametypeid_show" class="combobox limit-font-size" name="_usernametype">
                                {% for  usernametype in usernametypes %}
                                    {% if user_type is defined and usernametype.name == user_type %}
                                        {% set selected = 'selected="selected"' %}
                                    {% else %}
                                        {% set selected = '' %}
                                    {% endif %}
                                    <option value="{{ usernametype.abbreviation }}" {{ selected }}>{{ usernametype.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            {#{{ formmacros.field(form.cwid) }}#}
            <p>
            <div class="row">
                <div class="col-xs-6" align="right">
                    <b>
                        {{ user_security_utility.getSiteSettingParameter('noticeLdapName')|raw }}:
                    </b>
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.cwid) }}
                </div>
            </div>
            </p>

            <div id="password_field" class="collapse">
                <div class="well" align='center'>
                    {{ formmacros.field(form.password) }}
                </div>
            </div>

            {{ formmacros.field(form.firstName) }}
            {{ formmacros.field(form.name) }}

            {{ formmacros.field(form.email) }}

            {{ formmacros.field(form.phone) }}
            {{ formmacros.field(form.mobilePhone) }}


            {{ formmacros.field(form.job) }}

            {% if form.requestedInstitutionalPHIScope is defined %}
                {{ formmacros.field(form.requestedInstitutionalPHIScope) }}
            {% endif %}

            {% if form.requestedScanOrderInstitutionScope is defined %}
                {#{{ treemacros.compositeTreeNode(form.requestedScanOrderInstitutionScope,'','') }}#}
                {{ formmacros.field(form.requestedScanOrderInstitutionScope) }}
            {% endif %}

            {#{{ formmacros.field(form.institution) }}#}
            {#{{ formmacros.field(form.department) }}#}
            {#{{ formmacros.field(form.services) }}#}

            {{ formmacros.field(form.request) }}
            {{ formmacros.field(form.similaruser) }}

            <p style="padding-top:3px;">
            <div class="row">
                <div class="col-xs-6" align="right">
                    <label>
                        For reference, please provide the name and contact information of your supervisor or of the person who can confirm the validity of your request below.
                    </label>
                </div>
                <div class="col-xs-6" align="left">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.referencename) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.referencename) }}
                </div>
            </div>
            </p>
            {#{{ formmacros.field(form.referencename) }}#}

            {{ formmacros.field(form.referenceemail) }}
            {{ formmacros.field(form.referencephone) }}

            {% if form.creationdate is defined %}
                {% do form.creationdate.setRendered %}
            {% endif %}

            {#{{ form_rest(form) }}#}
            {{ form_widget(form._token) }}


            <br>
            <p>
                <button class="btn btn-info" type="button" onclick="submitRequestForm()">Submit</button>
            </p>

            <br>
            <p>
                <a href="{{ path(employees_sitename~'_login') }}">Return to Log In page</a>
            </p>

        {#</form>#}
        {{ form_end(form) }}

        {#dummy login form with style="display:none"#}
        {#<form id="loginform" action="{{ path(employees_sitename~'_login_check') }}" method="post" style="display:none">#}
        {#<form id="login-form" class="form-signin" method="post">#}
        {#<form id="login-form" class="form-signin" action="{{ path(sitename~'_login') }}" method="post">#}
        {#<form id="loginform" action="{{ path(employees_sitename~'_login_check') }}" method="post" style="display:none">#}
        <form id="loginform" action="{{ path(sitename~'_login') }}" method="post" style="display:none">
            <input type="hidden" name="display_height" id="display_height" value="" />
            <input type="hidden" name="display_width" id="display_width" value="" />

            <input type="text" name="_csrf_token" id="csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="text" name="_sitename" id="sitename" value="{{ sitename }}" />
            <input type="text" name="_usernametype" id="usernametype" value="{{ sitename }}" />

            <input type="text" id="username" name="_username" value="" class="form-control" placeholder="Username" autofocus>
            <input type="text" id="password" name="_password" class="form-control" placeholder="Password">
        </form>

        {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

    </div> <!-- /container -->

    <!-- send width and height info to the server -->
    {#{% javascripts#}
        {#'@AppUserdirectoryBundle/Resources/public/form/js/errorwatch.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
        {#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/q-1/q.js'#}
		{##}
		{#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}

        {#'@AppUserdirectoryBundle/Resources/public/form/js/user-selectAjax.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/form/js/user-treeSelectAjax.js'#}

        {#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
        {#'@AppOrderformBundle/Resources/public/form/js/selectAjax.js'#}
        {#'@AppOrderformBundle/Resources/public/form/js/form.js'#}
        {#'@AppOrderformBundle/Resources/public/form/js/commonCheckForm.js'#}
		{##}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/errorwatch.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>

    {#FOSJsRoutingBundle#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {#<script>#}
        {#_REQUEST_LOCALE = '{{ app.request.locale }}';#}
        {#//console.log('_REQUEST_LOCALE='+_REQUEST_LOCALE);#}
    {#</script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-router-locale-fix.js') }}"></script>#}
    {#EOF FOSJsRoutingBundle#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
    {#<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-treeSelectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/form.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/commonCheckForm.js') }}"></script>

    {#FOSJsRoutingBundle#}
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}


    <script language="Javascript">

        $(document).ready(function() {

            _ajaxTimeout = 60000;

            regularCombobox();
            //$('select.combobox').select2();

            customCombobox();
            fieldInputMask();
            expandTextarea();
            initConvertEnterToTab();

            getComboboxCompositetree();

            initHasCwidField();

            $('.cwid').val('');

            $(".hascwid").find('input:radio').on('change', function () {
                var checkedValue = $(this).val();
                //console.log("checkedValue="+checkedValue);

//                if (checkedValue == "Yes") {
//                    //$("#oleg_userdirectorybundle_userrequesttype_cwid").prop('disabled', false);
//                    $("#oleg_userdirectorybundle_userrequesttype_cwid").parent().parent().show();
//                    //disable all fields, except some
//                    var allInputs = $(":input").not('.hascwid, .cwid-password, .cwid, :button, :radio, #username, #password, #usernametypeid_show, #usernametype, #sitename, #csrf_token');
//                    allInputs.prop('disabled', true);
//                    $('#password_field').show();
//                    $('#usernametypeid_show_holder').show();
//                } else {
//                    $('.cwid').val('');
//                    $(":input").prop('disabled', false);
//                    //$("#oleg_userdirectorybundle_userrequesttype_cwid").prop('disabled', true);
//                    $("#oleg_userdirectorybundle_userrequesttype_cwid").parent().parent().hide();
//                    $('#password_field').hide();
//                    $('#usernametypeid_show_holder').hide();
//                }
                changeHasCwidField(checkedValue);

            });


        });

        function initHasCwidField() {
            var checkedValue = $("#accountrequestform input[type='radio']:checked").val();
            //console.log('checkedValue='+checkedValue);
            changeHasCwidField(checkedValue);
        }
        function changeHasCwidField( checkedValue ) {
            if (checkedValue == "Yes") {
                //$("#oleg_userdirectorybundle_userrequesttype_cwid").prop('disabled', false);
                $("#oleg_userdirectorybundle_userrequesttype_cwid").parent().parent().show();
                //disable all fields, except some
                var allInputs = $(":input").not('.hascwid, .cwid-password, .cwid, :button, :radio, #username, #password, #usernametypeid_show, #usernametype, #sitename, #csrf_token');
                allInputs.prop('disabled', true);
                $('#password_field').show();
                $('#usernametypeid_show_holder').show();
            } else {
                $('.cwid').val('');
                $(":input").prop('disabled', false);
                //$("#oleg_userdirectorybundle_userrequesttype_cwid").prop('disabled', true);
                $("#oleg_userdirectorybundle_userrequesttype_cwid").parent().parent().hide();
                $('#password_field').hide();
                $('#usernametypeid_show_holder').hide();
            }
        }

        function submitRequestForm() {

            var checkedValue = $("#accountrequestform input[type='radio']:checked").val();
            //console.log('checkedValue='+checkedValue);

            if( checkedValue == "Yes" ) {
                //console.log('checkedValue Yes');
                //copy fields
                var cwid = $('.cwid').val();
                //add usertype
                var usertypeAbbreviation = $('#usernametypeid_show').select2('val');
                if( !usertypeAbbreviation || usertypeAbbreviation == "" || usertypeAbbreviation === null || typeof usertypeAbbreviation === 'object' ) {
                    usertypeAbbreviation = 'ldap-user';
                }
                //console.log(usertypeAbbreviation);
                //alert(usertypeAbbreviation);
                var fullusername = cwid + "_@_" + usertypeAbbreviation;
                $('#username').val(fullusername);

                var pwd = $('.cwid-password').val();
                $('#password').val(pwd);

                //usernametype
                $('#usernametype').val(usertypeAbbreviation);

                //sitename
                //$('#sitename').val('crn');

                //csrf_token
                //$('#csrf_token').val('12345678');

                $("#display_height").value = screen.height;
                $("#display_width").value = screen.width;

                //alert(usertypeAbbreviation);

                $('#loginform').submit();

            } else {
                //console.log('checkedValue No');
                $('#accountrequestform').submit();

            }

        }

    </script>


</body>

</html>

