{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}
{#{% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}#}
{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% elseif sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% elseif sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% elseif sitename == 'translationalresearch' %}
    {% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'dashboard' %}
    {% set extendStr = "AppDashboardBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as myform %}

{% block title %}
    Account Requests
{% endblock %}

{% block additionaljs %}

    <script language="Javascript">

        $(document).ready(function() {

            //initial update confirm message
            $('.username:not(:disabled)').each( function() {
                updateConfirm( $(this) );
            });

            //update confirm message after changes
            $('.username, .combobox').change(function(){
                updateConfirm( $(this) );
            });

            //requestedInstitutionScope
            const select2Data = {{ orggroups|json_encode|raw }};
            console.log(select2Data);
            $('.requestedInstitutionScope-select2').select2({
                placeholder: 'Select or add a value',
                createSearchChoice: function (term, data) {
                    if ($(data).filter(function () {
                                return this.text.localeCompare(term) === 0;
                            }).length === 0) {
                        return { id: term, text: term };
                    }
                },
                data: select2Data
            });

        });

        //formInputEl: any element inside the form
        function updateConfirm( formInputEl ) {
            var formEl = formInputEl.closest('.order-urgent-status');
            //console.log(formEl);

//            var selections = formEl.find(".combobox-institution").select2("data");
//            var selectionsStr = "";
//            for( var i = 0; i < selections.length; i++ )  {
//
//                var delimeter = "";
//                if( selectionsStr != "" )
//                    delimeter = ", "
//                selectionsStr = selectionsStr + delimeter + selections[i].text;
//            }
            //var groupInstStr = formEl.find("#requestedScanOrderInstitutionScope").text();
            var groupInst = formEl.find(".combobox-institution").select2("data");
            var groupInstStr = null;
            if( groupInst ) {
                groupInstStr = groupInst.text;
            }

            var username = formEl.find('.username').val();

            var confirmMessage = "Are you sure you want to Approve the user with username: " + username + " with Instituion(s): " + groupInstStr + "?";

            //console.log('confirmMessage='+confirmMessage);

            var approvedLink = formEl.find('.btn-group').find('.approve-action');
            //console.log(approvedLink);

            /////////////////// validate if username and institutions are not empty ///////////////////
            var errorMsg = "";
            if( username == "" ) {
                errorMsg = "External Authentication User Name is empty";
            }
//            if( selections.length == 0 ) {
//                var separator = "";
//                if( errorMsg != "" ) {
//                    separator = ", ";
//                }
//                errorMsg = errorMsg + separator + "organizational group is empty";
//            }
            if( !groupInstStr ) {
                var separator = "";
                if( errorMsg != "" ) {
                    separator = ", ";
                }
                errorMsg = errorMsg + separator + "Organizational Group is empty";
            }
            //console.log('errorMsg='+errorMsg);
            if( errorMsg != "" ) {
                errorMsg = "This request can not be approved: "+errorMsg;
                approvedLink.attr("data-confirm", errorMsg);
                approvedLink.attr("data-ok", "hideOkButton");
            } else {
                approvedLink.attr("data-confirm", confirmMessage);
                approvedLink.attr("data-ok", "OK");
            }

        }

        function approveUserRequest(index) {
            $('#userrequestform-'+index).submit();
        }

    </script>

{% endblock %}

{% block content %}

    <h3 class="text-info">Account Requests</h3>

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(entities, 'Account Request ID', 'accreq.id') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Date', 'accreq.creationdate') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Request Status', 'accreq.status') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'System', 'systemAccountRequest.name') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'CWID', 'accreq.cwid') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Has CWID', 'accreq.cwid') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'First Name', 'accreq.firstName') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Last Name', 'accreq.name') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Email', 'accreq.email') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Phone Number', 'accreq.phone') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Mobile Phone Number', 'accreq.mobilePhone') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Title', 'accreq.job') }}</th>
                {#<th class="col-xs-2" style="width:auto;">{{ knp_pagination_sortable(entities, 'Organizational Group', 'accreq.requestedScanOrderInstitutionScope') }}</th>#}
                <th class="col-xs-2" style="width:auto;">{{ knp_pagination_sortable(entities, 'Organizational Group', 'accreq.requestedInstitutionScope') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Department', 'accreq.department') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Service(s)', 'services.name') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Reason for Account Request', 'accreq.request') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Access Permissions Similar User', 'accreq.similaruser') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Reference Name', 'accreq.referencename') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Reference Email', 'accreq.referenceemail') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Reference Phone Number', 'accreq.referencephone') }}</th>
                {% if sitename == scan_sitename %}
                    <th>{{ knp_pagination_sortable(entities, 'External Authentication User Name', 'accreq.username') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(entities, 'Roles', 'accreq.roles') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            {#<form id="userrequestform-{{ loop.index0 }}" action="{{ path(sitename~'_accountrequest_approve') }}" method="post">#}
            {{ form_start(forms[loop.index0], {'action': path(sitename~'_accountrequest_approve'), 'method': 'POST', 'attr': {'id': "userrequestform-"~loop.index0}}) }}

            {{ form_widget(forms[loop.index0].id) }}

            {% if entity.status == 'active' %}
                <tr class="order-urgent-status" >
            {% elseif entity.status == 'declined' %}
                <tr class="order-neutral-status" >
            {% elseif entity.status == 'approved' %}
                <tr>
            {% elseif entity.status == 'uncompleted' %}
                <tr class="order-someattention-status" >
            {% else %}
                <tr>
            {% endif %}
                {#<td><a href="{{ path('accountrequest_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>
                    {{ entity.id }}
                </td>
                <td>{{ entity.creationdate|date('m/d/Y H:i') }}</td>
                <td>{{ entity.status|capitalize }}</td>
                <td>{{ entity.systemAccountRequest }}</td>
                <td>{{ entity.cwid }}</td>
                <td>{{ entity.hascwid }}</td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phone }}</td>
                <td>
                    {{ entity.mobilePhone }}
                    <br>
                    {% if entity.mobilePhoneVerified %}
                        <span class="text-success">Verified</span>
                    {% else %}
                        <span class="text-danger">Unverified</span>
                    {% endif %}
                </td>
                <td>{{ entity.job }}</td>

                <td>
                    {#{{ form_widget(forms[loop.index0].requestedInstitutionalPHIScope) }}#}
                    {#{{ entity.institution }}#}
                    {#{{ treemacros.compositeTreeNode(form.requestedScanOrderInstitutionScope,'','') }}#}
                    {#<div id="requestedScanOrderInstitutionScope">{{ entity.requestedScanOrderInstitutionScope.getNodeNameWithRoot }}</div>#}
                    {#{{ form_widget(forms[loop.index0].requestedScanOrderInstitutionScope) }}#}
                    {#{{ form_widget(forms[loop.index0].requestedInstitutionScope) }}#}
                    {{ entity.requestedInstitutionScope }}
                </td>

                {#<td>{{ entity.department }}</td>#}
                {#<td>#}
                    {#{% for services in entity.services %}#}
                        {#"{{ services }}"#}
                    {#{% endfor %}#}
                {#</td>#}
                <td>
                    {#<textarea readonly class="textarea form-control">#}
                        {#{{- entity.request }}#}
                    {#</textarea>#}
                    {{ entity.request }}
                </td>
                <td>{{ entity.similaruser }}</td>
                <td>{{ entity.referencename }}</td>
                <td>{{ entity.referenceemail }}</td>
                <td>{{ entity.referencephone }}</td>

                {% if sitename == scan_sitename %}
                    <td>
                        {{ form_widget(forms[loop.index0].username) }}
                    </td>
                {% endif %}

                <td>
                    {{ form_widget(forms[loop.index0].roles) }}
                </td>

                <td>
                    {% if entity.status == 'active' %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a data-confirm="Are you sure you want to Decline?"
                                       href="{{ path(sitename~'_accountrequest_status', { 'id': entity.id, 'status': 'declined' }) }}">Decline</a>
                                </li>
                                <li>
                                    <a
                                       class="approve-action"
                                       data-confirm="Are you sure you want to Approve?"
                                       href="javascript:approveUserRequest( {{loop.index0}} )">Approve
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
            {#</form>#}
            {{ form_end(forms[loop.index0]) }}
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        
    {% endblock %}
