{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="orderformtype" value="transres" />
    <input type="hidden" id="formtype" value="{{ formtype }}" />
    <input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />

    <input type="hidden" id="entityNamespace" value="{{ entityNamespace }}" />
    <input type="hidden" id="entityName" value="{{ entityName }}" />
    <input type="hidden" id="entityId" value="{{ entityId }}" />

    <input type="hidden" id="formnodetrigger" value="{{ formnodetrigger }}" />
    <input type="hidden" id="formnodeTopHolderId" value="{{ formnodeTopHolderId }}" />

    <input type="hidden" id="projectOriginalState" value="{{ transres_util.getStateLabelByProject(project) }}" />
    <input type="hidden" id="projectOriginalStateValue" value="{{ project.getState() }}" />

    <input type="hidden" id="projectOriginalExpDateStr" value="{{ project.getExpectedExpirationDateStr() }}" />

    <div id="add-new-user-modal-prototype"></div>

    {% set messageToUsers = transres_util.getTrpMessageToUsers(project) %}
    {% if messageToUsers is defined and messageToUsers %}
        <h5 class="alert alert-danger well-lg safary-fix" align="center">
            {{ messageToUsers|raw }}
        </h5>
    {% endif %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    {% if approvedProjectBudgetInfo is not defined %}
        {% set approvedProjectBudgetInfo = "" %}
    {% endif %}
    <p>
        {{ approvedProjectBudgetInfo }}
    </p>

    <p>
        <i>
            Please make sure to update your Project Request prior leaving this page.
        </i>
    </p>

    {% set sitename = translationalresearch_sitename %}

    {#{{ transres.projectHeader(project) }}#}

    {% set simpleProjectClosure = transres_util.getTransresSiteProjectParameter('sendProjectReactivationRequest',project) %}
    {#{% set simpleProjectClosure = false %}#}
    {% if simpleProjectClosure %}
        {#Presence of this div element with id="project-change-state-data" will indicate to use reactivation approval logic#}
        <div
                id="project-change-state-data"
                style="display: none;"
                trp-closure-data-confirm="{{ project.id }}"
                trp-closure-title-data="Are you sure you would like to change the status of this project from 'Closed' to 'Approved'?"
                trp-closure-note-data="Your request to change the status will be sent to the designated reviewer for approval and the status will be changed once approved."
                trp-closure-routename-data="translationalresearch_project_approve"
                trp-closure-reason-title-data="Reason for project reactivation:"
        ></div>
    {% endif %}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {#{{ form_start(edit_form) }}#}
    {#{{ form_start(edit_form,{'attr':{'id':'transresProjectForm', 'onsubmit':'transresValidateProjectForm();'}}) }}#}
    {{ form_start(edit_form,{'attr':{'onsubmit':'return transresValidateProjectForm();', novalidate: 'novalidate'}}) }}

        {{ transres.getProjectReviewPrototypeFormData(edit_form,cycle,sitename) }}

        {{ transres.projectHeaders(edit_form,project,cycle) }}

        {{ transres.projectRequesters(edit_form,project,cycle) }}

        {{ transres.projectBodyFormFields(edit_form,project,cycle) }}

        {{ transres.projectInfo(edit_form,project,cycle) }}

        {{ transres.projectReviews(edit_form,cycle,sitename,1) }}

        <br>

        {% if edit_form.saveAsDraft is defined %}
            {{ form_widget(edit_form.saveAsDraft) }}
        {% endif %}
        {#{% if edit_form.saveAsComplete is defined %}#}
            {#{{ form_widget(edit_form.saveAsComplete) }}#}
        {#{% endif %}#}

        {#{% set showComment = false %}#}
        {% if edit_form.submitIrbReview is defined %}
            {#{% set showComment = true %}#}
            {{ form_widget(edit_form.submitIrbReview) }}
        {% endif %}

        {% if edit_form.reSubmitReview is defined %}
            {#{% set showComment = true %}#}
            {#comment:<br>#}
            {#transres-Project-3371-irb_review#}
            {#{% set threadId = "transres-" ~ project.getEntityName() ~ "-" ~ project.id ~ "-" ~ "irb_review" %}#}
            {% set threadId = transres_util.getProjectThreadIdByCurrentState(project) %}
            {#threadId={{ threadId }}<br>#}
            {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': threadId} %}#}

            <div class="well">
                {{ form_widget(edit_form.reSubmitReview) }}
                <br>

                {#{{ formmacros.field(edit_form.reSubmitReviewComment) }}#}
                <p>
                {{ form_row(edit_form.reSubmitReviewComment) }}
                </p>

                <hr>
                {#All previous comments:<br>#}
                {#{{ transres_util.getReviewComments(project)|raw }}#}
                {#<br>#}
                {#{{ render(controller(#}
                        {#'App\\TranslationalResearchBundle\\Controller\\ProjectController::threadCommentsShowAction',#}
                        {#{ 'id': threadId }#}
                    {#))#}
                {#}}#}
                {#edit.html threadId={{ threadId }}<br>#}
                {{ render(controller(
                    'App\\UtilBundles\\FOSCommentBundle\\Controller\\CommentThreadController::threadCommentsShowAction',
                    { 'id': threadId, 'newcomment': false }
                )) }}
                {#<hr>#}
            </div>
        {% endif %}

        {% if edit_form.updateProject is defined %}
            {{ form_widget(edit_form.updateProject) }}
        {% endif %}

        <div id="please-wait" style="display: none;">Please Wait ...</div>

    {{ form_end(edit_form) }}

    {#{% if showComment %}#}
        {#{% set reviewState = transres_util.getReviewClassNameByState(project.getState(),false) %}#}
        {#{% set threadId = "transres-" ~ project.getEntityName() ~ "-" ~ project.id ~ "-" ~ reviewState %}#}
        {#threadId={{ threadId }}<br>#}
        {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': threadId} %}#}
    {#{% endif %}#}

    <br>

    <div id="projectError" class="alert alert-danger" style="display: none;"></div>

    {#{% if simpleProjectClosure %}#}
        {#Presence of this div element with id="project-change-state-data" will indicate to use reactivation approval logic#}
        {#<div#}
            {#id="project-change-state-data"#}
            {#style="display: none;"#}
            {#trp-closure-data-confirm="{{ project.id }}"#}
            {#trp-closure-title-data="Are you sure you would like to change the status of this project from 'Closed' to 'Approved'?"#}
            {#trp-closure-note-data="Your request to change the status will be sent to the designated reviewer for approval and the status will be changed once approved."#}
            {#trp-closure-routename-data="translationalresearch_project_approve"#}
            {#trp-closure-reason-title-data="Reason for project reactivation:"#}
        {#></div>#}
    {#{% endif %}#}

    <br>
    <p>
        <a class="btn btn-default" href="{{ path(translationalresearch_sitename~'_project_show',{ 'id': project.id }) }}">Cancel</a>
    </p>
    <br>
    <p>
        <a href="{{ path(translationalresearch_sitename~'_project_index') }}">Back to the list</a>
    </p>
    {#{{ form_start(delete_form) }}#}
        {#<input class="btn btn-danger" type="submit" value="Delete">#}
    {#{{ form_end(delete_form) }}#}

{% endblock %}

{#{% block additionaljs %}#}
    {#{% javascripts#}
    {#'@AppTranslationalResearchBundle/Resources/public/form/js/transres.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#<script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres-project-change-state.js') }}"></script>#}
{#{% endblock %}#}

{% block javascripts %}
    {#import using webpack transres.js (assets/transres/js/index.jsx)#}
    {{ encore_entry_script_tags('transresjs-edit') }}
    {#{{ encore_entry_script_tags('transresjs') }}#}
{% endblock %}
