{#{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}#}

{#{% block title %}#}
    {#{{ title }}#}
{#{% endblock %}#}


{#transres-reqprojectgoals should correspond to the form 'prototype_name' => '__projectgoals__',#}

{% block content %}
    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

    {% if formProjectGoal is defined and formProjectGoal %}
        {{ form_start(formProjectGoal) }}
            <div id="form-prototype-data2"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
                 data-userid = "{{ app.user.id }}"
                    {#{% if form %}#}
                        {% if formProjectGoal.projectGoals is defined %}
                            data-prototype-transres-reqprojectgoals = "{{ transres.projectSingleGoal(formProjectGoal.projectGoals,null,cycle,'transres-reqprojectgoals','prototype',translationalresearch_sitename,1)|e }}"
                        {% endif %}
                    {#{% endif %}#}
            ></div>
            {{ transres.showExistingProjectGoalSection(formProjectGoal,workRequestId,project,cycle) }}
        {{ form_end(formProjectGoal) }}
        {#{{ form_end(form, {'render_rest': false}) }}#}
    {% endif %}
{% endblock %}


{% block additionaljs %}
    <script type="text/javascript">
        $(document).ready(function() {
            //Disable all existing fields. Enable only new fields.
            console.log('goal: disable all existing fields');
            //'input, textarea, select'
            var formcycle = $('#formcycle').val();
            if( formcycle == 'show' ) {
                //disable all fields
                $('#panel-projectIncludeGoals').find('input, textarea, select').attr('disabled','disabled');
            } else {
                //disable all except checkbox 'input'
                $('#panel-projectIncludeGoals').find('textarea, select').attr('disabled','disabled');
            }
        });
        function updateProjectIncludeGoals() {
            console.log('updateProjectIncludeGoals');

            var projectGoalData = [];

            //One from associated project section, one from projectGoal
            $('#projectGoalSection').find('.transres-reqprojectgoals').each(function() {
                var projectGoalId = $(this).find('.projectgoals-id').attr('id');
                var description = $(this).find('.projectgoal-description').val();
                var projectGoalEntityId = $(this).find('.projectgoals-id').val();//projectgoals-id
                var associated = 0;
                if( $(this).find('.projectgoal-workrequest-associated').is(':checked') ) {
                    associated = 1;
                }
                console.log('Each: projectGoalId='+projectGoalId+', description='+description+', projectGoalEntityId='+projectGoalEntityId+', associated='+associated);
                projectGoalData.push(
                        {
                            'id': projectGoalId,
                            'projectGoalEntityId': projectGoalEntityId,
                            'description': description,
                            'associated': associated
                        }
                );
            });

            var projectField = $('#oleg_translationalresearchbundle_request_project');

            var projectId = null;
            if( projectField && projectField.length ) {
                projectId = projectField.val();
            } else {
                projectId = $('#oleg_translationalresearchbundle_request_project').val();
            }
            //console.log("1 transresRecalculateRemaniningBudget: projectId="+projectId);

            if( projectId == null || typeof projectId === "undefined" ) {
                projectId = $('#oleg_translationalresearchbundle_projectgoal_id').val();
            }
            //console.log("2 transresRecalculateRemaniningBudget: projectId="+projectId);

            if( projectId == null || typeof projectId === "undefined" ) {
                console.log("transresRecalculateRemaniningBudget: projectId is NULL");
                return;
            }

            //Get work request id
            var workrequestId = $('#workrequest-id').val();

            $('#project-goals-feedback').hide();
            $('#project-goals-feedback').html("");

            var url = Routing.generate('translationalresearch_add_project_goals_ajax', {id: projectId});
            $.ajax({
                url: url,
                timeout: _ajaxTimeout,
                type: "POST",
                data: {projectId: projectId, workrequestId: workrequestId, projectGoals: projectGoalData},
                dataType: 'json',
                async: asyncflag
            }).success(function (response) {
                //console.log('response=', response);
                //$('#panel-projectFullInfo').html(response);
                //parse response[0]['result'] to remove non added projectGoal, disable added project goals.
                response.forEach(function(item){
                    var error = item['error'];
                    var sectionId = item['id'];
                    var message = item['message'];
                    var projectGoalEntityId = item['projectGoalEntityId'];
                    if( error == 0 ) {
                        //$("#"+sectionId).prop('disabled', true);
                        $("#"+sectionId).closest('.transres-reqprojectgoals').find('textarea, select').attr('disabled','disabled');
                        $("#"+sectionId).closest('.transres-reqprojectgoals').find('.btn').remove();

//                        $('#project-goals-feedback').show();
//                        $('#project-goals-feedback').append('<p>'+message+'</p>');
                    } else {
                        //remove parent with class 'transres-projectgoals'
                        $("#"+sectionId).closest('.transres-reqprojectgoals').remove();
                        //$("#"+sectionId).remove();
                    }
                    $('#project-goals-feedback').show();
                    $('#project-goals-feedback').append('<p>'+message+'</p>');
                });
//                        $('#project-goals-feedback').show();
//                        $('#project-goals-feedback').append('<p>'+message+'</p>');

//                $('#project-goals-feedback').show();
//                $('#project-goals-feedback').html(response[0]['message']);
            }).done(function () {
                //console.log('response=' + response);
            }).error(function (jqXHR, textStatus, errorThrown) {
                console.log('Error : ' + errorThrown);
                $('#panel-projectFullInfo').html(errorThrown);
            });
        }

    </script>
{% endblock %}



