{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    <p>
        {#If your project request involves collaboration with any#}
        {#<a target="_blank" href="https://pathology.weill.cornell.edu/clinical-services/hematopathology"#}
        {#>Weill Cornell Hematopathology faculty members</a>,<br>#}
        {#please press the "New Hematopathology Project Request" button.<br>#}
        {#For all other project requests, please press the "New AP/CP Project Request" button.#}

        {{ user_security_utility.getSiteSettingParameter("transresProjectSelectionNote")|raw }}
    </p>

    <br>

    {% for requesterGroup in requesterGroups %}

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#requesterGroup-{{ requesterGroup.getUrlSlug() }}" aria-expanded="true">
                            {{ requesterGroup.getName() }}
                        </a>
                    </h4>
                </div>
                <div id="requesterGroup-{{ requesterGroup.getUrlSlug() }}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% for specialty in specialties %}
                                {#collDivsFiltered={{ collDivsFiltered[specialty.getAbbreviation()] }}#}
                                <p>
                                    <a class="btn btn-primary"
                                       href="{{ path(
                                        translationalresearch_sitename~'_project_new',
                                        {
                                            'specialtyStr':specialty.getAbbreviation(),
                                            'requester-group':requesterGroup.getUrlSlug(),
                                            'collaborating-division':collDivsFiltered[specialty.getAbbreviation()]
                                        }
                                       ) }}"
                                    >{{ specialty.getName() }} Project Request</a>
                                </p>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>

    {% endfor %}

    {% if supportNote %}
        <p>
            {{ supportNote|raw }}
        </p>
    {% endif %}

{% endblock %}

{#{% block maincss %}#}
{#{% endblock %}#}

{% block mainjs %}
    {#Simple static page: Remove timeout and others js#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.js') }}"></script>
{% endblock %}

