{#{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}#}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}


{#{% block title %}#}
    {#{{ title }}#}
{#{% endblock %}#}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {% if messageToUsers is not defined %}
        {% set messageToUsers = transres_util.getTrpMessageToUsers(project) %}
    {% endif %}

    {% if messageToUsers is defined and messageToUsers %}
        <h5 class="alert alert-danger well-lg safary-fix" align="center">
            {{ messageToUsers|raw }}
        </h5>
    {% endif %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    <br><br>

    {% set sitename = translationalresearch_sitename %}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {{ form_start(form) }}

        {{ transres.projectHeaders(form,project,cycle) }}

        {{ transres.projectRequesters(form,project,cycle) }}

        {{ transres.projectBodyFormFields(form,project,cycle) }}

        {{ transres.projectInfo(form,project,cycle) }}

        {{ transres.getProjectShowPrototypeFormData(form,cycle,sitename) }}
        {{ transres.projectReviews(form,cycle,sitename,1) }}

    {{ form_end(form) }}

{% endblock %}

{#{% block additionaljs %}#}
    {#<script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres.js') }}"></script>#}
{#{% endblock %}#}

{% block javascripts %}
    {#import using webpack transres.js (assets/transres/js/index.jsx)#}
    {{ encore_entry_script_tags('transresjs') }}
{% endblock %}
