{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {#<div id="form-prototype-data"#}
         {#data-userurllink = "{{ usermacros.userUrlLink()|e }}"#}
         {#data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"#}
         {#data-userid = "{{ app.user.id }}"#}
    {#></div>#}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% set sitename = translationalresearch_sitename %}

    {% set bundleFileName = transres_request_util.getInvoiceLogo()|raw %}
    {% if bundleFileName %}
        <img src="{{ asset(bundleFileName) }}" alt="Invoice Logo"/>
        <br><br>
        {#<div class="row" align="left">#}
            {#<div class="col-xs-5">#}
                {#<img src="{{ asset(bundleFileName) }}" alt="Invoice Logo"/>#}
            {#</div>#}
            {#<div class="col-xs-7"></div>#}
        {#</div>#}
    {% endif %}

    {{ form_start(form) }}

        <div id="form-prototype-data"
             data-userurllink = "{{ usermacros.userUrlLink()|e }}"
             data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
             data-userid = "{{ app.user.id }}"

             data-prototype-transres-invoiceItems = "{{ transresRequestMacros.invoiceItemForm(form.invoiceItems,cycle,'transres-invoiceItems','prototype',sitename,1)|e }}"
        ></div>

        {#{{ formmacros.field(form.updateUser) }}#}

        {% if form.createDate is defined %}
            {{ formmacros.field(form.createDate) }}
        {% endif %}
        {% if form.submitter is defined %}
            {{ formmacros.field(form.submitter) }}
        {% endif %}

        {% if form.status is defined %}
            {{ formmacros.field(form.status) }}
        {% endif %}

        {% if form.principalInvestigators is defined %}
            {{ formmacros.field(form.principalInvestigators) }}
        {% endif %}
        {% if form.salesperson is defined %}
            {{ formmacros.field(form.salesperson) }}
        {% endif %}

        <hr />

        {#{% if form.documents is defined %}#}
            {#<div class="well form-element-holder user-documents">#}
                {#<label class="col-xs-12 control-label">Logo</label>#}
                {#<div class="row withpaddingtop">#}
                    {#<div class="col-xs-12">#}
                        {#{{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',1,'default','Logo') }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endif %}#}

        {#<hr />#}
        {% if form.oid is defined %}
            {{ formmacros.field(form.oid) }}
        {% endif %}

        {% if form.dueDate is defined %}
            {{ formmacros.fieldDateLabel(form.dueDate,'allow-future-date') }}
        {% endif %}

        {#<hr />#}

        {{ formmacros.field(form.invoiceFrom) }}
        {{ formmacros.field(form.invoiceTo) }}
        <br>

        {#<hr />#}

        {#{% for invoiceItem in form.invoiceItems %}#}
            {#<div class="well well-sm">#}
            {#{{ formmacros.field(invoiceItem.quantity) }}#}
            {#{{ formmacros.field(invoiceItem.itemCode) }}#}
            {#{{ formmacros.field(invoiceItem.description) }}#}
            {#{{ formmacros.field(invoiceItem.unitPrice) }}#}
            {#{{ formmacros.field(invoiceItem.total) }}#}
            {#</div>#}
            {#{{ transresRequestMacros.invoiceItem(invoiceItem,cycle) }}#}
        {#{% endfor %}#}
        {{ transresRequestMacros.invoiceItemSections(form,cycle) }}

        {#{{ transresRequestMacros.invoiceAddItems(form,cycle) }}#}
        {#Product or Service Panel +/-#}
        {#{{ transresRequestMacros.productSections(form,cycle,sitename) }}#}

        {#<hr />#}

        {{ formmacros.field(form.subTotal) }}

        {{ formmacros.field(form.discountNumeric) }}
        {{ formmacros.field(form.discountPercent) }}

        {{ formmacros.field(form.total) }}
        {{ formmacros.field(form.paid) }}

        <br>
        <hr>
        {% if form.footer is defined %}
            {{ formmacros.field(form.footer) }}
        {% endif %}
        {% if form.footer2 is defined %}
            {{ formmacros.field(form.footer2) }}
        {% endif %}
        {% if form.footer3 is defined %}
            {{ formmacros.field(form.footer3) }}
        {% endif %}
        <br><br>

        {% if form.save is defined %}
            {{ form_widget(form.save) }}
        {% endif %}
        {% if form.edit is defined %}
            {{ form_widget(form.edit) }}
        {% endif %}

    {{ form_end(form) }}

    {% if cycle == "show" %}
        <p>
            <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_invoice_edit',{'id': transresRequest.getId(),'oid':invoice.oid}) }}">Edit Invoice</a>
        </p>
        <p>
            {#<a#}
                {#general-data-confirm="Are you sure you want to delete this invoice?"#}
                {#href="{{ path('translationalresearch_invoice_delete', {'id': invoice.id}) }}"#}
        {#>Delete</a>#}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </p>
    {% endif %}

    {% if cycle == "edit" %}
        <p>
            <a class="btn btn-primary" href="{{ path(translationalresearch_sitename~'_invoice_show',{'id': transresRequest.getId(),'oid': invoice.oid }) }}">Cancel</a>
        </p>

        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}

    {#{% if project and project.id %}#}
        {#<br>#}
        {#{{ transres.projectObjFullInfo(project,cycle) }}#}
        {#<p>#}
            {#<a href="{{ path(translationalresearch_sitename~'_request_index',{'id':project.id}) }}">Back to the request list</a>#}
        {#</p>#}
    {#{% endif %}#}

{% endblock %}


{% block additionaljs %}

    <script type="text/javascript">

        $(document).ready(function() {

            // Create a new 'change' event
            //var event = new Event('change');
            // Dispatch it.
            //$('.invoiceitem-total').dispatchEvent(event);
            var onetotal = $('.invoiceitem-total').first();
            transresUpdateSubTotal(onetotal);

            //quantity or unit price update => update total
            $('.invoiceitem-quantity, .invoiceitem-unitPrice').on('input', function(event) {
                console.log("update row total");
                var invoiceItemRow = $(this).closest('.user-collection-holder');
                var quatity = invoiceItemRow.find(".invoiceitem-quantity").val();
                var unitPrice = invoiceItemRow.find(".invoiceitem-unitPrice").val();
                console.log("row quatity="+quatity+"; unitPrice="+unitPrice);
                var invoiceItemTotalEl = invoiceItemRow.find(".invoiceitem-total");
                if( quatity && unitPrice ) {
                    var total = parseInt(quatity) * parseInt(unitPrice);
                    console.log("row total="+total);
                    invoiceItemTotalEl.val(total);
                } else {
                    invoiceItemTotalEl.val(null);
                }
                console.log("transresUpdateSubTotal: triggered by claculated row total");
                transresUpdateSubTotal(invoiceItemTotalEl);
            });

            //total update => update subtotal and total
            $('.invoiceitem-total').on('input', function(event) {
//                console.log("update subtotal and total");
//                var totals = $(this).closest('.invoiceItemTable').find(".invoiceitem-total");
//                var subTotal = 0;
//                totals.each(function() {
//                    var total = $(this).val();
//                    console.log("total="+total);
//                    if( !total ) {
//                        total = 0;
//                    }
//                    subTotal = subTotal + parseInt(total);
//                });
//                console.log("subTotal="+subTotal);
//                $(".invoice-subTotal").val(subTotal);
//                $(".invoice-total").val(subTotal);
                console.log("transresUpdateSubTotal: triggered by manually update row total");
                transresUpdateSubTotal( $(this) );
            });

            $('.invoice-discountNumeric').on('input', function(event) {
                $('.invoice-discountPercent').val(null);
                transresUpdateTotal();
            });
            $('.invoice-discountPercent').on('input', function(event) {
                $('.invoice-discountNumeric').val(null);
                transresUpdateTotal();
            });

        });

        function transresUpdateSubTotal(invoiceItemTotalEl) {
            console.log("update subtotal and total");
            var totals = invoiceItemTotalEl.closest('.invoiceItemTable').find(".invoiceitem-total");
            var subTotal = 0;
            totals.each(function() {
                var total = $(this).val();
                console.log("total="+total);
                if( !total ) {
                    total = 0;
                }
                subTotal = subTotal + parseInt(total);
            });
            console.log("subTotal="+subTotal);
            $(".invoice-subTotal").val(subTotal);
            //$(".invoice-total").val(subTotal);
            transresUpdateTotal();
        }

        function transresUpdateTotal() {

            var discount = 0;
            var discountNumeric = $(".invoice-discountNumeric").val();
            var discountPercent = $(".invoice-discountPercent").val();
            var subTotal = $(".invoice-subTotal").val();

            if( subTotal ) {
                if( discountNumeric ) {
                    discount = parseInt(discountNumeric);
                }
                if( discountPercent ) {
                    discount = subTotal * (parseInt(discountPercent)/100);
                }
            }

            var total = subTotal - discount;

            $(".invoice-total").val(total);
        }

    </script>

{% endblock %}

