{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <div id="form-prototype-data"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
         data-userid = "{{ app.user.id }}"
    ></div>


    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% set sitename = translationalresearch_sitename %}

    {{ form_start(form) }}

        {#{{ formmacros.field(form.updateUser) }}#}

        {{ formmacros.field(form.createDate) }}
        {{ formmacros.field(form.submitter) }}

        <hr />

        {#{{ usermacros.documentsContainer(null,form.document,cycle, 'noprototype',1,'default','Logo') }}#}
        <div class="well form-element-holder user-documents">
            <label class="col-xs-12 control-label">Logo</label>
            <div class="row withpaddingtop">
                <div class="col-xs-12">
                    {{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',1,'default','Logo') }}
                </div>
            </div>
        </div>


    <hr />

    {{ formmacros.field(form.oid) }}
        {{ formmacros.fieldDateLabel(form.dueDate,'allow-future-date') }}

        <hr />

        {{ formmacros.field(form.from) }}
        {{ formmacros.field(form.to) }}

        <hr />

        {#{% for invoiceItem in form.invoiceItems %}#}
            {#<div class="well well-sm">#}
            {#{{ formmacros.field(invoiceItem.quantity) }}#}
            {#{{ formmacros.field(invoiceItem.itemCode) }}#}
            {#{{ formmacros.field(invoiceItem.description) }}#}
            {#{{ formmacros.field(invoiceItem.unitPrice) }}#}
            {#{{ formmacros.field(invoiceItem.total) }}#}
            {#</div>#}
            {#{{ transresRequestMacros.invoiceItem(invoiceItem,cycle) }}#}
        {#{% endfor %}#}
        {{ transresRequestMacros.invoiceItems(form,cycle) }}

        <hr />

        {{ formmacros.field(form.discountNumeric) }}
        {{ formmacros.field(form.discountPercent) }}

        <hr />

        {{ formmacros.field(form.footer) }}

        <br><br>

        {% if form.save is defined %}
            {{ form_widget(form.save) }}
        {% endif %}
        {% if form.edit is defined %}
            {{ form_widget(form.edit) }}
        {% endif %}

    {{ form_end(form) }}


    {#{% if project and project.id %}#}
        {#<br>#}
        {#{{ transres.projectObjFullInfo(project,cycle) }}#}
        {#<p>#}
            {#<a href="{{ path(translationalresearch_sitename~'_request_index',{'id':project.id}) }}">Back to the request list</a>#}
        {#</p>#}
    {#{% endif %}#}

{% endblock %}
