{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block header %}
    {#<div class="text-center col-xs-12">#}
        {#<h1 style="color:#ff633b;"><b>{{ invoice.status|upper }}</b></h1>#}
    {#</div>#}
{% endblock %}

{% block contentleft %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {#<h4 class="text-info" align="center">#}
        {#{{ title }}#}
    {#</h4>#}
    {#<br>#}

    {% set bundleFileName = transres_request_util.getInvoiceLogo(invoice)|raw %}
    {% if bundleFileName %}

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5" align="left">
            <img src="{{ asset(bundleFileName) }}" alt="Invoice Logo"/>
            <br>
            <div style="color: #0000FF">
            Department of Pathology and Laboratory Medicine<br>
            Translational Research Program
            </div>
        </div>
        <div class="col-xs-5" align="right">
            <p><h2><b>Packing Slip</b></h2></p>
            <p>
                Work Request ID: <span style="color: #FF1800">{{ transresRequest.oid }}</span>
            </p>
            <p>
                <b>Submission Date:</b> <span style="color: #FF1800">{{ transresRequest.createDate|date("m/d/Y") }}</span>
            </p>
            {#<p>#}
                {#<b>WCM account number (if funded): {{ invoice.fundedAccountNumber }}</b>#}
            {#</p>#}
            <p>
                Printed: Date & Time: <span style="color: #FF1800">{{ "now"|date("m/d/Y H:i") }}</span>
            </p>
            <p>
                <b>Submitter:</b> <span style="color: #FF1800">{{ transresRequest.submitter.getUsernameOptimal() }}</span>
                {#<b>Submitter:</b> <span style="color: #FF1800">{{ app.user.getUsernameOptimal() }}</span>#}
            </p>
            <p>
                Progress Status: <span style="color: #FF1800">{{ transres_request_util.getProgressStateLabelByName(transresRequest.progressState) }}</span>
            </p>
        </div>
        <div class="col-xs-1"></div>
    </div>


    {% endif %}

    <br>
    <hr>
    <br>

    <p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Item</th>
                <th>Category Type</th>
                <th>Requested Quantity</th>
                <th>Completed Quantity</th>
                <th>Comment</th>
            </tr>
            {% for product in transresRequest.products %}
                <tr>
                    {#<td>{{ product.category.productId }} ({{ product.category.section }})</td>#}
                    <td><span style="color: #FF1800">{{ product.category.getShortInfo }}</span></td>
                    <td><span style="color: #FF1800">{{ product.category.name }}</span></td>

                    <td><span style="color: #FF1800">{{ product.requested }}</span></td>
                    <td><span style="color: #FF1800">{{ product.completed }}</span></td>

                    <td><span style="color: #FF1800">{{ product.comment }}</span></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </p>

    <hr>

    <p>
        COMMENT FOR REQUEST
    </p>
    <p>
        <span style="color: #FF1800">{{ transresRequest.comment }}</span>
    </p>

    <hr>

    <p>
        <b>LIST OF DELIVERABLE(S)</b>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>SAMPLE NAME</th>
                <th>BARCODE</th>
                <th>COMMENT</th>
            </tr>
            {% for dataResult in transresRequest.dataResults %}
                <tr>
                    <td>
                        <span style="color: #FF1800">{{ dataResult.barcode }}</span>
                    </td>
                    <td>BARCODE IMAGE</td>
                    <td>
                        <span style="color: #FF1800">{{ dataResult.comment }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

    <div class="text-info" align="center">
    <p>
        Please contact us for more information about this slip.
    </p>
    <p>
        Translational Research Program • 1300 York Ave., F512, New York, NY 10065 • Tel: (212) 746-6255
    </p>
    </div>

{% endblock %}

{% block additionalcss %}

    {% stylesheets
        'bundles/olegtranslationalresearch/form/css/pdf-show.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block additionaljs %}

    <script type="text/javascript">

        $(document).ready(function() {

            $('textarea').each(function () {
                this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
            }).on('input', function () {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            });

        });

    </script>

{% endblock %}

