{% extends "OlegTranslationalResearchBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegTranslationalResearchBundle::Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "OlegTranslationalResearchBundle::Default/transres.html.twig" as transres %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block header %}
    {#no navbar#}

    <div class="text-center col-xs-12">
        <h1 style="color:#ff633b;"><b>{{ invoice.status|upper }}</b></h1>
    </div>
{% endblock %}

{% block contentleft %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {#<h4 class="text-info" align="center">#}
        {#{{ title }}#}
    {#</h4>#}
    {#<br>#}

    {% set bundleFileName = transres_request_util.getInvoiceLogo()|raw %}
    {% if bundleFileName %}

        <p>
        <div class="row">
            <div class="col-xs-2" align="right">
            </div>
            <div class="col-xs-6" align="left">
                <img src="{{ asset(bundleFileName) }}" alt="Invoice Logo"/>
            </div>
            <div class="col-xs-4" align="left">
                <p><h2><b>Invoice</b></h2></p>
                <br><br>
                <p>
                    Date: {{ "now"|date("m/d/Y") }}
                </p>
                <p>
                    <b>Invoice No.: {{ invoice.oid }}</b>
                </p>
                <p>
                    Due Date: {{ invoice.dueDate|date("m/d/Y") }}
                </p>
                <p>
                    Salesperson: {{ invoice.salesperson.getUsernameOptimal() }}
                </p>
            </div>
        </div>
        </p>

        <br><br>
    {% endif %}


    <P>
        <textarea>{{ invoice.invoiceFrom }}</textarea>
    </P>

    <P>
        <b>Bill To:</b><br>
        {#{{ invoice.invoiceTo|raw }}#}
        <textarea>{{ invoice.invoiceTo }}</textarea>
    </P>


    <br><br>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Quantity</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>Unit Price ($)</th>
                <th>Total ($)</th>
            </tr>
            {% for invoiceItem in invoice.invoiceItems %}
                <tr>
                    <td>{{ invoiceItem.quantity }}</td>
                    <td>{{ invoiceItem.itemCode }}</td>
                    <td>{{ invoiceItem.description }}</td>
                    <td>{{ invoiceItem.unitPrice }}</td>
                    <td>{{ invoiceItem.total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td COLSPAN=3 ALIGN=CENTER></td>
                <td>Subtotal</td>
                <td>{{ invoice.subTotal }}</td>
            </tr>
            <tr>
                <td COLSPAN=3 ALIGN=CENTER></td>
                <td><b>Total Amt</b></td>
                <td>{{ invoice.total }}</td>
            </tr>
            <tr>
                <td COLSPAN=3 ALIGN=CENTER></td>
                <td><b>Paid</b></td>
                <td></td>
            </tr>
        </table>
    </div>


    <br><br>

    <P>
        {{ invoice.footer }}
    </P>

    <P>
        <b>{{ invoice.footer2 }}</b>
    </P>

    <P>
        {{ invoice.footer3 }}
    </P>

    <br><br>

    {#<p>Detach and return with payment</p>#}
    <div class="row">
        <div class="col-xs-4">
            <hr>
        </div>
        <div class="col-xs-4">
            <p>Detach and return with payment</p>
        </div>
        <div class="col-xs-4">
            <hr>
        </div>
    </div>

    <p><b>REMITTANCE</b></p>

    <P>
        Invoice No.: {{ invoice.oid }}
    </P>

    <P>
        Customer Name:
        {% for pi in invoice.principalInvestigators %}
            {{ pi.getUsernameOptimal() }}<br>
        {% endfor %}
    </P>

    <P>
        Date:
    </P>

    <P>
        Amount Enclosed:
    </P>

    <hr>


{% endblock %}

{% block additionalcss %}

    {#<style type="text/css">#}
        {#textarea {#}
            {#overflow: auto;#}
            {#border: none;#}
        {#}#}
    {#</style>#}

    {% stylesheets
        'bundles/olegtranslationalresearch/form/css/pdf-show.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block additionaljs %}
    $(document).ready(function() {
        $("textarea").autoResize();
    });
{% endblock %}

