{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

<!DOCTYPE html>

<html>

<head>

    {#{% stylesheets#}
        {#'orderassets/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
        {#'orderassets/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />

    {#{% block errorwatchjs %}#}
        {#{% javascripts#}
            {#'@AppUserdirectoryBundle/Resources/public/form/js/errorwatch.js'#}
        {#%}#}
            {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
        {#{% endjavascripts %}#}
    {#{% endblock %}#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/errorwatch.js') }}"></script>

    {% block maincss %}

        {#jasny is used for clickable rows#}

        {#{% stylesheets#}
        {#'orderassets/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
        {#'orderassets/appuserdirectory/jasny/css/jasny-bootstrap.min.css' filter='cssrewrite'#}
        {#'orderassets/appuserdirectory/ladda/ladda-themeless.css' filter='cssrewrite'#}
        {#'orderassets/appuserdirectory/form/css/action.css' filter='cssrewrite'#}
        {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/jasny/css/jasny-bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda-themeless.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/action.css') }}" />

        {#{% stylesheets#}
        {#'orderassets/appuserdirectory/datepicker/css/bootstrap-datepicker3.css' filter='cssrewrite'#}
        {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/css/bootstrap-datepicker3.css') }}" />

        {#{% stylesheets#}
        {#'orderassets/appuserdirectory/dropzone/css/dropzone.css' filter='cssrewrite'#}
        {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/css/dropzone.css') }}" />

        {#{% stylesheets#}
        {#'orderassets/appuserdirectory/vakata-jstree/themes/default/style.min.css' filter='cssrewrite'#}
        {#%}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}
        <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/vakata-jstree/themes/default/style.min.css') }}" />


    {% endblock %}

    {% block additionalcss %}{% endblock %}


    {% block ie8fixjs %}

        {#http://www.telegraphicsinc.com/2013/10/using-bootstrap-3-with-internet-explorer-8-ie8/#}
        {#{% javascripts#}
        {#'@AppOrderformBundle/Resources/public/html5-bootstrap-fix/css3-mediaqueries.js'#}
        {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
        {#{% endjavascripts %}#}

        {#HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries#}
        {#[if lt IE 9]#}
        {#{% javascripts#}
        {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/html5shiv.min.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/respond.min.js'#}
        {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
        {#{% endjavascripts %}#}
        {#[endif]#}
        <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/html5shiv.min.js') }}"></script>
        <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/respond.min.js') }}"></script>

    {% endblock %}


    <title>
        {% block title %}
            Scan Order
        {% endblock %}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
    {{ usermacros.nonLiveSiteRedirect() }}

    <!-- we want to force people to click a button, so hide the close link in the toolbar -->
    {#<style type="text/css">a.ui-dialog-titlebar-close { display:none }</style>#}

    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

</head>


<body>

    <div class="container col-xs-12">

        {{ usermacros.nonLiveSiteWarning() }}
        {{ usermacros.browserCheck() }}

        <div class="col-xs-12">

            {% block header %}
                {# <img src="{{ asset('/../../images/slide1.jpg') }}" alt="Slide">#}
                {% include 'AppOrderformBundle/Default/navbar.html.twig' %}
            {% endblock %}

        </div>


        <div class="text-center col-xs-12">

            {% include 'AppUserdirectoryBundle/Security/idle_timeout.html.twig' %}
            
            <div class="browser-notice alert alert-warning center-block" align="middle" style="width: 70%; display:none;"></div>

            {% for flashMessage in app.flashes('notice') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-info center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            {% for flashMessage in app.flashes('status-changed') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-success center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            {% for flashMessage in app.flashes('warning') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-danger center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            {#<input type="hidden" id="tenantprefix" value="{{tenantprefix}}" />#}
            {#<input type="hidden" id="tenantprefix" value="{{ app.request.locale }}" />#}
            <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />
            <input type="hidden" id="user-preferences-tooltip" value="{{ user_security_utility.getTooltip(app.user) }}" />
            <input type="hidden" id="maxIdleTime" value="{{app.session.get('maxIdleTime')}}" />
			<input type="hidden" id="siteEmail" value="{{app.session.get('siteEmail')}}" />
            <input type="hidden" id="authuser_id" value="{{app.user.getId()}}" />

        </div>

        <div>
            {% block contentleft %}{% endblock %}
        </div>

        <div class="order-content text-center col-xs-12">
            {% block content %}{% endblock %}

            <!-- footer -->
            {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}
        </div>


        {% block mainjs %}

            {#{% javascripts#}
                {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
                {#'@AppUserdirectoryBundle/Resources/public/ladda/spin.min.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/ladda/ladda.min.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/select2/select2.full.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/jasny/js/rowlink.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/q-1/q.js'#}

                {#'@AppUserdirectoryBundle/Resources/public/dropzone/dropzone.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-fileuploads.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-navbar.js'#}

                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'#}

                {#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-jquery-idleTimeout.js'#}

                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-selectAjax.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-treeSelectAjax.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/vakata-jstree/jstree.min.js'#}
                {#'@AppUserdirectoryBundle/Resources/public/form/js/user-jstree.js'#}

                {#'@AppOrderformBundle/Resources/public/form/js/idleTimeout.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/checkSingleForm.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/slideColl.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/partCheckboxes.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/selectAjax.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/commonCheckForm.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/checkForm.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/masking.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/form.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/formReady.js'#}

                {#'@AppOrderformBundle/Resources/public/form/js/modal.js'#}
                {#'@AppOrderformBundle/Resources/public/form/js/tooltips.js'#}
            {#%}#}
                {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
            {#{% endjavascripts %}#}


            <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-ui-1.11.2/jquery-ui.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/spin.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/jasny/js/rowlink.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>

            {#FOSJsRoutingBundle#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            {#<script>#}
                {#_REQUEST_LOCALE = '{{ app.request.locale }}';#}
                {#//console.log('_REQUEST_LOCALE='+_REQUEST_LOCALE);#}
            {#</script>#}
            {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-router-locale-fix.js') }}"></script>#}
            {#EOF FOSJsRoutingBundle#}

            <script src="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/dropzone.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>

            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>

            {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
            {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>

            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-treeSelectAjax.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/vakata-jstree/jstree.min.js') }}"></script>
            <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jstree.js') }}"></script>

            {#<script src="{{ asset('orderassets/AppOrderformBundle/form/js/idleTimeout.js') }}"></script>#}
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/checkSingleForm.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/slideColl.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/partCheckboxes.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/selectAjax.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/commonCheckForm.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/checkForm.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/masking.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/form.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/formReady.js') }}"></script>

            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/modal.js') }}"></script>
            <script src="{{ asset('orderassets/AppOrderformBundle/form/js/tooltips.js') }}"></script>

            {#FOSJsRoutingBundle#}
            {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
            {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}

            {#dropzone#}
            {#{% javascripts#}
            {#'@AppUserdirectoryBundle/Resources/public/dropzone/dropzone.js'#}
            {#'@AppUserdirectoryBundle/Resources/public/form/js/user-fileuploads.js'#}
            {#%}#}
            {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
            {#{% endjavascripts %}#}

        {% endblock %}


        {% block additionaljs %}{% endblock %}



    </div>

</body>
         
</html>
