{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#make sure radio buttons and their labels are on the same line#}
{#{% block choice_widget_expanded_OLD %}#}
    {#{% spaceless %}#}
        {#<div {{ block('widget_container_attributes') }}>#}
            {#{% for child in form %}#}
                {#<label style="display: inline;">#}
                {#<span style="white-space: nowrap;">#}
                {#<div class="radio_inline">#}
                    {#{{ form_widget(child) }}#}
                    {#{{ form_label(child) }}#}
                {#</div>#}
                {#</span>#}
                {#</label>#}
            {#{% endfor %}#}

        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock choice_widget_expanded %}#}
{% block choice_widget_expanded %}
    {#Since twig/twig 3.12: Twig Filter "spaceless" is deprecated#}
    {#{% apply spaceless %}#}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class='radio_inline'>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}

        </div>
    {#{% endapply %}#}
{% endblock choice_widget_expanded %}

{#'required' is fixed in master and v2.3 of symfony#}
{#{% block widget_attributes_OLD %}#}
    {#{% spaceless %}#}
        {#id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}#}

        {#{% if required == 'none' %}#}
            {#not !!!!!!!!!#}
        {#{% else %}#}
            {#{% if required %}#}
                {#required !!!!!!!!!#}
                {#required="required"#}
            {#{% endif %}#}
        {#{% endif %}#}

        {#{% if pattern %} pattern="{{ pattern }}"{% endif %}#}

        {#{% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}#}

        {#{% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}#}

    {#{% endspaceless %}#}
{#{% endblock widget_attributes %}#}
{% block widget_attributes %}
    {#Since twig/twig 3.12: Twig Filter "spaceless" is deprecated#}
    {#{% apply spaceless %}#}
        id='{{ id }}' name='{{ full_name }}'
        {% if disabled %}
            disabled='disabled'
        {% endif %}

        {% if required == 'none' %}
            {#not !!!!!!!!!#}
        {% else %}
            {% if required %}
                {#required !!!!!!!!!#}
                required='required'
            {% endif %}
        {% endif %}

        {% if pattern is defined and pattern %}
            pattern='{{ pattern }}'
        {% endif %}

        {% for attrname, attrvalue in attr %}
            {% if attrname in ['placeholder', 'title'] %}
                {{ attrname }}='{{ attrvalue|trans({}, translation_domain) }}'
            {% else %}
                {{ attrname }}='{{ attrvalue }}'
            {% endif %}
        {% endfor %}

        {% for attrname, attrvalue in attr %}
            {% if attrname in ['placeholder', 'title'] %}
                {{ attrname }}='{{ attrvalue }}'
            {% else %}{{ attrname }}='{{ attrvalue }}'
            {% endif %}
        {% endfor %}
    {#{% endapply %}#}
{% endblock widget_attributes %}



{% block form_errors %}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="text-danger">
                {{ error.message|raw }}
            </p>
        {%- endfor -%}
    {%- endif %}
{% endblock form_errors %}



