{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppCallLogBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppCallLogBundle/Default/calllogmacros.html.twig" as calllogmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>

    {% set holderId = "accession-holder-1" %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="orderformtype" value="calllog" />
    <input type="hidden" id="formtype" value="{{ formtype }}" />
    <input type="hidden" id="mrn" value="{{ mrn }}" />
    <input type="hidden" id="mrntype" value="{{ mrntype }}" />


    <input type="hidden" id="accessionListId" value="{{ accessionListId }}" />


    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(accessionNodes, 'Last Name', 'lastname.field') }}</th>
            <th>{{ knp_pagination_sortable(accessionNodes, 'First Name', 'firstname.field') }}</th>
            <th>{{ knp_pagination_sortable(accessionNodes, 'MRN', 'mrn.field') }}</th>
            {#<th>{{ knp_pagination_sortable(patientNodes, 'Date of Last Entry', 'mrn.field') }}</th>#}

            {#Accession Type and Accession Number#}
            <th>{{ knp_pagination_sortable(accessionNodes, 'Accession', 'accessionaccession.field') }}</th>
            {#<th>{{ knp_pagination_sortable(accessionNodes, 'Accession Type', 'accessionaccession.keytype') }}</th>#}
            {#<th>{{ knp_pagination_sortable(accessionNodes, 'Accession Number', 'accessionaccession.field') }}</th>#}

            <th>Date of Last Entry</th>
            {#<th>{{ knp_pagination_sortable(accessionNodes, 'Date of Last Entry', 'message.orderdate') }}</th>#}

            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for accessionNode in accessionNodes %}
        {% if accessionNode.accession %}

            {% set accession = accessionNode.accession %}
            {% set patient = accession.obtainPatient() %}

            {% set accessionType = null %}
            {% set accessionNumber = null %}
            {% if accessionAccession %}
                {% set accessionType = accessionAccession.keytype %}
                {% set accessionNumber = accessionAccession.accessionNumber %}
            {% endif %}

            {% set trclassname = "" %}

            <input type="hidden" id="accession-id" value="{{ accession.id }}" />

            <tr class="{{ trclassname }}">

                <td style="display: none;">
                    {#<a href="{{ path('calllog_home', { 'filter[search]': mrnNumber, 'filter[mrntype]': mrnTypeId, 'filter[messageStatus]': "All except deleted" }) }}" target="_blank">Show all entries</a>#}
                    {% if accessionType and accessionNumber %}
                        <a href="{{ path('crn_home', { 'filter[accessionType]': accessionType, 'filter[accessionNumber]': accessionNumber, 'filter[messageStatus]': "All except deleted" }) }}" target="_blank">Show all entries</a>
                    {% endif %}
                </td>

                {#Last Name#}
                <td>
                    {% if patient %}
                        {#should we use obtainStatusFieldArray('lastname','valid') to show all valid fields?#}
                        {% set displayLastnameStatus = false %}
                        {% set patientLastnames = patient.obtainStatusFieldArrayOrAll('lastname','valid') %}
                        {% if patientLastnames|length > 1 %}
                            {% set displayLastnameStatus = false %}
                        {% endif %}
                        {% for lastname in patientLastnames %}
                            {#{% if lastname.status != 'valid' %}#}
                                {#{{  lastname }} ({{ lastname.status }})#}
                            {#{% else %}#}
                                {#{{  lastname }}#}
                            {#{% endif %}#}
                            {{  lastname }} {% if displayLastnameStatus %}({{ lastname.status }}){% endif %}
                            <br>
                        {% endfor %}
                    {% endif %}
                </td>

                {#First Name#}
                <td>
                   {% if patient %}
                        {#should we use obtainStatusFieldArray('firstname','valid') to show all valid fields?#}
                        {% set displayFirstnameStatus = false %}
                        {% set patientFirstnames = patient.obtainStatusFieldArrayOrAll('firstname','valid') %}
                        {% if patientFirstnames|length > 1 %}
                            {% set displayFirstnameStatus = false %}
                        {% endif %}
                        {% for firstname in patientFirstnames %}
                            {{  firstname }} {% if displayFirstnameStatus %}({{ firstname.status }}){% endif %}
                            <br>
                        {% endfor %}
                    {% endif %}
                </td>

                {#MRN#}
                <td>
                    {% if patient %}
                        {{ patient.obtainFullValidKeyName }}
                    {% endif %}
                </td>

                {#Accession Type and Accession Number#}
                {#<td>#}
                    {#{{ accessionaccession.keytype }}#}
                {#</td>#}
                {#<td>#}
                    {#{{ accessionaccession.field }}#}
                {#</td>#}
                <td>
                    {{ accession.obtainFullValidKeyName }}
                </td>

                {#Date of Last Entry#}
                <td>
                    {{ calllog_util.getLastEntryDateByAccession(accession) }}
                </td>

                <td class="rowlink-skip">
                    {{ calllogmacros.accessionListAction(patient,accession,accessionListId) }}
                </td>

            </tr>

        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(accessionNodes) }}
    </div>


    {{ calllogmacros.accessionInfoSection(accessionForm,cycle,holderId,'Add accession',formtype) }}

    {#Manage Accession Lists#}
    {% if is_granted('ROLE_CALLLOG_DATA_QUALITY') %}
        <br>
        <p>
            <a href="{{ path('platform_list_manager', { 'listId': platformListManagerRootListId }) }}"
               target="_blank">Manage Accession Lists</a>
        </p>
    {% endif %}

    <br>

    <br><br>

{% endblock %}

{% block additionaljs %}
    <script language="Javascript">



        $(document).ready(function() {
            //hide all alias
            //calllogHideAllAlias(true,true);
            //calllogHideAllAlias(true,true,'calllog-encounterInfo-holder');

            //init
            initCallLogPage();

            //preset mrn and mrn-type
            calllogPresetMrnMrntype('accession-holder-1');

        });


    </script>
{% endblock %}
