{#macros for tree#}

{% macro jstreemacros( jstreeid, bundleName, entityName, nodeshowpath, search, filterform, routename ) %}
    {#{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}#}

    {% if filterform is defined and filterform and routename is defined and routename %}
        <p>
        <form action="{{ path(routename) }}" method="get" {{ form_enctype(filterform) }} class="well form-search" name="form-search">
            <div class="row">
                <div class="col-xs-3"></div>

                <div class="col-xs-3" align="right">
                    {{ form_widget(filterform.types) }}
                </div>

                <div class="col-xs-3" align="left">
                    <button type="submit" class="btn btn-sm btn-default">Filter</button>
                </div>

                <div class="col-xs-3"></div>
            </div>
            {{ form_rest(filterform) }}
        </form>
        </p>
    <br>
    {% endif %}

    <p>
    <div class="row jstree-parent-container">

        <div class="col-xs-3" align="right">
        </div>

        <div class="col-xs-6" align="left">
            {% if search is not defined or search != 'nosearch' %}
                <p>
                    <input class="form-control form-control-modif not-mapped-simplefield jstree-search" type="search" placeholder="Search"/>
                </p>
            {% endif %}
            <div
                class="{{ jstreeid }} {{ jstreeid ~ '-' ~ bundleName ~ '-' ~ entityName }}"
                data-compositetree-node-showpath="{{ nodeshowpath }}"
            ></div>
        </div>

        <div class="col-xs-3" align="right">
        </div>

    </div>
    </p>
{% endmacro %}


{% macro compositeTreeNode( node, cycle, prototype ) %}
    {% import _self as treemacros %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    <p>
    {{ form_errors(node) }}
    <div class="composite-tree-holder">
        <div class="row treenode">
            <div class="col-xs-6" align="right">
                {{ form_label(node) }}
            </div>
            <div class="col-xs-6" align="left">
                {{ form_widget(node) }}
            </div>
        </div>
    </div>
    </p>
{% endmacro %}



