{#macros for tree#}

{% macro jstree( label, jstreeid ) %}
    {#{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}#}
    <p>
    <div class="row jstree-parent-container">
        <div class="col-xs-6" align="right">
            <strong>{{ label }}</strong>
        </div>
        <div class="col-xs-6" align="left">
            <p>
                <input class="form-control form-control-modif not-mapped-simplefield jstree-search" type="search" placeholder="Search" />
            </p>
            <div class="{{ jstreeid }}"></div>
        </div>
    </div>
    </p>
{% endmacro %}


{% macro compositeTreeNode( node, cycle, prototype ) %}
    {% import _self as treemacros %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    {% set institutionWithUserPositions = '' %}
    {#{% set userPositionPrototype = null %}#}
    {% if node.userPositions is defined %}
        {% set institutionWithUserPositions = 'institution-with-userpositions' %}
        {#{% set userPositionPrototype = treemacros.userPositionField(node.userPositions,cycle,prototype) %}#}
    {% endif %}

    <p>
    <div class="composite-tree-holder {{ institutionWithUserPositions }}">
    {#<div id="node-userpositions-data" data-prototype-user-userpositions = "{{ userPositionPrototype|e }}"></div>#}
        {#<div style="display: none;">#}
            {#{% if node.breadcrumbs is defined %}#}
                {#{{ formmacros.field(node.breadcrumbs) }}#}
            {#{% endif %}#}
            {#{% if node.id is defined %}#}
                {#{{ formmacros.field(node.id) }}#}
            {#{% endif %}#}
            {#{% if node.parent is defined %}#}
                {#{{ formmacros.field(node.parent) }}#}
            {#{% endif %}#}
        {#</div>#}

        {#{% set nodeLabel = 'Node:' %}#}
        {#{% if node.institutionnode is defined %}            #}
            {#{% set nodeLabel = node.institutionnode.vars.label %}#}
        {#{% endif %}#}
        {#{% if node.id is defined %}#}
            {#{% set nodeLabel = node.id.vars.label %}#}
            {#node.id:{{ node.id.vars.value }}#}
            {#{{ formmacros.field(node.id) }}#}
            {#{{ form_widget(node.id) }}#}
        {#{% endif %}#}

    {{ treemacros.compositeSingleTreeNode(node,cycle,prototype) }}

    </div>
    </p>
{% endmacro %}

{% macro compositeSingleTreeNode( node, cycle, prototype ) %}
    {% import _self as treemacros %}

    <div class="row treenode">
        {#<div style="display: none;">#}
            {#{% if node.parent is defined %}#}
                {#{{ form_widget(node.parent) }}#}
            {#{% endif %}#}
        {#</div>#}
        <div class="col-xs-6" align="right">
            {#<strong>{{ nodeLabel }}</strong>#}
            {#{{ form_label(node.vars.value.getOrganizationalGroupType().getName()) }}#}
            {{ form_label(node.id) }}
        </div>
        {% if node.userPositions is defined %}
            <div class="col-xs-4" align="left">
                {#<input id="node-{{ nodeLabel }}" class="ajax-combobox-institution" type="hidden" />#}
                {#<input id="userposition-{{ nodeLabel }}" class="ajax-combobox-userpositions" type="hidden" />#}
                {{ form_widget(node.id) }}
            </div>
            <div class="col-xs-2" align="left">
                {{ treemacros.userPositionField(node,cycle,'prototype') }}
            </div>
        {% else %}
            <div class="col-xs-6" align="left">
                {{ form_widget(node.id) }}
            </div>
        {% endif %}
    </div>
    {% do node.setRendered %}
{% endmacro %}
{% macro compositeSingleTreeNode_ORIG( node, cycle, prototype ) %}
    {% import _self as treemacros %}

    <div class="row">
        <div class="col-xs-6" align="right">
            {#<strong>{{ nodeLabel }}</strong>#}
            {{ form_label(node.institutionnode) }}
        </div>
        {% if node.userPositions is defined %}
            <div class="col-xs-4" align="left">
                {#<input id="node-{{ nodeLabel }}" class="ajax-combobox-institution" type="hidden" />#}
                {#<input id="userposition-{{ nodeLabel }}" class="ajax-combobox-userpositions" type="hidden" />#}
                {{ form_widget(node.institutionnode) }}
            </div>
            <div class="col-xs-2" align="left">
                {{ treemacros.userPositionField(node,cycle,'prototype') }}
            </div>
        {% else %}
            <div class="col-xs-6" align="left">
                {{ form_widget(node.institutionnode) }}
            </div>
        {% endif %}

    </div>
{% endmacro %}

{% macro userPositionField( node,cycle,prototype ) %}

    {% if node.userPositions is defined %}

        {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

        {#prototype:{{ prototype }}#}
        {% if prototype == "prototype" %}
            {% set nodeThis = node.userPositions.vars.prototype %}
        {% else %}
            {% set nodeThis = node.userPositions %}
        {% endif %}

        {#<div>#}
        <div style="display: none;">
            {% if nodeThis.institution is defined %}
                {{ formmacros.field(nodeThis.institution) }}
            {% endif %}
            {% if nodeThis.user is defined %}
                {{ formmacros.field(nodeThis.user) }}
            {% endif %}
        </div>

        {% if nodeThis.positionTypes is defined %}
            {{ form_widget(nodeThis.positionTypes) }}
        {% endif %}
    {% endif %}

{% endmacro %}

{#{% macro compositeSimplefieldTree( label, jstreeid ) %}#}
    {#&#123;&#35;{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}&#35;&#125;#}
    {#<p>#}
    {#<div class="row jstree-parent-container">#}
        {#<div class="col-xs-6" align="right">#}
            {#<strong>{{ label }}</strong>#}
        {#</div>#}
        {#<div class="col-xs-6" align="left">#}
            {#<p>#}
                {#<input class="form-control form-control-modif not-mapped-simplefield jstree-search" type="search" placeholder="Search" />#}
            {#</p>#}
            {#<div class="{{ jstreeid }}"></div>#}
        {#</div>#}
    {#</div>#}
    {#</p>#}
{#{% endmacro %}#}
