{#macros for tree#}

{% macro jstreemacros( jstreeid, bundleName, entityName, nodeshowpath, search, filters ) %}
    {#{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}#}

    <p>
    <div class="row jstree-parent-container">

        <div class="col-xs-3" align="right">
        </div>

        <div class="col-xs-6" align="left">
            {% if search is not defined or search != 'nosearch' %}
                <p>
                    <input class="form-control form-control-modif not-mapped-simplefield jstree-search" type="search" placeholder="Search"/>
                </p>
            {% endif %}
            <div
                class="{{ jstreeid }} {{ jstreeid ~ '-' ~ bundleName ~ '-' ~ entityName }}"
                data-compositetree-node-showpath="{{ nodeshowpath }}"
                data-compositetree-node-filters="{{ filters|join(',') }}"
            ></div>
        </div>

        <div class="col-xs-3" align="right">
        </div>

    </div>
    </p>
{% endmacro %}


{% macro compositeTreeNode( node, cycle, prototype ) %}
    {% import _self as treemacros %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    <p>
    {{ form_errors(node) }}
    <div class="composite-tree-holder">
        <div class="row treenode">
            <div class="col-xs-6" align="right">
                {{ form_label(node) }}
            </div>
            <div class="col-xs-6" align="left">
                {{ form_widget(node) }}
            </div>
        </div>
    </div>
    </p>
{% endmacro %}



