{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "OlegFellAppBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegFellAppBundle::Default/fellappmacros.html.twig" as fellappmacros %}


{% block title %}
    Fellowship Settings
{% endblock %}


{% block content %}


    <br><br>
    <hr>

    {% for entity in entities %}

        <h4>
            <a
                href="{{ path('fellapp_fellowshiptype_setting_edit', { 'id': entity.id}) }}">{{ entity.name }}
            </a>
        </h4>

        <p>
            <h4>Default Interviewers:</h4>
            {% for user in entity.interviewers %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}

        </p>
        <p>
            <h4>Coordinators:</h4>
            {% for user in entity.coordinators %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}
        </p>
        <p>
            <h4>Directors:</h4>
            {% for user in entity.directors %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}
        </p>

        <hr>

    {% endfor %}




{% endblock %}






