
{% extends "OlegFellAppBundle::Default/base.html.twig" %}

{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegFellAppBundle::Default/fellappmacros.html.twig" as fellappmacros %}


{% block title %}
    Fellowship Settings
{% endblock %}


{% block content %}


    <br><br>
    <hr>

    {% for entity in entities %}

        <h4>
            <a
                href="{{ path('fellapp_fellowshiptype_setting_edit', { 'id': entity.id}) }}">{{ entity.name }}
            </a>
        </h4>

        <p>
            <h4>Default Interviewers:</h4>
            {% for user in entity.interviewers %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}

        </p>
        <p>
            <h4>Default Coordinators:</h4>
            {% for user in entity.coordinators %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}
        </p>
        <p>
            <h4>Default Directors:</h4>
            {% for user in entity.directors %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}
        </p>

        <hr>

    {% endfor %}




{% endblock %}






