{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppFellAppBundle/Default/base.html.twig" %}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppFellAppBundle/Default/fellappmacros.html.twig" as fellappmacros %}


{% block title %}
    Fellowship Settings {{ serverrole }}
{% endblock %}


{% block content %}


    <br>
    <div class="well">
        Please use this page to add or remove Directors, Coordinators and Interviewers for specific fellowship type.<br>
        It is not recommended to manually add or remove fellowship roles directly in the user profile page.<br>
        Server role - {{ serverrole }}
        {#because changes (user's roles and FellowshipSubspecialty's directors,coordinators,interviewers) are synchronised when Fellowship Setting or Specific Fellowship type setting pages are open#}
    </div>
    <br>
    <hr>

    {% for entity in entities %}

        {% set seasonYear = "Set season start/end date" %}
        {#{% set seasonYearStart = entity.getSeasonYearStart() %}#}
        {#{% set seasonYearEnd = entity.getSeasonYearEnd() %}#}
        {% set seasonStartEndDates = fellapp_util.getAcademicStartYearByFellowship(entity) %}
        {% if seasonStartEndDates and seasonStartEndDates|length > 0 %}
            {% set seasonYearStart = seasonStartEndDates['startDate'] %}
            {% set seasonYearEnd = seasonStartEndDates['endDate'] %}
        {% endif %}
        {% if seasonYearStart or seasonYearEnd %}
            {#Applications accepted: April 1 - March 31 (Modify)#}
            {#{% set seasonYear = "Season start date " ~ seasonYearStart|date("F d",false) ~ ", end date " ~ seasonYearEnd|date("F d",false) %}#}
            {% set seasonYear = "Applications accepted: " ~ seasonYearStart|date("F j",false) ~ " - " ~ seasonYearEnd|date("F j",false) %}
        {% endif %}

        <h4>
            <a
                href="{{ path('fellapp_fellowshiptype_setting_edit', { 'id': entity.id}) }}" title="Edit fellowship specialty settings">{{ entity.name }}
            </a>
        </h4>

        {% if seasonYear %}
            <div>
            {{ seasonYear }} (<a  class="btn btn-sm" style="padding: 0 !important;"
                href="{{ path('fellowshipsubspecialtys_edit', { 'id': entity.id}) }}"
                title="Use the fellowship’s default dates, unless overridden by the specialty’s specific dates"
            >Modify</a>)
            </div>
        {% endif %}

        <p>
            <h4>Default Interviewers:</h4>
            {% for user in entity.interviewers %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}

        </p>
        <p>
            <h4>Coordinators:</h4>
            {% for user in entity.coordinators %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}
        </p>
        <p>
            <h4>Directors:</h4>
            {% for user in entity.directors %}
                {{ user.getUsernameOptimal() }}<br>
            {% endfor %}
        </p>

        <hr>

    {% endfor %}


    {% if manual is defined and manual %}
        <br><br>
        <div class="well">
            {{ manual|raw }}
        </div>
    {% endif %}

    <br><br>
    <p>
        <a class="btn-sm btn-primary" href="{{ path('fellapp_fellowship_application_type_add') }}">Add a New Fellowship Application Type</a>
    </p>


{% endblock %}






