{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% if patientsearch is not defined %}
    {% set patientsearch = "" %}
{% endif %}

{% block title %}
    List of Patients
{% endblock %}

{% block content %}

    <h3>List of Patients</h3>

    <br>

    {% if patientsearch and patiententities|length == 0 %}

        <br><br>
        <h5 class="text-info">No results found.</h5>

    {% else %}

        <table class="table table-hover table-condensed text-left">
        {#<table class="records_list">#}
            <thead>
                <tr>
                    {#<th>{{ knp_pagination_sortable(entities, 'ID', 'patient.id') }}</th>#}
                    {#<th>{{ knp_pagination_sortable(entities, 'MRN', 'mrn.field') }}</th>#}
                    {#<th>{{ knp_pagination_sortable(entities, 'Accession(s)', 'accession.field') }}</th>#}
                    {#<th style="display:none">ID</th>#}
                    <th>MRN</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Calculated Age</th>
                    <th>Sex</th>
                    <th>Accession(s)</th>
                    {#<th>Date</th>#}
                    {#<th>Actions</th>#}
                </tr>
            </thead>
            <tbody class="rowlink" data-link="row">
            {% for entity in patiententities %}
                <tr>

                    {#<td style="display:none"><a href="{{ path('scan-patient-show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}

                    <td>
                        {#{% for mrn in entity.mrn %}#}
                            {#{{ mrn }} (status={{ mrn.status }})<br>#}
                        {#{% endfor %}#}
                        {#{{ entity.obtainValidField('mrn') }}#}
                        <a href="{{ path('scan-patient-show', { 'id': entity.id }) }}">{{ entity.obtainValidField('mrn').obtainOptimalName() }}</a>
                    </td>

                    <td>
                        {{ entity.getFullPatientName|raw }}
                    </td>

                    <td>
                        {{ entity.obtainValidField('dob') }}
                    </td>

                    <td>
                        {{ entity.calculateAge }}
                    </td>

                    <td>
                        {{ entity.obtainValidField('sex') }}
                    </td>

                    <td>
                        {% for encounter in entity.encounter %}
                            {% for procedure in encounter.procedure %}
                                {% for accession in procedure.accession %}
                                    {{ accession.obtainValidField('accession').obtainOptimalName() }}<br>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </td>

                    {#<td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>#}

                    {#<td class="rowlink-skip">             #}
                        {#<a href="{{ path('scan-patient-show', { 'id': entity.id }) }}">show</a>                  #}
                        {#<a href="{{ path('scan-patient-edit', { 'id': entity.id }) }}">edit</a>                 #}
                    {#</td>#}

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(patiententities) }}
        </div>

    {% endif %}

    <br>
    <a href="{{ path('scan-patient-new') }}">Patient Data Structure</a>

{% endblock %}
