{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% import "OlegOrderformBundle::Default/patientmacros.html.twig" as patientmacros %}

{% import "OlegOrderformBundle::Default/ordercommon.html.twig" as order %}

{% form_theme form 'OlegOrderformBundle::Default/common_widget.html.twig' %}


{% set formpath = 'Patient Data Structure' %}


{% block title %}
    {{ formtype }}
{% endblock %}


{% block content %}

    <input type="hidden" id="orderformtype" value="multi" />
    <input type="hidden" id="formcycle" value="{{ type }}" />

    <div id="form-prototype-data"
         data-uploadurl = "{{ oneup_uploader_endpoint('scan_gallery') }}"
         data-userid = "{{ app.security.getToken().getUser().getId() }}"
    ></div>


    {{ patientmacros.displayPatient(form,0,'Submitted',datastructure,type,formtype) }}

{% endblock %}
