

{% if search is defined and search != "" %}
    <h3 class="text-info">
        Patients
    </h3>
{% endif %}

{% if filter is defined and filter != "" %}
    <h3 class="text-info">{{ filter }}</h3>
{% endif %}

{% if sameusers is defined and sameusers != "" %}
    <h3 class="text-info">{{ sameusers }}</h3>
{% endif %}


{% if entities|length > 0 %}

    <br>

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th style="display:none">{{ knp_pagination_sortable(entities, 'ID', 'user.id') }}</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in entities %}

            <tr>
                <td style="display:none"><a href="{{ path( sitename~'_showuser', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>


    <br>

{% endif %}
