{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}



{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            {#<ul class="list-group">#}
                {#Note#}
                <p class="text-center">
                    How to enable multi-tenancy:<br>
                    1) Select "Server Role and Network Access" as "Internet (Hub)"<br>
                    2) On the "Internet (Hub)" configuration page, add new "Hosted User Group" (tenant)<br>
                    3) For each hosted user group (tenant), select url prefix for the hosted user group type
                    and provide database connection parameters such as database name, user, password.
                    The tenant can be enabled/disabled by "Enabled" checkbox.
                    The tenant will not be enabled if database name, use or password is blank.<br>
                    {#4) Clear cache by running deploy script#}
                    {#<a#}
                        {#general-data-confirm="Are you sure you would like to clear cache and update assets? This action will log out all authenticated users."#}
                        {#href="{{ path('user_update_system_cache_assets') }}">deploy.sh</a>#}
                    4) Cleare cache and create new tenant's databases by clicking button bellow "Clear Cache and create Databases"
                </p>
            {#</ul>#}
        </div>
        <div class="col-xs-3"></div>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ formmacros.field(form.authServerNetwork) }}

        {% if form.submit is defined %}
            {{ form_widget(form.submit) }}
        {% endif %}
    {{ form_end(form) }}

    <br><br>
    {% if authServerNetworkId %}
        <a target="_blank" href="{{ path('authservernetwork_edit', {'id': authServerNetworkId}) }}"
        >'Internet (Hub)' configuration</a>
    {% else %}
        'Internet (Hub)' configuration does not exists
    {% endif %}
    <br><br>
    <a target="_blank"
       href="{{ user_service_utility.getSiteParamListUrl('AuthServerNetworkList')|raw }}"
    >Full list of Server Networks</a>

    <br><br>
    <a
            target="_blank" class="btn btn-danger"
            href="{{ path('employees_tenancy_management_update') }}"
    >Clear Cache and create Databases</a>

{% endblock %}




