{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    My Orders
{% endblock %}

{% block content %} 
{% block body -%}

    <h5 class="text-info">Total Orders: {{ pagination.getTotalItemCount }}</h5>
    
    {% if is_granted('ROLE_ADMIN') and security == 'true' %}              
        {% if userreqs is defined %}
            {% if userreqs | length == 0 %}
                <i class="text-success">Active User Requests:{{ userreqs | length }}</i>
            {% else %}
                <i class="text-error">Active User Requests:{{ userreqs | length }}</i>
            {% endif %}           
        {% else %}
            <i class="text-success">Active User Requests:0</i>
        {% endif %}
        <a href="{{ path('userrequest') }}">All User Requests</a>
    {% endif %}

    <form action="{{ path('index') }}" method="get" {{ form_enctype(form) }} class="well form-search">
        <div class="row-fluid">
            <div class="span2">
                My Service {{ form_widget(form.service) }}
            </div>
            <div class="span5">
                {{ form_widget(form.filter) }}
                <button class="btn " type="submit"><i class="icon-filter"></i> Filter by Status</button>
            </div>
            <div class="span5">
                {{ form_widget(form.search) }}
                <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
            </div>


                {#<div class="span6" align="right">#}
                    {#{{ form_label(form.service) }}#}
                {#</div>#}
                {#<div class="span6" align="left">#}
                    {#{{ form_widget(form.service) }}#}
                {#</div>#}

        </div>
        {{ form_rest(form) }}
    </form>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th{% if pagination.isSorted('orderinfo.orderdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'orderinfo.orderdate') }}</th>
                <th{% if pagination.isSorted('orderinfo.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'orderinfo.status') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'orderinfo.id') }}</th>
                {#<th{% if pagination.isSorted('orderinfo.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Order #', 'orderinfo.id') }}</th>#}
                {#<th{% if pagination.isSorted('orderinfo.slide') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Slides #', 'orderinfo.slide') }}</th>#}
                <th class="span2">Slides #</th>
                <th{% if pagination.isSorted('orderinfo.priority') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Priority', 'orderinfo.priority') }}</th>
                <th{% if pagination.isSorted('orderinfo.returnoption') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Return to', 'orderinfo.returnoption') }}</th>
                <th{% if pagination.isSorted('orderinfo.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type', 'orderinfo.type') }}</th>
                {% if showprovider is defined and showprovider == 'true' %}
                    <th{% if pagination.isSorted('orderinfo.provider') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Provider', 'orderinfo.provider') }}</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {#{% for entity in entities %}#}
        {% for entity in pagination  %}
            
            {% if entity.status == 'active' %}
                <tr class="activetr" >
            {% elseif entity.status == 'cancel' %}
                <tr class="canceltr" >
            {% elseif entity.status == 'completed' %}
                <tr class="completedtr" >
            {% elseif entity.status == 'uncompleted' %}
                <tr class="uncompletedtr" >
            {% else %}
                <tr>
            {% endif %}
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                    {#<a href="{{ path('scanorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a>#}
                    <a href="{{ path('multy_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                </td>
            {#<td>{{ entity.slide.count }}</td>#}
            <td>
                    {#{{ entity.slide.count }}:#}
{#                    {% for patient in entity.patient %}#}
{#                        {{ patient.specimen }}#}
{#                        {% for specimen in patient.specimen %}#}
{#                            {{ specimen.proceduretype }}#}
{#                        {%endfor%}#}
{#                    {% endfor %}#}
                    {% for slide in entity.slide %}
                        <a href="{{ path('slide_show', { 'id': slide.id }) }}">
                            <p>{{ slide.block.part.accession.accession }}&nbsp;{{slide.block.part.name}}{{slide.block.name}}</p>
                        </a>
                    {% endfor %}
                </td>
                <td>{{ entity.priority }}</td>            
                <td>{{ entity.returnSlide }}</td>
                <td>{{ entity.type }}</td>
                {% if showprovider is defined and showprovider == 'true' %}
                    <td>{{ entity.provider }}</td>
                {% endif %}
                <td>  
                    
                    {{ include('OlegOrderformBundle::Default/action.html.twig') }}
{#             
                    <a class="btn btn-small btn-info" href="{{ path('scanorder_show', { 'id': entity.id }) }}">Show</a>
                    
                    {% if entity.status != 'canceled' %}
                    <a onclick="return confirm('Are you sure?');" class="btn btn-small btn-danger" href="{{ path('scanorder_cancel', { 'id': entity.id }) }}">Cancel</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}  
                    <a class="btn btn-small btn-warning" href="{{ path('scanorder_edit', { 'id': entity.id }) }}">Edit</a>    
                    {% endif %}
 #}                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
      
{% endblock %}
{% endblock %}