{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    My Orders
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_PROCESSOR') and security == 'true' %}

        <p>
        {% if accountreqs is defined and accountreqs | length > 0 %}
            <a class="text-danger" href="{{ path('accountrequest') }}">Active Account Requests:{{ accountreqs | length }}</a>
        {% endif %}

        {% if (accountreqs is defined and accountreqs | length > 0) and (accessreqs is defined and accessreqs | length > 0) %}
            |
        {% endif %}

        {% if accessreqs is defined and accessreqs | length > 0 %}
            <a class="text-danger" href="{{ path('accessrequest_list') }}">Active Access Requests:{{ accessreqs | length }}</a>
        {% endif %}
        </p>

    {% endif %}

    <form action="{{ path(routename) }}" method="get" {{ form_enctype(form) }} class="well form-search">
        <div class="row">
            <div class="col-xs-3">
                {{ form_widget(form.service) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.filter) }}
                {#<button class="btn btn-xs btn-default" type="submit"><i class="icon-filter"></i> Filter by Status</button>#}
            </div>
            <div class="col-xs-4">
                {{ form_widget(form.search) }}
            </div>
            <div class="col-xs-2">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-sm btn-default order-filter-btn"><i class="icon-search"></i>Filter</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                
                {% if routename == 'index' %}
                
                    <th{% if pagination.isSorted('orderinfo.orderdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'orderinfo.orderdate') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status', 'status.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'orderinfo.oid') }}</th>
                    {#<th>Slides</th>#}
                    <th>{{ knp_pagination_sortable(pagination, 'Slides', 'slidecount') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Priority', 'orderinfo.priority') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Return to', 'orderinfo.returnoption') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Type', 'formtype.name') }}</th>
                    {% if showprovider is defined and showprovider == 'true' %}
                       <th>{{ knp_pagination_sortable(pagination, 'Provider_TODEL', 'provider.username') }}</th>
                    {% endif %}
                
                {% endif %}
                       
                       
                {% if routename == 'adminindex' %}
                       
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'orderinfo.oid') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Stat', 'orderinfo.scandeadline') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Date', 'orderinfo.orderdate') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Submitter', 'provider.username') }}</th>  
                    <th>{{ knp_pagination_sortable(pagination, 'Slides', 'slidecount') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Return To', 'orderinfo.returnSlide') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Type', 'formtype.name') }}</th>                   
                    
                {% endif %}
                   
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {#<tbody>#}
        {#{% for entity in entities %}#}
        {% for entitycomplex in pagination  %}

            {% set entity = entitycomplex|first %}

            {% if entity.status.name == 'Submitted' or entity.status.name == 'Amended' %}
                <tr class="activetr" >
            {% elseif entity.status.action == 'Cancel' or entity.status.name == 'Superseded' %}
                <tr class="canceltr" >
            {% elseif entity.status.name == 'Filled: Scanned' %}
                <tr class="completedtr" >
            {% elseif entity.status.name == 'Not Submitted' %}
                <tr class="uncompletedtr" >
            {% else %}
                <tr>
            {% endif %}
                 
            {% if routename == 'index' %}        
                    
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('m/d/Y H:i') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                    <a href="{{ path('multy_show', { 'id': entity.oid }) }}">{{ entity.oid }}</a>
                </td>
                <td>
                    {{ entity.slide|length }}
                </td>
                <td>{{ entity.priority }}</td>            
                <td>{{ entity.returnSlide }}</td>
                <td>{{ entity.type }}</td>
                {% if showprovider is defined and showprovider == 'true' %}
                    <td>
                        {% for provider in entity.provider %}
                            {{ provider.username }}
                        {% endfor %}
                    </td>
                {% endif %}
                    
            {% endif %}
                    
            {% if routename == 'adminindex' %}    
                                   
                <td>                  
                    <a href="{{ path('multy_show', { 'id': entity.oid }) }}">{{ entity.oid }}</a>
                </td>
                {% if entity.scandeadline != '' %}
                    <td>{{ entity.scandeadline|date('m/d') }}</td>
                {% else %}    
                    <td></td>
                {% endif %}
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('m/d/Y H:i') }}{% endif %}</td>
                <td>{{ entity.provider|first }}</td>
                <td>{{ entity.slide|length }}</td> 
                <td>{{ entity.returnSlide }}</td>
                <td>{{ entity.type }}</td>
                    
            {% endif %}        
                    
                <td class="rowlink-skip">
                    {% include 'OlegOrderformBundle::Default/action.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}