{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% block title %}
    My Orders
{% endblock %}

{% block content %} 
{% block body -%}

    {% if is_granted('ROLE_ADMIN') and security == 'true' %}
        <span class="text-info">Total Orders: {{ pagination.getTotalItemCount }}</span> |
        <a href="{{ path('admin_index') }}">Admin</a> |
        {% if userreqs is defined %}
            {% if userreqs | length == 0 %}
                <span class="text-success">Active User Requests:{{ userreqs | length }}</span> |
            {% else %}
                <span class="text-danger">Active User Requests:{{ userreqs | length }}</span> |
            {% endif %}  
        {% else %}
            <span class="text-success">Active User Requests:0</span> |
        {% endif %}
        <a href="{{ path('accountrequest') }}">All User Requests</a>
    {% endif %}

    <form action="{{ path('index') }}" method="get" {{ form_enctype(form) }} class="well form-search">
        <div class="row">
            <div class="col-xs-3">
                {{ form_widget(form.service) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.filter) }}
                {#<button class="btn btn-xs btn-default" type="submit"><i class="icon-filter"></i> Filter by Status</button>#}
            </div>
            <div class="col-xs-4">
                {{ form_widget(form.search) }}
            </div>
            <div class="col-xs-1">
                <button type="submit" class="btn btn-xs btn-default"><i class="icon-search"></i>Filter</button>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th{% if pagination.isSorted('orderinfo.orderdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'orderinfo.orderdate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status', 'status.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'orderinfo.id') }}</th>
                <th>Slides #</th>
                <th>{{ knp_pagination_sortable(pagination, 'Priority', 'orderinfo.priority') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Return to', 'orderinfo.returnoption') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Type', 'orderinfo.type') }}</th>
                {% if showprovider is defined and showprovider == 'true' %}
                   <th>{{ knp_pagination_sortable(pagination, 'Provider', 'provider.username') }}</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {#{% for entity in entities %}#}
        {% for entity in pagination  %}
            
            {% if entity.status.name == 'Submitted' %}
                <tr class="activetr" >
            {% elseif entity.status.name == 'Canceled' %}
                <tr class="canceltr" >
            {% elseif entity.status.name == 'Filled: Scanned' %}
                <tr class="completedtr" >
            {% elseif entity.status.name == 'Not Submitted' %}
                <tr class="uncompletedtr" >
            {% else %}
                <tr>
            {% endif %}
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                    {#<a href="{{ path('scanorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a>#}
                    <a href="{{ path('multy_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                </td>
            {#<td>{{ entity.slide.count }}</td>#}
            <td>
                    {#{{ entity.slide.count }}:#}
{#                    {% for patient in entity.patient %}#}
{#                        {{ patient.specimen }}#}
{#                        {% for specimen in patient.specimen %}#}
{#                            {{ specimen.proceduretype }}#}
{#                        {%endfor%}#}
{#                    {% endfor %}#}
                    {% for slide in entity.slide %}
                        <a href="{{ path('slide_show', { 'id': slide.id }) }}">
                            <p>{{ slide.block.part.accession.accession }}&nbsp;{{slide.block.part.name}}{{slide.block.name}}</p>
                        </a>
                    {% endfor %}
                </td>
                <td>{{ entity.priority }}</td>            
                <td>{{ entity.returnSlide }}</td>
                <td>{{ entity.type }}</td>
                {% if showprovider is defined and showprovider == 'true' %}
                    <td>
                        {% for provider in entity.provider %}
                            {{ provider.username }}
                        {% endfor %}
                    </td>
                {% endif %}
                <td>  
                    
                    {{ include('OlegOrderformBundle::Default/action.html.twig') }}
{#             
                    <a class="btn btn-small btn-info" href="{{ path('scanorder_show', { 'id': entity.id }) }}">Show</a>
                    
                    {% if entity.status != 'canceled' %}
                    <a onclick="return confirm('Are you sure?');" class="btn btn-small btn-danger" href="{{ path('scanorder_cancel', { 'id': entity.id }) }}">Cancel</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}  
                    <a class="btn btn-small btn-warning" href="{{ path('scanorder_edit', { 'id': entity.id }) }}">Edit</a>    
                    {% endif %}
 #}                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
      
{% endblock %}
{% endblock %}