{#{% extends '::base.html.twig' %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{% block body -%}

{#   
    <h2>My Orders</h2>
    <div class="btn_margin_top">
        <form method="get" action="{{ path('scanorder_new') }}">
            <button type="submit" class="btn btn-primary btn-success">New Scan Order</button>
        </form>
    </div>
#} 

    <form action="{{ path('index') }}" method="get" {{ form_enctype(form) }}>                  
        {{ form_errors(form) }} 
        
        <div class="row">
            <div class="span5">
{#            {{ form_label(form.filter) }}#}
{#            </div>#}
{#            <div class="span4" align="left">#}
            {{ form_widget(form.filter) }}
            <button class="btn " type="submit">Filter</button>     
            </div>
{#        </div>#}
{#        <div class="row">#}
            <div class="span5">
{#            {{ form_label(form.search) }}#}           
{#            </div>#}
{#            <div class="span4" align="left">#}
            {{ form_widget(form.search) }}   
            <button class="btn" type="submit">Search</button>
            </div>
        </div>
        
        {{ form_rest(form) }}
    </form>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Order#</th>
                <th>#Slides</th>
                <th>Order Date</th>
                <th>Status</th>              
                <th>Priority</th>               
                <th>Return Slide</th>             
                <th>Provider</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            
            {% if entity.status == 'active' %}
                <tr class="activetr" >
            {% elseif entity.status == 'cancel' %}
                <tr class="canceltr" >
            {% elseif entity.status == 'completed' %}
                <tr class="completedtr" >
            {% elseif entity.status == 'uncompleted' %}
                <tr class="uncompletedtr" >
            {% else %}
                <tr>
            {% endif %}

                <td><a href="{{ path('scanorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {{ entity.slide.count }}:
{#                    {% for patient in entity.patient %}#}
{#                        {{ patient.specimen }}#}
{#                        {% for specimen in patient.specimen %}#}
{#                            {{ specimen.proceduretype }}#}
{#                        {%endfor%}#}
{#                    {% endfor %}#}
                    {% for slide in entity.slide %}
                        <a href="{{ path('slide_show', { 'id': slide.id }) }}">
                            acc:{{ slide.accession }}&nbsp;
                            {{ slide.block.part }}
                            {{ slide.block }} 
                        </a>
                    {% endfor %}
                </td>
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('Y-m-d H') }}h{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.priority }}</td>            
                <td>{{ entity.returnSlide }}</td>
                <td>{{ entity.provider }}</td>
                <td>  
                    
                    {{ include('OlegOrderformBundle::Default/action.html.twig') }}
{#             
                    <a class="btn btn-small btn-info" href="{{ path('scanorder_show', { 'id': entity.id }) }}">Show</a>
                    
                    {% if entity.status != 'canceled' %}
                    <a onclick="return confirm('Are you sure?');" class="btn btn-small btn-danger" href="{{ path('scanorder_cancel', { 'id': entity.id }) }}">Cancel</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}  
                    <a class="btn btn-small btn-warning" href="{{ path('scanorder_edit', { 'id': entity.id }) }}">Edit</a>    
                    {% endif %}
 #}                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      
{% endblock %}
{% endblock %}