{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{#{% form_theme form 'OlegOrderformBundle:Default:fields.html.twig' %}    #}
{#{% form_theme form 'OlegOrderformBundle:Default:form_table_layout.html.twig' %}#}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Scan Order
{% endblock %}

{% block content %} 
    
    <h3 class="text-info">Scan Order</h3>

    {#    {% include 'OlegOrderformBundle:ScanOrder:table.html.twig' %}       #}
{#    EMAIL:{{ app.security.getToken().getAttribute('email') }}#}
    
    <form action="{{ path('singleorder_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_start(form) }}        
        
        {{ form_errors(form) }} 
        {{ form_errors(form_patient) }}
        {{ form_errors(form_procedure) }}
        {{ form_errors(form_accession) }}
        {{ form_errors(form_part) }}
        {{ form_errors(form_block) }}
        {{ form_errors(form_slide) }}
        {{ form_errors(form_scan) }}
        {{ form_errors(form_stain) }}

        
        <div  class="panel panel-patient">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Slide Info</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body collapse in">

                <div class="row">
                    <div class="col-xs-6" align="right">
                        {{ form_label(form_accession.accession, '* Accession+Part+Block') }}
                    </div>
                    <div class="col-xs-6" align="left">
                        {{ form_widget(form_accession.accession) }} {{ form_widget(form_part.name) }} {{ form_widget(form_block.name) }}
                    </div>
                </div>

                {{ formmacros.field(form_stain.name) }}

                {{ formmacros.field(form_scan.mag) }}

                {{ formmacros.field(form_part.diagnosis) }}

                {{ formmacros.field(form_scan.note) }}

            </div>
        </div>

        <button id="next_button" type="button" class="btn btn-success" 
                data-toggle="collapse" data-target="#orderinfo_param">Next
        </button>


        <div id="orderinfo_param" class="collapse">

            {{ formmacros.orderinfo_panel(form,"Order Info") }}

            <div class="row">
                <p>
                    <button class="btn btn-primary btn-success" type="submit">Submit</button>
                </p>
            </div> 
        
      
        {#        The optional parameter    #}
        <div class="row">
        <p>
            <button id="optional_button" type="button" class="btn btn-default" data-toggle="collapse" data-target="#optional_param">
                Add Optional Info
            </button>
        </p>
        </div>
        
        <div id="optional_param" class="collapse">
              
            <div class="row">
            <div class="span12">
            <ul class="nav nav-tabs" id="optional_param_tab">
                <li class="active"><a href="#patient">Patient</a></li>
                <li><a href="#procedure">Procedure</a></li>
                {#<li><a href="#accession">Accession</a></li>#}
                <li><a href="#part">Part</a></li>
{#                <li><a href="#block">Block</a></li>             #}
{#                <li><a href="#stain">Stain</a></li>#}
                <li><a href="#scan">Scan</a></li> 
                <li><a href="#slide">Slide</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="patient">
                  {{ formmacros.field(form_patient.mrn) }}
                  {{ formmacros.field(form_patient.name) }}
                  {{ formmacros.field(form_patient.age) }}
                  {{ formmacros.field(form_patient.sex) }}
                  {{ formmacros.field(form_patient.dob) }}
                  {{ formmacros.field(form_patient.clinicalHistory) }}
              </div>
              <div class="tab-pane" id="procedure">
                  {{ formmacros.field(form_procedure.proceduretype) }}
                  {{ formmacros.field(form_procedure.paper) }}
              </div>
              {#<div class="tab-pane" id="accession">#}
                  {#{{ formmacros.field(form_accession.date) }}#}
              {#</div>#}
              <div class="tab-pane" id="part">
                  {{ formmacros.field(form_part.sourceOrgan) }}
                  {{ formmacros.field(form_part.description) }}
                  {{ formmacros.field(form_part.diffDiagnosis) }}
                  {#{{ formmacros.field(form_part.diseaseType) }}#}
                  {{ formmacros.disease(form_part) }}
              </div>

{#              <div class="tab-pane" id="block"> {{ form_rest(form_block) }}</div>           #}
{#              <div class="tab-pane" id="stain"> {{ form_rest(form_stain) }} </div>#}

              {#<div class="tab-pane" id="scan">#}
                  {#{{ formmacros.field(form_scan.scanregion) }}#}
              {#</div>#}

              <div class="tab-pane" id="slide">
                  {{ formmacros.field(form_slide.diagnosis) }}
                  {{ formmacros.field(form_slide.microscopicdescr) }}
                  {{ formmacros.field(form_slide.specialstain) }}
                  {{ formmacros.field(form_slide.relevantscan) }}
              </div>

                <div class="tab-pane" id="scan">
                    {{ formmacros.field(form_scan.scanregion) }}
                </div>

            </div>
                
            </div>
            </div>
                 
            {# Just in case display rest of the form to prevent CRF error #}
            {{ form_rest(form) }}
            {{ form_rest(form_patient) }}
            {{ form_rest(form_procedure) }}
            {{ form_rest(form_accession) }}
            {{ form_rest(form_part) }}
            {{ form_rest(form_block) }}
            {{ form_rest(form_slide) }}
            {{ form_rest(form_scan) }}
            {{ form_rest(form_stain) }}
            
        </div>     
       </div>      
{#        <a class='btn_margin_top btn btn-primary' href="{{ path('orderinfo') }}">Back to the list</a>#}

    {{ form_end(form) }}
    </form>
              
    
{% endblock %} 