{#{% extends "::base.html.twig" %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{#{% block body -%}#}
    
<h2>Order Creation</h2>

<form action="{{ path('multy_create') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
   
    <h3>Slide:</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.patient.vars.prototype)|e }}" >  
        
        {# order info staff #}
        <div class="row">
            <div class="span12">
            <h4>Scan Order Info</h4>   
            </div>
            </div>
            <div class="row">
            <div class="span4">
            {{ form_label(form.provider) }}
            </div>
            <div class="span4">
            {{ form_widget(form.provider) }} 
            </div>
            </div>
            <div class="row">
            <div class="span4">
            {{ form_label(form.pathologyService) }}
            </div>
            <div class="span4">
            {{ form_widget(form.pathologyService) }}
            </div>
            </div>
                   
            <div class="row">
            <div class="span4">
            {{ form_label(form.priority) }}
            </div>
            <div class="span4">
            {{ form_widget(form.priority) }}
            </div>
            </div>
{#            optional for priority#}
            <div id="priority_option" class="collapse"> 
                <div class="row">              
                <div class="span4">
                {{ form_label(form.scandeadline) }}
                </div>            
                <div class="span4">
                {{ form_widget(form.scandeadline) }} 
                </div>   
                </div>    
            </div>  
                
            <div class="row">
            <div class="span4">
            {{ form_label(form.slideDelivery) }}
            </div>
            <div class="span4">
            {{ form_widget(form.slideDelivery) }}
            </div>
            </div>
            <div class="row">
            <div class="span4">
            {{ form_label(form.returnSlide) }}
            </div>
            <div class="span4">
            {{ form_widget(form.returnSlide) }}
            </div>
            </div>
            <div class="row">
            <div class="span12">
                <button class="btn_margin_top btn btn-primary btn-success" type="submit">Submit</button>        
            </div>
            </div> 
        
        {% for patient in form.patient %}
            <li>
                {{ form_widget(patient) }}
                
                {# do the same for specimen #}
                <h3>Specimen:</h3>              
                <ul class="tags" data-prototype="{{ form_widget(patient.specimen.vars.prototype)|e }}" >                  
                {% for specimen in patient.specimen %}
                    <li>
                        {{ form_widget(specimen) }}
                    </li>       
                {% endfor %}   
                </ul>
                
            </li>       
        {% endfor %}                           
    </ul>
    
    {{ form_rest(form) }}


{#    Test cal controller: it works!#}
{#    {% render url('part_new') %}#}
    
    <p>
        <button type="submit">Create Order</button>
    </p>
</form>
    
{% endblock %}    
{#{% endblock %}#}
  