{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block mainjs %}

    {% javascripts
    '@OlegOrderformBundle/Resources/public/jquery/jquery-1.11.0.min.js'
    '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimeout.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimer.js'
    '@OlegOrderformBundle/Resources/public/form/js/idleTimeout.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script language="Javascript">
        $(document).ready(function() {
            idleTimeout();
        });
    </script>

{% endblock %}

{% block content %}

    {% if cicle == 'new' %}
        {% set cicleStr = 'Submitted' %}
    {% elseif cicle == 'edit' %}
        {% set cicleStr = 'Saved' %}
    {% else %}
        {% set cicleStr = 'Amended' %}
    {% endif %}

    {% set emailconf = "" %}
    {% if app.security.getToken().getUser.getEmail != "" %}
        {% set emailconf = " and a confirmation email was sent to "~app.security.getToken().getUser.getEmail %}
    {% endif %}

    <div class="alert alert-info well-lg">
        <p><h1>Thank you for your order!</h1></p>
        <p><h3>
            <a href="{{ path('multy_show', { 'id': oid }) }}">Order {{ oid }}</a> has been successfully {{ cicleStr|lower }}{{ emailconf }}.
        </h3></p>

        {% if app.security.getToken().getUser.getEmail == null or app.security.getToken().getUser.getEmail == "" %}
            <p><h3>
                If you would like to receive email notifications regarding this and future orders, please update
                <a href="{{ path('showuser', { 'id': app.security.getToken().getUser.getId }) }}">your profile</a>
                by adding your email account.
            </h3></p>
        {% endif %}

        <p><a class="btn btn-info btn-large btn_margin_top" href="{{ path(neworder) }}">
                Submit Another Scan Order
            </a>
        </p>

    </div>

    {% if conflicts is defined and conflicts != "" and conflicts != "noconflicts" %}
        <div class="alert alert-danger">
            {{ conflicts|raw }}
        </div>
    {% endif %}
    {#{% for conflict in conflicts %}#}
        {#<div class="alert alert-danger">#}
            {#{{ conflict }}#}
        {#</div>#}
    {#{% endfor %}#}

{% endblock %}