{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

<!DOCTYPE html>

<html>

<head>

    {% if security is not defined %}
        {% set security = 'true' %}
    {% endif %}


    {% stylesheets
        'orderassets/appuserdirectory/bootstrap/css/*' filter='cssrewrite'
        'orderassets/appuserdirectory/form/css/form.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block errorwatchjs %}
        {% javascripts
            '@AppUserdirectoryBundle/Resources/public/form/js/errorwatch.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block maincss %}

        {#jasny is used for clickable rows#}

        {% stylesheets
        'orderassets/appuserdirectory/select2/select2.css' filter='cssrewrite'
        'orderassets/appuserdirectory/jasny/css/jasny-bootstrap.min.css' filter='cssrewrite'
        'orderassets/appuserdirectory/ladda/ladda-themeless.css' filter='cssrewrite'
        'orderassets/appuserdirectory/form/css/action.css' filter='cssrewrite'
        'orderassets/appuserdirectory/pnotify/pnotify.custom.min.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'orderassets/appuserdirectory/dropzone/css/dropzone.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'orderassets/appuserdirectory/datepicker/css/bootstrap-datepicker3.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}


        {% stylesheets
        'orderassets/appuserdirectory/jquery-ui-1.11.2/themes/smoothness/jquery-ui.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {#<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">#}


        {% stylesheets
        'orderassets/appuserdirectory/form/css/typeahead.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'orderassets/appuserdirectory/fengyuanchen-image-cropper/cropper.min.css' filter='cssrewrite'
        'orderassets/appuserdirectory/form/css/crop-avatar.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
        'orderassets/appuserdirectory/vakata-jstree/themes/default/style.min.css' filter='cssrewrite'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    {% block additionalcss %}{% endblock %}


    {% block ie8fixjs %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        {% javascripts
        '@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/html5shiv.min.js'
        '@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/respond.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->

    {% endblock %}
        
    {% block headeradditionaljs %}{% endblock %}    


    <title>
        {% block title %}
            User Directory
        {% endblock %}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% import "AppUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    {{ usermacros.nonLiveSiteRedirect() }}

    <!-- we want to force people to click a button, so hide the close link in the toolbar -->
    {#<style type="text/css">a.ui-dialog-titlebar-close { display:none }</style>#}

    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('orderassets/appuserdirectory/form/img/users-1-64x64.png') }}" />
    {% endblock %}

</head>


<body>


    <div class="container col-xs-12">

        {{ usermacros.nonLiveSiteWarning() }}

        {% block browsercheck %}
            {% if cycle is not defined or cycle != "download" %}
                {{ usermacros.browserCheck() }}
            {% endif %}
        {% endblock %}

        <div class="col-xs-12">

            {% block header %}
                {# <img src="{{ asset('/../../images/slide1.jpg') }}" alt="Slide">#}
                {% include 'AppUserdirectoryBundle:Default:navbar.html.twig' %}
            {% endblock %}

        </div>

        <div class="text-center col-xs-12">

            {% include 'AppUserdirectoryBundle::Security/idle_timeout.html.twig' %}
            
            <div class="browser-notice alert alert-warning center-block" align="middle" style="width: 70%; display:none;"></div>

            {% for flashMessage in app.flashes('notice') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-info center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            {% for flashMessage in app.flashes('status-changed') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-success center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            {% for flashMessage in app.flashes('warning') %}
                <div style="height: 1%;">&nbsp;</div>
                <p class="alert alert-danger center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
            {% endfor %}

            {% for flashMessage in app.flashes('pnotify') %}
                <input type="hidden" id="pnotify-notice" value="{{ flashMessage|raw }}" />
            {% endfor %}
            {% for flashMessage in app.flashes('pnotify-error') %}
                <input type="hidden" id="pnotify-notice" class="pnotify-notice-error" value="{{ flashMessage|raw }}" />
            {% endfor %}
            {% for flashMessage in app.flashes('pnotify-success') %}
                <input type="hidden" id="pnotify-notice" class="pnotify-notice-success" value="{{ flashMessage|raw }}" />
            {% endfor %}

            <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />
            <input type="hidden" id="maxIdleTime" value="{{app.session.get('maxIdleTime')}}" />
            <input type="hidden" id="siteEmail" value="{{app.session.get('siteEmail')}}" />
            <input type="hidden" id="authuser_id" value="{{app.user.getId()}}" />

        </div>


        <div class="order-content text-center col-xs-12">
            {% block content %}{% endblock %}
        </div>

        <div class="order-content col-xs-12">
            {% block contentleft %}{% endblock %}
        </div>

        {% block footer %}
        <div class="order-content text-center col-xs-12">
            <!-- footer -->
            {% include 'AppUserdirectoryBundle::Default/footer.html.twig' %}
        </div>
        {% endblock %}


        {% block mainjs %}

            {#'@AppUserdirectoryBundle/Resources/public/form/js/form.js'#}
            {#'@AppUserdirectoryBundle/Resources/public/form/js/tooltips.js'#}
            {#'@AppUserdirectoryBundle/Resources/public/idletimer/idle-timer.min.js'#}
            {#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}

            {% javascripts
                '@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'
                '@AppUserdirectoryBundle/Resources/public/jquery-ui-1.11.2/jquery-ui.js'
                '@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'
                '@AppUserdirectoryBundle/Resources/public/ladda/spin.min.js'
                '@AppUserdirectoryBundle/Resources/public/ladda/ladda.min.js'
                '@AppUserdirectoryBundle/Resources/public/datepicker/js/bootstrap-datepicker.js'
                '@AppUserdirectoryBundle/Resources/public/select2/select2.js'
                '@AppUserdirectoryBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'
                '@AppUserdirectoryBundle/Resources/public/pnotify/pnotify.custom.min.js'

                '@AppUserdirectoryBundle/Resources/public/form/js/user-form.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-common.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-selectAjax.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-masking.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-formReady.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-basetitles.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-treeSelectAjax.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-validation.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-fileuploads.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-navbar.js'

                '@AppUserdirectoryBundle/Resources/public/vakata-jstree/jstree.min.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-jstree.js'

                '@AppUserdirectoryBundle/Resources/public/typeahead/typeahead.bundle.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-typeahead.js'

                '@AppUserdirectoryBundle/Resources/public/fengyuanchen-image-cropper/cropper.min.js'
                '@AppUserdirectoryBundle/Resources/public/form/js/user-crop-avatar.js'

                '@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimeout.js'
                '@AppUserdirectoryBundle/Resources/public/idletimeout/jquery.idletimer.js'
                
                '@AppUserdirectoryBundle/Resources/public/form/js/user-idleTimeout.js'
                '@AppUserdirectoryBundle/Resources/public/jasny/js/rowlink.js'
                '@AppUserdirectoryBundle/Resources/public/q-1/q.js'

            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}


            {#dropzone#}
            {% javascripts
                '@AppUserdirectoryBundle/Resources/public/dropzone/dropzone.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {#FOSJsRoutingBundle#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        {% endblock %}

        {% block additionaljs %}{% endblock %}


    </div>

</body>
         
</html>
