{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

<input type="hidden" id="formcycle" value="{{ cycle }}" />

<div id="form-prototype-data"
     data-userurllink = "{{ usermacros.userUrlLink()|e }}"
     data-uploadurl = "{{ oneup_uploader_endpoint('ctp_gallery') }}"
     data-userid = "{{ app.user.id }}"
></div>

{{ form_start(form) }}

    {{ form_errors(form) }}

    {% if form.ctpLogos is defined %}
        <div class="well form-element-holder user-ctpLogos">
            <label class="col-xs-12 control-label">Site logo image</label>
            <div class="row withpaddingtop">
                <div class="col-xs-12">
                    {{ usermacros.documentsContainer(null,form.ctpLogos,cycle,'noprototype',1,'default','CTP Logo','asForm') }}
                </div>
            </div>
        </div>
    {% endif %}

    {{ formmacros.field(form.logoTopText) }}
    {{ formmacros.field(form.logoBottomText) }}
    {{ formmacros.field(form.logoTopTextColor) }}
    {{ formmacros.field(form.logoBottomTextColor) }}
    {{ formmacros.field(form.navbarSiteTitle) }}
    {{ formmacros.field(form.navbarButtonTitle) }}
    {{ formmacros.field(form.footerInstLink) }}
    {{ formmacros.field(form.footerDepLink) }}

    {% if cycle == "show" %}
        <p>
            <a class="btn btn-primary" href="{{ path('ctp_siteparameters_edit_specific_site_parameters') }}">Edit</a>
        </p>
    {% endif %}

{{ form_end(form) }}
