{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#   navigation menu   #}

{% block navbar %}

    {#{% set pendingadminreview = render(controller("AppUserdirectoryBundle:User:pendingAdminReview")) %}#}

    <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_VACREQ_USER') %}
                <!-- this is for mobile devices - top menu -->
                <a class="navbar-brand visible-xs visible-sm" href="{{ path(vacreq_sitename~'_home') }}">Home</a>
            {% endif %}
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:none;">


            {% if is_granted('ROLE_VACREQ_USER') %}

                <ul class="nav navbar-nav">

                    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
                    {{ usermacros.siteSwitch() }}

                    {% if   is_granted('ROLE_VACREQ_SUBMITTER') or
                            is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                            is_granted('ROLE_VACREQ_APPROVER') or
                            is_granted('ROLE_VACREQ_SUPERVISOR')
                    %}
                        <li id="nav-bar-vacreqhome" class="hidden-xs divider-vertical">
                            <a href="{{ path(vacreq_sitename~'_home') }}">
                                <span class="glyphicon glyphicon-plane"></span> Home
                            </a>
                        </li>
                    {% endif %}

                    {#{% if is_granted('ROLE_VACREQ_SUBMITTER') %}#}
                        {#<li id="nav-bar-vacreqnew" class="divider-vertical">#}
                            {#<a href="{{ path('vacreq_new') }}">New Request</a>#}
                        {#</li>#}
                    {#{% endif %}#}

                    {% if   is_granted('ROLE_VACREQ_SUBMITTER') or
                            is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                            is_granted('ROLE_VACREQ_APPROVER') or
                            is_granted('ROLE_VACREQ_SUPERVISOR')
                    %}
                        <li id="nav-bar-myrequests" class="divider-vertical">
                            <a href="{{ path('vacreq_myrequests') }}">
                                My Requests
                            </a>
                        </li>
                    {% endif %}

                    {#Away Calendar#}
                    {% if   is_granted('ROLE_VACREQ_SUBMITTER') or
                            is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                            is_granted('ROLE_VACREQ_APPROVER') or
                            is_granted('ROLE_VACREQ_SUPERVISOR') or
                            is_granted('ROLE_VACREQ_OBSERVER')
                    %}
                        <li id="nav-bar-awaycalendar" class="divider-vertical">
                            <a href="{{ path('vacreq_awaycalendar') }}">
                                Away Calendar
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_VACREQ_APPROVER') or is_granted('ROLE_VACREQ_SUPERVISOR') %}
                        <li id="nav-bar-incomingrequests" class="divider-vertical">
                            {#<a href="{{ path('vacreq_incomingrequests') }}">#}
                                {#Incoming Requests#}
                            {#</a>#}
                            {% set pendingRequests = vacreq_util.getTotalPendingRequests(app.user) %}
                            {#{% set pendingCarryoverRequests = vacreq_util.getTotalPendingCarryoverRequests(app.user) %}#}
                            {% if pendingRequests is defined and pendingRequests > 0 %}
                                <a id="incoming-orders-menu-title" href="{{ path('vacreq_incomingrequests') }}">Incoming Requests</a><!--
                                            --><a id="incoming-orders-menu-badge"
                                                  class="element-with-tooltip-always"
                                                  title="Pending Approval" data-toggle="tooltip"
                                                  data-placement="bottom"
                                                  href="{{ path('vacreq_incomingrequests',{'filter[pending]':1}) }}"
                                                ><span class="badge">{{ pendingRequests }}</span></a>
                            {% else %}
                                <a href="{{ path('vacreq_incomingrequests') }}">
                                    Incoming Requests
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {% if
                        is_granted('ROLE_VACREQ_APPROVER') or
                        is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                        is_granted('ROLE_VACREQ_SUPERVISOR')
                    %}
                        {%  set hrefFilters = vacreq_util.getApprovalGroupTypeFilters() %}
                        {% if hrefFilters|length > 0 %}
                            <li id="nav-bar-mygroup" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Summary<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for hrefFilter in hrefFilters %}
                                        <li id="nav-bar-summary-all" class="divider-vertical">
                                            {{ hrefFilter|raw }}
                                        </li>
                                    {% endfor %}
                                    {#<li id="nav-bar-summary-all" class="divider-vertical">#}
                                        {#<a href="{{ path('vacreq_summary', {'filter[types][0]': '1', 'filter[types][1]': '2'}) }}">All</a>#}
                                    {#</li>#}

                                    {#<li id="nav-bar-summary-faculty" class="divider-vertical">#}
                                        {#<a href="{{ path('vacreq_summary', {'filter[types][0]': '1'}) }}">Faculty</a>#}
                                    {#</li>#}
                                    {#<li id="nav-bar-summary-fellows" class="divider-vertical">#}
                                        {#<a href="{{ path('vacreq_summary', {'filter[types][0]': '2'}) }}">Fellows</a>#}
                                    {#</li>#}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if
                        is_granted('ROLE_VACREQ_APPROVER') or
                        is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                        is_granted('ROLE_VACREQ_SUPERVISOR')
                    %}
                        <li id="nav-bar-approvers" class="divider-vertical">
                            <a href="{{ path('vacreq_approvers') }}">
                                Manage Groups
                            </a>
                        </li>
                    {% endif %}

                    {#Request Carry Over#}
                    {% if   is_granted('ROLE_VACREQ_SUBMITTER') or
                            is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                            is_granted('ROLE_VACREQ_APPROVER') or
                            is_granted('ROLE_VACREQ_SUPERVISOR')
                    %}
                        {% if
                            vacreq_util.canCreateNewCarryOverRequest() or
                            is_granted('ROLE_VACREQ_SUPERVISOR') or
                            is_granted('ROLE_VACREQ_ADMIN')
                        %}
                            <li id="nav-bar-carryoverrequest" class="divider-vertical">
                                <a href="{{ path('vacreq_carryoverrequest') }}">
                                    Request Carry Over
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% set floatingDayName = user_security_utility.getSiteSettingParameter('floatingDayName',vacreq_sitename) %}
                    {% if not floatingDayName %}
                        {% set floatingDayName = "Floating Day" %}
                    {% endif %}

                    {% set enableFloatingDay = user_security_utility.getSiteSettingParameter('enableFloatingDay',vacreq_sitename) %}
                    {% if floatingDayName and enableFloatingDay %}
                        {% if   is_granted('ROLE_VACREQ_SUBMITTER') or
                                is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                                is_granted('ROLE_VACREQ_ADMIN') or
                                is_granted('ROLE_VACREQ_SUPERVISOR') or
                                is_granted('ROLE_VACREQ_APPROVER')
                        %}
                            <li id="nav-bar-floatingdayrequest" class="divider-vertical">
                                {#<a href="{{ path('vacreq_floating_day') }}">#}
                                    {#{{ floatingDayName|raw }}#}
                                {#</a>#}

                                {% set pendingFloatingRequests = vacreq_util.getTotalFloatingPendingRequests(app.user) %}
                                {% set floatingRequestTypeId = vacreq_util.getFloatingRequestTypeId() %}
                                {% if
                                    pendingFloatingRequests is defined and
                                    pendingFloatingRequests > 0 and
                                    (is_granted('ROLE_VACREQ_APPROVER') or is_granted('ROLE_VACREQ_SUPERVISOR') or is_granted('ROLE_VACREQ_ADMIN') )
                                %}
                                    <a id="incoming-orders-menu-title" href="{{ path('vacreq_floating_day') }}">{{ floatingDayName|raw }}</a><!--
                                            --><a id="incoming-orders-menu-badge"
                                                  class="element-with-tooltip-always"
                                                  title="Pending Approval" data-toggle="tooltip"
                                                  data-placement="bottom"
                                                  href="{{ path('vacreq_floatingrequests',{'filter[pending]':1,'filter[requestType]':floatingRequestTypeId}) }}"
                                ><span class="badge">{{ pendingFloatingRequests }}</span></a>
                                {% else %}
                                    <a href="{{ path('vacreq_floating_day') }}">
                                        {{ floatingDayName|raw }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endif %}


                    {% if   is_granted('ROLE_VACREQ_SUBMITTER') or
                    is_granted('ROLE_VACREQ_PROXYSUBMITTER') or
                    is_granted('ROLE_VACREQ_APPROVER') or
                    is_granted('ROLE_VACREQ_SUPERVISOR') or
                    is_granted('ROLE_VACREQ_OBSERVER')
                    %}
                        {#<li id="nav-bar-awaycalendar" class="divider-vertical">#}
                            {#<a href="{{ path('vacreq_awaycalendar') }}">#}
                                {#Away Calendar#}
                            {#</a>#}
                        {#</li>#}
                        <li id="nav-bar-observedholidays" class="divider-vertical">
                            <a href="{{ path(vacreq_sitename~'_show_observed_holidays') }}">Observed Holidays</a>
                        </li>
                    {% endif %}

                </ul>

            {% endif %}

           

            <ul class="nav navbar-nav navbar-right">

                {% if is_granted('ROLE_VACREQ_ADMIN') %}

                    <li id="nav-bar-admin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            {#<li><a href="{{ path('accountrequest') }}">Account Requests</a></li>#}

                            {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
                                {#<li><a href="{{ path('user_admin_index') }}">List Manager</a></li>#}
                                {#<li><a href="{{ path('user_admin_hierarchy_index') }}">Hierarchy Manager</a></li>#}
                                {#<li class="divider"></li>#}
                            {#{% endif %}#}

                            <li><a href="{{ path(vacreq_sitename~'_accessrequest_list') }}">Access Requests</a></li>
                            <li><a href="{{ path(vacreq_sitename~'_accountrequest') }}">Account Requests</a></li>
                            <li><a href="{{ path(vacreq_sitename~'_authorized_users') }}">Authorized Users</a></li>

                            <li class="divider"></li>
                            <li><a href="{{ path(vacreq_sitename~'_logger') }}">Event Log</a></li>

                            {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
                                {#<li><a href="{{ path('user_admin_index') }}">List Manager</a></li>#}
                                <li><a href="{{ path('platformlistmanager-list') }}">Platform List Manager</a></li>
                                <li><a href="{{ path(vacreq_sitename~'_siteparameters') }}">Site Settings</a></li>
                            {% endif %}

                            <li class="divider"></li>
                            <li><a href="{{ path(vacreq_sitename~'_manage_holiday_dates') }}">Manage Holiday Dates</a></li>
                            <li><a href="{{ path(vacreq_sitename~'_manage_observed_holidays') }}">Manage Observed Holidays</a></li>
                            {#<li><a href="{{ path(vacreq_sitename~'_show_observed_holidays') }}">Show Observed Holidays years</a></li>#}
                        </ul>
                    </li>

                {% endif %}



                {% if is_granted('ROLE_VACREQ_USER') %}

                    <li id="nav-bar-user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(vacreq_sitename~'_showuser', {id:app.user.getId()}) }}">My Profile ({{ app.user.getUserNameShortStr() }})</a></li>
                            {% endif %}

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(vacreq_sitename~'_about_page') }}">About</a></li>
                            {% endif %}

                            {% if pendinguser is not defined %}
                                <li><a href="{{ path(vacreq_sitename~'_help_page') }}" target="_blank">Help</a></li>
                            {% endif %}

                            <li><a href="{{ path(vacreq_sitename~'_logout') }}">Log Out</a></li>

                        </ul>
                    </li>

                {% endif %}

            </ul>


        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

    </nav>
    
{% endblock %}

