{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% macro request_base_header( pagination, requestStr ) %}

    <th style="border-left: 2px solid gray;">{{ knp_pagination_sortable(pagination, 'Start Date', requestStr~'.startDate') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'End Date', requestStr~'.endDate') }}</th>

    <th>{{ knp_pagination_sortable(pagination, 'Number of Work Days Offsite', requestStr~'.numberOfDays') }}</th>

    {#<th>{{ knp_pagination_sortable(pagination, 'First Day Back in Office', requestStr~'.firstDayBackInOffice') }}</th>#}

    {% if requestStr == 'requestBusiness' %}
        <th>{{ knp_pagination_sortable(pagination, 'Description', requestStr~'.description') }}</th>
    {% endif %}

    <th>{{ knp_pagination_sortable(pagination, 'Status', requestStr~'.status') }}</th>

{% endmacro %}


{% macro request_base_body( parentRequest, request, requestStr ) %}

    {#Set row color#}
    {% set tdclassname = "" %}
    {% if request %}
        {#request.getStatus()={{ request.getStatus() }}#}
        {#parentRequest.extraStatus={{ parentRequest.extraStatus }}<br>#}
        {% if request.getStatus() == 'pending' %}
            {% set tdclassname = "alert alert-warning" %}
        {% endif %}
        {% if request.getStatus() == 'approved' %}
            {% set tdclassname = "alert alert-success" %}
            {% if parentRequest.extraStatus == "Cancellation Requested" %}
                {% set tdclassname = "alert action-amend-status" %}
            {% endif %}
        {% endif %}
        {% if request.getStatus() == 'rejected' %}
            {% set tdclassname = "alert alert-danger" %}
        {% endif %}
        {% if request.getStatus() == 'completed' %}
            {% set tdclassname = "" %}
        {% endif %}
    {% endif %}
    {#EOF Set row color#}

    <td class="{{ tdclassname }}" style="border-left: 2px solid gray;">
        {% if request and request.startDate %}
            {{ request.startDate|date('m/d/Y','UTC') }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.endDate %}
            {{ request.endDate|date('m/d/Y','UTC') }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.numberOfDays %}
            {{ request.numberOfDays }}
        {% endif %}
    </td>

    {#<td>#}
        {#{% if request and request.firstDayBackInOffice %}#}
            {#{{ request.firstDayBackInOffice|date('Y-m-d') }}#}
        {#{% endif %}#}
    {#</td>#}

    {% if requestStr == 'requestBusiness' %}
        <td class="{{ tdclassname }}">
            {% if request and request.description %}
                {{ request.description }}
                {#textarea class="form-control"#}
                {#<div class="textarea_widget">#}
                    {#<textarea class="form-control textarea">{{ request.description }}</textarea>#}
                {#</div>#}
            {% endif %}
        </td>
    {% endif %}

    {#add extraStatus to a status#}
    {#{% set extraStatusStr = parentRequest.extraStatus %}#}
    {#{% if parentRequest.extraStatus == "Cancellation Denied (Approved)" %}#}
    {#{% endif %}#}
    <td class="{{ tdclassname }}">
        {% if request and request.status  %}
            {% if parentRequest.extraStatus %}
                {{ request.status|capitalize ~" ("~parentRequest.extraStatus|replace({'(Approved)':'', '(Canceled)': ''})~")" }}
            {% else %}
                {{ request.status|capitalize }}
            {% endif %}
        {% endif %}
    </td>

{% endmacro %}

{% macro request_carryover_base_header( pagination, requestStr ) %}
    <th style="border-left: 2px solid gray;">{{ knp_pagination_sortable(pagination, 'Source Academic Year', requestStr~'.sourceYear') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Destination Academic Year', requestStr~'.destinationYear') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Number of days to carry over', requestStr~'.carryOverDays') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Status', requestStr~'.status') }}</th>
{% endmacro %}
{% macro request_carryover_base_body( request, requestStr ) %}

    {#Set row color#}
    {% set tdclassname = "" %}
    {% if request %}
        {% if request.getStatus() == 'pending' or request.getTentativeStatus() == 'pending' %}
            {% set tdclassname = "alert alert-warning" %}
        {% endif %}
        {% if request.getStatus() == 'approved' %}
            {% set tdclassname = "alert alert-success" %}
        {% endif %}
        {% if request.getStatus() == 'rejected' %}
            {% set tdclassname = "alert alert-danger" %}
        {% endif %}
        {% if request.getStatus() == 'completed' %}
            {% set tdclassname = "" %}
        {% endif %}
    {% endif %}
    {#EOF Set row color#}

    <td class="{{ tdclassname }}" style="border-left: 2px solid gray;">
        {% if request and request.sourceYear %}
            {#{{ request.sourceYear }}#}
            {{ request.getSourceYearRange() }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.destinationYear %}
            {#{{ request.destinationYear }}#}
            {{ request.getDestinationYearRange() }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.carryOverDays %}
            {{ request.carryOverDays }}
        {% endif %}
    </td>

    <td class="{{ tdclassname }}">
        {% if request and request.status  %}
            {{ request.status|capitalize }}
        {% else %}
            {% if request and request.tentativeStatus  %}
                Tentative: {{ request.tentativeStatus|capitalize }}
            {% endif %}
        {% endif %}
    </td>

{% endmacro %}

{% macro request_radio_choice( request ) %}
    {% if request.status is defined %}
        {{ form_widget(request.status) }}
    {% endif %}
{% endmacro %}
{% macro request_radio_tentativeStatus_choice( request ) %}
    {% if request.tentativeStatus is defined %}
        {{ form_widget(request.tentativeStatus) }}
    {% endif %}
{% endmacro %}

{% macro request_inputWithCalculateBtn( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {#{{ form_label(field) }}#}
            <strong>{{ field.vars.label|raw }}</strong>
        </div>
        <div class="col-xs-6" align="left">
            <div class = "input-group">
                {#<input type = "text" class = "form-control">#}
                {{ form_widget(field) }}
                <span class = "input-group-addon btn calculate-btn"
                      onclick="setVacReqNumberOfDays(this)"
                      data-spinner-color="blue"
                >
                    Calculate
                </span>
            </div>

            <p>
                <div class="alert alert-warning warning-holidays" style="display: none"></div>
            </p>
        </div>
    </div>
    </p>
{% endmacro %}

{% macro request_dateWithCalculateBtn( field ) %}
    <p>
    <div class="row">
        {{ form_errors(field) }}
        <div class="col-xs-6" align="right">
            {{ form_label(field) }}
        </div>
        <div class="col-xs-6" align="left" class="form_body_toggle_btn">
            {#<div class="input-group input-group-reg date allow-future-date">#}
            <div class="input-group allow-future-date">
                {{ form_widget(field) }}
                {#<span class="input-group-addon">#}
                    {#<i class="glyphicon glyphicon-calendar"></i>#}
                {#</span>#}
                <span class = "input-group-addon btn" onclick="setVacReqFirstDayBack(this)">
                    Calculate
                </span>
            </div>
        </div>
        {{ form_rest(field) }}
    </div>
    </p>
{% endmacro %}

{#entity - request#}
{% macro vacreq_action( entity, vacreq_sitename ) %}

    {% import "AppVacReqBundle/Default/vacreqmacros.html.twig" as vacreqmacros %}

    {% set carryOver = false %}
    {% if entity.getRequestTypeAbbreviation() == "carryover" %}
        {% set carryOver = true %}
    {% endif %}

    {% set showApprove = false %}
    {% if not entity.isOverallStatus('approved') and not carryOver %}
        {% set showApprove = true %}
    {% endif %}

    {% set showReject = false %}
    {#{% if not entity.isOverallStatus('approved') and not entity.isOverallStatus('rejected') %}#}
    {% if not entity.isOverallStatus('rejected') and not carryOver %}
        {% set showReject = true %}
    {% endif %}

    {% set showPending = false %}
    {#{% if not entity.isOverallStatus('approved') and entity.status != 'pending' and entity.getOverallStatus() != 'pending' %}#}
    {% if entity.status != 'pending' and entity.getOverallStatus() != 'pending' %}
        {% set showPending = true %}
    {% endif %}

    {% set showCancel = false %}
    {% if not entity.isOverallStatus('canceled') %}
        {% set showCancel = true %}
    {% endif %}

    {% set showCancellation = false %}
    {% if entity.getExtraStatus() == 'Cancellation Requested' and not carryOver %}
        {% set showCancellation = true %}
    {% endif %}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">

            <li>
                <a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}" target="_blank">View User Details</a>
            </li>

            <li>
                <a href="{{ path(vacreq_sitename~'_show', { 'id': entity.id }) }}" target="_blank">View/Edit</a>
            </li>

            <li>
                <a href="{{ path(vacreq_sitename~'_review', { 'id': entity.id }) }}" target="_blank">Review</a>
            </li>

            <li>
                <a
                    href="{{ path(vacreq_sitename~'_download_summary_report_multiple_years_spreadsheet',
                    { 'userId': entity.user.id }) }}">Download summary as a spreadsheet</a>
            </li>

            {#<li class="divider"></li>#}
            {#{% if entity.status != 'completed' and entity.getOverallStatus() != 'completed' %}#}

            {% if showApprove or showReject or showPending %}
                <li class="divider">
            {% endif %}

            {% if showApprove %}
                <li>
                    <a
                    general-data-confirm="Are you sure you would like to approve entire request with ID #{{ entity.id }} for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'approved' }) }}">
                        Approve entire request
                    </a>
                </li>
            {% endif %}
            {% if showReject %}
                <li>
                    <a
                    general-data-confirm="Are you sure you would like to reject entire request with ID #{{ entity.id }} for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'rejected' }) }}">
                        Reject entire request
                    </a>
                </li>
            {% endif %}
            {% if showPending %}
                <li>
                    <a
                    general-data-confirm="Are you sure you would like to set entire request with ID #{{ entity.id }} to 'pending approval' for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'pending' }) }}">
                        Set entire request to "Pending approval"
                    </a>
                </li>
            {% endif %}
            {% if showCancel %}
                <li>
                    <a
                    general-data-confirm="Are you sure you would like to Cancel this entire request with ID #{{ entity.id }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':'entire', 'status': 'canceled' }) }}">
                        Cancel (withdraw entire request)
                    </a>
                </li>

                {% if is_granted('ROLE_VACREQ_ADMIN') %}
                    <li>
                        <a
                            general-data-confirm="Are you sure you would like to send a reminder email to your division approvers to process this request with ID #{{ entity.id }}?"
                            href="{{ path(vacreq_sitename~'_send_reminder_email', { 'id': entity.id }) }}">
                            Send Reminder Email to Approvers (visible to Admin)
                        </a>
                    </li>
                {% endif %}

            {% endif %}
            {% if showCancellation %}
                <li>
                    <a
                        general-data-confirm="Are you sure you would like to approve cancellation of this entire request with ID #{{ entity.id }}?"
                        href="{{ path(vacreq_sitename~'_status_cancellation-request_change', { 'id': entity.id, 'status': 'cancellation-request-approved' }) }}">
                        Cancellation Approved (Canceled)
                    </a>
                </li>
                <li>
                    <a
                        general-data-confirm="Are you sure you would like to reject cancellation of this entire request with ID #{{ entity.id }}?"
                        href="{{ path(vacreq_sitename~'_status_cancellation-request_change', { 'id': entity.id, 'status': 'cancellation-request-rejected' }) }}">
                        Cancellation Denied (Approved)
                    </a>
                </li>
            {% endif %}


            {% if entity.requestBusiness is defined %}
                {{ vacreqmacros.vacreq_ParticularRequestAction( entity, entity.requestBusiness, "business", vacreq_sitename ) }}
            {% endif %}

            {% if entity.requestVacation is defined %}
                {{ vacreqmacros.vacreq_ParticularRequestAction( entity, entity.requestVacation, "vacation", vacreq_sitename ) }}
            {% endif %}

            {#{% endif %}#}

        </ul>

    </div>

{% endmacro %}
{% macro vacreq_ParticularRequestAction( entity, request, requestName, vacreq_sitename ) %}

    {% set requestNameStr = "Request" %}
    {% if requestName == "business" %}
        {% set hasParticularRequest = entity.hasBusinessRequest() %}
        {% set requestNameStr = "Business Travel Request" %}
    {% endif %}
    {% if requestName == "vacation" %}
        {% set hasParticularRequest = entity.hasVacationRequest() %}
        {% set requestNameStr = "Vacation Request" %}
    {% endif %}


    {% if request and hasParticularRequest %}

        {% set showApprove = false %}
        {% if request.status != 'approved' %}
            {% set showApprove = true %}
        {% endif %}

        {% set showReject = false %}
        {% if request.status != 'rejected' and request.status != 'approved' %}
            {% set showReject = true %}
        {% endif %}

        {% if showApprove or showReject %}
            <li class="divider">
            <li>
                <div align="center">
                    <strong>{{ requestNameStr }}</strong>
                </div>
            </li>
        {% endif %}

        {#{% if request.status != 'pending' %}#}
            {#<li>#}
                {#<a#}
                    {#general-data-confirm="Are you sure you would like to set the {{ requestName }} request status for {{ entity.user }} to Pending?"#}
                    {#href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'requestName':requestName, 'status': 'pending' }) }}">Set {{requestName|capitalize}} Request to Pending#}
                {#</a>#}
            {#</li>#}
        {#{% endif %}#}

        {% if showApprove %}
            <li>
                <a
                    general-data-confirm="Are you sure you would like to Approve the {{ requestName }} request with ID #{{ entity.id }} for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id,  'requestName':requestName, 'status': 'approved' }) }}">Approve {{requestName|capitalize}} Request
                </a>
            </li>
        {% endif %}

        {% if showReject %}
            <li>
                <a
                    general-data-confirm="Are you sure you would like to Reject the {{ requestName }} request with ID #{{ entity.id }} for {{ entity.user }}?"
                    href="{{ path(vacreq_sitename~'_status_change', { 'id': entity.id, 'requestName':requestName, 'status': 'rejected' }) }}">Reject {{requestName|capitalize}} Request
                </a>
            </li>
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro vacreq_floating_action( entity, vacreq_sitename ) %}

    {% import "AppVacReqBundle/Default/vacreqmacros.html.twig" as vacreqmacros %}

    {% set showApprove = false %}
    {% if not entity.isOverallStatus('approved') %}
        {% set showApprove = true %}
    {% endif %}

    {% set showReject = false %}
    {#{% if not entity.isOverallStatus('approved') and not entity.isOverallStatus('rejected') %}#}
    {% if not entity.isOverallStatus('rejected') %}
        {% set showReject = true %}
    {% endif %}

    {% set showPending = false %}
    {#{% if not entity.isOverallStatus('approved') and entity.status != 'pending' and entity.getOverallStatus() != 'pending' %}#}
    {% if entity.status != 'pending' and entity.getOverallStatus() != 'pending' %}
        {% set showPending = true %}
    {% endif %}

    {% set showCancel = false %}
    {% if not entity.isOverallStatus('canceled') %}
        {% set showCancel = true %}
    {% endif %}

    {% set showCancellation = false %}
    {% if entity.getExtraStatus() == 'Cancellation Requested' %}
        {% set showCancellation = true %}
    {% endif %}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">

            <li>
                <a href="{{ path(vacreq_sitename~'_showuser', { 'id': entity.user.id }) }}" target="_blank">View User Details</a>
            </li>

            <li>
                <a href="{{ path(vacreq_sitename~'_floating_show', { 'id': entity.id }) }}" target="_blank">View/Edit</a>
            </li>

            <li>
                <a href="{{ path(vacreq_sitename~'_floating_review', { 'id': entity.id }) }}" target="_blank">Review</a>
            </li>

            {#<li class="divider"></li>#}
            {#{% if entity.status != 'completed' and entity.getOverallStatus() != 'completed' %}#}

            {% if showApprove or showReject or showPending %}
                <li class="divider">
            {% endif %}

            {% if showApprove %}
                <li>
                    <a
                        general-data-confirm="Are you sure you would like to approve this 'Floating Day' request with ID #{{ entity.id }} for {{ entity.user }}?"
                        href="{{ path(vacreq_sitename~'_floating_status_change', { 'id': entity.id, 'status': 'approved' }) }}">
                        Approve entire request
                    </a>
                </li>
            {% endif %}
            {% if showReject %}
                <li>
                    <a
                        general-data-confirm="Are you sure you would like to reject this 'Floating Day' request with ID #{{ entity.id }} for {{ entity.user }}?"
                        href="{{ path(vacreq_sitename~'_floating_status_change', { 'id': entity.id, 'status': 'rejected' }) }}">
                        Reject entire request
                    </a>
                </li>
            {% endif %}
            {% if showPending %}
                <li>
                    <a
                        general-data-confirm="Are you sure you would like to set this 'Floating Day' request with ID #{{ entity.id }} to 'pending approval' for {{ entity.user }}?"
                        href="{{ path(vacreq_sitename~'_floating_status_change', { 'id': entity.id, 'status': 'pending' }) }}">
                        Set entire request to "Pending approval"
                    </a>
                </li>
            {% endif %}
            {% if showCancel %}
                <li>
                    <a
                        general-data-confirm="Are you sure you would like to Cancel this 'Floating Day' request with ID #{{ entity.id }}?"
                        href="{{ path(vacreq_sitename~'_floating_status_change', { 'id': entity.id, 'status': 'canceled' }) }}">
                        Cancel (withdraw entire request)
                    </a>
                </li>

                {% if is_granted('ROLE_VACREQ_ADMIN') %}
                    <li>
                        <a
                            general-data-confirm="Are you sure you would like to send a reminder email to your division approvers to process this request with ID #{{ entity.id }}?"
                            href="{{ path(vacreq_sitename~'_floating_send_reminder_email', { 'id': entity.id }) }}">
                            Send Reminder Email to Approvers (visible to Admin)
                        </a>
                    </li>
                {% endif %}

            {% endif %}
            {#{% if showCancellation %}#}
                {#<li>#}
                    {#<a#}
                            {#general-data-confirm="Are you sure you would like to approve cancellation of this this 'Floating Day' request with ID #{{ entity.id }}?"#}
                            {#href="{{ path(vacreq_sitename~'_status_cancellation-request_change', { 'id': entity.id, 'status': 'cancellation-request-approved' }) }}">#}
                        {#Cancellation Approved (Canceled)#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a#}
                            {#general-data-confirm="Are you sure you would like to reject cancellation of this this 'Floating Day' request with ID #{{ entity.id }}?"#}
                            {#href="{{ path(vacreq_sitename~'_status_cancellation-request_change', { 'id': entity.id, 'status': 'cancellation-request-rejected' }) }}">#}
                        {#Cancellation Denied (Approved)#}
                    {#</a>#}
                {#</li>#}
            {#{% endif %}#}

        </ul>

    </div>

{% endmacro %}

{% macro personAwayInfo( user, phone, vacreq_sitename ) %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

    {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': user.id }) }}">{{ user.getDisplayName() }}</a>#}
    <a href="{{ path(vacreq_sitename~'_showuser', { 'id': user.id }) }}">{{ user.getDisplayOrFirstLastname(true) }}</a>

    {% set singleEmail = user.getSingleEmail %}
    {% if singleEmail %}
        <a href="mailto:{{ singleEmail }}" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
    {% endif %}

    {% if phone %}
        <div style="white-space: nowrap;">
            {{ usermacros.phoneHref(phone) }}
        </div>
    {% endif %}

    <div style="height: 60px; width: 60px;">
        {% if is_granted('ROLE_PLATFORM_DEMO') %}
            {% set avatarImage = asset('orderassets/AppUserdirectoryBundle/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
            <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
        {% else %}
            {% if user.avatar %}
                {{ usermacros.showDocumentAsImage(user.avatar,'Avatar','','',vacreq_sitename,'snapshot-small') }}
            {% else %}
                {% set avatarImage = asset('orderassets/AppUserdirectoryBundle/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
            {% endif %}
        {% endif %}
    </div>

{% endmacro %}

{% macro incomingRequestHref( days, user, yearRange, groupId, approved, requestType, vacreq_sitename ) %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
    {#{% if days > 0 %}#}

        {% if requestType == "businessRequest" %}
            {% set pathParams =
                {
                    'filter[user]':user.id,
                    'filter[academicYear]':yearRange,
                    'filter[organizationalInstitutions]':groupId,
                    'filter[approved]':approved,
                    'filter[businessRequest]':1
                }
            %}
        {% endif %}

        {% if requestType == "vacationRequest" %}
            {% set pathParams =
                {
                    'filter[user]':user.id,
                    'filter[academicYear]':yearRange,
                    'filter[organizationalInstitutions]':groupId,
                    'filter[approved]':approved,
                    'filter[vacationRequest]':1
                }
            %}
        {% endif %}

        {% if requestType == "businessRequest-vacationRequest" %}
            {% set pathParams =
                {
                    'filter[user]':user.id,
                    'filter[academicYear]':yearRange,
                    'filter[organizationalInstitutions]':groupId,
                    'filter[approved]':approved,
                    'filter[businessRequest]':1,
                    'filter[vacationRequest]':1
                }
            %}
        {% endif %}

        {% if requestType == "businessRequest-pending" %}
            {% set pathParams =
                {
                    'filter[user]':user.id,
                    'filter[academicYear]':yearRange,
                    'filter[organizationalInstitutions]':groupId,
                    'filter[businessRequest]':1,
                    'filter[pending]':1,
                }
            %}
        {% endif %}

        {% if requestType == "vacationRequest-pending" %}
            {% set pathParams =
                {
                    'filter[user]':user.id,
                    'filter[academicYear]':yearRange,
                    'filter[organizationalInstitutions]':groupId,
                    'filter[vacationRequest]':1,
                    'filter[pending]':1,
                }
            %}
        {% endif %}

        {#<a href="{{ path(vacreq_sitename~'_incomingrequests',#}
            {#{#}
                {#'filter[user]':user.id,#}
                {#'filter[academicYear]':yearRange,#}
                {#'filter[organizationalInstitutions]':groupId,#}
                {#'filter[approved]':approved,#}
                {#requestTypeFilter:1#}
            {#}#}
        {#) }}">#}
            {#{{ days }}#}
        {#</a>#}

        <a href="{{ path(vacreq_sitename~'_incomingrequests',pathParams) }}" target="_blank">
            {{ days }}
        </a>

    {#{% else %}#}
        {#{{ days }}#}
    {#{% endif %}#}

{% endmacro %}

{% macro incomingRequestsFilter( vacreqfilter, routename, requestTypeAbbreviation ) %}
    {% import "AppVacReqBundle/Default/vacreqmacros.html.twig" as vacreqmacros %}
    <form action="{{ path(routename) }}" method="get" class="well form-search">

        <p>
        <div class="row">

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.startdate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.enddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            {% if vacreqfilter.requestType is defined %}
                <div class="col-xs-3">
                    {{ form_row(vacreqfilter.requestType) }}
                </div>
            {% endif %}

            {% if requestTypeAbbreviation != 'carryover' %}
                {% if vacreqfilter.academicYear is defined %}
                    <div class="col-xs-2">
                        {{ form_row(vacreqfilter.academicYear) }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>
        </div>
        </p>
        <p>
        <div class="row">
            {% if vacreqfilter.user is defined %}
                <div class="col-xs-3">
                    {{ form_row(vacreqfilter.user) }}
                </div>
            {% endif %}

            {% if vacreqfilter.submitter is defined %}
                <div class="col-xs-3">
                    {{ form_row(vacreqfilter.submitter) }}
                </div>
            {% endif %}

            {% if vacreqfilter.organizationalInstitutions is defined %}
                <div class="col-xs-3">
                    {{ form_row(vacreqfilter.organizationalInstitutions) }}
                </div>
            {% endif %}
        </div>
        </p>

        {{ vacreqmacros.commonCheckboxFilter( vacreqfilter, routename, requestTypeAbbreviation ) }}

        {{ form_rest(vacreqfilter) }}

    </form>
{% endmacro %}

{% macro myRequestsFilter( vacreqfilter, routename, requestTypeAbbreviation ) %}
    {% import "AppVacReqBundle/Default/vacreqmacros.html.twig" as vacreqmacros %}
    <form action="{{ path(routename) }}" method="get" class="well form-search">

        <p>
        <div class="row">

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.startdate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="input-group input-group-reg date allow-future-date">
                    {{ form_widget(vacreqfilter.enddate) }}
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>

            {% if vacreqfilter.requestType is defined %}
                <div class="col-xs-3">
                    {{ form_row(vacreqfilter.requestType) }}
                </div>
            {% endif %}

            {% if vacreqfilter.organizationalInstitutions is defined %}
                <div class="col-xs-2">
                    {{ form_row(vacreqfilter.organizationalInstitutions) }}
                </div>
            {% endif %}

            {% if requestTypeAbbreviation != 'carryover' %}
                {% if vacreqfilter.academicYear is defined %}
                    <div class="col-xs-2">
                        {{ form_row(vacreqfilter.academicYear) }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="col-xs-1">
                <button type="submit" class="btn btn-sm btn-default">Filter</button>
            </div>

        </div>
        </p>

        {{ vacreqmacros.commonCheckboxFilter( vacreqfilter, routename, requestTypeAbbreviation ) }}

        {{ form_rest(vacreqfilter) }}

    </form>
{% endmacro %}

{% macro commonCheckboxFilter( vacreqfilter, routename, requestTypeAbbreviation ) %}
    {% import "AppVacReqBundle/Default/vacreqmacros.html.twig" as vacreqmacros %}

        <p>
        <div class="row">
            <div class="col-xs-12" align="left">

                {% if vacreqfilter.businessRequest is defined %}
                    {{ vacreqmacros.checkbox(vacreqfilter.businessRequest) }}
                    &nbsp;&nbsp;
                {% endif %}
                {% if vacreqfilter.vacationRequest is defined %}
                    {{ vacreqmacros.checkbox(vacreqfilter.vacationRequest) }}
                    &nbsp;&nbsp;
                {% endif %}

                {#&nbsp;&nbsp;#}
                {#{{ vacreqmacros.checkbox(vacreqfilter.completed) }}#}

                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.pending) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.approved) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.rejected) }}

                &nbsp;&nbsp;
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.cancellationRequest) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.cancellationRequestApproved) }}
                &nbsp;&nbsp;
                {{ vacreqmacros.checkbox(vacreqfilter.cancellationRequestRejected) }}
            </div>
        </div>
        </p>


    </form>
{% endmacro %}

{% macro checkbox( value ) %}
    {#<div class="row">#}
    {#{{ form_errors(value) }}#}
    {#<div class="col-xs-6" align="right">#}
    {#{{ form_label(value) }}#}
    {#</div>#}
    {#<div class="col-xs-6 text-center" align="left" style="width: 50px;">#}
    {#{{ form_widget(value) }}#}
    {#</div>#}
    {#</div>#}
    <div style="white-space:nowrap; display:inline">
        {{ form_widget(value) }} {{ form_label(value) }}
    </div>
{% endmacro %}
