{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppFellAppBundle/Default/fellappmacros.html.twig" as fellappmacros %}
{% import _self as fellapp %}



{% set trclassname = "well well-sm" %}

{% if cycle != "download" %}
    {% if entity.appStatus %}
        {% if entity.appStatus.name == 'archive' %}
            {% set trclassname = "alert alert-info" %}
        {% endif %}
        {% if entity.appStatus.name == 'hide' %}
            {% set trclassname = "alert alert-danger" %}
        {% endif %}
        {% if entity.appStatus.name == 'complete' %}
            {% set trclassname = "alert order-neutral-status" %}
        {% endif %}
        {% if entity.appStatus.name == 'draft' %}
            {#{% set trclassname = "order-onhold-status" %}#}
            {% set trclassname = "alert alert-danger" %}
        {% endif %}
        {% if entity.appStatus.name == 'active' %}
            {#{% set trclassname = "alert order-neutral-status" %}#}
        {% endif %}
        {% if entity.appStatus.name == 'interviewee' %}
            {% set trclassname = "order-interviewee-status" %}
        {% endif %}
        {% if entity.appStatus.name == 'reject' %}
            {% set trclassname = "order-reject-status" %}
        {% endif %}
        {% if entity.appStatus.name == 'onhold' %}
            {% set trclassname = "order-onhold-status" %}
        {% endif %}
        {% if entity.appStatus.name == 'priority' %}
            {% set trclassname = "alert alert-success" %}
        {% endif %}
        {% if entity.appStatus.name == 'priorityinterviewee' %}
            {% set trclassname = "alert alert-success" %}
        {% endif %}
        {% if entity.appStatus.name == 'accepted' %}
            {% set trclassname = "alert alert-success" %}
        {% endif %}
        {% if entity.appStatus.name == 'acceptedandnotified' %}
            {% set trclassname = "alert alert-success" %}
        {% endif %}
        {% if entity.appStatus.name == 'rejectedandnotified' %}
            {% set trclassname = "order-reject-status" %}
        {% endif %}
        {% if entity.appStatus.name == 'declined' %}
            {% set trclassname = "order-declined-status" %}
        {% endif %}
        {% if entity.appStatus.name == 'withdrawn' %}
            {% set trclassname = "order-withdrawn-status" %}
        {% endif %}
    {% endif %}
{% endif %}

{#{% set testing = true %}#}
{% set testing = false %}

{% if not testing %}

{% if cycle != "new" %}
    <h4 class="text-info" align="center">
        <div class="{{ trclassname }}">
            {% if entity.appStatus and cycle != "download" %}
                <p>{{ entity.appStatus.action }}</p>
            {% endif %}
            Fellowship Application ID {{ entity.id }}, {{ entity.getApplicantFullName() }}, submitted on {{ entity.timestamp|date('m/d/Y H:i A (T)','UTC') }}, imported on {{ entity.createdate|date('m/d/Y H:i A (T)','UTC') }}
        </div>
    </h4>
{% endif %}

{% if cycle == "show" %}
    <p>
        <a class="btn btn-info" href="{{ path('fellapp_download_pdf', { 'id': entity.id}) }}">Download Application as a PDF</a>
    </p>
{% endif %}


{#applicant's snapshot#}
{% if cycle != "new" %}
    {{ fellappmacros.snapshot(entity,sitename,cycle) }}
    <br>
{% endif %}

{#Application Packet Check-list#}
{% if route_path is defined and route_path == 'fellapp_apply' %}
    {% if cycle != "download" %}
        {% if applicationFormNote is defined %}
            {{ applicationFormNote|raw }}
        {% endif %}
    {% endif %}
{% endif %}


{% if cycle != "download" %}
<br>
<p>
    <button id="collapseAll" type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All Application Sections</button>
    <button id="expandAll" type="button" class="btn btn-default btn-sm btn-pressed-default" onClick="extendAll()" >Expand All Application Sections</button>
</p>
<br>
{% endif %}


{#{{ form_start(form,{'attr': {'id': 'fellapp-applicant-form'}}) }}#}
{#{{ form_start(form,{'attr': {#}
    {#'id': 'fellapp-applicant-form',#}
    {#'onsubmit': 'return validateFellapp();'#}
    {#}#}
{#})#}
{#{{#}
    {#form_start(form, {#}
        {#'attr': {#}
            {#'id': 'fellapp-applicant-form',#}
            {#'onsubmit': 'return validateFellapp();'#}
        {#}#}
    {#})#}
{#}}#}
{{
    form_start(form, {
        'attr': {
            'id': 'fellapp-applicant-form'
        }
    })
}}



{{ form_errors(form) }}

{% endif %}

{% if not testing %}
<div id="form-prototype-data"
     data-prototype-fellapp-interviews = "{{ fellappmacros.interviewForm(form.interviews,cycle,'fellapp-interviews','prototype', sitename,1)|e }}"
     data-userurllink = "{{ usermacros.userUrlLink()|e }}"
     data-uploadurl = "{{ oneup_uploader_endpoint('fellapp_gallery') }}"
     data-userid = "{{ entity.user.id }}"
></div>
{% endif %}

{% if not testing %}

    {% if parentFormnodeId is not defined %}
        {% set parentFormnodeId = fellapp_util.getFellappParentFormNodeId() %}
    {% endif %}

    {#<input type="hidden" id="tenantprefix" value="{{tenantprefix}}" />#}
    {#<input type="hidden" id="tenantprefix" value="{{ app.request.locale }}" />#}
    <input type="hidden" id="fellapp_id" value="{{ entity.id }}" />
    <input type="hidden" id="user_id" value="{{ form.vars.value.user.id }}" />
    <input type="hidden" id="user_name" value="{{ form.vars.value.user.username }}" />
    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />
    <input type="hidden" id="route_path" value="{{ route_path }}" />
    <input type="hidden" id="parent_formnode_id" value="{{ parentFormnodeId }}" />

    <input type="hidden" name="btnSubmit" id="btnSubmitHidden" value="" />

{#user.id={{ form.vars.value.user.id }}#}
    {#user.username={{ form.vars.value.user.username }}#}

{% if form.timestamp is defined %}
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            {{ formmacros.fieldDateLabel_vertical(form.timestamp,'allow-future-date') }}
        </div>
        <div class="col-xs-4"></div>
    </div>
{% endif %}

{% if collapsein is not defined %}
    {% set collapsein = "in" %}
{% endif %}

{#{% set showScreeningQuestions = true %}#}
{#{% set showScreeningQuestions = false %}#}
{#{% if showScreeningQuestions %}#}
    {#{% set collapsein = "" %}#}
{#{% endif %}#}

<div class="fellapp-application-holder">

    {% if cycle != "download" %}
        {#{% if cycle == "edit" %}#}
            {% if form.notes is defined %}
                {% include 'AppFellAppBundle/Form/Notes.html.twig' %}
            {% endif %}
        {#{% endif %}#}
    {% endif %}

    {% include 'AppFellAppBundle/Form/AdminData.html.twig' %}

    <!-- Fellowship Type, Training period, Applicant Name -->
    {#{% include 'AppFellAppBundle/Form/FellowshipType.html.twig' %}#}

    <!-- Personal Data -->
    {#{% include 'AppFellAppBundle/Form/PersonalData.html.twig' %}#}

    {% if form.institution is defined %}
        {% include 'AppFellAppBundle/Form/Institution.html.twig' %}
    {% endif %}

    {#Fellowship Specialty#}
    {#[“Fellowship Application Type” | “Start Date” | “Expected Graduation Date”]#}
    {% include 'AppFellAppBundle/Form/FellowshipSpecialty.html.twig' %}

    {#{% if showScreeningQuestions %}#}
    {% include 'AppFellAppBundle/Form/ScreeningQuestions.html.twig' %}
    {#{% endif %}#}

    <!-- Fellowship Application Admin Data -->
    {% include 'AppFellAppBundle/Form/ApplicantData.html.twig' %}

    <!-- Education -->
    {% include 'AppFellAppBundle/Form/Education.html.twig' %}

    <!-- National Boards -->
    {% include 'AppFellAppBundle/Form/NationalBoards.html.twig' %}

    <!-- MedicalLicensure -->
    {% include 'AppFellAppBundle/Form/MedicalLicensure.html.twig' %}

    <!-- Board Certification -->
    {% include 'AppFellAppBundle/Form/BoardCertification.html.twig' %}

    <!-- Recommendations -->
    {% include 'AppFellAppBundle/Form/Recommendations.html.twig' %}

    {#testing#}
    {#{% set cycle = "download" %}#}

    <!-- Uploads -->
    {% if cycle != "download" %}
        {% include 'AppFellAppBundle/Form/Uploads.html.twig' %}
    {% endif %}

    <!-- Honors and Awards -->
    {% include 'AppFellAppBundle/Form/Honors.html.twig' %}


    <!-- Itinerary -->
    {% if route_path is not defined or route_path != 'fellapp_apply' %}
        <!-- PDF Reports -->
        {#and cycle != "new"#}
        {% if cycle != "download" %}
            {% include 'AppFellAppBundle/Form/reportsPDF.html.twig' %}
        {% endif %}

        {% if cycle != "download" %}
            {% include 'AppFellAppBundle/Form/Itinerary.html.twig' %}
        {% endif %}

        <!-- Interviews -->
        {% if cycle != "download" %}
            {% if is_granted('ROLE_FELLAPP_COORDINATOR') or is_granted('ROLE_FELLAPP_DIRECTOR') or is_granted('ROLE_FELLAPP_INTERVIEWER') %}
                {% include 'AppFellAppBundle/Form/Interviews.html.twig' %}
            {% endif %}
        {% endif %}
    {% endif %}


    {#route_path={{ route_path }}#}
    {% if route_path == 'fellapp_apply' or route_path == 'fellapp_apply_post' %}
        {% if captchaSiteKey is defined and captchaSiteKey and form.recaptcha is defined %}
            <div id="recaptcha" class="col-xs-12 text-center">
                <p>
                    {#{{ form_row(form.recaptcha) }}#}
                    {{ form_widget(form.recaptcha) }}
                    <div class="g-recaptcha" data-sitekey="{{ captchaSiteKey }}" style="display: inline-block;"></div>
                </p>
                <div class="invalid-captcha" style="color: red;">
                    {{ form_errors(form.recaptcha) }}
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!-- Signature -->
    {% include 'AppFellAppBundle/Form/Signature.html.twig' %}


</div> {#fellapp-application-holder#}


<div id="error-box" class="alert alert-danger" style="display: none"></div>

{# Authentication panel for existing user accounts (replaces confirmDraftUserExistModal) #}
<div id="authentication-panel" class="panel panel-warning" style="display: none; margin-top: 15px;">
    <div class="panel-heading">
        <h4 class="panel-title">
            Authentication for an existing user account associated with the provided email address
        </h4>
    </div>
    <div class="panel-body">
        <p>
            The email address <span class="submitterEmailDisplay">[email not set]</span> provided
            in the application form above matches the email address of a previously registered user account.
            Please enter the password associated with this email address to proceed with submission
            or saving a draft application. Alternatively, you can request the password reset
            email or enter a different email address.
        </p>

        <div class="form-group">
            <label>Authentication (“View.Online account is what we are calling the “Local User” account type, as opposed to AD, or SAML):</label>
            <input id="fellapp-usernametypes-field" type="text" class="form-control" value="View.Online Account" readonly="">

            {#$usernametypes = $em->getRepository(UsernameType::class)->findBy(#}
            {#array(#}
            {#'type' => array('default', 'user-added'),#}
            {#//'abbreviation' => array('ldap-user','local-user')#}
            {#),#}
            {#array('orderinlist' => 'ASC')#}
            {#);#}
            {#userSecurityUtil->getUsernameType#}
            {#<select id="usernametypeid_show" class="combobox limit-font-size" name="_usernametype">#}
                {#{% for  usernametype in usernametypes %}#}
                    {#{% if user_type is defined and usernametype.name == user_type %}#}
                        {#{% set selected = 'selected="selected"' %}#}
                    {#{% else %}#}
                        {#{% set selected = '' %}#}
                    {#{% endif %}#}
                    {#<option value="{{ usernametype.abbreviation }}" {{ selected }}>{{ usernametype.name }}</option>#}
                {#{% endfor %}#}
            {#</select>#}
        </div>

        <div class="form-group">
            <label for="fellapp-auth-email">E-Mail Address:</label>
            <div class="input-group">
                <input type="email" id="fellapp-auth-email" class="form-control" readonly="">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" id="fellapp-auth-change-email-btn">
                        Change the email address
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="fellapp-auth-password">Password:</label>
            <div class="input-group">
                <input type="password" id="fellapp-auth-password" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" id="fellapp-auth-reset-password-btn">
                        Send me the password reset email at <span class="submitterEmailDisplay">[email not set]</span>
                    </button>
                </span>
            </div>
        </div>

        <div id="fellapp-auth-error" class="alert alert-danger" style="display:none;"></div>

        <div class="text-center" style="margin-top: 10px;">
            <button type="button" class="btn btn-primary" id="fellapp-auth-login-draft-btn">Log in and save as draft</button>
            <button type="button" class="btn btn-warning" id="fellapp-auth-login-submit-btn">Log in and submit</button>
        </div>
    </div>
</div>

{% if cycle == "edit" %}
    <p>
        {#for any status show update#}
        {#if draft - 'save updated draft', if not 'Update'#}
        {#Remove button 'Save as Draft' if not initial apply page#}
        {% if entity.appStatus == 'draft' %}
            <button id="triggerUpdate" class="btn btn-info" name="btnSubmit" type="submit" value="fellapp-update">Save updated draft without submitting</button>
        {% else %}
            <button id="triggerUpdate" class="btn btn-info" name="btnSubmit" type="submit" value="fellapp-update">Update</button>
        {% endif %}

        {#{% if entity.appStatus == 'active' %}#}
            {#<button id="triggerDraft" class="btn btn-info" name="btnSubmit" value="fellapp-draft">Save as Draft</button>#}
        {#{% endif %}#}
        {% if entity.appStatus == 'draft' %}
            <button id="triggerSubmit" class="btn btn-info" name="btnSubmit" value="fellapp-submit">Submit Application</button>
        {% endif %}

        <a class="btn_margin_top btn btn-success" href="{{ path(fellapp_sitename~'_show',{'id':entity.id}) }}">Cancel</a>
    </p>
{% endif %}

{% endif %} {#if not testing#}

{% if cycle == "new" %}
    <div id="save-submit-panel">
    <br>
    <p>
        <button id="triggerDraft" class="btn btn-info" name="btnSubmit" value="fellapp-draft">Save as Draft</button>
        <button id="triggerSubmit" class="btn btn-warning" name="btnSubmit" value="fellapp-submit">Submit Application</button>
    </p>
    <br>
    </div>
{% endif %}

</div>

{#{{ form_end(form) }}#}
{{ form_end(form, {'render_rest': false}) }}

{% if cycle == "show" %}
    {% if is_granted('ROLE_FELLAPP_COORDINATOR') or is_granted('ROLE_FELLAPP_DIRECTOR') or entity.user.id == app.user.id %}
        <div class="text-center">
        <p>
            <a class="btn_margin_top btn btn-primary btn-success" style="margin-top: 15px;"
               href="{{ path(fellapp_sitename~'_edit',{'id':entity.id}) }}">Edit</a>
        </p>
        </div>
    {% endif %}
{% endif %}

{{ fellappmacros.submitConfirmationModal() }}
{{ fellappmacros.confirmSubmitUserExistModal() }}
{{ fellappmacros.draftConfirmationModal() }}
{{ fellappmacros.confirmDraftUserExistModal() }}


{#{% if cycle == "edit" %}#}
    {#<p>#}
        {#<button class="btn btn-warning" type="submit">Update</button>#}
        {#&#123;&#35;<a class="btn_margin_top btn btn-primary btn-warning" href="{{ path(fellapp_sitename~'_update',{'id':entity.id}) }}">Update</a>&#35;&#125;#}
        {#&#123;&#35;<button class="btn btn-warning" name="btnSubmit" type="submit" form="fellapp-applicant-form" onclick="updateFellapp({{ entity.id }})">Update</button>&#35;&#125;#}

        {#<a class="btn_margin_top btn btn-primary btn-success" href="{{ path(fellapp_sitename~'_show',{'id':entity.id}) }}">Cancel</a>#}
    {#</p>#}
{#{% endif %}#}





