{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppFellAppBundle/Default/base.html.twig" %}

{# Override base template to use minimal JS for anonymous users #}
{% block mainjs %}
    {# Essential JS + AJAX utilities for select2 #}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-ui-1.11.2/jquery-ui.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.js') }}"></script>
    
    {# FOSJsRoutingBundle for routing #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
    {# Include common/selectAjax to enable getComboboxGeneric #}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-form.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-masking.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formReady.js') }}"></script>#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-validation.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/dropzone.js') }}"></script>


{% endblock %}

{#{% block browsercheck %}{% endblock %}#}
{#{% block header %}{% endblock %}#}
{#{% block errorwatchjs %}{% endblock %}#}
{#{% block maincss %}{% endblock %}#}

{% block title %}
    Fellowship Application
{% endblock %}

{% block content %}

    <h3 class="text-info" align="center">
        Fellowship Application
    </h3>
    <p>
        {#fellapp_home#}
        If you have previously saved a draft application
        and would like to update then submit it,
        or if you would like to withdraw a submitted application, please
        <a href="{{ path('fellapp_myapplications') }}"
           target="_blank" class="arrow" >log in</a>.
    </p>

    <input type="hidden" id="disableIdleTimeout" value="1" />

    {% if cycle == "download" %}
        {% set collapsein = "in" %}
    {% else %}
        {% if is_granted('ROLE_FELLAPP_ADMIN') or is_granted('ROLE_FELLAPP_COORDINATOR') %}
            {% set collapsein = "" %}
        {% endif %}
    {% endif %}

    {% include 'AppFellAppBundle/Form/applicant-content.html.twig' %}

{% endblock %}

{% block footer %}
    {#<div class="order-content text-center col-xs-12" style="margin-top: -85px;">#}
    {#<div class="order-content text-center col-xs-12">#}
        <!-- footer -->
        {#{% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}#}

    <div class="order-content text-center col-xs-12" style="margin-bottom: 50px;">

        {% set environmentServer = user_security_utility.getSiteSettingParameter('environment') %}
        {% if environmentServer == 'demo' %}
            <a href="https://example.com/" class="arrow">Demo Department</a> at <a href="https://example.com/" class="arrow">Demo Institution</a>
        {% else %}
            {% if showcopyrightonfooter %}
                <a href="{{ path('main_common_home') }}" target="_blank">O R D E R</a>
                &copy; {{ "now"|date('Y') }}
                {% if institution_url and institution_name %}
                    <a href="{{ institution_url }}" target="_blank">{{ institution_name }}</a>.
                {% else %}
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Institution's Name]</a>.
                {% endif %}

                <br>


                {% if department_url and department_name and subinstitution_url and subinstitution_name %}
                    <a href="{{ department_url }}" target="_blank">{{ department_name }}</a> at
                    <a href="{{ subinstitution_url }}" target="_blank">{{ subinstitution_name }}</a>.
                {% else %}
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Department's Name]</a> at
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Organization's Name]</a>.
                {% endif %}
            {% endif %}
        {% endif %}

    </div>

{% endblock %}

{#{% block mainjs %}#}
{#{% endblock %}#}

{% block additionaljs %}
    {% include 'AppFellAppBundle/Form/applicant-content-js.html.twig' %}

    <script language="Javascript">
        // Define cycle variable for anonymous users
        var cycle = 'new';
        
        // Minimal select2 initialization for anonymous users
        function initializeSelect2ForAnonymous() {
            // Initialize basic select2 dropdowns without AJAX calls
            $('select.combobox').each(function() {
                if (!$(this).hasClass('ajax-combobox-')) {
                    $(this).select2({
                        width: '100%',
                        dropdownAutoWidth: true,
                        placeholder: "Select an option",
                        allowClear: true,
                        selectOnBlur: false
                    });
                }
            });
            
            // For ajax-combobox fields, use preloaded data if available
            $('.ajax-combobox-fellowshipSubspecialty').each(function() {
                var options = [];
                $(this).find('option').each(function() {
                    if ($(this).val()) {
                        options.push({
                            id: $(this).val(),
                            text: $(this).text()
                        });
                    }
                });
                
                $(this).select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: "Select a fellowship subspecialty",
                    allowClear: true,
                    data: options
                });
            });
            
            // Initialize ajax-combobox-city using getComboboxGeneric (AJAX)
            try {
                var _cities = [];
                //holder,name,globalDataArray,multipleFlag,urlprefix,sitename,force,placeholder,thisAsyncflag
                getComboboxGeneric(
                        null,                   //holder
                        'city',                 //name
                        _cities,                //globalDataArray
                        false,                  //multipleFlag
                        'public/generic/',      //urlprefix
                        'employees',            //sitename
                        true,                   //force
                        'Select a city',        //placeholder
                        true                    //thisAsyncflag
                );
                //console.log('cities=',_cities);
                //getComboboxGeneric(newForm,'city',_cities,false);
            } catch (e) {
                //console.log('cities catch');
                // fallback: simple select2 without data
                $('.ajax-combobox-city').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a city',
                    allowClear: true
                });
            }

            //getCommonBaseUrl: urlBase=http://127.0.0.1/directory/util/common/traininginstitution?cycle=new&sitename=fellowship-applications
            //getComboboxGeneric(newForm,'traininginstitution',_traininginstitution,false,'');
            //OK: http://127.0.0.1/directory/util/common/traininginstitution?cycle=new&sitename=fellowship-applications
            //NOTOK: http://127.0.0.1/directory/util/public/common/generic/traininginstitution?cycle=new&sitename=fellowship-applications
            try {
                var _traininginstitution = [];
//                getComboboxGeneric(null,'traininginstitution',_traininginstitution,false,'public/generic/','employees',true,'Select an institution',true);
                getComboboxGeneric(null,'traininginstitution',_traininginstitution,false,'public/generic/','fellowship-applications',true,'Select an institution',true);
//                getComboboxGeneric(null,'traininginstitution',_traininginstitution,false,'');
            } catch (e) {
                // fallback: simple select2 without data
                $('.ajax-combobox-traininginstitution').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select an institution',
                    allowClear: true
                });
            }

            //ajax-combobox-trainingmajors
            //TODO: test majors
            try {
                var _trainingmajors = [];
                var multipleFlag = true;
                getComboboxGeneric(null,'trainingmajors',_trainingmajors,multipleFlag,'public/generic/','employees',true,'Select a major',true);
            } catch (e) {
                // fallback: simple select2 without data
                //console.log('gajax-combobox-trainingmajors = no data');
                $('.ajax-combobox-trainingmajors').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a major',
                    allowClear: true
                });
            }

            //ajax-combobox-jobtitle
            //TODO: fix
            try {
                var _jobTitles = [];
                getComboboxGeneric(null,'jobtitle',_jobTitles,false,'public/generic/','employees',true,'Select a job title',true);
            } catch (e) {
                // fallback: simple select2 without data
                //console.log('gajax-combobox-jobtitle = no data');
                $('.ajax-combobox-jobtitle').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a job title',
                    allowClear: true
                });
            }

            //ajax-combobox-residencyspecialty
            try {
                var _residencySpecialtys = [];
                getComboboxGeneric(null,'residencyspecialty',_residencySpecialtys,false,'public/generic/','employees',true,'Select a residency specialty',true);
            } catch (e) {
                // fallback: simple select2 without data
                $('.ajax-combobox-residencyspecialty').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a residency specialty',
                    allowClear: true
                });
            }

        }
        
        // Minimal getElementTargetByHolder function
        function getElementTargetByHolder(holder,target) {
            if( holder && typeof holder !== 'undefined' && holder.length > 0 ) {
                target = holder.find(target);
            }
            return target;
        }

        $(document).ready(function() {
            console.log("document ready");

            setCicleShow();

            initTooltips();

            initConvertEnterToTab();

            initDatepicker();

            expandTextarea(null,6);

            initFileUpload();

            windowCloseAlert();

            // Initialize select2 for anonymous users
            initializeSelect2ForAnonymous();

            //scrolls the page to captcha error triggered by controller
            const $error = $('.invalid-captcha');
            if ($error.length) {
                $('html, body').animate({
                    scrollTop: $error.offset().top - 150
                }, 600);
            }

            //Testing
            //renderScreeningQuestions();

            // Initialize basic form elements
            $('input[type="text"], input[type="email"], textarea').each(function() {
                if (!$(this).hasClass('select2-input')) {
                    $(this).removeAttr('readonly');
                }
            });

            var hashValue = window.location.hash;
            //console.log("hashValue="+hashValue);
            if( hashValue == '#interviews' ) {
                //console.log("open panel");
                $('#interviews').collapse('show');
                expandTextarea($('#interviews'),6);
            }


            //Added
            var inst = $('select.fellapp-institution');
            var global = $('select.fellapp-globalFellowshipSpecialty');
            if (inst.length === 0 || global.length === 0) {
                console.log('FellApp selects not found:', 'inst len=', inst.length, 'global len=', global.length);
                //return;
            }

            //prevent recursive updates
            let syncingInst = false;
            let syncingGlobal = false;

            // Enterprise-grade URL parameter management
            function updateUrlParameter(paramName, paramValue) {
                // Build query manually to preserve square brackets in parameter names
                const search = window.location.search ? window.location.search.substring(1) : '';
                const parts = search ? search.split('&').filter(Boolean) : [];
                const kept = [];
                for (let i = 0; i < parts.length; i++) {
                    const part = parts[i];
                    const eqIdx = part.indexOf('=');
                    const keyRaw = eqIdx >= 0 ? part.substring(0, eqIdx) : part;
                    const keyDecoded = decodeURIComponent(keyRaw);
                    // Drop any existing occurrences of this param (match by decoded name)
                    if (keyDecoded !== paramName) {
                        kept.push(part);
                    }
                }
                if (paramValue) {
                    // Append new pair with unencoded name (so [ ] remain), encode only the value
                    kept.push(paramName + '=' + encodeURIComponent(paramValue));
                }
                const newQuery = kept.join('&');
                const newUrl = window.location.pathname + (newQuery ? '?' + newQuery : '') + window.location.hash;
                history.pushState({ changedParam: paramName, changedValue: paramValue }, '', newUrl);
                console.log('URL updated (manual):', paramName, '=', paramValue, 'New URL:', newUrl);
            }

            // Function to initialize URL parameters from existing URL on page load
            function initializeUrlParameters() {
                try {
                    const urlParams = new URLSearchParams(window.location.search);
                    const programParam = urlParams.get('program[]');
                    const specialtyParam = urlParams.get('specialty[]');
                    
                    if (programParam) {
                        console.log('Found program parameter in URL:', programParam);
                        // Pre-select the institution if program parameter exists
                        if (inst.length && !inst.val()) {
                            inst.val(programParam).trigger('change');
                        }
                    }

                    if (specialtyParam) {
                        console.log('Found specialty parameter in URL:', specialtyParam);
                        // Pre-select the global specialty if exists
                        if (global.length && !global.val()) {
                            global.val(specialtyParam).trigger('change');
                        }
                    }
                } catch (error) {
                    // Fallback for older browsers
                    const regexProg = new RegExp('[?&]program\[]=([^&#]*)', 'i');
                    const resultsProg = regexProg.exec(window.location.search);
                    if (resultsProg && resultsProg[1]) {
                        const programParam = decodeURIComponent(resultsProg[1].replace(/\+/g, " "));
                        console.log('Found program parameter in URL (fallback):', programParam);
                        if (inst.length && !inst.val()) {
                            inst.val(programParam).trigger('change');
                        }
                    }

                    const regexSpec = new RegExp('[?&]specialty\[]=([^&#]*)', 'i');
                    const resultsSpec = regexSpec.exec(window.location.search);
                    if (resultsSpec && resultsSpec[1]) {
                        const specialtyParam = decodeURIComponent(resultsSpec[1].replace(/\+/g, " "));
                        console.log('Found specialty parameter in URL (fallback):', specialtyParam);
                        if (global.length && !global.val()) {
                            global.val(specialtyParam).trigger('change');
                        }
                    }
                }
            }

            // Handle browser back/forward buttons
            window.addEventListener('popstate', function(event) {
                if (event.state && event.state.changedParam === 'program[]') {
                    console.log('Popstate: Restoring program parameter:', event.state.changedValue);
                    // Re-trigger change event to maintain consistency
                    if (inst.val() !== event.state.changedValue) {
                        inst.val(event.state.changedValue).trigger('change');
                    }
                }

                if (event.state && event.state.changedParam === 'specialty[]') {
                    console.log('Popstate: Restoring specialty parameter:', event.state.changedValue);
                    if (global.val() !== event.state.changedValue) {
                        global.val(event.state.changedValue).trigger('change');
                    }
                }
            });

            inst.on('change', function(){
                if (syncingInst) return;
                syncingGlobal = true;
                var instId = $(this).val();
                console.log('Institution changed:', instId);
                
                // Update URL with program parameter only if specialty[] is NOT present
                try {
                    const urlParams = new URLSearchParams(window.location.search);
                    const hasSpecialty = urlParams.get('specialty[]');
                    if (!hasSpecialty) {
                        // No specialty in URL; maintain program[]
                        updateUrlParameter('program[]', instId);
                    } else {
                        console.log('specialty[] present in URL; skipping program[] update');
                    }
                } catch (e) {
                    // Fallback: regex check
                    const hasSpecialty = /[?&]specialty\[]=/i.test(window.location.search);
                    if (!hasSpecialty) {
                        updateUrlParameter('program[]', instId);
                    } else {
                        console.log('specialty[] present in URL (fallback); skipping program[] update');
                    }
                }
                
                filterGlobalByInstitution(instId, ()=>{syncingGlobal=false;});
                isSyncing = false;
            });

            //console.log('global=',global);
            global.on('change', function(){
                if (syncingGlobal) return;
                syncingInst = true;
                var globalId = $(this).val();
                console.log('Listener on apply.html.twig: globalId changed:', globalId);
                // Replace program[] with specialty[] in URL
                updateUrlParameter('program[]', null);
                updateUrlParameter('specialty[]', globalId);
                filterInstitutionByGlobal(globalId, ()=>{syncingInst=false;});
                isSyncing = false;
                // update Screening Questions visibility based on selected global specialty
                updateScreeningQuestionsVisibility(globalId); //apply working with this (global.on('change')
            });

            var initInst = inst.val();
            var initGlobal = global.val();
            console.log('Initial institution:', initInst);
            console.log('Initial fellapp type:', initGlobal);
            
            // Initialize URL parameters from existing URL
            initializeUrlParameters();
            
            if( !initGlobal ) {
                filterGlobalByInstitution(initInst);
            } else {
                filterInstitutionByGlobal(initGlobal, ()=>{syncingInst=false;});
            }
        });

        function filterGlobalByInstitution(instId, doneCallback) {
            console.log('filterGlobalByInstitution:', 'instId=', instId);

            if( !instId ) {
                console.log('filterGlobalByInstitution: instId is null');
                //return;
            }

            var url = Routing.generate('fellapp-global-fellowship-types')
            if( instId ) {
                url = url + '/' + instId;
            }

            //const select = $('.fellapp-globalFellowshipSpecialty');

            $.ajax({
                type: 'GET',
                url: url,
                //async: false,
                dataType: 'json'
            }).then(function (data) {
                //console.log('Fetched data:', data);

                var comboboxEl = $('select.fellapp-globalFellowshipSpecialty');
                comboboxEl.empty();//.trigger("change");

                //first empty element
                var newOption = new Option('', '', false, false);
                comboboxEl.append(newOption);//.trigger('change');
                
                //console.log('Fetched data.length=', data.length);
                if( data.length > 0 ) {
                    data.forEach(function (item) {
                        var thisEncounterId = item['id'];
                        var thisEncounterText = item['text'];
                        var hasScreening = false;
                        if (typeof item['screeningquestions'] !== 'undefined') {
                            hasScreening = item['screeningquestions'] === 1 || item['screeningquestions'] === '1' || item['screeningquestions'] === true;
                        }
                        //console.log('thisEncounterText='+thisEncounterText+", thisEncounterId="+thisEncounterId);
                        //text += thisEncounterText;
                        if (thisEncounterText) {
                            var newOption = new Option(thisEncounterText, thisEncounterId, false, false);
                            // store screeningquestions flag on option for later lookup
                            $(newOption).attr('data-screening-questions', hasScreening ? '1' : '0');
                            comboboxEl.append(newOption);//.trigger('change');
                        }
                    });
                    //comboboxEl.trigger('change');
                }

                // Set initial selection from URL specialty[] parameter if present
                var selectedGlobalId = null;
                try {
                    var urlParams = new URLSearchParams(window.location.search);
                    selectedGlobalId = urlParams.get('specialty[]');
                } catch (e) {
                    var match = window.location.search.match(/specialty\[]=(\d+)/);
                    if (match) {
                        selectedGlobalId = match[1];
                    }
                }
                if (selectedGlobalId) {
                    comboboxEl.val(selectedGlobalId);
                }

                //Screening Questions visibility after options and selection are ready
                console.log('Screening Questions visibility after options and selection are ready');
                updateScreeningQuestionsVisibility(comboboxEl.val()); //filterGlobalByInstitution

                if (doneCallback) doneCallback();
            });
        }

//        // Show or hide the Screening Questions panel based on selected global fellowship specialty
//        function updateScreeningQuestionsVisibility_orig(globalId) {
//            console.log("updateScreeningQuestionsVisibility: globalId="+globalId);
//            var hasScreening = false;
//
//            if (globalId) {
//                var opt = $('select.fellapp-globalFellowshipSpecialty option[value="' + globalId + '"]');
//                console.log("Set opt=",opt);
//                if (opt.length) {
//                    var flag = opt.data('screening-questions');
//                    console.log("Set flag="+flag);
//                    hasScreening = flag === 1 || flag === '1' || flag === true;
//                    console.log("Set hasScreening="+hasScreening);
//                }
//            }
//
//            var panel = $('#fellowship-screening-questions').closest('.panel');
//            if (!panel.length) {
//                panel = $('#fellowship-screening-questions');
//            }
//
//            if (hasScreening) {
//                console.log("Show fellowship-screening-questions");
//                panel.show();
//            } else {
//                console.log("Hide fellowship-screening-questions");
//                panel.hide();
//            }
//        }

        function filterInstitutionByGlobal(globalId, doneCallback) {
            console.log('filterInstitutionByGlobal:', 'globalId=', globalId);

            if( !globalId ) {
                console.log('filterInstitutionByGlobal: globalId is null');
                //return;
            }

            const url = globalId
                    ? Routing.generate('fellapp-institution-by-global') + '/' + globalId
                    : Routing.generate('fellapp-institution-by-global');

            $.ajax({
                type: 'GET',
                url: url,
                //async: false,
                dataType: 'json'
            }).then(function (data) {
                //console.log('filterInstitutionByGlobal: Fetched data:', data);

                if( data ) {
                    var comboboxEl = $('select.fellapp-institution');
                    comboboxEl.select2('val', data);
                }
                if (doneCallback) doneCallback();
            });
        }



    </script>

{% endblock %}


