{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}



{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading">Available Tenants</div>
        <div class="panel-body">
            {% for tenantBaseUrl in tenantBaseUrlArr %}
                {{ tenantBaseUrl|raw }}<br>
            {% endfor %}
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {#logos#}
        {% if form.logos is defined %}
            <input type="hidden" id="formcycle" value="{{ cycle }}" />
            <div id="form-prototype-data"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                 data-userid = "{{ app.user.id }}"
            ></div>

            <p>
            <div class="well form-element-holder user-logos">
                <label class="col-xs-12 control-label">Multi-Tenancy Homepage Logo Image(s) - the most recent will be used</label>
                <div class="row withpaddingtop">
                    <div class="col-xs-12">
                        {{ usermacros.documentsContainer(null,form.logos,cycle,'noprototype',8,'default','Header Image','asForm') }}
                    </div>
                </div>
            </div>
            </p>
        {% endif %}

        {#highResLogos#}
        {% if form.highResLogos is defined %}
            <input type="hidden" id="formcycle" value="{{ cycle }}" />
            <div id="form-prototype-data"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                 data-userid = "{{ app.user.id }}"
            ></div>

            <p>
            <div class="well form-element-holder user-highResLogos">
                <label class="col-xs-12 control-label">Multi-Tenancy Homepage High Resolution Logo (2x) Image(s) - the most recent will be used</label>
                <div class="row withpaddingtop">
                    <div class="col-xs-12">
                        {{ usermacros.documentsContainer(null,form.highResLogos,cycle,'noprototype',8,'default','Header Image','asForm') }}
                    </div>
                </div>
            </div>
            </p>
        {% endif %}

        {{ formmacros.field(form.width) }}
        {{ formmacros.field(form.height) }}

        {{ formmacros.field(form.greeting) }}
        {{ formmacros.field(form.maintext) }}
        {{ formmacros.field(form.footer) }}

        {#Consolidated Services’ section on the homepage:#}
        {{ formmacros.field(form.servicesShow) }}
        {{ formmacros.field(form.servicestext) }}

        {#disable tenantmanager fields#}
        {#{% if form.tenants is defined %}#}
            {#{% import "AppUserdirectoryBundle/Default/userformmacros.html.twig" as userform %}#}
            {#{{ userform.tenantsSection(form.tenants, cycle, employees_sitename, "in", "Tenant(s)",true) }}#}
        {#{% endif %}#}

        {#About Us#}
        <hr>
        {% if form.aboutusLogos is defined %}
            <input type="hidden" id="formcycle" value="{{ cycle }}" />
            <div id="form-prototype-data"
                 data-userurllink = "{{ usermacros.userUrlLink()|e }}"
                 data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
                 data-userid = "{{ app.user.id }}"
            ></div>

            <p>
            <div class="well form-element-holder user-aboutuslogos">
                <label class="col-xs-12 control-label">Multi-Tenancy Homepage About Us Logo Image(s) - the most recent will be used</label>
                <div class="row withpaddingtop">
                    <div class="col-xs-12">
                        {{ usermacros.documentsContainer(null,form.aboutusLogos,cycle,'noprototype',8,'default','Header Image','asForm') }}
                    </div>
                </div>
            </div>
            </p>
        {% endif %}

        {{ formmacros.field(form.aboutusText) }}
        {{ formmacros.field(form.aboutusFooter) }}

        {% if form.submit is defined %}
            <div class="row">
                <div class="col-xs-6" align="right">
                    {#{% if form.submit is defined %}#}
                        {{ form_widget(form.submit) }}
                    {#{% endif %}#}
                </div>
                <div class="col-xs-6" align="left">
                    <a class="btn btn-default" href="{{ path('employees_homepage_manager_configure') }}"
                    >Cancel</a>
                </div>
            </div>
        {% endif %}

    {{ form_end(form) }}

    {% if cycle == 'show' %}
        <br>
        <p>
            <a class="btn btn-success" href="{{ path('employees_homepage_manager_configure_edit') }}"
            >Edit</a>
        </p>
    {% endif %}

{% endblock %}
