{% extends "OlegDeidentifierBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}


{% block title %}
    Deidentifier System
{% endblock %}


{% block content %}

    {#{{ form_enctype(form) }} method="get"#}
    <form action="{{ path('deidentifier_home') }}">

        {{ formmacros.field(form.accessionType) }}
        {{ formmacros.field(form.accessionNumber) }}

        {#<button type="submit" name="search" class="btn btn-sm btn-default">Search</button>#}
        {{ form_widget(form.search) }}

        {% if pagination is null or pagination|length == 0 %}
            {#<button type="submit" name="generate" class="btn btn-sm btn-primary">Generate a New Deidentifier</button>#}
            {{ form_widget(form.generate) }}
        {% else %}
            {% do form.generate.setRendered %}
        {% endif %}

        {#<div class="row">#}
            {#<div class="col-xs-2">#}
            {#</div>#}
            {#<div class="col-xs-6">#}
                {#{{ formmacros.field(form.accessionType) }}#}
                {#{{ formmacros.field(form.accessionNumber) }}#}
                {#&#123;&#35;{{ form_widget(form.filter) }}&#35;&#125;#}
            {#</div>#}
            {#<div class="col-xs-2">#}
                {#<div class="btn-group btn-group-justified">#}
                    {#<div class="btn-group">#}
                        {#<button type="submit" class="btn btn-sm btn-default order-filter-btn"><i class="icon-search"></i>Search</button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xs-2">#}
            {#</div>#}
        {#</div>#}

        {{ form_rest(form) }}

    </form>


    {% if pagination is defined and pagination is not null and pagination|length > 0 %}

        {#{% for accession in pagination  %}#}

            {#<div class="well">#}

                <table class="table table-hover table-condensed text-left">
                    <thead>
                    <tr>
                        {#<th>{{ knp_pagination_sortable(pagination, 'Status', 'accessionAccession.status') }}</th>#}
                        <th>{{ knp_pagination_sortable(pagination, 'Deidentifier ID', 'accessionAccession.id') }}</th> {#fix for sort deidentifier number as string#}
                        {#<th>{{ knp_pagination_sortable(pagination, 'Deidentifier Type', 'keytype.name') }}</th>#}
                        <th>{{ knp_pagination_sortable(pagination, 'Author', 'accessionAccession.provider') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Creation Date', 'accessionAccession.creationdate') }}</th>

                        {#<th>Type</th>#}
                        {#<th>Accession Number</th>#}
                        {#<th>Accession Type</th>#}
                        {#<th>Author</th>#}
                        {#<th>Creation Date</th>#}
                    </tr>
                    </thead>

                    <tbody>

                    {% for accessionAccession in pagination if accessionAccession.keytype.name == 'Deidentifier ID' %}
                        <tr>
                            {#<td>{{ accessionAccession.status }}</td>#}
                            <td>{{ accessionAccession.field }}</td>
                            {#<td>{{ accessionAccession.keytype }}</td>#}
                            <td>{{ accessionAccession.provider }}</td>
                            <td>{{ accessionAccession.creationdate|date('m/d/Y H:i') }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {#generate#}
                <form action="{{ path('deidentifier_generate',{'accessionId':pagination|first.accession.id}) }}">
                    <button type="submit" class="btn btn-sm btn-primary">Generate a New Deidentifier</button>
                </form>

            {#</div>#}

        {#{% endfor %}#}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endif %}

{% endblock %}
