{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block title %}
    {{ listmanager_title }}
{% endblock %}

{% block content %}

    <h3 class="text-info">{{ listmanager_title }}</h3>

    <br><br>

    <hr>
    <h4 class="text-info">Research Project Titles Hierarchy</h4>
    {#ResearchGroupType#}
    <p>
        <a href="{{ path('researchprojectgrouptype-list') }}">Research Project Group Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('scan_tree_researchprojecttitles_list') }}">Research Project Titles Management</a>#}
    {#</p>#}
    <p>
        <a href="{{ path('researchprojecttitles-list') }}">Flat Research Project Titles Tree</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('principalinvestigators-list') }}">Principal Investigators</a>#}
    {#</p>#}

    <hr>
    <h4 class="text-info">Educational Course Titles Hierarchy</h4>
    {#CourseGroupType#}
    <p>
        <a href="{{ path('educationalcoursegrouptypes-list') }}">Educational Course Group Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('scan_tree_educationalcoursetitles_list') }}">Educational Course Titles Management</a>#}
    {#</p>#}
    <p>
        <a href="{{ path('educationalcoursetitles-list') }}">Flat Educational Course Titles</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('coursedirectors-list') }}">Course Directors</a>#}
    {#</p>#}
    <hr>


    <p>
        <a href="{{ path('patientlisthierarchys-list') }}">Patient List Hierarchy</a>
    </p>
    <p>
        <a href="{{ path('patientlisthierarchygrouptype-list') }}">Patient List Hierarchy Group Types</a>
    </p>

    {#<p>#}
        {#<a href="{{ path('pathologycallcomplexpatients-list') }}">Pathology Call Complex Patients</a>#}
    {#</p>#}

    <p>
        <a href="{{ path('patienttype-list') }}">Patient Types</a>
    </p>

    <p>
        <a href="{{ path('mrntype-list') }}">MRN Types</a>
    </p>
    {#<p>#}
    {#<a href="{{ path('generate_mrntype') }}">Generate MRN Types</a>#}
    {#</p>#}

    <hr>

    <p>
        <a href="{{ path('messagetypeclassifiers-list') }}">Message Type Classifiers</a>
    </p>
    <p>
        <a href="{{ path('messagecategorys-list') }}">Message Categories</a>
    </p>
    <p>
        <a href="{{ path('amendmentreasons-list') }}">Amendment Reasons</a>
    </p>
    <p>
        <a href="{{ path('suggestedmessagecategorys-list') }}">Suggested Message Categories</a>
    </p>
    <p>
        <a href="{{ path('calllogentrytags-list') }}">Call Log Entry Tags</a>
    </p>

    <hr>

    <p>
        <a href="{{ path('magnifications-list') }}">Magnifications</a>
    </p>

    <p>
        <a href="{{ path('stain-list') }}">Stains</a>
        (
            <a href="{{ path('stain-list-excel',{'sort':'ent.type','direction':'asc'}) }}">Download stains in a spreadsheet</a> | <a href="{{ path('stain_update_fulltitle') }}">Update stain's full titles</a> | <a href="{{ path('generate_stain') }}">Generate Stains</a>
        )
        {#<a href="{{ path('remove-all-stains') }}">Remove All Stains</a>#}
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_stain') }}">Generate Stains</a>#}
    {#</p>#}

    <p>
        <a href="{{ path('parttitle-list') }}">Part Titles</a>
    </p>

    <p>
        <a href="{{ path('diseasetypes-list') }}">Disease Types</a>
    </p>

    <p>
        <a href="{{ path('diseaseorigins-list') }}">Disease Origins</a>
    </p>

    <p>
        <a href="{{ path('organ-list') }}">Organs</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_organ') }}">Generate Organs</a>#}
    {#</p>#}


    <p>
        <a href="{{ path('procedure-list') }}">Procedure Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_procedure') }}">Generate Procedures</a>#}
    {#</p>#}

    {#EncounterList: similar to Procedure Types#}
    <p>
        <a href="{{ path('encounter-list') }}">Encounter Name List</a>
    </p>

    {#<p>#}
        {#<a href="{{ path('encounterinfotype-list') }}">Encounter Info Types</a>#}
    {#</p>#}

    <p>
        <a href="{{ path('encounterstatuses-list') }}">Encounter Statuses</a>
    </p>

    <p>
        <a href="{{ path('patientrecordstatuses-list') }}">Patient Record Statuses</a>
    </p>

    <p>
        <a href="{{ path('messagestatuses-list') }}">Message Statuses</a>
    </p>

    <p>
        <a href="{{ path('encounterinfotypes-list') }}">Encounter Info Type List</a>
    </p>

    <p>
        <a href="{{ path('slidetype-list') }}">Slide Types</a>
    </p>
    {#<p>#}
        {#<a href="{{ path('generate_slidetype') }}">Generate Slide Types</a>#}
    {#</p>#}


    <p>
        <a href="{{ path('accessiontype-list') }}">Accession Types</a>
    </p>

    <p>
        <a href="{{ path('encountertype-list') }}">Encounter Number Types</a>
    </p>

    <p>
        <a href="{{ path('proceduretype-list') }}">Procedure Number Types</a>
    </p>

    <p>
        <a href="{{ path('reporttype-list') }}">Report Types</a>
    </p>

    <p>
        <a href="{{ path('orderdelivery-list') }}">Order Delivery Options</a>
    </p>

    <p>
        <a href="{{ path('regiontoscan-list') }}">Region To Scan Options</a>
    </p>

    <p>
        <a href="{{ path('processorcomment-list') }}">Scan Order Processor Comments</a>
    </p>

    <p>
        <a href="{{ path('status-list') }}">Statuses (will be attached to Message)</a>
    </p>

    <p>
        <a href="{{ path('progresscommentseventtypes-list') }}">Progress and Comments Event Types</a>
    </p>

    <p>
        <a href="{{ path('scanloggereventtypes-list') }}">Event Log's Event Types</a>
    </p>

    <p>
        <a href="{{ path('accounts-list') }}">Account Numbers</a>
    </p>

    <p>
        <a href="{{ path('urgency-list') }}">Urgency Types</a>
    </p>

    <p>
        <a href="{{ path('races-list') }}">Races</a>
    </p>

    <p>
        <a href="{{ path('instruction-list') }}">Instructions for Embedder</a>
    </p>

    <p>
        <a href="{{ path('imageanalysisalgorithm-list') }}">Image Analysis Algorithms</a>
    </p>

    <hr>
    <h4 class="text-info">Laboratory Tests</h4>
    <p>
        <a href="{{ path('scan_labtests_pathaction_list') }}">Laboratory Tests</a>
    </p>
    <p>
        <a href="{{ path('labtesttype-list') }}">Laboratory Test ID Types</a>
    </p>

    {#<hr>#}
    {#<p>#}
        {#<a href="{{ path('systemaccountrequesttypes-list') }}">System Account Request Types</a>#}
    {#</p>#}

    <br>
    <hr>
    {#<h3 class="text-info">Tests</h3>#}
    <p><a  data-confirm="Are you sure? This action will create a Test Patient in Database."
           href="{{ path('scan_testpatient_new') }}">Create a Test Patient</a>
    </p>
    <hr>

    <br>

    {% if environment is not defined %}
        {% set environment = 'dev' %}
    {% endif %}



    <!--show this only for dev. Don't show for live-->
    {#{% if is_granted('ROLE_SCANORDER_ADMIN') and environment == 'dev' %}#}
    {% if is_granted('ROLE_SCANORDER_ADMIN') %}
        <p><a  data-confirm="Are you sure? This action will overwrite all values on all lists with defaults."
               href="{{ path('generate_all') }}">Populate All Lists With Default Values</a>
        </p>
    {% endif %}

    <br>

{% endblock %}

