{#{% extends "::base.html.twig" %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{#{% block body -%}#}
    
<h1>Block creation</h1>

<form action="{{ path('block_create') }}" method="post" {{ form_enctype(form) }}>

{#{{ form_start(form) }}#}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}

    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.slide.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for slide in form.slide %}
            <li>{{ form_row(slide) }}</li>
        {% endfor %}
    </ul>
{#{{ form_end(form) }}#}
    
    <p>
        <button type="submit">Create Block</button>
    </p>
</form>

    
<a href="{{ path('block') }}">Back to the list</a>
  

{% endblock %}    
{#{% endblock %}#}
  