{#
    Copyright 2018 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}

{#{% if sitename == 'employees' %}#}
    {#{% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}#}
{#{% elseif sitename == 'fellapp' %}#}
    {#{% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}#}
{#{% elseif sitename == 'deidentifier' %}#}
    {#{% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}#}
{#{% elseif sitename == 'scan' %}#}
    {#{% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}#}
{#{% elseif sitename == 'vacreq' %}#}
    {#{% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}#}
{#{% elseif sitename == 'calllog' %}#}
    {#{% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}#}
{#{% elseif sitename == 'translationalresearch' %}#}
    {#{% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}#}
{#{% endif %}#}

{#{% extends extendStr%}#}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}#}
    {#{{ title }}#}
{#{% endblock %}#}

{#{% block head %}#}
    {#{% stylesheets#}
    {#'bundles/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
    {#'bundles/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    {#http://www.telegraphicsinc.com/2013/10/using-bootstrap-3-with-internet-explorer-8-ie8/#}
    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/css3-mediaqueries.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#<!--[if lt IE 9]>#}
    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/html5shiv.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/respond.min.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {#<![endif]-->#}

    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}

    {#<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}

    {#<link rel="icon" type="image/x-icon" href="{{ asset('glyphicons-157-show-thumbnails.png') }}" />#}
{#{% endblock %}#}


{#{% block body %}#}

    {#{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}#}
    {#{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}#}
    {#{% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}#}

    {#<h3 class="text-info">{{ title }}</h3>#}

    {#<hr>#}

    {#{{ form_start(form) }}#}

        {#{{ formmacros.simplefield( "User Name:", user.primaryPublicUserId, "", "disabled" ) }}#}
        {#{{ formmacros.simplefield( "Email:", user.getSingleEmail(), "", "disabled" ) }}#}

        {#{{ form_errors(form.password) }}#}
        {#{{ formmacros.field(form.password.first) }}#}
        {#{{ formmacros.field(form.password.second) }}#}


        {#{% if form.reset is defined %}#}
            {#<p>#}
                {#{{ form_widget(form.reset) }}#}
            {#</p>#}
        {#{% endif %}#}

    {#{{ form_end(form) }}#}


{#{% endblock %}#}



<!DOCTYPE html>

<html>

<head>

    {#{% stylesheets#}
    {#'bundles/appuserdirectory/bootstrap/css/*' filter='cssrewrite'#}
    {#'bundles/appuserdirectory/form/css/form.css' filter='cssrewrite'#}
    {#'bundles/appuserdirectory/select2/select2.css' filter='cssrewrite'#}
    {#%}#}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />

    {#http://www.telegraphicsinc.com/2013/10/using-bootstrap-3-with-internet-explorer-8-ie8/#}
    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/css3-mediaqueries.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#<!--[if lt IE 9]>#}
    {#{% javascripts#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/html5shiv.min.js'#}
    {#'@AppUserdirectoryBundle/Resources/public/html5-bootstrap-fix/respond.min.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {#<![endif]-->#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/css3-mediaqueries.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/html5shiv.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/html5-bootstrap-fix/respond.min.js') }}"></script>

    <title>{{ title }}</title>

    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" type="image/x-icon" href="{{ asset('glyphicons-157-show-thumbnails.png') }}" />

</head>

<body>

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

<div class="container text-center col-xs-12">

    <h3 class="text-info">{{ title }}</h3>

    {{ form_start(form) }}

    {{ formmacros.simplefield( "User Name:", user.primaryPublicUserId, "", "disabled" ) }}
    {{ formmacros.simplefield( "Email:", user.getSingleEmail(), "", "disabled" ) }}

    {#{{ form_errors(form.password) }}#}
    {{ formmacros.field(form.password.first) }}
    {{ formmacros.field(form.password.second) }}


    {% if form.reset is defined %}
        <p>
            {{ form_widget(form.reset) }}
        </p>
    {% endif %}

    {{ form_end(form) }}

    {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

</div> <!-- /container -->

<!-- send width and height info to the server -->
{#{% javascripts#}
{#'@AppUserdirectoryBundle/Resources/public/form/js/errorwatch.js'#}
{#'@AppUserdirectoryBundle/Resources/public/jquery/jquery-1.11.0.min.js'#}
{#'@AppUserdirectoryBundle/Resources/public/bootstrap/js/*'#}
{#%}#}
{#<script type="text/javascript" src="{{ asset_url }}"></script>#}
{#{% endjavascripts %}#}

<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/errorwatch.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
<script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>
