{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppOrderformBundle/Default/base.html.twig" %}#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% endif %}

{% if sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}



{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% import "AppOrderformBundle/Default/patientmacros.html.twig" as patientmacros %}

{% import "AppOrderformBundle/Default/ordercommon.html.twig" as order %}

{% form_theme form 'AppOrderformBundle/Default/common_widget.html.twig' %}


{% set formpath = 'Patient Data Structure' %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="orderformtype" value="multi" />
    <input type="hidden" id="formcycle" value="{{ type }}" />

    {% if updatepath is not defined %}
        {%  set updatepath = 'scan_patient_update' %}
    {% endif %}

    {% if entity.id %}
        {{ form_start(form,{'method': 'POST', 'action': path(updatepath,{'id':entity.id})}) }}
    {% else %}
        {{ form_start(form) }}
    {% endif %}

{#<form id="patient-form" action="{{ path(updatepath,{'id':entity.id}) }}" method="POST">#}
{#{{ form_start(form,{'method': 'POST', 'action': path(updatepath,{'id':entityId})}) }}#}

    {#<div id="form-prototype-data"#}
         {#data-uploadurl = "{{ oneup_uploader_endpoint('scan_gallery') }}"#}
         {#data-userid = "{{ app.user.getId() }}"#}
    {#></div>#}

    {{ form_errors(form) }}

    {#{{ patientmacros.displayPatient(form,0,'Submitted',datastructure,type,formtype) }}#}

    {% set status = 'Submitted' %}
    {% if showPlus is not defined %}
        {% set showPlus = null %}
    {% endif %}
    {{ patientmacros.displayFullPatientForm( form, status, showPlus, datastructure, type, formtype, null, null ) }}

    {% if cycle == "edit" %}
        <br>
        <p>
            <button id="patient_update_btn" class="btn_margin_top btn btn-primary btn-success" name="btnUpdate" type="submit">
                Update Patient
            </button>
        </p>
    {% endif %}

    {% if cycle == "show" and editpath is defined %}
        <br>
        <p>
            {#<button id="patient_update_btn" class="btn_margin_top btn btn-primary btn-success" name="btnUpdate" type="submit">#}
                {#Update Patient#}
            {#</button>#}
            {#<a class="btn_margin_top btn btn-primary btn-success" href="{{ path(editpath, { 'id': entity.id}) }}">Edit Patient</a>#}
            <a class="btn_margin_top btn btn-primary btn-success" href="{{ path('calllog_single_patient_view', { 'id': entity.id}) }}">Edit Patient</a>
        </p>
    {% endif %}

    {{ form_row(form._token) }}
    {#{{ form_rest(form) }}#}

{#</form>#}
{{ form_end(form, {'render_rest': false}) }}

{% endblock %}
