{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppDeidentifierBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}


{% block title %}
    Deidentifier Search
{% endblock %}


{% block content %}

    <input type="hidden" id="orderformtype" value="deidentifier" />
    <input type="hidden" id="formcycle" value="new" />


    {% if pagination is defined and pagination is not null and pagination|length > 0 %}

        {#{% for accession in pagination  %}#}

            {#<div class="well">#}

                <table class="table table-hover table-condensed text-left">
                    <thead>
                    <tr>
                        {#<th>{{ knp_pagination_sortable(pagination, 'Status', 'accessionAccession.status') }}</th>#}
                        <th>{{ knp_pagination_sortable(pagination, 'Accession ID', 'accessionAccession.id') }}</th> {#fix for sort deidentifier number as string#}
                        <th>{{ knp_pagination_sortable(pagination, 'Accession Type', 'keytype.name') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Author', 'accessionAccession.provider') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Creation Date', 'accessionAccession.creationdate') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Organizational Group', 'institution.fulltitle') }}</th>

                        <th>{{ knp_pagination_sortable(pagination, 'Patient', 'lastname.field') }}</th>

                        {#<th>Type</th>#}
                        {#<th>Accession Number</th>#}
                        {#<th>Accession Type</th>#}
                        {#<th>Author</th>#}
                        {#<th>Creation Date</th>#}
                    </tr>
                    </thead>

                    <tbody>

                    {% for accessionAccession in pagination %}
                        <tr>
                            {#<td>{{ accessionAccession.status }}</td>#}
                            <td>{{ accessionAccession.field }}</td>
                            <td>{{ accessionAccession.keytype }}</td>
                            <td>
                                {#{{ accessionAccession.provider }}#}
                                <a href="{{ path(employees_sitename~'_showuser', { 'id': accessionAccession.provider.id }) }}">{{ accessionAccession.provider }}</a>
                            </td>
                            <td>{{ accessionAccession.creationdate|date('m/d/Y H:i') }}</td>
                            <td>{{ accessionAccession.accession.institution.fulltitle }}</td>

                            <td>
                                {% if accessionAccession.accession.procedure.encounter.patient %}
                                    {{ accessionAccession.accession.procedure.encounter.patient.obtainFullObjectName|raw }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {#generate#}
                {#<form action="{{ path('deidentifier_generate',{'accessionId':pagination|first.accession.id}) }}">#}
                    {#<button type="submit" class="btn btn-sm btn-primary">Generate a New Deidentifier</button>#}
                {#</form>#}

            {#</div>#}

        {#{% endfor %}#}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}

        <h4>
            No matching IDs found
        </h4>

    {% endif %}

    {% if is_granted("read", "Accession") %}
        <br>
        <p>
            <a href="{{ path(deidentifier_sitename~'_home') }}">Generate a Deidentifier ID</a>
        </p>
    {% endif %}



{% endblock %}
