{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ formtype }}
{% endblock %}


{% block maincss %}

    {% stylesheets
    'bundles/olegorderform/handsontable/jquery.handsontable.full.css' filter='cssrewrite'
    'bundles/olegorderform/form/css/handsontable.css' filter='cssrewrite'
    'bundles/olegorderform/select2/select2.css' filter='cssrewrite'
    'bundles/olegorderform/ladda/ladda-themeless.css' filter='cssrewrite'
    'bundles/olegorderform/form/css/action.css' filter='cssrewrite'
    'bundles/olegorderform/handsontable/lib/jquery-ui/css/ui-bootstrap/jquery-ui.custom.css' filter='cssrewrite'
    'bundles/olegorderform/datepicker/css/datepicker3.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% block mainjs %}

    {% javascripts
    '@OlegOrderformBundle/Resources/public/jquery/jquery-1.11.0.min.js'
    '@OlegOrderformBundle/Resources/public/handsontable/lib/jquery-ui/js/jquery-ui.custom.min.js'
    '@OlegOrderformBundle/Resources/public/handsontable/jquery.handsontable.full.js'
    '@OlegOrderformBundle/Resources/public/form/js/handsontable_scanorder.js'
    '@OlegOrderformBundle/Resources/public/form/js/handsontable_validation.js'
    '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
    '@OlegOrderformBundle/Resources/public/ladda/spin.min.js'
    '@OlegOrderformBundle/Resources/public/ladda/ladda.min.js'
    '@OlegOrderformBundle/Resources/public/datepicker/js/*'
    '@OlegOrderformBundle/Resources/public/select2/select2.js'
    '@OlegOrderformBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'
    '@OlegOrderformBundle/Resources/public/form/js/checkSingleForm.js'
    '@OlegOrderformBundle/Resources/public/form/js/slideColl.js'
    '@OlegOrderformBundle/Resources/public/form/js/partRadios.js'
    '@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'
    '@OlegOrderformBundle/Resources/public/form/js/commonCheckForm.js'
    '@OlegOrderformBundle/Resources/public/form/js/checkForm.js'
    '@OlegOrderformBundle/Resources/public/form/js/masking.js'
    '@OlegOrderformBundle/Resources/public/form/js/form.js'
    '@OlegOrderformBundle/Resources/public/form/js/formReady.js'
    '@OlegOrderformBundle/Resources/public/form/js/modal.js'
    '@OlegOrderformBundle/Resources/public/form/js/tooltips.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimeout.js'
    '@OlegOrderformBundle/Resources/public/idletimeout/jquery.idletimer.js'
    '@OlegOrderformBundle/Resources/public/form/js/idleTimeout.js'
    '@OlegOrderformBundle/Resources/public/jasny/js/rowlink.js'
    '@OlegOrderformBundle/Resources/public/q-1/q.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block content %}

    <h3 class="text-info">{{ formtype }}</h3>

    <input type="hidden" id="orderformtype" value="single" />
    <input type="hidden" id="formcicle" value="{{ cycle }}" />

    <br />

    {############ START FORM ##############}
    <form id="table-scanorderform" action="{{ path('table_create_submit') }}" method="post" {{ form_enctype(form) }}>

        {% include 'OlegOrderformBundle::MultiScanOrder/edu_res.html.twig' %}

        <div id="form-prototype-data"
            data-prototype-dataquality = "{{ formmacros.dataQualityWidgetNotMapped(form.conflicts.vars.prototype,cycle)|e }}"
        ></div>

        <!-- handsontable -->
        <br>

        <p>
            <div id="multi-dataTable" class="text-center" align="middle" style="overflow: scroll"></div>
        </p>

        <br>

        <p>{{ formmacros.orderinfo_panel(form,"Order Info") }}</p>

        <p>
            <button id="tableview-submit-btn" class="btn_margin_top btn btn-primary btn-success" name="btnTableSubmit" data-loading-text="Validating..." type="submit">Submit</button>
        </p>

        <div id="validationerror" style="padding-top: 2%"></div>


        {{ form_rest(form) }}

    </form>
    {############ END FORM ##############}

{% endblock %}
