{#set unique id for this form collection of the same entity/object#}
{#{% set uid = name~"_"~id %}#}

{#<button id="form_btn}" type="button" class="btn btn_margin" data-toggle="collapse" data-target="#form_panel_collapse">#}
    {#{{ name }} (s)  +/-#}
{#</button>#}


{#<div id="form_panel_collapse" class="collapse in">#}

    {#  form/object holder: id="formpanel_patient_2" #}
    <div id="formpanel" class="panel">

        <div id="formpanel_collection" class="panel panel-primary">

            <div class="panel-heading">

                {{ name }} {{ id }}

                <button id="form_body_btn_{{ uid }}" type="button" class="btn btn_margin" data-toggle="collapse" data-target="#form_body_{{ uid }}">
                    +/-
                </button>

            </div>

            <div id="form_body_{{ uid }}" class="panel-body collapse in">
                Panel content goes here..
            </div>

            {#append here the same form#}
            {{ include('OlegOrderformBundle::MultiScanOrder/panel.html.twig', {'name': name,'id': id, 'pid': pid }) }}

        </div>


    </div>

{#</div>#}


{#<button id="form_add_btn" type="button" class="btn btn_margin" onclick="addSameForm()">#}
    {#Add {{ name }}#}
{#</button>#}


{#<div class="panel panel-primary">#}
    {#<div class="panel-heading">Bootstrap 3 - Panel Primary</div>#}
    {#<div class="panel-body">Panel content goes here..</div>#}
{#</div>#}

{#<div class="panel panel-primary">#}
    {#<div class="panel-heading">Bootstrap 3 - Panel Primary</div>#}
    {#<div class="panel-body">Panel content goes here..</div>#}
{#</div>#}





