{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    {#{{ projects.getTotalItemCount }}#}

{% if filterError is not defined or (filterError is defined and not filterError) %}

    {% if allProjects|length > 0 %}
    <p>
        <a href="{{ path('translationalresearch_download_projects_excel',{'ids':transres_util.getProjectsIdsStr(allProjects)}) }}">
            <i class="fa fa-file-excel fa-lg"></i> Export matching project summaries to a spreadsheet</a>
    </p>
    {% endif %}

    <div class="well form-search">
        {{ form_start(filterform) }}

            <div class="row">
                <div class="col-xs-4">
                    {{ form_widget(filterform.projectSpecialty, {'attr': {'placeholder': 'Specialty'}}) }}
                </div>
                <div class="col-xs-4">
                    {{ form_widget(filterform.searchId) }}
                </div>
                <div class="col-xs-4">
                    {{ form_widget(filterform.principalInvestigators, {'attr': {'placeholder': 'Principal Investigators for the project'}}) }}
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-xs-12">
                    <button id="filter-btn" type="submit" class="btn btn-default">Filter</button>
                </div>
            </div>

            {#advanced search#}
            {% if advancedFilter %}
                {% set advacedCollapse = 'in' %}
            {% else %}
                {% set advacedCollapse = '' %}
            {% endif %}
            <br>
            <div class="row">
                <a data-toggle="collapse" href="#transres-AdvancedSearch">Advanced Search</a>
            </div>
            <div id="transres-AdvancedSearch" class="panel-collapse collapse {{ advacedCollapse }}">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-4">
                            {{ form_widget(filterform.state,{'attr': {'placeholder': 'Status'}}) }}
                        </div>
                        <div class="col-xs-4">
                            {{ formmacros.fielddate(filterform.startDate,'allow-future-date') }}
                        </div>
                        <div class="col-xs-4">
                            {{ formmacros.fielddate(filterform.endDate,'allow-future-date') }}
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-xs-4">
                            {{ form_widget(filterform.searchIrbNumber) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(filterform.searchTitle) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(filterform.submitter, {'attr': {'placeholder': 'Submitter'}}) }}
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-xs-4">
                            {{ form_widget(filterform.fundingNumber) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(filterform.fundingType) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(filterform.searchProjectType) }}
                        </div>
                    </div>

                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->

        {{ form_end(filterform) }}
    </div>
    <br>

    {#<table class="table table-hover table-condensed text-left table-bordered">#}
    <table class="records_list table table-condensed text-left my-table-class">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>{{ knp_pagination_sortable(projects, 'ID', 'project.id') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Submitted', 'project.createDate') }}</th>
                {#<th>{{ knp_pagination_sortable(projects, 'IRB#', 'project.irbNumber') }}</th>#}
                <th>{{ knp_pagination_sortable(projects, 'Principal Investigator(s)', 'principalInvestigatorsInfos.displayName') }}</th>
                <th>{{ transres_util.getHumanName() }} Number</th>
                {#<th>Project Title</th>#}
                <th>{{ knp_pagination_sortable(projects, 'Project Title', 'project.title') }}</th>
                <th>Funding</th>
                <th>{{ knp_pagination_sortable(projects, 'Status', 'project.state') }}</th>
                <th>{{ knp_pagination_sortable(projects, 'Approval Date', 'project.approvalDate') }}</th>
                {#<th>{{ knp_pagination_sortable(projects, 'Expiration Date', 'project.expirationDate') }}</th>#}
                {#<th>IRB/IACUC Expiration Date</th>#}
                <th>{{ transres_util.getHumanAnimalName() }} Expiration Date</th>
                <th>Requests</th>

                <th title="Number of the Latest Issued Invoices">Issued Invoices</th>
                <th title="Total Amount of the Latest Issued Invoices">Total</th>
                <th title="Paid Amount of the Latest Issued Invoices">Paid</th>
                <th title="Due Amount of the Latest Issued Invoices">Due</th>

                <th>Actions</th>
            </tr>
        </thead>

        {% set count = 0 %}
        {% for project in projects %}

            {% if count is odd %}
                {% set trclassname = "table-row-separator-gray" %}
            {% else %}
                {% set trclassname = "table-row-separator-white" %}
            {% endif %}
            {% set count = count + 1 %}

            {#add if state has "_rejected"?#}
            {% if project.state == 'not_approved' or project.state == 'closed' %}
                {% set trclassname = "order-reject-status" %}
            {% endif %}

            <tbody data-link="row" class="rowlink table-tbody-hover" {{ trclassname }}>
            <tr style="border-bottom: 1px solid #C6C6C6;">
                <td>
                    <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">{{ project.oid }}</a>
                </td>

                <td>
                    {{ project.createDate|date('m/d/Y') }}
                </td>

                <td class="rowlink-skip">
                    {% for principalInvestigator in project.principalInvestigators %}
                        {#{{ principalInvestigator }}<br>#}
                        {% set personurl = path(translationalresearch_sitename~'_showuser',{'id':principalInvestigator.id}) %}
                        {% set personlink = '<a href="'~personurl~'" target="_blank">'~principalInvestigator.getUsernameOptimal()~'</a>'  %}
                        {{ personlink|raw }}<br>
                    {% endfor %}
                </td>

                <td>
                    {% set irbNumber = transres_formnode_util.getProjectFormNodeFieldByName(project,transres_util.getHumanName()~" Number") %}
                    {% if irbNumber %}
                        {{ irbNumber }}
                    {% endif %}
                </td>

                <td>
                    {#{{ project.title }}#}
                    {% set projectTitle = project.title %}
                    {% if not projectTitle %}
                        {% set projectTitle = transres_formnode_util.getProjectFormNodeFieldByName(project,"Title") %}
                    {% endif %}
                    {{ projectTitle|length > 30 ? projectTitle|slice(0, 30) ~ '...' : projectTitle  }}
                </td>

                <td>
                    {#{% if project.funded %}#}
                    {% if transres_formnode_util.getProjectFormNodeFieldByName(project,"Funded") %}
                        Funded
                    {% else %}
                        Not-Funded
                    {% endif %}
                </td>

                <td>
                    {#{{ project.state }}#}
                    {{ transres_util.getStateLabelByName(project.state) }}
                </td>

                <td>
                    {% if project.approvalDate %}
                        {{ project.approvalDate|date('m/d/Y') }}
                    {% endif %}
                </td>

                {#<td>#}
                    {#{% if project.expirationDate %}#}
                        {#{{ project.expirationDate|date('m/d/Y') }}#}
                    {#{% endif %}#}
                {#</td>#}

                <td>
                    {#{{ project.title }}#}
                    {{ transres_formnode_util.getProjectFormNodeFieldByName(project,transres_util.getHumanName()~" Expiration Date") }}
                </td>

                {#Requests#}
                <td class="rowlink-skip">
                    {#{{ project.getRequests()|length }}#}
                    {% if project.getRequests()|length > 0 %}
                        <a href="{{ path(translationalresearch_sitename~'_request_index', { 'id': project.id }) }}"
                           target="_blank">{{ project.getRequests()|length }}</a>
                    {% else %}
                        {{ project.getRequests()|length }}
                    {% endif %}
                </td>

                {#Invoices #}
                {% set invoicesInfos = transres_util.getInvoicesInfosByProject(project) %}
                {#<td>#}
                    {#{{ invoicesInfos.count }}#}
                {#</td>#}
                {#all issued invoices associated with the project#}
                <td class="rowlink-skip">
                    {% if invoicesInfos.count > 0 %}
                        <a target="_blank" data-toggle="tooltip" title="Show all issued invoices associated with this project"
                           href="{{ path(translationalresearch_sitename~'_invoice_index_filter', {
                               'filter[idSearch]': project.getOid(false),
                               'filter[status][0]': 'Unpaid/Issued',
                               'filter[status][1]': 'Paid in Full',
                               'filter[status][2]': 'Paid Partially',
                               'filter[status][3]': 'Refunded Fully',
                               'filter[status][4]': 'Refunded Partially'
                           }) }} "
                        >{{ invoicesInfos.count }}</a>
                    {% else %}
                        {{ invoicesInfos.count }}
                    {% endif %}
                </td>

                {#Subtotal of Issued Invoices#}
                <td>
                    {% if invoicesInfos.total is not null %}
                        ${{ invoicesInfos.total }}
                    {% endif %}
                </td>
                {#Subtotal of Issued Paid Invoices#}
                <td>
                    {% if invoicesInfos.paid is not null %}
                        ${{ invoicesInfos.paid }}
                    {% endif %}
                </td>
                <td>
                    {% if invoicesInfos.due is not null %}
                        ${{ invoicesInfos.due }}
                    {% endif %}
                </td>

                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li>
                                <a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}"
                                >Show Project</a>
                            </li>


                            {% if transres_util.isAdminOrPrimaryReviewer() or transres_util.isProjectReviewer(project) %}
                                {% if transres_util.isProjectStateReviewer(project,app.user) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_review', { 'id': project.id }) }} "
                                    >Review Project</a>
                                </li>
                                {% endif %}
                            {% endif %}

                            {% if transres_util.isProjectStateRequesterResubmit(project) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}"
                                    >Edit/Resubmit Project</a>
                                </li>
                            {% endif %}

                            {#add verification: requester => project is on the draft stage or in the reject stage#}
                            {% if is_granted('ROLE_TRANSRES_ADMIN') or transres_util.isProjectEditableByRequester(project) %}
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}"
                                    >Edit Project</a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_TRANSRES_ADMIN') %}
                                {% if eventObjectTypeId is defined and eventObjectTypeId %}
                                    <li>
                                    <a href="{{ path('translationalresearch_event-log-per-object_log', { 'filter[objectType][]': eventObjectTypeId, 'filter[objectId]': project.id}) }}"
                                        >Associated Events</a>
                                    {#<a href="{{ path('translationalresearch_event-log-per-object_log', { 'objectType': eventObjectTypeId, 'objectId': project.id}) }}"#}
                                    {#>View Event Log</a>#}
                                    </li>
                                {% endif %}
                            {% endif %}

                            <li>
                                <a href="{{ path('translationalresearch_download_projects_excel',{'ids':project.id}) }}">
                                    <i class="fa fa-file-excel fa-lg"></i> Export project summary to a spreadsheet</a>
                            </li>

                            {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
                                {#<li>#}
                                    {#<a href="{{ path(translationalresearch_sitename~'_project_set_state', { 'id': project.id }) }}" target="_blank">Force Set Project State (visible for super admin only for testing only!)</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                            {#{% set actionLinks = transres_util.getProjectReviewLinks(project,app.user) %}#}
                            {#{% if actionLinks|length > 0 %}#}
                                {#<li class="divider"></li>#}
                            {#{% endif %}#}
                            {#{% for actionLink in actionLinks %}#}
                                {#<li>#}
                                    {#{{ actionLink|raw }}#}
                                {#</li>#}
                            {#{% endfor %}#}

                            {#{% if actionLinks|length > 0 %}#}
                                {#<li>#}
                                    {#<a href="{{ path(translationalresearch_sitename~'_project_review', { 'id': project.id }) }}" target="_blank">Review Project</a>#}
                                {#</li>#}
                            {#{% endif %}#}

                            {% set isRequestCanBeCreated = transres_request_util.isRequestCanBeCreated(project) %}
                            {% if isRequestCanBeCreated == 1 %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_request_new', { 'id': project.id }) }}"
                                       >New Work Request</a>
                                </li>
                            {% endif %}
                            {#{% if isRequestCanBeCreated == -1 %}#}
                                {#You don't have a permission to create a new request#}
                            {#{% endif %}#}
                            {#{% if isRequestCanBeCreated == -2 %}#}
                                {#<li class="divider"></li>#}
                                {#<li>#}
                                    {#Project is not approved#}
                                {#</li>#}
                            {#{% endif %}#}
                            {% if isRequestCanBeCreated == -3 %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}"
                                       >Update {{ transres_util.getHumanName() }} approval expiration date to submit new requests</a>
                                </li>
                            {% endif %}
                            {#{% if is_granted('ROLE_TRANSRES_REQUESTER') or transres_util.isAdminOrPrimaryReviewer() %}#}
                                {% if project.getRequests()|length > 0 %}
                                    <li>
                                        <a href="{{ path(translationalresearch_sitename~'_request_index', { 'id': project.id }) }}"
                                           >Associated Work Requests</a>
                                    </li>
                                {% endif %}
                            {#{% endif %}#}

                        </ul>

                    </div>
                </td>
            </tr>
            {#<tr class="table-no-border">#}
                {#<td style="display: none">#}
                    {#<a href="{{ path(translationalresearch_sitename~'_project_show', { 'id': project.id }) }}" target="_blank">Show/Review Project</a>#}
                {#</td>#}
                {#{{ user_formnode_utility.getFormNodeHolderShortInfo(project,project.messageCategory,1,trclassname,true,14)|raw }}#}
            {#</tr>#}
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>

    {#{{ render(controller('AppTranslationalResearchBundle:Project:threadComments', { 'id': "3-9-committee_review" })) }}#}
    {#{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': "3-9-committee_review"} %}#}

    {% if is_granted('ROLE_TRANSRES_REQUESTER') %}
        <br>
        <p>
            <a class="btn btn-primary" href="{{ path(translationalresearch_sitename~'_project_new_selector') }}">New Project Request</a>
        </p>
    {% endif %}

{% endif %}

{% endblock %}

{#{% block additionalcss %}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />#}
{#{% endblock %}#}

{% block additionaljs %}
    {#{% javascripts#}
        {#'@AppTranslationalResearchBundle/Resources/public/form/js/transres-filterbtn.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres-filterbtn.js') }}"></script>
{% endblock %}
