{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block title %}
    Progress & Comments
{% endblock %}

{% block content %}

    {% if orderid is defined %}

        {#10:54am, February 27th, 2014#}
        {% include 'AppOrderformBundle/History/add_comment.html.twig' %}
        <h3 class="text-info">Progress & Comments of <a href="{{ path('multy_show', { 'id': orderid }) }}">Order {{ orderid }}</a> as of {{ "now"|date('h:i a, F jS, Y') }}</h3>

    {% else %}
        <h3 class="text-info">Progress & Comments List</h3>
    {% endif %}

    <input type="hidden" id="reload_page_after_modal" value="1" />

    <a class="btn btn-default btn_margin" href="{{ path('history_message_show', { 'id': orderid }) }}" style="">Reload this page to see most current comments and updates</a>

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
            <tr>
                {#<th>Id</th>#}
                {#<th>Currentid</th>#}
                {#<th>Newid</th>#}
                {% if orderid is not defined %}
                    <th>Order</th>
                {% endif %}
                <th>Timestamp</th>
                <th>Event Type</th>
                <th>Status</th>
                <th>Performed By</th>
                <th>Role(s)</th>
                <th style="width: 25%">Comment</th>
                {#<th>Viewed</th>#}

                {#<th>Actions</th>#}

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            <tr>
                {#<td><a href="{{ path('history_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                {#<td>{{ entity.currentid }}</td>#}
                {#<td>{{ entity.newid }}</td>#}

                {% if orderid is not defined %}
                    <td>{{ entity.currentid }}</td>
                {% endif %}

                <td>{% if entity.changedate %}{{ entity.changedate|date('m/d/Y H:i') }}{% endif %}</td>
                <td>
                    {{ entity.eventtype }}
                </td>
                <td>
                    <p>{{ entity.currentstatus }}</p>
                </td>
                <td>
                    <a href="{{ path(scan_sitename~'_showuser', { 'id': entity.provider.id }) }}">{{ entity.provider }}</a>
                </td>
                <td>
                    {% for role in entity.roles %}
                        {% if role != "ROLE_USER" %}
                            {#"{{ role }}"#}
                            <p>"{{ attribute(roles, role) }}"</p>
                        {% endif %}

                    {% endfor %}
                </td>
                <td>

                    {{ entity.note|raw }}

                    {#<div class="textarea_widget">#}
                        {#<textarea readonly class="textarea form-control">{{ entity.note }}</textarea>#}
                    {#</div>#}
                </td>

                {#<td>#}
                    {#{% if entity.viewed == '' %}#}
                        {#No#}
                    {#{% else %}#}
                        {#{{ entity.viewed.username }} on {{ entity.vieweddate|date('m/d/Y H:i') }}#}
                    {#{% endif %}#}
                {#</td>#}

                {#<td>#}
                    {#<a href="{{ path('history_show', { 'id': entity.id }) }}">show</a>#}
                    {#<a href="{{ path('history_edit', { 'id': entity.id }) }}">edit</a>#}
                {#</td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if orderid is defined %}
        {#<a href="{{ path('history_message_new',{ 'id': orderid }) }}">#}
            {#Add Comment#}
        {#</a>#}

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addComment_{{ orderid }}">
            Add Comment
        </button>

    {% else %}
        <a href="{{ path('history_new') }}">
            Create a new entry
        </a>
    {% endif %}


{% endblock %}
