{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}

{% if search is defined and search != "" %}
    <h3 class="text-info">
        Employees
    </h3>
{% endif %}

{% if filter is defined and filter != "" %}
    <h3 class="text-info">{{ filter }}</h3>
{% endif %}

{% if sameusers is defined and sameusers != "" %}
    <h3 class="text-info">{{ sameusers }}</h3>
{% endif %}


{% if entities|length > 0 %}


    {# show all emails #}
    {% if entities|length > 1 %}

        <br>

        {% set emailsArr = {} %}
        {% set emailsAppleArr = {} %}
        {% for entity in entities %}
            {% set oneEmail = entity.getSingleEmail() %}
            {% if oneEmail %}
                {% set optimalUserName = entity.getUsernameOptimal() %}
                {% set emailsArr = emailsArr|merge({ (loop.index0): optimalUserName~" <"~oneEmail~">"}) %}
                {% set emailsAppleArr = emailsAppleArr|merge({ (loop.index0): optimalUserName|replace({",": ""})~" <"~oneEmail~">"}) %}
            {% endif %}
        {% endfor %}
        {#<div class="well well-sm">#}
            {#E-Mail Addresses: {{ emailsArr|join(', ') }}#}
        {#</div>#}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="" aria-expanded="false" onclick="collapseThis(this)">
                        Email List
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    {#{{ emailsArr|join('; ') }}#}
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#apple-mail" aria-controls="apple-mail" role="tab" data-toggle="tab">Apple Mail</a></li>
                        <li role="presentation"><a href="#outlook-mail" aria-controls="outlook-mail" role="tab" data-toggle="tab">Outlook</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="apple-mail">
                            {{ emailsAppleArr|join(', ') }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="outlook-mail">
                            {{ emailsArr|join('; ') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="panel panel-default">#}
            {#<div class="panel-heading" role="tab">#}
                {#<h4 class="panel-title">#}
                    {#<a data-toggle="collapse" href="" aria-expanded="false" onclick="collapseThis(this)">#}
                        {#Apple Mail#}
                    {#</a>#}
                {#</h4>#}
            {#</div>#}
            {#<div class="panel-collapse collapse" role="tabpanel">#}
                {#<div class="panel-body">#}
                    {#{{ emailsAppleArr|join(', ') }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

    {% endif %}
    {# EOF show all emails #}

    <br>

    {#<table class="records_list table table-hover table-condensed text-left">#}
    <table class="records_list table table-hover table-condensed text-left sortable">
        <thead>
        <tr>

            {% if knppagination is defined %}
            <th style="display:none">{{ knp_pagination_sortable(entities, 'ID', 'user.id') }}</th>
            <th>
                {{ knp_pagination_sortable(entities, 'Service(s)', 'administrativeInstitution.name') }}
            </th>
            {#<th>#}
                {#{{ knp_pagination_sortable(entities, 'Service(s)', 'administrativeService.name') }}#}
            {#</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Name', 'infos.displayName') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Type', 'user.keytype') }}</th>
            {#<th>{{ knp_pagination_sortable(entities, 'Role(s)', 'user.roles') }}</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Administrative Title(s)', 'administrativeName.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Academic Title(s)', 'appointmentName.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Training Year', 'appointmentTitles.pgylevel') }}</th>
            {#<th>{{ knp_pagination_sortable(entities, 'User ID (CWID)', 'user.username') }}</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Email', 'infos.email') }}</th>
            {#style="min-width: 120px"#}
            <th>{{ knp_pagination_sortable(entities, 'Phone Number', 'infos.preferredPhone') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Mobile Phone Number', 'infos.preferredMobilePhone') }}</th>
            {#<th>{{ knp_pagination_sortable(entities, 'IC(s)', 'locations.ic') }}</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Pager(s)', 'locations.pager') }}</th>
            {#<th>{{ knp_pagination_sortable(entities, 'Room Number(s)', 'locationroom.name') }}</th>#}
            <th>{{ knp_pagination_sortable(entities, 'Assistant(s)', 'assistantinfos.displayName') }}</th>


            {#{% if sitename != employees_sitename %}#}
                <th>{{ knp_pagination_sortable(entities, 'Role(s)', 'user.roles') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Last Login', 'user.lastLogin') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Locked', 'user.enabled') }}</th>
            {#{% endif %}#}

            {% else %}

                <th style="display:none">ID</th>
                <th>Service(s)</th>
                {#<th>#}
                {#{{ knp_pagination_sortable(entities, 'Service(s)', 'administrativeService.name') }}#}
                {#</th>#}
                <th>Name</th>
                <th>Type</th>
                {#<th>Role(s)</th>#}
                <th>Administrative Title(s)</th>
                <th>Academic Title(s)</th>
                <th>Training Year</th>
                {#<th>{{ knp_pagination_sortable(entities, 'User ID (CWID)', 'user.username') }}</th>#}
                <th>Email</th>
                {#style="min-width: 120px"#}
                <th>Phone Number</th>
                {#<th>IC(s)</th>#}
                <th>Pager(s)</th>
                {#<th>Room Number(s)</th>#}
                <th>Assistant(s)</th>


                {#{% if sitename != employees_sitename %}#}
                    <th>Role(s)</th>
                    <th>Last Login</th>
                    <th>Locked</th>
                {#{% endif %}#}

            {% endif %}

            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in entities %}

            <tr>
                <td style="display:none"><a href="{{ path( sitename~'_showuser', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                <td class="rowlink-skip">

                    {% set institutionsArr = entity.getDeduplicatedInstitutions() %}
                    {#{{ dump(institutionsArr) }}#}

                    {% for instName,instArr in institutionsArr %}
                        <p>
                            {% if instArr|length == 1 %}
                                {#name={{ instName }} => rootId={{ instArr[0].uniqueName }}, instId={{ instArr[0].instId }}#}
                                <a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'Institution','id': instArr[0].instId, 'name': instName }) }}">
                                    {{ instArr[0].instNameWithRoot }}
                                </a>
                            {% elseif instArr|length > 1 %}
                                {{ instName }} (<!--
                                    {% for inst in instArr %}
                                        --><a href="{{ path( employees_sitename~'_search_same_object',
                                        { 'tablename':'Institution','id': inst.instId, 'name': instName }
                                        ) }}">{{ inst.uniqueName }}</a>{% if not loop.last %}, {% endif %}<!--
                                    {% endfor %}
                                -->)
                            {% endif %}
                        </p>
                    {% endfor %}

                </td>

                <td>
                    <a href="{{ path( sitename~'_showuser', { 'id': entity.id }) }}"><strong>{{ entity.getUserNameStr(true) }}</strong></a>
                </td>

                {#Primary Public User ID Type#}
                <td class="rowlink-skip">
                    {% if entity.keytype %}
                        {{ entity.keytype.name }}
                    {% endif %}
                </td>

                {#administrativeTitles#}
                <td class="rowlink-skip">
                    {% for administrativeTitle in entity.getUniqueTitles(entity.administrativeTitles) %}
                        {% if administrativeTitle.name %}
                            <p><a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'administrativeTitle','id': administrativeTitle.name.id, 'name': administrativeTitle.name.name }) }}">{{ administrativeTitle.name }}</a></p>
                        {% endif %}
                    {% endfor %}
                </td>

                {#appointmentTitles#}
                <td class="rowlink-skip">
                    {% for appointmentTitle in entity.getUniqueTitles(entity.appointmentTitles) %}
                        {% if appointmentTitle.name %}
                            <p><a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'appointmentTitle','id': appointmentTitle.name.id, 'name': appointmentTitle.name.name }) }}">{{ appointmentTitle.name }}</a></p>
                        {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for appointmentTitle in entity.appointmentTitles %}
                        {% set expectedPgy = appointmentTitle.calculateExpectedPgy() %}
                        {% if expectedPgy %}
                            {{ expectedPgy }}<br>
                        {% endif %}
                    {% endfor %}
                </td>

                {#<td>{{ entity.primaryPublicUserId }}</td>#}
                <td class="rowlink-skip">
                    {#<a href="mailto:{{ entity.email }}" target="_top">{{ entity.email }}</a>#}
                    {% for email in entity.getAllEmail() %}
                        <p>{{ email['prefix'] }}<a href="mailto:{{ email['email'] }}" target="_top">{{ email['email'] }}</a></p>
                    {% endfor %}
                </td>
                <td class="rowlink-skip">
                    {#{{ usermacros.phoneHref(entity.preferredPhone) }}#}
                    {% for phone in entity.getAllPhones() %}
                        <p>{{ phone['prefix'] }}{{ usermacros.phoneHref(phone['phone']) }}</p>
                    {% endfor %}
                </td>
                {#<td>#}
                    {#{% for location in entity.locations %}#}
                        {#{% if location.ic %}#}
                            {#{{ location.ic }}<br>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</td>#}
                <td>
                    {% for location in entity.locations %}
                        {% if location.pager %}
                            {{ location.pager }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                {#<td class="rowlink-skip">#}
                    {#{% for location in entity.locations %}#}
                        {#{% if location.room %}#}
                            {#<p><a href="{{ path( employees_sitename~'_search_same_object', { 'tablename':'room','id': location.room.id, 'name': location.room.name }) }}">{{ location.room }}</a></p>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</td>#}

                {#Assistant#}
                <td class="rowlink-skip">
                    {{ usermacros.showAssistantes( entity, sitename ) }}
                </td>

                {#{% if sitename != employees_sitename %}#}
                    <td>
                        {% for role in entity.roles %}
                            {% if role != "ROLE_USER" %}
                                {% if attribute(roles, role) is defined %}
                                "{{ attribute(roles, role) }}"<br>
                                {% else %}
                                    "{{ role }}"<br>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if entity.lastLogin %}
                            {{ entity.lastLogin|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.locked == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                {#{% endif %}#}

                {#<td class="rowlink-skip">#}
                    {#<div class="btn-group">#}
                        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
                            {#Action <span class="caret"></span>#}
                        {#</button>#}

                        {#<ul class="dropdown-menu dropdown-menu-right">#}

                            {#<li><a href="{{ path(sitename~'_showuser', { 'id': entity.id }) }}">View Details</a></li>#}


                            {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') and app.user.getId() != entity.id %}#}

                                {#{% if entity.locked == 0 %}#}
                                    {#<li><a general-data-confirm="Are you sure you want to Lock this user?"#}
                                           {#href="{{ path(sitename~'_lockunlock_change', { 'id': entity.id, 'status': 'lock' }) }}">Lock</a>#}
                                    {#</li>#}
                                {#{% else %}#}
                                    {#<li><a general-data-confirm="Are you sure you want to Unlock this user?"#}
                                           {#href="{{ path(sitename~'_lockunlock_change', { 'id': entity.id, 'status': 'unlock' }) }}">Unlock</a>#}
                                    {#</li>#}
                                {#{% endif %}#}

                            {#{% endif %}#}

                        {#</ul>#}

                    {#</div>#}
                {#</td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if knppagination is defined %}
        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endif %}


    {#<a href="{{ path('fos_user_registration_register') }}">#}
        {#Create a new entry#}
    {#</a>#}

    {#<a href="{{ path('new_user') }}">#}
        {#Create a new user#}
    {#</a>#}

    <br>

{% endif %}



