{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppFellAppBundle/Default/base.html.twig" %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppFellAppBundle/Default/fellappmacros.html.twig" as fellappmacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% block header %}
{% endblock %}

{% block title %}
    Letters of Recommendation and/or References
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <input type="hidden" id="disableIdleTimeout" value="1" />
    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" class="form-control" id="recommendationLetterID" name="recommendationLetterID" value="{{ form.vars.data.recLetterHashId|default('') }}" placeholder="Recommendation Letter ID" readonly>

    <div id="form-prototype-data"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('fellapp_gallery') }}"
         data-userid = "{{ systemUser.id }}"
    ></div>

    <br>

    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#refauthor">
                    Recommendation Letter in PDF format
                </a>
            </h4>
        </div>

        <div id="refauthor" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>
                <div class="well form-element-holder user-Reference">
                    <label class="col-xs-12 control-label">Reference Letter</label>
                    <div class="row withpaddingtop">
                        <div class="col-xs-12">
                            {#{% if reference is defined %}#}
                            {#no dz-clickable ???#}
                            {#{{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',8,'default','Recommendation Letter in PDF format') }}#}
                            {#{% endif %}#}
                            {#cycle={{ cycle }}#}
                            {#<div class="well form-element-holder user-travelIntakeForms">#}
                            {#<label class="col-xs-12 control-label">Recommendation Letter in PDF format</label>#}
                            {#<div class="row withpaddingtop">#}
                            <div class="col-xs-12">
                                {{ usermacros.documentsContainer(
                                    null,
                                    form.documents,
                                    cycle,
                                    'noprototype',
                                    1,
                                    'default',
                                    'Recommendation Letter in PDF format'
                                ) }}

                                {#{{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',8,'default','Recommendation Letter in PDF format') }}#}

                            </div>
                            {#</div>#}
                            {#</div>#}

                        </div>
                    </div>
                </div>
                </p>

                <button type="submit" id="submit-recommendation-btn" class="btn btn-primary" disabled>
                    Submit
                </button>
                <span id="upload-required-msg" class="text-muted" style="margin-left: 10px;">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Please upload a file to enable submission
                </span>

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->

    </div> <!-- panel panel-info -->

    {#{% do form.setRendered %}#}
    {#{{ form_end(form) }}#}

    <h3>
        The following information has been provided by the applicant:
    </h3>

    {#entity.getRecLetterHashId={{ entity.getRecLetterHashId }}#}

    {# Reference Information Display #}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#refInfoPanel">
                    Reference Letter Author
                </a>
            </h4>
        </div>
        <div id="refInfoPanel" class="panel-collapse collapse in">
            <div class="panel-body text-left">
                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ form_row(form.firstName, { 'attr': { 'readonly': 'readonly' } }) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.name, { 'attr': { 'readonly': 'readonly' } }) }}
                    </div>
                </div>
                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ form_row(form.degree, { 'attr': { 'readonly': 'readonly' } }) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.title, { 'attr': { 'readonly': 'readonly' } }) }}
                    </div>
                </div>
                <div class="row withpaddingtop">
                    <div class="col-xs-4">
                        {#{{ form_row(form.institution) }}#}
                        {{ formmacros.simplefield_vertical("Institution", institution, "", "disabled") }}
                    </div>
                    <div class="col-xs-4">
                        {#{{ form_row(form.phone) }}#}
                        {{ form_row(form.phone, { 'attr': { 'readonly': 'readonly' } }) }}
                    </div>
                    <div class="col-xs-4">
                        {{ form_row(form.email, { 'attr': { 'readonly': 'readonly' } }) }}
                    </div>
                </div>


                {# Address Information #}
                {% if form.geoLocation is defined %}
                    <div class="row withpaddingtop">
                        <div class="col-xs-6">
                            {{ form_row(form.geoLocation.street1, { 'attr': { 'readonly': 'readonly' } }) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_row(form.geoLocation.street2, { 'attr': { 'readonly': 'readonly' } }) }}
                        </div>
                    </div> <!-- row -->

                    <div class="row withpaddingtop">
                        <div class="col-xs-3">
                            {#{{ form_row(form.geoLocation.city) }}#}
                            {{ formmacros.simplefield_vertical("City", city, "", "disabled") }}
                        </div>
                        <div class="col-xs-3">
                            {#{{ form_row(form.geoLocation.state) }}#}
                            {{ formmacros.simplefield_vertical("State", state, "", "disabled") }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_row(form.geoLocation.zip, { 'attr': { 'readonly': 'readonly' } }) }}
                        </div>
                        <div class="col-xs-3">
                            {#{{ form_row(form.geoLocation.country) }}#}
                            {{ formmacros.simplefield_vertical("Country", country, "", "disabled") }}
                        </div>
                    </div> <!-- row -->

                    {% do form.geoLocation.county.setRendered %}
                    {% do form.geoLocation.city.setRendered %}
                    {% do form.geoLocation.country.setRendered %}
                    {% do form.geoLocation.state.setRendered %}

                {% endif %}
            </div>
        </div>
    </div>

    {# Fellowship Application Information #}
    {% if fellappSpecialty %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Application Information</h4>
            </div>
            <div class="panel-body text-left">
                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Applicant First Name:", firstName, "", "disabled") }}
                    </div>
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Applicant Last Name:", lastName, "", "disabled") }}
                    </div>
                </div>

                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Applicant E-Mail:", email, "", "disabled") }}
                    </div>
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Fellowship Type:", fellappSpecialty, "", "disabled") }}
                    </div>
                </div>

                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {% if fellappStart %}
                            {{ formmacros.simplefield_vertical("Fellowship Start Date", fellappStart, "", "disabled") }}
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        {% if fellappEnd %}
                            {{ formmacros.simplefield_vertical("Fellowship End Date", fellappEnd, "", "disabled") }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% do form.institution.setRendered %}
    {% do form.recLetterReceived.setRendered %}

    {#{% do form.setRendered %}#}

    {{ formmacros.simplefield_vertical("Recommendation Letter ID", form.vars.data.recLetterHashId|default(''), "", "disabled") }}
    {{ formmacros.simplefield_vertical("Fellowship Application ID", fellappId|default(''), "", "disabled") }}
    {#<p>recommendationLetterID={{ form.vars.data.recLetterHashId|default('') }}</p>#}
    {{ form_end(form) }}

{% endblock %}

{% block additionaljs %}

    <script language="Javascript">
        $(document).ready(function() {
            console.log('enable dropzone');

            var dropzone = $('.file-upload-dropzone');
            var dropzoneDom = dropzone.get(0);
            const myDropzone = dropzoneDom?.dropzone;
            dropzone.addClass('dz-clickable'); // add cursor
            if (myDropzone && Array.isArray(myDropzone.listeners) && myDropzone.listeners[1]) {
                dropzoneDom.addEventListener('click', myDropzone.listeners[1].events.click);
            }
            dropzone.parent().tooltip('destroy');

            // Cache jQuery selectors for button and message span (available to all callbacks)
            var submitBtn = $('#submit-recommendation-btn');
            var msgSpan = $('#upload-required-msg');

            // Function to check if any files are uploaded and update submit button state
            function updateSubmitButtonState() {

                // Try multiple ways to detect files
                var fileCount = 0;

                // Method 1: Check Dropzone internal files
                if (myDropzone && myDropzone.files) {
                    fileCount = myDropzone.files.length;
                    console.log('Dropzone files count:', fileCount);
                }

                // Method 2: Check for file items in various containers
                if (fileCount === 0) {
                    var selectors = [
                        '.file-upload-container .file-upload-item',
                        '.file-upload-container .dz-preview',
                        '.dropzone .dz-preview',
                        '.dz-complete',
                        '.file-item',
                        '[id^="file-upload-"] .file-item',
                        '.documents-list .document-item',
                        '.file-list .file-item'
                    ];

                    for (var i = 0; i < selectors.length; i++) {
                        var count = $(selectors[i]).length;
                        if (count > 0) {
                            fileCount = count;
                            console.log('Found files using selector:', selectors[i], 'count:', count);
                            break;
                        }
                    }
                }

                // Method 3: Check for any elements with 'dz-' prefix in upload area
                if (fileCount === 0) {
                    var dzElements = $('.dropzone, .file-upload-container').find('[class*="dz-"]').length;
                    if (dzElements > 0) {
                        // Look for completed uploads specifically
                        var completedFiles = $('.dz-complete, .dz-success').length;
                        if (completedFiles > 0) {
                            fileCount = completedFiles;
                            console.log('Found completed files:', fileCount);
                        }
                    }
                }

                console.log('Total file count detected:', fileCount);

                if (fileCount > 0) {
                    submitBtn.prop('disabled', false);
                    msgSpan.hide();
                    console.log('Submit button enabled');
                } else {
                    submitBtn.prop('disabled', true);
                    msgSpan.show();
                    console.log('Submit button disabled');
                }
            }

            // Initial check
            updateSubmitButtonState();

            // Listen for Dropzone events if available
            if (myDropzone) {
                // File added
                myDropzone.on('success', function(file, response) {
                    // Wait for DOM to update then check
                    setTimeout(updateSubmitButtonState, 100);
                });

                // File removed - disable button and show message when file is deleted
                myDropzone.on('removedfile', function(file) {
                    console.log('File removed from dropzone:', file.name);
                    // Use longer timeout to ensure DOM is updated after removal
                    setTimeout(function() {
                        updateSubmitButtonState();
                        // Force check if no files remain
                        if (myDropzone.files.length === 0) {
                            submitBtn.prop('disabled', true);
                            msgSpan.show();
                            console.log('All files removed - button disabled, message shown');
                        }
                    }, 300);
                });

                // File added to queue (before upload)
                myDropzone.on('addedfile', function(file) {
                    setTimeout(updateSubmitButtonState, 100);
                });
            }

            // Also watch for manual file list changes (fallback for non-Dropzone uploads)
            var observer = new MutationObserver(function(mutations) {
                updateSubmitButtonState();
            });

            var fileContainer = document.querySelector('.file-upload-container');
            if (fileContainer) {
                observer.observe(fileContainer, { childList: true, subtree: true });
            }

            // Check on any click that might affect files
            $(document).on('click', '.file-upload-remove, .dz-remove', function() {
                console.log('Remove button clicked');
                // Use longer timeout to ensure DOM is fully updated after removal
                setTimeout(function() {
                    updateSubmitButtonState();
                    // Additional safety check - if myDropzone exists and has no files
                    if (myDropzone && myDropzone.files && myDropzone.files.length === 0) {
                        submitBtn.prop('disabled', true);
                        msgSpan.show();
                        console.log('All files removed via button click - button disabled');
                    }
                }, 300);
            });
        });
    </script>

{% endblock %}

