<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />

    <meta charset="UTF-8">
    <title>Letters of Recommendation and/or References</title>

    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
    {{ usermacros.nonLiveSiteRedirect() }}

    {% set favicon = 'glyphicons-157-show-thumbnails.png' %}
    <link rel="icon" type="image/x-icon" href="{{ asset(favicon) }}" />
</head>
<body>

<div class="container text-center">

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" class="form-control" id="recommendationLetterID" name="recommendationLetterID" placeholder="Recommendation Letter ID" readonly>
    <input type="hidden" class="form-control" id="instituteIdentification" name="instituteIdentification" placeholder="Institute Identification" readonly>
    <input type="hidden" class="form-control" id="applicationID" name="applicationID" placeholder="Application ID" readonly>

    {{ form_start(form) }}

    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#refauthor">
                    Recommendation Letter in PDF format
                </a>
            </h4>
        </div>

        <div id="refauthor" class="panel-collapse collapse in">
            <div class="panel-body">

                <p>
                <div class="well form-element-holder user-Reference">
                    <label class="col-xs-12 control-label">Reference Letters (All documents will be added to the Complete Application PDF)</label>
                    <div class="row withpaddingtop">
                        <div class="col-xs-12">

                            {#{% if reference is defined %}#}
                                {#{{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',8,'default','Recommendation Letter in PDF format') }}#}
                            {#{% endif %}#}
                            {#cycle={{ cycle }}#}
                            <div class="well form-element-holder user-travelIntakeForms">
                                <label class="col-xs-12 control-label">Recommendation Letter in PDF format</label>
                                <div class="row withpaddingtop">
                                    <div class="col-xs-12">
                                        {{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',1,'default','Recommendation Letter in PDF format',"asForm") }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </p>

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->

    </div> <!-- panel panel-info -->


    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#{{ formmacros.field(form.firstName)}}#}
        {#{{ formmacros.field(form.name)}}#}
        {#{{ formmacros.field(form.title)}}#}
        {#{{ formmacros.field(form.email)}}#}

        {#<button class="btn btn-primary">Submit</button>#}
    {#{{ form_end(form) }}#}


    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#applicantInformation">
                    Reference Letter Author:
                </a>
            </h4>
        </div>

        <div id="applicantInformation" class="panel-collapse collapse in">
            <div class="panel-body">

                {{ formmacros.field(form.firstName)}}
                {{ formmacros.field(form.name)}}
                {{ formmacros.field(form.title)}}
                {{ formmacros.field(form.email)}}


            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->

    </div> <!-- panel panel-info -->

    {% do form.setRendered %}
    {{ form_end(form) }}

    <button type="submit" class="btn btn-primary">
        Submit
    </button>

    {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

</div> <!-- /container -->


</body>
</html>