<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/select2/css/select2.css') }}" />

    <meta charset="UTF-8">
    <title>Letters of Recommendation and/or References</title>

    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
    {{ usermacros.nonLiveSiteRedirect() }}

    {% set favicon = 'glyphicons-157-show-thumbnails.png' %}
    <link rel="icon" type="image/x-icon" href="{{ asset(favicon) }}" />
</head>
<body>

<div class="container text-center">

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    {#<input type="hidden" id="formcycle" value="{{ cycle }}" />#}
    <input type="hidden" id="formcycle" value="edit" />
    <input type="hidden" class="form-control" id="recommendationLetterID" name="recommendationLetterID" value="{{ form.vars.data.recLetterHashId|default('') }}" placeholder="Recommendation Letter ID" readonly>
    <input type="hidden" class="form-control" id="instituteIdentification" name="instituteIdentification" placeholder="Institute Identification" readonly>
    <input type="hidden" class="form-control" id="applicationID" name="applicationID" placeholder="Application ID" readonly>


    {{ form_start(form) }}

    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#refauthor">
                    Recommendation Letter in PDF format
                </a>
            </h4>
        </div>

        <div id="refauthor" class="panel-collapse collapse in">
            <div class="panel-body">

                <p>
                <div class="well form-element-holder user-Reference">
                    <label class="col-xs-12 control-label">Reference Letters (All documents will be added to the Complete Application PDF)</label>
                    <div class="row withpaddingtop">
                        <div class="col-xs-12">

                            {#{% if reference is defined %}#}
                            {#no dz-clickable ???#}
                            {#{{ usermacros.documentsContainer(null,form.documents,cycle,'noprototype',8,'default','Recommendation Letter in PDF format') }}#}
                            {#{% endif %}#}
                            {#cycle={{ cycle }}#}
                            {#<div class="well form-element-holder user-travelIntakeForms">#}
                                {#<label class="col-xs-12 control-label">Recommendation Letter in PDF format</label>#}
                                {#<div class="row withpaddingtop">#}
                                    <div class="col-xs-12">
                                        {#{{ usermacros.documentsContainer(null,form.documents,'new','noprototype',8,'default','Recommendation Letter in PDF format',"asForm") }}#}
                                        {{ usermacros.documentsContainer(null,form.documents,'new','noprototype',8,'active','Recommendation Letter in PDF format') }}
                                    </div>
                                {#</div>#}
                            {#</div>#}

                        </div>
                    </div>
                </div>
                </p>

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->

    </div> <!-- panel panel-info -->

    {#{% do form.setRendered %}#}
    {#{{ form_end(form) }}#}

    <h3>
        The following information has been provided by the applicant:
    </h3>

    {#entity.getRecLetterHashId={{ entity.getRecLetterHashId }}#}

    {# Reference Information Display #}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#refInfoPanel">
                    Reference Letter Author
                </a>
            </h4>
        </div>
        <div id="refInfoPanel" class="panel-collapse collapse in">
            <div class="panel-body text-left">
                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ form_row(form.degree) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.title) }}
                    </div>
                </div>
                <div class="row withpaddingtop">
                    <div class="col-xs-4">
                        {#{{ form_row(form.institution) }}#}
                        {{ formmacros.simplefield_vertical("Institution", institution, "", "disabled") }}
                    </div>
                    <div class="col-xs-4">
                        {#{{ form_row(form.phone) }}#}
                        {{ form_row(form.phone, { 'attr': { 'disabled': 'disabled' } }) }}
                    </div>
                    <div class="col-xs-4">
                        {{ form_row(form.email) }}
                    </div>
                </div>

                
                {# Address Information #}
                {% if form.geoLocation is defined %}
                    <div class="row withpaddingtop">
                        <div class="col-xs-6">
                            {{ form_row(form.geoLocation.street1) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_row(form.geoLocation.street2) }}
                        </div>
                    </div> <!-- row -->

                    <div class="row withpaddingtop">
                        <div class="col-xs-3">
                            {#{{ form_row(form.geoLocation.city) }}#}
                            {{ formmacros.simplefield_vertical("City", city, "", "disabled") }}
                        </div>
                        <div class="col-xs-3">
                            {#{{ form_row(form.geoLocation.state) }}#}
                            {{ formmacros.simplefield_vertical("State", state, "", "disabled") }}
                        </div>
                        <div class="col-xs-3">
                            {{ form_row(form.geoLocation.zip) }}
                        </div>
                        <div class="col-xs-3">
                            {#{{ form_row(form.geoLocation.country) }}#}
                            {{ formmacros.simplefield_vertical("Country", country, "", "disabled") }}
                        </div>
                    </div> <!-- row -->

                    {% do form.geoLocation.county.setRendered %}
                    {% do form.geoLocation.city.setRendered %}
                    {% do form.geoLocation.country.setRendered %}
                    {% do form.geoLocation.state.setRendered %}

                {% endif %}
            </div>
        </div>
    </div>

    {# Fellowship Application Information #}
    {% if fellappSpecialty %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Application Information</h4>
            </div>
            <div class="panel-body text-left">
                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Applicant First Name:", firstName, "", "disabled") }}
                    </div>
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Applicant Last Name:", lastName, "", "disabled") }}
                    </div>
                </div>

                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Applicant E-Mail:", email, "", "disabled") }}
                    </div>
                    <div class="col-xs-6">
                        {{ formmacros.simplefield_vertical("Fellowship Type:", fellappSpecialty, "", "disabled") }}
                    </div>
                </div>

                <div class="row withpaddingtop">
                    <div class="col-xs-6">
                        {% if fellappStart %}
                            {{ formmacros.simplefield_vertical("Fellowship Start Date", fellappStart, "", "disabled") }}
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        {% if fellappEnd %}
                            {{ formmacros.simplefield_vertical("Fellowship End Date", fellappEnd, "", "disabled") }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% do form.institution.setRendered %}
    {% do form.recLetterReceived.setRendered %}

    {#{% do form.setRendered %}#}

    <button type="submit" class="btn btn-primary">
        Submit
    </button>

    {{ form_end(form) }}

    {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}

</div> <!-- /container -->


</body>
</html>