{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% set urltype = "home" %}

{% extends "AppFellAppBundle/Default/base.html.twig" %}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppFellAppBundle/Default/fellappmacros.html.twig" as fellappmacros %}


{% block title %}
    Fellowship Applications
{% endblock %}


{% block content %}

{% if static is not defined %}
    {% set static = 0 %}
{% endif %}
{% if spinnerColor is not defined %}
    {% set spinnerColor = "#428bca" %}
{% endif %}

<div id="fellapp-rank-modal"></div>

<p>

    {% if is_granted('ROLE_FELLAPP_COORDINATOR') %}
        {% if accessreqs and accessreqs > 0 %}
            <div class="alert alert-warning">
                There are <a href="{{ path(fellapp_sitename~'_accessrequest_list') }}">{{ accessreqs }} unprocessed access request(s)</a>
            </div>
        {% endif %}
    {% endif %}

    {% if allowPopulateFellApp is defined and allowPopulateFellApp == false %}
        <div class="alert alert-danger">
            Automatic import of fellowship applications submitted via the Google form is turned off.
        </div>
    {% endif %}

    <p>
        {#<i>Last successful import:#}
            {#{{ lastImportTimestamp|date('m/d/Y h:i A') }}#}
            {#{{ serverTimeZone }}#}
            {#({{ lastImportTimestamp|time_diff }}) |ago#}
            {#{{ acceptingApplication }}#}
        {#</i>#}
        <i>Last successful import:
            {{ lastImportTimestamp|date('m/d/Y h:i A') }}
            {{ serverTimeZone }}
            ({{ time_zone_util.ago(lastImportTimestamp) }})
            {{ acceptingApplication }}
        </i>
    </p>

    {% set fellappTypeId = -1 %}
    {% if filter %}
        {% set fellappTypeId = filter %}
    {% endif %}
    
    {% set resStr = "Applications matching search criteria" %}

    {% if lastImportTimestamp and fellappids is defined and fellappids %}
        <p>
            <b>{{ resStr }}: {{ entities.getTotalItemCount }}</b>
            <a href="{{ path('fellapp_download_applicants_list_excel', { 'fellappIds': fellappids, 'currentYear': currentYear, 'fellappTypeId': fellappTypeId }, true) }}"
                   data-toggle="tooltip" title="Download displayed application summaries as a spreadsheet">
                   {#<span class="glyphicon glyphicon-download" aria-hidden="true"></span>#}
                    <i class="fa fa-file-excel fa-lg"></i>
            </a>
            <a href="{{ path('fellapp_download_interview_applicants_list_doc', { 'fellappIds': fellappids, 'currentYear': currentYear, 'fellappTypeId': fellappTypeId }, true) }}"
               data-toggle="tooltip" title="Download displayed interviewee summaries as an editable document">
                {#<span class="glyphicon glyphicon-export" aria-hidden="true"></span>#}
                <i class="fa fa-file-word fa-lg"></i>
            </a>
            <a href="{{ path('fellapp_download_interview_applicants_list_pdf', { 'fellappIds': fellappids, 'currentYear': currentYear, 'fellappTypeId': fellappTypeId }, true) }}"
               data-toggle="tooltip" title="Download displayed interviewee summaries as a PDF document">
                {#<span class="glyphicon glyphicon-export" aria-hidden="true"></span>#}
                <i class="fa fa-file-pdf fa-lg"></i>
            </a>
        </p>
    {% endif %}

    {% if awaitedInterviews is not null and receivedInterviews is not null %}

        {% if receivedInterviews == 1 %}
            {% set evaluationStr = "evaluation" %}
            {% set allStr = "" %}
        {% elseif receivedInterviews == 2 %}
            {% set evaluationStr = "evaluations" %}
            {% set allStr = "" %}
        {% else %}
            {% set evaluationStr = "evaluations" %}
            {% set allStr = "all " %}
        {% endif %}

        <p><b>
            {#"Showing applications of your interviewees: 25 evaluations received, 10 awaited"#}
            {% if awaitedInterviews > 0 and receivedInterviews > 0 %}
                Showing applications of your interviewees: {{ receivedInterviews }} {{ evaluationStr }} received, {{ awaitedInterviews }} awaited
            {% endif %}

            {#"Showing applications of your interviewees: all 35 evaluations received, thank you!"#}
            {% if awaitedInterviews == 0 and receivedInterviews > 0 %}
                Showing applications of your interviewees: {{ allStr }}{{ receivedInterviews }} {{ evaluationStr }} received, thank you!
            {% endif %}

            {#You have not been assigned as an interviewer to any applicants for the selected year: no applications to show#}
            {% if awaitedInterviews == 0 and receivedInterviews == 0 %}
                You have not been assigned as an interviewer to any applicants for the selected year: no applications to show
            {% endif %}
        </b></p>
    {% endif %}

    {#<p>#}
        {#<a href="{{ path('fellapp_import') }}">Import from Google</a>#}
    {#</p>#}

    {#<p>#}
        {#<a href="{{ path('fellapp_populate') }}">Populate the Spreadsheet</a>#}
    {#</p>#}

    {#<div id="#interview-info-modal"></div>#}


    <div class="well form-search">
        {#<form action="{{ path(route_path) }}" method="get" class="well form-search">#}
        {{ form_start(fellappfilter) }}

            <div class="row">                
                <div class="col-xs-2">
                    {#{{ formmacros.fieldDateLabel_vertical(fellappfilter.startDate,'allow-future-date') }}#}
                    {#<div class="input-group input-group-reg date allow-future-date">#}
                        {#{{ form_row(fellappfilter.startDate, {'attr': {'placeholder': 'Start Year'}}) }}#}
                        {#<span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>#}
                    {#</div>#}

                    {{ form_row(fellappfilter.startDates, {'attr': {'placeholder': 'Start Year'}}) }}

                </div>
                {#<div class="col-xs-2">#}
                    {#{{ formmacros.fieldDateLabel_vertical(fellappfilter.endDate,'allow-future-date') }}#}
                {#</div>#}
                <div class="col-xs-4">
                    {#{% if fellappfilter.filter|length > 0 %}#}
                        {#{{ form_row(fellappfilter.filter,{'attr': {'placeholder': 'Fellowship Type'}}) }}#}
                    {#{% else %}#}
                        {#{{ form_row(fellappfilter.globalfilter,{'attr': {'placeholder': 'Global Fellowship Type'}}) }}#}
                    {#{% endif %}#}

                    {% if serverRole != 'Internet (Hub)' %}
                        {{ form_row(fellappfilter.filter,{'attr': {'placeholder': 'Fellowship Type'}}) }}
                    {% else %}
                        {{ form_row(fellappfilter.globalfilter,{'attr': {'placeholder': 'Global Fellowship Type'}}) }}
                    {% endif %}

                </div>
                <div class="col-xs-4">
                    {{ form_row(fellappfilter.search, {'attr': {'placeholder': 'Search by Name'}}) }}
                </div>
                <div class="col-xs-2">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" id="filter-btn" class="btn btn-sm btn-default fellapp-filter-btn"><i class="icon-search"></i>Filter</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row text-center">
                <div class="col-xs-12">

                    {#{% set tooltipBadge = 'data-toggle=tooltip' %}#}
                    {% set tooltipBadge = '' %}

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.draft) }}   {{ form_label(fellappfilter.draft) }}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[draft]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                    {{ draft }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[draft]':1,'filter[filter]':filter}) }}">{{ draftTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('draft') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                    {{ form_widget(fellappfilter.active) }}   {{ form_label(fellappfilter.active) }}
                    {#{{ fellappmacros.addBadge( filter, currentYear, active, activeTotal, 'active' ) }}#}
                    {#<span class="badge" data-toggle="tooltip" title="for {{ currentYear }}">#}
                    <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[active]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                    {{ active }}
                    </a>
                    </span>
                    {{ fellappmacros.addSlush() }}
                    <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[active]':1,'filter[filter]':filter}) }}">{{ activeTotal }}</a>
                    </span>
                    {{ fellappmacros.addLegend('active') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.priority) }}   {{ form_label(fellappfilter.priority) }}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[priority]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ priority }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[priority]':1,'filter[filter]':filter}) }}">{{ priorityTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('priority') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                    {{ form_widget(fellappfilter.complete) }}   {{ form_label(fellappfilter.complete) }}
                    {#{{ fellappmacros.addBadge( filter, currentYear, complete, completeTotal, 'complete' ) }}#}
                    <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[complete]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                    {{ complete }}
                    </a>
                    </span>
                    {{ fellappmacros.addSlush() }}
                    <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[complete]':1,'filter[filter]':filter}) }}">{{ completeTotal }}</a>
                    </span>
                    {{ fellappmacros.addLegend('complete') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                    {{ form_widget(fellappfilter.interviewee) }}   {{ form_label(fellappfilter.interviewee) }}
                    {#{{ fellappmacros.addBadge( filter, currentYear, interviewee, intervieweeTotal, 'interviewee' ) }}#}
                    <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[interviewee]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ interviewee }}
                    </a>
                    </span>
                    {{ fellappmacros.addSlush() }}
                    <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[interviewee]':1,'filter[filter]':filter}) }}">{{ intervieweeTotal }}</a>
                    </span>
                    {{ fellappmacros.addLegend('interviewee') }}
                    </div>
                    &nbsp;&nbsp;

                    {#<div style="white-space: nowrap; display: inline;">#}
                    {#{{ form_widget(fellappfilter.onhold) }}   {{ form_label(fellappfilter.onhold) }}#}
                    {#<span class="badge" data-toggle="tooltip" title="for {{ currentYear }}">#}
                    {#<a style="color: white;" href="{{ path('fellapp_home',{'filter[onhold]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">#}
                        {#{{ onhold }}#}
                    {#</a>#}
                    {#</span>#}
                    {#{{ fellappmacros.addSlush() }}#}
                    {#<span class="badge" data-toggle="tooltip" title="Total">#}
                    {#<a style="color: white;" href="{{ path('fellapp_home',{'filter[onhold]':1,'filter[filter]':filter}) }}">{{ onholdTotal }}</a>#}
                    {#</span>#}
                    {#{{ fellappmacros.addLegend('onhold') }}#}
                    {#</div>#}
                    {#&nbsp;&nbsp;#}

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.accepted) }}   {{ form_label(fellappfilter.accepted) }}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[accepted]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ accepted }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[accepted]':1,'filter[filter]':filter}) }}">{{ acceptedTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('accepted') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.acceptedandnotified) }}   {{ form_label(fellappfilter.acceptedandnotified) }}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[acceptedandnotified]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ acceptedandnotified }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[acceptedandnotified]':1,'filter[filter]':filter}) }}">{{ acceptedandnotifiedTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('acceptedandnotified') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.declined) }}   {{ form_label(fellappfilter.declined) }}
                        {#{{ fellappmacros.addBadge( filter, seasonStartYear, declined, declinedTotal, 'declined' ) }}#}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[declined]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ declined }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[declined]':1,'filter[filter]':filter}) }}">{{ declinedTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('declined') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.reject) }}   {{ form_label(fellappfilter.reject) }}
                        {#{{ fellappmacros.addBadge( filter, currentYear, reject, rejectTotal, 'reject' ) }}#}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[reject]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ reject }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[reject]':1,'filter[filter]':filter}) }}">{{ rejectTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('reject') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.rejectedandnotified) }}   {{ form_label(fellappfilter.rejectedandnotified) }}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[rejectedandnotified]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ rejectedandnotified }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[rejectedandnotified]':1,'filter[filter]':filter}) }}">{{ rejectedandnotifiedTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('rejectedandnotified') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.hidden) }}   {{ form_label(fellappfilter.hidden) }}
                        {#{{ fellappmacros.addBadge( filter, currentYear, hidden, hiddenTotal, 'hidden' ) }}#}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[hidden]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ hidden }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[hidden]':1,'filter[filter]':filter}) }}">{{ hiddenTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('hidden') }}
                    </div>
                    &nbsp;&nbsp;

                    <div style="white-space: nowrap; display: inline;">
                        {{ form_widget(fellappfilter.archived) }}   {{ form_label(fellappfilter.archived) }}
                        {#{{ fellappmacros.addBadge( filter, currentYear, archived, archivedTotal, 'archived' ) }}#}
                        <span class="badge" {{ tooltipBadge }} title="for {{ currentYear }}">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[archived]':1,'filter[filter]':filter,'filter[startDates]':currentYear}) }}">
                        {{ archived }}
                    </a>
                    </span>
                        {{ fellappmacros.addSlush() }}
                        <span class="badge" {{ tooltipBadge }} title="Total">
                    <a style="color: white;" href="{{ path('fellapp_home',{'filter[archived]':1,'filter[filter]':filter}) }}">{{ archivedTotal }}</a>
                    </span>
                        {{ fellappmacros.addLegend('archived') }}
                    </div>
                    &nbsp;&nbsp;

                    <button id="clear-all-checkbox-btn" class="btn btn-sm btn-default" type="button" onclick="clearAllCheckboxBtn()">Clear All Checkboxes</button>
                    <button id="check-all-checkbox-btn" class="btn btn-sm btn-default" type="button" onclick="checkAllCheckboxBtn()">Check All Checkboxes</button>

                </div>
            </div>

            {{ form_rest(fellappfilter) }}
        {#</form>#}
        {{ form_end(fellappfilter) }}
    </div>

    {% set trclassname = "" %}

    <div style="margin-top:25px;">

        <table class="records_list table table-hover table-condensed text-left">
            <thead>
            <tr>

                {#<th {% if entities.isSorted('fellapp.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'ID', 'fellapp.id') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Status', 'fellapp.appStatus.name') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'Created', 'fellapp.timestamp') }}</th>#}

                {% if route_path == "fellapp_send_rejection_emails" %}
                    <th>Send Email</th>
                    <th>Notification Emailed?</th>
                {% endif %}

                {% if serverRole != 'Internet (Hub)' %}
                    <th>{{ knp_pagination_sortable(entities, 'Fellowship Type', 'fellowshipSubspecialty.name') }}</th>
                {% else %}
                    <th>{{ knp_pagination_sortable(entities, 'Fellowship Type', 'globalFellowshipSpecialty.name') }}</th>
                {% endif %}

                <th>{{ knp_pagination_sortable(entities, 'Status', 'appStatus.action') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Start Date', 'fellapp.startDate') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'ID', 'fellapp.id') }}</th>
                <th>Photo</th>
                <th>{{ knp_pagination_sortable(entities, 'First Name', 'applicantinfos.firstName') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Last Name', 'applicantinfos.lastName') }}</th>

                <th>{{ knp_pagination_sortable(entities, 'U1 [C1]', 'examinations.USMLEStep1Score') }}</th>
                {#pass/fail only#}
                {#<th>U1 [C1]</th>#}

                <th>{{ knp_pagination_sortable(entities, 'U2 CK [C2]', 'examinations.USMLEStep2CKScore')}}</th>
                <th>{{ knp_pagination_sortable(entities, 'U3 [C3]', 'examinations.USMLEStep3Score') }}</th>

                {#<th>{{ knp_pagination_sortable(entities, 'C1', 'examinations.COMLEXLevel1Score') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'C2', 'examinations.COMLEXLevel2Score') }}</th>#}
                {#<th>{{ knp_pagination_sortable(entities, 'C3', 'examinations.COMLEXLevel3Score') }}</th>#}

                <th>Medical School</th>
                <th>Residency</th>
                <th>Preceding Fellowship</th>

                <th>{{ knp_pagination_sortable(entities, 'Interview Date', 'fellapp.interviewDate') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Interview Score', 'fellapp.interviewScore') }}</th>

                {% if fellappTypeId > 0 %}
                    <th>{{ knp_pagination_sortable(entities, 'Score', 'rank.rank') }}</th>
                {% endif %}

                <th>
                    <div data-toggle="tooltip" title="View Complete Application PDF">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </div>
                </th>

                {% if route_path == "fellapp_home" or route_path == "fellapp_myinterviewees" or route_path == "fellapp_accepted_fellows" %}
                    <th>
                        Actions
                    </th>
                {% endif %}

            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">

            {% for entity in entities %}

                {% if static %}
                    {#getEmailInfo<br>#}
                    {#$rejectedEmailSubject = $this->siteSettingsConstantReplace($rejectedEmailSubject,$fellapp);#}
                    {% set acceptedEmailSubjectModified = fellapp_util.siteSettingsConstantReplace(acceptedEmailSubject,entity) %}
                    {% set acceptedEmailBodyModified = fellapp_util.siteSettingsConstantReplace(acceptedEmailBody,entity) %}
                    {% set rejectedEmailSubjectModified = fellapp_util.siteSettingsConstantReplace(rejectedEmailSubject,entity) %}
                    {% set rejectedEmailBodyModified = fellapp_util.siteSettingsConstantReplace(rejectedEmailBody,entity) %}
                {% endif %}

                {#Set row color#}
                {% set trclassname = "" %}

                {% if entity.appStatus.name == 'archive' %}
                    {#No attention required - plain complete order#}
                    {#{% set trclassname = "action-cancel-status" %}#}
                    {#{% set trclassname = "info" %}#}
                    {% set trclassname = "fell-app-status-legend-archived" %}
                {% endif %}

                {% if entity.appStatus.name == 'hide' %}
                    {#urgent attention required#}
                    {#{% set trclassname = "order-urgent-status" %}#}
                    {#{% set trclassname = "danger" %}#}
                    {% set trclassname = "fell-app-status-legend-hidden" %}
                {% endif %}

                {% if entity.appStatus.name == 'draft' %}
                    {#urgent attention required#}
                    {#{% set trclassname = "order-urgent-status" %}#}
                    {#{% set trclassname = "danger" %}#}
                    {% set trclassname = "fell-app-status-legend-hidden" %}
                {% endif %}

                {% if entity.appStatus.name == 'complete' %}
                    {#urgent attention required#}
                    {#{% set trclassname = "order-neutral-status" %}#}
                    {#{% set trclassname = "order-complete-status" %}#}
                    {% set trclassname = "fell-app-status-legend-complete" %}
                {% endif %}

                {% if entity.appStatus.name == 'interviewee' %}
                    {#urgent attention required#}
                    {#{% set trclassname = "order-interviewee-status" %}#}
                    {% set trclassname = "fell-app-status-legend-interviewee" %}
                {% endif %}

                {% if entity.appStatus.name == 'reject' %}
                    {#{% set trclassname = "order-reject-status" %}#}
                    {% set trclassname = "fell-app-status-legend-reject" %}
                {% endif %}

                {#{% if entity.appStatus.name == 'onhold' %}#}
                    {#{% set trclassname = "order-onhold-status" %}#}
                {#{% endif %}#}

                {% if entity.appStatus.name == 'priority' %}
                    {#{% set trclassname = "order-onhold-status" %}#}
                    {% set trclassname = "fell-app-status-legend-priority" %}
                {% endif %}

                {% if entity.appStatus.name == 'accepted' %}
                    {% set trclassname = "fell-app-status-legend-accepted" %}
                {% endif %}
                {% if entity.appStatus.name == 'acceptedandnotified' %}
                    {% set trclassname = "fell-app-status-legend-acceptedandnotified" %}
                {% endif %}
                {% if entity.appStatus.name == 'rejectedandnotified' %}
                    {% set trclassname = "fell-app-status-legend-rejectedandnotified" %}
                {% endif %}
                {% if entity.appStatus.name == 'declined' %}
                    {% set trclassname = "fell-app-status-legend-declined" %}
                {% endif %}
                {#EOF Set row color#}

                {#Set examination score#}
                {% set u1 = "" %}
                {% set u2 = "" %}
                {% set u3 = "" %}
                {% set c1 = "" %}
                {% set c2 = "" %}
                {% set c3 = "" %}
                {% for examination in entity.examinations %}
                    {% set u1 = examination.getUSMLEStep1Score(true) %}
                    {% set u2 = examination.getUSMLEStep2CKScore(true) %}
                    {% set u3 = examination.getUSMLEStep3Score(true) %}
                    {% set c1 = examination.getCOMLEXLevel1Score(true) %}
                    {% set c2 = examination.getCOMLEXLevel2Score(true) %}
                    {% set c3 = examination.getCOMLEXLevel3Score(true) %}
                {% endfor %}
                {#EOF Set examination score#}

                
                {#Calculating evaluation received, score css and evaluation modal#}
                {% set interviewDescrStr = "" %}
                {% set interviewsArr = [] %}
                {#{% set interviewsAwaitingArr = [] %}#}
{#                {% if entity.interviewScore %}#}
                    {% set scoreCount = 0 %}
                    {% set tooltip = "" %}                      
                    {% set scoreStyle = 'style=font-weight:bold;' %}
                    {% for interview in entity.interviews %}
                    {% if interview.interviewer %}
                        {% if not interview.totalRank %}
                            {% set scoreStyle = "" %}                             
                            {#{% set interviewsAwaitingArr = interviewsAwaitingArr|merge([interview.interviewer]) %}#}
                        {% else %}
                            {% set scoreCount = scoreCount + 1 %} 
                            {#{% set interviewerUrl = '<a href="'~path('employees_showuser', { 'id': interview.interviewer.id })~'" target="_blank"><strong>'~interview.interviewer.getUsernameOptimal()~'</strong></a>' %} #}
                            {#{% set interviewDescrStr =                                    #}
                                    {#interviewerUrl~":<br>"~       #}
                                    {#"Academic Rank - "~interview.academicRank~#}
                                    {#"<br>Personality Rank - "~interview.personalityRank~#}
                                    {#"<br>Potential Rank - "~interview.potentialRank~#}
                                    {#"<br>Language Proficiency - "~interview.languageProficiency~#}
                                    {#"<br>Total Rank - "~interview.totalRank~#}
                                    {#"<br>Comment: "~interview.comment %}#}
                            {#{% set interviewsArr = interviewsArr|merge([interviewDescrStr]) %}                              #}
                        {% endif %}
                    {% endif %}
                    {% endfor %}                                   

                    {% if entity.interviewScore %}
                        {% set tooltip = scoreCount~' of '~entity.interviews|length~' interview evaluations received.' %}
                    {% endif %}
{#                {% endif %}#}
                {#EOF Calculating evaluation received and evaluation modal#}

                <tr class="{{ trclassname }}">


                    {############ X of Y reference letters received ###########}
                    {#count all reference letters and upload documents#}
                    {% set notEmptyRef = 0 %}
                    {% set letterCount = 0 %}
                    {% set totalDocCount = 0 %}
                    {% for refLetter in entity.references %}
                        {% set totalDocCount = totalDocCount + refLetter.documents|length %}
                        {% if refLetter.name %}
                            {% set notEmptyRef = notEmptyRef + 1 %}
                            {#{% if refLetter.documents|length > 0 %}#}
                            {% if refLetter.hasReferenceLetter() %}
                                {% set letterCount = letterCount + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% set styleStr = "color:#707070;" %}
                    {#X of Y reference letters received#}
                    {% set docNumberStr = "docs" %}
                    {% if totalDocCount == 1 %}
                        {% set docNumberStr = "doc" %}
                    {% endif %}
                    {% set letterCountStr = letterCount~" of "~notEmptyRef~" reference letters ("~totalDocCount~" "~docNumberStr~") received" %}
                    {############ EOF X of Y reference letters received ###########}


                    {% if route_path == "fellapp_send_rejection_emails" %}
                        <td>
                            <input type="checkbox"
                                   class="notificationemail"
                                   name="notificationemail"
                                   value="{{ entity.id }}"
                                   data-applicant-name="{{ entity.getApplicantFullName() }}"
                            >
                        </td>
                        <td>
                            {#data-toggle="tooltip" title="rejection emails - red, acceptance emails - green"#}
                            {#<span data-toggle="tooltip" title="rejection emails - red, acceptance emails - green"></span>#}
                            {#{{ entity.startDate|date('m/d/Y','UTC') }}#}
                            {% set sentAcceptanceRejectionEmail = fellapp_util.getFellappAcceptanceRejectionEmailSent(entity) %}
                            {% set sentRejectionEmail = sentAcceptanceRejectionEmail['rejection'] %}
                            {% set sentAcceptanceEmail = sentAcceptanceRejectionEmail['acceptance'] %}
                            {% if sentRejectionEmail %}
                                <div data-toggle="tooltip" title="rejection emails - red">{{ sentRejectionEmail|raw }}</div>
                                {#{{ sentRejectionEmail|raw }}#}
                            {% endif %}
                            {% if sentAcceptanceEmail %}
                                <div data-toggle="tooltip" title="acceptance emails - green">{{ sentAcceptanceEmail|raw }}</div>
                                {#{{ sentAcceptanceEmail|raw }}#}
                            {% endif %}
                        </td>
                    {% endif %}

                    <td>
                        {% if serverRole != 'Internet (Hub)' %}
                            {% if entity.fellowshipSubspecialty %}
                                {{  entity.fellowshipSubspecialty.name }}
                            {% endif %}
                        {% else %}
                            {% if entity.globalFellowshipSpecialty %}
                                {{  entity.globalFellowshipSpecialty.name }}
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>
                        {{ entity.appStatus.getAction() }}: {{ letterCountStr }}
                    </td>

                    <td>
                        {{ entity.startDate|date('m/d/Y','UTC') }}
                    </td>

                    <td>
                        <a href="{{ path(pathbase~'_show', { 'id': entity.id }) }}" target="_blank">{{ entity.id }}</a>
                    </td>

                    <td class="rowlink-skip">
                        <div style="height: 60px; width: 60px;">
                        {% if is_granted('ROLE_PLATFORM_DEMO') %}
                            {% set avatarImage = asset('orderassets/AppUserdirectoryBundle/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                            <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                        {% else %}
                            {% if entity.avatars|length > 0 %}
                                {#{{ usermacros.showDocumentAsImage(entity.avatars|last,'Avatar','') }}#}
                                {{ usermacros.showDocumentAsImage(entity.avatars|last,'Avatar',null,null,null,'snapshot-small') }}
                            {% else %}
                                {% set avatarImage = asset('orderassets/AppUserdirectoryBundle/fengyuanchen-image-cropper/img/Placeholder-User-Glyph-Icon.png') %}
                                <img src="{{ avatarImage }}" alt="Avatar" style="max-width:100%; max-height:100%;">
                            {% endif %}
                        {% endif %}
                        </div>
                    </td>

                    {#<td>#}
                        {#{{  entity.appStatus }}#}
                    {#</td>#}

                    {#<td>#}
                        {#{{ entity.timestamp|date('m/d/Y H:i') }}#}
                    {#</td>                                       #}

                    {#<td>#}
                        {#{{ entity.endDate|date('m/d/Y') }}#}
                    {#</td>#}

                    <td>
                        {% if is_granted('ROLE_PLATFORM_DEMO') %}
                            Demo
                        {% else %}
                            {{ entity.user.getFirstNameUppercase() }}
                        {% endif %}
                    </td>

                    <td>
                        {% if is_granted('ROLE_PLATFORM_DEMO') %}
                            Applicant
                        {% else %}
                            {{ entity.user.getLastNameUppercase() }}
                        {% endif %}
                    </td>

                    <td>
                        {{ u1 }}{% if c1 %} [{{ c1 }}]{% endif %}
                    </td>

                    <td>
                        {{ u2 }}{% if c2 %} [{{ c2 }}]{% endif %}
                    </td>

                    <td>
                        {{ u3 }}{% if c3 %} [{{ c3 }}]{% endif %}
                    </td>

                    {#<td>#}
                        {#{{ c1 }}#}
                    {#</td>#}

                    {#<td>#}
                        {#{{ c2 }}#}
                    {#</td>#}

                    {#<td>#}
                        {#{{ c3 }}#}
                    {#</td>#}
                    <td>
                        {{ entity.getMedicalSchoolDescription()|raw }}
                    </td>
                    <td>
                        {{ entity.getResidencyDescription()|raw }}
                    </td>
                    <td>
                        {{ entity.getPostResidencyFellowshipDescription()|raw }}
                    </td>

                    {#Add a black tooltip over the interview date link in the Interview Date column with text "Download Itinerary"#}
                    <td class="rowlink-skip">
                        {% if entity.interviewDate is not empty %}
                            {% if entity.itinerarys|length > 0 %}
                                <a  
                                   href="{{ path('fellapp_file_download', {'id': entity.itinerarys|last.id}) }}"
                                   target="_blank" 
                                   style="color:black;"
                                   data-toggle="tooltip" title="Download Itinerary"
                                >
                                    {#{{ entity.interviewDate|date('m/d/Y','UTC') }}#}
                                    {{ entity.interviewDate|date('m/d/Y',false) }}
                                </a>
                            {% else %}
                                {#{{ entity.interviewDate|date('m/d/Y','UTC') }}#}
                                {{ entity.interviewDate|date('m/d/Y',false) }}
                            {% endif %}

                        {% endif %}
                    </td>
                   
                    <td class="rowlink-skip">
                        <div>
                            <div style="float:left; margin-right:5px;">
                        {% if entity.interviewScore %}                         
                            <a data-toggle="tooltip" title="{{ tooltip }}" href="{{ path('fellapp_show', { 'id': entity.id}) }}#interviews" target="_blank" style="color:black;">
                                <div {{ scoreStyle }}>{{ entity.interviewScore }}</div>
                            </a>                           
                        {% endif %} 
                                </div>
                                <div style="float:left;">
                        {#{% if interviewsArr|length > 0 or interviewsAwaitingArr|length > 0 %}#}
                        {% if scoreCount > 0 %}

                            {#<a href="#" data-toggle="modal" data-target="#interview-info-{{entity.id}}">#}
                                {#<span data-toggle="tooltip" title="View Interview Evaluations" class="glyphicon glyphicon-list"></span>#}
                            {#</a>#}

                            {#{{ fellappmacros.addInterviewsModal(entity,interviewsArr,interviewsAwaitingArr) }}#}

                            {#<div#}
                                {#class="btn btn-sm"#}
                                {#onclick="interviewModalAction( {{entity.id}} );"#}
                                {#<span data-toggle="tooltip" title="View Interview Evaluations" class="glyphicon glyphicon-list"></span>#}
                            {#</div>#}

                            {#<a href="#" onclick="interviewModalAction( {{entity.id}} );" data-toggle="modal" data-target="#interview-info-modal">#}
                                {#<span class="glyphicon glyphicon-list" data-toggle="tooltip" title="View Interview Evaluations"></span>#}
                            {#</a>#}
                            {#<div class="btn btn-sm" type="button" style="padding:0px;" onclick="interviewModalCreation(this,{{ entity.id }});">#}
                                {#<span class="glyphicon glyphicon-list" data-toggle="tooltip" title="View Interview Evaluations"></span>#}
                            {#</div>#}
                            <div class="btn btn-sm btn-interview-info-modal" type="button" style="padding:0px;" data-id="{{ entity.id }}">
                                <span class="glyphicon glyphicon-list" data-toggle="tooltip" title="View Interview Evaluations"></span>
                            </div>

                            {#Remote modal: This option is deprecated since v3.3.0 and will be removed in v4.#}
                            {#<a data-toggle="modal" href="{{ path('fellapp_interview_modal',{'id':entity.id}) }}" data-target="#interview-info-{{entity.id}}">#}
                                {#<span class="glyphicon glyphicon-list"></span>#}
                            {#</a>#}
                            {#<div id="#interview-info-{{entity.id}}"></div>#}

                        {% endif %}
                            </div>
                        </div>
                    </td>

                    {#rank#}
                    {% if fellappTypeId > 0 %}
                        <td class="rowlink-skip">
                            {% if entity.rank and entity.rank.rank != 0 and entity.rank.rank != "" %}
                                {% if entity.rank.updateuser %}
                                    {% set rankUser = entity.rank.updateuser %}
                                    {% set rankDate = entity.rank.updatedate %}
                                {% else %}
                                    {% set rankUser = entity.rank.user %}
                                    {% set rankDate = entity.rank.creationdate %}
                                {% endif %}
                                {% set tooltipStr = "Set by "~rankUser.getUserNameStr()~" on "~rankDate|date('m/d/Y','UTC') %}
                                {% set rankValue = entity.rank.rank %}
                            {% else %}
                                {% set tooltipStr = "" %}
                                {% set rankValue = "?" %}
                            {% endif %}

                            <div
                                class="btn btn-fellapp-rank-modal"
                                type="button"
                                style="padding:0px;"
                                data-id="{{ entity.id }}"
                                data-toggle="tooltip" title="{{ tooltipStr }}"
                            >
                                {{ rankValue }}
                            </div>
                        </td>
                    {% endif %}

                    <td class="rowlink-skip">

                        {#X of Y reference letters received (removed by now as asked by Jessica)#}
                        {#count all reference letters and upload documents#}
                        {#{% set notEmptyRef = 0 %}#}
                        {#{% set letterCount = 0 %}#}
                        {#{% set totalDocCount = 0 %}#}
                        {#{% for refLetter in entity.references %}#}
                            {#{% set totalDocCount = totalDocCount + refLetter.documents|length %}#}
                            {#{% if refLetter.name %}#}
                                {#{% set notEmptyRef = notEmptyRef + 1 %}#}
                                {#{% if refLetter.documents|length > 0 %}#}
                                    {#{% set letterCount = letterCount + 1 %}#}
                                {#{% endif %}#}
                            {#{% endif %}#}
                        {#{% endfor %}#}
                        {#{% set letterCountStr = "" %}#}
                        {#{% set styleStr = "color:#707070;" %}#}

                        {#{% if letterCount > 0 %}#}
                            {#{% set letterCountStr = letterCount ~  " reference letters received" %}#}
                            {#{% set styleStr = "" %}#}
                        {#{% endif %}#}

                        {#X of Y reference letters received#}
                        {#{% set docNumberStr = "docs" %}#}
                        {#{% if totalDocCount == 1 %}#}
                            {#{% set docNumberStr = "doc" %}#}
                        {#{% endif %}#}
                        {#{% set letterCountStr = letterCount~" of "~notEmptyRef~" reference letters ("~totalDocCount~" "~docNumberStr~") received" %}#}
                        {#{% set styleStr = "" %}#}

                        {% if entity.appStatus.name == 'complete' %}
                            {% set letterCountStr = "Complete" ~ " (" ~ letterCountStr ~ ")" %}
                        {% elseif entity.appStatus.name == 'interviewee' %}
                            {% set letterCountStr = "Interviewee" ~ " (" ~ letterCountStr ~ ")" %}
                        {% else %}
                            {#X of Y reference letters received#}
                            {#{% set docNumberStr = "docs" %}#}
                            {#{% if totalDocCount == 1 %}#}
                                {#{% set docNumberStr = "doc" %}#}
                            {#{% endif %}#}
                            {#{% set letterCountStr = letterCount~" of "~notEmptyRef~" reference letters ("~totalDocCount~" "~docNumberStr~") received" %}#}
                            {% set styleStr = "" %}
                        {% endif %}

                        {#<a#}
                            {#href="{{ path('employees_file_pdf-preview', { 'id': entity.id}) }}" target="_blank">#}
                            {#<span class="glyphicon glyphicon-file" aria-hidden="true"></span>#}
                        {#</a>#}
                        {% if entity.getRecentReport() %}
                            {#<a href="{{ entity.getRecentReport().getAbsoluteUploadFullPath }}" target="_blank" data-toggle="tooltip" title="{{ letterCountStr }}">#}
                                {#<span class="glyphicon glyphicon-file" aria-hidden="true" style="{{ styleStr }}"></span>#}
                            {#</a>#}
                            <a href="{{ path('fellapp_view_pdf', { 'id': entity.id}) }}" target="_blank" data-toggle="tooltip" title="{{ letterCountStr }}">
                                <span class="glyphicon glyphicon-file" aria-hidden="true" style="{{ styleStr }}"></span>
                            </a>
                        {% endif %}                                                                       

                    </td>

                    <td class="rowlink-skip">

                        {% if route_path == "fellapp_home" or route_path == "fellapp_accepted_fellows" %}

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right">


                                    <li>
                                        <a
                                            href="{{ path('fellapp_show', { 'id': entity.id}) }}" target="_blank">View Application and Documents
                                        </a>
                                    </li>

                                    {% if entity.itinerarys|length > 0 %}
                                        <li>
                                            <a
                                                href="{{ path('fellapp_file_download', { 'id': entity.itinerarys|last.id, "eventtype":"Fellowship Interview Itinerary Downloaded"}) }}">Download Itinerary
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if entity.interviews|length > 0 %}
                                        <li>
    {#                                        <a href="{{ path('fellapp_show', { 'id': entity.id}) }}#interviews" target="_blank">View Interview Evaluations</a>#}
                                            {% if scoreCount > 0 %}
                                                <a href="#" data-toggle="modal" data-target="#interview-info-{{entity.id}}">
                                                    View Interview Evaluations <span class="glyphicon glyphicon-list"></span>
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                    {% if is_granted('ROLE_FELLAPP_COORDINATOR') or is_granted('ROLE_FELLAPP_DIRECTOR') %}

                                        <li>
                                            <a
                                                {#href="{{ path('fellapp_application_log', { 'id': entity.id}) }}">View Activity Log#}
                                                href="{{ path('fellapp_event-log-per-object_log', { 'filter[objectId]': entity.id}) }}">View Activity Log
                                            </a>
                                        </li>

                                        <hr>

                                        {% if entity.appStatus.name != 'active' %}
                                            <li>
                                                <a
                                                        general-data-confirm="Are you sure you want to change status of this Application to 'Active'?"
                                                        general-data-callback="refreshpage"
                                                        href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'active' }, true) }}">Mark as Active
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'draft' %}
                                            <li>
                                                <a
                                                        general-data-confirm="Are you sure you want to change status of this Application to 'Draft'?"
                                                        general-data-callback="refreshpage"
                                                        href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'draft' }, true) }}">Mark as Draft
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'priority' %}
                                            <li>
                                                <a
                                                        general-data-confirm="Are you sure you want to mark this Application as Priority?"
                                                        general-data-callback="refreshpage"
                                                        href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'priority' }, true) }}">Mark as Priority
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'complete' %}
                                            {% set filter = app.request.get('filter') %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to mark this Application as 'Complete'?"
                                                    general-data-callback="refreshpage"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'complete' }, true) }}">Mark as Complete
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'interviewee' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to mark this Application as belonging to an Interviewee?"
                                                    general-data-callback="refreshpage"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'interviewee' }, true) }}">Mark as an Interviewee
                                                </a>
                                            </li>
                                        {% endif %}

                                        {#{% if entity.appStatus.name != 'onhold' %}#}
                                            {#<li>#}
                                                {#<a#}
                                                        {#general-data-confirm="Are you sure you want to change status of this Application to 'On Hold'?"#}
                                                        {#general-data-callback="refreshpage"#}
                                                        {#href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'onhold' }, true) }}">Put On Hold#}
                                                {#</a>#}
                                            {#</li>#}
                                        {#{% endif %}#}


                                        {% if entity.appStatus.name != 'hide' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to hide this Application?"
                                                    general-data-callback="refreshpage"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'hide' }, true) }}">Hide
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'archive' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to change status of this Application to 'Archived'?"
                                                    general-data-callback="refreshpage"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'archive' }, true) }}">Archive
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if static %}
                                            {% set rejectionAcceptanceEmailWarning = fellapp_util.getRejectionAcceptanceEmailWarning(entity) %}
                                        {% endif %}

                                        {% if entity.appStatus.name != 'accepted' %}
                                            <li>

                                                {% if static %}
                                                <a
                                                    fellapp-data-confirm="{{ rejectionAcceptanceEmailWarning|raw }}<p style='color:green'>Would you like to send the following notification e-mail to the accepted applicant?</p>"
                                                    fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}"
                                                    fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'accepted' }, true) }}"
                                                    fellapp-data-email-subject="{{ acceptedEmailSubjectModified }}"
                                                    fellapp-data-email-body="{{ acceptedEmailBodyModified }}"
                                                    fellapp-data-callback="refreshpage"
                                                    href="#">Mark as Accepted
                                                </a>
                                                {% else %}
                                                <a  data-spinner-color="{{ spinnerColor }}"
                                                    fellapp-data-confirm="<p style='color:green'>Would you like to send the following notification e-mail to the accepted applicant?</p>"
                                                    fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}"
                                                    fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'accepted' }, true) }}"
                                                    fellapp-data-email-fellappid="{{ entity.id }}"
                                                    fellapp-data-email-type="accepted"
                                                    fellapp-data-callback="refreshpage"
                                                    href="#">Mark as Accepted
                                                </a>
                                                {% endif %}

                                            </li>
                                        {% endif %}
                                        {% if entity.appStatus.name != 'acceptedandnotified' %}
                                            <li>
                                                {#<a#}
                                                        {#general-data-confirm="Are you sure you want to change status of this Application to 'Accepted and Notified'?"#}
                                                        {#general-data-callback="refreshpage"#}
                                                        {#href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}">Mark as Accepted and Notify#}
                                                {#</a>#}
                                                {% if static %}
                                                    <a
                                                        fellapp-data-confirm="{{ rejectionAcceptanceEmailWarning|raw }}<p style='color:green'>Would you like to send the following notification e-mail to the accepted applicant?</p>"
                                                        fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}"
                                                        fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified-noemail' }, true) }}"
                                                        fellapp-data-email-subject="{{ acceptedEmailSubjectModified }}"
                                                        fellapp-data-email-body="{{ acceptedEmailBodyModified }}"
                                                        fellapp-data-callback="refreshpage"
                                                        href="#">Mark as Accepted and Notify
                                                    </a>
                                                {% else %}
                                                    <a  data-spinner-color="{{ spinnerColor }}"
                                                        fellapp-data-confirm="<p style='color:green'>Would you like to send the following notification e-mail to the accepted applicant?</p>"
                                                        fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}"
                                                        fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified-noemail' }, true) }}"
                                                        fellapp-data-email-fellappid="{{ entity.id }}"
                                                        fellapp-data-email-type="accepted"
                                                        fellapp-data-callback="refreshpage"
                                                        href="#">Mark as Accepted and Notify
                                                    </a>
                                                {% endif %}

                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'declined' %}
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to change status of this Application to 'Declined'?"
                                                    general-data-callback="refreshpage"
                                                    href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'declined' }, true) }}">Mark as Declined Interview/Acceptance
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'reject' %}
                                            <li>
                                                {#<a#}
                                                        {#general-data-confirm="Are you sure you want to change status of this Application to 'Rejected'?"#}
                                                        {#general-data-callback="refreshpage"#}
                                                        {#href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'reject' }, true) }}">Mark as Rejected#}
                                                {#</a>#}
                                            {% if static %}
                                                <a
                                                    fellapp-data-confirm="{{ rejectionAcceptanceEmailWarning|raw }}<p style='color:red'>Would you like to send the following rejection notification e-mail to the rejected applicant?</p>"
                                                    fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}"
                                                    fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'reject' }, true) }}"
                                                    fellapp-data-email-subject="{{ rejectedEmailSubjectModified }}"
                                                    fellapp-data-email-body="{{ rejectedEmailBodyModified }}"
                                                    fellapp-data-callback="refreshpage"
                                                    href="#">Mark as Rejected
                                                </a>
                                            {% else %}
                                                <a  data-spinner-color="{{ spinnerColor }}"
                                                    fellapp-data-confirm="<p style='color:red'>Would you like to send the following rejection notification e-mail to the rejected applicant?</p>"
                                                    fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}"
                                                    fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'reject' }, true) }}"
                                                    fellapp-data-email-fellappid="{{ entity.id }}"
                                                    fellapp-data-email-type="rejected"
                                                    fellapp-data-callback="refreshpage"
                                                    href="#">Mark as Rejected
                                                </a>
                                            {% endif %}
                                            </li>
                                        {% endif %}

                                        {% if entity.appStatus.name != 'rejectedandnotified' %}
                                            <li>
                                                {#<a#}
                                                        {#general-data-confirm="Are you sure you want to change status of this Application to 'Rejected and Notified'?"#}
                                                        {#general-data-callback="refreshpage"#}
                                                        {#href="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}">Mark as Rejected and Notify#}
                                                {#</a>#}
                                                {% if static %}
                                                    <a
                                                        fellapp-data-confirm="{{ rejectionAcceptanceEmailWarning|raw }}<p style='color:red'>Would you like to send the following rejection notification e-mail to the rejected applicant?</p>"
                                                        fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}"
                                                        fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified-noemail' }, true) }}"
                                                        fellapp-data-email-subject="{{ rejectedEmailSubjectModified }}"
                                                        fellapp-data-email-body="{{ rejectedEmailBodyModified }}"
                                                        fellapp-data-callback="refreshpage"
                                                        href="#">Mark as Rejected and Notify
                                                    </a>
                                                {% else %}
                                                    <a  data-spinner-color="{{ spinnerColor }}"
                                                        fellapp-data-confirm="<p style='color:red'>Would you like to send the following rejection notification e-mail to the rejected applicant?</p>"
                                                        fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}"
                                                        fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified-noemail' }, true) }}"
                                                        fellapp-data-email-fellappid="{{ entity.id }}"
                                                        fellapp-data-email-type="rejected"
                                                        fellapp-data-callback="refreshpage"
                                                        href="#">Mark as Rejected and Notify
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endif %}


                                        {#Set recommendation status by RecLetterAuthorFirstName RecLetterAuthorLastName to uploaded#}
                                        {% if entity.hasAllCheckmarks() == false %}
                                            <hr>
                                            {% for reference in entity.getReferences() %}
                                                {% if reference.getRecLetterReceived() == false %}
                                                    {% set referenceFullName = reference.getFullName() %}
                                                    <li>
                                                        <a
                                                            general-data-confirm="Are you sure you want to set recommendation status by {{ referenceFullName }} to 'uploaded'?"
                                                            href="{{ path('fellapp_reference_letter_received', {'id': reference.id}) }}">
                                                            Set recommendation status by {{ referenceFullName }} to 'uploaded'
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        <hr>

                                        {#Send e-mail notification#}
                                        <li>
                                            {% if static %}
                                            <a
                                                fellapp-data-confirm="{{ rejectionAcceptanceEmailWarning|raw }}<p style='color:green'>Would you like to send the following notification e-mail to the accepted applicant?</p>"
                                                fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}"
                                                fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'accepted' }, true) }}"
                                                fellapp-data-email-subject="{{ acceptedEmailSubjectModified }}"
                                                fellapp-data-email-body="{{ acceptedEmailBodyModified }}"
                                                fellapp-data-callback="refreshpage"
                                                href="#">Send e-mail notification of acceptance
                                            </a>
                                            {% else %}
                                            <a  data-spinner-color="{{ spinnerColor }}"
                                                fellapp-data-confirm="<p style='color:green'>Would you like to send the following notification e-mail to the accepted applicant?</p>"
                                                fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'acceptedandnotified' }, true) }}"
                                                fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'accepted' }, true) }}"
                                                fellapp-data-email-fellappid="{{ entity.id }}"
                                                fellapp-data-email-type="accepted"
                                                fellapp-data-callback="refreshpage"
                                                href="#">Send e-mail notification of acceptance
                                            </a>
                                            {% endif %}
                                        <li>
                                            {% if static %}
                                            <a
                                                fellapp-data-confirm="{{ rejectionAcceptanceEmailWarning|raw }}<p style='color:red'>Would you like to send the following rejection notification e-mail to the rejected applicant?</p>"
                                                fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}"
                                                fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'reject' }, true) }}"
                                                fellapp-data-email-subject="{{ rejectedEmailSubjectModified }}"
                                                fellapp-data-email-body="{{ rejectedEmailBodyModified }}"
                                                fellapp-data-callback="refreshpage"
                                                href="#">Send e-mail notification of rejection
                                            </a>
                                            {% else %}
                                            <a  data-spinner-color="{{ spinnerColor }}"
                                                fellapp-data-confirm="<p style='color:red'>Would you like to send the following rejection notification e-mail to the rejected applicant?</p>"
                                                fellapp-data-href1="{{ path('fellapp_status', { 'id': entity.id, 'status': 'rejectedandnotified' }, true) }}"
                                                fellapp-data-href2="{{ path('fellapp_status', { 'id': entity.id, 'status': 'reject' }, true) }}"
                                                fellapp-data-email-fellappid="{{ entity.id }}"
                                                fellapp-data-email-type="rejected"
                                                fellapp-data-callback="refreshpage"
                                                href="#">Send e-mail notification of rejection
                                            </a>
                                            {% endif %}
                                        </li>

                                        {#invite references#}
                                        {% if entity.hasAllCheckmarksOrReferenceLetters() == false %}
                                            <hr>
                                            <li>
                                                <a
                                                    general-data-confirm="Are you sure you want to invite all remaining references to submit letters?"
                                                    general-data-callback="refreshpage"
                                                    href="{{ path('fellapp_invite_references_submit_letters', { 'id': entity.id }, true) }}">
                                                    Invite all remaining references to submit letters
                                                </a>
                                                {% for reference in entity.getReferences() %}
                                                    {#{% if reference.getDocuments()|length == 0 %}#}
                                                    {% if reference.hasReferenceLetter() == false %}
                                                        {% set referenceName = reference.getFullName() %}
                                                        <a target="_blank"
                                                            general-data-confirm="Are you sure you want to invite Invite {{ referenceName }} to submit a reference letter?"
                                                            href="{{ path('fellapp_invite_reference_submit_letter', { 'id': entity.id, 'referenceid': reference.id }, true) }}">
                                                            Invite {{ referenceName }} to submit a reference letter
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        {% endif %}

                                        {% if entity.getRecentReport() %}
                                            {#Invite Interviewers to Rate#}
                                            {% if entity.interviews|length > 0 and entity.itinerarys|length > 0 %}
                                                {% set embedPdf = fellapp_util.getEmbedPdf(entity.getRecentReport()) %}
                                                <li>
                                                    <a
                                                        general-data-confirm="Are you sure you want to Invite Interviewers to Rate this Applicant? Email will be sent to the interviewers who still have not submitted their scores. {{ embedPdf }}"
                                                        general-data-callback="refreshpage"
                                                        href="{{ path('fellapp_inviteinterviewerstorate', { 'id': entity.id}, true) }}">
                                                        Invite interviewers to rate
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {#Invite observers to view#}
                                            {% if entity.observers|length > 0 %}
                                                <li>
                                                    <a
                                                        general-data-confirm="Are you sure you want to Invite Observers to view this Applicant? Email will be sent to all observers."
                                                        general-data-callback="refreshpage"
                                                        href="{{ path('fellapp_inviteobservers', { 'id': entity.id}, true) }}">
                                                        Invite Observers to view
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}

                                        <hr>

                                        <li>
                                            <a
                                                href="{{ path('fellapp_edit', { 'id': entity.id}) }}" target="_blank">Edit
                                            </a>
                                        </li>

                                        {% set startYear = entity.getStartYear() %}
                                        <li>
                                            {#Are you sure you would like to move FirstName LastNames application for [Specialty] from [application year] to [target application year]?#}
                                            <a
                                                general-data-confirm="Are you sure you would like to move {{ entity.getApplicantFullName() }}'s application for {{ entity.getFellowshipSubspecialty() }} from {{ startYear }} to {{ startYear+1 }}?"
                                                general-data-callback="refreshpage"
                                                href="{{ path('fellapp_application_move_year', {'id': entity.id, 'year': +1}, true) }}">
                                                Move application to year {{ startYear+1 }}
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                general-data-confirm="Are you sure you would like to move {{ entity.getApplicantFullName() }}'s application for {{ entity.getFellowshipSubspecialty() }} from {{ startYear }} to {{ startYear-1 }}?"
                                                general-data-callback="refreshpage"
                                                href="{{ path('fellapp_application_move_year', {'id': entity.id, 'year': -1}, true) }}">
                                                Move application to year {{ startYear-1 }}
                                            </a>
                                        </li>

                                        <li>
                                            <a
                                                href="{{ path('fellapp_application_edit', { 'id': entity.id}) }}" target="_blank">Submit evaluation on behalf of an interviewer
                                            </a>
                                        </li>

                                        <li>
                                            <a
                                                href="{{ path('fellapp_edit_default_interviewers',{'id':entity.id}) }}#interviews" target="_blank">Add Default Interviewers
                                            </a>
                                        </li>

                                    {% endif %}

                                    {#{% if is_granted('ROLE_PLATFORM_ADMIN') %}#}
                                    {#<li>#}
                                        {#<a#}
                                            {#general-data-confirm="Are you sure you want to completely remove this Applicant and all related documents?"#}
                                            {#href="{{ path('fellapp_remove', { 'id': entity.id}) }}">Remove Applicant and all related documents#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#{% endif %}#}

                                    {#This link should only appear if the logged in user is one of the interviewers.#}
                                    {% if is_granted('ROLE_FELLAPP_INTERVIEWER') %}

                                        {% set userInterviewId = entity.getInterviewIdByUser( app.user ) %}

                                        {% if userInterviewId %}
                                            <li>
                                                <a
                                                    href="{{ path('fellapp_interview_edit', { 'id': userInterviewId}) }}" target="_blank">Submit My Evaluation
                                                </a>
                                            </li>
                                        {% endif %}

                                    {% endif %}


                                    <li>
                                        <a
                                            href="{{ path('fellapp_download_pdf', { 'id': entity.id}) }}">Download Application
                                        </a>
                                    </li>

                                </ul>

                            </div>

                        {% endif %}

                        {% if route_path == "fellapp_myinterviewees" %}

                            {% set thisUserInterview = entity.getInterviewByUser(app.user) %}
                            {% set totalRank = thisUserInterview.totalRank %}

                            {% if totalRank and totalRank > 0 %}
                                <a
                                    href="{{ path('fellapp_interview_show', { 'id': thisUserInterview.getId()}) }}" target="_blank">View My Evaluation
                                </a>
                            {% else %}
                                <a
                                    href="{{ path('fellapp_interview_edit', { 'id': thisUserInterview.getId()}) }}" target="_blank">Evaluate
                                </a>

                            {% endif %}

                        {% endif %}

                    </td>


                </tr>
            {% endfor %}

            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>


        {% if route_path == "fellapp_send_rejection_emails" %}
            {#send email button#}
            <p>
                <button
                    id="send-rejection-emails"
                    type="button"
                    class="btn btn-primary btn-sm"
                    onClick="fellappSendRejectionEmails()"
                >Send Rejection Emails to Selected Applicants</button>
                {#&nbsp;&nbsp;&nbsp;#}
                {#<a></a>#}
            </p>

            <br>

            <div class="well well-sm" align='center'>
                <h5>
                    Email's Subject and Body ([[value]] will be replaced by the corresponding value from the fellowship application)
                </h5>

                <br>
                <div class="well well-sm" align='center'>
                {% for fellowshipTypeId,fellowshipTypeName in fellowshipTypes %}
                    {% set fellowshipTypeEntity = fellapp_util.getFellappBySubspecialty(fellowshipTypeId) %}
                    <p>{{ fellowshipTypeName }} currently directed by {{ fellapp_util.getProgramDirectorStr(fellowshipTypeEntity) }}</p>
                {% endfor %}
                </div>
                <br>

                {{ formmacros.simplefield("From:", user_security_utility.getSiteFromEmail("fellapp"), "input", "disabled") }}

                {#<p>#}
                    {#<b>Subject:</b>#}
                    {#{{ rejectedEmailSubject|raw }}#}
                    {#<textarea disabled="disabled" class="textarea form-control">{{ rejectedEmailSubject|raw }}</textarea>#}
                {#</p>#}
                {{ formmacros.simplefield("Subject:", rejectedEmailSubject, "textarea", "disabled") }}

                {#<p>#}
                    {#<b>Body:</b>#}
                    {#{{ rejectedEmailBody|raw }}#}
                    {#<textarea disabled="disabled" class="textarea form-control">{{ rejectedEmailBody|raw }}</textarea>#}
                {#</p>#}
                {{ formmacros.simplefield("Body:", rejectedEmailBody, "textarea", "disabled") }}

                <p>
                    <a class="btn btn-default"
                       href="{{ path('fellapp_siteparameters_edit_specific_site_parameters') }}" target="_blank">Edit email template
                    </a>
                </p>

            </div>

        {% endif %}

{% endblock %}



{% block additionaljs %}

    {#{% javascripts#}
        {#'@AppFellAppBundle/Resources/public/form/js/interview-modal.js'#}
        {#'@AppFellAppBundle/Resources/public/form/js/rank-modal.js'#}
        {#'@AppFellAppBundle/Resources/public/form/js/status-notification-modal.js'#}
        {#'@AppFellAppBundle/Resources/public/form/js/send-notification-emails.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script src="{{ asset('orderassets/AppFellAppBundle/form/js/interview-modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppFellAppBundle/form/js/rank-modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppFellAppBundle/form/js/status-notification-modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppFellAppBundle/form/js/send-notification-emails.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-datepicker-years.js') }}"></script>

    <script language="Javascript">

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip({html: true});

            //Prevent propagation of the checkbox click to open href in this row
            $('.notificationemail').on('click', function(e) {
                e.stopPropagation();
            });

//            var target = ".datepicker-only-year";
//            var datefilter = $(target).datepicker( {
//                autoclose: true,
//                format: " yyyy",
//                viewMode: "years",
//                minViewMode: "years",
//                orientation: 'auto', //'auto top'
//                multidate: true,
//                clearBtn: true
//            });

            userInitDatepickerYears('#filter_startDates');

            attachTitleToScores();

            initInterviewModal();

            initRankModal();

            changeFilterColorButton();

            fellappStatusNotificationConfirmAction();

            //onInterviewModalShow();

            /////////// set default year by JS ///////////
            //var year = parseInt(new Date().getFullYear()) + 2;
            //var datas = [
            //    new Date(year,1,1) //remember months in javascript starts with 0 for january
            //];
            //console.log('datepicker val='+datefilter.val());
            //if( !datefilter.val() ) {
            //    datefilter.datepicker('setDate', datas);
            //}

            //var url = window.location.href;
            //console.log('url='+url);
            //var year = getParameterByName('filter%5BstartDate%5D');
            //console.log('year='+year);

        });

        //I think the "Filter" button needs to turn green if any of the fields
        // in the filter well are modified. When the "Filter" button is pressed
        // it should become grey again.
        function changeFilterColorButton() {
            var filterBtn = $('#filter-btn');
            var filterForm = filterBtn.closest('.form-search');

            //datepicker
            filterForm.find('.datepicker-only-year').on('change',function() {
                changeBtnColorGreen(filterBtn);
            });

            //combobox
            filterForm.find('.combobox').on('change',function() {
                changeBtnColorGreen(filterBtn);
            });

            //text
            filterForm.find('text').on('input',function() {
                changeBtnColorGreen(filterBtn);
            });

            //input
            filterForm.find('input').on('input',function() {
                changeBtnColorGreen(filterBtn);
            });

            function changeBtnColorGreen(filterBtn) {
                filterBtn.removeClass('btn-default');
                filterBtn.addClass('btn-success');
            }

        }

//        function getParameterByName(name) {
//            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
//            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
//                    results = regex.exec(location.search);
//            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
//        }


        function refreshpage(href,btnEl) {
            console.log('refreshpage href='+href);

            if( !href ) {
                return;
            }
            
            //add listnere to ok button to "Please wait ..." and disable button on click
            var footer = $(btnEl).closest('.modal-footer');
            footer.html('Please wait ...');

            var url = getCommonBaseUrl(href,"fellowship-applications");
            console.log('url='+url);
            

            $.ajax({
                type: "GET",
                url: url,
                async: false,
                success: function(data) {
                    //console.log('result='+data);
                }
            });

            location.reload();
        }


        function attachTitleToScores() {
            $('.sortable').each( function() {
                //var title = this.title;
                //console.log("this.title="+this.title);
                var tooltipStr = null;
                switch( this.title ) {
                    case 'U1 [C1]':
                        tooltipStr = 'USMLE Step 1 and/or COMLEX 1 Score';
                        break;
                    case 'U2 CK [C2]':
                        tooltipStr = 'USMLE Step 2 CK and/or COMLEX 2 Score';
                        break;
                    case 'U3 [C3]':
                        tooltipStr = 'USMLE Step 3 and/or COMLEX 3 Score';
                        break;
                    case 'C1':
                        tooltipStr = 'COMLEX 1 Score';
                        break;
                    case 'C2':
                        tooltipStr = 'COMLEX 2 Score';
                        break;
                    case 'C3':
                        tooltipStr = 'COMLEX 3 Score';
                        break;
                }

                if( tooltipStr ) {
                    this.title = tooltipStr;
                    $(this).tooltip();
                }
            });
        }
        
//        function onInterviewModalShow() {
//
//            $('.interview-info-modal').on('shown.bs.modal', function () {
//
//                //Combined Interview Score: X (Nth highest of M available in [Fellowship specialty] for [Year])
//                //Combined Interview Score: 3.3 (2nd highest of 6 available in Cytopathology for 2017)
//
//                var fellappId = $(this).find('.data-fellapp-id').data("fellapp-id");
//                console.log('modal show fellappId='+fellappId);
//
//                var url = getCommonBaseUrl("interview-score-rank/"+fellappId,"fellowship-applications");
//                //console.log('url='+url);
//
//                $('.interview-score-rank').html('Calculating score rank ...');
//
//                $.ajax({
//                    type: "GET",
//                    url: url,
//                    success: function(resHtml) {
//                        $('.interview-score-rank').html(resHtml);
//                    }
//                });
//
//            })
//
//        }




    </script>

{% endblock %}

{% block additionalcss %}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />#}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/fontawesome/css/all.min.css') }}" />
    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/font-awesome/css/font-awesome.css') }}" />#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/font-awesome-4.1/css/font-awesome.min.css') }}" />#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{% endblock %}

