{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% if panelClass is not defined %}
    {% set panelClass = "panel-info" %}
{% endif %}


<div class="panel {{ panelClass }}">
    <div class="panel-heading">
        <h4 class="panel-title">

            {% set orgNamePostfix = "" %}
            {% if organizationalGroupName == "Anatomic Pathology" %}
                {% set orgNamePostfix = " (Surgical Pathology Roles)" %}
            {% endif %}

            {% if vacreq_util.hasRoleNameAndGroup(['ROLE_VACREQ_APPROVER','ROLE_VACREQ_SUPERVISOR'],organizationalGroupId) %}
                <div class="row">
                    <div class="col-xs-10" align="right">
                        <a data-toggle="collapse" href="#vacreq-organizational-group-{{ organizationalGroupId }}">
                            {{ organizationalGroupName }}{{ orgNamePostfix }} (root: {{ rootInstitution }}) {{ approvalGroupType }}
                        </a>
                    </div>
                    <div class="col-xs-2" align="left">
                        <a class="btn-sm btn-info" href="{{ path(vacreq_sitename~'_orginst_management', { 'institutionId': organizationalGroupId }) }}">
                            Manage
                        </a>
                        {#<a class="btn-sm btn-danger" href="#">Delete</a>#}
                    </div>
                </div>
            {% else %}
                <a data-toggle="collapse" href="#vacreq-organizational-group-{{ organizationalGroupId }}">
                    {{ organizationalGroupName }}{{ orgNamePostfix }}
                </a>
            {% endif %}

        </h4>
    </div>
    <div id="vacreq-organizational-group-{{ organizationalGroupId }}" class="panel-collapse collapse in">
        <div class="panel-body">

            {#approval group types#}
            {% if settings is defined and settings %}
                <div class="well" align="justify">
                    <strong>Approval Group Type</strong>
                    <br>
                    {% for approvalType in settings.getApprovalTypes %}
                        {% if approvalType %}
                            {{ approvalType }}<br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="well" align="justify">
                <strong>Approver(s)</strong>
                <br>
                {% for approver in approvers %}
                    {#{{ approver }}#}
                    {#({{ approver.getSiteRoles('APPROVER')|join(', ') }})#}
                    <a href="{{ path(vacreq_sitename~'_showuser', { 'id': approver.id }) }}">{{ approver.getUserNameStr(true) }}</a>
                    <br>
                {% endfor %}
            </div>

            {% set usermanage = false %}
            {% set usermanage = true %}
            {% if usermanage == false %}
            <div class="well" align="justify">
                <strong>Submitter(s)</strong>
                <br>
                {% for submitter in submitters %}
                    <a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"
                    >{{ submitter.getUserNameStr(true) }}</a>
                    <br>
                {% endfor %}
            </div>
            {% endif %}

            {#Submitter -> multiple employments#}
            {#<table style="width:100%">#}
                {#<tr>#}
                    {#<th>Submitter</th>#}
                    {#<td>Jill</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th rowspan="2">Phone</th>#}
                    {#<td>555-1234</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td>555-8745</td>#}
                {#</tr>#}
            {#</table>#}

            {% if 0 %}
                {#User start/end date as row#}
                <div class="well" align="justify">
                    <strong>Submitter(s)</strong>
                    <br><br>
                    {% for submitter in submitters %}
                        <div class="row">
                            <div class="col-xs-5" align="left">
                                <a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"
                                >{{ submitter.getUserNameStr(true) }}</a>
                            </div>
                            <div class="col-xs-2" align="left">
                                Latest Employment Start Date
                            </div>
                            <div class="col-xs-2" align="left">
                                Latest Employment End Date
                            </div>
                            <div class="col-xs-1" align="left">
                                <button type="button">Save</button>
                            </div>
                            <div class="col-xs-1" align="left">
                                <button type="button" title="Download [2022-2023] Audit">[2022-2023]</button>
                            </div>
                            <div class="col-xs-1" align="left">
                                <button type="button" title="Download [2021-2022] Audit">[2021-2022]</button>
                            </div>
                        </div>
                        {#<br>#}
                    {% endfor %}
                </div>
            {% endif %}
            {% if usermanage %}
            {#User start/end date as table#}
            {% set auditYearRangeArr = vacreq_util.getAuditYearRange() %}
            <div class="well" align="justify">
                <strong>Submitter(s)</strong>
                <br>
                Note: The latest employment start and end dates are used in the calculation of accrued and remaining vacation days.
                <br>
                <table class="records_list table table-hover table-condensed text-left table-bordered">
                    <thead>
                    <tr>
                        <th>Submitter</th>
                        <th>Latest Employment Start Date</th>
                        <th>Latest Employment End Date</th>
                        <th>Save Dates</th>
                        <th>Download Audit Summary for {{ auditYearRangeArr[1] }}</th>
                        {#<th>Download [2021-2022] Audit</th>#}
                    </tr>
                    </thead>
                    <tbody id="table-body-submitter">
                        {% for submitter in submitters %}
                            {#TODO: add multiple employment sections#}
                            {% if 0 %}
                                {% set startEndDates = submitter.getEmploymentStartEndDates(false) %}
                                {% set startDate = null %}
                                {% set endDate = null %}
                                {% if startEndDates and startEndDates|length == 2 %}
                                    {% set startDate = startEndDates['startDate'] %}
                                    {% if startDate %}
                                        {% set startDate = startDate|date("m/d/Y",false) %}
                                    {% endif %}
                                    {% set endDate = startEndDates['endDate'] %}
                                    {% if endDate %}
                                        {% set endDate = endDate|date("m/d/Y",false) %}
                                    {% endif %}
                                {% endif %}
                                {#startDate={{ startDate }}, endDate={{ endDate }}<br>#}
                                <tr>
                                    <td>
                                        <a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"
                                        >{{ submitter.getUserNameStr(true) }}</a>
                                    </td>
                                    <td>
                                        {#oleg_userdirectorybundle_user[employmentStatus][0][hireDate]#}
                                        {#Latest Employment Start Date#}
                                        {#startDate={{ startDate }}#}
                                        <div class="input-group input-group-reg date allow-future-date">
                                            <input class="datepicker form-control submit-on-enter-field user-start-date vacreq_start_date_{{ submitter.id }}"
                                                   placeholder="Latest Employment Start Date" type="text"
                                                   value="{{ startDate }}"
                                            >
                                            <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td>
                                        {#oleg_userdirectorybundle_user[employmentStatus][0][terminationDate]#}
                                        {#Latest Employment End Date#}
                                        {#endDate={{ endDate }}#}
                                        <div class="input-group input-group-reg date allow-future-date">
                                            <input class="datepicker form-control submit-on-enter-field user-end-date vacreq_end_date_{{ submitter.id }}"
                                                   placeholder="Latest Employment End Date" type="text"
                                                   value="{{ endDate }}"
                                            >
                                            <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-default save-dates-btn"
                                                type="button"
                                                disabled
                                                onclick="vacreqUpdateUserStartEndDate({{ submitter.id }},this)"
                                        >Save</button>
                                    </td>
                                    <td>
                                        {#Download Audit Summary#}
                                        <a class="btn btn-default"
                                           title="Downlaod audit summary for {{ auditYearRangeArr[1] }} for {{ submitter.getUserNameStr() }}"
                                            href="{{ path(vacreq_sitename~'_download_summary_report_multiple_years_spreadsheet',
                                            { 'userId': submitter.id }) }}">Download</a>
                                    </td>
                                </tr>
                            {% endif %}

                            {#Mutliple employments dates#}
                            {% if 1 %}
                                {% set employmentStartEndDates = submitter.getAllEmploymentStartEndDates(false) %}
                                {% set rowspan = 1 %}
                                {% if employmentStartEndDates|length > 1 %}
                                    {% set rowspan = employmentStartEndDates|length %}
                                {% endif %}
                                rowspan={{ rowspan }}<br>
                                <tr>
                                <td rowspan="{{ rowspan }}">
                                    {% set eploymentInfo = '' %}
                                    {#{% if employmentData['effort'] or employmentData['group'] %}#}
                                        {#{% if employmentData['effort'] %}#}
                                            {#{% set eploymentInfo = eploymentInfo ~ 'effort-' ~ employmentData['effort'] ~ '%' %}#}
                                        {#{% endif %}#}
                                        {#{% if employmentData['group'] %}#}
                                            {#{% set eploymentInfo = eploymentInfo ~ ", group-'" ~ employmentData['group'] ~ "'" %}#}
                                        {#{% endif %}#}
                                        {#{% set eploymentInfo = ' (' ~ eploymentInfo ~ ')' %}#}
                                    {#{% endif %}#}
                                    <a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"
                                    >{{ submitter.getUserNameStr(true) ~ eploymentInfo }}</a>

                                    {#{% if startEndDates['effort'] or startEndDates['group'] %}#}
                                    {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"#}
                                    {#>{{ submitter.getUserNameStr(true) }}#}
                                    {#(#}
                                    {#ignore: {{ startEndDates['ignore'] }},#}
                                    {#effort: {{ startEndDates['effort'] }}%,#}
                                    {#group: {{ startEndDates['group'] }}#}
                                    {#)</a>#}
                                    {#{% else %}#}
                                    {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"#}
                                    {#>{{ submitter.getUserNameStr(true) }}</a>#}
                                    {#{% endif %}#}
                                </td>

                                {% for employmentData in employmentStartEndDates %}
                                    {% set startDate = null %}
                                    {% set endDate = null %}
                                    {% if employmentData %}
                                        {% set startDate = employmentData['startDate'] %}
                                        {% if startDate %}
                                            {% set startDate = startDate|date("m/d/Y",false) %}
                                            {#Set startDate={{ startDate }}<br>#}
                                        {% endif %}
                                        {% set endDate = employmentData['endDate'] %}
                                        {% if endDate %}
                                            {% set endDate = endDate|date("m/d/Y",false) %}
                                        {% endif %}
                                    {% endif %}
                                    {#EmplStatus ID={{ employmentData['id'] }}, startDate={{ startDate }}, endDate={{ endDate }}<br>#}
                                    {#<tr>#}
                                        {#<td rowspan="{{ rowspan }}">#}
                                            {#{% set eploymentInfo = '' %}#}
                                            {#{% if employmentData['effort'] or employmentData['group'] %}#}
                                                {#{% if employmentData['effort'] %}#}
                                                    {#{% set eploymentInfo = eploymentInfo ~ 'effort-' ~ employmentData['effort'] ~ '%' %}#}
                                                {#{% endif %}#}
                                                {#{% if employmentData['group'] %}#}
                                                    {#{% set eploymentInfo = eploymentInfo ~ ", group-'" ~ employmentData['group'] ~ "'" %}#}
                                                {#{% endif %}#}
                                                {#{% set eploymentInfo = ' (' ~ eploymentInfo ~ ')' %}#}
                                            {#{% endif %}#}
                                            {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"#}
                                            {#>{{ submitter.getUserNameStr(true) ~ eploymentInfo }}</a>#}

                                            {#{% if startEndDates['effort'] or startEndDates['group'] %}#}
                                                {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"#}
                                                {#>{{ submitter.getUserNameStr(true) }}#}
                                                {#(#}
                                                    {#ignore: {{ startEndDates['ignore'] }},#}
                                                    {#effort: {{ startEndDates['effort'] }}%,#}
                                                    {#group: {{ startEndDates['group'] }}#}
                                                {#)</a>#}
                                            {#{% else %}#}
                                                {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': submitter.id }) }}"#}
                                                {#>{{ submitter.getUserNameStr(true) }}</a>#}
                                            {#{% endif %}#}
                                        {#</td>#}
                                        <td rowspan="1">
                                            {#oleg_userdirectorybundle_user[employmentStatus][0][hireDate]#}
                                            {#Latest Employment Start Date#}
                                            {#startDate={{ startDate }}#}
                                            <div class="input-group input-group-reg date allow-future-date">
                                                <input class="datepicker form-control submit-on-enter-field user-start-date vacreq_start_date_{{ submitter.id }}_{{ employmentData['id'] }}"
                                                       placeholder="Latest Employment Start Date" type="text"
                                                       value="{{ startDate }}"
                                                >
                                                <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </td>
                                        <td rowspan="1">
                                            {#oleg_userdirectorybundle_user[employmentStatus][0][terminationDate]#}
                                            {#Latest Employment End Date#}
                                            {#endDate={{ endDate }}#}
                                            <div class="input-group input-group-reg date allow-future-date">
                                                <input class="datepicker form-control submit-on-enter-field user-end-date vacreq_end_date_{{ submitter.id }}_{{ employmentData['id'] }}"
                                                       placeholder="Latest Employment End Date" type="text"
                                                       value="{{ endDate }}"
                                                >
                                                <span class="input-group-addon calendar-icon-button"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </td>
                                        <td rowspan="1">
                                            <button class="btn btn-default save-dates-btn"
                                                    type="button"
                                                    disabled
                                                    onclick="vacreqUpdateUserStartEndDate({{ submitter.id }}, {{ employmentData['id'] }}, this)"
                                            >Save</button>
                                        </td>
                                        <td rowspan="1">
                                            {#Download Audit Summary#}
                                            <a class="btn btn-default"
                                               title="Downlaod audit summary for {{ auditYearRangeArr[1] }} for {{ submitter.getUserNameStr() }}"
                                               href="{{ path(vacreq_sitename~'_download_summary_report_multiple_years_spreadsheet',
                                               { 'userId': submitter.id }) }}">Download</a>
                                        </td>
                                    {#</tr>#}
                                {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}


            <div class="well" align="justify">
                <strong>Proxy Submitter(s)</strong>
                <br>
                {% for proxySubmitter in proxySubmitters %}
                    <a href="{{ path(vacreq_sitename~'_showuser', { 'id': proxySubmitter.id }) }}">{{ proxySubmitter.getUserNameStr(true) }}</a>
                    <br>
                {% endfor %}
            </div>

            {#Proxy Submitter#}
            {% if settings is defined and settings %}
                {#<div class="well" align="justify">#}
                    {#<strong>Proxy Submitter(s)</strong>#}
                    {#<br>#}
                    {#{% for proxySubmitterUser in settings.getProxySubmitterUsers %}#}
                        {#<a href="{{ path(vacreq_sitename~'_showuser', { 'id': proxySubmitterUser.id }) }}">{{ proxySubmitterUser.getUserNameStr(true) }}</a>#}
                        {#<br>#}
                        {#{% set singleEmail = user.getSingleEmail %}#}
                        {#{% if singleEmail %}#}
                            {#<a href="mailto:{{ singleEmail }}" target="_top">{{ user.getDisplayName() }} {{ singleEmail }}</a><br>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</div>#}

                <div class="well" align="justify">
                    <strong>Default Individuals to Inform</strong>
                    <br>
                    {% for defaultInformUser in settings.getDefaultInformUsers %}
                        <a href="{{ path(vacreq_sitename~'_showuser', { 'id': defaultInformUser.id }) }}">{{ defaultInformUser.getUserNameStr(true) }}</a>
                        <br>
                        {#{% set singleEmail = user.getSingleEmail %}#}
                        {#{% if singleEmail %}#}
                            {#<a href="mailto:{{ singleEmail }}" target="_top">{{ user.getDisplayName() }} {{ singleEmail }}</a><br>#}
                        {#{% endif %}#}
                    {% endfor %}
                </div>

                <div class="well" align="justify">
                    <strong>Confirmation Emails(s)</strong>
                    <br>
                    {% for user in settings.emailUsers %}
                        {% set singleEmail = user.getSingleEmail %}
                        {% if singleEmail %}
                            <a href="mailto:{{ singleEmail }}" target="_top">{{ user.getDisplayName() }} {{ singleEmail }}</a><br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}


        </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->
</div> <!-- panel panel-info -->



