{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

{% import "AppFellAppBundle/SiteParameter/fellappsettingsmacros.html.twig" as fellappsettingsmacros %}

<input type="hidden" id="formcycle" value="{{ cycle }}" />

{#<div class="well">#}
{#show#}

{{ fellappsettingsmacros.siteSettingsForm(entity,form,cycle) }}

{#{% if 0 %}#}
{#{{ form_start(form) }}#}

    {#{{ form_errors(form) }}#}

    {# Defaults #}
    {#<div class="panel panel-primary">#}
        {#<div class="panel-heading">#}
            {#<h4 class="panel-title">#}
                {#<a data-toggle="collapse" href="#fellapp-Defaults">#}
                    {#E-mail Notifications and Other Fellowship Settings#}
                {#</a>#}
            {#</h4>#}
        {#</div>#}
        {#<div id="fellapp-Defaults" class="panel-collapse collapse in">#}
            {#<div class="panel-body">#}

                {#<p>#}
                    {#Please use naming notation:#}
                    {#<br>[[APPLICANT NAME]] - applicant name#}
                    {#<br>[[START YEAR]] - start year of the training period#}
                    {#<br>[[FELLOWSHIP TYPE]] - fellowship application type#}
                    {#<br>[[INSTITUTION]] - application institution#}
                    {#<br>[[DIRECTOR]] - program director#}
                {#</p>#}

                {#{{ formmacros.field(form.acceptedEmailSubject) }}#}

                {#{{ formmacros.field(form.acceptedEmailBody) }}#}

                {#{{ formmacros.field(form.rejectedEmailSubject) }}#}

                {#{{ formmacros.field(form.rejectedEmailBody) }}#}

                {#{% if form.fellappAcademicYearStart is defined %}#}
                    {#{{ formmacros.dayMonthDate(form.fellappAcademicYearStart,cycle) }}#}
                {#{% endif %}#}

                {#{% if form.fellappAcademicYearEnd is defined %}#}
                    {#{{ formmacros.dayMonthDate(form.fellappAcademicYearEnd,cycle) }}#}
                {#{% endif %}#}

        {#</div> <!-- panel-body -->#}
      {#</div> <!-- panel-collapse -->#}
    {#</div> <!-- panel panel-primary -->#}
    {# EOF Entry #}


    {#Fellowship Installation#}
    {#<div class="panel panel-primary">#}
        {#<div class="panel-heading">#}
            {#<h4 class="panel-title">#}
                {#<a data-toggle="collapse" href="#fellapp-install">#}
                    {#Parameters for Google Sites Integration#}
                {#</a>#}
            {#</h4>#}
        {#</div>#}
        {#<div id="fellapp-install" class="panel-collapse collapse in">#}
            {#<div class="panel-body">#}

                {#{% set updateApplicationBackupDate = fellapp_util.getUpdateDateGoogleDriveFile('felBackupTemplateFileId') %}#}
                {#{% set updateRecletBackupDate = fellapp_util.getUpdateDateGoogleDriveFile('recBackupTemplateFileId') %}#}
                {#{% if updateApplicationBackupDate or updateRecletBackupDate %}#}
                    {#<div class="well">#}
                        {#{% if updateApplicationBackupDate %}#}
                            {#<p>#}
                                {#Fellowship Application SpreadSheet Backup Last Modified Date:#}
                                {#{{ updateApplicationBackupDate|date('m/d/Y H:i') }}#}
                            {#</p>#}
                        {#{% endif %}#}
                        {#{% if updateRecletBackupDate %}#}
                            {#<p>#}
                                {#Recommendation Letter Submission SpreadSheet Backup Last Modified Date:#}
                                {#{{ updateRecletBackupDate|date('m/d/Y H:i') }}#}
                            {#</p>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#{% endif %}#}

                {#fields#}
                {#{{ formmacros.field(form.fellappRecLetterUrl) }}#}
                {#{{ formmacros.field(form.confirmationEmailFellApp) }}#}
                {#{{ formmacros.field(form.applicationPageLinkFellApp) }}#}
                {#{{ formmacros.field(form.authPathFellApp) }}#}
                {#{{ formmacros.field(form.googleDriveApiUrlFellApp) }}#}
                {#{{ formmacros.field(form.localInstitutionFellApp) }}#}
                {#{{ formmacros.field(form.identificationUploadLetterFellApp) }}#}
                {#{{ formmacros.field(form.recLetterSaltFellApp) }}#}

                {#{{ formmacros.field(form.allowPopulateFellApp) }}#}
                {#{{ formmacros.field(form.sendEmailUploadLetterFellApp) }}#}

                {#{{ formmacros.field(form.confirmationSubjectFellApp) }}#}
                {#{{ formmacros.field(form.confirmationBodyFellApp) }}#}

                {#{{ formmacros.field(form.deleteImportedAplicationsFellApp) }}#}
                {#{{ formmacros.field(form.deleteOldAplicationsFellApp) }}#}

                {#{{ formmacros.field(form.yearsOldAplicationsFellApp) }}#}

                {#{% set uploadPath = user_security_utility.getUploadPath() %}#}
                {#<div class="well">#}
                {#Resulting Path: {{ uploadPath ~ 'Uploaded\\' ~ entity.spreadsheetsPathFellApp }}#}
                {#{{ formmacros.field(form.spreadsheetsPathFellApp) }}#}
                {#</div>#}

                {#<div class="well">#}
                {#Resulting Path: {{ uploadPath ~ 'Uploaded\\' ~  entity.applicantsUploadPathFellApp }}#}
                {#{{ formmacros.field(form.applicantsUploadPathFellApp) }}#}
                {#</div>#}

                {#<div class="well">#}
                {#Resulting Path: {{ uploadPath ~ 'Uploaded\\' ~ entity.reportsUploadPathFellApp }}#}
                {#{{ formmacros.field(form.reportsUploadPathFellApp) }}#}
                {#</div>#}

            {#</div> <!-- panel-body -->#}
        {#</div> <!-- panel-collapse -->#}
    {#</div> <!-- panel panel-primary -->#}


{#{{ form_end(form) }}#}
{#{% endif %}#}

{% if cycle == "show" %}
    <p>
        <a class="btn btn-primary" href="{{ path('fellapp_siteparameters_edit_specific_site_parameters') }}">Edit</a>
    </p>
{% endif %}

{#</div>#}