{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

<!DOCTYPE HTML>
<html
      xmlns:o='urn:schemas-microsoft-com:office:office'
      xmlns:w='urn:schemas-microsoft-com:office:word'
      xmlns='http://www.w3.org/TR/REC-html40'>

<head>
    <title>Interviewee summaries as an editable document</title>

    {#<xml>#}
        {#<w:worddocument xmlns:w="#unknown">#}
            {#<w:view>Print</w:view>#}
            {#<w:zoom>90</w:zoom>#}
            {#<w:donotoptimizeforbrowser />#}
        {#</w:worddocument>#}
    {#</xml>#}

    <style><!--
        @page
        {
            size:21cm 29.7cmt;  /* A4 */
            margin:1cm 1cm 1cm 1cm; /* Margins: 2.5 cm on each side */
            mso-page-orientation: portrait;
        }
        @page Section1 { }
        div.Section1 { page:Section1; }
    --></style>

    {#{% stylesheets#}
    {#'/bundles/appuserdirectory/bootstrap/css/*'#}
    {#'/bundles/appuserdirectory/form/css/form.css'#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/appuserdirectory/bootstrap/css/*') }}" />#}
    {#<link href="{{ asset( '../../Resources/bootstrap/css/*' ) }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ asset( '../src/App/UserdirectoryBundle/Resources/public/form/css/form.css' ) }}" rel="stylesheet" type="text/css" />#}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>



<body>



{% import "AppFellAppBundle/Default/fellappmacros.html.twig" as fellappmacros %}

<div class=Section1>

{% for entity in entities %}

    <div style="page-break-before:always">&nbsp;</div>

    <div class="text-left col-xs-12">

        <h4>
            {{ fellappmacros.applicantInterviewsInfo(entity,true) }}
        </h4>

        {{ fellappmacros.interviewsDetails(entity,false) }}

    </div>

    <div style="page-break-after:always">&nbsp;</div>
    {#<br clear=all style='mso-special-character:line-break;page-break-before:always'>#}

{% endfor %}

</div>



</body>
</html>

