{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppFellAppBundle/Default/base.html.twig" %}

{% block header %}
    {#no navbar#}
{% endblock %}

{% import "AppFellAppBundle/Default/fellappmacros.html.twig" as fellappmacros %}

{% block title %}
    Interview Selector for Fellowship Application {{ fellapp.id }}
{% endblock %}


{% block content %}

    <br>

    <h4 class="text-info" align="center">
        <div>
            Fellowship Application ID {{ fellapp.id }}
        </div>
    </h4>

    {#applicant's snapshot#}
    {{ fellappmacros.snapshot(fellapp,sitename,cycle) }}
    <br>
    <br>

    <p>
        {% if interviews|length > 0 %}
            You are allowed to access the following evaluation forms:
        {% else %}
            No evaluation forms are found.
        {% endif %}
    </p>

    {% for interview in interviews %}

        {#Indicate if form has been already filled out#}
        {#{% if interview.isEmpty() %}#}
            {#{% set formStatus = "" %}#}
        {#{% else %}#}
            {#{% set formStatus = " (Not empty)" %}#}
        {#{% endif %}#}

        <p>
            {{ interview.formStatus()|raw }}
            {% if cycle == "edit" %}
                <a target="_blank" href="{{ path('fellapp_interview_edit',{'id':interview.id}) }}">The ONLINE EVALUATION FORM for {{ interview.getInterviewerInfo() }}</a>
            {% else %}
                <a target="_blank" href="{{ path('fellapp_interview_show',{'id':interview.id}) }}">The ONLINE EVALUATION FORM for {{ interview.getInterviewerInfo() }}</a>
            {% endif %}
        </p>
    {% endfor %}


{% endblock %}










