{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{{ usermacros.nonLiveSiteWarning() }}
{{ usermacros.browserCheck() }}

    {% if logo is defined and logo %}
        <br>
        <br>
        <p>
            <img src="{{ asset(logo) }}" alt="{{ title }}" height="{{ logoHeight }}" width="{{ logoWidth }}">
        </p>
    {% else %}
        <h2 class="alert alert-info well-lg safary-fix" align="center">
            {{ title }}
        </h2>
    {% endif %}

    {#<h2 class="alert alert-info well-lg safary-fix" align="center">#}
        {#{{ title }}#}
    {#</h2>#}

    {% if messageToUsers is defined and messageToUsers %}
        <h5 class="alert alert-danger well-lg safary-fix" align="center">
            {{ messageToUsers|raw }}
        </h5>
    {% endif %}

    {% if globalNoteOnAllLoginPage is defined and globalNoteOnAllLoginPage %}
        <h5 class="alert alert-danger well-lg safary-fix" align="center">
            {{ globalNoteOnAllLoginPage|raw }}
        </h5>
    {% endif %}

<br>

{% for flashMessage in app.flashes('notice') %}
    <div class="flash-notice" align="center">
        {{ flashMessage|raw }}
    </div>
{% endfor %}

{% for flashMessage in app.flashes('warning') %}
    <div style="height: 1%;">&nbsp;</div>
    <p class="alert alert-danger center-block" align="middle" style="width: 70%;">{{ flashMessage|raw }}</p>
{% endfor %}

{% for flashMessage in app.flashes('pnotify') %}
    <input type="hidden" id="pnotify-notice" value="{{ flashMessage|raw }}" />
{% endfor %}
{% for flashMessage in app.flashes('pnotify-error') %}
    <input type="hidden" id="pnotify-notice" class="pnotify-notice-error" value="{{ flashMessage|raw }}" />
{% endfor %}
{% for flashMessage in app.flashes('pnotify-success') %}
    <input type="hidden" id="pnotify-notice" class="pnotify-notice-success" value="{{ flashMessage|raw }}" />
{% endfor %}


{% if error is not defined %}
    {% set error = '' %}
{% endif %}

{% if last_username is not defined %}
    {% set last_username = '' %}
{% endif %}

{% if error %} 
    <p class="alert alert-danger" align="middle">
        {#{{ error }}<br>#}
        There was an error with your User Name/Password combination. Please try again.
        {#Warning!<br><br>#}
        {#The site is experiencing technical difficulties with CWID authentication.#}
        {#<br><br>#}
        {#Please try to login later.#}
    </p>
{% endif %}


<input type="hidden" name="display_height" id="display_height" value="" />
<input type="hidden" name="display_width" id="display_width" value="" />
<input type="hidden" name="sitename" id="sitename" value={{ sitename }} />
<input type="hidden" name="lastRoute" id="lastRoute" value={{ lastRoute }} />
<input type="hidden" name="samlenabled" id="samlenabled" value={{ samlenabled }} />

{% if user_security_utility.allowSiteLogin(sitename) %}


    {#working#}
    <form id="login-form" class="form-signin" method="post">
    {#testing#}
    {#<form action="{{ path('employees_login_check_custom') }}" method="post" class="form-signin">#}
    {#<form id="login-form2" class="form-signin" action="{{ path('employees_login_check2') }}" method="post">#}
    {#<form id="login-form" class="form-signin" action="{{ path(sitename~'_login') }}" method="post">#}
    {#<form id="login-form" class="form-signin" action="{{ path('employees_login_check') }}" method="post">#}

        <div class="row">
        <div class="col-xs-12">

            <p>
                {#usernametype#}
                <select id="usernametypeid_show" class="combobox limit-font-size" name="_usernametype">
                    {% for  usernametype in usernametypes %}
                        {% if user_type is defined and usernametype.name == user_type %}
                            {% set selected = 'selected="selected"' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ usernametype.abbreviation }}" {{ selected }}>{{ usernametype.name }}</option>
                    {% endfor %}
                </select>

                {#display username field and hidden real fields using by security#}
                <input type="text"
                       id="username"
                       name="_username"
                       value="{{ last_username }}"
                       class="form-control limit-font-size"
                       placeholder="Username Hidden" style="display:none;">

                <input type="text"
                       id="display-username"
                       name="_display-username"
                       value="{{ last_username }}"
                       class="form-control limit-font-size"
                       placeholder="Username" style="{{ inputStyle }}">

                <input type="password"
                       id="password"
                       name="_password"
                       class="form-control limit-font-size"
                       placeholder="Password" style="{{ inputStyle }}">

                {#<input type="checkbox" id="remember_me" name="_remember_me" checked />#}
                {#<label for="remember_me">Keep me logged in</label>#}

            </p>

        </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_sitename" id="sitename" value="{{ sitename }}" />

        <div id="message" type="hidden"></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" >Log In</button>
        {#<input type="submit" name="login" value="Login">#}
        {#<input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">#}

        {#<button class="btn btn-lg btn-primary" type="submit">#}
            {#Sign in#}
        {#</button>#}

    </form>

    <div class="text-center">

        <br><br>
        <div id="login-instruction">
        <p>
            {% set loginInstruction = user_security_utility.getSiteSettingParameter('loginInstruction') %}
            {% if loginInstruction and loginInstruction != -1 %}
                {{ loginInstruction|raw }}
            {% else %}
                Please use your
                <a href="https://its.weill.cornell.edu/services/accounts-and-access/center-wide-id">CWID</a>
                {% if title == "Scan Orders" %}
                    or your
                    <a href="http://c.med.cornell.edu/">External Authentication</a> account
                {% endif %}
                to log in.
            {% endif %}
        </p>
        </div>

        {% if user_security_utility.isSelfSignUp(sitename) %}
            <p>
                {% set noticeSignUpNoCwid = user_security_utility.getSiteSettingParameter("noticeSignUpNoCwid") %}
                <a href="{{ path(sitename~'_signup_new') }}">{{ noticeSignUpNoCwid|raw }}</a> | <a href="{{ path(sitename~'_forgot_password') }}">Forgot Password</a>
            </p>
        {% else %}
            <p>
                <a href="{{ path(sitename~'_accountrequest_new') }}">Request a new account</a> if you can't log in.
            </p>
        {% endif %}

    </div>
{% else %}
    <p>
        This site is being prepared for go-live. Please return once it launches.
    </p>
{% endif %}

<script language="Javascript">
    <!--
        //console.log("width="+screen.width+"x"+screen.height);
        document.getElementById("display_height").value = screen.height;
        document.getElementById("display_width").value = screen.width;
    //-->
</script>