{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% form_theme form 'OlegOrderformBundle:Default:fields.html.twig' %}

{#{% form_theme form 'OlegOrderformBundle:Default:forms.html.twig' %}#}

{% block content %} 
    
{% stylesheets '@OlegOrderformBundle/Resources/public/form/css/new_form.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %} 

{#    <h3>One Slide</h3>#}
   
    <form class="form-horizontal" action="{{ path('slide_create') }}" method="post" {{ form_enctype(form) }}>
        
    <div class="slide_new"> 
        {{ form_errors(form.id) }}
        {{ form_errors(form.accession) }}
        {{ form_errors(form.part) }}
        {{ form_errors(form.block) }}
        {{ form_errors(form.stain) }}  
{#        {{ form_errors(form.scan) }}#}
        {{ form_errors(form.diagnosis) }}
        {{ form_errors(form) }}
        
{#        {{ form_errors(part_form.name) }}#}
{#        {{ form_errors(part_form) }}#}
{#        {{ form_errors(block_form.name) }}#}
{#        {{ form_errors(block_form) }}#}

        {{ form_widget(form.id) }}             
               
       
        {{ form_label(form.accession, '* Accession + Part + Block (i.e. S12-99998 B1)') }} 
        {{ form_widget(form.accession) }}     

        
        {{ form_widget(form.part.name) }} 
        
{#        {{ form_widget(part_form.name) }}#}
        
        {{ form_widget(form.block) }}
        
{#        {{ form_widget(block_form.name) }}#}

        
        <div id="stain_label_div">
        {{ form_label(form.stain) }}
        </div>
        {{ form_widget(form.stain) }} 
        
{#        {{ form_label(form.scan.mag) }}#}
{#        {{ form_widget(form.scan.mag) }}       #}
        
        {{ form_label(form.diagnosis) }}
        {{ form_widget(form.diagnosis) }}  
       
        <div class="btn_margin_top">
            <input type='button' id='next' value='Next' class="btn btn-primary btn-success">       
        </div>
        <a class='btn_margin_top btn btn-primary' href="{{ path('slide') }}">Back to the list</a>
    
    </div>        
    <div class="slide_new">  
                
        <div id="orderinfo">
                       
            <h4>Slide Submit Form</h4>
            
{#            {{ form_errors(form.orderinfo) }}           #}
{#            {{ form_label(form.orderinfo) }}#}
{#            {{ form_widget(form.orderinfo) }}#}
                   
            <p>
                <button class="btn_margin_top btn btn-primary btn-success" type="submit">Submit</button>        
            </p>
            
        </div>    
        
    </div>
        
    <div class="slide_new">  
        
        <a id="optional_button" class="btn btn-mini" href="#">options</a>
        
        <div id="optional">
               
            <h4>Optional Parameters for Part</h4>
            {{ form_rest(form.part) }}
            
{#            <h4>Optional Parameters for Block</h4>#}
            {{ form_rest(form.block) }} 
            
{#            <h4>Optional Parameters for Accession</h4>#}
            {{ form_rest(form.block) }} 
            
            <h4>Optional Parameters for Slide</h4>                
            {{ form_rest(form) }}   
            
            
            
{#            <h4>Optional Parameters for Block</h4>#}
{#            {{ form_rest(block_form) }} #}
            
        </div>    
        
    </div>
   
    </form>

{% endblock content %}