
<script type="text/javascript">
    //var fos_comment_thread_container = $('.fos_comment_thread');

    $(document).ready(function() {

        //console.log('fos comment js');
        //var textCommentElement = document.getElementById('foscomment_new_comment');
        //resetCursor(textCommentElement);

        //document.querySelector("textarea").focus(); //set the focus - cursor at end
        //document.querySelector("textarea").setSelectionRange(0,0); // place cursor at start

        //$('textarea[name="foscomment_new_comment"]').focus().setSelectionRange(0,0);
        //var textCommentElement = $('#foscomment_new_comment');
        var textCommentElement = document.getElementById('foscomment_new_comment');
        if( textCommentElement ) {
            resetCursor(textCommentElement);
        }
    });
    function resetCursor(txtElement) {
        console.log('resetCursor');
        if( !txtElement ) {
            console.log('resetCursor exit');
            return;
        }
        if (txtElement.setSelectionRange) {
            console.log('resetCursor 1');
            txtElement.focus();
            txtElement.setSelectionRange(0, 0);
        } else if (txtElement.createTextRange) {
            console.log('resetCursor 2');
            var range = txtElement.createTextRange();
            range.moveStart('character', 0);
            range.select();
        }
    }
</script>

{#{% if fos_comment_can_comment_thread(thread) %}#}
    {#{{ render(url('fos_comment_new_thread_comments', {"id": thread.id})) }}#}
{#{% endif %}#}

{#newComment={{ newComment }}<br>#}
{% if newComment is not defined %}
    {% set newComment = true %}
{% endif %}

{% if newComment %}
    <div id="fos_comment_thread"
         data-thread="{{ threadId }}"
            {#data-parent="{{ parent }}"#}
    ></div>

    {#placeholder="Type your comment here..."#}
    <p>
        <div class="fos_comment_comment_new_form">
            <h4>Add New Comment</h4>
            <div class="row">
                <div class="col-xs-12" align="left">
                                <textarea
                                        id="foscomment_new_comment"
                                        class="textarea form-control"
                                        name="foscomment_new_comment"
                                        placeholder="Type your comment here..."
                                        {#style="align-content:center; overflow:auto; border:6px outset #000000;"#}
                                >
                                </textarea>
                </div>
            </div>
            <div class="fos_comment_submit">
                <input
                        class="btn btn-default fos_comment_submit_btn"
                        id="fos_comment_submit_btn_oleg"
                        style=""
                        type="submit"
                        onclick="foscommentNewComment()"
                        value="Add Comment Without Changing Status">
            </div>
        </div>
    </p>
{% endif %}

<div class="well well-sm">

    {#<br>#}
    <div id="foscomment-comments">
        {% for comment in comments %}
            <p>{{ comment.getCommentShort()|raw }}</p>
        {% endfor %}

        {% if comments|length == 0 %}
            <div id="no-comment-msg">
                <h3>No comments</h3>
            </div>
        {% endif %}

    </div>
</div>

