
{% extends "OlegUserdirectoryBundle::Profile/edit_user.html.twig" %}

{% block header %}
    {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}
{% endblock %}

{% block addcontent %}

    {% if cicle == "show_user" %}
        {% set collapsein = "" %}
    {% else %}
        {% set collapsein = "in" %}
    {% endif %}

    {#Per Site User Settings by User#}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#persiteusersettings">
                    Per Site User Settings Editable by User {{ entity.getUserNameShortStr() }} - User ID {{ entity.id }}
                </a>
            </h4>
        </div>
        <div id="persiteusersettings" class="panel-collapse collapse {{ collapsein }}">
            <div class="panel-body">

                <div class="user-collection-holder">
                    {{ formmacros.field(form_scansettings.defaultInstitution) }}
                    {{ formmacros.field(form_scansettings.defaultDepartment) }}
                    {{ formmacros.field(form_scansettings.defaultDivision) }}
                    {{ formmacros.field(form_scansettings.defaultService) }}
                </div>

                {{ formmacros.checkbox(form_scansettings.tooltip) }}

            </div>
        </div>
    </div>

    {% if is_granted('ROLE_SCANORDER_ADMIN') %}
        {#Per Site User Settings by Admin#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#persiteadminsettings">
                        Per Site User Settings Editable by Administrator
                    </a>
                </h4>
            </div>
            <div id="persiteadminsettings" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    {{ formmacros.field(form_scansettings.permittedInstitutionalPHIScope) }}
                    {{ formmacros.field(form_scansettings.scanOrdersServicesScope) }}
                    {{ formmacros.field(form_scansettings.chiefServices) }}

                </div>
            </div>
        </div>
    {% endif %}


    {#Research Projects#}
    {% if projects|length > 0 %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#researchprojects">
                        Research Projects
                    </a>
                </h4>
            </div>
            <div id="researchprojects" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    {% for project in projects %}
                        {{ project }} <br>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}

    {#Educational Courses#}
    {% if courses|length > 0 %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#educationalcourses">
                        Educational Courses
                    </a>
                </h4>
            </div>
            <div id="educationalcourses" class="panel-collapse collapse {{ collapsein }}">
                <div class="panel-body">

                    {% for course in courses %}
                        {{ course }} <br>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}


{% block additionaljs %}

    {#{% javascripts#}
        {#'@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script language="Javascript">
        $(document).ready(function() {
            //set institutional tree
            initTreeSelect();
            initInstitutionManually();
            setInstitutionTreeChildren();
        });
    </script>
{% endblock %}