{% extends "OlegOrderformBundle::Default/base.html.twig" %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

{#<form action="{{ path('user_update',{'id':entity.id}) }}" method="PUT" {{ form_enctype(form) }}>#}
{{ form_start(form) }}

    <input type="hidden" id="user_id" value="{{ user_id }}" />
    <input type="hidden" id="user_name" value="{{ form.vars.value.username }}" />
    <input type="hidden" id="formcicle" value="edit_user" />
    <input type="hidden" id="baseurl" value="{{app.request.uri}}" />

    <h3 class="text-info">User Info</h3>

    {#{{ form_widget(form) }}#}
    {{ form_errors(form) }}

    {{ formmacros.field(form.username) }}
    {{ formmacros.field(form.email) }}
    {{ formmacros.field(form.pathologyServices) }}
    {#{{ formmacros.field(form.defaultPathService) }}#}

    {% if cicle == "show_user" or is_granted('ROLE_ADMIN') %}
        {{ formmacros.field(form.roles) }}
    {% endif %}

    {{ formmacros.field(form.chiefservices) }}

    {{ formmacros.field(form.displayName) }}
    {{ formmacros.field(form.firstName) }}
    {{ formmacros.field(form.lastName) }}
    {{ formmacros.field(form.title) }}
    {{ formmacros.field(form.phone) }}
    {{ formmacros.field(form.fax) }}
    {{ formmacros.field(form.office) }}

    {% if is_granted('ROLE_ADMIN') %}
        {% if app.security.getToken().getUser().getId() != entity.id %}

            {#{{ formmacros.field(form.locked) }}#}
            {#{{ form_widget(form.locked) }}#}
            {#{% form_theme field 'OlegOrderformBundle::Default/collection_widget.html.twig' %}#}
            {#<p>#}
            {#<div class="row">#}
                {#<div class="col-xs-6" align="right">#}
                    {#{{ form_label(form.locked) }}#}
                {#</div>#}
                {#<div class="col-xs-6" align="left" style="width: 50px;">#}
                    {#{{ form_widget(form.locked) }}#}
                {#</div>#}
            {#</div>#}
            {#</p>#}
            {{ formmacros.checkbox(form.locked) }}

        {% else %}
            {% do form.locked.setRendered %}
        {% endif %}
    {% endif %}

    <hr>
    <h3 class="text-info">User Preferences</h3>
    {{ formmacros.field(form.preferences.timezone) }}
    {#{{ formmacros.field(form.preferences.tooltip) }}#}
    {{ formmacros.checkbox(form.preferences.tooltip) }}
    <hr>

    <br>
    {#{{ form_rest(form) }}#}
    {#{{ form_widget(form._token) }}#}

    {#{{ form(form) }}#}

    {% if cicle != "show_user" %}
        <p>
            <div>
                <button class="btn btn-warning" name="btnSubmit" type="submit">Update</button>
                <a class="btn btn-info" href="{{ path('showuser',{id:entity.id}) }}" type='button'>Cancel</a>
            </div>
        </p>
    {% endif %}

{{ form_end(form) }}
{#</form>#}

    {% if cicle == "show_user" %}
        <p><a class="btn btn-success" href="{{ path('user_edit',{'id':entity.id}) }}">Edit</a></p>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <br>
        <p>
            <a href="{{ path('listusers') }}">View the list of all users</a>
        </p>
    {% endif %}

{% endblock %}
