{% extends "OlegOrderformBundle::Default/base.html.twig" %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% block content %}

{#<form action="{{ path('user_update') }}" {{ form_enctype(form) }} method="PUT">#}

    {{ form_start(form) }}

    <input type="hidden" id="user_name" value="{{ form.vars.value.username }}" />

    {#{{ form_widget(form) }}#}
    {{ form_errors(form) }}

    {{ formmacros.field(form.username) }}
    {{ formmacros.field(form.email) }}
    {{ formmacros.field(form.pathologyServices) }}
    {#{{ formmacros.field(form.defaultPathService) }}#}

    {% if is_granted('ROLE_ADMIN') %}
        {{ formmacros.field(form.roles) }}
    {% endif %}

    {{ formmacros.field(form.displayName) }}
    {{ formmacros.field(form.firstName) }}
    {{ formmacros.field(form.lastName) }}
    {{ formmacros.field(form.title) }}
    {{ formmacros.field(form.phone) }}
    {{ formmacros.field(form.fax) }}
    {{ formmacros.field(form.office) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ formmacros.field(form.locked) }}
        {#{{ formmacros.field(form.expired) }}#}
        {{ formmacros.field(form.enabled) }}
    {% endif %}

    <br>
    {#{{ form_rest(form) }}#}
    {{ form_widget(form._token) }}

    {{ form(form) }}

    {{ form_end(form) }}

    {#<p>#}
        {#<div>#}
        {#<input class="btn btn-warning" type="submit" value="Update" />#}
        {#</div>#}
    {#</p>#}

</form>

    {% if cicle == "show" %}
        <p><a class="btn btn-success" href="{{ path('user_edit',{'id':entity.id}) }}">Edit</a></p>
    {% else %}
        <br><p><a class="btn btn-info" href="{{ path('showuser',{id:entity.id}) }}">Cancel</a></p>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <br>
        <p>
            <a href="{{ path('listusers') }}">All Users</a>
        </p>
    {% endif %}

{% endblock %}
