{% extends "OlegOrderformBundle::Default/base.html.twig" %}
{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <form action="{{ path('create_user') }}" {{ form_enctype(form) }} method="POST">

        <input type="hidden" id="user_id" value="" />
        <input type="hidden" id="user_name" value="{{ form.vars.value.username }}" />
        <input type="hidden" id="formcicle" value="edit_user" />
        <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />

        {#{{ form_widget(form) }}#}
        {{ form_errors(form) }}

        {{ formmacros.field(form.username) }}
        {{ formmacros.field(form.password) }}

        {{ formmacros.field(form.email) }}
        {{ formmacros.field(form.pathologyServices) }}
        {#{{ formmacros.field(form.defaultPathService) }}#}

        {% if is_granted('ROLE_ADMIN') %}
            {{ formmacros.field(form.roles) }}
        {% endif %}

        {{ formmacros.field(form.displayName) }}
        {{ formmacros.field(form.firstName) }}
        {{ formmacros.field(form.lastName) }}
        {{ formmacros.field(form.title) }}
        {{ formmacros.field(form.phone) }}
        {{ formmacros.field(form.fax) }}
        {{ formmacros.field(form.office) }}

        {% if is_granted('ROLE_ADMIN') %}
            {% if app.security.getToken().getUser().getId() != entity.id %}

                {#{{ formmacros.field(form.locked) }}#}
                {#{{ form_widget(form.locked) }}#}
                {#{% form_theme field 'OlegOrderformBundle::Default/collection_widget.html.twig' %}#}
                <p>
                <div class="row">
                    <div class="col-xs-6" align="right">
                        {{ form_label(form.locked) }}
                    </div>
                    <div class="col-xs-6" align="left" style="width: auto;">
                        {{ form_widget(form.locked) }}
                    </div>
                </div>
                </p>

            {% else %}
                {% do form.locked.setRendered %}
            {% endif %}
        {% endif %}

        <br>
        {{ form_rest(form) }}
        {#{{ form_widget(form._token) }}#}

        {#{{ form(form) }}#}

        {% if cicle != "show_user" %}
            <p>
            <div>
                <button class="btn btn-success" name="btnSubmit" type="submit">Submit</button>
            </div>
            </p>
        {% endif %}

    </form>

{% endblock %}