{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "AppVacReqBundle/Default/vacreqmacros.html.twig" as vacreqmacros %}


{#<h4 class="text-info" align="center">#}
    {#{{ groupName }}#}
{#</h4>#}

{% if submitters|length > 0 %}
    {% set submittersExist = true %}
    {% set collapseClass = 'in' %}
{% else %}
    {% set submittersExist = false %}
    {% set collapseClass = '' %}
{% endif %}

{% if approvalGroupTypeStr is not defined %}
    {% set approvalGroupTypeStr = "" %}
{% endif %}

{% if panelClass is not defined %}
    {% set panelClass = "panel-info" %}
{% endif %}

{% set pendingRequests = vacreq_util.getTotalPendingRequests(app.user,groupId) %}
{% set inaccuracyMessage = vacreq_util.getInaccuracyMessage() %}

<p>
<div class="panel {{ panelClass }}">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#vacreq-my-single-group-{{ groupId }}">
                {{ groupName }} {{ approvalGroupTypeStr }}
            </a>
            {% if is_granted('ROLE_VACREQ_APPROVER') or is_granted('ROLE_VACREQ_SUPERVISOR') %}
                {% if pendingRequests is defined and pendingRequests > 0 %}
                    (<a href="{{ path('vacreq_incomingrequests',{'filter[pending]':1,'filter[organizationalInstitutions]':groupId}) }}">Requests Pending Approval: {{ pendingRequests }}</a>)
                {% endif %}
            {% endif %}
        </h4>
    </div>
    <div id="vacreq-my-single-group-{{ groupId }}" class="panel-collapse collapse {{ collapseClass }}">
        <div class="panel-body">

{% if submittersExist %}

    {% if accruedDays %}
        <p>Accrued Vacation Days as of today: {{ accruedDays }}</p>
    {% endif %}

<table class="records_list table table-hover table-condensed text-left table-bordered sortable">

    {#{% set trFontSize = "10px" %}#}
    {#{% set fontWeight = "normal" %}#}

    <thead style="font-size: {{ trFontSize }};">

    <tr>
        <th style="border-bottom:none; text-align:center; vertical-align: top;" rowspan="2">
            Employee
        </th>
    {% for yearRange in yearRanges %}
        {% set backgroundColor = yearRangesColor[loop.index0] %}
            <th style="background-color: {{ backgroundColor }}; text-align: center;"
                colspan="9" align="center">
                {{ yearRange }}
            </th>
    {% endfor %}

        {% if is_granted('ROLE_VACREQ_ADMIN') %}
            <th style="border-bottom:none; text-align:center; vertical-align: top;" rowspan="2">
                Action
            </th>
        {% endif %}
    </tr>

    <tr style="font-size: {{ trFontSize }};">

        {#<th style="border-top:none;">#}
            {#Employee#}
        {#</th>#}

        {% for yearRange in yearRanges %}

            {% set yearRange = null %}

            {% set backgroundColor = yearRangesColor[loop.index0] %}

            {#<tr>#}
                {#{% set backgroundColor = null %}#}
                {#<th style="background-color: {{ backgroundColor }}" colspan="9">#}
                    {#{{ yearRange }}#}
                {#</th>#}
            {#</tr>#}

            {#<th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">#}
                {#{{ yearRange }} Business Travel#}
            {#</th>#}

            {#<th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">#}
                {#{{ yearRange }} Business Travel Days Pending Approval#}
            {#</th>#}

            {##### Vacation #####}
            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};"
                title="Total approved Vacation days"
            >
                {{ yearRange }} Vacation
            </th>

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">
                {{ yearRange }} Vacation Days Pending Approval
            </th>

            {#<th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">#}
                {#{{ yearRange }} Total#}
            {#</th>#}

            {#<th style="background-color: {{ backgroundColor }}">#}
                {#{{ yearRange }} Pending Approval Days#}
            {#</th>#}

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">
                {{ yearRange }} Remaining Vacation Days
            </th>

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">
                {{ yearRange }} Carried Over Vacation Days To Next Year
            </th>

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">
                {{ yearRange }} Carried Over Vacation Days From Previous Year
            </th>

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};"
                title="Total approved Floating days"
            >
                {{ yearRange }} Floating Days
            </th>

            {##### Business Travel #####}
            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};"
                title="Total approved Business Travel days"
            >
                {{ yearRange }} Business Travel
            </th>

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};">
                {{ yearRange }} Business Travel Days Pending Approval
            </th>

            <th style="background-color: {{ backgroundColor }}; font-weight: {{ fontWeight }};"
                title="Total approved days (Vacation + Business)"
            >
                {{ yearRange }} Total approved days
            </th>

        {% endfor %}

        {#{% if is_granted('ROLE_VACREQ_ADMIN') %}#}
        {#<th>#}
            {#Action#}
        {#</th>#}
        {#{% endif %}#}

    </tr>
    </thead>

    <tbody data-link="row" class="rowlink">

    {% for submitter in submitters %}

        {#submitter is a person away#}
        <tr>

            <td>
                {{ vacreqmacros.personAwayInfo(submitter,submitter.getPreferredPhone,vacreq_sitename) }}
            </td>


            {% for yearRange in yearRanges %}

                {#yearRange=2021-2022#}

                {% set backgroundColor = yearRangesColor[loop.index0] %}

                {% set businessDaysRes = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'business',yearRange) %}
                {% set businessDays = businessDaysRes['numberOfDays'] %}
                {% set businessAccurate = businessDaysRes['accurate'] %}
                {% set pendingDaysResB = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'business',yearRange,"pending") %}
                {% set pendingDaysB = pendingDaysResB['numberOfDays'] %}

                {% set vacationDaysRes = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'vacation',yearRange,"approved") %}
                {% set vacationDays = vacationDaysRes['numberOfDays'] %}
                {% set vacationAccurate = vacationDaysRes['accurate'] %}
                {% set pendingDaysResV = vacreq_util.getApprovedTotalDaysAcademicYear(submitter,'vacation',yearRange,"pending") %}
                {% set pendingDaysV = pendingDaysResV['numberOfDays'] %}

                {% set carryOverDaysPrevYear = vacreq_util.getUserCarryOverDays(submitter,yearRange) %}

                {% set nextYear = vacreq_util.getNextAcademicYearRange() %}
                {% set carryOverDaysNextYear = vacreq_util.getUserCarryOverDays(submitter,nextYear) %}

                {#yearRange={{ yearRange }}#}
                {% set floatingDays = vacreq_util.getUserFloatingDay(submitter,yearRange,['pending','approved']) %}

                {#{% set totalRemainingDays = totalAllocatedDays|number_format - vacationDays|number_format %}#}
                {#totalRemainingDays={{ totalRemainingDays }}#}

                {#<td style="background-color: {{ backgroundColor }}">#}
                    {#{{ businessDays }}#}
                    {#{{ vacreqmacros.incomingRequestHref( businessDays, submitter, yearRange, groupId, 1, 'businessRequest', vacreq_sitename ) }}#}
                    {#{% if not businessAccurate %}#}
                        {#<span data-toggle="tooltip" title="{{ inaccuracyMessage }}">*</span>#}
                    {#{% endif %}#}
                {#</td>#}

                {#<td style="background-color: {{ backgroundColor }}">#}
                    {#{{ vacreqmacros.incomingRequestHref( pendingDaysB, submitter, yearRange, groupId, '', 'businessRequest-pending', vacreq_sitename ) }}#}
                {#</td>#}

                {##### Vacation #####}
                <td style="background-color: {{ backgroundColor }}">
                    vacationDays={{ vacationDays }}
                    {{ vacreqmacros.incomingRequestHref( vacationDays, submitter, yearRange, groupId, 1, 'vacationRequest', vacreq_sitename ) }}
                    {% if not vacationAccurate %}
                        <span data-toggle="tooltip" title="{{ inaccuracyMessage }}">*</span>
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ vacreqmacros.incomingRequestHref( pendingDaysV, submitter, yearRange, groupId, '', 'vacationRequest-pending', vacreq_sitename ) }}
                </td>

                {#<td style="background-color: {{ backgroundColor }}">#}
                    {#{{ businessDays + vacationDays }}#}
                    {#{% set totalDays = businessDays + vacationDays %}#}
                    {#{{ vacreqmacros.incomingRequestHref( totalDays, submitter, yearRange, groupId, 1, 'businessRequest-vacationRequest', vacreq_sitename ) }}#}
                    {#{% if not businessAccurate or not vacationAccurate %}#}
                        {#<span data-toggle="tooltip" title="{{ inaccuracyMessage }}">*</span>#}
                    {#{% endif %}#}
                {#</td>#}

                {#pending#}
                {#<td style="background-color: {{ backgroundColor }}">#}
                    {#{% set pendingDays = vacreq_util.getPendingTotalDaysAcademicYear(submitter,yearRange) %}#}
                    {#{{ vacreqmacros.incomingRequestHref( pendingDays, submitter, yearRange, groupId, '', 'pending', vacreq_sitename ) }}#}
                {#</td>#}

                {#Remaining days#}
                <td style="background-color: {{ backgroundColor }}">
                    {#{{ totalRemainingDays }}#}
                    {#{{ (totalAllocatedDays|number_format - vacationDays|number_format + carryOverDaysPrevYear|number_format) }}=>#}
                    {% set carryOverDays = null %}
                    {#{% set totalRemainingDaysRes =#}
                        {#vacreq_util.totalVacationRemainingDays(#}
                            {#submitter,#}
                            {#totalAllocatedDays,#}
                            {#vacationDays,#}
                            {#carryOverDaysNextYear,#}
                            {#carryOverDaysPrevYear,#}
                            {#yearRange#}
                        {#)#}
                    {#%}#}
                    {% set totalRemainingDaysRes =
                        vacreq_util.totalVacationRemainingDays(
                            submitter,
                            null,
                            vacationDays,
                            carryOverDaysNextYear,
                            carryOverDaysPrevYear,
                            yearRange
                        )
                    %}
                    {{ totalRemainingDaysRes['numberOfDays'] }}
                    {% if not totalRemainingDaysRes['accurate'] %}
                        <span data-toggle="tooltip" title="{{ inaccuracyMessage }}">*</span>
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ carryOverDaysNextYear }}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ carryOverDaysPrevYear }}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {% for floatingDay in floatingDays %}
                        {{ floatingDay.printRequestShort() }}
                        {% if not loop.last %}
                            <hr style="margin-top: 5px; margin-bottom: 5px;">
                        {% endif %}
                    {% endfor %}
                </td>

                {##### Business Travel #####}
                <td style="background-color: {{ backgroundColor }}">
                    {#{{ businessDays }}#}
                    {{ vacreqmacros.incomingRequestHref( businessDays, submitter, yearRange, groupId, 1, 'businessRequest', vacreq_sitename ) }}
                    {% if not businessAccurate %}
                        <span data-toggle="tooltip" title="{{ inaccuracyMessage }}">*</span>
                    {% endif %}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {{ vacreqmacros.incomingRequestHref( pendingDaysB, submitter, yearRange, groupId, '', 'businessRequest-pending', vacreq_sitename ) }}
                </td>

                <td style="background-color: {{ backgroundColor }}">
                    {#{{ businessDays + vacationDays }}#}
                    {% set totalDays = businessDays + vacationDays %}
                    {{ vacreqmacros.incomingRequestHref( totalDays, submitter, yearRange, groupId, 1, 'businessRequest-vacationRequest', vacreq_sitename ) }}
                    {% if not businessAccurate or not vacationAccurate %}
                        <span data-toggle="tooltip" title="{{ inaccuracyMessage }}">*</span>
                    {% endif %}
                </td>

            {% endfor %}

            {% if is_granted('ROLE_VACREQ_ADMIN') %}
                <td class="rowlink-skip">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="{{ path(vacreq_sitename~'_carryover', { 'userId': submitter.id }) }}">Manage carry-over days</a>
                            </li>

                            <li>
                                <a href="{{ path(vacreq_sitename~'_download_summary_report_multiple_years_spreadsheet', { 'userId': submitter.id }) }}">Download summary as a spreadsheet</a>
                            </li>
                        </ul>

                    </div>
                </td>
            {% endif %}

        </tr>

    {% endfor %}
    </tbody>

</table>
{% else %}
    No Submitters
{% endif %}

        </div> <!-- panel-body -->
    </div> <!-- panel-collapse -->
</div> <!-- panel panel-info -->
</p>

