{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppVacReqBundle/Default/base.html.twig" %}

{% block title %}
    Summary
{% endblock %}


{% block content %}

    <h4 class="text-info" align="center">
        Summary
        {% if groups and groups|length > 0 %}
            {% set posfix = '' %}
            {% if groups|length > 1 %}
                {% set posfix = 's' %}
            {% endif %}
            ({{ groups|length }} matching group{{ posfix }})
        {% endif %}
    </h4>

    <br><br>
    {{ form_start(filterform) }}
        {{ form_errors(filterform) }}
        <div class="row">
            <div class="col-xs-7" align="right">{{ form_row(filterform.users)}}</div>
            <div class="col-xs-3" align="right">{{ form_row(filterform.types)}}</div>
            <div class="col-xs-2" align="left">{{ form_row(filterform.submit) }}</div>
        </div>
    {{ form_end(filterform) }}
    <br><br>

    <div class="well well-sm">
        Current academic year {{ yearRange }}
        {#Accrued Vacation Days as of today: {{ accruedDays }}#}
    </div>

    {#<br>#}
    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>
    {#<br>#}

    {% for group in groups %}
        {#group.id={{ group.id }}, userids={{ userids }}<br>#}
        {{ render(controller('App\\VacReqBundle\\Controller\\ApproverController::mySingleGroupAction',
            { 'groupId': group.id, 'userids': userids, 'showall': showall }
           ))
        }}
    {% endfor %}


{% endblock %}


{% block additionaljs %}

    {#{% javascripts#}
        {#'@AppUserdirectoryBundle/Resources/public/bootstrap-sortable/js/bootstrap-sortable.js'#}
        {#'@AppUserdirectoryBundle/Resources/public/bootstrap-sortable/js/moment.min.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script type="text/javascript" src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap-sortable/js/bootstrap-sortable.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap-sortable/js/moment.min.js') }}" ></script>

    <script language="Javascript">

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip({html: true});

//            var target = ".datepicker-only-year";
//            var datefilter = $(target).datepicker( {
//                autoclose: true,
//                format: " yyyy",
//                viewMode: "years",
//                minViewMode: "years",
//                orientation: 'auto'
//            });

        });

    </script>

{% endblock %}

{% block additionalcss %}
    {#{% stylesheets#}
        {#'orderassets/appuserdirectory/bootstrap-sortable/css/bootstrap-sortable.css' filter='cssrewrite'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap-sortable/css/bootstrap-sortable.css') }}" />

{% endblock %}

