{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}

{% block header %}

    {% include 'AppUserdirectoryBundle/Default/navbar.html.twig' %}

{% endblock %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}

    <h4 class="text-info" align="center">{{ title }}</h4>

    <div class="well">
    <p>
        Before printing labels, use your browser’s print preview options to set the top print margin to 1/2 inch and all other print margins to 0 (zero).<br>
        Try printing a test page on plain paper first. Hold it up to the light behind a sheet of labels to make sure the label's text line up with the stickers.
    </p>
    </div>

    {% if labelpreview is defined and labelpreview %}
        <p>
        <div class="row">
            <div class="col-xs-6" align="right"><strong>Single Label Preview:</strong></div>
            <div class="col-xs-6">
                {#<div style="float: left; padding-left: 15%;">Label Preview</div><br>#}
                <div id="label-preview" class="previewlabel"></div>
            </div>
            {#<div class="col-xs-4"></div>#}
        </div>
        </p>
    {% endif %}


    {{ form_start(form) }}

        {{ form_errors(form) }}

        {% if form.dotborders is defined %}
            {{ formmacros.checkbox(form.dotborders) }}
        {% endif %}
        {% if form.labelcount is defined %}
            {{ formmacros.field(form.labelcount) }}
        {% endif %}
        {% if form.startrow is defined %}
            {{ formmacros.field(form.startrow) }}
        {% endif %}
        {% if form.endrow is defined %}
            {{ formmacros.field(form.endrow) }}
        {% endif %}
        {% if form.startcolumn is defined %}
            {{ formmacros.field(form.startcolumn) }}
        {% endif %}

        {% if form.userlabel is defined %}
            {{ formmacros.field(form.userlabel) }}
        {% endif %}

        {% if labelpreview is not defined or not labelpreview %}
            <p>
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6" align="left">
                    <button class="btn btn-sm" name="btnClearall" type="button" onclick="clearUsers();">Clear all users</button>
                </div>
            </div>
            </p>
        {% endif %}

        {% if form.users is defined %}
            {{ formmacros.field(form.users) }}
        {% endif %}

        <p>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    {{ form_widget(form.print) }}
                </div>
                <div class="col-xs-4"></div>
            </div>
        </p>

        {#<br><br>#}
        {#<p>#}
            {#{{ form_widget(form.print) }}#}
            {#{{ formmacros.field(form.print) }}#}
        {#</p>#}

    {{ form_end(form) }}

    {#<br><br>#}

    {#<a class="btn btn-info" target="_blank" href="{{ path('employees_user_avery_5160',{id:user_id}) }}" type='button'>Print Internal Mailing Label</a>#}

    {#<p>#}
        {#<button class="btn btn-success" name="btnSubmit" type="submit">Print Internal Mailing Label</button>#}
    {#</p>#}



{% endblock %}


{% block additionaljs %}

    <script>
        $(document).ready(function () {

            if( $("#label-preview") ) {
                var text = $(".textarea").val();
                //console.log("text="+text);
                $("#label-preview").html(text);

                $(".textarea").on('input', function () {
                    var text = $(".textarea").val();
                    console.log("text=" + text);
                    $("#label-preview").html(text);
                });
            }

//            if( $(".clearall") ) {
//                $(".clearall").on('input', function () {
//                    if ($(this).is(':checked')) {
//                        //$(".users").empty();
//                        $(".users").select2('data', null);
//                    }
//                });
//            }

        });

        function clearUsers() {
            if( $(".users") ) {
                console.log('clearUsers');
                //$(".users").empty();
                $(".users").select2('data', null);
            }
        }
    </script>

{% endblock %}

{% block additionalcss %}
    <link href="labels.css" rel="stylesheet" type="text/css" >
    <style>
        .previewlabel{
            /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
            width: 2.625in; /* plus .6 inches from padding */
            height: .995in; /* plus .125 inches from padding */
            padding: .125in .3in 0;
            margin-right: .125in; /* the gutter */

            /*float: left;*/

            text-align: center;
            overflow: hidden;

            outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
    </style>
{% endblock %}

