
{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}
{#{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}#}


{% block title %}
    {{ title|raw }}
{% endblock %}

{% block meta %}
    {#let apiUrl = Routing.generate('translationalresearch_antibodies_api');#}
    {#This url generated with 'http', but the parent url is https. As the result error:#}
    {#AxiosError al%5D='. This request has been blocked; the content must be served over HTTPS#}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
{% endblock %}

{% block content %}
    <h4 class="text-secondary" align="center">
        {{ title }}
        {#(Matching 1258, Total 1361)#}
        {#<div id="matching-info"></div>#}

        {% if matchingAntibodyIdsArr is defined and matchingAntibodyIdsArr|length > 0 %}
            <label
                    for="download-spreadsheet-form-indexpage" tabindex="0"
                    data-toggle="tooltip"
                    title="Export all matching public antibodies to a spreadsheet"
                    style="cursor:pointer"
            >
                <span class="fa fa-file-excel fa-lg" aria-hidden="true"></span>
            </label>
            {#<label#}
                    {#for="download-pdf-form-indexpage" tabindex="0"#}
                    {#data-toggle="tooltip"#}
                    {#title="Export all matching public antibodies to a PDF"#}
                    {#style="cursor:pointer"#}
            {#>#}
                {#<span class="fa fa-file-pdf fa-lg" aria-hidden="true"></span>#}
            {#</label>#}
        {% endif %}
    </h4>

    {% if matchingAntibodyIdsArr is defined and matchingAntibodyIdsArr|length > 0 %}
        <form action="{{ path('translationalresearch_public_download_antibody_spreadsheet') }}" method="post">
            <input type="hidden" name="ids" value="{{ matchingAntibodyIdsArr|join(',') }}">
            <button type="submit"
                    id="download-spreadsheet-form-indexpage"
                    class="btn hidden"
            ></button>
        </form>
        {#<form action="{{ path('translationalresearch_public_download_antibody_pdf') }}" method="post">#}
            {#<input type="hidden" name="ids" value="{{ matchingAntibodyIdsArr|join(',') }}">#}
            {#<button type="submit"#}
                    {#id="download-pdf-form-indexpage"#}
                    {#class="btn hidden"#}
            {#></button>#}
        {#</form>#}
    {% endif %}

    <input type="hidden" id="antibodies-cycle" value="{{ cycle }}" />

    <br>
    <div class="well form-search">
        {{ form_start(filterform) }}

        <div class="input-group mb-3">
            {{ form_widget(filterform.search) }}
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Filter</button>
                <a class="btn btn-outline-secondary" href="{{ path(translationalresearch_sitename~'_antibodies_public_react') }}">Reset Filter</a>
            </div>
        </div>

        <p>
            {#filter[control]=breast+cancer#}
            {#<a href="{{ path(translationalresearch_sitename~'_antibody_filter',{'type':filterTypeUrl}) }}"><span class="badge rounded-pill bg-secondary">Light111</span></a>#}
            {#<a href="#"><span class="badge rounded-pill bg-secondary">Light111</span></a>#}
            {#<a href="#"><span class="badge rounded-pill bg-secondary">Light111</span></a>#}
            {% for tag in tags %}
                {% if tag[1] == 'All' %}
                    <a class="badge rounded-pill bg-secondary"
                       style="text-decoration: none;"
                       href="{{ path(translationalresearch_sitename~'_antibodies_public_react') }}">
                        {{ tag[1] }}
                    </a>
                {% else %}
                    {#{% set filterStr = 'filter['~tag[0]~']' %}#}
                    {#selectedTag={{ selectedTag }}, tag[1]={{ tag[1] }}#}
                    {% set badgeClass = 'bg-secondary' %}
                    {% if selectedTag == tag[1] %}
                        {% set badgeClass = 'bg-primary' %}
                    {% endif %}
                    <a class="badge rounded-pill {{ badgeClass }}"
                       style="text-decoration: none;"
                       {#href="{{ path(translationalresearch_sitename~'_antibodies_public_react', {'filter[control]': tag[1]}) }}"#}
                       href="{{ path(translationalresearch_sitename~'_antibodies_public_react', {'filter[control]': tag[1]}) }}"
                    >
                        {{ tag[1] }}
                    </a>
                {% endif %}
            {% endfor %}
        </p>

        {% if 1 %}
        {#<div class="row row row-cols-lg-6 g-lg-1" hidden>#}
        <div class="row row row-cols-lg-6 g-lg-1">
            {#<div class="col-12">#}

            {#<div class="col">#}
                {#{{ form_widget(filterform.search) }}#}
            {#</div>#}

            <div class="col">
                {{ form_widget(filterform.name) }}
            </div>

            <div class="col">
                {{ form_widget(filterform.description) }}
            </div>

            <div class="col">
                {{ form_widget(filterform.categorytags) }}
            </div>

            {% if filterform.public is defined %}
                <div class="col">
                    {{ form_widget(filterform.public) }}
                    {#{{ formmacros.checkbox(filterform.public) }}#}
                </div>
            {% endif %}

            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {#<button type="button" class="btn btn-light"><i class="fa-solid fa-wrench"></i></button>#}
                    <button class="btn btn-light" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#transres-advancedsearch"
                            aria-expanded="false" aria-controls="transres-advancedsearch">
                        <i class="fa-solid fa-wrench"></i>
                    </button>
                    <button id="filter-btn" type="submit" class="btn btn-light btn-sm">Filter</button>
                </div>
            </div>

            {#</div>#}
        </div>

        {% if advancedFilter %}
            {% set advancedCollapse = 'in' %}
        {% else %}
            {% set advancedCollapse = '' %}
        {% endif %}

        <div id="transres-advancedsearch" class="collapse {{ advancedCollapse }}">
            <br>
            <div class="card card-body">
                <div class="row row-cols-lg-5 g-lg-2">
                    <div class="col">
                        {{ form_widget(filterform.type) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.clone) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.host) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.reactivity) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.company) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.catalog) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.control) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.protocol) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.retrieval) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.dilution) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.comment) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.document) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.visual) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.antibodylabs) }}
                    </div>

                    <div class="col">
                        {{ form_widget(filterform.antibodypanels) }}
                    </div>

                    <div class="col">
                    </div>
                </div>
            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->

        {% endif %} <!-- if 0 -->

        {{ form_rest(filterform) }}
        {{ form_end(filterform) }}
    </div>


    <br><br>
    <div id="root"></div>

{% endblock %}


{% block mainjs %}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap-5.3.3/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jasny/js/rowlink.js') }}"></script>
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.js') }}"></script>#}

    {#FOSJsRoutingBundle#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/dropzone.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-form.js') }}"></script>

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>#}

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-treeSelectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/vakata-jstree/jstree.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jstree.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formnode.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formReady.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-basetitles.js') }}"></script>

    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/modal.js') }}"></script>
    <script src="{{ asset('orderassets/AppOrderformBundle/form/js/tooltips.js') }}"></script>

    <script src="{{ asset('orderassets/AppUserdirectoryBundle/typeahead/typeahead.bundle.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-typeahead.js') }}"></script>
{% endblock %}


{% block bootstrapcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap-5.3.3/css/bootstrap.min.css') }}" >

    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap.min.css') }}" />#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/css/bootstrap-theme.min.css') }}" />#}

    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/form/css/form.css') }}" />
{% endblock %}

{% block additionalcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/fontawesome/css/all.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('orderassets/AppUserdirectoryBundle/font-awesome-4.7/css/font-awesome.min.css') }}" />
{% endblock %}

{% block headeradditionaljs %}
{% endblock %}

{% block header %}
    {#{% include 'AppTranslationalResearchBundle/Default/navbar.html.twig' %}#}

    {#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
        {#<div class="container-fluid">#}
            {#<a class="navbar-brand" href="#">Navbar</a>#}
            {#<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
                {#<span class="navbar-toggler-icon"></span>#}
            {#</button>#}
            {#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
                {#<ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
                    {#<li class="nav-item">#}
                        {#<a class="nav-link active" aria-current="page" href="#">Home</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="#">Link</a>#}
                    {#</li>#}
                    {#<li class="nav-item dropdown">#}
                        {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
                            {#Dropdown#}
                        {#</a>#}
                        {#<ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                            {#<li><a class="dropdown-item" href="#">Action</a></li>#}
                            {#<li><a class="dropdown-item" href="#">Another action</a></li>#}
                            {#<li><hr class="dropdown-divider"></li>#}
                            {#<li><a class="dropdown-item" href="#">Something else here</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
                    {#</li>#}
                {#</ul>#}
                {#<form class="d-flex">#}
                    {#<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
                    {#<button class="btn btn-outline-success" type="submit">Search</button>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('antibodies-css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('antibodies') }}
{% endblock %}
