{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}
{% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
{% import _self as antibodymacros %}

{% block title %}
    {{ title }}
{% endblock %}


{#Bing request:#}
{#1) Show only Name, Description, Category Tags, Clone, Host, Reactivity, Company#}
{#2) Filter list by fields in 1#}
{#3) Change the public view for customer oriented with images with only important info#}

{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {{ form_start(form) }}

    {% set userId = null %}
    {% if app.user %}
        {% set userId = app.user.id %}
    {% endif %}

    <div id="form-prototype-data"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
         {#data-userid = "{{ app.user.id }}"#}
         data-userid = "{{ userId }}"
    ></div>

    {#Antibody important fields#}
    {% if form.list is defined %}
        {% if form.list.name is defined %}
            {{ formmacros.field(form.list.name) }}
        {% endif %}
    {% endif %}

    {% if form.list.description is defined %}
        {{ formmacros.field(form.list.description) }}
    {% endif %}

    <div id="form-prototype-data"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
         {#data-userid = "{{ app.user.id }}"#}
         data-userid = "{{ userId }}"
    ></div>

    {#{{ formmacros.field(form.category) }}#}
    {{ formmacros.field(form.categoryTags) }}
    {{ formmacros.field(form.antibodyLabs) }}
    {{ formmacros.field(form.antibodyPanels) }}
    {{ formmacros.field(form.company) }}
    {{ formmacros.field(form.clone) }}
    {{ formmacros.field(form.host) }}
    {{ formmacros.field(form.reactivity) }}
    {{ formmacros.field(form.storage) }}
    {{ formmacros.field(form.catalog) }}
    {{ formmacros.field(form.control) }}
    {{ formmacros.field(form.protocol) }}
    {{ formmacros.field(form.retrieval) }}
    {{ formmacros.field(form.dilution) }}
    {{ formmacros.field(form.comment) }}
    {{ formmacros.field(
        form.list.type,
        "Type ('default' and 'user-added' will show this antibody, all other types will hide it):"
    ) }}

    {#{{ formmacros.field(form.myAssociates) }}#}
    {{ formmacros.field(form.associates) }}

    {{ formmacros.checkbox(form.openToPublic) }}
    {{ formmacros.field(form.sourceId) }}

    {% if form.documents is defined %}
        <div id="form-prototype-data"
             data-userurllink = "{{ usermacros.userUrlLink()|e }}"
             data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
             {#data-userid = "{{ app.user.id }}"#}
             data-userid = "{{ userId }}"
        ></div>

        {% set docLabel = "Document(s)" %}
        {% set docObjectType = "Document" %}
        {% set docLabel = "Document(s)" %}
        {% set docObjectType = "AntiBody Document" %}
        <p>
        <div class="well form-element-holder user-documents">
            <label class="col-xs-12 control-label">{{ docLabel }}</label>
            <div class="row withpaddingtop">
                <div class="col-xs-12">
                    {{ usermacros.documentsContainer(form,form.documents,cycle,'noprototype',8,'default',docObjectType,'asForm',false) }}
                </div>
            </div>
        </div>
        </p>

    {% endif %}


    {#Antibody's visualInfos#}
    {% if form.visualInfos is defined %}
        {#{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}#}
        {#{{ transresRequestMacros.visualInfoSections(form,cycle) }}#}
        {{ antibodymacros.antibodyVisualInfoSections(antibody,form,cycle) }}
    {% endif %}


    {#Secondary antibody fields#}
    <div class="user-visualinfos-holder">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title text-left">
                    <a data-toggle="collapse" href="#antibody-secondary">
                        Secondary Antibody's Fields
                    </a>
                </h4>
            </div>
            <div id="antibody-secondary" class="panel-collapse collapse">
                <div class="panel-body">

                    {{ formmacros.field(form.datasheet) }}

                    {% if form.inventory is defined %}
                        {{ formmacros.field(form.inventory) }}
                    {% endif %}
                    {% if form.unitPrice is defined %}
                        {{ formmacros.field(form.unitPrice) }}
                    {% endif %}
                    {% if form.tissueType is defined %}
                        {{ formmacros.field(form.tissueType) }}
                    {% endif %}

                    {{ formmacros.field(form.altname) }}
                    {#{{ formmacros.field(form.catalog) }}#}
                    {{ formmacros.field(form.lot) }}
                    {{ formmacros.field(form.igconcentration) }}
                    {#{{ formmacros.field(form.control) }}#}
                    {#{{ formmacros.field(form.protocol) }}#}
                    {#{{ formmacros.field(form.retrieval) }}#}
                    {#{{ formmacros.field(form.dilution) }}#}
                    {#{{ formmacros.field(form.comment) }}#}
                    {{ formmacros.field(form.comment1) }}
                    {{ formmacros.field(form.comment2) }}
                </div>
            </div>
        </div>
    </div>


    <div class="user-visualinfos-holder">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title text-left">
                    <a data-toggle="collapse" href="#antibody-list">
                        Generic List Fields
                    </a>
                </h4>
            </div>
            <div id="antibody-list" class="panel-collapse collapse">
                <div class="panel-body">

                    {% if form.list is defined %}
                        {#{% if form.list.name is defined %}#}
                        {#{{ formmacros.field(form.list.name) }}#}
                        {#{% endif %}#}
                        {% if form.list.shortname is defined %}
                            {{ formmacros.field(form.list.shortname) }}
                        {% endif %}
                        {% if form.list.abbreviation is defined %}
                            {{ formmacros.field(form.list.abbreviation) }}
                        {% endif %}
                    {% endif %}

                    {#{% if form.level is defined %}#}
                    {#{{ formmacros.field(form.level) }}#}
                    {#{% endif %}#}

                    {#{% if form.organizationalGroupType is defined %}#}
                    {#{{ formmacros.field(form.organizationalGroupType) }}#}
                    {#{% endif %}#}

                    {% if form.nativeName is defined %}
                        {{ formmacros.field(form.nativeName) }}
                    {% endif %}

                    {% if form.attributes is defined and form.vars.value.attributes is defined %}
                        {{ formmacros.field(form.attributes) }}
                    {% endif %}

                    {% if form.value is defined %}
                        {{ formmacros.field(form.value) }}
                    {% endif %}

                    {% if form.list.original is defined %}
                        {{ formmacros.field(form.list.original) }}
                    {% endif %}

                    {% if form.list.synonyms is defined %}
                        {{ formmacros.field(form.list.synonyms) }}
                    {% endif %}

                    {% if form.action is defined %}
                        {{ formmacros.field(form.action) }}
                    {% endif %}

                    {% if form.alias is defined %}
                        {{ formmacros.field(form.alias) }}
                    {% endif %}



                    {#{{ formmacros.field(form.list.type) }}#}

                    {{ formmacros.field(form.list.creator) }}

                    {% if form.list.createdate is defined %}
                        {{ formmacros.field(form.list.createdate) }}
                    {% endif %}

                    {% if form.list.version is defined %}
                        {{ formmacros.field(form.list.version) }}
                    {% endif %}

                    {% if form.list.textAttribute is defined %}
                        {{ formmacros.field(form.list.textAttribute) }}
                    {% endif %}

                    {% if form.list.urlSlug is defined %}
                        {{ formmacros.field(form.list.urlSlug) }}
                    {% endif %}

                    {% if form.list is defined %}
                        {% if form.list.orderinlist is defined %}
                            {{ formmacros.field(form.list.orderinlist) }}
                        {% endif %}
                        {% if form.list.objectType is defined %}
                            {{ formmacros.field(form.list.objectType) }}
                        {% endif %}
                        {% if form.list.entityNamespace is defined %}
                            {{ formmacros.field(form.list.entityNamespace) }}
                        {% endif %}
                        {% if form.list.entityName is defined %}
                            {{ formmacros.field(form.list.entityName) }}
                        {% endif %}
                        {% if form.list.entityId is defined %}
                            {{ formmacros.field(form.list.entityId) }}
                        {% endif %}
                        {% if form.list.linkToListId is defined %}
                            {{ formmacros.field(form.list.linkToListId) }}
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    {#{{ formmacros.field(form.invoiceFrom) }}#}
    <hr>

    <p>
        {% if form.save is defined %}
            {{ form_widget(form.save) }}
        {% endif %}
        {% if form.edit is defined %}
            {{ form_widget(form.edit) }}
        {% endif %}
    </p>

        {#{% if cycle == 'new' %}#}
            {#<p>#}
                {#<a class="btn btn-primary" href="{{ path('translationalresearch_antibody_new') }}">Save</a>#}
            {#</p>#}
        {#{% endif %}#}

        {#{% if cycle == 'edit' %}#}
            {#<p>#}
                {#<a class="btn btn-primary" href="{{ path('translationalresearch_antibody_edit',{'id':entity.id}) }}">Update</a>#}
            {#</p>#}
        {#{% endif %}#}

    {{ form_end(form) }}

    {% if cycle == 'show' %}
        <p>
            <a class="btn btn-default" href="{{ path('translationalresearch_antibody_edit',{'id':antibody.id}) }}"
            >Edit antibody</a>
        </p>
    {% endif %}

    {% if cycle == 'edit' %}
        <p>
            <a class="btn btn-default" href="{{ path('translationalresearch_antibody_show',{'id': antibody.id }) }}">Cancel</a>
        </p>
    {% endif %}

    {% if cycle == 'new' %}
        <p>
            <a class="btn btn-default" href="{{ path('translationalresearch_antibodies') }}">Cancel</a>
        </p>
    {% endif %}

{% endblock %}


{% macro antibodyVisualInfoSections(antibody, form, cycle) %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
    {% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}

    {% set visualInfosPrototype = transresRequestMacros.visualInfoForm(form.visualInfos,cycle,'user-visualinfos','prototype',true) %}

    {% set userId = null %}
    {% if app.user %}
        {% set userId = app.user.id %}
    {% endif %}

    <div id="form-prototype-data2"
         data-prototype-user-visualinfos = "{{ visualInfosPrototype|e }}"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('transres_gallery') }}"
         {#data-userid = "{{ app.user.id }}"#}
         data-userid = "{{ userId }}"
    ></div>

    {#Holder of elements to add/remove. user-basetitles.js#}
    {#Fix: attached to the last panlel: lastcollHolder.after(newForm)#}
    <div class="user-visualinfos-holder">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title text-left">
                    <a data-toggle="collapse" href="#visualinfo">
                        Visual Info(s)
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                {% for visualInfo in form.visualInfos %}
                    {% set uploadedType = visualInfo.vars.value.uploadedType %}
                    {% if uploadedType == 'Region Of Interest' or uploadedType == 'Whole Slide Image' %}
                        {% if uploadedType == 'Region Of Interest' %}

                        {% endif %}
                        {% if uploadedType == 'Whole Slide Image' %}
                        {% endif %}
                        {{ transresRequestMacros.visualInfoForm(visualInfo,cycle,'user-visualinfos','noprototype',false,'') }}
                    {% else %}
                        {{ transresRequestMacros.visualInfoForm(visualInfo,cycle,'user-visualinfos','noprototype',true,'') }}
                    {% endif %}
                {% endfor %}

                {{ usermacros.addNewObjectBtn(cycle,'user-visualinfos','Add Visual Info') }}
            </div>
        </div>
    </div>

{% endmacro %}
