{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info calllog-title" align="center">
        {{ title }}
    </h4>

    <br>


    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="orderformtype" value="calllog" />
    <input type="hidden" id="formtype" value="{{ formtype }}" />
    <input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />
    <input type="hidden" id="mrn" value="{{ mrn }}" />
    <input type="hidden" id="mrntype" value="{{ mrntype }}" />
    {#<input type="hidden" id="encounterid" value="{{ encounterid }}" />#}

    <div id="calllog-patient-list">

    {#<form id="CallCaseForm" class="form-vertical" role="form">#}
    {#{{ form_start(form,{'attr': {'id': 'calllog-entry-form'}}) }}#}
    {{ form_start(form,{'method': 'POST', 'action': path('calllog_update_patient')}) }}

        {{ form_errors(form) }}

        {#{% set formtype = 'call-entry' %}#}
        {{ calllogmacros.patientInfoSection(form,cycle,'patient-holder-1','Patient Info',formtype) }}

        {#<a id="callentry-nosinglepatient-link" class="collapsed" role="button" data-toggle="collapse" href="#callentry-form" onclick="$(this).hide();">#}
        <a id="callentry-nosinglepatient-link" href="javascript:;" onclick="showCalllogCallentryForm(true);">
            No single patient is referenced by this entry or I'll add the patient info later
        </a>
        <div id="callentry-form" class="panel-collapse collapse">

        {#above the "Call Information" accordion, insert an accordion with the title "Encounter Info"    #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#calllog-EncounterInfo">
                        Encounter Info
                    </a>
                </h4>
            </div>
            <div id="calllog-EncounterInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {#<div class="row">#}
                        {#<div class="col-xs-12" align="left">#}
                        {#</div>#}
                    {#</div>#}
                    {% set status = 'Submitted' %}
                    {% for encounter in form.encounter %}
                        {{ formmacros.inputArrayField(encounter.number,"new","encounternumber","key","","","",status) }}
                        {{ formmacros.inputArrayField(encounter.date,cycle,"encounterdate","date","","","",status) }}
                        {{ formmacros.field(encounter.provider) }}

                        {#{{ formmacros.inputArrayField(encounter.referringProviders,cycle,"encounterreferringprovider","","","","",status) }}#}
                        {% for referringProvider in encounter.referringProviders %}
                            {#{{ formmacros.field_show_user( encounter, "referringProviders", cycle ) }}#}
                            {{ formmacros.field(referringProvider.field) }}
                            {{ formmacros.field(referringProvider.referringProviderSpecialty) }}
                            {{ formmacros.field(referringProvider.referringProviderPhone) }}
                        {% endfor %}

                        {#{{ formmacros.fielddate(fieldThis,'regular-datepicker') }}#}


                    {% endfor %}

                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#calllog-CallInformation">
                        Call Information
                    </a>
                </h4>
            </div>
            <div id="calllog-CallInformation" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="row">

                        <div class="form-group col-xs-5" align="left">
                            {#{{ formmacros.simplefield('Service:','','input') }}#}
                            <p>
                            <div class="row">
                                <div class="col-xs-6" align="right">
                                    <label>Service:</label>
                                </div>
                                <div class="col-xs-6" align="left" class="form_body_toggle_btn">
                                    <select id="Service" name="Service" class="combobox" style="float:right;width: 70%">
                                        <option value="All">Transfusion Medicine</option>
                                        <option value="Microbiology">Microbiology</option>
                                        <option value="Chemistry">Chemistry</option>
                                        <option value="Coagulation">Coagulation</option>
                                        <option value="Hematology">Hematology</option>
                                        <option value="Molecular">Molecular</option>
                                        <option value="Cytogenetics">Cytogenetics</option>
                                    </select>
                                </div>
                            </div>
                            </p>

                            {#{{ formmacros.simplefield('Issue:','','input') }}#}
                            <p>
                            <div class="row">
                                <div class="col-xs-6" align="right">
                                    <label>Issue:</label>
                                </div>
                                <div class="col-xs-6" align="left" class="form_body_toggle_btn">
                                    <select id="Service" name="Service" class="combobox" style="float:right;width: 70%">
                                        <option value="First dose plasma">First dose plasma</option>
                                        <option value="First dose platelets ">First dose platelets </option>
                                        <option value="Third+ dose platelets">Third+ dose platelets</option>
                                        <option value="Cryoprecipitate">Cryoprecipitate</option>
                                        <option value="MTP">MTP</option>
                                        <option value="Emergency release">Emergency release</option>
                                        <option value="Payson transfusion">Payson transfusion</option>
                                        <option value="Incompatible crossmatch">Incompatible crossmatch</option>
                                        <option value="Transfusion reaction"> <a data-toggle="collapse" href="#TrfnRxnForm">Transfusion reaction</a></option>
                                        <option value="Complex platelet summary">Complex platelet summary</option>
                                        <option value="Complex factor summary">Complex factor summary</option>
                                        <option value="WinRho">WinRho</option>
                                        <option value="Special needs">Special needs</option>
                                        <option value="Antibiotic sensitivity approval">Antibiotic sensitivity approval</option>
                                        <option value="Viracor testing">Viracor testing</option>
                                        <option value="Critical Value">Critical Value</option>
                                        <option value="Aberrant analyte ">Aberrant analyte </option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            </p>

                        </div>

                        <div class="form-group col-xs-5" align="left">
                            {{ calllogmacros.simpleDateField('Date:','') }}
                            {{ calllogmacros.simpleDateField('Time:','') }}
                            {{ formmacros.simplefield('Location:','','input') }}
                        </div>

                        <div class="form-group col-xs-2" align="left">
                        </div>

                    </div>

                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#calllog-HistoryFindings">
                        History/Findings
                    </a>
                </h4>
            </div>
            <div id="calllog-HistoryFindings" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12" align="left">
                            <textarea rows="4" class="textarea form-control input-lg" placeholder="Free text entry describing the call."></textarea>
                        </div>
                    </div>
                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#calllog-ImpressionOutcome">
                        Impression/Outcome
                    </a>
                </h4>
            </div>
            <div id="calllog-ImpressionOutcome" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12" align="left">
                            <textarea rows="4" class="textarea form-control input-lg" placeholder="Free text entry."></textarea>
                        </div>
                    </div>
                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-info -->

        <p>
            <button class="btn btn-lg btn-primary btn-success" name="btnSubmit" type="submit">Submit</button>
        </p>

        </div> {#callentry-form#}

        {#{{ form_row(form._token) }}#}
        {#{{ form_rest(form) }}#}

    {#</form>#}
    {{ form_end(form,{'render_rest': false}) }}

    </div>

    <div id="calllog-msg-danger-box" class="alert alert-danger" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>
    <div id="calllog-msg-success-box" class="alert alert-success" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>

{% endblock %}


{% block additionaljs %}
<script language="Javascript">



    $(document).ready(function() {
        //hide all alias
        calllogHideAllAlias(true,true);

        //init
        initCallLogPage();

        //preset mrn and mrn-type
        calllogPresetMrnMrntype('patient-holder-1');

    });


</script>
{% endblock %}