{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}
{% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}
{% import "OlegUserdirectoryBundle::FormNode/formnodemacros.html.twig" as formnodemacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <h4 class="text-info calllog-title" align="center">
        {{ title }}
    </h4>

    <br>


    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    <input type="hidden" id="orderformtype" value="calllog" />
    <input type="hidden" id="formtype" value="{{ formtype }}" />
    <input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />
    <input type="hidden" id="mrn" value="{{ mrn }}" />
    <input type="hidden" id="mrntype" value="{{ mrntype }}" />
    {#<input type="hidden" id="encounterid" value="{{ encounterid }}" />#}

    <div id="calllog-patient-list">

    {% set holderId = "patient-holder-1" %}

    {#<form id="CallCaseForm" class="form-vertical" role="form">#}
    {#{{ form_start(form,{'attr': {'id': 'calllog-entry-form'}}) }}#}
    {{ form_start(form,{'attr': {'id': 'calllog-new-entry-form'}, 'method': 'POST', 'action': path('calllog_update_patient')}) }}

        {{ form_errors(form) }}

        {% for patient in form.patient %}
            {#patient.id:{{ patient.vars.value.id }}#}
            {% set patientForm = patient %}
        {#{% endfor %}#}

{#{% if patientForm is defined %}#}

        {#{% set formtype = 'call-entry' %}#}
        {{ calllogmacros.patientInfoSection(patientForm,cycle,holderId,'Patient Info',formtype) }}

        {#<a id="callentry-nosinglepatient-link" class="collapsed" role="button" data-toggle="collapse" href="#callentry-form" onclick="$(this).hide();">#}
        <a id="callentry-nosinglepatient-link" href="javascript:;" onclick="showCalllogCallentryForm(true);">
            No single patient is referenced by this entry or I'll add the patient info later
        </a>
        <div id="callentry-form" class="panel-collapse collapse in">{#testing in#}

        {#above the "Call Information" accordion, insert an accordion with the title "Encounter Info"    #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#calllog-EncounterInfo">
                        Encounter Info
                    </a>
                </h4>
            </div>
            <div id="calllog-EncounterInfo" class="panel-collapse collapse in">
                <div class="panel-body">
                    {#<div class="row">#}
                        {#<div class="col-xs-12" align="left">#}
                        {#</div>#}
                    {#</div>#}
                    {% set status = 'Submitted' %}
                    {% for encounter in patientForm.encounter if encounter.vars.value.status == 'valid' %}
                        {{ form_row(encounter.status) }}
                        {{ formmacros.inputArrayField(encounter.number,"new","encounternumber","key","","","",status) }}
                        {{ formmacros.inputArrayField(encounter.date,cycle,"encounterdate","date","","","",status) }}
                        {{ formmacros.field(encounter.provider) }}

                        {#{{ formmacros.inputArrayField(encounter.referringProviders,cycle,"encounterreferringprovider","","","","",status) }}#}
                        {% for referringProvider in encounter.referringProviders %}
                            {#{{ formmacros.field_show_user( encounter, "referringProviders", cycle ) }}#}
                            {{ formmacros.field(referringProvider.field) }}
                            {{ formmacros.field(referringProvider.referringProviderSpecialty) }}
                            {{ formmacros.field(referringProvider.referringProviderPhone) }}
                            {{ formmacros.field(referringProvider.referringProviderEmail) }}
                        {% endfor %}

                        {{ calllogmacros.trackerContactinfoForm(encounter,cycle,status) }}

                        {#{{ formmacros.fielddate(fieldThis,'regular-datepicker') }}#}

                        {#Update Patient Info: encounter with status='valid'#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {#<h4 class="panel-title">#}
                                    {#<a data-toggle="collapse" href="#calllog-encounterEncounterInfo">#}
                                        {#Update Patient Info#}
                                    {#</a>#}
                                {#</h4>#}

                                {#<button#}
                                        {#id="form_body_toggle_encounterInfo" type="button"#}
                                        {#class="btn btn-default btn-xs form_body_toggle_btn glyphicon glyphicon-folder-close pull-left"#}
                                        {#onclick="toggleSinglePanel(this,'#form_body_encounterInfo');">#}
                                {#</button>#}

                                <h4 class="panel-title">
                                    {#<a#}
                                        {#href="javascript:;"#}
                                        {#onclick="calllogToggleSinglePanel(this,'#form_body_encounterInfo');"#}
                                    {#>#}
                                        {#Update Patient Info#}
                                    {#</a>#}
                                    <a class="calllog-patient-panel-title" data-toggle="collapse" href="#form_body_encounterInfo">
                                        Update Patient Info
                                    </a>
                                </h4>

                            </div>
                            <div id="form_body_encounterInfo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="calllog-encounterInfo-holder">
                                    {{ formmacros.inputArrayField(encounter.patlastname,cycle,"encounterpatlastname","","","","",status) }}
                                    {{ formmacros.inputArrayField(encounter.patfirstname,cycle,"encounterpatfirstname","","","","",status) }}
                                    {{ formmacros.inputArrayField(encounter.patmiddlename,cycle,"encounterpatmiddlename","","","","",status) }}
                                    {{ formmacros.inputArrayField(encounter.patsuffix,cycle,"encounterpatsuffix","","","","",status) }}
                                    {{ formmacros.inputArrayField(encounter.patsex,cycle,"encounterpatsex","","","","",status) }}
                                    {#{{ formmacros.field(encounter.patientDob) }}#}
                                    {{ formmacros.fieldDateLabel(encounter.patientDob,'regular-datepicker') }}
                                    </div>
                                </div> <!-- panel-body -->
                            </div> <!-- panel-collapse -->
                        </div> <!-- panel panel-default -->

                    {% endfor %}

                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->
        </div> <!-- panel panel-primary -->




        {# Entry #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#calllog-Entry">
                        Entry
                    </a>
                </h4>
            </div>
            <div id="calllog-Entry" class="panel-collapse collapse in">
                <div class="panel-body">
        {# Entry #}

            {#Message Fields        #}
            <p>
                {#Message Type: Message->messageCategory#}
                {% if form.messageCategory is defined %}
                    {{ treemacros.compositeTreeNode(form.messageCategory,cycle,"noprototype") }}
                {% endif %}
                {#Message Version#}
                {{ formmacros.field(form.version) }}
                {#Amendment Reason#}
                {{ formmacros.field(form.amendmentReason) }}
            </p>


            {#Patient List    #}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#calllog-PatientList">
                            Patient List
                        </a>
                    </h4>
                </div>
                <div id="calllog-PatientList" class="panel-collapse collapse in">
                    <div class="panel-body">

                        {#"Add patient to the list: [v]"#}
                        {{ formmacros.checkbox(form.addPatientToList) }}

                        {#List Title:#}
                        {% if form.patientListTitle is defined %}
                            {{ treemacros.compositeTreeNode(form.patientListTitle,cycle,"noprototype") }}
                        {% endif %}

                    </div> <!-- panel-body -->
                </div> <!-- panel-collapse -->
            </div> <!-- panel panel-default -->

            {#{% if form.messageCategory is defined %}#}
                {#{{ formnodemacros.addFormNode(form.vars.value.messageCategory, cycle, "noprototype") }}#}
            {#{% endif %}#}

            <div id="form-node-holder"></div>

            {#History/Findings    #}
            {#<div class="panel panel-default">#}
                {#<div class="panel-heading">#}
                    {#<h4 class="panel-title">#}
                        {#<a data-toggle="collapse" href="#calllog-HistoryFindings">#}
                            {#History/Findings#}
                        {#</a>#}
                    {#</h4>#}
                {#</div>#}
                {#<div id="calllog-HistoryFindings" class="panel-collapse collapse in">#}
                    {#<div class="panel-body">#}
                        {#<div class="row">#}
                            {#<div class="col-xs-12" align="left">#}
                                {#<textarea rows="4" class="textarea form-control input-lg" placeholder="Free text entry describing the call."></textarea>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div> <!-- panel-body -->#}
                {#</div> <!-- panel-collapse -->#}
            {#</div> <!-- panel panel-default -->#}

            {#Impression/Outcome    #}
            {#<div class="panel panel-default">#}
                {#<div class="panel-heading">#}
                    {#<h4 class="panel-title">#}
                        {#<a data-toggle="collapse" href="#calllog-ImpressionOutcome">#}
                            {#Impression/Outcome#}
                        {#</a>#}
                    {#</h4>#}
                {#</div>#}
                {#<div id="calllog-ImpressionOutcome" class="panel-collapse collapse in">#}
                    {#<div class="panel-body">#}
                        {#<div class="row">#}
                            {#<div class="col-xs-12" align="left">#}
                                {#<textarea rows="4" class="textarea form-control input-lg" placeholder="Free text entry."></textarea>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div> <!-- panel-body -->#}
                {#</div> <!-- panel-collapse -->#}
            {#</div> <!-- panel panel-default -->#}


        {# EOF Entry #}
            </div> <!-- panel-body -->
          </div> <!-- panel-collapse -->
        </div> <!-- panel panel-primary -->
        {# EOF Entry #}

        <p>
            <button class="btn btn-lg btn-primary btn-success" name="btnSubmit" type="button" onclick="calllogSubmitForm();">Submit</button>
        </p>

        </div> {#callentry-form#}

{#{% endif %}#}
{% endfor %}

        {#{{ form_row(form._token) }}#}
        {#{{ form_rest(form) }}#}

    {#</form>#}
    {{ form_end(form,{'render_rest': false}) }}

    </div>

    <div id="calllog-msg-danger-box" class="alert alert-danger" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>
    <div id="calllog-msg-success-box" class="alert alert-success" style="display: none; margin-top: 5px; margin-bottom: 5px;"></div>

{% endblock %}


{% block additionaljs %}
<script language="Javascript">



    $(document).ready(function() {
        //hide all alias
        //calllogHideAllAlias(true,true);
        //calllogHideAllAlias(true,true,'calllog-encounterInfo-holder');

        //init
        initCallLogPage();

        //preset mrn and mrn-type
        calllogPresetMrnMrntype('patient-holder-1');

    });


</script>
{% endblock %}