
{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}
{% import "OlegUserdirectoryBundle::Tree/treemacros.html.twig" as treemacros %}
{% import "OlegUserdirectoryBundle::FormNode/formnodemacros.html.twig" as formnodemacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

<h4 class="text-info calllog-title" align="center">
    {{ title }}
</h4>

<br>


<input type="hidden" id="formcycle" value="{{ cycle }}" />
<input type="hidden" id="orderformtype" value="calllog" />
<input type="hidden" id="formtype" value="{{ formtype }}" />
<input type="hidden" id="triggerSearch" value="{{ triggerSearch }}" />
<input type="hidden" id="mrn" value="{{ mrn }}" />
<input type="hidden" id="mrntype" value="{{ mrntype }}" />



{% endblock %}


{% block additionaljs %}
    <script language="Javascript">

        $(document).ready(function() {
            //init
            initCallLogPage();
            //preset mrn and mrn-type
            //calllogPresetMrnMrntype('patient-holder-1');
        });

    </script>
{% endblock %}

