{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    {#<h4 class="text-info" align="center">#}
        {#{{ title }}#}
    {#</h4>#}
    {#<br>#}


    {#Search Form#}

    {#<form id="CallCaseSearchForm" class="form-vertical" role="form">#}
    <p>
    <form action="{{ path(route_path) }}" method="get" {{ form_enctype(filterform) }} class="well form-search">

        <div class="well">

            {#basic search#}
            <div class="row">

                <div class="col-xs-2" align="left">
                    {#{{ calllogmacros.singleDateField('','Start Date') }}#}
                    {{ formmacros.fielddate(filterform.startDate,'regular-datepicker') }}
                    {#{{ form_row(filterform.startDate, {'attr': {'placeholder': 'Start Date'}}) }}#}
                </div>
                <div class="col-xs-2" align="left">
                    {#{{ calllogmacros.singleDateField('','End Date') }}#}
                    {{ formmacros.fielddate(filterform.endDate,'regular-datepicker') }}
                    {#{{ form_row(filterform.endDate, {'attr': {'placeholder': 'End Date'}}) }}#}
                </div>
                <div class="col-xs-3" align="left">
                    {{ form_widget(filterform.messageCategory) }}
                </div>
                <div class="col-xs-3" align="left">
                    {{ form_widget(filterform.search) }}
                </div>

                <div class="col-xs-1" align="left">
                    <button id="Search_button" type="submit" class="btn btn-default">Filter</button>
                </div>

                {#<div class="col-xs-2" align="left">#}
                    {#<select id="Export" name="Export" class="combobox" style="float:right;width: 70%">#}
                        {#<option value="Export">Export</option>#}
                        {#<option value="Excel">Excel</option>#}
                        {#<option value="PDF">PDF</option>#}
                        {#<option value="CSV">CSV</option>#}
                    {#</select>#}
                {#</div>#}

                {#<div class="col-xs-2" align="left">#}
                    {#<a data-toggle="collapse" href="#calllog-AdvancedSearch">Advanced Search</a>#}
                {#</div>#}

            </div>


            {#advanced search#}
            <br>
            <div class="row">
                <a data-toggle="collapse" href="#calllog-AdvancedSearch">Advanced Search</a>
            </div>
            <div id="calllog-AdvancedSearch" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="row">

                        <div class="col-xs-2" align="left">
                            {{ form_widget(filterform.author) }}
                        </div>

                        <div class="col-xs-2" align="left">
                            {{ form_widget(filterform.referringProvider) }}
                        </div>

                        <div class="col-xs-2" align="left">
                            {{ form_widget(filterform.specialty) }}
                        </div>

                        {#<div class="col-xs-5" align="left">#}
                            {#<input class="form-control form-control-modif not-mapped-simplefield" type="text" value="" placeholder="Search free text">#}
                        {#</div>#}

                        {#<div class="col-xs-4" align="left" class="form_body_toggle_btn">#}
                            {#<select id="Field" name="Field" class="combobox" style="float:right;width: 70%">#}
                                {#<option value="All Fields">All Fields</option>#}
                                {#<option value="MRN">MRN</option>#}
                                {#<option value="Patient Info">Patient Info</option>#}
                                {#<option value="Date">Date</option>#}
                                {#<option value="Service">Service</option>#}
                                {#<option value="Call Issue">Call Issue</option>#}
                                {#<option value="Educational">Educational</option>#}
                                {#<option value="Pending Signout">Pending Signout</option>#}
                                {#<option value="Complex Patients">Complex Patients</option>#}
                                {#<option value="Location">Location</option>#}
                                {#<option value="Contact Information">Contact Information</option>#}
                            {#</select>#}
                        {#</div>#}

                        {#<div class="col-xs-2" align="left" class="form_body_toggle_btn">#}
                            {#<select id="Logic" name="Logic" class="combobox" style="float:right;width: 70%">#}
                                {#<option value="And">And</option>#}
                                {#<option value="Not">Not</option>#}
                                {#<option value="Or">Or</option>#}
                                {#<option value="Exact Match">Exact Match</option>#}
                            {#</select>#}
                        {#</div>#}

                        {#<div class="col-xs-1" align="left">#}
                            {#<button id="Search_button" type="button" class="btn btn-lg btn-info" align="center" style="float:left; width:100%">Search</button>#}
                        {#</div>#}
                        {#<div class="col-xs-1" align="left">#}
                        {#</div>#}

                    </div>

                </div> <!-- panel-body -->
            </div> <!-- panel-collapse -->

        </div>

        {#advanced search#}
        {#<div class="panel panel-primary">#}
            {#<div class="panel-heading">#}
                {#<h4 class="panel-title">#}
                    {#<a data-toggle="collapse" href="#calllog-PatientInformation">#}
                        {#Advanced Search#}
                    {#</a>#}
                {#</h4>#}
            {#</div>#}
            {#<div id="calllog-PatientInformation" class="panel-collapse collapse in">#}
                {#<div class="panel-body">#}

                    {#<div class="row">#}

                        {#<div class="form-group col-xs-5" align="left">#}
                            {#{{ calllogmacros.simpleDateField('Start Date:','') }}#}
                        {#</div>#}
                        {#<div class="form-group col-xs-5" align="left">#}
                            {#{{ calllogmacros.simpleDateField('End Date:','') }}#}
                        {#</div>#}

                        {#<div class="form-group col-xs-1" align="left">#}
                            {#<button id="Search_button" type="button" class="btn btn-lg btn-success" align="center" style="float:left; width:100%">Search</button>#}
                        {#</div>#}

                        {#<div class="form-group col-xs-1" align="left">#}
                        {#</div>#}

                    {#</div>#}

                {#</div> <!-- panel-body -->#}
            {#</div> <!-- panel-collapse -->#}
        {#</div> <!-- panel panel-info -->#}

    {#</form>#}
        {{ form_rest(filterform) }}
    </form>
    </p>


    {#Call Case List#}

    {#///////////////////////#}
    {% if 0 %}
    <table class="table table-hover table-condensed table-striped text-left">
        <thead>
        <tr>

            <th><a translationCount="" class="sortable" href="#" title="ID">ID</a></th>
            <th><a translationCount="" class="sortable" href="#" title="Date Last Modified">Last Modified</a></th>
            <th><a translationCount="" class="sortable" href="#" title="Patient Name">Patient Name</a></th>
            <th><a translationCount="" class="sortable" href="#" title="MRN">MRN</a></th>
            <th><a translationCount="" class="sortable" href="#" title="Location">Location</a></th>
            <th><a translationCount="" class="sortable" href="#" title="Call Issue">Call Issue</a></th>
            <th><a translationCount="" class="sortable" href="#" title="Author">Author</a></th>
            <th><a translationCount="" class="sortable" href="#" title="Date Created">Date Created</a></th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody class="rowlink" data-link="row">


        <!-- Call Entries List -->
        {% if not alerts %}
        <tr class="">


            <td> <a href="#">4</a> </td>

            <td>3/31/2016 08:00</td>

            <td>Smith, John</td>

            <td class="rowlink-skip">
                <a href="#">1234567</a>
            </td>
            <!-- Link to patient MRN -->

            <td>Other</td>

            <td> Other</td>

            <td class="rowlink-skip"><a href="#">min9043</a></td>
            <!-- Link to user, display only MRN -->

            <td>3/31/2016 08:00</td>

            <td class="rowlink-skip">

                <!-- Modal -->
                <div class="modal fade" id="addComment_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close comment_modal_close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center" id="myModalLabel">Add Comment for Entry 4</h4>
                            </div>
                            <div class="modal-body">

                                <div id="modal_error_4" class="modal_error_div"></div>

                                <form id="addcomment_form">


                                    <select id="modal-processor-comment" class="combobox">
                                        <option></option>
                                        <option value="Let's Discuss this at signout">Let's Discuss this at signout</option>
                                        <option value="Relevant resources">Relevant resources</option>
                                        <option value="Please complete this entry">Please complete this entry</option>
                                    </select>

                                    <br>
                                    <br>


                                    <div class="row">
                                        <div class="col-xs-12">

                                            <p>

                                                <input type="hidden" id="baseurl" value="c.med.cornell.edu/order" />
                                                <textarea id="addcomment_text" name="addcomment" type="textarea" class="textarea form-control" maxlength="5000" required></textarea>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="center-block">
                                        <input id="AddNewComment" class="btn btn-primary center-block" type="button" value="Add Comment" onclick="submitNewComment(4);" />
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>


                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="#">Edit Entry</a></li>
                        <li><a href="#">View Entry History & Comments</a></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#addComment_4">Add Comment</a>
                        </li>
                        <li><a data-confirm="Are you sure you want to duplicate data?" data-ok="Duplicate" data-cancel="Do not duplicate" class="action-cancel-status" href="#">Generate new entry for same patient issue</a>
                        </li>

                    </ul>

                </div>


            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="8"> <p>History/Findings: This is an example of a previously entered call.</p>
                <p>Impression/Outcome: This is an example of an impression and outcome.</p>
                <p>Laboratory Results: </p>
            </td>
        </tr>


        <tr class="">


            <td> <a href="#">5</a> </td>

            <td>3/31/2016 09:00</td>

            <td>Juan, Don</td>

            <td class="rowlink-skip">
                <a href="#">1234568</a>
            </td>
            <!-- Link to patient MRN -->

            <td>G4N</td>

            <td>Transfusion Reaction</td>

            <td class="rowlink-skip"><a href="#">hat9010</a></td>
            <!-- Link to user, display only MRN -->

            <td>3/31/2016 09:00</td>

            <td class="rowlink-skip">

                <!-- Modal -->
                <div class="modal fade" id="addComment_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close comment_modal_close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center" id="myModalLabel">Add Comment for Entry 4</h4>
                            </div>
                            <div class="modal-body">

                                <div id="modal_error_4" class="modal_error_div"></div>

                                <form id="addcomment_form">


                                    <select id="modal-processor-comment" class="combobox">
                                        <option></option>
                                        <option value="Let's Discuss this at signout">Let's Discuss this at signout</option>
                                        <option value="Relevant resources">Relevant resources</option>
                                        <option value="Please complete this entry">Please complete this entry</option>
                                    </select>

                                    <br>
                                    <br>


                                    <div class="row">
                                        <div class="col-xs-12">

                                            <p>

                                                <input type="hidden" id="baseurl" value="c.med.cornell.edu/order" />
                                                <textarea id="addcomment_text" name="addcomment" type="textarea" class="textarea form-control" maxlength="5000" required></textarea>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="center-block">
                                        <input id="AddNewComment" class="btn btn-primary center-block" type="button" value="Add Comment" onclick="submitNewComment(4);" />
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>


                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="#">Edit Entry</a></li>
                        <li><a href="#">View Entry History & Comments</a></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#addComment_4">Add Comment</a>
                        </li>
                        <li><a data-confirm="Are you sure you want to duplicate data?" data-ok="Duplicate" data-cancel="Do not duplicate" class="action-cancel-status" href="#">Generate new entry for same patient issue</a>
                        </li>

                    </ul>

                </div>


            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="8"> <p>History/Findings: This is an example of a previously entered call.</p>
                <p>Impression/Outcome: This is an example of an impression and outcome.</p>
                <p>Laboratory Results: 3/31/2016 09:00 Hgb 6.7 g/dL, 3/31/2016 09:00 Platelets 33 x 10^3/uL</p>
            </td>
        </tr>

        {% else %}

        <tr class="danger">

            <td> <a href="#">5</a> </td>

            <td>3/31/2016 09:00</td>

            <td>Juan, Don</td>

            <td class="rowlink-skip">
                <a href="#">1234568</a>
            </td>
            <!-- Link to patient MRN -->

            <td>G4N</td>

            <td>Transfusion Reaction</td>

            <td class="rowlink-skip"><a href="#">hat9010</a></td>
            <!-- Link to user, display only MRN -->

            <td>3/31/2016 09:00</td>

            <td class="rowlink-skip">

                <!-- Modal -->
                <div class="modal fade" id="addComment_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close comment_modal_close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center" id="myModalLabel">Add Comment for Entry 4</h4>
                            </div>
                            <div class="modal-body">

                                <div id="modal_error_4" class="modal_error_div"></div>

                                <form id="addcomment_form">


                                    <select id="modal-processor-comment" class="combobox">
                                        <option></option>
                                        <option value="Let's Discuss this at signout">Let's Discuss this at signout</option>
                                        <option value="Relevant resources">Relevant resources</option>
                                        <option value="Please complete this entry">Please complete this entry</option>
                                    </select>

                                    <br>
                                    <br>


                                    <div class="row">
                                        <div class="col-xs-12">

                                            <p>

                                                <input type="hidden" id="baseurl" value="c.med.cornell.edu/order" />
                                                <textarea id="addcomment_text" name="addcomment" type="textarea" class="textarea form-control" maxlength="5000" required></textarea>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="center-block">
                                        <input id="AddNewComment" class="btn btn-primary center-block" type="button" value="Add Comment" onclick="submitNewComment(4);" />
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>


                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="#">Edit Entry</a></li>
                        <li><a href="#">View Entry History & Comments</a></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#addComment_4">Add Comment</a>
                        </li>
                        <li><a data-confirm="Are you sure you want to duplicate data?" data-ok="Duplicate" data-cancel="Do not duplicate" class="action-cancel-status" href="#">Generate new entry for same patient issue</a>
                        </li>

                    </ul>

                </div>


            </td>
        </tr>
        <tr class="danger">
            <td></td>
            <td colspan="8"> <p>History/Findings: This is an example of a previously entered call.</p>
                <p>Impression/Outcome: This is an example of an impression and outcome.</p>
                <p>Laboratory Results: 3/31/2016 09:00 Hgb 6.7 g/dL, 3/31/2016 09:00 Platelets 33 x 10^3/uL</p>
            </td>
        </tr>
        {% endif %}

        <!-- Display of entry body data -->
        </tbody>
    </table>

    <div class="navigation">
        <div class="row">
            <hr />
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {#///////////////////////#}

    <br><br>



    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(messages, 'ID', 'message.id') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Last Modified', 'editorInfos.modifiedOn') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Patient Name', 'lastname.field') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'MRN', 'mrn.field') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Location', 'currentLocation.name') }}
            <th>{{ knp_pagination_sortable(messages, 'Referring Provider', 'referringProviderWrapper.name') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Call Issue', 'messageCategory.name') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Author', 'authorInfos.displayName') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for message in messages %}
            {% set trclassname = "" %}
            <tr class="{{ trclassname }}">

                <td>
                    {{  message.id }}
                </td>

                {#Last Modified: add tooltip orderdate: Initially submitted: MM/DD/YYY HH:MM:SS (hours in 24 hour format)#}
                <td data-toggle="tooltip" title="Initially submitted: {{ message.orderdate|date('m/d/Y') ~ " at " ~ message.orderdate|date('H:i:s') }}">
                    {% if message.editorInfos|length > 0 %}
                        {{  message.editorInfos|last.modifiedOn|date('m/d/Y') ~ " at " ~ message.editorInfos|last.modifiedOn|date('H:i:s') }}
                    {% else %}
                        {{ message.orderdate|date('m/d/Y') ~ " at " ~ message.orderdate|date('H:i:s') }}
                    {% endif %}
                </td>

                {#Patient Name#}
                <td>
                    {% for thisPatient in message.patient %}
                        {{  thisPatient.getFullPatientName|raw }}<br>
                    {% endfor %}
                </td>

                {#MRN#}
                <td>
                    {% for thisPatient in message.patient %}
                        {{  thisPatient.obtainFullValidKeyName }}<br>
                    {% endfor %}
                </td>

                <td>
                    {% for encounter in message.encounter %}
                        {{ encounter.obtainLocationInfo }}<br>
                    {% endfor %}
                </td>

                {#referringProviders#}
                <td>
                    {% for encounter in message.encounter %}
                        {% for referringProvider in encounter.referringProviders %}
                            {{ referringProvider.field.getFullName }}<br>
                        {% endfor %}
                    {% endfor %}
                </td>

                <td>
                    {{  message.messageCategory.getNodeNameWithParent }}
                </td>

                <td>
                    {% if message.messageStatus and message.messageStatus.name == "Draft" %}
                        {% if message.provider %}
                            {{ message.provider.getUsernameOptimal }}<br>
                        {% endif %}
                    {% else %}
                        {% if message.signeeInfo and message.signeeInfo.modifiedBy %}
                            {{ message.signeeInfo.modifiedBy.getUsernameOptimal }}<br>
                        {% endif %}
                    {% endif %}
                </td>

                <td>
                    {{ calllogmacros.indexAction(message) }}
                </td>

            </tr>
            <tr class="{{ trclassname }}">
                <td colspan="9">
                    {{ message.getMessageTitleStr }}
                    <p>History/Findings: This is an example of a previously entered call.</p>
                    <p>Impression/Outcome: This is an example of an impression and outcome.</p>
                    {#<p>Laboratory Results: This is an example of an impression and outcome</p>#}
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(messages) }}
    </div>


{% endblock %}

