{% extends "OlegCallLogBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
{% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
{% import "OlegCallLogBundle::Default/calllogmacros.html.twig" as calllogmacros %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    {#<h4 class="text-info" align="center">#}
        {#{{ title }}#}
    {#</h4>#}
    {#<br>#}


    {#Search Form#}
    <p>
    <form action="{{ path(route_path) }}" method="get" {{ form_enctype(filterform) }} class="well form-search">

        {#basic search#}
        <div class="row">

            <div class="col-xs-2" align="left">
                {#{{ calllogmacros.singleDateField('','Start Date') }}#}
                {{ formmacros.fielddate(filterform.startDate,'regular-datepicker') }}
                {#{{ form_row(filterform.startDate, {'attr': {'placeholder': 'Start Date'}}) }}#}
            </div>
            <div class="col-xs-2" align="left">
                {#{{ calllogmacros.singleDateField('','End Date') }}#}
                {{ formmacros.fielddate(filterform.endDate,'regular-datepicker') }}
                {#{{ form_row(filterform.endDate, {'attr': {'placeholder': 'End Date'}}) }}#}
            </div>
            <div class="col-xs-3" align="left">
                {{ form_widget(filterform.messageCategory) }}
            </div>
            <div class="col-xs-4" align="left">
                {{ form_widget(filterform.mrntype) }}
            {#</div>#}
            {#<div class="col-xs-2" align="left">#}
                {{ form_widget(filterform.search) }}
            </div>

            <div class="col-xs-1" align="left">
                <button id="Search_button" type="submit" class="btn btn-default">Filter</button>
            </div>

            {#<div class="col-xs-2" align="left">#}
                {#<select id="Export" name="Export" class="combobox" style="float:right;width: 70%">#}
                    {#<option value="Export">Export</option>#}
                    {#<option value="Excel">Excel</option>#}
                    {#<option value="PDF">PDF</option>#}
                    {#<option value="CSV">CSV</option>#}
                {#</select>#}
            {#</div>#}

            {#<div class="col-xs-2" align="left">#}
                {#<a data-toggle="collapse" href="#calllog-AdvancedSearch">Advanced Search</a>#}
            {#</div>#}

        </div>


        {#advanced search#}
        {% if advancedFilter %}
            {% set advacedCollapse = 'in' %}
        {% else %}
            {% set advacedCollapse = '' %}
        {% endif %}
        <br>
        <div class="row">
            <a data-toggle="collapse" href="#calllog-AdvancedSearch">Advanced Search</a>
        </div>
        <div id="calllog-AdvancedSearch" class="panel-collapse collapse {{ advacedCollapse }}">
            <div class="panel-body">

                <div class="row">

                    <div class="col-xs-2" align="left">
                        {{ form_widget(filterform.author) }}
                    </div>

                    <div class="col-xs-2" align="left">
                        {{ form_widget(filterform.referringProvider) }}
                    </div>

                    <div class="col-xs-2" align="left">
                        {{ form_widget(filterform.referringProviderSpecialty) }}
                    </div>

                    <div class="col-xs-4" align="left">
                        {{ form_widget(filterform.encounterLocation) }}
                    </div>

                    {#<div class="col-xs-5" align="left">#}
                        {#<input class="form-control form-control-modif not-mapped-simplefield" type="text" value="" placeholder="Search free text">#}
                    {#</div>#}

                    {#<div class="col-xs-4" align="left" class="form_body_toggle_btn">#}
                        {#<select id="Field" name="Field" class="combobox" style="float:right;width: 70%">#}
                            {#<option value="All Fields">All Fields</option>#}
                            {#<option value="MRN">MRN</option>#}
                            {#<option value="Patient Info">Patient Info</option>#}
                            {#<option value="Date">Date</option>#}
                            {#<option value="Service">Service</option>#}
                            {#<option value="Call Issue">Call Issue</option>#}
                            {#<option value="Educational">Educational</option>#}
                            {#<option value="Pending Signout">Pending Signout</option>#}
                            {#<option value="Complex Patients">Complex Patients</option>#}
                            {#<option value="Location">Location</option>#}
                            {#<option value="Contact Information">Contact Information</option>#}
                        {#</select>#}
                    {#</div>#}

                    {#<div class="col-xs-2" align="left" class="form_body_toggle_btn">#}
                        {#<select id="Logic" name="Logic" class="combobox" style="float:right;width: 70%">#}
                            {#<option value="And">And</option>#}
                            {#<option value="Not">Not</option>#}
                            {#<option value="Or">Or</option>#}
                            {#<option value="Exact Match">Exact Match</option>#}
                        {#</select>#}
                    {#</div>#}

                    {#<div class="col-xs-1" align="left">#}
                        {#<button id="Search_button" type="button" class="btn btn-lg btn-info" align="center" style="float:left; width:100%">Search</button>#}
                    {#</div>#}
                    {#<div class="col-xs-1" align="left">#}
                    {#</div>#}

                </div>

                <br>
                <div class="row">
                    <div class="col-xs-2" align="left">
                        {{ form_widget(filterform.messageStatus) }}
                    </div>
                    <div class="col-xs-2" align="left">
                        {{ form_widget(filterform.patientListTitle) }}
                    </div>
                    <div class="col-xs-2" align="left">
                        {{ form_widget(filterform.entryBodySearch) }}
                    </div>
                </div>

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->

        {{ form_rest(filterform) }}
    </form>
    </p>


    {#Call Case List#}
    <br><br>

    <table class="records_list table table-hover table-condensed table-striped text-left">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(messages, 'ID', 'message.id') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Last Modified', 'editorInfos.modifiedOn') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Patient Name', 'lastname.field') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'MRN', 'mrn.field') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Location', 'currentLocation.name') }}
            <th>{{ knp_pagination_sortable(messages, 'Referring Provider', 'referringProviderWrapper.name') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Call Issue', 'messageCategory.name') }}</th>
            <th>{{ knp_pagination_sortable(messages, 'Author', 'authorInfos.displayName') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for message in messages %}

            {% set trclassname = "" %}
            {% if message.messageStatus.name == 'Deleted' %}
                {% set trclassname = "order-reject-status" %}
            {% endif %}

            <tr class="{{ trclassname }}">

                <td>
                    {#{{  message.id }}#}
                    <a href="{{ path(calllog_sitename~'_callentry_view', { 'messageId': message.id }) }}" target="_blank">{{ message.id }}</a>
                </td>

                {#Last Modified: add tooltip orderdate: Initially submitted: MM/DD/YYY HH:MM:SS (hours in 24 hour format)#}
                {% if message.version > 1 %}
                    <td data-toggle="tooltip"
                        data-container="body"
                        title="Initially submitted: {{ message.orderdate|date('m/d/Y') ~ " at " ~ message.orderdate|date('H:i:s') }}">
                        {% if message.editorInfos|length > 0 %}
                            {{  message.editorInfos|last.modifiedOn|date('m/d/Y') ~ " at " ~ message.editorInfos|last.modifiedOn|date('H:i:s') }}
                        {% else %}
                            {{ message.orderdate|date('m/d/Y') ~ " at " ~ message.orderdate|date('H:i:s') }}
                        {% endif %}
                    </td>
                {% else %}
                    <td>
                        {{ message.orderdate|date('m/d/Y') ~ " at " ~ message.orderdate|date('H:i:s') }}
                    </td>
                {% endif %}

                {#Patient Name#}
                <td>
                    {% for thisPatient in message.patient %}
                        {{  thisPatient.getFullPatientName|raw }}<br>
                    {% endfor %}
                </td>

                {#MRN#}
                <td>
                    {% for thisPatient in message.patient %}
                        {{  thisPatient.obtainFullValidKeyName }}<br>
                    {% endfor %}
                </td>

                <td>
                    {% for encounter in message.encounter %}
                        {{ encounter.obtainLocationInfo }}<br>
                    {% endfor %}
                </td>

                {#referringProviders#}
                <td>
                    {% for encounter in message.encounter %}
                        {% for referringProvider in encounter.referringProviders %}
                            {{ referringProvider.field.getFullName }}<br>
                        {% endfor %}
                    {% endfor %}
                </td>

                <td>
                    {{  message.messageCategory.getNodeNameWithParent }}
                </td>

                <td>
                    {% if message.messageStatus and message.messageStatus.name == "Draft" %}
                        {% if message.provider %}
                            {{ message.provider.getUsernameOptimal }}<br>
                        {% endif %}
                    {% else %}
                        {% if message.signeeInfo and message.signeeInfo.modifiedBy %}
                            {{ message.signeeInfo.modifiedBy.getUsernameOptimal }}<br>
                        {% endif %}
                    {% endif %}
                </td>

                <td class="rowlink-skip">
                    {{ calllogmacros.indexAction(message,eventObjectTypeId,patientListId) }}
                </td>

            </tr>
            <tr class="table-no-border {{ trclassname }}">
                <td style="display: none">
                    <a href="{{ path(calllog_sitename~'_callentry_view', { 'messageId': message.id }) }}" target="_blank">{{ message.id }}</a>
                </td>
                <td colspan="9">
                    {#{{ message.getMessageTitleStr }}<br>#}
                    {#<p>History/Findings: This is an example of a previously entered call.</p>#}
                    {#<p>Impression/Outcome: This is an example of an impression and outcome.</p>#}
                    {#<p>Laboratory Results: This is an example of an impression and outcome</p>#}
                    {% if messageCategoryInfoNode is not defined %}
                        {% set messageCategoryInfoNode = message.messageCategory %}
                    {% endif %}
                    {{ user_formnode_utility.getFormNodeHolderShortInfo(message,messageCategoryInfoNode)|raw }}
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(messages) }}
    </div>


{% endblock %}

{% block additionaljs %}
    <script language="Javascript">

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
{% endblock %}

