{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppFellAppBundle/Default/base.html.twig" %}

{# Override base template to use minimal JS for anonymous users #}
{% block mainjs %}
    {# Essential JS + AJAX utilities for select2 #}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-ui-1.11.2/jquery-ui.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.js') }}"></script>
    
    {# FOSJsRoutingBundle for routing #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
    {# Include common/selectAjax to enable getComboboxGeneric #}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-form.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-masking.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-validation.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/store-js/dist/store.legacy.min.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery-idleTimeout/jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jquery-idleTimeout.js') }}"></script>
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/dropzone.js') }}"></script>
{% endblock %}

{#{% block browsercheck %}{% endblock %}#}
{#{% block header %}{% endblock %}#}
{#{% block errorwatchjs %}{% endblock %}#}
{#{% block maincss %}{% endblock %}#}

{% block title %}
    Fellowship Application
{% endblock %}

{% block content %}

    <h3 class="text-info" align="center">
        Fellowship Application
    </h3>

    <input type="hidden" id="disableIdleTimeout" value="1" />

    {% if cycle == "download" %}
        {% set collapsein = "in" %}
    {% else %}
        {% if is_granted('ROLE_FELLAPP_ADMIN') or is_granted('ROLE_FELLAPP_COORDINATOR') %}
            {% set collapsein = "" %}
        {% endif %}
    {% endif %}

    {% include 'AppFellAppBundle/Form/applicant-content.html.twig' %}

    {#{{ form_start(form,{'attr': {'id': 'fellapp-applicant-form'}}) }}#}
    {#{{ form_errors(form) }}#}
    {#<button class="btn btn-warning" type="submit">Update</button>#}
    {#{{ form_end(form) }}#}

    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#<button class="btn btn-warning" type="submit">Update</button>#}
    {#{{ form_end(form) }}#}

{% endblock %}

{% block footer %}
    <div class="order-content text-center col-xs-12" style="margin-top: -85px;">
    {#<div class="row order-content text-center">#}
        <!-- footer -->
        {% include 'AppUserdirectoryBundle/Default/footer.html.twig' %}
    </div>
{% endblock %}

{#{% block mainjs %}#}
{#{% endblock %}#}

{% block additionaljs %}
    {% include 'AppFellAppBundle/Form/applicant-content-js.html.twig' %}

    <script language="Javascript">
        // Define cycle variable for anonymous users
        var cycle = 'new';
        
        // Minimal select2 initialization for anonymous users
        function initializeSelect2ForAnonymous() {
            // Initialize basic select2 dropdowns without AJAX calls
            $('select.combobox').each(function() {
                if (!$(this).hasClass('ajax-combobox-')) {
                    $(this).select2({
                        width: '100%',
                        dropdownAutoWidth: true,
                        placeholder: "Select an option",
                        allowClear: true,
                        selectOnBlur: false
                    });
                }
            });
            
            // For ajax-combobox fields, use preloaded data if available
            $('.ajax-combobox-fellowshipSubspecialty').each(function() {
                var options = [];
                $(this).find('option').each(function() {
                    if ($(this).val()) {
                        options.push({
                            id: $(this).val(),
                            text: $(this).text()
                        });
                    }
                });
                
                $(this).select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: "Select a fellowship subspecialty",
                    allowClear: true,
                    data: options
                });
            });
            
            // Initialize ajax-combobox-city using getComboboxGeneric (AJAX)
            try {
                var _cities = [];
                getComboboxGeneric(null,'city',_cities,false,'public/generic/','employees',true,'Select a city',true);
                //getComboboxGeneric(newForm,'city',_cities,false);
            } catch (e) {
                // fallback: simple select2 without data
                $('.ajax-combobox-city').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a city',
                    allowClear: true
                });
            }

            //getComboboxGeneric(newForm,'traininginstitution',_traininginstitution,false,'');
            try {
                var _traininginstitution = [];
                getComboboxGeneric(null,'traininginstitution',_traininginstitution,false,'public/generic/','employees',true,'Select an institution',true);
            } catch (e) {
                // fallback: simple select2 without data
                $('.ajax-combobox-traininginstitution').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select an institution',
                    allowClear: true
                });
            }

            //ajax-combobox-trainingmajors
            //TODO: test majors
            try {
                var _trainingmajors = [];
                var multipleFlag = true;
                getComboboxGeneric(null,'trainingmajors',_trainingmajors,multipleFlag,'public/generic/','employees',true,'Select a major',true);
            } catch (e) {
                // fallback: simple select2 without data
                console.log('gajax-combobox-trainingmajors = no data');
                $('.ajax-combobox-trainingmajors').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a major',
                    allowClear: true
                });
            }

            //ajax-combobox-jobtitle
            //TODO: fix
            try {
                var _jobTitles = [];
                getComboboxGeneric(null,'jobtitle',_jobTitles,false,'public/generic/','employees',true,'Select a job title',true);
            } catch (e) {
                // fallback: simple select2 without data
                console.log('gajax-combobox-jobtitle = no data');
                $('.ajax-combobox-jobtitle').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a job title',
                    allowClear: true
                });
            }

            //ajax-combobox-residencyspecialty
            try {
                var _residencySpecialtys = [];
                getComboboxGeneric(null,'residencyspecialty',_residencySpecialtys,false,'public/generic/','employees',true,'Select a residency specialty',true);
            } catch (e) {
                // fallback: simple select2 without data
                $('.ajax-combobox-residencyspecialty').select2({
                    width: '100%',
                    dropdownAutoWidth: true,
                    placeholder: 'Select a residency specialty',
                    allowClear: true
                });
            }
        }
        
        // Minimal expandTextarea function
        function expandTextarea(holder) {
            var targetid = ".textarea";
            targetid = getElementTargetByHolder(holder,targetid);

            if( $(targetid).length == 0 ) {
                return;
            }

            $(targetid).each( function() {
                var textarea = $(this);
                if( textarea.attr('data-autosize') == 'true' ) {
                    textarea.attr('rows', '3');
                }
            });
        }
        
        // Minimal getElementTargetByHolder function
        function getElementTargetByHolder(holder,target) {
            if( holder && typeof holder !== 'undefined' && holder.length > 0 ) {
                target = holder.find(target);
            }
            return target;
        }

        $(document).ready(function() {
            // Initialize select2 for anonymous users
            initializeSelect2ForAnonymous();

            // Initialize basic form elements
            $('input[type="text"], input[type="email"], textarea').each(function() {
                if (!$(this).hasClass('select2-input')) {
                    $(this).removeAttr('readonly');
                }
            });

            var hashValue = window.location.hash;
            //console.log("hashValue="+hashValue);
            if( hashValue == '#interviews' ) {
                //console.log("open panel");
                $('#interviews').collapse('show');
                expandTextarea($('#interviews'));
            }


            //Added
            var $inst = $('select.fellapp-institution');
            var $global = $('select.fellapp-globalFellowshipSpecialty');
            if ($inst.length === 0 || $global.length === 0) {
                console.log('FellApp selects not found:', 'inst len=', $inst.length, 'global len=', $global.length);
                return;
            }

            $inst.on('change', function(){
                var instId = $(this).val();
                console.log('Institution changed:', instId);
                filterGlobalByInstitution(instId);
            });

            $global.on('change', function(){
                var val = $(this).val();
                var text = $(this).find('option:selected').text();
                console.log('Global Fellowship Specialty changed:', val, text);
            });

            var initInst = $inst.val();
            console.log('Initial institution:', initInst);
            filterGlobalByInstitution(initInst);
        });

        function filterGlobalByInstitution(instId) {
            console.log('filterGlobalByInstitution:', 'instId=', instId);

            const url = Routing.generate('fellapp-global-fellowship-types') + '/' + instId;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('Fetched data:', data);

                })
                .catch(error => {
                        console.error('Error fetching fellowship types:', error);
                });
        }



        //        function filterGlobalByInstitution(instId){
//            console.log('filterGlobalByInstitution:', 'instId=', instId);
//
//            //var url = `/get-cities/${countryId}`;
//            var url = Routing.generate('fellapp-global-fellowship-types');
//            url = url+'/'+instId;
//            fetch(url)
//                .then(response => response.json())
//                .then(data => {
//                    const typeSelect = document.querySelector('#oleg_fellappbundle_fellowshipapplication_globalFellowshipSpecialty');
//
//                    // Clear existing options
//                    typeSelect.innerHTML = '<option value="">Select a fellowship specialty</option>';
//
//                    data.forEach(fellappType => {
//                        const option = document.createElement('option');
//                        option.value = fellappType.id;
//                        option.text = fellappType.name;
//                        typeSelect.appendChild(option);
//                    });
//                });
//        }

//        $(document).ready(function() {
//            // Initialize select2 for anonymous users
//            initializeSelect2ForAnonymous();
//
//            // Initialize basic form elements
//            $('input[type="text"], input[type="email"], textarea').each(function() {
//                if (!$(this).hasClass('select2-input')) {
//                    $(this).removeAttr('readonly');
//                }
//            });
//
//            var hashValue = window.location.hash;
//            //console.log("hashValue="+hashValue);
//            if( hashValue == '#interviews' ) {
//                //console.log("open panel");
//                $('#interviews').collapse('show');
//                expandTextarea($('#interviews'));
//            }
//
//            (function(){
//                var $inst = $('select.fellapp-institution');
//                var $global = $('select.fellapp-globalFellowshipSpecialty');
//                if ($inst.length === 0 || $global.length === 0) {
//                    console.log('FellApp selects not found:', 'inst len=', $inst.length, 'global len=', $global.length);
//                    return;
//                }
//
//                // Select2 is initialized globally by initializeSelect2ForAnonymous(); no explicit init here
//
//                if (!$global.is('select')) {
//                    console.log('Global element is not a <select>:', $global.prop('tagName'));
//                }
//
//                if (!$global.data('all-options')) {
//                    var instMapAttr = $global.attr('data-inst-map');
//                    var instMap = {};
//                    if (instMapAttr) {
//                        try { instMap = JSON.parse(instMapAttr); } catch(e) { instMap = {}; }
//                    }
//                    console.log('data-inst-map present:', !!instMapAttr, 'size:', Object.keys(instMap).length);
//                    var allOpts = [];
//                    $global.find('option').each(function(){
//                        var $opt = $(this);
//                        var val = $opt.attr('value');
//                        if (!val) { return; }
//                        var instVal = $opt.data('inst');
//                        if (!instVal && instMap && instMap[val] !== undefined) {
//                            instVal = instMap[val];
//                        }
//                        allOpts.push({
//                            id: val,
//                            text: $opt.text(),
//                            inst: instVal ? String(instVal) : ''
//                        });
//                    });
//                    console.log('Cached specialties:', allOpts.length);
//                    $global.data('all-options', allOpts);
//                }
//
//                function recacheOptions(){
//                    var instMapAttr = $global.attr('data-inst-map');
//                    var instMap = {};
//                    if (instMapAttr) {
//                        try { instMap = JSON.parse(instMapAttr); } catch(e) { instMap = {}; }
//                    }
//                    var opts = [];
//                    $global.find('option').each(function(){
//                        var $opt = $(this);
//                        var val = $opt.attr('value');
//                        if (!val) { return; }
//                        var instVal = $opt.data('inst');
//                        if (!instVal && instMap && instMap[val] !== undefined) {
//                            instVal = instMap[val];
//                        }
//                        opts.push({ id: val, text: $opt.text(), inst: instVal ? String(instVal) : '' });
//                    });
//                    $global.data('all-options', opts);
//                    return opts;
//                }
//
//                function filterGlobalByInstitution(instId){
//                    var allOpts = $global.data('all-options') || [];
//                    if (!allOpts.length) {
//                        allOpts = recacheOptions();
//                        console.log('Re-cached specialties on filter:', allOpts.length);
//                    }
//                    var selected = $global.val();
//                    var allowed = [];
//                    if (instId) {
//                        var instStr = String(instId);
//                        allowed = allOpts.filter(function(o){ return o.inst === instStr; });
//                    } else {
//                        allowed = allOpts;
//                    }
//
//                    console.log('Filtering specialties. instId=', instId, 'allowed=', allowed.length);
//
//                    // Fallback 1: try matching by institution abbreviation in option text "Name (ABBR)"
//                    if (instId && allowed.length === 0) {
//                        var abbr = $inst.find('option:selected').text();
//                        if (abbr) {
//                            var pattern = '(' + abbr + ')';
//                            var byAbbr = allOpts.filter(function(o){ return o.text.indexOf(pattern) !== -1; });
//                            console.log('Fallback by abbreviation matched:', byAbbr.length, 'using abbr=', abbr);
//                            if (byAbbr.length > 0) {
//                                allowed = byAbbr;
//                            }
//                        }
//                    }
//
//                    // Fallback 2: if still none, show all so user isn't blocked
//                    if (instId && allowed.length === 0) {
//                        console.warn('No specialties match this institution. Falling back to show all.');
//                        allowed = allOpts;
//                    }
//
//                    $global.empty();
//                    $global.append($('<option>'));
//                    allowed.forEach(function(o){
//                        var opt = new Option(o.text, o.id, false, false);
//                        $(opt).attr('data-inst', o.inst);
//                        $global.append(opt);
//                    });
//
//                    var stillValid = allowed.some(function(o){ return String(o.id) === String(selected); });
//                    if (!stillValid) {
//                        selected = null;
//                    }
//
//                    // Restore selection and notify select2 (compatible with v3/v4)
//                    $global.val(selected);
//                    $global.trigger('change');
//                    $global.trigger('change.select2');
//                }

//                $inst.on('change', function(){
//                    var instId = $(this).val();
//                    console.log('Institution changed:', instId);
//                    filterGlobalByInstitution(instId);
//                });
//
//                $global.on('change', function(){
//                    var val = $(this).val();
//                    var text = $(this).find('option:selected').text();
//                    console.log('Global Fellowship Specialty changed:', val, text);
//                });
//
//                var initInst = $inst.val();
//                console.log('Initial institution:', initInst);
//                filterGlobalByInstitution(initInst);
//            })();
//        });

    </script>



{% endblock %}


