
<!-- Modal -->
<div class="modal fade" id="fellapp_rank_{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close fellapp_rank_modal_close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel">Rank</h4>
            </div>

            <div class="modal-body">

                <div id="modal_error_{{ entity.id }}" class="modal_error_div"></div>

                {{ form_start(form,{'attr': {'id': 'fellapp-rank-form'}}) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.rank) }}

                    <div class="center-block">
                        <button id="fellapp_rank_save" type="submit" class="btn btn-primary center-block">Save</button>
                    </div>

                {{ form_end(form, {'render_rest': false}) }}

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

            </div>

        </div>
    </div>
</div>

