{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "::base.html.twig" %}#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block content %} 
{#{% block body -%}#}
    
<h1>Block creation</h1>

<form action="{{ path('block_create') }}" method="post">

{#{{ form_start(form) }}#}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}

    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.slide.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for slide in form.slide %}
            <li>{{ form_row(slide) }}</li>
        {% endfor %}
    </ul>
{#{{ form_end(form) }}#}
    
    {{ form_rest(form) }} 
    
    <p>
        <button type="submit">Create Block</button>
    </p>
</form>

    
<a href="{{ path('block') }}">Back to the list</a>
  

{% endblock %}    
{#{% endblock %}#}
  