{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transresRequestMacros.html.twig" as transresRequestMacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% set sitename = translationalresearch_sitename %}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {{ form_start(form) }}

    {% if form.project is defined %}
        {{ formmacros.field(form.project) }}
    {% endif %}

    {% if form.fundedAccountNumber is defined %}
        {#{% if project.getFundedAccountNumber() %}#}
            {#<p>Current project's funded account number: {{ project.getFundedAccountNumber() }}</p>#}
        {#{% endif %}#}
        {{ formmacros.field(form.fundedAccountNumber) }}
    {% endif %}

    {{ transresRequestMacros.transresRequestFormShow(form,transresRequest,cycle) }}

    {{ transresRequestMacros.transresRequestInfo(form,transresRequest,cycle) }}

    {#{{ transres.updateInfo(form,cycle) }}#}

    {#{{ transres.projectRequesters(form,project,cycle) }}#}

    {#{{ transres.projectReviews(form,cycle,sitename,1) }}#}

    {{ transres.getProjectReviewPrototypeFormData(null,cycle,sitename) }}

    {{ form_end(form) }}


    <div>

        {#{% if is_granted('ROLE_TRANSRES_ADMIN') %}#}
        {% if
            is_granted('ROLE_TRANSRES_ADMIN') or
            is_granted('ROLE_TRANSRES_TECHNICIAN') or
            (
                transres_util.isProjectRequester(transresRequest.project) and
                transresRequest.getProgressState() == 'draft'
            )
        %}
            <br>
            <p>
                <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_request_formnode_edit', { 'id': transresRequest.id }) }}">Edit work request</a>
            </p>
        {% endif %}

        <br>
        {#{{ transres.projectFormShow(null,project,cycle) }}#}
        {#{{ transres.projectObjInfo(project,cycle) }}#}
        {{ transres.projectObjFullInfo(project,cycle) }}

        <br>
        <p>
            <a href="{{ path(translationalresearch_sitename~'_request_formnode_index',{'id':project.id}) }}">Back to the request list</a>
        </p>

    </div>


{% endblock %}

