{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}

{% block header %}

    {% if sitename == 'fellapp' %}
        {% include 'OlegFellAppBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'scan' %}
        {% include 'OlegOrderformBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'employees' %}
        {% include 'OlegUserdirectoryBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'deidentifier' %}
        {% include 'OlegDeidentifierBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'vacreq' %}
        {% include 'OlegVacReqBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'calllog' %}
        {% include 'OlegCallLogBundle:Default:navbar.html.twig' %}
    {% endif %}

    {% if sitename == 'translationalresearch' %}
        {% include 'OlegTranslationalResearchBundle:Default:navbar.html.twig' %}
    {% endif %}

{% endblock %}

{% import "OlegUserdirectoryBundle::ListForm/listmacros.html.twig" as listmacros %}

{% block title %}
    {{ displayName }}: ID {{ entity.id }} | Edit
{% endblock %}

{% block content %}

    {% if delete_form is not defined %}
        {% set delete_form = false %}
    {% endif %}

    {% if cycle is not defined %}
        {% set cycle = "show" %}
    {% endif %}
    <input type="hidden" id="formcycle" value="{{ cycle }}" />
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}
    <div id="form-prototype-data"
         data-userurllink = "{{ usermacros.userUrlLink()|e }}"
         data-uploadurl = "{{ oneup_uploader_endpoint('employees_gallery') }}"
         data-userid = "{{ app.user.id }}"
    ></div>

    <h3 class="text-info">{{ displayName }}: ID {{ entity.id }}</h3>

    <br />

    {% if sitename == 'translationalresearch' %}
        {% set postPath = '_translationalresearch' %}
    {% else %}
        {% set postPath = '' %}
    {% endif %}

    {{ listmacros.listEdit( entity, edit_form, delete_form, pathbase, 'edit', postPath ) }}

{% endblock %}

{% block additionaljs %}
    {% javascripts
    '@OlegUserdirectoryBundle/Resources/public/form/js/user-listForm.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
