{#macro for list#}


{% macro listIndex( entities, pathbase ) %}

    {% import _self as listmacros %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/usermacros.html.twig" as usermacros %}

    <table class="records_list table table-hover table-condensed text-left">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(entities, 'ID', 'ent.id') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Name', 'ent.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Short Name', 'ent.shortname') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Abbreviation', 'ent.abbreviation') }}</th>

            {% if entities|first.level is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Level', 'ent.level') }}</th>
            {% endif %}

            {% if entities|first.nativeName is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Native Name', 'ent.nativeName') }}</th>
            {% endif %}

            {% if entities|first.researchlab is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Principal Investigator(s)', 'usercount') }}</th>
            {% endif %}

            {% if entities|first.parent is defined %}
                <th>
                    {{ knp_pagination_sortable(entities, 'Parent(s)', 'parent.name') }}
                </th>
            {% endif %}

            {% if entities|first.attributes is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Attribute(s)', 'attributes.value') }}</th>
            {% endif %}

            {#role attributes#}
            {% if entities|first.value is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Value', 'ent.value') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Roles', 'roles.name') }}</th>
            {% endif %}

            {% if entities|first.action is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Action', 'ent.action') }}</th>
            {% endif %}

            {% if entities|first.alias is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Alias', 'ent.alias') }}</th>
            {% endif %}

            {% if entities|first.description is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Description', 'ent.description') }}</th>
            {% endif %}

            {% if entities|first.original is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Original', 'original.name') }}</th>
            {% endif %}

            {% if entities|first.synonyms is defined %}
                <th>{{ knp_pagination_sortable(entities, 'Synonyms', 'synonyms.name') }}</th>
            {% endif %}

            <th>{{ knp_pagination_sortable(entities, 'Type', 'ent.type') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Display Order', 'ent.orderinlist') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Creator', 'creator.username') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Creation Date', 'ent.createdate') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Updated By', 'updatedby.username') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Updated On', 'ent.updatedon') }}</th>
            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">

        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path(pathbase~'_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.shortname }}</td>
                <td>{{ entity.abbreviation }}</td>

                {% if entity.level is defined %}
                    <td>
                        {{ entity.level }}
                    </td>
                {% endif %}

                {% if entity.nativeName is defined %}
                    <td>
                        {{ entity.nativeName }}
                    </td>
                {% endif %}

                {% if entity.researchlab is defined %}
                    <td>
                        {{ listmacros.showResearchLabPi( entity.researchlab ) }}
                    </td>
                {% endif %}

                {% if entity.parent is defined %}
                    <td class="rowlink-skip">
                        {% if entity.level is defined %}
                            {{ usermacros.getNestedTree(entity.parent,'nodelink') }}
                        {% else %}
                            {{ usermacros.getInstitutionalTree(entity.parent,'nodelink') }}
                        {% endif %}
                    </td>
                {% endif %}

                {% if entity.attributes is defined %}
                    <td>
                        {% for attribute in entity.attributes %}
                            {{ attribute }}
                        {% endfor %}
                    </td>
                {% endif %}

                {% if entity.value is defined %}
                    <td>{{ entity.value }}</td>
                {% endif %}
                {% if entity.roles is defined %}
                    <td>
                        {% for role in entity.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                {% endif %}

                {% if entity.action is defined %}
                    <td>{{ entity.action }}</td>
                {% endif %}

                {% if entity.alias is defined %}
                    <td>{{ entity.alias }}</td>
                {% endif %}

                {% if entity.description is defined %}
                    <td>{{ entity.description }}</td>
                {% endif %}

                {% if entity.original is defined %}
                    <td>{{ entity.original }}</td>
                {% endif %}

                {% if entity.synonyms is defined %}
                    <td>
                        {% for synonym in entity.synonyms %}
                            <p>{{ synonym }}</p>
                        {% endfor %}
                    </td>
                {% endif %}

                <td>{{ entity.type }}</td>
                <td>{{ entity.orderinlist }}</td>

                <td>{{ entity.creator }}</td>
                <td>{% if entity.createdate %}{{ entity.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>{{ entity.updatedby }}</td>
                <td>{% if entity.updatedon %}{{ entity.updatedon|date('Y-m-d H:i:s') }}{% endif %}</td>


                {#<td class="rowlink-skip">#}
                    {#<a class="btn btn-xs btn-default" href="{{ path(pathbase~'_edit', { 'id': entity.id }) }}">Edit</a>#}
                {#</td>#}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <a href="{{ path(pathbase~'_new') }}">
        Create a new entry
    </a>

{% endmacro %}


{% macro showResearchLabPi( labs, simplefield ) %}
    {% if labs is defined %}
        {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
        {% for lab in labs %}
            {% if lab.researchPI == true %}

                {% if lab.user|length > 0 and simplefield is defined and simplefield == true %}
                    <strong>Principal Investigator(s):</strong><br>
                {% endif %}

                {% for user in lab.user %}
                    {{ user.getUserNameStr() }}
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}


{% macro listNew( form, pathbase ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import _self as listmacros %}

    {#{{ form(form) }}#}
    {{ form_start(form) }}

    {% if form.types is defined and form.vars.value.types is defined %}
        {{ formmacros.field(form.types) }}
    {% endif %}

    {{ formmacros.field(form.list.name) }}
    {{ formmacros.field(form.list.shortname) }}
    {{ formmacros.field(form.list.abbreviation) }}

    {% if form.level is defined %}
        {{ formmacros.field(form.level) }}
    {% endif %}

    {% if form.nativeName is defined %}
        {{ formmacros.field(form.nativeName) }}
    {% endif %}

    {% if form.parent is defined and entity.level is not defined and form.vars.value.parent is defined %}
        {{ formmacros.field(form.parent) }}
    {% endif %}

    {% if form.attributes is defined and form.vars.value.attributes is defined %}
        {{ formmacros.field(form.attributes) }}
    {% endif %}

    {% if form.value is defined %}
        {{ formmacros.field(form.value) }}
    {% endif %}

    {% if form.list.original is defined %}
        {{ formmacros.field(form.list.original) }}
    {% endif %}

    {% if form.list.synonyms is defined %}
        {{ formmacros.field(form.list.synonyms) }}
    {% endif %}

    {% if form.action is defined %}
        {{ formmacros.field(form.action) }}
    {% endif %}

    {% if form.alias is defined %}
        {{ formmacros.field(form.alias) }}
    {% endif %}

    {% if form.list.description is defined %}
        {{ formmacros.field(form.list.description) }}
    {% endif %}

    {{ formmacros.field(form.list.type) }}

    {{ formmacros.field(form.list.creator) }}

    {{ formmacros.field(form.list.createdate) }}

    {{ formmacros.field(form.list.orderinlist) }}

    {% if form.list.updatedby is defined %}
        {{ formmacros.field(form.list.updatedby) }}
    {% endif %}

    {% if form.list.updatedon is defined %}
        {{ formmacros.field(form.list.updatedon) }}
    {% endif %}


    {#additional attributes#}
    {{ listmacros.additionalRelationships( form ) }}


    {{ form_widget(form.submit) }}
    <a class="btn btn-info" type="button" href="{{ path(pathbase~'-list') }}">Cancel</a>

    {{ form(form) }}

    {{ form_end(form) }}

    <br>
    <p>
        <a href="{{ path(pathbase~'-list') }}">
            Back to the list
        </a>
    </p>

{% endmacro %}




{% macro listEdit( entity, edit_form, delete_form, pathbase, cycle ) %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import _self as listmacros %}

    {{ form_start(edit_form) }}

    {% if edit_form.parent is defined and entity.parent is defined and entity.level is not defined %}
        {{ formmacros.field(edit_form.parent) }}
    {% endif %}

    {% if edit_form.types is defined and edit_form.vars.value.types is defined %}
        {{ formmacros.field(edit_form.types) }}
    {% endif %}

    {{ formmacros.field(edit_form.list.name) }}
    {{ formmacros.field(edit_form.list.shortname) }}
    {{ formmacros.field(edit_form.list.abbreviation) }}

    {% if entity.level is defined %}
        {{ formmacros.field(edit_form.level) }}
    {% endif %}

    {% if entity.nativeName is defined %}
        {{ formmacros.field(edit_form.nativeName) }}
    {% endif %}

    {% if entity.value is defined %}
        {{ formmacros.field(edit_form.value) }}
    {% endif %}

    {% if edit_form.list.original is defined %}
        {{ formmacros.field(edit_form.list.original) }}
    {% endif %}

    {% if edit_form.list.synonyms is defined %}
        {{ formmacros.field_notempty(edit_form.list.synonyms,cycle) }}
    {% endif %}

    {% if edit_form.action is defined %}
        {{ formmacros.field(edit_form.action) }}
    {% endif %}

    {% if edit_form.alias is defined %}
        {{ formmacros.field(edit_form.alias) }}
    {% endif %}

    {% if edit_form.list.description is defined %}
        {{ formmacros.field(edit_form.list.description) }}
    {% endif %}

    {% if edit_form.attributes is defined and entity.attributes is defined %}
        {{ formmacros.field(edit_form.attributes) }}
    {% endif %}

    {{ formmacros.field(edit_form.list.type) }}

    {{ formmacros.field(edit_form.list.orderinlist) }}

    {{ formmacros.field(edit_form.list.creator) }}

    {{ formmacros.field(edit_form.list.createdate) }}

    {% if edit_form.list.updatedby is defined %}
        {{ formmacros.field(edit_form.list.updatedby) }}
    {% endif %}

    {% if edit_form.list.updatedon is defined %}
        {{ formmacros.field(edit_form.list.updatedon) }}
    {% endif %}

    {% if entity.researchlab is defined %}
        <br>
        <p>
        {{ listmacros.showResearchLabPi( entity.researchlab, true ) }}
        </p>
    {% endif %}


    {#additional attributes#}
    {{ listmacros.additionalRelationships( edit_form ) }}


    {% if edit_form.submit is defined %}
        <br />
        <p>
            {{ form_widget(edit_form.submit) }}
            <a class="btn btn-info" type="button" href="{{ path(pathbase~'_show', { 'id': entity.id }) }}">Cancel</a>
            {#{% if delete_form is defined and delete_form.submit is defined %}#}
                {#{{ form_widget(delete_form.submit) }}#}
            {#{% endif %}#}
        </p>
    {% endif %}

    {{ form(edit_form) }}

    {{ form_end(edit_form) }}

    {#{% if cycle is defined and cycle == 'edit' %}#}
        {#<div class="record_actions">#}
            {#{{ form(delete_form) }}#}
        {#</div>#}
    {#{% endif %}#}

    <br>

    {% if cycle == 'show' and (is_granted('ROLE_USERDIRECTORY_EDITOR') or is_granted('ROLE_SCANORDER_PROCESSOR')) %}
        <p>
            <a class="btn btn-success" href="{{ path(pathbase~'_edit', { 'id': entity.id }) }}">Edit</a>
        </p>
    {% endif %}

    <br />

    <p>
        <a href="{{ path(pathbase~'-list') }}">Back to the list</a>
    </p>

{% endmacro %}


{#additional attributes#}
{% macro additionalRelationships( form ) %}
    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

    <hr>

    {#floors display for: suites, rooms#}
    {% if form.floors is defined %}
        {{ formmacros.field(form.floors) }}
    {% endif %}

    {#suites display for: floor, rooms#}
    {% if form.suites is defined %}
        {{ formmacros.field(form.suites) }}
    {% endif %}

    {#rooms display for: floor#}
    {% if form.rooms is defined %}
        {{ formmacros.field(form.rooms) }}
    {% endif %}

    {#buildings display for: suite, room#}
    {% if form.buildings is defined %}
        {{ formmacros.field(form.buildings) }}
    {% endif %}

    {#departments display for: suite, room#}
    {% if form.departments is defined %}
        {{ formmacros.field(form.departments) }}
    {% endif %}
{% endmacro %}
