{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% block title %}
    Slide #{{ entity.id }}
{% endblock %}

{% block content %}
{% block body -%}

    <div class="panel panel-patient">

        <div class="panel-heading" align="left">
            <h3 class="text-info">Slide #{{ entity.id }}</h3>
        </div>

        <div class="panel-body">
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr>
                        <th class="span6">Id</th>
                        <td class="span6">{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th class="span6">Diagnosis</th>
                        <td class="span6">{{ entity.diagnosis }}</td>
                    </tr>
                    <tr>
                        <th class="span6">Microscopicdescr</th>
                        <td class="span6">{{ entity.microscopicdescr }}</td>
                    </tr>
                    <tr>
                        <th class="span6">Specialstains</th>
                        <td class="span6">
                            {% for specialstain in entity.SpecialStains %}
                                <p>{{ specialstain }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th class="span6">Relevantscans</th>
                        <td class="span6">
                            {% for relevantscan in entity.relevantScans %}
                                <p>{{ relevantscan }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>


    {% for scan in entity.scan %}
    <div class="panel panel-patient">
        <div class="panel-heading" align="left">
            <h3 class="text-info">Scan ID:{{ scan.id }}</h3>
        </div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <tbody>
                <tr>
                    <th class="span6">Mag</th>

                        <td class="span6">{{ scan.mag }}</td>

                </tr>
                <tr>
                    <th class="span6">Scanregion</th>
                    <td class="span6">{{ scan.scanregion }}</td>
                </tr>
                <tr>
                    <th class="span6">Note</th>
                    <td class="span6">{{ scan.note }}</td>
                </tr>
                <tr>
                    <th class="span6">Status</th>
                    <td class="span6">{{ scan.status }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}


    {% for stain in entity.stain %}
    <div class="panel panel-patient">
        <div class="panel-heading" align="left">
            <h3 class="text-info">Stain ID:{{ stain.id }}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-condensed">
                <tbody>
                <tr>
                    <th class="span6">Stain</th>
                    <td class="span6">{{ stain.name }}</td>
                </tr>
                <tr>
                    <th class="span6">Stainer</th>
                    <td class="span6">{{ stain.stainer }}</td>
                </tr>
                <tr>
                    <th class="span6">Date</th>
                    <td class="span6">{{ stain.date|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

    {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('slide') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('slide_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<form action="{{ path('slide_delete', { 'id': entity.id }) }}" method="post">#}
            {#<input type="hidden" name="_method" value="DELETE" />#}
            {#{{ form_widget(delete_form) }}#}
            {#<button type="submit">Delete</button>#}
        {#</form>#}
    {#</li>#}
    {#</ul>#}

{% endblock %}
{% endblock %}
