{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{% extends "AppResAppBundle/Default/base.html.twig" %}

{% block header %}
    {#no navbar#}
{% endblock %}

{% import "AppResAppBundle/Default/resappmacros.html.twig" as resappmacros %}

{% block title %}
    Interview Form for Residency Application {{ entity.resapp.id }}
{% endblock %}


{% block content %}

    <br>

    <h4 class="text-info" align="center">
        <div>
            {#{% if entity.resapp.appStatus %}#}
                {#<p>{{ entity.resapp.appStatus.action }}</p>#}
            {#{% endif %}#}
            Residency Application ID {{ entity.resapp.id }}
            {#, submitted on {{ entity.resapp.timestamp|date('m/d/Y H:i','UTC') }}, imported on {{ entity.resapp.createdate|date('m/d/Y H:i','UTC') }}#}
        </div>
    </h4>

    {#applicant's snapshot#}
    {{ resappmacros.snapshot(entity.resapp,sitename,cycle) }}
    <br>

    {{ form_start(form,{'attr': {'id': 'resapp-interview-form'}}) }}

    {{ form_errors(form) }}

    <div class="user-collection-holder">
        {{ resappmacros.interviewMainForm( form ) }}
    </div>

    {#{% do form.interviewer.setRendered %}#}
    {#{% do form.location.setRendered %}#}
    {#{% do form.interviewDate.setRendered %}#}
    {#{% do form.startTime.setRendered %}#}
    {#{% do form.endTime.setRendered %}#}

    <br>
    <div id="error-div" class="alert alert-danger" role="alert" style="display:none;"></div>

    {% if cycle == 'show' %}
        <br><br>
        <div class="alert alert-info">
            Your evaluation was received and is shown above. <br>
            If you have any questions or would like to make any changes, please email the residency coordinator.
        </div>

        {#add submitter if exists (Submitted by)#}
        {% if entity.submitter and entity.interviewer.id != entity.submitter.id %}
            <p>Submitted by {{ entity.submitter.getUsernameOptimal() }}</p>
        {% endif %}
    {% endif %}

    {% if cycle == 'edit' %}

        <br>
        <a href="{{ path('resapp_download_pdf',{'id':entity.resapp.id}) }}">{{ entity.resapp.user.getUsernameOptimal() }}'s Complete Application PDF</a>
        <br>
        <br>
        Thank you for your feedback, {{ app.user.getUsernameOptimal() }}
        <br>

        {#add submitter if different from interviewer#}
        {% if entity.interviewer.id != app.user.id %}
            <p>Submit evaluation on behalf of an interviewer {{ entity.interviewer.getUsernameOptimal() }}</p>
        {% endif %}

    {% endif %}

    {% if cycle == "edit" %}
        <br>
        <p>
            <button class="btn btn-warning" type="button" onclick="validateInterviewForm();">Submit</button>
        </p>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}


{% block additionaljs %}

<script language="Javascript">


    $(document).ready(function() {

        //add listener on rank change
        listenerResAppRank(null);

    });


    function validateInterviewForm() {

        $('#error-div').html("");
        $('#error-div').hide();

        var errorArr = [];

        var holder = $('.user-collection-holder');

        var academicRank = getValueFromRankString(holder,'.interview-academicRank');
        var personalityRank = getValueFromRankString(holder,'.interview-personalityRank');
        var potentialRank = getValueFromRankString(holder,'.interview-potentialRank');


        if( !academicRank ) {
            errorArr.push("Please select an Academic Score");
        }

        if( !personalityRank ) {
            errorArr.push("Please select a Personality Score");
        }

        if( !potentialRank ) {
            errorArr.push("Please select an Overall Potential Score");
        }

//        var comment = $('.interview-comment').val();
//        if( !comment ) {
//            errorArr.push("Please provide a comment");
//        }

        var languageProficiency = getLanguageProficiencyRank();       
        if( !languageProficiency ) {
            errorArr.push("Please select Language Proficiency");
        }

        var fitForProgram = getFitForProgram();
        if( !fitForProgram ) {
            errorArr.push("Please select Fit for Program");
        }

        if( errorArr.length > 0 ) {
            $('#error-div').html( errorArr.join("<br>") );
            $('#error-div').show();
            return false;
        }

        $('#resapp-interview-form').submit();
    }

    function getLanguageProficiencyRank() {
        var languageProficiency = null;       
        if( isIE() && isIE() <= 7 ) {
            //id=oleg_resappbundle_interview_languageProficiency
            var element = document.getElementById("oleg_resappbundle_interview_languageProficiency");
            languageProficiency = getSelect2Text(element);
        } else {
            if( $('.interview-languageProficiency').select2('data') ) {
                languageProficiency = $('.interview-languageProficiency').select2('data').text;
            }
        }
        return languageProficiency;
    }

    function getFitForProgram() {
        var fitForProgram = null;
        if( isIE() && isIE() <= 7 ) {
            var element = document.getElementById("oleg_resappbundle_interview_fitForProgram");
            fitForProgram = getSelect2Text(element);
        } else {
            if( $('.interview-fitForProgram').select2('data') ) {
                fitForProgram = $('.interview-fitForProgram').select2('data').text;
            }
        }
        return fitForProgram;
    }

</script>

{% endblock %}









