{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    <p>
        {#If your project request involves collaboration with any#}
        {#<a target="_blank" href="https://pathology.weill.cornell.edu/clinical-services/hematopathology"#}
        {#>Weill Cornell Hematopathology faculty members</a>,<br>#}
        {#please press the "New Hematopathology Project Request" button.<br>#}
        {#For all other project requests, please press the "New AP/CP Project Request" button.#}

        {{ user_security_utility.getSiteSettingParameter("transresProjectSelectionNote")|raw }}
    </p>

    <br>


    {% for specialty in specialties %}
        <p>
            <a class="btn btn-primary" href="{{ path(translationalresearch_sitename~'_project_new',{'specialtyStr':specialty.getAbbreviation()}) }}"
            >New {{ specialty.getName() }} Project Request</a>
        </p>
    {% endfor %}

{% endblock %}

{% block mainjs %}
    {#Remove timeout#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-1.11.0.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/jquery/jquery-3.6.0.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/bootstrap/js/bootstrap.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/spin.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/ladda/ladda.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/datepicker/js/bootstrap-datepicker.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/select2/js/select2.full.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/inputmask/jquery.inputmask.bundle.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/jasny/js/rowlink.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/q-1/q.js') }}"></script>#}
    <script src="{{ asset('orderassets/AppUserdirectoryBundle/pnotify/pnotify.custom.min.js') }}"></script>

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/dropzone/dropzone.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-fileuploads.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-navbar.js') }}"></script>#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-common.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-form.js') }}"></script>#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimeout.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/idletimeout/jquery.idletimer.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-idleTimeout.js') }}"></script>#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-selectAjax.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-treeSelectAjax.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/vakata-jstree/jstree.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-jstree.js') }}"></script>#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formnode.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-formReady.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-masking.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-basetitles.js') }}"></script>#}

    {#<script src="{{ asset('orderassets/AppOrderformBundle/form/js/modal.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppOrderformBundle/form/js/tooltips.js') }}"></script>#}

    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/typeahead/typeahead.bundle.min.js') }}"></script>#}
    {#<script src="{{ asset('orderassets/AppUserdirectoryBundle/form/js/user-typeahead.js') }}"></script>#}


    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}

{% endblock %}

