{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    {% if messageToUsers is not defined %}
        {% set messageToUsers = transres_util.getTrpMessageToUsers(project) %}
    {% endif %}
    {% if messageToUsers is defined and messageToUsers %}
        <h5 class="alert alert-danger well-lg safary-fix" align="center">
            {{ messageToUsers|raw }}
        </h5>
    {% endif %}

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>

    {% if approvedProjectBudgetInfo is not defined %}
        {% set approvedProjectBudgetInfo = "" %}
    {% endif %}
    <p>
        {{ approvedProjectBudgetInfo }}
    </p>
    <br>

    {% if project.state == "final_approved" %}
        {#Submit a New Request#}
        {% if transres_request_util.isRequestCanBeCreated(project) == 1 %}
            <a class="btn btn-primary"
               href="{{ path(translationalresearch_sitename~'_request_new', { 'id': project.id }) }}"
               target="_blank">New Work Request</a>
        {% endif %}

        {#See associated requests if the number of associated requests is greater than zero#}
        {% if project.getRequests()|length > 0 %}
            <a class="btn btn-primary"
               href="{{ path(translationalresearch_sitename~'_request_index', { 'id': project.id }) }}"
               target="_blank">Associated Work Requests</a>
        {% endif %}

        {#See event log#}
        {#{% if is_granted('ROLE_TRANSRES_ADMIN') %}#}
        {% if transres_permission_util.hasProjectPermission('view-log',project) %}
            {% if eventObjectTypeId is defined and eventObjectTypeId %}
                <a class="btn btn-primary"
                   href="{{ path('translationalresearch_event-log-per-object_log', { 'filter[objectType][]': eventObjectTypeId, 'filter[objectId]': project.id}) }}"
                   target="_blank">Associated Events</a>
                {#<a class="btn btn-primary"#}
                   {#href="{{ path('translationalresearch_event-log-per-object_log', { 'objectType': eventObjectTypeId, 'objectId': project.id}) }}"#}
                   {#target="_blank">View Event Log</a>#}
            {% endif %}
        {% endif %}
    {% endif %}

    {#{% if is_granted('ROLE_TRANSRES_ADMIN') or transres_util.isProjectEditableByRequester(project) %}#}
    {% if transres_permission_util.hasProjectPermission('update',project) %}
        {#<p>#}
        <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}">Edit Project Request</a>
        {#</p>#}
        {#<br>#}
    {% endif %}

    {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
        {#<a class="btn btn-danger"#}
           {#general-data-confirm="Are you sure you want to delete project {{ project.oid }}?"#}
           {#href="{{ path(translationalresearch_sitename~'_project_delete_get', { 'id': project.id }) }}"#}
           {#target="_blank">Delete Project Request (Visible to Platform Admin Only)</a>#}
    {#{% endif %}#}

    <br><br>

    {% set sitename = translationalresearch_sitename %}

    {#{{ transres.projectHeader(project) }}#}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {{ form_start(form) }}

        {{ transres.projectHeaders(form,project,cycle) }}

        {{ transres.projectRequesters(form,project,cycle) }}

        {{ transres.projectBodyFormFields(form,project,cycle) }}

        {{ transres.projectInfo(form,project,cycle) }}

        {{ transres.getProjectShowPrototypeFormData(form,cycle,sitename) }}
        {{ transres.projectReviews(form,cycle,sitename,1) }}

    {{ form_end(form) }}


    <div>

        {#{% if is_granted('ROLE_TRANSRES_ADMIN') or transres_util.isProjectEditableByRequester(project) %}#}
        {% if transres_permission_util.hasProjectPermission('update',project) %}
            <br>
            <p>
                <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}">Edit Project Request</a>
            </p>
        {% endif %}
        {#{{ transres.projectHeader(project) }}#}

        <br>
        <br>
        <p>
            <a href="{{ path(translationalresearch_sitename~'_project_index') }}">Back to the list</a>
        </p>

        {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
            {#{{ form_start(delete_form) }}#}
                {#<input class="btn btn-danger" type="submit" value="Delete Project (Visible to Platform Admin only)">#}
            {#{{ form_end(delete_form) }}#}
            {#<a class="btn btn-danger"#}
               {#general-data-confirm="Are you sure you want to delete project {{ project.oid }}?"#}
               {#href="{{ path(translationalresearch_sitename~'_project_delete_get', { 'id': project.id }) }}"#}
               {#target="_blank">Delete Project Request (Visible to Platform Admin Only)</a>#}
        {#{% endif %}#}

    </div>


{% endblock %}

{#{% block additionaljs %}#}
    {#{% javascripts#}
    {#'@AppTranslationalResearchBundle/Resources/public/form/js/transres.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {#<script src="{{ asset('orderassets/AppTranslationalResearchBundle/form/js/transres.js') }}"></script>#}
{#{% endblock %}#}

{% block javascripts %}
    {#import using webpack transres.js (assets/transres/js/index.jsx)#}
    {{ encore_entry_script_tags('transresjs') }}
{% endblock %}