{#
    Copyright 2018 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}

{#{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}#}

{% if sitename == 'employees' %}
    {% set extendStr = "AppUserdirectoryBundle/Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "AppFellAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'resapp' %}
    {% set extendStr = "AppResAppBundle/Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "AppDeidentifierBundle/Default/base.html.twig" %}
{% elseif sitename == 'scan' %}
    {% set extendStr = "AppOrderformBundle/Default/base.html.twig" %}
{% elseif sitename == 'vacreq' %}
    {% set extendStr = "AppVacReqBundle/Default/base.html.twig" %}
{% elseif sitename == 'calllog' %}
    {% set extendStr = "AppCallLogBundle/Default/base.html.twig" %}
{% elseif sitename == 'crn' %}
    {% set extendStr = "AppCrnBundle/Default/base.html.twig" %}
{% elseif sitename == 'translationalresearch' %}
    {% set extendStr = "AppTranslationalResearchBundle/Default/base.html.twig" %}
{% elseif sitename == 'dashboard' %}
    {% set extendStr = "AppDashboardBundle/Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}


{% block title %}
    Registration Activation for {{ sitenamefull }}
{% endblock %}


{% block content %}

    {% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
    {% import "AppUserdirectoryBundle/Default/usermacros.html.twig" as usermacros %}
    {% import "AppUserdirectoryBundle/Tree/treemacros.html.twig" as treemacros %}

    <h3 class="text-info">Registration Activation for {{ sitenamefull }}</h3>

    <hr>

    {{ form_start(form) }}

        {{ formmacros.simplefield( "User Name:", user.primaryPublicUserId, "", "disabled" ) }}

        {% for info in form.infos %}
            {{ formmacros.field(info.email,'Email:','readonly') }}
            {{ formmacros.field(info.firstName) }}
            {{ formmacros.field(info.lastName) }}
            {#{{ usermacros.emailPhoneField(info.email,cycle,'email',"") }}#}
            {{ usermacros.emailPhoneField(info.preferredPhone,cycle,'phone',"") }}
            {{ usermacros.mobilePhoneField(info,cycle,"") }}

            {% do info.setRendered %}
        {% endfor %}

        <div class="user-administrativeTitles-holder">
            {% for administrativeTitle in form.administrativeTitles %}

                {% if administrativeTitle.name is defined %}
                    {{ formmacros.field(administrativeTitle.name) }}
                {% endif %}

                {% if administrativeTitle.institution is defined %}
                    {{ treemacros.compositeTreeNode(administrativeTitle.institution,cycle,'noprototype') }}
                {% endif %}

                {% do administrativeTitle.setRendered %}
            {% endfor %}
        </div>

        {% if form.activate is defined %}
            <p>
                {{ form_widget(form.activate) }}
            </p>
        {% endif %}

    {{ form_end(form) }}
    {#{{ form_end(form,{'render_rest': false}) }}#}


{% endblock %}

