
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">
            <a data-toggle="collapse" href="#fellowship-site-settings">
                Fellowship Applications Site Settings
            </a>
        </h4>
    </div>
    <div id="fellowship-site-settings" class="panel-collapse collapse in">
        <div class="panel-body">

            <table class="records_list table table-bordered table-hover table-condensed text-left">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">

                    {#AllowPopulateFellApp#}
                    <tr>
                        <td>Allow to populate Fellowship Applications from Google Form by cron job</td>
                        <td>
                            {% set allowPopulateFellAppStr = 'No' %}
                            {% if entity.allowPopulateFellApp == true %}
                                {% set allowPopulateFellAppStr = 'Yes' %}
                            {% endif %}
                            {{ allowPopulateFellAppStr }}
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'allowPopulateFellApp'}) }}">Edit</a></td>

                    </tr>

                    <tr>
                        <td>Application Submit Confirmation Email</td>
                        <td>{{ entity.confirmationEmailFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'confirmationEmailFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Application Submit Confirmation Email Subject</td>
                        <td>{{ entity.confirmationSubjectFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'confirmationSubjectFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Application Submit Confirmation Email Body</td>
                        <td>{{ entity.confirmationBodyFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'confirmationBodyFellApp'}) }}">Edit</a></td>
                    </tr>


                    <tr>
                        <td>Link to the Application Page</td>
                        <td>{{ entity.applicationPageLinkFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'applicationPageLinkFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Client Email</td>
                        <td>{{ entity.clientEmailFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'clientEmailFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Full Path to p12 key file</td>
                        <td>{{ entity.p12KeyPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'p12KeyPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Impersonate user Email</td>
                        <td>{{ entity.userImpersonateEmailFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'userImpersonateEmailFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Id of excel file</td>
                        <td>{{ entity.excelIdFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'excelIdFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Local Institution for Import Application (example "Pathology Fellowship Programs (WCMC)")</td>
                        <td>{{ entity.localInstitutionFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'localInstitutionFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Delete successfully imported applications from Google Drive</td>
                        <td>
                            {{ entity.deleteImportedAplicationsFellApp }}
                            {% set deleteImportedAplicationsFellAppStr = 'No' %}
                            {% if entity.deleteImportedAplicationsFellApp == true %}
                                {% set deleteImportedAplicationsFellAppStr = 'Yes' %}
                            {% endif %}
                            {{ deleteImportedAplicationsFellAppStr }}
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'deleteImportedAplicationsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Automatically delete downloaded applications that are older than [X] year(s)</td>
                        <td>
                            {{ entity.deleteOldAplicationsFellApp }}
                            {% set deleteOldAplicationsFellAppStr = 'No' %}
                            {% if entity.deleteOldAplicationsFellApp == true %}
                                {% set deleteOldAplicationsFellAppStr = 'Yes' %}
                            {% endif %}
                            {{ deleteOldAplicationsFellAppStr }}
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'deleteOldAplicationsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Number of years after applications are deleted</td>
                        <td>{{ entity.yearsOldAplicationsFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'yearsOldAplicationsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Relative to "Fellowship Application Upload Folder" path to spreadsheets file (example "Spreadsheets")</td>
                        <td>{{ entity.spreadsheetsPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'spreadsheetsPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Relative to "Fellowship Application Upload Folder" path to upload applicants documents (example "FellowshipApplicantUploads")</td>
                        <td>{{ entity.applicantsUploadPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'applicantsUploadPathFellApp'}) }}">Edit</a></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

