
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">
            <a data-toggle="collapse" href="#fellowship-site-settings">
                Fellowship Applications Site Settings
            </a>
        </h4>
    </div>
    <div id="fellowship-site-settings" class="panel-collapse collapse in">
        <div class="panel-body">

            <table class="records_list table table-bordered table-hover table-condensed text-left">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">

                    {#AllowPopulateFellApp#}
                    <tr>
                        <td class="rowlink-skip">
                            Periodically import fellowship applications submitted via the Google form
                            <a style="color:#428bca" href="{{ path('fellapp_instructions') }}" target="_blank">View instructions to change the interval</a>
                        </td>
                        <td>
                            {% set allowPopulateFellAppStr = 'No' %}
                            {% if entity.allowPopulateFellApp == true %}
                                {% set allowPopulateFellAppStr = 'Yes' %}
                            {% endif %}
                            {{ allowPopulateFellAppStr }}
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'allowPopulateFellApp'}) }}">Edit</a></td>

                    </tr>

                    <tr>
                        <td>Email address for confirmation of application submission</td>
                        <td>{{ entity.confirmationEmailFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'confirmationEmailFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Email subject for confirmation of application submission</td>
                        <td>{{ entity.confirmationSubjectFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'confirmationSubjectFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Email body for confirmation of application submission</td>
                        <td>{{ entity.confirmationBodyFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'confirmationBodyFellApp'}) }}">Edit</a></td>
                    </tr>


                    <tr>
                        <td>Link to the Application Page</td>
                        <td class="rowlink-skip">
                            <a href="{{ entity.applicationPageLinkFellApp }}" target="_blank">{{ entity.applicationPageLinkFellApp }}</a>
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'applicationPageLinkFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Client Email for accessing the Google Drive API (1040591934373-1sjcosdt66bmani0kdrr5qmc5fibmvk5@developer.gserviceaccount.com)</td>
                        <td>{{ entity.clientEmailFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'clientEmailFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Full Path to p12 key file for accessing the Google Drive API (E:\Program Files (x86)\Aperio\Spectrum\htdocs\order\scanorder\Scanorders2\src\Oleg\FellAppBundle\Util\FellowshipApplication-f1d9f98353e5.p12)</td>
                        <td class="rowlink-skip">{{ entity.p12KeyPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'p12KeyPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Google Drive API URL (https://www.googleapis.com/auth/drive)</td>
                        <td class="rowlink-skip">{{ entity.googleDriveApiUrlFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'googleDriveApiUrlFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Impersonate the following user email address for accessing the Google Drive API (olegivanov@pathologysystems.org)</td>
                        <td>{{ entity.userImpersonateEmailFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'userImpersonateEmailFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>ID of the spreadsheet file with fellowship applications on Google Drive (1DN1BEbONKNmFpHU6xBo69YSLjXCnhRy0IbyXrwMzEzc)</td>
                        <td>{{ entity.excelIdFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'excelIdFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Local Organizational Group for imported fellowship applications (Pathology Fellowship Programs (WCMC))</td>
                        <td>{{ entity.localInstitutionFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'localInstitutionFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Delete successfully imported applications from Google Drive</td>
                        <td>
                            {{ entity.deleteImportedAplicationsFellApp }}
                            {% set deleteImportedAplicationsFellAppStr = 'No' %}
                            {% if entity.deleteImportedAplicationsFellApp == true %}
                                {% set deleteImportedAplicationsFellAppStr = 'Yes' %}
                            {% endif %}
                            {{ deleteImportedAplicationsFellAppStr }}
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'deleteImportedAplicationsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Delete downloaded spreadsheets with fellowship applications after successful import into the database</td>
                        <td>
                            {{ entity.deleteOldAplicationsFellApp }}
                            {% set deleteOldAplicationsFellAppStr = 'No' %}
                            {% if entity.deleteOldAplicationsFellApp == true %}
                                {% set deleteOldAplicationsFellAppStr = 'Yes' %}
                            {% endif %}
                            {{ deleteOldAplicationsFellAppStr }}
                        </td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'deleteOldAplicationsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Number of years to keep downloaded spreadsheets with fellowship applications as backup</td>
                        <td>{{ entity.yearsOldAplicationsFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'yearsOldAplicationsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="rowlink-skip element-table-with-tooltip-always"
                            data-toggle="tooltip" title='the root folder is set by "Fellowship Application Upload Folder" under "Uploads" section'>
                            Path to the downloaded spreadsheets with fellowship applications relative to the "Fellowship Application Upload Folder" (Spreadsheets).
                            <br>
                            Resulting Path: {{ uploadPath ~ fellapp_uploadpath|replace({'/':'\\'}) ~'\\'~ entity.spreadsheetsPathFellApp }}
                        </td>
                        <td>{{ entity.spreadsheetsPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'spreadsheetsPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="rowlink-skip element-table-with-tooltip-always"
                            data-toggle="tooltip" title='the root folder is set by "Fellowship Application Upload Folder" under "Uploads" section'>
                            Path to the downloaded attached documents relative to the "Fellowship Application Upload Folder" (FellowshipApplicantUploads).
                            <br>Resulting Path: {{ uploadPath ~ fellapp_uploadpath|replace({'/':'\\'}) ~'\\'~ entity.applicantsUploadPathFellApp }}
                        </td>
                        <td>{{ entity.applicantsUploadPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'applicantsUploadPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="rowlink-skip element-table-with-tooltip-always"
                            data-toggle="tooltip" title='the root folder is set by "Fellowship Application Upload Folder" under "Uploads" section'>
                            Path to the generated fellowship applications in PDF format relative to the "Fellowship Application Upload Folder" (Reports).
                            <br>Resulting Path: {{ uploadPath ~ fellapp_uploadpath|replace({'/':'\\'}) ~'\\'~ entity.reportsUploadPathFellApp }}
                        </td>
                        <td>{{ entity.reportsUploadPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'reportsUploadPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Command to convert a file to pdf using LibreOffice (C:\Program Files (x86)\LibreOffice 5\program)</td>
                        <td>{{ entity.libreOfficeConvertToPDFPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'libreOfficeConvertToPDFPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>LibreOffice executable file (soffice)</td>
                        <td>{{ entity.libreOfficeConvertToPDFFilenameFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'libreOfficeConvertToPDFFilenameFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>LibreOffice arguments (--headless -convert-to pdf -outdir)</td>
                        <td>{{ entity.libreOfficeConvertToPDFArgumentsdFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'libreOfficeConvertToPDFArgumentsdFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Path to pdftk for PDF concatenation (E:\Program Files (x86)\Aperio\Spectrum\htdocs\order\scanorder\Scanorders2\vendor\olegutil\PDFTKBuilderPortable\App\pdftkbuilder)</td>
                        <td>{{ entity.pdftkPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pdftkPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>pdftk executable file (pdftk)</td>
                        <td>{{ entity.pdftkFilenameFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pdftkFilenameFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>pdftk arguments (###inputFiles### cat output ###outputFile### dont_ask) (pdftk)</td>
                        <td>{{ entity.pdftkArgumentsFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'pdftkArgumentsFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Path to Ghostscript for stripping PDF password protection (E:\Program Files (x86)\Aperio\Spectrum\htdocs\order\scanorder\Scanorders2\vendor\olegutil\Ghostscript\bin\gswin64c.exe)</td>
                        <td>{{ entity.gsPathFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'gsPathFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Ghostscript executable file (gswin64c.exe)</td>
                        <td>{{ entity.gsFilenameFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'gsFilenameFellApp'}) }}">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Ghostscript arguments (-q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile= ###outputFile###  -c .setpdfwrite -f ###inputFiles###)</td>
                        <td>{{ entity.gsArgumentsFellApp }}</td>
                        <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'gsArgumentsFellApp'}) }}">Edit</a></td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>

