
{% if sitename == 'employees' %}
    {% set extendStr = "OlegUserdirectoryBundle::Default/base.html.twig" %}
{% endif %}

{% if sitename == 'fellapp' %}
    {% set extendStr = "OlegFellAppBundle::Default/base.html.twig" %}
{% endif %}

{% if sitename == 'scan' %}
    {% set extendStr = "OlegOrderformBundle::Default/base.html.twig" %}
{% endif %}

{% if sitename == 'deidentifier' %}
    {% set extendStr = "OlegDeidentifierBundle::Default/base.html.twig" %}
{% endif %}

{% if sitename == 'vacreq' %}
    {% set extendStr = "OlegVacReqBundle::Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}


{% block title %}
    {{ sitesettings_title }} {#Site Settings#}
{% endblock %}

{% block content %}

    {#<h3 class="text-info">{{ sitesettings_title }}</h3>#}
    {#<br>#}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">
            <a data-toggle="collapse" href="#platform-settings">
                Platform Settings
            </a>
        </h4>
    </div>
<div id="platform-settings" class="panel-collapse collapse">
    <div class="panel-body">

    <table class="table table-bordered table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">


            <tr>
                <td>Max Idle Time (minutes)</td>
                <td>{{ entity.maxIdleTime }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maxIdleTime'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Environment</td>
                <td>{{ entity.environment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'environment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td class="rowlink-skip">Kernel Environment:</td>
                <td class="rowlink-skip" colspan="2">{{ app.environment }}</td>
            </tr>
            <tr>
                <td>Current Hostname:</td>
                <td class="rowlink-skip" colspan="2">{{ phphostname }}; {{ app.request.schemeAndHttpHost }}</td>
            </tr>
            <tr>
                <td>Site Email</td>
                <td>{{ entity.siteEmail }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'siteEmail'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>SMTP Server Address</td>
                <td>{{ entity.smtpServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'smtpServerAddress'}) }}">Edit</a></td>
            </tr>

            


            {#ScanOrder DB#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>ScanOrder DB (Parameters are stored in {{ link }}):</h3>
                </td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Address</td>
                <td>{{ entity.dbServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAddress'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Port</td>
                <td>{{ entity.dbServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerPort'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account User Name</td>
                <td>{{ entity.dbServerAccountUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAccountUserName'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Password</td>
                <td>{{ entity.dbServerAccountPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbServerAccountPassword'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>ScanOrder DB Server Account Name</td>
                <td>{{ entity.dbDatabaseName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'dbDatabaseName'}) }}">Edit</a></td>
            </tr>


            {#AD/LDAP#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>AD/LDAP:</h3>
                </td>
            </tr>

            <tr>
                <td>Auto-Assign Institution name</td>
                <td>{{ entity.autoAssignInstitution }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'autoAssignInstitution'}) }}">Edit</a></td>
            </tr>

            <tr>
                <td>AD/LDAP Server Address</td>
                <td>{{ entity.aDLDAPServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Port (Default: 389)</td>
                <td>{{ entity.aDLDAPServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server OU (DCs)</td>
                <td>{{ entity.aDLDAPServerOu }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerOu'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account User Name</td>
                <td>{{ entity.aDLDAPServerAccountUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>AD/LDAP Server Account Password</td>
                <td>{{ entity.aDLDAPServerAccountPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aDLDAPServerAccountPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Authenticator Relative Path (Default: "../src/Oleg/UserdirectoryBundle/Util/" )</td>
                <td>{{ entity.ldapExePath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapExePath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LDAP/AD Authenticator File Name (Default: "LdapSaslCustom.exe" ):</td>
                <td>{{ entity.ldapExeFilename }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'ldapExeFilename'}) }}">Edit</a></td>
            </tr>

            {#CoPath#}
            {#Production#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>CoPath DB (Live AP LIS Environment):</h3>
                </td>
            </tr>
            <tr>
                <td>CoPath DB Server Address</td>
                <td>{{ entity.coPathDBServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Port</td>
                <td>{{ entity.coPathDBServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account User Name</td>
                <td>{{ entity.coPathDBAccountUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account Password</td>
                <td>{{ entity.coPathDBAccountPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath Database Name</td>
                <td>{{ entity.coPathDBName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Name</td>
                <td>{{ entity.LISName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Version</td>
                <td>{{ entity.LISVersion }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISVersion'}) }}">Edit</a></td>
            </tr>
            {#Test#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>CoPath DB (Test AP LIS Environment):</h3>
                </td>
            </tr>
            <tr>
                <td>CoPath DB Server Address</td>
                <td>{{ entity.coPathDBServerAddressTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerAddressTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Port</td>
                <td>{{ entity.coPathDBServerPortTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerPortTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account User Name</td>
                <td>{{ entity.coPathDBAccountUserNameTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountUserNameTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account Password</td>
                <td>{{ entity.coPathDBAccountPasswordTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountPasswordTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath Database Name</td>
                <td>{{ entity.coPathDBNameTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBNameTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Name</td>
                <td>{{ entity.LISNameTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISNameTest'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Version</td>
                <td>{{ entity.LISVersionTest }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISVersionTest'}) }}">Edit</a></td>
            </tr>
            {#Development#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>CoPath DB (Development AP LIS Environment):</h3>
                </td>
            </tr>
            <tr>
                <td>CoPath DB Server Address</td>
                <td>{{ entity.coPathDBServerAddressDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerAddressDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Port</td>
                <td>{{ entity.coPathDBServerPortDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBServerPortDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account User Name</td>
                <td>{{ entity.coPathDBAccountUserNameDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountUserNameDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath DB Server Account Password</td>
                <td>{{ entity.coPathDBAccountPasswordDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBAccountPasswordDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>CoPath Database Name</td>
                <td>{{ entity.coPathDBNameDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'coPathDBNameDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Name</td>
                <td>{{ entity.LISNameDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISNameDevelopment'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>LIS Version</td>
                <td>{{ entity.LISVersionDevelopment }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'LISVersionDevelopment'}) }}">Edit</a></td>
            </tr>

            {#Aperio#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Aperio eSlide Manager DB:</h3>
                </td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server Address</td>
                <td>{{ entity.aperioeSlideManagerDBServerAddress }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBServerAddress'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server Port</td>
                <td>{{ entity.aperioeSlideManagerDBServerPort }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBServerPort'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server User Name</td>
                <td>{{ entity.aperioeSlideManagerDBUserName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBUserName'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager DB Server Password</td>
                <td>{{ entity.aperioeSlideManagerDBPassword }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBPassword'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Aperio eSlide Manager Database Name</td>
                <td>{{ entity.aperioeSlideManagerDBName }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'aperioeSlideManagerDBName'}) }}">Edit</a></td>
            </tr>

            {#Footer#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Footer:</h3>
                </td>
            </tr>
            <tr>
                <td>Institution Name</td>
                <td>{{ entity.institutionname }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'institutionname'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Institution Url</td>
                <td>{{ entity.institutionurl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'institutionurl'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Department Name</td>
                <td>{{ entity.departmentname }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'departmentname'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Department URL</td>
                <td>{{ entity.departmenturl }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'departmenturl'}) }}">Edit</a></td>
            </tr>


            {#Maintenance#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Maintenance Mode:</h3>
                    <p>
                        Note: start maintenance after "Max Idle Time" minutes. This will insure that all users are logged out by JS.
                    </p>
                </td>
            </tr>
            <tr>
                <td>Maintenance</td>
                <td>
                    {% set maintenanceStr = 'No' %}
                    {% if entity.maintenance == true %}
                        {% set maintenanceStr = 'Yes' %}
                    {% endif %}
                    {{ maintenanceStr }}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenance'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Maintenance Until</td>
                {#<td>{{ entity.maintenanceenddate|date('m/d/Y H:i') }}</td>#}
                <td>{{ entity.getMaintenanceenddateString }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenanceenddate'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Maintenance Message on Logout (use [[datetime]] string to use "Maintenance Until" field)</td>
                <td>{{ entity.maintenancelogoutmsg }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenancelogoutmsg'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Maintenance Message on Login (use [[datetime]] string to use "Maintenance Until" field)</td>
                <td>{{ entity.maintenanceloginmsg }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'maintenanceloginmsg'}) }}">Edit</a></td>
            </tr>


            {#Uploads#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Uploads:</h3>
                </td>
            </tr>
            <tr>
                <td>Scan Orders Upload Folder (example: scan-order/documents)</td>
                <td>{{ entity.scanuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'scanuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Fellowship Application Upload Folder (example: fellapp/documents)</td>
                <td>{{ entity.fellappuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'fellappuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Employee Directory Upload Folder (example: directory/documents)</td>
                <td>{{ entity.employeesuploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'employeesuploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Employee Directory Avatar Upload Folder (example: directory/avatars)</td>
                <td>{{ entity.avataruploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'avataruploadpath'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Vacation Request Upload Folder (example: directory/vacreq)</td>
                <td>{{ entity.vacrequploadpath }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'vacrequploadpath'}) }}">Edit</a></td>
            </tr>

            {#Titles and Messages#}
            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Titles and Messages:</h3>
                </td>
            </tr>
            <tr>
                <td>Main Home Title</td>
                <td>{{ entity.mainHomeTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'mainHomeTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>List Manager Title</td>
                <td>{{ entity.listManagerTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'listManagerTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Event Log Title</td>
                <td>{{ entity.eventLogTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'eventLogTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Site Settings Title</td>
                <td>{{ entity.siteSettingsTitle }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'siteSettingsTitle'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>About Page Content</td>
                <td>{{ entity.contentAboutPage }}</td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'contentAboutPage'}) }}">Edit</a></td>
            </tr>


            <tr>
                <td class="rowlink-skip" colspan="3" align="center">
                    <h3>Business/Vacation Request:</h3>
                </td>
            </tr>
            <tr>
                <td>Academic Year Start</td>
                <td>
                    {% if entity.academicYearStart %}
                        {{ entity.academicYearStart|date('M d','UTC') }}
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'academicYearStart'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Academic Year End</td>
                <td>
                    {% if entity.academicYearEnd %}
                        {{ entity.academicYearEnd|date('M d','UTC') }}
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'academicYearEnd'}) }}">Edit</a></td>
            </tr>
            <tr>
                <td>Link to list of holidays (http://intranet.med.cornell.edu/hr/)</td>
                <td>
                    {% if entity.holidaysUrl %}
                        {{ entity.holidaysUrl }}
                    {% endif %}
                </td>
                <td><a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id, 'param': 'holidaysUrl'}) }}">Edit</a></td>
            </tr>

        </tbody>
    </table>

    </div>
</div>
</div>

    {% include 'OlegUserdirectoryBundle:SiteParameters:third-party-software-content.html.twig' %}

    {% if (sitename == "employees" or sitename == "fellapp") and is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}
        {% include 'OlegUserdirectoryBundle:SiteParameters:fellapp-content.html.twig' %}
    {% endif %}

    {#<br>#}
    {#<p>#}
        {#<a href="{{ path(sitename~'_siteparameters_edit', { 'id': entity.id }) }}">Edit</a>#}
    {#</p>#}

{% endblock %}
