{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title text-left">
            <a data-toggle="collapse" href="#miscellaneous">
                Miscellaneous
            </a>
        </h4>
    </div>
    <div id="miscellaneous" class="panel-collapse collapse">
        <div class="panel-body">

            {% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}

                <h4 class="text-info">Populate Lists</h4>

                <p>
                    <a general-data-confirm="Are you sure?"
                       href="{{ path('generate_country_city') }}">
                        1) Populate Country and City Lists
                    </a>
                </p>

                <p>
                    <a  general-data-confirm="Are you sure? This action will overwrite all values on all lists with defaults."
                        href="{{ path('user_generate_all') }}">2) Populate All Lists With Default Values</a>
                </p>

                <p>
                    <a  general-data-confirm="Are you sure? This action will overwrite all values on all Scan Orders lists with defaults."
                        href="{{ path('generate_all') }}">3) Populate All Scan Orders Lists With Default Values</a>
                </p>

                <p>
                    <a  general-data-confirm="Are you sure? This action will pre-generate from node fields for Call Log Book system."
                        href="{{ path('employees_generate_form_node_tree') }}">4) Pre-generate form node tree fields for Call Log Book</a>
                </p>

                <hr>

                <p>
                    <a general-data-confirm="Are you sure? This action will populate new users from excel sheet."
                       href="{{ path('generate_users') }}">Populate Users From Excel (optional). <strong>This should be run only once on the system initialization.</strong>
                    </a>
                </p>

                <hr>

                <p>
                    <a general-data-confirm="Are you sure? This action will generate metaphone key for all empty patients last, first, middle names."
                       href="{{ path('user_generate-patient-metaphone-name') }}">Generate metaphone keys for all empty patients last, first, middle names (optional).
                    </a>
                </p>

                <hr>

                <p>
                    <a general-data-confirm="Are you sure? This action will populate new users from excel sheet."
                       href="{{ path('generate_users') }}">Populate Users From Excel (optional). <strong>This should be run only once on the system initialization.</strong>
                    </a>
                </p>

                <p>
                    <a general-data-confirm="Are you sure? This action will generate metaphone key for all empty patients last, first, middle names."
                       href="{{ path('user_generate-patient-metaphone-name') }}">Generate metaphone keys for all empty patients last, first, middle names (optional).
                    </a>
                </p>

                <a href="{{ path('generate_residencyspecialties') }}">
                    Populate Residency Specialties List with Default Values
                </a>

                <hr>
                <h4 class="text-info">Preset Form Node Tree</h4>
                <p>
                    <a general-data-confirm="Are you sure?" href="{{ path('employees_generate_form_node_tree') }}">Preset Form Node Tree</a>
                </p>
                <p>
                    <a general-data-confirm="Are you sure?" href="{{ path('employees_generate_test_form_node_tree') }}">Preset Test Form Node Tree</a>
                </p>

                <br>
                <hr>
                <p><a  data-confirm="Are you sure? This action will create a Test Patient in Database."
                       href="{{ path('scan_testpatient_new') }}">Create a Test Patient</a>
                </p>

            {% endif %}

        </div>
    </div>
</div>

