<!DOCTYPE html>
<!--
  ~ Copyright (c) 2017 Cornell University
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

{#ref: https://boulderinformationservices.wordpress.com/2011/08/25/print-avery-labels-using-css-and-html/        #}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Avery Labels (5160)</title>
    <style>
        body {
            width: 8.5in;
            margin: 0in .1875in;
        }
        @page{
            /*margin: 0.50in 0px 0px 0px;*/
            {{ pagemargin }}
        }
        .label{
            /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
            width: 2.025in; /* plus .6 inches from padding */
            height: .875in; /* plus .125 inches from padding */
            padding: .125in .3in 0;
            margin-right: .125in; /* the gutter */

            float: left;

            text-align: center;
            overflow: hidden;

            /*outline: 1px dotted; !* outline doesn't occupy space like border does *!*/
        }
        .label-dotborders{
            outline: 1px dotted; /* outline doesn't occupy space like border does */
        }
        .page-break  {
            clear: left;
            display:block;
            page-break-after:always;
        }
    </style>

</head>
<body onload="printLabelPage()">

{#<div class="label"><img src="https://boulderinformationservices.files.wordpress.com/2011/08/barcode_sample.png" /><br>Human readable</div>#}
{#<div class="label"><img src="https://boulderinformationservices.files.wordpress.com/2011/08/barcode_sample.png" /><br>Human readable</div>#}
{#<div class="label"><img src="https://boulderinformationservices.files.wordpress.com/2011/08/barcode_sample.png" /><br>Human readable</div>#}
{#<div class="label"><img src="https://boulderinformationservices.files.wordpress.com/2011/08/barcode_sample.png" /><br>Human readable</div>#}
{#<div class="label">(Repeat 30 times)</div>#}
{#<div class="page-break"></div>#}


{#Dr. FirstName LastName#}
{#Cytogenetics#}
{#F-503#}

    {#{% for user in users %}#}
        {#<div class="label">#}
            {#user.getUsernameOptimal<br>#}
            {#{{ user_download_utility.getUserTitleStr(user) }}<br>#}
            {#{{ user['name'] }}<br>#}
            {#{{ user['title'] }}<br>#}
            {#{{ user['room'] }}#}
        {#</div>#}
    {#{% endfor %}#}

    {% set labelClass = "label" %}
    {% if dotborders is defined and dotborders %}
        {% set labelClass = "label label-dotborders" %}
    {% endif %}


    {% for userlabel in userlabels %}

        <div class="{{ labelClass }}">
            {#{{ user['name'] }}<br>#}
            {#{{ user['title'] }}<br>#}
            {#{{ user['room'] }}#}
            {{ userlabel|raw }}
        </div>

        {% if loop.index % labelperpage == 0 %}
            {#new line!#}
            <div class="page-break"></div>
        {% endif %}

    {% endfor %}



<script>
    // self executing function here
//    (function() {
//        //window.print();
//        printLabelPage();
//    })();
    function printLabelPage() {
        return;
        //console.log('print page');
        window.print();
    }
</script>


</body>
</html>



