{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block title %}
    Access Requests
{% endblock %}

{% block content %} 

    <h3 class="text-info">Access Requests</h3>

    <table class="table table-hover table-condensed text-left">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(entities, 'Request ID', 'accreq.id') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Request Date', 'accreq.appliedforaccessdate') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Request Status', 'accreq.appliedforaccess') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Service(s)', 'pathologyServices.name') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Full Name', 'accreq.displayName') }}</th>
                {#<th>{{ knp_pagination_sortable(entities, 'Title', 'accreq.title') }}</th>#}
                <th>{{ knp_pagination_sortable(entities, 'User Name', 'accreq.username') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Email', 'accreq.email') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Preferred Phone Number', 'accreq.phone') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Role(s)', 'accreq.roles') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Last Login', 'accreq.lastLogin') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for entity in entities %}
            
            {% if entity.appliedforaccess == 'active' %}
                <tr class="order-urgent-status">
            {% elseif entity.appliedforaccess == 'declined' %}
                <tr class="order-neutral-status">
            {% elseif entity.appliedforaccess == 'approved' %}
                <tr>
            {% elseif entity.appliedforaccess == 'uncompleted' %}
                <tr class="order-someattention-status">
            {% else %}
                <tr>
            {% endif %}

                <td><a href="{{ path('scan_showuser', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.appliedforaccessdate|date('Y-m-d H:i') }}</td>
                <td>{{ entity.appliedforaccess|capitalize }}</td>
                {#<td>#}
                    {#{% for pathologyServices in entity.pathologyServices %}#}
                        {#"{{ pathologyServices }}"#}
                    {#{% endfor %}#}
                {#</td>#}
                <td>{{ entity.displayName }}</td>
                {#<td>{{ entity.title }}</td>#}
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td >{{ entity.preferredPhone }}</td>
                <td>
                    {% for role in entity.roles %}
                        {% if role != "ROLE_USER" %}
                            "{{ attribute(roles, role) }}"
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ entity.lastLogin|date('Y-m-d H:i') }}</td>

                <td class="rowlink-skip">
                    
{#                <a class="btn" href="{{ path('accountrequest_show', { 'id': entity.id }) }}">Show</a>#}
                   
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a href="{{ path('scan_showuser', { 'id': entity.id }) }}">View User Details</a></li>

                            <li class="divider"></li>

                            {% if entity.appliedforaccess != 'declined' %}
                                <li><a data-confirm="Are you sure you want to decline?"
                                       href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'declined', 'role': '#' }) }}">Decline</a>
                                </li>
                            {% endif %}

                            {% if entity.appliedforaccess == 'declined' or entity.appliedforaccess == 'active' %}
                                <li><a data-confirm="Are you sure you want to approve as Submitter?"
                                       href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'approved', 'role': 'submitter' }) }}">Approve as Submitter</a>
                                </li>
                            {% endif %}                                                                

                            {% if entity.appliedforaccess != 'active' %}
                                <li><a data-confirm="Are you sure you want to Revert status to Active?"
                                       href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'active', 'role': '#' }) }}">Revert status to Active</a>
                                </li>
                            {% endif %}


                        </ul>

                    </div>


                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        
    {% endblock %}
