<!DOCTYPE html>

<html>

<head>

    {% stylesheets
        'bundles/olegorderform/bootstrap/css/*' filter='cssrewrite'
        'bundles/olegorderform/form/css/form.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <title>Slide Order Access Request</title>

    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>


<body>

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}

    <div class="container">

        <div class="text-center">

            <h2 class="alert alert-info well-lg safary-fix" align="center">Scan Order Submission</h2>

            <br>

            <p>
            <h3 class="text-info">Welcome to the Scan Order system!</h3>
            </p>

            <p>
            <h3 class="text-info">Would you like to receive access to this site?</h3>
            </p>

            <br><br>

            <form action="{{ path('access_request_create', { 'id': userid }) }}" method="post">

                <p>
                    <button class="btn btn-info" type="submit">Yes, please!</button>
                    &nbsp;
                    <a class="btn btn-info" href="{{ path('logout') }}">No, thanks!</a>
                </p>

            </form>

            {#<br>#}
            {#<p>#}
                {#<a href="{{ path('login') }}">Return to Log In page</a>#}
            {#</p>#}

            {% include 'OlegOrderformBundle::Default/footer.html.twig' %}

        </div> <!-- /text-center -->

    </div> <!-- /container -->

</body>

</html>
