{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block title %}
    Access Request List
{% endblock %}

{% block content %} 

    <h3 class="text-info">User Request List</h3>

    <table class="table table-hover table-condensed text-justify">
        <thead>
            <tr>
                <th>Id</th>
                <th>Access</th>
                <th>User</th>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Last Login</th>
                <th>Roles</th>
                <th>Path Services</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for entity in entities %}
            
            {% if entity.appliedforaccess == 'active' %}
                <tr class="activetr" >
            {% elseif entity.appliedforaccess == 'declined' %}
                <tr class="canceltr" >
            {% elseif entity.appliedforaccess == 'approved' %}
                <tr class="completedtr" >
            {% elseif entity.appliedforaccess == 'uncompleted' %}
                <tr class="uncompletedtr" >
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{ path('showuser', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.appliedforaccess }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.displayName }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                <td>
                    {% for role in entity.roles %}

                        {#{{ role }}#}
                        {% if role != "ROLE_USER" %}
                            "{{ attribute(roles, role) }}"
                        {% endif %}

                    {% endfor %}
                </td>
                <td>
                    {% for pathologyServices in entity.pathologyServices %}
                        "{{ pathologyServices }}"
                    {% endfor %}
                </td>
                <td>
                    
{#                <a class="btn" href="{{ path('accountrequest_show', { 'id': entity.id }) }}">Show</a>#}
                   
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a href="{{ path('showuser', { 'id': entity.id }) }}">View User Details</a></li>

                            <li class="divider"></li>

                            {% if entity.appliedforaccess != 'declined' %}
                                <li><a onclick="return confirm('Are you sure?');"
                                       href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'declined', 'role': 'declined' }) }}">Decline</a>
                                </li>
                                <li><a onclick="return confirm('Are you sure?');"
                                       href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'approved', 'role': 'external' }) }}">Approve as External Submitter</a>
                                </li>
                                <li><a onclick="return confirm('Are you sure?');"
                                       href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'approved', 'role': 'submitter' }) }}">Approve as Submitter</a>
                                </li>
                            {% endif %}                                                                

                            {#{% if entity.appliedforaccess != 'active' %}#}
                                {#<li><a onclick="return confirm('Are you sure?');" #}
                                       {#href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'active', 'role': '' }) }}">Active</a>#}
                                {#</li>                  #}
                            {#{% endif %}#}

                            {#{% if entity.appliedforaccess != 'approved' %}#}
                                {#<li><a onclick="return confirm('Are you sure?');" #}
                                       {#href="{{ path('accessrequest_change', { 'id': entity.id, 'status': 'approved' }) }}">Accept</a>#}
                                {#</li>                  #}
                            {#{% endif %}#}

                        </ul>

                    </div>


                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
