<!DOCTYPE html>

<html>

<head>

    {% stylesheets
        'bundles/olegorderform/bootstrap/css/*' filter='cssrewrite'
        'bundles/olegorderform/select2/select2.css' filter='cssrewrite'
        'bundles/olegorderform/form/css/form.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        'bundles/olegorderform/datepicker/css/datepicker3.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}


    <title>Request an Aperio eSlide Manager Account</title>

    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}

    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>


    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}

    <div class="container text-center">

        <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />
        <input type="hidden" id="formcicle" value="accountreq" />
        <input type="hidden" id="orderformtype" value="single" />

        <h2 class="alert alert-info well-lg safary-fix" align="center">Request an Aperio eSlide Manager Account</h2>

        <br>

        <form action="{{ path('accountrequest_create') }}" method="post" {{ form_enctype(form) }}>

            {{ form_errors(form) }}

            <p>
                <div class="row">
                    <div class="col-xs-6" align="right">
                        <b>Do you (the requester) have a <a href="javascript:;" onclick="window.open('http://weill.cornell.edu/its/identity-security/identity/cwid/');return false;">CWID</a> username?</b>
                    </div>
                    <div class="col-xs-6" align="left">
                        {{ form_widget(form.hascwid) }}
                    </div>
                </div>
            </p>

            {#<p>#}
                {#<div class="row">#}
                    {#<div class="col-xs-6" align="right">#}
                        {#{{ form_label(form.cwid) }}#}
                    {#</div>#}
                    {#<div class="col-xs-6" align="left">#}
                        {#{{ form_widget(form.cwid) }}#}
                    {#</div>#}
                {#</div>#}
            {#</p>#}

            {{ myform.field(form.cwid) }}

            {{ myform.field(form.name) }}
            {{ myform.field(form.email) }}
            {{ myform.field(form.phone) }}
            {{ myform.field(form.job) }}
            {{ myform.field(form.organization) }}
            {{ myform.field(form.department) }}
            {{ myform.field(form.pathologyServices) }}
            {{ myform.field(form.request) }}
            {{ myform.field(form.similaruser) }}

            <p style="padding-top:3px;">
            <div class="row">
                <div class="col-xs-6" align="right">
                    <label>
                        For reference, please provide the name and contact information of your supervisor or of the person who can confirm the validity of your request below.
                    </label>
                </div>
                <div class="col-xs-6" align="left">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" align="right">
                    {{ form_label(form.referencename) }}
                </div>
                <div class="col-xs-6" align="left">
                    {{ form_widget(form.referencename) }}
                </div>
            </div>
            </p>
            {#{{ myform.field(form.referencename) }}#}

            {{ myform.field(form.referenceemail) }}
            {{ myform.field(form.referencephone) }}

            {% do form.creationdate.setRendered %}

            {#{{ form_rest(form) }}#}
            {{ form_widget(form._token) }}



            <br>
            <p>
                <button class="btn btn-info" type="submit">Submit account request</button>
            </p>

            <br>
            <p>
                <a href="{{ path('login') }}">Return to Log In page</a>
            </p>

        </form>

        {% include 'OlegOrderformBundle::Default/footer.html.twig' %}

    </div> <!-- /container -->


    <!-- send width and height info to the server -->
    {% javascripts
        '@OlegOrderformBundle/Resources/public/jquery/jquery-1.11.0.min.js'
        '@OlegOrderformBundle/Resources/public/bootstrap/js/*'
        '@OlegOrderformBundle/Resources/public/select2/select2.js'
        '@OlegOrderformBundle/Resources/public/inputmask/jquery.inputmask.bundle.js'
        '@OlegOrderformBundle/Resources/public/form/js/selectAjax.js'
        '@OlegOrderformBundle/Resources/public/form/js/masking.js'
        '@OlegOrderformBundle/Resources/public/form/js/checkForm.js'
        '@OlegOrderformBundle/Resources/public/form/js/form.js'
        '@OlegOrderformBundle/Resources/public/form/js/commonCheckForm.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script language="Javascript">

        $(document).ready(function() {

            customCombobox();
            fieldInputMask();
            expandTextarea();

            $("select.combobox").select2({
                width: combobox_width,
                dropdownAutoWidth: true,
                placeholder: "Choose a similar user",
                allowClear: true
            });

            $('.element-with-tooltip').tooltip();

            $(".hascwid").find('input:radio').on('change', function(){
                var checkedValue = $(this).val();
                //console.log("checkedValue="+checkedValue);

                if( checkedValue == "Yes" ) {
                    $("#oleg_orderformbundle_userrequesttype_cwid").prop('disabled', false);
                } else {
                    $("#oleg_orderformbundle_userrequesttype_cwid").prop('disabled', true);
                }

            });

        });

    </script>


</body>

</html>

