{% extends "OlegOrderformBundle::Default/base.html.twig" %}

{% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}

{% block title %}
    Request an Aperio eSlide Manager Account
{% endblock %}

{% block content %}

    <h3 class="text-info">Request an Aperio eSlide Manager Account</h3>

    <form action="{{ path('accountrequest_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
       
        <div class="row-fluid">      
            <div class="span6" align="right">
                {#<a href="#" onclick="onCwid();return false;">{{ form_label(form.cwid) }}</a>#}
                <a href="#" onclick="window.open('http://weill.cornell.edu/its/identity-security/identity/cwid/');return false;">{{ form_label(form.cwid) }}</a>
            </div>
            <div class="span6" align="left">
                {{ form_widget(form.cwid) }}
            </div>       
        </div>
               
        {{ myform.field(form.name) }}
        {{ myform.field(form.email) }}
        {{ myform.field(form.phone) }}
        {{ myform.field(form.job) }}
        {{ myform.field(form.organization) }}
        {{ myform.field(form.department) }}
        {{ myform.field(form.pathologyService) }}
        {{ myform.field(form.request) }}
                    
        {{ form_rest(form) }}

        <p>
            <button class="btn btn-info" type="submit">Submit account request</button>
        </p>
    </form>


{% endblock %}
