{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    <p>
        {#If your project request involves collaboration with any#}
        {#<a target="_blank" href="https://pathology.weill.cornell.edu/clinical-services/hematopathology"#}
        {#>Weill Cornell Hematopathology faculty members</a>,<br>#}
        {#please press the "New Hematopathology Project Request" button.<br>#}
        {#For all other project requests, please press the "New AP/CP Project Request" button.#}

        {{ user_security_utility.getSiteSettingParameter("transresProjectSelectionNote")|raw }}
    </p>

    <br>


    {% for specialty in specialties %}
        <p>
            <a class="btn btn-primary" href="{{ path(translationalresearch_sitename~'_project_new',{'specialtyStr':specialty.getAbbreviation()}) }}"
            >New {{ specialty.getName() }} Project Request</a>
        </p>
    {% endfor %}

{% endblock %}
