{% extends "AppTranslationalResearchBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as formmacros %}
{% import "AppTranslationalResearchBundle/Default/transres.html.twig" as transres %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

    <input type="hidden" id="formcycle" value="{{ cycle }}" />

    <h4 class="text-info" align="center">
        {{ title }}
    </h4>
    <br>

    {% if project.state == "final_approved" %}
        {#Submit a New Request#}
        {% if transres_request_util.isRequestCanBeCreated(project) == 1 %}
            <a class="btn btn-primary"
               href="{{ path(translationalresearch_sitename~'_request_new', { 'id': project.id }) }}"
               target="_blank">New Work Request</a>
        {% endif %}

        {#See associated requests if the number of associated requests is greater than zero#}
        {% if project.getRequests()|length > 0 %}
            <a class="btn btn-primary"
               href="{{ path(translationalresearch_sitename~'_request_index', { 'id': project.id }) }}"
               target="_blank">Associated Work Requests</a>
        {% endif %}

        {#See event log#}
        {% if is_granted('ROLE_TRANSRES_ADMIN') %}
            {% if eventObjectTypeId is defined and eventObjectTypeId %}
                <a class="btn btn-primary"
                   href="{{ path('translationalresearch_event-log-per-object_log', { 'filter[objectType][]': eventObjectTypeId, 'filter[objectId]': project.id}) }}"
                   target="_blank">Associated Events</a>
                {#<a class="btn btn-primary"#}
                   {#href="{{ path('translationalresearch_event-log-per-object_log', { 'objectType': eventObjectTypeId, 'objectId': project.id}) }}"#}
                   {#target="_blank">View Event Log</a>#}
            {% endif %}
        {% endif %}
        <br><br>
    {% endif %}

    {% set sitename = translationalresearch_sitename %}

    {#{{ transres.projectHeader(project) }}#}

    <p>
        <button type="button" class="btn btn-default btn-sm" onClick="collapseAll()" >Collapse All</button>
        <button type="button" class="btn btn-default btn-sm" onClick="extendAll()" >Expand All</button>
    </p>

    {{ form_start(form) }}

        {{ transres.projectRequesters(form,project,cycle) }}

        {{ transres.projectFormShow(form,project,cycle) }}

        {{ transres.projectInfo(form,project,cycle) }}

        {{ transres.getProjectShowPrototypeFormData(form,cycle,sitename) }}
        {{ transres.projectReviews(form,cycle,sitename,1) }}

    {{ form_end(form) }}


    <div>

        {% if is_granted('ROLE_TRANSRES_ADMIN') %}
            <br>
            <p>
                <a class="btn btn-warning" href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}">Edit Project Request</a>
            </p>
        {% endif %}
        {#{{ transres.projectHeader(project) }}#}

        <br>
        <br>
        <p>
            <a href="{{ path(translationalresearch_sitename~'_project_index') }}">Back to the list</a>
        </p>
        {#{{ form_start(delete_form) }}#}
        {#<input class="btn btn-danger" type="submit" value="Delete">#}
        {#{{ form_end(delete_form) }}#}

    </div>


    {#<table>#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ project.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Createdate</th>#}
                {#<td>{% if project.createDate %}{{ project.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Updatedate</th>#}
                {#<td>{% if project.updateDate %}{{ project.updateDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>State</th>#}
                {#<td>{{ project.state }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Title</th>#}
                {#<td>{{ project.title }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Irbnumber</th>#}
                {#<td>{{ project.irbNumber }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Startdate</th>#}
                {#<td>{% if project.startDate %}{{ project.startDate|date('Y-m-d') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Expirationdate</th>#}
                {#<td>{% if project.expirationDate %}{{ project.expirationDate|date('Y-m-d') }}{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Funded</th>#}
                {#<td>{% if project.funded %}Yes{% else %}No{% endif %}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Fundedaccountnumber</th>#}
                {#<td>{{ project.fundedAccountNumber }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Description</th>#}
                {#<td>{{ project.description }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Budgetsummary</th>#}
                {#<td>{{ project.budgetSummary }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Totalcost</th>#}
                {#<td>{{ project.totalCost }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Projecttype</th>#}
                {#<td>{{ project.projectType }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Biostatisticalcomment</th>#}
                {#<td>{{ project.biostatisticalComment }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Administratorcomment</th>#}
                {#<td>{{ project.administratorComment }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Primaryreviewercomment</th>#}
                {#<td>{{ project.primaryReviewerComment }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path(translationalresearch_sitename~'_project_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path(translationalresearch_sitename~'_project_edit', { 'id': project.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}

{% endblock %}

