{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% extends "AppUserdirectoryBundle/Default/base.html.twig" %}



{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <input type="hidden" id="disableIdleTimeout" value="1" />

    <h4 class="text-info" align="center">
        {{ title|raw }}
    </h4>
    <br>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <ul class="list-group">

            {#<li>#}
                {#<a href="{{ path('main_common_home') }}">main_common_home</a>#}
            {#</li>#}

            {% for multilocale in multilocales %}
                {#multilocale={{ multilocale }}<br>#}
                {% if user_service_utility.isLocalValid(multilocale) %}
                    {% if user_service_utility.isDbInitialized(multilocale) %}
                        <li class="list-group-item" >
                            <a href="{{ multilocale }}" target="_blank">{{ multilocale }}</a>
                        </li>
                    {% else %}
                        {#{% if is_granted('ROLE_PLATFORM_DEPUTY_ADMIN') %}#}
                            <li class="list-group-item" >
                                <a href="{{ path('first-time-login-generation-init', {_locale: multilocale}) }}" target="_blank"
                                >Initialize {{ multilocale }} database '{{ user_service_utility.getDbNameByLocale(multilocale) }}'</a>
                            </li>
                        {#{% endif %}#}
                    {% endif %}
                {% else %}
                    {{ multilocale }} does not have valid database
                {% endif %}

                {#{% if multilocale == 'system' %}#}
                    {#{% if not user_service_utility.isDbInitialized(multilocale) %}#}
                        {#<li class="list-group-item" >#}
                            {#<a href="{{ path('first-time-login-generation-init') }}" target="_blank"#}
                            {#>Initialize {{ multilocale }} database</a>#}
                        {#</li>#}
                    {#{% endif %}#}
                {#{% endif %}#}

            {% endfor %}

            {#<li class="list-group-item" >#}
                {#<a href="c/wcm/pathology" target="_blank">c/wcm/pathology</a>#}
            {#</li>#}

            {#<li class="list-group-item">#}
                {#<a href="c/lmh/pathology" target="_blank">c/lmh/pathology</a>#}
            {#</li>#}

        </ul>
    </div>
    <div class="col-xs-3"></div>
</div>

{% endblock %}


{% block footer %}
    <div class="order-content text-center col-xs-12">
        <div class="footer">
            institution_url={{ institution_url }}<br>
            {% if 0 and showcopyrightonfooter %}
                {#<a href="{{ path('main_common_home',{_locale: 'main'}) }}" target="_blank">O R D E R</a>#}
                {#&copy; {{ "now"|date('Y') }}#}
                <a href="" target="_blank">O R D E R</a>
                &copy; {{ "now"|date('Y') }}
                {% if institution_url and institution_name %}
                    <a href="{{ institution_url }}" target="_blank">{{ institution_name }}</a>.
                {% else %}
                    <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Institution's Name]</a>.
                {% endif %}

                <br><br>
            {% endif %}

            {% if 0 and department_url and department_name and subinstitution_url and subinstitution_name %}
                <a href="{{ department_url }}" target="_blank">{{ department_name }}</a> at
                <a href="{{ subinstitution_url }}" target="_blank">{{ subinstitution_name }}</a>.
            {% else %}
                <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Department's Name]</a> at
                <a href="{{ path('employees_siteparameters') }}" target="_blank">[Add Your Organization's Name]</a>.
            {% endif %}

        </div>
    </div>
{% endblock %}



