{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% extends "AppOrderformBundle/Default/base.html.twig" %}

{% import "AppOrderformBundle/Default/formmacros.html.twig" as myform %}


{% block title %}
    SlideType Manager
{% endblock %}


{% block content %}

    <h3 class="text-info">SlideType Edit</h3>


    {{ form_start(edit_form) }}

    {{ myform.field(edit_form.name) }}

    {{ myform.field(edit_form.type) }}

    {{ myform.field(edit_form.creator) }}

    {{ myform.field(edit_form.original) }}

    {{ myform.field(edit_form.createdate) }}

    {{ form(edit_form) }}

    {{ form_end(edit_form) }}

    <p>
        <a href="{{ path('slidetype') }}">Back to the list</a>
    </p>

    <div class="record_actions">
        {{ form(delete_form) }}
    </div>

{% endblock %}
