<!DOCTYPE html>

<html>

    <head>

        {% stylesheets
            '@OlegOrderformBundle/Resources/public/bootstrap/css/*' filter='cssrewrite'
            '@OlegOrderformBundle/Resources/public/form/css/form.css'
        %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        <title>Scan Order Submission</title>

        {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}

        <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>

    </head>

    <body>

        <div class="container">

            <input type="hidden" id="baseurl" value="{{app.request.host}}{{app.request.getBaseURL()}}" />

            {% include 'OlegOrderformBundle::Security/login_content.html.twig' %}

            <div class="text-center">
                <div class="footer">
                    {% block footer %}
                        &copy; Copyright {{ "now"|date('Y') }} by
                        <a href="http://www.cornellpathology.com">Pathology and Laboratory Medicine Department</a>
                        at
                        <a href="http://weill.cornell.edu">Weill Cornell Medical College</a>.
                    {% endblock %}
                </div>
             </div>

        </div> <!-- /container -->


        <!-- send width and height info to the server -->
        {% javascripts
            '@OlegOrderformBundle/Resources/public/jquery/jquery-1.11.0.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script language="Javascript">
            var urlBase = $("#baseurl").val();
            var url = "http://"+urlBase+"/setloginvisit/";
            //console.log(screen.height + " " + screen.width);

            $(document).ready(function() {

                $.ajax({
                    url: url,
                    type: 'GET',
                    async: false,
                    data: { display_height: screen.height, display_width: screen.width },
                    success: function (data) {
                       //console.debug('send browser data ok');
                    },
                    error: function () {
                       //console.debug('send browser data error');
                    }
                });
            });
        </script>


    </body>
         
</html>