<h2 class="alert alert-info well-lg safary-fix" align="center">Scan Order Submission</h2>

<br><br>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice" align="center">
        {{ flashMessage }}
    </div>
{% endfor %}

{% if error is not defined %}
    {% set error = '' %}
{% endif %}

{% if last_username is not defined %}
    {% set last_username = '' %}
{% endif %}

{% if error %} 
    <p class="alert alert-danger" align="middle">
        {#{{ error }}#}
        Bad credentials
    </p>
{% endif %}
 
<br><br>    
    
<form class="form-signin" action="{{ path('login_check') }}" method="post">

    <div class="row">
    <div class="col-xs-12">

        <p>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" autofocus>

        <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
        </p>

    </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

</form>

<div class="page-content">
    <br><br>
    <p>
    <p>
        Please use your
        <a href="http://weill.cornell.edu/its/identity-security/identity/cwid/">CWID</a>
        or the Aperio eSlide Manager account to log in.
    </p>
    <p>
        <a href="{{ path('accountrequest_new') }}">
            Request an Aperio eSlide Manager account
        </a>
        if you can't log in.
    </p>
    </p>
</div>