<h2 class="alert alert-info well-lg">Scan Order Submission</h2>

<br><br>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}



{% if error is not defined %}
    {% set error = '' %}
{% endif %}

{% if last_username is not defined %}
    {% set last_username = '' %}
{% endif %}

{% if error %} 
    <p class="alert alert-danger">{{ error }}</p>
{% endif %}
 
<br><br>    
    
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <p>
    <button class="btn-primary" type="submit">Login</button>
    </p>

    <br><br>
    <p>
        <p>
            Please use your
            <a href="http://weill.cornell.edu/its/identity-security/identity/cwid/">CWID</a>
            or the Aperio eSlide Manager account to log in.
        </p>
        <p>
            <a href="{{ path('accountrequest_new') }}">
                Request an Aperio eSlide Manager account
            </a>
            if you can't log in.
        </p>
    </p>

</form>
