<!DOCTYPE html>

<html>

<head>

    {% stylesheets
        'bundles/oleguserdirectory/bootstrap/css/*' filter='cssrewrite'
        'bundles/oleguserdirectory/form/css/form.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    <title>{{ sitename|capitalize }} Access Request</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>


<body>

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as myform %}

    <div class="container">

        <div class="text-center">

            <h2 class="alert alert-info well-lg safary-fix" align="center">{{ sitename|capitalize }} Submission</h2>

            <br>

            <p>
            <h3 class="text-info">Welcome to the {{ sitename|capitalize }} system!</h3>
            </p>

            <p>
            <h3 class="text-info">Would you like to receive access to this site?</h3>
            </p>

            <br><br>

            <form action="{{ path('access_request_create', { 'id':userid, 'sitename':sitename }) }}" method="post">

                <p>
                    <button class="btn btn-info" type="submit">Yes, please!</button>
                    &nbsp;
                    <a class="btn btn-info" href="{{ path(sitename~'_logout') }}">No, thanks!</a>
                </p>

            </form>

            {#<br>#}
            {#<p>#}
                {#<a href="{{ path('login') }}">Return to Log In page</a>#}
            {#</p>#}

            {% include 'OlegUserdirectoryBundle::Default/footer.html.twig' %}

        </div> <!-- /text-center -->

    </div> <!-- /container -->

</body>

</html>
