{#{% extends "OlegUserdirectoryBundle::Default/base.html.twig" %}#}

{% if sitename == 'employees' %}
    {% set extendStr = "OlegUserdirectoryBundle::Default/base.html.twig" %}
{% elseif sitename == 'fellapp' %}
    {% set extendStr = "OlegFellAppBundle::Default/base.html.twig" %}
{% elseif sitename == 'deidentifier' %}
    {% set extendStr = "OlegDeidentifierBundle::Default/base.html.twig" %}
{% endif %}

{% extends extendStr%}



{% block title %}
    Access Request for {{ sitenamefull }}
{% endblock %}



{% block content %}

    {% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}
    {% import "OlegUserdirectoryBundle::Default/userformmacros.html.twig" as userform %}

    <h3 class="text-info">Access Request for {{ sitenamefull }}</h3>

    <br>

    {{ userform.snapshot_steve(entity,sitenameshowuser,'edit') }}

    <hr>

    {{ formmacros.simplefield( "Request ID:", accreq.id, "", "disabled" ) }}
    {{ formmacros.simplefield( "Request Date:", accreq.createdate|date('Y-m-d H:i:s'), "", "disabled" ) }}
    {{ formmacros.simplefield( "Request Status:", accreq.getStatusStr|capitalize, "", "disabled" ) }}
    {#{{ formmacros.simplefield( "Full Name:", entity.getUsernameOptimal(), "", "disabled" ) }}#}
    {#{{ formmacros.simplefield( "User ID Type:", entity.keytype, "", "disabled" ) }}#}
    {#{{ formmacros.simplefield( "User ID:", entity.primaryPublicUserId, "", "disabled" ) }}#}
    {#{{ formmacros.simplefield( "Email:", entity.primaryPublicUserId, "", "disabled" ) }}#}
    {#{{ formmacros.simplefield( "Phone Number:", entity.preferredPhone, "", "disabled" ) }}#}
    {{ formmacros.simplefield( "Last Login:", entity.lastLogin|date('Y-m-d H:i'), "", "disabled" ) }}
    {{ formmacros.simplefield( "Status Updated On:", accreq.updatedate|date('Y-m-d H:i'), "", "disabled" ) }}

    <hr>

    {#{{ form_start(form) }}#}
    <form id="accessrequest_management" action="{{ path(sitename~'_accessrequest_management_submit',{'id':accreq.id}) }}" method="POST">


        {#{{ formmacros.field(form.permittedInstitutionalPHIScope) }}#}
        {{ formmacros.field(form_scansettings.permittedInstitutionalPHIScope) }}

        {{ formmacros.field(form.roles) }}


        <hr>

        <br>

        <div class="row">

            <div class="col-xs-6" align="right">
                <button name="accessrequest-approve" type='submit' class="btn btn-info btn-sm">Approve</button>
            </div>

            <div class="col-xs-6" align="left">
                <button name="accessrequest-decline" type='submit' class="btn btn-danger btn-sm">Deny</button>
            </div>

        </div>

    {#{{ form_end(form) }}#}
    </form>


    {#<br>#}
    {#<p>#}
        {#<a class="btn btn-info btn-sm" href="{{ path(sitename~'_authorized_users') }}">Authorized Users</a>#}
    {#</p>#}

    {#<p><button type='button' class="btn btn-info btn-sm" data-toggle="button" onClick="">Approve</button></p>#}
    {#<p><button type='button' class="btn btn-danger btn-sm" data-toggle="button" onClick="">Deny</button></p>#}



{% endblock %}

{#Snapshot css#}
{% block additionalcss %}
    {% stylesheets
        'bundles/oleguserdirectory/form/css/steve-snapshot.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
