
<h3 class="text-info">Access Requests for {{ sitenamefull }}</h3>

<table class="table table-hover table-condensed text-left">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(entities, 'Request ID', 'accreq.id') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Request Date', 'accreq.createdate') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Request Status', 'accreq.status') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Full Name', 'user.displayName') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'User ID Type', 'keytype.name') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'User ID', 'user.primaryPublicUserId') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Email', 'user.email') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Phone Number', 'user.preferredPhone') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Role(s)', 'user.roles') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Last Login', 'user.lastLogin') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Status Updated On', 'accreq.updatedate') }}</th>
            <th>{{ knp_pagination_sortable(entities, 'Status Updated By', 'updatedby.displayName') }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
    {% for entity in entities %}

        {% if entity.getStatusStr|lower == 'active' %}
            <tr class="order-urgent-status">
        {% elseif entity.getStatusStr|lower == 'declined' %}
            <tr class="order-neutral-status">
        {% elseif entity.getStatusStr|lower == 'approved' %}
            <tr>
        {% elseif entity.getStatusStr|lower == 'uncompleted' %}
            <tr class="order-someattention-status">
        {% else %}
            <tr>
        {% endif %}

            <td><a href="{{ path(sitename~'_showuser', { 'id': entity.user.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.createdate|date('Y-m-d H:i') }}</td>
            <td>{{ entity.getStatusStr|capitalize }}</td>
            <td>{{ entity.user }}</td>
            <td>{{ entity.user.keytype }}</td>
            <td>{{ entity.user.primaryPublicUserId }}</td>
            <td>{{ entity.user.email }}</td>
            <td >{{ entity.user.preferredPhone }}</td>
            <td>
                {% for role in entity.user.getSiteRoles(sitename) %}
                    {% if role != "ROLE_USER" %}
                        "{{ attribute(roles, role) }}"
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ entity.user.lastLogin|date('Y-m-d H:i') }}</td>

            <td>{{ entity.updatedate|date('Y-m-d H:i') }}</td>

            <td class="rowlink-skip">
                <a href="{{ path(sitename~'_showuser', { 'id': entity.updatedby.id }) }}">{{ entity.updatedby }}</a>
            </td>


            <td class="rowlink-skip">

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Action <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="{{ path(sitename~'_showuser', { 'id': entity.user.id }) }}">View User Details</a></li>

                        <li class="divider"></li>

                        {% if entity.getStatusStr|lower != 'declined' %}
                            <li><a data-confirm="Are you sure you want to decline?"
                                   href="{{ path(sitename~'_accessrequest_change', { 'id': entity.user.id, 'status': 'declined' }) }}">Decline</a>
                            </li>
                        {% endif %}

                        {% if entity.getStatusStr|lower == 'declined' or entity.getStatusStr|lower == 'active' %}
                            <li><a data-confirm="Are you sure you want to approve?"
                                   href="{{ path(sitename~'_accessrequest_change', { 'id': entity.user.id, 'status': 'approved' }) }}">Approve</a>
                            </li>
                        {% endif %}

                        {% if entity.getStatusStr|lower != 'active' %}
                            <li><a data-confirm="Are you sure you want to Revert status to Active?"
                                   href="{{ path(sitename~'_accessrequest_change', { 'id': entity.user.id, 'status': 'active' }) }}">Revert status to Active</a>
                            </li>
                        {% endif %}


                    </ul>

                </div>


            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
