{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{#{% block header %}{% endblock %}#}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-referringprovider">
                    Referring Provider
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-referringprovider" class="panel-collapse collapse in">
            <div class="panel-body">

                {#{{ formmacros.inputArrayField(encounter.referringProviders,cycle,"encounterreferringprovider","","","","",status) }}#}
                {% for referringProvider in encounter.referringProviders %}

                    {#{{ formmacros.field(referringProvider.field) }}#}
                    {{ formmacros.simplefield( "Referring Provider Name:", referringProvider.field, "", "disabled" ) }}

                    {#{{ formmacros.field(referringProvider.referringProviderSpecialty) }}#}
                    {{ formmacros.simplefield( "Referring Provider Specialty:", referringProvider.referringProviderSpecialty, "", "disabled" ) }}

                    {#{{ formmacros.field(referringProvider.referringProviderPhone) }}#}
                    {{ formmacros.simplefield( "Referring Provider Phone Number:", referringProvider.referringProviderPhone, "", "disabled" ) }}

                    {#{{ formmacros.field(referringProvider.referringProviderEmail) }}#}
                    {{ formmacros.simplefield( "Referring Provider E-Mail:", referringProvider.referringProviderEmail, "", "disabled" ) }}

                {% endfor %}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-location">
                    Encounter's Location
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-location" class="panel-collapse collapse in">
            <div class="panel-body">

                {% if encounter.locationName is defined %}
                    {{ formmacros.simplefield( "Location Name:", encounter.locationName, "", "disabled" ) }}
                {% endif %}

                {% for spot in encounter.tracker.spots %}

                    {% set currentLocation = spot.currentLocation %}

                    {% if currentLocation.locationTypes is defined %}
                        {{ formmacros.simplefield( "Location Type:", currentLocation.locationTypes, "combobox", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.institution is defined %}
                        {{ formmacros.simplefield( "Institution or Collaboration:", currentLocation.institution, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.phone is defined %}
                        {{ formmacros.simplefield( "Phone Number:", currentLocation.phone, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.room is defined %}
                        {{ formmacros.simplefield( "Room Number:", currentLocation.room, "", "disabled" ) }}
                    {% endif %}
                    {#currentLocation.room|length={{ currentLocation.room|length }}<br>#}
                    {#{% for thisRoom in currentLocation.room %}#}
                        {#thisRoom1={{ thisRoom.id }}<br>#}
                    {#{% endfor %}#}
                    {#{% if currentLocation.room is defined %}#}
                        {#{% for thisRoom in currentLocation.room %}#}
                            {#thisRoom2={{ thisRoom }}#}
                        {#{% endfor %}#}
                        {#{{ formmacros.simplefield( "Room Number:", currentLocation.room, "combobox", "disabled" ) }}#}
                    {#{% endif %}#}

                    {#{% for suite in currentLocation.suite %}#}
                        {#suite={{ suite.id }}<br>#}
                    {#{% endfor %}#}
                    {% if currentLocation.suite is defined %}
                        {{ formmacros.simplefield( "Suite:", currentLocation.suite, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.floor is defined %}
                        {{ formmacros.simplefield( "Floor:", currentLocation.floor, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.floorSide is defined %}
                        {{ formmacros.simplefield( "Floor Side:", currentLocation.floorSide, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.building is defined %}
                        {{ formmacros.simplefield( "Building:", currentLocation.building, "", "disabled" ) }}
                    {% endif %}

                    {#geoLocation#}
                    {% set geoLocation = currentLocation.geoLocation %}

                    {% if geoLocation.street1 is defined %}
                        {{ formmacros.simplefield( "Street Address [Line 1]:", geoLocation.street1, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.street2 is defined %}
                        {{ formmacros.simplefield( "Room Number:Street Address [Line 2]:", geoLocation.street2, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.city is defined %}
                        {{ formmacros.simplefield( "City:", geoLocation.city, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.state is defined %}
                        {{ formmacros.simplefield( "State:", geoLocation.state, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.zip is defined %}
                        {{ formmacros.simplefield( "Zip Code:", geoLocation.zip, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.county is defined %}
                        {{ formmacros.simplefield( "County:", geoLocation.county, "", "disabled" ) }}
                    {% endif %}

                    {% if geoLocation.country is defined %}
                        {{ formmacros.simplefield( "Country:", geoLocation.country, "", "disabled" ) }}
                    {% endif %}

                    {% if currentLocation.comment is defined %}
                        {{ formmacros.simplefield( "Comment:", currentLocation.comment, "", "disabled" ) }}
                    {% endif %}

                {% endfor %}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-patient-info">
                    Update Patient Info
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-patient-info" class="panel-collapse collapse in">
            <div class="panel-body">

                {{ formmacros.inputArrayField(encounter.patlastname,cycle,"encounterpatlastname","","","","",status) }}

                {#{{ formmacros.simplefield( "Patient's Last Name (at the time of encounter):", encounter.patlastname, "", "disabled" ) }}#}
                {#{{ formmacros.simplefield( "Patient's First Name (at the time of encounter):", encounter.patfirstname, "", "disabled" ) }}#}
                {#{{ formmacros.simplefield( "Patient's Middle Name (at the time of encounter):", encounter.patmiddlename, "", "disabled" ) }}#}
                {#{{ formmacros.simplefield( "Patient's Suffix (at the time of encounter):", encounter.patsuffix, "", "disabled" ) }}#}
                {#{{ formmacros.simplefield( "Patient's Gender (at the time of encounter):", encounter.patsex, "", "disabled" ) }}#}
                {#{{ formmacros.simplefield( "Date of Birth:", encounter.patientDob|date("m/d/Y"), "", "disabled" ) }}#}
                {#{{ formmacros.fieldDateLabel(encounter.patientDob,'regular-datepicker') }}#}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->

{% endblock %}

{% block additionaljs %}

    {#<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>#}

    <script language="Javascript">


        $(document).ready(function() {

            //init
            var holder = $("#calllog-message-encounter-previous");
            regularCombobox(holder);

        });


    </script>
{% endblock %}

 
    
   