{#
    Copyright 2017 Cornell University

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
#}


{% import "OlegOrderformBundle::Default/formmacros.html.twig" as formmacros %}

{#{% block header %}{% endblock %}#}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-referringprovider">
                    Referring Provider
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-referringprovider" class="panel-collapse collapse in">
            <div class="panel-body">

                encounter.id={{ encounter.id }}<br>

                {#{{ formmacros.inputArrayField(encounter.referringProviders,cycle,"encounterreferringprovider","","","","",status) }}#}
                {% for referringProvider in encounter.referringProviders %}

                    {#{{ formmacros.field(referringProvider.field) }}#}
                    {{ formmacros.simplefield( "Referring Provider Name:", referringProvider.field, "", "disabled" ) }}

                    {#{{ formmacros.field(referringProvider.referringProviderSpecialty) }}#}
                    {{ formmacros.simplefield( "Referring Provider Specialty:", referringProvider.referringProviderSpecialty, "", "disabled" ) }}

                    {#{{ formmacros.field(referringProvider.referringProviderPhone) }}#}
                    {{ formmacros.simplefield( "Referring Provider Phone Number:", referringProvider.referringProviderPhone, "", "disabled" ) }}

                    {#{{ formmacros.field(referringProvider.referringProviderEmail) }}#}
                    {{ formmacros.simplefield( "Referring Provider E-Mail:", referringProvider.referringProviderEmail, "", "disabled" ) }}

                {% endfor %}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#calllog-encounter-location">
                    Encounter's Location
                </a>
            </h4>
        </div>
        <div id="calllog-encounter-location" class="panel-collapse collapse in">
            <div class="panel-body">

                encounter.locationName={{ encounter.locationName }}<br>

                {% if encounter.locationName is defined %}
                    {{ formmacros.simplefield( "Location Name:", encounter.locationName, "", "disabled" ) }}
                {% endif %}

                {% for spot in encounter.tracker.spots %}

                    {% set formfield = spot.currentLocation %}

                    {% if formfield.locationTypes is defined %}
                        {{ formmacros.simplefield( "Location Type:", formfield.locationTypes, "", "disabled" ) }}
                    {% endif %}

                    {% if formfield.institution is defined %}
                        {{ formmacros.simplefield( "Institution or Collaboration:", formfield.institution, "", "disabled" ) }}
                    {% endif %}

                    {% if formfield.phone is defined %}
                        {{ formmacros.simplefield( "Phone Number:", formfield.phone, "", "disabled" ) }}
                    {% endif %}


                {% endfor %}

            </div> <!-- panel-body -->
        </div> <!-- panel-collapse -->
    </div> <!-- panel panel-primary -->


{% endblock %}



 
    
   