{#{% extends '::base.html.twig' %}#}

{% extends "OlegOrderformBundle::Default/base.html.twig" %} 

{% block content %} 
{% block body -%}

    <h2>Scan Order List</h2>

    <div class="btn_margin_top">
        <form method="get" action="{{ path('orderinfo_new') }}">
            <button type="submit" class="btn btn-primary btn-success">New Scan Request</button>
        </form>
    </div>
    
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>#Scans</th>
                <th>Order Date</th>
                <th>Status</th>              
                <th>Priority</th>               
                <th>Return Slide</th>             
                <th>Provider</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('orderinfo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {{ entity.scan.count }}
                </td>
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.priority }}</td>            
                <td>{{ entity.returnSlide }}</td>
                <td>{{ entity.provider }}</td>
                <td>                
                    <a class="btn btn-small btn-info" href="{{ path('orderinfo_show', { 'id': entity.id }) }}">Show</a>
                    <a class="btn btn-small btn-warning" href="{{ path('orderinfo_edit', { 'id': entity.id }) }}">Edit</a>    
                    <a class="btn btn-small btn-danger" href="{{ path('orderinfo_delete', { 'id': entity.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      
{% endblock %}
{% endblock %}